<div class="g-dropwdown--user">
  <input type="checkbox" class="drop" id="{{name}}"/>
  <label class="d-none d-md-block d-lg-block" for="{{name}}">
    <div class="g-desplegable-text d-flex align-items-center dpd-header {{classColor}} g-font--18">
      <span class="g-c--pointer gfontMedium">{{{title}}}</span>
      <span class="g-c--pointer icon-mapfre_004_triangle-down  g-pl--5 "></span>
    </div>
  </label>
  <label class=" g-pr--0  g-mb--0  d-block d-md-none d-lg-none is-medium {{icoCircle}} {{sizeCircle}} position-relative" for="{{name}}">
    <span class="{{icoUser}} {{addClass}}"></span>
  </label>
  <ul class="content content--right">
    {{#titleMobile}}
      <li class="dpd-title--mobile d-block d-md-none d-lg-none">
        <span>{{title}}</span>
        <label class="{{icoClose}} ico-close" for="{{name}}"></label>
      </li>
    {{/titleMobile}}
    {{#option}}
      <li class="g-font--18 g-pb-md--15 g-pl-md--20 g-pt-md--15 ">
        <span class="d-block gfontMedium">{{{text1}}}</span>
        <span class="d-block gfontLight option">{{{text2}}}</span>
      </li>
    {{/option}}
    {{#link}}
      <li class="gCGreen1 g-bt-1 text-center g-text-uppercase  g-p--15 ">
        <span class="d-block gfontMedium">{{text}}</span>
      </li>
    {{/link}}
  </ul>
</div>