<div class="g-dropdown">

  <div class="g-dropdown--click g-dropwdown--user">
    <div class="d-block d-lg-none icon-mapfre_066_circle g-font--30 g-c--gray1">
      <span class="icon-mapfre_037_user g-c--white1 g-ico--center g-font--16 g-c--pointer"></span>
    </div>
    <div class="d-none d-lg-flex align-items-center g-pr--30 g-c--pointer dpd-header">
      <div class="g-font--18">
        Hola <strong>Gonzalo!</strong>
      </div>
      <span class="icon-mapfre_004_triangle-down g-font--10  g-ml--20 "></span>
    </div>
  </div>

  <div class="g-dropdown--show g-dropdown--none g-dropdown--user">
    <div class="g-dropdown--header d-flex d-lg-none justify-content-between align-items-center g-px--15 g-bb--1">
      <div class="g-font--medium g-text--uppercase">Hola Gonzalo!</div>
      <div class="g-dropdown--click">
        <span class="g-dropdown--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
      </div>
    </div>

    <div class="g-dropdown--content g-shadow--horz">
      <div class="g-p--15 g-p-md--0">
        <div class="g-dropdown--item">
          <a href="" class="">Mi perfil</a>
        </div>
        <div class="g-dropdown--item">
          <a href="" class="">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>

</div>
