<div class="{{contentFileClass}}">
  <input type="file" name="file" id="{{idName}}" class="g-input-file">
  <label for="file" class="d-flex justify-content-between align-items-center g-b-radius--5 g-bg-c--white1 g-b--1 g-bc--gray21 g-px--15 g-py--10">
    <span class="g-js-filename g-c--gray2 g-font--13">Subir archivo</span>
    <span class="icon-mapfre_076_upload g-font--14 g-c--green1"></span>
  </label>
</div>