  <div class="g-input-design {{addClass}}">
    <input type="{{type}}" value="{{value}}" {{#disabled}}disabled{{/disabled}} class="no-spinners">
    <label class="g-input__label g-placeholder {{focusClass}}">
      {{{label}}}
      {{#requerid}}
          <span>*</span>
      {{/requerid}}
    </label>
  </div>
  <span class="txt-error" class="g-input__input">{{{error}}}</span>
