<div class="g-input-design {{addClass}}">

  <div class="d-flex">
    <input type="{{type}}" value="{{value}}" class="no-spinners">
    <span class=" g-pl--5 g-form-icon g-font--25 g-font-md--21 {{iconFile}} {{iconColor}}"></span>
  </div>

  <label class="g-input__label g-placeholder">

    {{{label}}}

    {{#requerid}}
        <span>*</span>
    {{/requerid}}

  </label>

</div>

<span class="txt-error" class="g-input__input">{{{error}}}</span>
