<div class="g-select-desing {{addClass}}">
	<label class="g-placeholder">{{{label}}}</label>
	<select {{#disabled}}disabled{{/disabled}}>
    {{#listOption}}
    <option>{{value}}</option>
    {{/listOption}}
  </select>
	<span class="icon-mapfre_004_triangle-down ico-select"></span>
</div>
<span class="txt-error">{{{error}}}</span>
