<div class="g-textarea-design {{addClass}}">
  <textarea class="no-spinners"></textarea>
  <label class="g-input__label g-placeholder {{focusClass}}">
    {{{label}}}
  </label>
</div>
<div class="g-font--h6 text-right g-pt--5 g-c--gray18">
  20/200
</div>
<span class="txt-error" class="g-input__input">{{{error}}}</span>
