<div class=" g-py--10 g-pr--10 g-px--0 g-px-md--20 text-center w-100 w-lg-auto g-br--1 g-b-lg--0 g-bc--gray7 {{addClass}}">
	<div class="g-font-lg--30 g-font--18 g-mb--0  g-font--bold {{balanceClass}}">
    {{{banlance}}}
  </div>
  <div class="d-flex align-content-between justify-content-center">
    <div class="text-nowrap  g-pr--5  d-flex align-items-center">
      <span class="g-font--medium g-font--13">{{{text}}}</span>
    </div>
    <div>
      {{#tooltip}}
      {{>molecules-tooltip}}
      {{/tooltip}}
    </div>
  </div>
</div>
