<div class="g-banner g-banner--white {{addClass}} ">

  {{#cardApps}}
    <div class="{{contentClass}}">
      <a class="{{linkClass}}" target="_blank" href="{{link}}">
        <img class="{{hoverClass}}" src="{{srcHover}} ">
        <img class="{{defaultClass}}" src="{{srcDefault}}">
      </a>
    </div>
  {{/cardApps}}

</div>