<div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
    {{#icon}}
    <div class="d-flex justify-content-center align-items-lg-center {{addClass}}">
      <span class="{{iconClass}} {{icon}}"></span>
    </div>
    {{/icon}}
    <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
      {{#left1}}
      <div class="w-100  g-mb--10   g-mb-lg--0  g-o--hidden">
        <div class="">
          <span class="{{textClass}}">{{{title1}}}}</span>
        </div>
        <div class="">
          <div class="g-mb--0 {{text2Class}}"> {{{text2}}}</div>
          {{#desplegable}}
          <div class="g-desplegable">
            <div class="g-desplegable-text d-flex align-items-center {{textClass}}">
              <span class="g-c--pointer g-font--medium">{{text}}</span>
              <span class="g-c--pointer {{icon}} {{iconClass}}"></span>
            </div>
            <div class="g-desplegable--wrapper d-none g-click-responsive">
              <div class="{{desplegableClass}}">
                {{#list}}
                <div class="g-desplegable--item {{itemClass}}">
                  <div class="g-desplegable--title {{titleClass}}">{{title}}</div>
                  <div class="g-desplegable--description">{{description}}</div>
                </div>
                {{/list}}
              </div>
            </div>
          </div>
          {{/desplegable}}
        </div>
      </div>
      {{/left1}}
      {{#right1}}
      <div class="g-px-lg--15 {{addClass}}">
        <div class="g-mb--0 text-nowrap">
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>
        <div class="g-mb--0 text-nowrap ">
          <span class="{{text2Class}}">{{{text2}}}</span>
        </div>
      </div>
      {{/right1}}
      {{#right2}}
      <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 w-px-lg--17 g-font--13">
        <div class="g-mb--0 text-nowrap  d-flex align-items-center">
          <span class="{{icon}} {{iconClass}}"></span>
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>
        <div class="g-mb--0 text-nowrap  d-flex align-items-center">
          <span class="{{icon2}} {{iconClass2}}"></span>
          <span class="{{text2Class}}">{{{text2}}}</span>
        </div>
      </div>
      {{/right2}}
      {{#right3}}
      <div class="g-px-lg--15 {{addClass}}">
        <div class="g-mb--0 text-nowrap">
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>
      </div>
      {{/right3}}
    </div>
    {{#btn}}
    <div class="{{addClass}} d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--2 g-bc--gray7  g-px--10 ">
      {{#icon}}
      <span class="{{icon}} {{iconClass}} "></span>
      {{/icon}}
      {{#icon2}}
      <span class="{{icon}} {{iconClass}} "></span>
      {{/icon2}}
    </div>
    {{/btn}}
  </div>
</div>
