<div class="card-box-simple g-b-radius--5 {{addClass}}">
  <div class="d-lg-flex align-items-center justify-content-center text-center text-lg-left  g-py-lg--20 {{cardClass}}">
    {{#icon}}
      <div>
        <div class="d-flex align-items-center justify-content-center">
          <span class="{{iconFile}} {{addClass}}"></span>
        </div>
      </div>
    {{/icon}}

    {{#image}}
      <div class="{{imageClass}}">
        <img src="{{src}}" alt="">
      </div>
    {{/image}}

    <div class="g-items-text  g-pl--20  g-c--gray9 {{contentClass}}">
      <div class="g-font--20 g-font-lg--24  g-mb--0  g-font--medium">{{{text}}}</div>
      <div class=" g-mb--0 ">{{{secondText}}}</div>
    </div>
  </div>
</div>