<div class="g-box--shadow1 g-bt--1 g-bt-lg--0 {{addClass}}">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap ">
    {{#radio}}
    <div class="d-flex justify-content-center align-items-lg-center g-ie-flex--0-1-auto {{addClass}}">
      {{>atoms-mf-radiobutton}}
    </div>
    {{/radio}}
    <div class="w-7 w-lg-10  g-pl--0 g-pr--15 g-py--20 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
      {{#left1}}
      <div class="w-100 g-mb--10  g-mb-lg--0  g-o--hidden">
        {{#icon}}
          <div class="{{addClass}}">
            <span class="{{iconClass}} {{icon}}"></span>
          </div>
        {{/icon}}
        <div class="{{textClass}}">
          {{{title1}}}
        </div>
        <div class="g-mb--0 {{text2Class}}" {{{ truncate }}}>
          {{{text2}}}
        </div>
      </div>
      {{/left1}}
      {{#right1}}
      <div class="g-px-lg--15 {{addClass}}">
        <div class="g-mb--0 text-nowrap">
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>
        <div class="g-mb--0 text-nowrap  text-truncate">
          <span class="{{text2Class}}">{{{text2}}}</span>
        </div>
      </div>
      {{/right1}}
    </div>
  </div>
</div>