
  <div class="card--box--item  g-mb--20 ">
    <div class="card--box--image">
      <img src="{{img}}" alt="">
    </div>
    <div class="card--box--content g-pl--15">
      <div class="card--box--title g-font--18 g-font-md--24 g-font--bold">
          {{title}}
      </div>
      <div class="card--box--subtitle g-font--14 g-font-md--18 g-font--bold">
          {{subtitle}}
      </div>
      <div class="card--box--description  g-mt--10 ">
          <ul class="g-list {{addClass}}">
              <li><span class="g-list--ico {{ico-font}}"></span><span class="g-list--text">{{description}}</span></li>
          </ul>
      </div>
    </div>
  </div>
