<div class="{{contentClass}}">
  <div class="d-flex flex-column flex-lg-row g-b-radius--5 g-b--1 g-bc--gray11 position-relative">

    {{#contentLeft}}
    <div class="{{addClass}} ">
      <div class="g-ico-card-quote--arrow d-none d-lg-block g-ie-flex--0-1-auto"></div>
        {{#container}}
          <div class="{{textClass}} ">{{{text}}} </div>
        {{/container}}
    </div>
    {{/contentLeft}}

    <div class="{{classRight}} ">

      {{#contentCardQuote}}
        <div class="{{addClas}}">
          {{#contentText}}
            <div class="{{textClass}}">
              {{{text}}}
            </div>
          {{/contentText}}
        </div>
      {{/contentCardQuote}}

    </div>
  </div>
</div>