<div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
    {{#fetchHour}}
      <div class="w-px--7 w-px-lg--8 g-line--11 d-flex justify-content-center align-items-lg-center g-br-lg-1 g-pt--15  g-pt-lg--0">
        <div class="g-items-text text-center g-font--light">
          <div class="g-mb--0 g-font--24 g-font--medium">
            {{{day}}}
          </div>
          <div class="g-mb--0 g-font--12">
            {{{month}}}
          </div>
          <div class="g-mb--0 g-font--13">
            {{{hour}}}
          </div>
        </div>
      </div>
    {{/fetchHour}}
    <div class="w-7 w-lg-10 g-bl--1 g-p--15 g-p-lg--0 d-flex align-items-lg-center g-o--hidden flex-column flex-lg-row flex-fill">
      <div class="d-flex justify-content-between align-items-center w-100 text-truncate g-px-lg--15">
        <div class="text-truncate">
          <div class="text-truncate g-font--medium">
            {{{text}}}
          </div>
          <div class="text-truncate g-line--10 {{secondTextClass}}">
            <span class="{{icon}} {{iconClass}}"></span>
            {{{secondText}}}
          </div>
        </div>
      </div>
      {{#right1}}
      <div class="g-px-lg--15 {{addClass}}">
        <div class="g-mb--0 text-nowrap">
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>
        <div class="g-mb--0 text-nowrap ">
          <span class="{{text2Class}}">{{{text2}}}</span>
        </div>
      </div>
      {{/right1}}
      {{#right2}}
      <div class="g-px-lg--15 g-mb--10 g-mb-lg--0 g-font--13 {{addClass}}">
        <div class="g-mb--0 text-nowrap  d-flex align-items-center">
          <span class="{{icon}} {{iconClass}}"></span>
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>
        <div class="g-mb--0 text-nowrap  d-flex align-items-center">
          <span class="{{icon2}} {{iconClass2}}"></span>
          <span class="{{text2Class}}">{{{text2}}}</span>
        </div>
      </div>
      {{/right2}}
    </div>
    <div class="g-bt--1 g-bt-lg--0 g-py--15 g-py-lg--0 w-100 w-px-lg--12 g-bl-lg--1 d-flex align-items-center justify-content-center flex-grow-1">
      <span class="g-c--green1 g-font--medium g-c--pointer">Ver Detalle</span>
    </div>
  </div>
</div>
