<div class="head-card g-p--15 {{addClass}}">
  <div class="g-inline-block">
    <span class="{{iconFile}} {{iconClass}} g-mr--10 align-middle"></span>
  </div>
  <div class="g-inline-block g-max-width--calc">
    <span class="{{textClass}}">{{{text}}}</span>
  </div>
</div>