<div class="card-box-simple g-b-radius--30 {{addClass}}">
  <div class="d-flex align-items-center">
    {{#icon}}
      <div>
        <div class="g-circle--gray5 d-flex align-items-center justify-content-center">
          <span class="{{iconFile}} {{addClass}}"></span>
        </div>
      </div>
    {{/icon}}
    {{#image}}
      <div class="{{imageClass}}">
        <img src="{{src}}" alt="">
      </div>
    {{/image}}
    <div class="g-items-text  g-pl--20  g-c--gray9">
      <div class="g-font--24  g-mb--0  g-font--medium">{{{text}}}</div>
      <div class=" g-mb--0 ">{{{secondText}}}</div>
      <div class="g-mb--0 g-font--medium">{{{thirdText}}}</div>
    </div>
  </div>
</div>