<div class="g-b-radius-lg--5 g-box--shadow1 g-bt--1 g-bt-lg--0 g-mb--0 g-mb-lg--15">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8">
    {{#icon}}
    <div class="d-flex justify-content-center align-items-lg-center {{addClass}}">
      <span class="{{iconClass}} {{icon}}"></span>
    </div>
    {{/icon}}
    <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 g-p--15  g-p-lg--0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
      {{#left}}
      <div class="{{addClass}}">

        <div class="">
          <span class="{{textClass}}">{{{title1}}}</span>
        </div>

        <div class="">
          <div class="g-mb--0 {{text2Class}}"> {{{text2}}}</div>

          {{#desplegable}}
          <div class="g-desplegable">
            <div class="g-desplegable-text d-flex align-items-center {{textClass}}">
              <span class="g-c--pointer g-font--medium">{{text}}</span>
              <span class="g-c--pointer {{icon}} {{iconClass}}"></span>
            </div>
            <div class="g-desplegable--wrapper d-none g-click-responsive">
              <div class="{{desplegableClass}}">

                {{#list}}
                <div class="g-desplegable--item {{itemClass}}">
                  <div class="g-desplegable--title {{titleClass}}">{{title}}</div>
                  <div class="g-desplegable--description">{{description}}</div>
                </div>
                {{/list}}

              </div>
            </div>
          </div>
          {{/desplegable}}

        </div>
      </div>
      {{/left}}
      {{#right}}
      <div class="{{addClass}}">
        {{#content}}
          <div class="g-mb--0 text-nowrap  d-flex align-items-center">
            <span class="{{icon}} {{iconClass}}"></span>
            <span class="{{textClass}}">{{{title}}}</span>
          </div>
        {{/content}}
      </div>
      {{/right}}
    </div>

    {{#btn}}
    <div class="{{addClass}}">
      {{#icon}}
        <span class="{{icon}} {{iconClass}} "></span>
      {{/icon}}
      {{#text}}
        <div class="{{textClass}}">{{{text}}}</div>
      {{/text}}
    </div>
    {{/btn}}

  </div>
</div>
