<div class="d-flex text-wrap align-items-center g-font--normal w-100 w-lg-auto {{addClass}}">
  <div class="d-flex justify-content-center mx-auto g-mx-lg--0 align-items-center g-ie-flex--0-1-auto">
    <div class="text-truncate text-nowrap">
      {{{text}}}
    </div>
    {{#editIcon}}
      <div class="g-pl--15 g-px-lg--15">
        <span class="{{iconFile}} {{addIconClass}} g-font--25 g-font-md--21 g-c--pointer"></span>
      </div>
    {{/editIcon}}
  </div>
</div>
{{#profile}}
  <p class="g-m--0 w-100"><a href="{{href}}" class="{{addClass}}">{{{text}}}</a></p>
{{/profile}}
