<div class="d-flex {{addClass}}">
  <div class="align-self-end {{contentClass}}">
    <div class="{{labelClass}}">{{{label}}}</div>
    <div class="{{textClass}}">{{{text}}} </div>
  </div>
  {{#divCenter}}
    <div class="{{addClass}}">
      <span class="{{icon}}"></span>
    </div>
  {{/divCenter}}
  {{#divRigth}}
    <div class="{{addClass}}">
      <div class="{{addClassText}}">{{{text}}} </div>
    </div>
  {{/divRigth}}
</div>