
  <div class="header--box g-bg-c--red1 g-c--white1 pb-0 g-pb-md--0  {{addClass}}">
    <div class="container">
      <div class="header--box--group d-flex justify-content-between g-p--5">
        <div class="header--logo justify-content-center d-flex">
          <a href="#" class="g-link--white"><span class="{{iconLogo}} g-font--45"></span></a>
        </div>
        {{#block}}
          <div class="d-flex align-items-center justify-content-center">
            <div class="{{iconFile}} g-font--45 d-none d-md-block"></div>
            <div class="header--box--icon {{iconFile}} g-font--30 d-block d-md-none"></div>
            <div class="header--box--phone g-line--13">
                <span class="d-block">{{tel1}}</span>
                <span class="d-block">{{tel2}}</span>
            </div>
          </div>
        {{/block}}
      </div>
    </div>
  </div>
