
<div class="header--box--page g-bg-c--white1 gCBlack1 g-box--shadow1 header--step  g-px-md--15  g-pb-md--0  {{addClass}}">
  <div class="container">
    <div class="d-md-flex justify-content-sm-between align-items-center g-bg-c--white1">
      <div class="header--step--logo d-flex flex-wrap align-items-md-center">
        <div class="header--logo">
            <div class="g-bg-c--red1 g-c--white1 g-pr--15 header--step--height d-flex align-items-center g-pl--10 g-pl-md--0">
                <a href="#" class="g-link--white g-text-decoration"><span class="{{iconLogo}} g-font--45"></span></a>
            </div>
            <div class="header--box--icon {{iconFile}} g-font--30 d-block d-md-none"></div>
        </div>
        <div class="header--title g-font--14 g-font-md--18 g-font--medium  g-pl--15   g-pt--10   g-pb--10 ">
          {{title}}
        </div>
      </div>

      {{#block}}
        <div class="{{addClass}}">
          {{#icon}}
            <div class="{{iconFile}} {{iconClass}}"></div>
          {{/icon}}

          <div class="header--box--icon icon-mapfre_045_call g-font--30 d-block d-md-none"></div>

          <div class="header--box--phone {{contentClass}}">
            {{#text}}
              <span class="{{textClass}}">{{{text}}} </span>
            {{/text}}
          </div>

        </div>
      {{/block}}

    </div>
  </div>
</div>
