<div class="d-flex justify-content-between d-flex-1-auto">
  <div class="d-flex align-items-center">
    {{#icon}}
      <div class="d-flex g-px--10 ">
        <span class="{{iconFile}} {{iconClass}}  g-mr-lg--5 "></span>
      </div>
    {{/icon}}
    <div class="g-items  g-pt--15   g-pb--15   {{classmh}}">
      {{#dateList}}
        <div class="g-items-list d-flex">
          <div class="g-items-text g-text--uppercase g-font--18 g-font--medium">
            {{{text}}}
          </div>
        </div>
        <div class="g-items-list d-flex ">
          <div class="g-items-text g-text--uppercase g-font--light">
            {{{text2}}}
          </div>
        </div>
        <div class="g-items-list d-flex ">
          <div class="g-items-text g-text--uppercase g-font--light">
            {{{text3}}}
          </div>
        </div>
      {{/dateList}}
    </div>
  </div>
  {{#btnIconAdd}}
    <div class="g-text-uppercase g-pl--10 d-none d-md-block  g-pt--5 g-pr--10">
      <span class="{{iconFile}} {{iconClass}}"></span>
    </div>
  {{/btnIconAdd}}
  {{#btnAdd}}
    <div class="g-mt--10 g-pr--10 g-mt--0 d-none d-md-block">
      <div class="{{addClass}}">{{{text}}}</div>
    </div>
  {{/btnAdd}}
</div>