<div class="header--box--page g-bg-c--red1 g-c--white1 g-box--shadow1  g-px-md--15  g-pb-md--0  {{addClass}}">
  <div class="container position-relative">
    <div class="d-md-flex g-bg-c--red1 justify-content-sm-between align-items-center">
      <div class="header--step--logo d-flex flex-wrap align-items-md-center">
        <div class="header--logo">
            <div class="g-bg-c--red1 g-c--white1 g-pr--15 header--step--height d-flex align-items-center g-pl--10 g-pl-md--0">
                <a href="#" class="g-link--white g-text-decoration"><span class="{{iconLogo}} g-font--45"></span></a>
            </div>
            <div class="header--box--icon {{iconFile}} g-font--30 d-block d-md-none"></div>
        </div>
      </div>
      {{#block}}
          <div class="d-flex align-items-center justify-content-center">
              <div class="{{iconFile}} g-font--45 d-none d-md-block"></div>
              <div class="header--box--icon {{iconFile}} g-font--30 d-block d-md-none"></div>
              <div class="header--box--phone g-line--13">
                  <span class="d-block g-font--14  g-pb--5  g-font--medium">{{tel1}}</span>
                  <span class="d-block g-font--14 g-font--medium">{{tel2}}</span>
              </div>
          </div>
      {{/block}}
    </div>
  </div>
</div>
{{#fixed}}
<div class="fixed--box g-bg-c--white1 {{fixedClass}}">
  <div class="container">
    <div class="fixed--box--wrapper">
      <nav>
        {{>atoms-lists-nav}}
      </nav>
      {{>atoms-buttons(addClass: "g-btn-special g-text--uppercase g-font--italic g-px-lg--25 ", text: "SOLICITALO AQUI")}}
    </div>
  </div>
</div>
{{/fixed}}