
  <div class="{{display}}">
    <div class="info--box {{addClass}}">
      <div class="info--box--imagen {{contImgClass}}">
        <img class="{{imgAddClass}}" src="{{img}}" alt="">
      </div>
      <div class="info--box--icon">
        {{#itemIcons}}
          {{>atoms-icons}}
        {{/itemIcons}}
      </div>
    </div>
  </div>
