<div class="d-flex  flex-column flex-md-row justify-content-between">
  <div>
    {{#title}}
      <div class="{{textClass}}">
        {{{text}}}
      </div>
    {{/title}}

    {{#description}}
      <div class="{{contentClass}}">
        {{#text}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/text}}
      </div>
    {{/description}}
  </div>

  {{#rightContent}}
    <div class="{{rightClass}}">
      <div class="g-c--green1 g-c--pointer {{textClass}}">{{{text}}}</div>
    </div>
  {{/rightContent}}
</div>