{{#icon}}
  <div class="row justify-content-md-center  g-mb--10 ">
    <div class="col col-12 col-lg-10 text-center">
      <div class="g-message--icon {{iconClass}}"></div>
    </div>
  </div>
{{/icon}}

{{#image}}
  <div class="{{imageClass}}">
    <img src="{{src}}" alt="">
  </div>
{{/image}}

<div class=" justify-content-md-center  g-mb--10 w-10">
  <div class="{{boxClass}}">
    {{#mPrimary}}
      <div class="g-message--primary {{primaryClass}}">
      {{{text-primary}}}
        {{#tooltip}}
            {{>molecules-tooltip}}
        {{/tooltip}}
      </div>

    {{/mPrimary}}
    {{#alert}}
      <div class=" justify-content-md-center  g-mb--10 ">
        <div class="">
          {{>atoms-alert}}
        </div>
      </div>
    {{/alert}}

    {{#textDescription}}
      <div class="{{addClass}}">

        {{#text}}
          <div class="{{textClass}}">
            {{{text}}}
          </div>
        {{/text}}

      </div>
    {{/textDescription}}

    {{#mSecondary}}
        <div class=" justify-content-md-center {{addClass}}">
          <div class="col col-12 col-lg-12">
            <div class="g-box text-center {{contentClass}}">
              <div class="g-message--secondary {{secondaryClass}}">{{{text-secondary}}}</div>
              <div class="g-message--secondary {{thirdyClass}}">{{{text-thirdy}}}</div>
            </div>
          </div>
        </div>
    {{/mSecondary}}
    {{#titleAmount}}
      <p class="{{titleAmountClass}}">{{{title-amount}}}</p>
    {{/titleAmount}}
    {{#mAmount}}
      <span class="{{amountClass}}">{{{text-amount}}}</span>
    {{/mAmount}}
  </div>
</div>