<div class="text-center  g-px--20  {{addClass}}">
  {{#icon}}
    <div class="g-message--icon {{iconFile}} {{iconClass}}"></div>
  {{/icon}}

  {{#image}}
    <div class="{{imageClass}}">
      <img src="{{src}}" alt="{{alt}}">
    </div>
  {{/image}}

  {{#title}}
    <div class="{{titleClass}}">
      {{{titleText}}}
    </div>
  {{/title}}

  {{#description}}
    <div class="{{descriptionClass}}">
      {{{descriptionText}}}
    </div>
  {{/description}}

  {{#tablet}}
    <div class="{{addClass}}">
      {{#content}}
      <div class="{{contentClass}}">
        {{#text}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/text}}
      </div>
      {{/content}}
    </div>
  {{/tablet}}
</div>