<div class="d-flex justify-content-center mx-auto {{stepsClass}}">
  {{#stepsItems}}
    <div class="g-circle-steps {{active}}">
      <div class="g-circle-steps--items d-flex justify-content-center align-items-center mx-auto">
        <div class="{{numberClass}}">{{{number}}}</div>
      </div>
      <div class="g-circle-steps--text text-center">
        <div class="{{textClass}} g-line--10">{{{text}}}</div>
      </div>
      {{#subtitle}}
      <div class="d-md-block d-none text-center {{subtitleClass}}">{{{subtitle}}}</div>
      {{/subtitle}}
    </div>
  {{/stepsItems}}
</div>
