{{#title}}
  <div class="{{textClass}}">
    {{text}}
  </div>
{{/title}}

{{#table}}
  <div class="table--box {{addClass}}">
    <table class="{{tableClass}}">
      <thead>
        <tr>
          {{#tableHead}}
            <th class="{{headClass}}">
              {{text}}
            </th>
          {{/tableHead}}
        </tr>
      </thead>
      <tbody>
        {{#tableTr}}
          <tr>
            {{#tableTd}}
              <td class="{{bodyClass}}" data-table="{{headTitle}}">
                <span class="{{textClass}}">{{text}}</span>
              </td>
            {{/tableTd}}
          </tr>
        {{/tableTr}}
      </tbody>
    </table>
  </div>
{{/table}}