<div class="g-tablist-vertical g-tablist--list" role="tablist">
  <div class="g-tablist--select d-lg-none g-select-desing g-form-focus" data-tab="select">
    <label class="g-placeholder">Seleccione</label>
    <div class="g-tablist--name"></div>
    <span class="icon-mapfre_004_triangle-down ico-select"></span>
  </div>
  <div class="g-tablist--menu g-inner" data-tab="menu">
    {{#listTab}}
      <div class="g-tablist-vertical__tab g-font--16 {{addActive}}" data-tab-menu="{{tabmenu}}">
        {{text}}
      </div>
    {{/listTab}}
  </div>
</div>
