<div class="g-bl--3 g-bc--green1  g-pl--10  pl-md-3 d-flex d-md-block">
  <div class="title--icon">
    {{#iconTitle}}
      {{>atoms-icons}}
    {{/iconTitle}}
  </div>
  <div class="g-font--18 g-font-md--30 g-font--bold g-pl--10 g-pl-md--0 align-self-center {{titleClass}}">{{{title}}}</div>
</div>
{{#titleDescription}}
  <div class=" g-mt--20  g-font--12">{{{Description}}}</div>
{{/titleDescription}}