<div class="g-tooltip--alternative {{tooltipClass}}">

  {{#iconTooltip}}
    <span class="{{icon}} {{iconClass}}"> </span>
  {{/iconTooltip}}

  {{#textArea}}
    <div>{{{text}}}</div>
  {{/textArea}}

  <div class="{{alignTooltip}} {{addClass}} g-tooltip--alternative-message  g-p--15 g-b-radius--5  g-b-radius--5">
    <div class="g-tooltip--alternative-arrow"></div>
    <div class="{{addClassTitle}}">{{{title}}}</div>
    {{#description}}
      <div class="{{descriptionClass}}">{{{description}}}</div>
    {{/description}}

    {{#list}}
      {{>atoms-ul-list}}
    {{/list}}

    {{#link}}
      <div class="{{linkClass}}" onclick="{{linkUrl}}">{{{link}}}</div>
    {{/link}}

  </div>
</div>
