<div [formGroup]="form.controls['address']" class="w-10">

  <div *ngIf="title" class="d-flex flex-wrap w-100 g-pt-lg--20 flex-column">
    <div class="g-pt--20 g-font--medium g-font--16 g-pt-lg--0">{{ title }}</div>
  </div>

  <div *ngIf="hasCorresponseAddress && !showLoading" class="g-mt--10 w-10">
    <mf-checkbox
      [checked]="useCurrentAddress"
      [label]="lang.StepOnsiteInspection.UseCorrespondenceAddress"
      (change)="changeCurrentAdress($event)">
    </mf-checkbox>
    <mf-input
      *ngIf="useCurrentAddress"
      [disabled]="true"
      [label]="labelsFormAddress.Address"
      [value]="correspondenceAddress.direccion">
    </mf-input>
  </div>

  <div *ngIf="!useCurrentAddress && !showLoading" class="">

    <div class="w-10">
      <mf-select
        [label]="labelsFormAddress.Department"
        [formControl]="departments"
        [options]="departamentList">
      </mf-select>
    </div>

    <div class="w-10">
      <mf-select
        [label]="labelsFormAddress.Province"
        [formControl]="provinces"
        [options]="provinceList">
      </mf-select>
    </div>

    <div class="w-10">
      <mf-select
        [label]="labelsFormAddress.District"
        [formControl]="districts"
        [options]="districtList">
      </mf-select>
    </div>

    <div class="w-10">
      <mf-input
        [label]="labelsFormAddress.Address"
        [formControl]="address"
        [maxlength]="generalMaxLength.correspondence_address"
        [minlength]="generalMinLength.correspondence_address"
        [dontWhiteSpace]="true"
        [error]="showErrors('address')">
      </mf-input>
      <mf-show-errors [control]="address"></mf-show-errors>
    </div>

    <div class="w-10">
      <mf-input
        [label]="labelsFormAddress.Reference"
        [formControl]="reference"
        [maxlength]="generalMaxLength.correspondence_address"
        [minlength]="generalMinLength.correspondence_address"
        [dontWhiteSpace]="true"
        [error]="showErrors('reference')">
      </mf-input>
      <mf-show-errors [control]="reference"></mf-show-errors>
    </div>

  </div>

</div>
