<!-- Lista de Recibos -->
<div class="mb-xs--10 pb-xs--4 pt-xs--2 min-height--360" [formGroup]="formFilter" dropdown-close>
  <!-- Titulo -->
  <div class="g-bg-c--white1 g-box--shadow1 mb-3 g-b-radius-lg--5 d-flex w-100">
    <div class="d-flex g-ie-flex--0-1-auto w-10 g-mh--6 g-mh-lg--7 justify-content-between">
      <div class="g-box-icons--title d-flex align-items-center px-3 g-ie-flex--0-1-auto w-100">
        <div class="g-font--bold g-font--14 g-font-lg--20">
          {{ paymentLang.Titles.PaymentReceipts }}
        </div>
      </div>
      <div
        (clickOutside)="showFilter = false"
        class="g-filter-dropdown d-flex g-font-lg--14 align-items-center"
        *ngIf="!showLoading">
        <!-- Mostrar/Ocultar Filtros -->
        <mf-card-action-link>
          <div
            (click)="downloadAccountStatus()"
            [ngClass]="{ 'h-events--no': isVisibleDownloadSpinner }"
            class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3 g-c--pointer">
            <div><span [spinnerPdf]="isVisibleDownloadSpinner"></span></div>
            <div class="g-font--medium text-nowrap ml-2" [ngClass]="{ 'g-c--gray21': isVisibleDownloadSpinner }">
              <div class="g-items-text g-font--medium d-none d-lg-block text-nowrap">
                {{ buttons.AccountStatus }}
              </div>
            </div>
          </div>
        </mf-card-action-link>

        <div (click)="showFilter = !showFilter"
          class="w-px--5 w-lg-auto justify-content-center d-flex align-items-center g-c--green1 pr-lg-3 g-c--pointer">
          <div
            class="g-items-icon mr-2 g-font--21"
            [ngClass]="isFilteredFrm ? 'icon-mapfre_216_filter_out' : 'icon-mapfre_098_filter'">
          </div>
          <div class="g-items-text g-font--medium d-none d-lg-block text-nowrap">{{ buttons.Filter }}</div>
        </div>

        <!-- Filtros -->
        <div class="g-filter-dropdown--content g-p--20 g-b-radius--5 g-box--shadow1" *ngIf="showFilter">
          <div class="g-font--medium">{{ labels.FilterBy }}</div>

          <div>
            <mf-select
              [frm]="formFilter"
              [label]="labels.InsuranceType"
              [name]="'tipoPoliza'"
              [type]="'insuranceType'"
              formControlName="tipoPoliza">
            </mf-select>
          </div>

          <div>
            <mf-select
              [label]="labels.PaymentChannel"
              [options]="paymentChannelList"
              formControlName="tiposPagosId"
              [lblCbo]="'tiposPagosDescripcion'"
              [valueCbo]="'tiposPagosId'">
            </mf-select>
          </div>

          <div>
            <mf-select [label]="labels.Year" [options]="yearList" formControlName="anioPago"> </mf-select>
          </div>
          <div>
            <mf-input
              [label]="policyLang.Labels.PolicyNumber"
              [maxlength]="maxLengthPolice"
              [OnlyNumber]="true"
              [pattern]="numericRegExp"
              formControlName="numeroPoliza">
            </mf-input>
          </div>
          <div>
            <mf-input
              [label]="policyLang.Labels.BillNumberOrInvoice"
              [maxlength]="50"
              [OnlyNumber]="true"
              [pattern]="numericRegExp"
              formControlName="numRecibo">
            </mf-input>
          </div>

          <div class="text-center">
            <button mf-button class="g-btn--default mt-xs--3" (click)="filter()">
              {{ buttons.Filter }}
            </button>
          </div>
          <div class="text-center">
            <button mf-button outline class="g-btn--default mt-xs--3" (click)="resetFilter()">
              {{ buttons.CleanFilter }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <mf-loader *ngIf="showLoading"></mf-loader>

  <!-- Sin Recibos de Pagos -->
  <mf-card *ngIf="!listGroupedReceipts?.length && !showLoading">
    <mf-card-content>
      <div class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10">
        <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
          <div class="px-2 my-3 my-lg-0">
            <img [src]="noPendingPaymentsIcon" alt="Sin pagos pendientes" />
          </div>
          <div class="g-items-text pl-lg-3">
            <div class="g-font--20 mb-0 g-font--medium">{{ paymentLang.Messages.WithoutPaymentReceipts }}</div>
          </div>
        </div>
      </div>
    </mf-card-content>
  </mf-card>

  <!-- Listado -->
  <div class="mb-3" *ngFor="let group of listGroupedReceipts; let i = index">
    <mf-card>
      <mf-card-header act
        [header]="group.periodoDesc"
        [subtitle]="group.subtitle"
        [textRigth]="group.textRight"
        [collapsed]="group.collapse"
        [swapLoading]="group.loading"
        (expand)="expand($event, group)">
      </mf-card-header>

      <mf-card-content [collapse]="group.collapse" *ngIf="group.payments">
        <mf-card-item *ngFor="let item of group.payments">
          <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100">
            <!-- Icono -->
            <div class="d-none d-lg-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
              <client-icon-policies [policyType]="item.tipoPoliza" [customIcon]="item.customIcon"></client-icon-policies>
            </div>

            <!-- Datos del Pago -->
            <div
              [ngClass]="{ 'g-o--hidden': item?.beneficiarios?.length == 1 }"
              class="w-7 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill position-relative">

              <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
                <!-- Nro. de Recibo, Aviso o Factura EPS -->
                <div class="g-font--medium text-lg-truncate" [title]="item.paymentNumberLabels[0]">{{ item.paymentNumberLabels[0] }}</div>
                <div class="g-font--light text-lg-truncate" [title]="item.paymentNumberLabels[1]">{{ item.paymentNumberLabels[1] }}</div>
                
                <!-- Nro. de Pólizas o Avisos (desplegable de pólizas asociadas) -->
                <div class="d-flex g-text--lowercase g-font--medium g-c--pointer g-c--green1 align-items-center g-mb--10 g-mb-lg--0"
                  (click)="collapseDetail(item)"
                  [ngClass]="{'g-text--lowercase': !item.isInvoice}">
                  <span>{{ item.paymentDetailLabel }}</span>
                  <span class="g-pl--5" [dropdown-icon]="item.collapse"></span>
                </div>
              </div>

              <!-- RESPONSIVE: Detalle del recibo -->
              <client-card-item-detail class="d-lg-none" [collapse]="item.collapse" [isRecipes]="true" [items]="item.paymentReceiptList"></client-card-item-detail>

              <!-- Medio y fecha de pago -->
              <div class="px-lg-3 w-px-lg--18 w-px-2xl--28">
                <!-- Icono Tipo de Pago -->
                <div class="mb-0 d-flex">
                  <client-icon-payment-type [paymentType]="item.tiposPagosLlave"></client-icon-payment-type>
                  <span class="g-font--light text-lg-truncate" [title]="item.tiposPagosNombre">{{ item.tiposPagosNombre }}</span>
                </div>
                <!-- Fecha Pago -->
                <div class="mb-0 text-nowrap d-flex align-items-center">
                  <div class="mb-0 text-nowrap">
                    <span class="g-mt--3 pr-1 {{ calendarIcon }}"></span>{{ item.fechaPago | date: 'dd/MM/yyyy' }}
                  </div>
                </div>
              </div>

              <!-- Cuota -->
              <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--12 g-font--13">
                <div class="mb-0 text-nowrap">
                  <span class="g-font--light g-font--12" [ngClass]="{'d-none': item.isInvoice}">
                    {{ policyLang.Texts.Fee }}: {{ item.cuota }}
                  </span>
                </div>
                <div class="mb-0 text-nowrap">&nbsp;</div>
              </div>

              <!-- Monto -->
              <div class="px-lg-3 w-px-lg--13 client-receipts-list text-lg-right mr-lg--2">
                <div class="mb-0 text-nowrap">
                  <span class="g-font--medium g-font--16">{{ item.totalAmount }}</span>
                </div>
              </div>

            </div>

            <!-- Acciones -->
            <div class="g-bt--1 g-bt-lg--0 py-3 g-c--green1 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--2 g-bc--gray11 px-2">
              <span
                *ngIf="showSendBillToEmail"
                class="icon-mapfre_060_mail g-font--24 g-c--pointer mr-xs--5"
                (click)="openEmailModal(item.numRecibo)">
              </span>
              <span
                *ngIf="!item.isInvoice"
                [spinnerPdf]="showSpinnerReceipts && item.numRecibo === receiptSelected"
                (click)="downloadPDF(item)"
                ctrl="linkDownloadPdf"
                (domChange)="onDomChange($event, { lbl: item.numRecibo })">
              </span>
            </div>
          </div>

          <!-- !RESPONSIVE: Detalle del recibo -->
          <client-card-item-detail [collapse]="item.collapse" [isRecipes]="true" [items]="item.paymentReceiptList" class="d-none d-lg-block"></client-card-item-detail>

        </mf-card-item>
      </mf-card-content>
    </mf-card>
  </div>

  <!-- Ver mas -->
  <mf-card
    *ngIf="showViewMoreGroups"
    class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100"
    (click)="loadMore()"
    ctrl="linkViewMore"
    (domChange)="onDomChange($event, {})">
    <div class="d-block" [ngClass]="{ 'g-c--pointer': !isLoadingMoreGroups }">
      <div class="g-box-icons--item d-flex g-c--green1 justify-content-center text-center align-items-center ml-lg-3 g-mh--5">
        <div class="g-font--medium g-font--12 g-font-lg--14 g-c--green1 g-text--uppercase">
          <span [spinnerPdf]="isLoadingMoreGroups" [iconPDF]="'g-font--21 g-c--pointer'"></span>
          <span *ngIf="!isLoadingMoreGroups">{{ buttons.ViewMore }}</span>
        </div>
      </div>
    </div>
  </mf-card>
</div>

<!-- Modal envío de recibo -->
<client-send-receipt *ngIf="openEmail" [receiptNumber]="receiptSelected"></client-send-receipt>
