<mf-card>
  <mf-card-header [header]="titleCard" hc>
    <mf-card-actions-link>
      <!-- Traspasar Poliza -->
      <mf-card-action-link *ngIf="viewTrace">
        <div
          (click)="openPolicyTransferModal()"
          class="g-box-icons--item d-flex g-c--green1 align-items-center g-ml-lg--15 g-pb--10 g-pb-lg--0">
          <div><span class="icon-mapfre_092_transpasarpoliza g-font--25 g-font-md--21 g-c--pointer"></span></div>
          <div class="g-font--medium text-nowrap ml-2 g-c--pointer">{{ linkTracePoliza }}</div>
        </div>
      </mf-card-action-link>
      <!-- PDF Poliza -->
      <mf-card-action-link *ngIf="showDownloadOption">
        <div
          class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3"
          (click)="isSctrDoubleEmission ? downloadPoliciesPdf() : downloadPolicyPdf()"
          ctrl="linkViewPoliza"
          (domChange)="onDomChange($event, { lbl: linkViewPoliza })">
          <div>
            <span [spinnerPdf]="showSpinnerPolicy"></span>
          </div>
          <div class="g-font--medium text-nowrap ml-2 g-c--pointer" [ngClass]="{ 'g-c--gray21': showSpinnerPolicy }">
            {{ linkViewPoliza }}
          </div>
        </div>
      </mf-card-action-link>
      <!-- PDF Constancia -->
      <mf-card-action-link *ngIf="viewConstancy">
        <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3" (click)="downloadConstancyPdf()">
          <div>
            <span [spinnerPdf]="showSpinnerConstancy"></span>
          </div>
          <div class="g-font--medium text-nowrap ml-2 g-c--pointer" [ngClass]="{ 'g-c--gray21': showSpinnerConstancy }">
            {{ linkDownloadConstancy }}
          </div>
        </div>
      </mf-card-action-link>
      <!-- PDF Constancia -->
      <mf-card-action-link *ngIf="isEpsContractor">
        <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3" (click)="downloadAffiliateManual()">
          <div>
            <span [spinnerPdf]="showSpinnerAffiliateManual"></span>
          </div>
          <div class="g-font--medium text-nowrap ml-2 g-c--pointer" [ngClass]="{ 'g-c--gray21': showSpinnerAffiliateManual }">
            {{ poLang.Buttons.DownloadAffiliateManual }}
          </div>
        </div>
      </mf-card-action-link>
    </mf-card-actions-link>
  </mf-card-header>
  <mf-card-content>
    <div class="px-3 px-lg-0 pb-2">
      <ng-content></ng-content>
    </div>
  </mf-card-content>
</mf-card>

<!-- Traspasar poliza -->
<client-modal-policy-transfer *ngIf="showModal"></client-modal-policy-transfer>
