<!-- Listado de SOAT -->
<div class="view-soat-insurance pt-xs--2">
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-my-policies-soat [ga]="ga"></client-card-my-policies-soat>
    </div>
  </div>
</div>

<!-- Carousel -->
<client-banner-carousel></client-banner-carousel>

<!-- Landing Siniestros -->
<client-landing [landingContent]="landingContent" [ga]="ga"></client-landing>
