<div class="g-bg-c--white1 g-box--shadow1 text-center g-p--20 g-pt-lg--60 g-pb-lg--100 g-c--gray18">
  <div class="g-mb--15">
    <img [src]="iconSearch" alt="">
  </div>
  <div class="g-font--20 g-font--medium g-mb--15">
    {{ lang.Buy.Title }}
  </div>
  <div class="g-mb--15">
    {{ lang.Buy.Parr1 }}
  </div>
  <div class="g-mb--15">
    {{ lang.Buy.Parr2Start }}<br class="d-none d-lg-block">  {{ lang.Buy.Parr2End }}
  </div>
  <div class="">
    <a [href]="quote_url" target="_blank">
      <button mf-button outline class="g-px--50">
        {{ lang.Buy.Button }}
      </button>
    </a>
  </div>
</div>
