<mf-card [id]="insuredFragment">
  <mf-card-header
  [header]="titleCard"
  [icon]="iconCard"
  [collapsed]="collapse"
  (expand)="collapse = $event"></mf-card-header>

  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">

    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

     <!-- Listado -->
    <mf-card-item *ngFor="let house of listHouses">

      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100 g-py--15">
        <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
          <span class="g-items-icon g-font--30 g-font-lg--40 icon-mapfre_017_house"></span>
        </div>

        <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex flex-column flex-lg-row flex-fill g-o--hidden">
          <div class="w-100 g-mb--03 mb-lg-0 {{ isPPFM ? 'g-pt-lg--15' : 'g-pt-lg--5'}}">
            <div>
              <span class="g-font--medium">{{ getAddress(house) }}</span>
            </div>

            <div *ngIf="!isPPFM" >
              <div class="mb-0 text-lg-truncate">
                {{ policyLang.Labels.YearConstruction }}: {{ house.yearContruction }}
              </div>
            </div>
          </div>

          <div *ngIf="!isPPFM" class="px-lg-3 g-mb--03 mb-lg-0 w-px-lg--20 g-font--13 g-pt-lg--5">
            <div class=" text-nowrap ">
              {{ house.homeType }}
            </div>
          </div>

          <div *ngIf="!isPPFM" class="w-px-lg--21 g-font--13 g-px-lg--15 g-pt-lg--5">
            <div class="mb-0 text-nowrap">
                {{ policyLang.Labels.Content }}: {{ house.contentValue }}
            </div>
            <div class="mb-0 text-nowrap ">
                {{ policyLang.Labels.Building }}: {{ house.buildingValue }}
            </div>
          </div>

        </div>
      </div>
    </mf-card-item>

  </mf-card-content>
</mf-card>
