<div class="sect-container">
  <div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
    <div class="g-my-lg--40 g-mt-md--10 w-100 g-max-w-md--570 mx-auto g-px-lg--0">
      <!-- Mensaje -->
      <client-card-sctr-period-confirm
        [content]="content">
      </client-card-sctr-period-confirm>
    </div>
  </div>
</div>
