<mf-card>
  <!-- Header -->
  <mf-card-header
    (expand)="collapse = $event"
    [collapsed]="collapse"
    [disableCollapse]="disableCollapse"
    [header]="lang.Titles.ControlAffiliates"
  >
  </mf-card-header>
  <div
    (collapse-mobile)="collapse = $event"
    [collapse]="collapse"
    [disableCollapse]="disableCollapse"
  >
    <!-- Contenido -->
    <mf-card-content dropdown-close>
      <!-- Loading -->
      <mf-loader *ngIf="showLoading"></mf-loader>

      <!-- Sin polizas -->
      <mf-card-item *ngIf="list && !(list?.length > 0) && !showLoading">
        <div
          class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10"
        >
          <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
            <div class="px-2 my-3 my-lg-0">
              <client-icon-policies [policyType]="policyType"></client-icon-policies>
            </div>
            <div class="g-items-text pl-lg-3">
              <div class="g-font--20 mb-0 g-font--medium">{{ messageWithoutPolicies }}</div>
            </div>
          </div>
        </div>
      </mf-card-item>

      <!-- Listado -->
      <mf-card-item *ngFor="let item of list">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
          <!-- Icono de poliza -->
          <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <span class="icon-mapfre_014_perfil g-font--42 g-c--gray18"></span>
          </div>

          <div
            class="w-7 w-lg-6 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden"
          >
            <!-- Nombre de la poliza y beneficiario(s) -->
            <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
              <div class="g-font--medium text-lg-truncate g-text--uppercase">
                {{ item?.descPlan}}
              </div>
              <div>
                <div class="text-lg-truncate">
                  {{ item?.descCantAfiliados}}
                </div>
              </div>
            </div>
          </div>

          <!-- Ver detalle -->
          <div
            class="g-bt--1 g-bt-lg--0 py-3 pr-lg-3 py-lg-0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center justify-content-lg-end flex-grow-1"
          >
            <span class="mr-2">Suma asegurada: {{item?.money}}</span>
            <mf-tooltips>
              <span class="g-font--medium d-flex aling-items-left g-pb--10">{{ item?.titleTooltip }}</span>
              <div class="g-font--12 g-font--normal text-left">{{ item?.bodyTooltip}}</div>
            </mf-tooltips>
          </div>
        </div>
      </mf-card-item>
    </mf-card-content>

    <mf-card-footer  *ngIf="isVisibleSeeAll">
      <mf-link-green
        [text]="lang.Buttons.allAffiliates"
        [routerLink]="['/health/health-insurance/affiliates']"
      >
      </mf-link-green>
    </mf-card-footer>
  </div>
</mf-card>
