<!-- Título -->
<client-page-title [title]="titleAmbulanceServices" [message]="messageAmbulanceServices"></client-page-title>

<!-- Mensaje Ayuda -->
<client-notification-help
  [message]="textAmbulanceServicesHelp"
  [phone]="phoneKey"
  [styleWhatsapp]="true"
  [textMsgWhatsapp]="textAmbulanceServicesHelpMsgWhatsapp">
</client-notification-help>

<!-- Banner App Download -->
<div class="row">
  <div class="col mb-xs--2">
    <client-banner-app-download></client-banner-app-download>
  </div>
</div>
