<!-- Seleccionar póliza a comparar -->
<client-modal-select-compare *ngIf="openModalSelect"
  [policyType]="policyType">
</client-modal-select-compare>

<!-- Datos de Contacto del Agente -->
<client-modal-contacted-by-agent-compare *ngIf="openModalAgent"></client-modal-contacted-by-agent-compare>

<!-- Mensaje de error -->
<mf-modal-message *ngIf="showModalError"
  [sizeClass]="'g-modal--medium'"
  [pathIcon]="iconError"
  [messageDone]="modalTitle"
  [messageSuccessUpdate]="modalMessage">
</mf-modal-message>
