<mf-modal *ngIf="showModal"
  [titleMobile]="contactTitle"
  [secondTitleMobile]="contactSubTitle.toUpperCase()"
  [confirm]="false"
  [editFooter]="true">
  <div class="px-lg-5">
    <div class="text-center mb-xs--2 mb-lg--3">
      <div class="g-font--18 g-font--medium d-none d-lg-block g-pb--10">{{ contactSubTitle }}</div>
      <div class="g-px--20 g-px-lg--0 g-font--14 g-font-lg--13 g-line--10 g-font--normal">
        {{ contactDescription }}
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <ng-container *ngFor="let item of contactList">
        <div class="w-10 w-lg-5">
          <div class="mx-3 g-bt--1 g-p--15">
            <div class="g-font--medium  g-font--14">{{ item.titulo }}</div>
            <div class="g-font--13 pt-1 g-font--light">{{ item.nombre }}</div>
            <div class="pt-1">
              <a [href]="'tel:' + item.telefono" class="g-font--13 g-font--light">{{ item.telefono }}</a>
            </div>
            <div class="pt-1">
              <a [href]="'mailto:' + item.email" class="g-text--underline g-font--13 g-font--light">{{ item.email }}</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div footer>
    <div class="d-flex">
      <div class="g-c--green1 mx-auto g-c--pointer pt-xs--0 pb-xs--0  pb-lg--1 g-font--medium" (click)="gOfficesUs()">
        <span class="icon-mapfre_015_location-pin g-font--medium"></span> {{ contactOfficiesUs }}
      </div>
    </div>
  </div>
</mf-modal>
