<client-notification-request *ngIf="showNotification"
  [title]="noteTitle"
  [text]="noteText">
</client-notification-request>

<!-- Loading  -->
<mf-loader *ngIf="showLoading"></mf-loader>

<!-- Lista -->
<client-view-item-list
  (viewDetail)="viewDetail($event)"
  [configUI]="configUI"
  [itemsHistory]="itemsHistory"
  [itemsProcess]="itemsProcess"
  [numberLabel]="lang.RequestLabel"
  [textNotFound]="lang.NoRegisterRequest"
  [textNotFoundHistory]="lang.NoRegisterHistoryRequest"
  [textNotFoundProcess]="lang.NoRegisterProcessRequest"
  [yearsRange]="yearsRange"
  *ngIf="!showLoading"
>
</client-view-item-list>
