<div class="d-flex flex-column g-bg-c--white1 h-100"
    [ngClass]="{'g-full-form--load': showLoading, 'g-box--shadow1': !isModal}">
  <!-- Titulo -->
  <div *ngIf="!isModal" class="g-bg-c--gray8 g-py--15 g-pl--15 g-pr--15 pl-lg--2 pr-lg--2  d-flex align-items-center justify-content-center g-ie-flex--0-1-auto">
    <div class="g-font-lg--18 g-font--16 g-font--medium g-c--white1">{{ title }}</div>
  </div>
  <!-- Placa -->
  <div
    class="pl-xs--3 pl-lg--4 pr-xs--3 pr-lg--4 pt-xs--3 pb-xs--3"
    [ngClass]="{ 'pt-lg--4': !isModal, 'pt-lg--3': isModal }"
  >
    <mf-input #inputPlate
      [formControl]="plate"
      [label]="labelPlate"
      [NumberLetter]="true"
      [dontWhiteSpace]="true"
      [minlength]="plateMinLength"
      [maxlength]="plateMaxLength"
      [error]="showErrors(plate)"
      [upperCase]="true"
      (paste)="handlePaste($event)"
      (keydown)="handlerkeyDown($event)">
    </mf-input>
    <mf-show-errors [control]="plate"></mf-show-errors>
  </div>
  <!-- No tiene Placa -->
  <div class="pl-xs--3 pl-lg--4 pr-xs--3 pr-lg--4 pt-xs--1 pt-lg--1 pb-xs--3">
    <mf-checkbox *ngIf="activatedNoPlate"
      [formControl]="checkNoPlate"
      [label]="labelCheckNoPlate"
      [checked]="isCheckedNoPlate"
      (change)="checkedNoPlate($event)">
    </mf-checkbox>
    <!-- Cotiza ahora -->
    <div class="justify-content-center w-100" *ngIf="!isModal">
      <button mf-button
        (click)="searchPlate()"
        class="g-btn--mobile w-lg-10 d-lg-block mt-xs--4 mt-lg--5 text-center"
        [disabled]="!validForm || !environment.ACTIVATE_VEHICLES_QUOTE_BUTTON"
        gaClick
        [gaCategory]="gaQuoteNow.category"
        [gaAction]="gaQuoteNow.action"
        [gaLabel]="gaQuoteNow.label">
        {{ btnQuote }}
      </button>
    </div>
  </div>
</div>
