<div class="container-fluid g-ui--view">
  <div class="row">
    <aside class="g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">
        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}
      </div>
      <!--End: Menu-->
    </aside>
    <section class="g-box-container {{boxClass}}">
      <!--Begin: Header-->
      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}
      <!--End: Header-->

      <!--Begin: content-->
      <div class="sect-container {{setContainerClass}}">
        {{#styleSheet}}
          {{>templates-stylesheet}}
        {{/styleSheet}}
      </div>
      <!--End: content-->
    </section>
  </div>
</div>