<!-- En Proceso -->
<div class="g-mb--20" *ngIf="showProcess || showHistory">
  <client-card-request-process
    [items]="itemsProcess"
    [numberLabel]="numberLabel"
    [textNotFoundProcess]="textNotFoundProcess"
    (viewDetail)="onViewDetail($event)">
  </client-card-request-process>
</div>

<!-- Historial -->
<div class="mt-xs--2 g-mb--20" *ngIf="showProcess || showHistory">
  <client-card-request-history
    (viewDetail)="onViewDetail($event)"
    [configUI]="configUI"
    [items]="itemsHistory"
    [numberLabel]="numberLabel"
    [textNotFoundHistory]="textNotFoundHistory"
    [yearsRange]="yearsRange"
  >
  </client-card-request-history>
</div>

<!-- Sin datos -->
<client-item-not-found
  [imageTop]="false"
  [show]="!showProcess && !showHistory"
  [icon]="icon"
  [title]="textNotFound">
</client-item-not-found>
