<div class="d-lg-flex justify-content-between g-b-radius--5 g-bg-c--gray5 g-my--20 g-box--shadow1">
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--10 position-relative w-100">
    <!-- Icono-->
    <div class="d-flex justify-content-center w-px--10 align-items-lg-center">
      <span class="g-c--gray18 g-items-icon g-font--50 g-mt-lg--0 mt-xs--2" [ngClass]="fileIcon"></span>
    </div>
    <!-- Datos del Periodo -->
    <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
      <div class="w-100 g-mb--03 mb-lg-0 g-o--hidden">
        <div class="g-font--medium text-lg-truncate g-font-md--16" [title]="periodInfo.title">{{ periodInfo.title }}</div>
        <div class="g-font-md--14 text-lg-truncate">{{ periodInfo.insuredGroup | uppercase }}</div>
      </div>
      <div class="px-lg-3 w-px-lg--30">
        <div [title]="periodInfo.perdiod">
          <span class="g-font--bold g-font--14">{{ periodInfo.perdiod }}</span>
        </div>
        <div>&nbsp;</div>
      </div>
      <div class="px-lg-2 w-px-lg--25">
        <div>
          <span class="icon-mapfre_063_agendar pr-1 g-mt--3"></span>
          <span class="g-font--light g-font--14">{{ periodInfo.start }}</span>
        </div>
        <div>
          <span class="icon-mapfre_063_agendar pr-1 g-mt--3"></span>
          <span class="g-font--light g-font--14">{{ periodInfo.end }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
