<div [ngClass]="{'g-full-form--load': isSubmitting}">
  <div class="g-px--30 g-pb--20 g-p-md--40">
    <div class="d-flex justify-content-between ">
      <div class="">
        <div class="g-font-md--20 g-font--medium ">
          {{ titleLang }}
        </div>
        <div class="g-font--light g-mb--35">
          {{ descriptionLang }}
        </div>
      </div>
    </div>
    <div class="">
      <div class="g-mb--20">
        <div class="d-flex justify-content-between align-items-center g-mb--10">
          <div class="g-font--medium g-font-md--20">
            {{ step1TitleLang }}
          </div>
          <div class=""
            (click)="goToStep(1)"
            ctrl="linkEditAssistance"
            (domChange)="onDomChange($event, { label: step1TitleLang })"
          >
            <span class="icon-mapfre_035_edit g-c--green1 g-c--pointer"></span>
          </div>
        </div>
        <div class="d-lg-flex justify-content-between">
          <div class="g-mb--5 g-mb-lg--0">
            <div class="g-font--light g-font--13 g-bc--gray18">
              {{ step1LabelAddressLang }}
            </div>
            <div class="">
              {{ address }}
            </div>
          </div>
          <div class="d-flex">
            <div class="g-mb--5 g-mb-lg--0 text-nowrap w-50 w-px-lg--13 g-pr--15 g-px-lg--15">
              <div class="g-font--light g-font--13 g-bc--gray18">
                {{ step1LabelDateLang }}
              </div>
              <div class="">
                {{ sinister.date | date: 'dd/MM/yyyy' }}
              </div>
            </div>
            <div class="text-nowrap w-px-lg--12">
              <div class="g-font--light g-font--13 g-bc--gray18">
                {{ step1LabelHourLang }}
              </div>
              <div class="">
                {{ sinister.hour.descripcionRango }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="g-mb--20">
        <div class="d-flex justify-content-between align-items-center g-mb--10">
          <div class="g-font--medium g-font-md--20">
            {{ step2TitleLang }}
          </div>

          <div class=""
            (click)="goToStep(2)"
            ctrl="linkEditAssistance"
            (domChange)="onDomChange($event, { label: step2TitleLang })"
          >
            <span class="icon-mapfre_035_edit g-c--green1 g-c--pointer"></span>
          </div>
        </div>
        <div class="d-lg-flex justify-content-between">
          <div class="w-lg-5 g-mb--5 g-mb-lg--0">
            <div class="g-font--light g-font--13 g-bc--gray18">
              {{ step2LabelType1Lang }}
            </div>
            <div class="">
              {{ incident }}
            </div>
          </div>
          <div class="w-lg-5">
            <div class="g-font--light g-font--13 g-bc--gray18">
              {{ step2LabelType2Lang }}
            </div>
            <div class="">
              {{ reason }}
            </div>
          </div>
        </div>
      </div>
      <div class="g-mb--20">
        <div class="d-flex justify-content-between align-items-center g-mb--10">
          <div class="g-font--medium g-font-md--20">
            {{ step3TitleLang }}
          </div>

          <div class=""
            (click)="goToStep(3)"
            ctrl="linkEditAssistance"
            (domChange)="onDomChange($event, { label: step3TitleLang })"
          >
            <span class="icon-mapfre_035_edit g-c--green1 g-c--pointer"></span>
          </div>
        </div>
        <div class="d-flex">
          <div class="g-mr--10 w-px--8 w-px-sm--10 w-px-md--13" *ngFor="let file of sinister.files; trackBy: trackByFn">
            <img class="d-block w-100" [src]="file.url">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex g-py--15 g-px--25 g-px-lg--10 g-bt--1 g-bc--gray11">
    <div class="w-50 text-center g-pr--10">
      <button
        (click)="goToStep(3)"
        class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21 g-btn-outline"
        ctrl="linkAssistanceStep4"
        (domChange)="onDomChange($event, { label: btnReturnLang, message: 'Fallido' })"
      >
        {{ btnReturnLang }}
      </button>
    </div>
    <div class="w-50 text-center g-pl--10">
      <button
        (click)="onSubmit()"
        class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21"
        ctrl="linkAssistanceStep4"
        (domChange)="onDomChange($event, { label: btnSuccessLang, message: 'Exitoso' })"
      >
        {{ btnSuccessLang }}
      </button>
    </div>
  </div>
</div>
