<div class="mx-auto g-mb-lg--50 position-relative" [ngClass]="{ 'g-max-w-lg--57': size === 'xs', 'g-max-w-md--76': size !== 'xs' }">
  <div class="d-flex">
    <!-- Icono -->
    <div class="ml-auto d-none d-lg-block" *ngIf="policyType || iconClass">
      <div
        class="position-absolute letf-box tag--icon justify-content-center align-items-center d-flex g-bg-c--gray2 g-c--white1 g-mt--45 g-pl--15"
      >
        <span [ngClass]="iconClass" class="g-font--42"></span>
      </div>
    </div>

    <!-- Contenido -->
    <div
      class="g-bg-c--white1 g-box--shadow1 g-b-radius--10 w-100 g-max-w-lg--690 g-mb--20 g-mb-lg--0"
      [ngClass]="{ 'g-full-form--load': showLoading , 'm-auto': !(policyType || iconClass), 'mr-auto': (policyType || iconClass)}"
    >
      <ng-content></ng-content>
      <!-- Acciones -->
      <div class="modal-footer-btn d-flex flex-column g-p--15 g-bt--1 g-bc--gray11" *ngIf="showActions">
        <div class="g-w-100 text-left g-px-md--20 g-py--30" *ngIf="noticeBeforeConfirming" [innerHTML]="noticeBeforeConfirming">
        </div>
        <div class="g-w-100 d-flex">
          <div class="{{btnCancelClass}} g-pr--5 g-pr-lg--10" *ngIf="isVisibledBtnCancel">
            <button
              mf-button
              outline
              [ngClass]="'d-block w-100 g-max-w--24 mx-auto'"
              (click)="cancel()"
              ctrl="btnCancel"
              (domChange)="onDomChange($event, { label: btnCancel })">
              {{ btnCancel }}
            </button>
          </div>
          <div class="{{btnConfirmClass}} g-pl--5 g-pl-lg--10" *ngIf="isVisibledBtnConfirm">
            <button
              mf-button
              [ngClass]="'d-block w-100 g-max-w--24 mx-auto'"
              [disabled]="disableConfirm"
              (click)="confirm()"
              ctrl="btnConfirm"
              (domChange)="onDomChange($event, { label: btnConfirm })">
              {{ btnConfirm }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
