<div class="g-p--20 g-p-lg--40">
  <div class="g-font-md--20 g-font--medium g-text--uppercase">{{ lang.Title }}</div>
  <div class="d-flex flex-wrap w-100 g-pt-lg--20 flex-column">
    <div class="g-pt--10 g-font--light g-pt-lg--0">{{ lang.Detail }}</div>
    <div class="g-pt--10 g-font--light g-mb--20">{{ lang.Reminder }}</div>
    <div class="g-mb--40 g-mb-lg--0">

      <div
        *ngFor="let key of objectKeys(lang.Options)"
        (click)="onSelectInspection(lang.Options[key])"
        class="g-c--pointer d-flex g-box--shadow1 justify-content-between flex-wrap flex-lg-nowrap g-b-radius--5 g-mb--10"
      >
        <div>
          <label class="d-flex align-items-lg-center h-100 g-m--0">
            <div class="g-radio d-flex align-items-center g-m--0 g-py--20 g-pl--20">
              <input type="radio" name="inspection" [(ngModel)]="selectedInspection" [value]="lang.Options[key].Id">
              <span class="radio"></span>
            </div>
          </label>
        </div>
        <div class="g-px--20 g-py--15 g-py-lg--20 d-flex flex-column flex-fill w-7 w-lg-10 g-bl--1 g-bc--gray11">
          <div class="d-flex">
            <span class=" g-font--medium g-c--gray2 g-font--13 g-font-lg--14">{{ lang.Options[key].Title }}</span>
          </div>
          <div class="g-font--light g-c--gray2 g-font--13 ">{{ lang.Options[key].Label }}</div>
        </div>
      </div>

      <div class="g-pt--20">
        <mf-checkbox
          class="d-inline-block"
          [label]="lang.Agreement.Label"
          [extraLabel]="extraLabel"
          [checked]="agreement"
          (extraLabelAction)="conditionsOpen()"
          (change)="onAgree($event)">
        </mf-checkbox>
      </div>

    </div>
  </div>
</div>

<!-- Footer -->
<div class="d-flex g-p--15 g-bt--1 g-bc--gray11">
  <div class="w-50 g-pr--5 g-pr-lg--10">
    <button
      mf-button
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      outline (click)="back()"
      ctrl="vehiclesQuoteBuyButtons"
      (domChange)="onDomChange($event, { label: generalLang.Buttons.Back })">
      {{ generalLang.Buttons.Back }}
  </button>
  </div>
  <div class="w-50 g-pl--5 g-pl-lg--10">
    <button
      (click)="gotoInspection()"
      mf-button
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      [disabled]="!(selectedInspection && agreement)"
      ctrl="vehiclesQuoteBuyButtons"
      (domChange)="onDomChange($event, { label: generalLang.Buttons.Next })">
      {{ generalLang.Buttons.Next }}
    </button>
  </div>
</div>

<!-- Modal -->

<mf-modal
  [titleMobile]="vehicles.title"
  [editFooter]="true"
  sizeClass="g-full-modal--medium">

  <div class="text-center g-px--20">
    <div class="g-mb--20 g-pt--20 g-pt-lg--40"><img alt="" [src]="inspectionIcon"></div>
    <div class="g-font--18 g-font--medium g-mt--20 g-mb--15">
      {{ lang.Agreement.Link }}
    </div>
  </div>

  <div class="g-mx-lg--50 g-my-lg--40" [innerHTML]="conditions"></div>

  <div footer>
    <div class="d-flex">
      <button mf-button [ngClass]="'mx-auto g-max-w--24 w-10'" (click)="modal.close()">
        {{ generalLang.Buttons.Confirm }}
      </button>
    </div>
  </div>

</mf-modal>
