<div class="d-flex flex-column {{addClass}}">
  <div class="{{addClassHead}} d-flex  align-items-center justify-content-center">
    <div class="{{titleClass}}">{{{title}}}</div>
  </div>
  <div class="{{contentClass}}">
    {{#mfForm}}

      {{#input}}
        {{>atoms-mf-input}}
      {{/input}}

      {{#select}}
        {{>atoms-mf-select}}
      {{/select}}

    {{/mfForm}}

    {{#lineTitle}}
      <div class="d-flex justify-content-center align-items-center {{boxClass}}">
        <div class="g-bb--1 g-bc--gray7 flex-fill"></div>
        <div class="{{titleClass}}"> {{{title}}}</div>
        <div class="g-bb--1 g-bc--gray7 flex-fill"></div>
      </div>
    {{/lineTitle}}

    {{#list}}
      <div class="mb-auto">
        {{#titleList}}
          <div class="{{titleClass}}">{{{title}}}</div>
        {{/titleList}}

        {{#description}}
          <div class="{{textClass}}">
            {{text}}
          </div>
        {{/description}}

        {{>atoms-lists}}
      </div>
    {{/list}}

    {{#msgSend}}
      <div class="d-flex flex-column align-items-center justify-content-center h-100">
        <div class="icon--mail g-mr--30 g-mb--30 g-mt--20 "></div>
        <div class="g-font--20 g-font--medium g-c--gray13">Te contactará un agente</div>
        <div class="g-font--14 g-font--medium g-pt--20 g-line--11">DETALLES:</div>
        <div class="g-font--14 g-font--light g-pb--20 ">9:00am- 2:00pm</div>
        <div class="g-font--14 g-font--medium g-line--11">TELÉFONO DE CONTACTO:</div>
        <div class="g-font--14 g-font--light g-pb--20 ">954 433 432</div>

      </div>
    {{/msgSend}}

    {{#btnForm}}

      <div class="{{btnClass}} w-100">
        {{#textPrice}}
          <div class="{{textClass}}">{{{text}}}</div>
        {{/textPrice}}
        {{>atoms-buttons}}
      </div>
    {{/btnForm}}
  </div>
</div>
