<div class="sect-container">

  <div class="row d-flex flex-lg-row flex-lg-nowrap">

    <!-- Banner -->
    <div class="g-bg-c-lg--gray23 text-truncate g-img-mw-lg w-10">
      <img [img-loader]="pathImgBanner.lg" [img-sm]="pathImgBanner.sm" [img-xl]="pathImgBanner.xl">
    </div>

    <!-- Form -->
    <div class="w-px-lg--36 h-10 w-100 g-mx--15 g-mx-lg--0">
      <client-form-contacted-by-agent [contactData]="contactData"></client-form-contacted-by-agent>
    </div>

  </div>

  <div class="row mt-xs--2">
    <div class="col-12 d-flex ">
      <div class="g-services--item g-bg-c--white1 g-c--gray8 g-b--1  d-flex flex-column g-b-radius--3 g-box--shadow1 w-10 mb-3 mb-lg-4">

        <!-- Como Funciona -->
        <client-how-to-work [content]="howToWork"></client-how-to-work>

        <!-- Opciones de Pago -->
        <client-payment-options [content]="paymentOptions"></client-payment-options>

      </div>
    </div>
  </div>

  <!-- Top Seguros -->
  <client-insurance-plans [content]="insuranceTop" (eventInfo)="eventInfo()"></client-insurance-plans>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <!-- Preguntas Frecuentes -->
  <client-faqs [faqs]="faqs" [masonry]="masonry" (more)="openModalMoreFaqs()"></client-faqs>

</div>

<!-- Preguntas frecuentes -->
<client-modal-more-faqs
  *ngIf="showModalFaq"
  [faqs]="faqs"
  [subTitle]="subTitleFaq"></client-modal-more-faqs>
