<div class="g-services--footer g-font--medium g-bt--1 g-bc--gray11 p-3 mt-auto text-center d-lg-flex align-items-center justify-content-center">
  <span class="g-font--12 g-font-lg--16 g-font--medium g-c--gray13 g-mr--15 d-block d-lg-inline-block g-mb--10 g-mb-lg--0">{{ content.title }}</span>
  <span *ngFor="let image of content.images" class="px-1">
    <img class="h-px--3 h-px-sm--4 g-box--shadow1" [src]="content.url + image">
  </span>
</div>
