<div class="g-p--15">

  <form [formGroup]="formFilter">

    <div class="g-font--medium mb-3">
      {{ services.labels.title }}
    </div>

    <mf-checkbox
      formControlName="todos"
      [label]="services.labels.all"
      [checked]="allServices"
      (change)="checkAllServices()">
    </mf-checkbox>

    <div formArrayName="services" class="g-checkbox" *ngFor="let service of services.items; let i = index">
      <label class="d-flex">
        <input
          type="checkbox"
          [formControlName]="i"
          [value]="services.items[i].value"
          (click)="serviceClicked($event)"
          ctrl="checkbox"
          (domChange)="onDomChange($event, {labelCheckbox: services.items[i].label})"
        >
        <span class="checkbox"></span>
        <span>{{ services.items[i].label }}</span>
      </label>
    </div>

    <div class="g-font--medium g-mt--35 pt-3 g-bt--1">
      {{ location.labels.title }}
    </div>

    <mf-select
      formControlName="departamento"
      [placeholder]="'Ninguna seleccionada'"
      [label]="labelDepartment"
      [options]="departamentos"
      (change)="selectDepartment()">
    </mf-select>

    <mf-select
      formControlName="provincia"
      [placeholder]="'Ninguna seleccionada'"
      [label]="labelProvince"
      [options]="provincias"
      (change)="selectProvince()">
    </mf-select>

    <mf-select
      formControlName="distrito"
      [placeholder]="'Ninguna seleccionada'"
      [label]="labelDistrict"
      [options]="distritos">
    </mf-select>

  </form>

</div>
