<div
  [ngClass]="{'g-pt--40': appointment?.isEditable}"
  class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11"
>
  <mf-stepper
    [currentStep]='3'
    [stepList]="stepList"
    *ngIf="!appointment?.isEditable || validCovid"
  >
  </mf-stepper>

  <client-form-base
    (actionCancel)="actionCancel()"
    (actionConfirm)="actionConfirm()"
    [btnCancel]="btnCancel"
    [btnConfirm]="btn?.Buttons?.Next"
    [disableConfirm]="!frmTab0?.valid"
    [iconClass]="fileIcon"
  >
    <div class="g-p--20 g-p-lg--40">
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between">
        <div class="g-w-lg--50">
          <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            DATOS DE LA PRUEBA COVID-19
          </div>
        </div>
      </div>

      <div class="tab-1" [formGroup]="frmTab0">
        <div *ngIf="!validCovid" class="g-w-100 g-pr-lg--15 g-pb--10">
          <mf-select 
            (getLoadingState)="getLoadingStateClinic($event)"
            (getSelectedOpt)="changeClinic($event)"
            [dependent1]="params"
            [dependent5]="modality" 
            [frm]="frmTab0"
            [config]="configClinics" 
            [label]="'Seleccione Centro Médico'" 
            [name]="'clinicaId'"
            [type]="'clinicsList'"
            [showEnableWhenHasOneItem]="true" 
            formControlName="clinicaId">
          </mf-select>
        </div>
        <div class="g-w-100 g-pr-lg--15 g-pb--10" 
        [ngClass]="{ 'c-frm--disabled': !frmTab0?.value?.clinicaId, 'g-full-form--load': showLoading  && frmTab0?.value?.clinicaId}">
          <mf-input-datepicker
            (getLoadingState)="getLoadingState($event)"
            [actionType]="'byDate'"
            [dependent1]="clinicaId ? clinicaId : centerVirtual"
            [dependent2]="appointment?.especialidad?.especialidadId"
            [dependent5]="modality"
            [frm]="frmTab0"
            [label]="'Fecha'"
            [name]="'fecha'"
            formControlName="fecha"
            #cboFechaByClinic
          >
          </mf-input-datepicker>
        </div>
        <div class="g-w-100 g-pr-lg--15 g-pb--10" [ngClass]="{'c-frm--disabled': !frmTab0?.value?.fecha, 'g-full-form--load': showLoadingHours && frmTab0?.value?.fecha}">
          <mf-select 
            (getLoadingState)="getLoadingStateHours($event)"
            (getSelectedOpt)="getSelectedHour($event)"
            [dependent1]="!validCovid ? clinicaId : appointment?.clinicaId ? appointment?.clinicaId : centerVirtual"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent3]="frmTab0?.value?.fecha"
            [dependent5]="modality" 
            [frm]="frmTab0"
            [dataPatient]="dataPatient"  
            [config]="configHoursByDate" 
            [label]="'Hora disponible'" 
            [name]="'horaInicio'"
            [type]="'horaInicio'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab0?.value?.fecha" 
            formControlName="horaInicio">
          </mf-select>
        </div>
        <div [ngClass]="{'cx-card-invisible': true}"
          class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{ 'c-frm--disabled': !frmTab0?.value?.fecha || !frmTab0?.value?.horaInicio, 'g-full-form--load': showLoadingDoctors && frmTab0?.value?.fecha && frmTab0?.value?.horaInicio}"
        >
          <mf-select 
            (getLoadingState)="getLoadingStateDoctor($event)" 
            (getSelectedOpt)="getSelectedDoctorByDate($event)"
            (getSelectedOptDoctor)="getSelectedOptDoctorArr($event)"
            [dependent1]="!validCovid ? clinicaId : appointment?.clinicaId ? appointment?.clinicaId : centerVirtual"
            [dependent2]="appointment?.especialidad?.especialidadId"
            [dependent3]="frmTab0?.value?.fecha"
            [dependent4]="frmTab0?.value?.horaInicio"
            [dependent5]="modality"  
            [frm]="frmTab0"
            [citaCovid]="true" 
            [dataPatient]="dataPatient" 
            [config]="configDoctorsByDate" 
            [label]="'Doctor de turno'" 
            [name]="'doctorId'"
            [type]="'doctorByDate'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab0?.value?.horaInicio && frmTab0?.value?.fecha" 
            formControlName="doctorId">
          </mf-select>
        </div>
      </div>
    </div>
  </client-form-base>
</div>
<mf-modal-message
  (confirmResponse)="onConfirmModal($event)"
  [confirm]="true"
  [messageDone]="graLng.Messages.EstimatedUser"
  [messageSuccessUpdate]="graLng.Messages.DeleteData"
  [pathIcon]="iconError"
  [sizeClass]="'g-modal--medium'"
>
</mf-modal-message>
