<div class="container-fluid g-ui--view">
  <div class="row">
    <aside class="col g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">

        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}

      </div>
      <!--End: Menu-->
    </aside>
    <section class="col g-box-container">
      <!--Begin: Header-->

      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}

      <!--End: Header-->

      <!--Begin: content-->

      <div class="sect-container">
        {{>organisms-maps}}
      </div>

      <!--End: content-->
    </section>
  </div>

  {{#openClick}}
    <div class="open-modal g-modal--link" onclick="fullModal.open('{{click}}')"  data-modal="{{openModal}}"></div>
  {{/openClick}}

  {{#alert}}
    {{>templates-modal-alert}}
  {{/alert}}

  {{#formModal}}
    {{>templates-fm-modal}}
  {{/formModal}}
</div>
