<div class="container-fluid g-ui--view">
  <div class="row">
    <aside class="col g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">
        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}
      </div>
      <!--End: Menu-->
    </aside>
    <section class="col g-box-container">
      <!--Begin: Header-->
      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}
      <!--End: Header-->

      <!--Begin: content-->
      <div class="sect-container g-mx-n--15 g-pr-lg--375">

        <div class="g-map">
          {{#googlemaps}}
            {{>molecules-googlemaps}}
          {{/googlemaps}}
        </div>

        <div class="g-map-filter">
          <div class="g-map-filter--desktop g-bg-c--white1 h-100 g-box--shadow1 ">
            <div class="g-filterbox">
              <div class="g-filterbox--desktop g-filterbox--show g-bg-c--white1 h-100 g-box--shadow1 ">
                <div class="g-map-filter--column g-map-filter-md--fixed h-100 g-bg-c--white1 d-flex flex-column">

                  <div class="g-filterbox--title g-bg-c--gray3 g-p-md--20  text-center">
                    <span class="g-c--white1 g-font--normal g-font--18 g-text--uppercase">
                      modificar chofer de reemplazo
                    </span>
                  </div>
                  <div class="g-p--20 g-mh-100vh" data-simplebar>
                    <div class="d-flex">
                      <div class="w-50 g-pr--10">

                        <div class="g-input-design g-form-focus">
                          <div class="d-flex">
                            <input type="text" value="" class="no-spinners">
                            <span class=" g-pl--5 g-form-icon g-font--25 g-font-md--21 icon-mapfre_050_agendar g-c--green1"></span>
                          </div>
                          <label class="g-input__label g-placeholder">
                            Fecha
                          </label>
                        </div>
                      </div>
                      <div class="w-50  g-pl--10 ">
                        <div class="g-input-design g-form-focus">
                          <div class="d-flex">
                            <input type="text" value="" class="no-spinners">
                          </div>
                          <label class="g-input__label g-placeholder">
                            Hora
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex align-items-end">
                      <div class="w-100">
                        <div class="g-input-design g-form-focus">
                          <div class="d-flex">
                            <input type="text" value="Av. Javier Prado Este 499" class="no-spinners">
                            <span class=" g-pl--5 g-form-icon g-font--21 icon-mapfre_015_location-pin"></span>
                          </div>

                          <label class="g-input__label g-placeholder">
                            Punto de partida
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="g-input-design g-form-focus">
                      <input type="text" value="Departamento 123, Lado A. Al frente de TOTTUS" class="no-spinners">
                      <label class="g-input__label g-placeholder ">
                        Referencia del punto de partida
                      </label>
                    </div>
                    <div class="d-flex align-items-end">
                      <div class="w-100">
                        <div class="g-input-design g-form-focus">
                          <div class="d-flex">
                            <input type="text" value="Ca. Alcanfores 110, Magdalena, Li..." class="no-spinners">
                            <span class=" g-pl--5 g-form-icon g-font--21 icon-mapfre_015_location-pin"></span>
                          </div>

                          <label class="g-input__label g-placeholder">
                            Punto de destino
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="g-input-design g-form-focus">
                      <input type="text" value="Departamento 654, Torre B" class="no-spinners">
                      <label class="g-input__label g-placeholder ">
                        Referencia del punto de destino
                      </label>
                    </div>
                    <div class="w-100 g-mt--25 g-font--medium">
                      2. Selecciona el vehículo para la asistencia
                    </div>
                    <div class="d-flex">
                      <div class="g-select-desing g-form-focus g-mr--10 w-75">
                        <label class="g-placeholder">Tipo de vehículo </label>
                        <select>
                          <option>Placa DE450 - TOYOTA T 2013 </option>
                          <option>Placa DE450 - TOYOTA T 2013 </option>
                        </select>
                        <span class="icon-mapfre_004_triangle-down ico-select"></span>
                      </div>
                      <div class="align-self-end text-center w-px--8">
                        <div
                          class="g-bg-c--green1 g-font--13 mx-auto g-b-radius--5 g-c--white1 g-font--light d-inline-block g-px--5">
                          2/3
                        </div>
                        <div class="g-font--light g-font--10 g-mt--5 g-line--12">
                          DISPONIBLES <br>
                          CON BENEFICIO
                        </div>
                      </div>
                    </div>
                    <div class="g-input-design g-form-focus">
                      <input type="text" value="992 442 244" class="no-spinners">
                      <label class="g-input__label g-placeholder ">
                        Teléfono de contacto
                      </label>
                    </div>
                    <div class="g-bg-c--gray12 g-mt--25 g-px--15 g-py--10 g-b-radius--5">
                      <div class="d-flex">
                        <div class="w-100 g-font--bold">Precio:</div>
                        <div class="ml-auto flex-shrink-0 g-text--linethrough">S/. 50</div>
                      </div>
                      <div class="d-flex">
                        <div class="w-100 g-font--bold">Con descuento MAPFRE:</div>
                        <div class="ml-auto flex-shrink-0 g-c--green1">S/. 20</div>
                      </div>
                      <div class="d-flex">
                        <div class="w-100 g-c--gray3">Pago en efectivo al chofer.</div>
                        <div class="ml-auto flex-shrink-0 "></div>
                      </div>
                    </div>
                    <div class="d-flex g-b-radius--5 g-bg-c--red7 g-b--1 g-bc--orange1 g-mt--20">
                      <div class="d-flex g-ie-flex--0-1-auto g-p--10">
                        <span class="icon-mapfre_051_alerta g-font--30 g-c--orange1 g-mx--10"></span>
                        <div class="flex-wrap">
                          <div class="g-c--orange1 g-line--11">
                            El servicio solicitado desde un punto de partida o llegada fuera de Lima Metropolitana o
                            dentro de una
                            zona restringida tendrá un costo adicional además de una previa evaluación.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex g-py--30 mt-auto g-pt--10 g-bt--1 g-bc--gray11 g-mt--30">
                    <div class="d-flex align-items-center justify-content-center w-50">
                      <div class="g-btn g-btn-outline g-text--uppercase w-lg-8">cancelar</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-50">
                      <div class="g-btn g-text--uppercase w-lg-8">confirmar</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{#menumobile}}
          <div class="d-lg-none">
            <div class="g-map-filter--mobile {{menuClass}}">
              {{#menu}}
                <div class="{{addClass}}">
                  <div class="{{textClass}}">{{{text}}}</div>
                </div>
              {{/menu}}
            </div>
          </div>
          {{/menumobile}}
        </div>
      </div>
      <!--End: content-->
    </section>
  </div>

  {{#openClick}}
    <div class="open-modal g-modal--link" onclick="fullModal.open('{{click}}')" data-modal="{{openModal}}"></div>
  {{/openClick}}

  {{#alert}}
    {{>templates-modal-alert}}
  {{/alert}}

  {{#formModal}}
    {{>templates-fm-modal}}
  {{/formModal}}
</div>
<div class="g-box-nav--close g-none" onclick="closeNavBox()"></div>