<div class="row" *ngIf="showCarousel">
  <div class="col mb-xs--2">
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

    <!-- Carousel -->
    <div class="c-slider" *ngIf="!showLoading">
      <div class="item g-c--pointer" [ngClass]="{'active': idx === currentIndex}"
        *ngFor="let img of bannerList; let idx = index"
        (click)="handleItemClick(img?.enlaceUrl)"
        (mouseover)="pause()"
        (mouseout)="resume()">
        <img class="w-10 g-b-radius--5 g-box--shadow1" alt="banner"
          [img-loader]="img?.desktop"
          [img-sm]="img?.mobile"
          [img-md]="img?.tablet"
          [img-xl]="img?.desktopFull"
          (error)="notLoading(idx)"
        />
      </div>
      <div class="arrow" *ngIf="bannerList.length > 1">
        <div class="arrow--left g-pt--20 g-pr--20 g-pb--20" (click)="handleArrow('left')">
          <span class="icon-mapfre_006_angle-left"></span>
        </div>
        <div class="arrow--right g-pt--20 g-pl--20 g-pb--20" (click)="handleArrow('right')">
          <span class="icon-mapfre_005_angle-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>
