<div [formGroup]="form.controls['identity']" class="row justify-content-md-center mb-xs--1">

  <div class="col col-lg-10">
    <div class="row">

      <!-- Numero de Documento -->
      <div class="col col-12">
        <mf-input
          autocomplete="nope"
          [formControl]="docNumber"
          [label]="labelDocumentNumber"
          [maxlength]="maxLengthDocNumber"
          [minlength]="minLengthDocNumber"
          [error]="showErrors('docNumber')"
          (onfocus)="focusDocumentType()"
          (onkeyup)="removeSpaces()"
          (onpaste)="onPasteNumberDoc($event)">
        </mf-input>
        <mf-show-errors [control]="docNumber"></mf-show-errors>
      </div>

    </div>
  </div>
</div>
