<div class="g-checkbox d-flex" [ngClass]="{'disabled': isDisabled}">
  <label [for]="myId" class="d-inline">
    <input [id]="myId" type="checkbox" [value]="value" [checked]="checked" [(ngModel)]="value">
    <span class="checkbox"></span>
  </label>
  <div>
    <label [for]="myId" class="d-inline" [ngClass]="classLabel">
      <span>
        <span [innerHTML]="label"></span>
        <span *ngIf="extraLabel" [innerHTML]="extraLabel" (click)="onExtraAction($event)"></span>
      </span>
    </label>
  </div>
</div>
