
    <div class="d-none d-md-block">
      {{>atoms-icons}}

      <div class="text-center g-font--18 g-font-md--24 g-font--medium g-mt-lg--5 g-mt--10">
          {{title}}
      </div>
      {{#igvAdd}}
      <div class="text-center g-m--10 ">
        <span class="g-hr-title">{{{text}}}</span>
      </div>
      {{/igvAdd}}

      {{>molecules-price}}
    </div>

    <div class="d-block d-md-none head-card">
      <div class="row no-gutters g-pb--20 g-pb-md--20 ">
        <div class="col g-pt--10 ">
          {{#iconsList}}
            <span class="{{icoClass}} {{addIconClass}} icon-selected-xs g-inline-block"></span>
          {{/iconsList}}
          <div class="g-inline-block g-font--14 g-font-md--18   g-pl--10">{{title}}</div>
          <span class="g-c--gray2 g-font--13  g-mt--0  text-bottom">-
          {{#igvAdd}}
            {{{text}}}
          {{/igvAdd}}
          </span>
        </div>
        <div
          class="col-2  g-pt--5 text-right"
          data-toggle="collapse"
          data-target="#{{sctrId}}"
          role="button"
          aria-expanded="true"
          aria-controls="{{sctrId}}"
        >
          <span class="icon-mapfre_008_angle-down g-font--21"></span>
        </div>
        <div class="col-12">
          <div class="d-flex g-font--bold align-items-center">
            <span class="g-inline-block g-font--14 g-font-md--18 currency-xs text-mont g-m--0 g-pr--5">S/</span>
            <span class="g-inline-block g-font--18 g-font-md--20 text-mont">{{mont}}</span>
          </div>
        </div>
        <div class="col-12 text-center">
          <div class="text-center g-pt--20 ">
            {{>atoms-buttons(addClass: "g-btn-outline g-text--uppercase g-btn--default", text: "QUITAR SEGURO" ) }}
          </div>
        </div>
      </div>
    </div>
    <div class="collapse" id="{{sctrId}}">
      <div class="row no-gutters g-pl--20 g-pl-md--20 g-pl-lg--20 g-pl-xl--20 g-pr--10 g-pt--10 g-pb--10">
        <div class="col"><b>{{coverage}}</b></div>
        <div class="col text-right">
          <div class="g-link--small g-c--green1 g-font--bold g-underline g-modal--link g-c--pointer {{addClass}}" data-modal="{{modalView}}" onclick="{{onclick}}">{{{view}}}</div>
        </div>

      </div>

      <div class=" g-pb--20 g-pb--35 g-pb-xl--25">
      {{#itemList}}
          {{>atoms-lists}}
      {{/itemList}}
      </div>

    </div>
    <div class="d-none d-md-block g-pb-md--20  btn-fixed--bottom">
      <div class="text-center">
          {{>atoms-buttons(addClass: "g-btn-outline g-text--uppercase g-btn--default", text: "QUITAR SEGURO" ) }}
      </div>
    </div>