<div class="row">
  {{#alert}}
    <div class="col-12  g-mt--20 ">
      {{>atoms-alert}}
    </div>
  {{/alert}}

  <div class="col-xs col-12 col-lg-6">
    <div class="row">
      <div class="col-sm col-md-6">
        {{#insured1}}
          {{>atoms-mf-select}}
        {{/insured1}}
      </div>
      <div class="col-sm col-md-6">
        {{#insured2}}
          {{>atoms-mf-input}}
        {{/insured2}}
      </div>
    </div>
  </div>

  {{#insured5}}
    <div class="col-xs col-md-6 col-lg-3">
      {{>atoms-mf-input}}
    </div>
  {{/insured5}}

  {{#insured6}}
    <div class="col-xs col-md-6 col-lg-3">
      {{>atoms-mf-input}}
    </div>
  {{/insured6}}

  <div class="w-100 d-none d-xl-block"></div>

  {{#insured4}}
    <div class="col-xs col-md-6 col-lg-6">
      {{>atoms-mf-input}}
    </div>
  {{/insured4}}

  {{#insured3}}
    <div class="col-xs col-md-6 col-lg-3">
      {{>atoms-mf-input-currency}}
    </div>
  {{/insured3}}

  {{#insured7}}
    <div class="col-xs col-md-6 col-lg-3">
      {{>atoms-mf-input-datepicker}}
    </div>
  {{/insured7}}

</div>