<div class="g-box--shadow1 g-bg-c--white1 g-filter  g-p--0 g-filter--resumen g-o-hidden patternlab-none" data-boxtoggle="resumen">
  <div class="g-px--20  g-pt--10 g-pb--10 g-py-lg--15 g-filter--head {{addClass}}" data-boxtitle="title" >
    <div class="g-font-md--14 g-c--white1 ">
      {{{titleHead}}}
    </div>
    <div class="d-block d-lg-none d-flex justify-content-between align-items-end">
      <div class="g-c--white1 g-font-md--14 g-font--light">PRECIO FINAL:</div>
      <div class="g-c--white1 g-font--bold g-font--18 g-font-md--20">S/ 22,000.00</div>
    </div>
  </div>
  <div class=" g-px--20 ">
    {{#listItem}}
      {{>molecules-items-list}}
    {{/listItem}}
  </div>
  <div class="{{addfooterClass}}">
    <div class="d-flex align-items-center justify-content-between">
      <div class="g-font--bold">
        {{{TextLeft}}}
      </div>
      <div class="g-font--24 g-font-md--30  g-pl--10  g-text--nowrap">
        <span>
          {{{amount}}}
        </span>
      </div>
    </div>
  </div>
</div>