<div class="g-bg-c--white1 g-filter g-filter--resumen  g-p--0  g-box--shadow1 g-accordion--container patternlab-none {{addClass}}" data-boxtoggle="resumen">

  <div class="g-c--white1 g-filter--head  g-px--20  d-flex justify-content-between align-items-center {{headClass}}" data-boxtitle="title"  onclick="boxToggle.toggle('resumen')">
    <div class="w-100 g-line--14 g-text--uppercase d-lg-flex justify-content-between align-items-end">
      <span class="">
        <span class="g-font--12 d-block">{{textResume}}</span>
        {{endResume}}
      </span>
      <span class="g-font--bold g-filter--mount">
        {{mountResume}}
      </span>
    </div>
    <div class="d-block d-lg-none">
      <span class="icon-mapfre_007_angle-up g-font--21"></span>
    </div>
  </div>

  <div class="title--2 d-xl-none d-block">
    <div class=" g-m--0  d-inline-block g-font--18 g-font-md--20">Resumen de tu pago</div>
    <span class="icon-mapfre_049_close2 g-font--30 float-right" onclick="boxToggle.toggle('resumen')"></span>
  </div>

  {{#accordion}}
    {{>molecules-accordion-alternative}}
  {{/accordion}}

  {{#infoBotton}}
    {{>molecules-box-info}}
  {{/infoBotton}}

</div>



