<div class="g-bg-c--white1 g-box--shadow1 {{addCardClass}}"  data-accordion="container" data-group="">
  <div data-accordion="item" data-open="{{openCard}}">
    <div class="g-c--gray1 d-flex" data-accordion="title">
      <div class="w-100 {{titleCardClass}}">
        {{{titleCard}}}
      </div>
      <div class="g-c--pointer" data-accordion="click">
        <span class="icon-mapfre_101_ico-dow g-c--pointer" data-accordion="on"></span>
        <span class="icon-mapfre_102_ico-up g-c--pointer" data-accordion="off"></span>
      </div>
    </div>
    <div data-accordion="content">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="w-100 g-pr--15">
          {{#datepicker}}
            {{>atoms-mf-input-datepicker}}
          {{/datepicker}}
        </div>
        <div class="g-pt--20">
          <div class="d-flex align-items-center">
            <div>
              {{#iconsList}}
              <span class="{{icoClass}} g-c--gray9"></span>
              {{/iconsList}}
            </div>
            <div class="g-pl--10">
              <div class="{{labelDateClass}}">
                {{{labelDate}}}
              </div>
              <div class="g-font--14 g-c--gray9">
                {{{date}}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>