<div class="g-font--medium g-font--18 g-font-md--20 {{addClass}}">
  {{title}}
</div>
<div class="row">
  <div class="col-12">
    {{#data1}}
      {{>atoms-mf-input}}
    {{/data1}}
  </div>
  <div class="col-12">
    {{#data2}}
      {{>atoms-mf-input}}
    {{/data2}}
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        {{#data3}}
          {{>atoms-mf-input-datepicker}}
        {{/data3}}
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="d-md-flex d-sm-inline-flex justify-content-end">
          <div class="bd-highlight">
            {{#data4}}
              {{>atoms-mf-input}}
            {{/data4}}
          </div>
          <div class=" g-p--20 bd-highlight">
            <img class=" g-mt--15 " src="../../../images/pago-seguro.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="col-12  g-mt--20 ">
    {{#btn-primary}}
      {{>atoms-buttons}}
    {{/btn-primary}}
  </div>
</div>
