{{#alert-bank-peyment}}
  {{>atoms-alert}}
{{/alert-bank-peyment}}
<div class="row">
  <div class="col-12 g-mt--10 ">
    <p class="g-c--gray1 g-font--bold  g-mb--0 ">Generarémos un número de pago con el que podrás adquirir tu póliza.</p>
    <p class="g-c--gray1  g-mb--0 ">Bancos donde puedes realizar el pago:</p>
  </div>
  <div class="col-12">
    {{#content}}
      {{>atoms-items}}
    {{/content}}
  </div>
  <div class="col-12  g-mt-md--20  text-center">
    {{#btn-primary}}
      {{>atoms-buttons}}
    {{/btn-primary}}
  </div>
</div>