<div class="g-font--medium g-font--14 g-font-md--18  g-my--10  {{addClass}}">
  {{title}}
</div>
<div class="row no-gutters">
  {{#radioCard}}
  <div class="col-12 col-md-6 g-p--10 align-items-center">
    <label class="g-radio g-b--1 g-bc--gray7 g-b-radius--5 d-flex g-block align-items-center  g-mb--0  w-100 h-100 g-p--15">
      <input type="radio" name="{{name}}">
      <span class="radio "></span>
      <span class="{{addImgClass}}"><img src="{{src}}"></span>
    </label>
  </div>
  {{/radioCard}}
   <div class="col-12  g-mt--20  text-center">
    {{#btn-primary}}
      {{>atoms-buttons}}
    {{/btn-primary}}
  </div>
</div>