<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11 g-pt--40 schedule-detail">
  <client-form-base
    (actionCancel)="actionCancel()"
    [btnCancel]="graLng?.Buttons?.Back"
    [btnCancelClass]="'w-100'"
    [iconClass]="fileIcon"
    [isVisibledBtnConfirm]="false"
    [showLoading]="showLoading"
  >
    <div class="g-p--20 g-p-lg--40">
      <!-- Titulo -->
      <div class="d-flex align-items-center g-mb--5">
        <div class="g-font-md--20 g-font--medium w-100">
          {{ covidIsActive ? '1. DATOS DE LA PRUEBA COVID-19' : '1. DATOS DE LA CITA MÉDICA' }} {{  appointment?.tipoCita ===  typeAppoiment.PRESENCIAL ? 'PRESENCIAL' : 'VIRTUAL' }}
        </div>
        <div>
          <span
            (click)="edit()"
            *ngIf="!covidIsActive"
            class="icon-mapfre_035_edit g-c--pointer g-c--green1 g-font--18"
            title="Modificar"
          >
          </span>
          <span
            (click)="openModal()"
            *ngIf="appointment?.puedeEliminar"
            class="icon-mapfre_282_borrar g-c--pointer g-c--green1 g-font--18 g-ml--40"
            title="Anular"
          >
          </span>
        </div>
      </div>
      <!-- Datos -->
      <div class="d-flex flex-wrap w-100">
        <div *ngIf="appointment?.tipoCita === typeAppoiment.PRESENCIAL" class="g-w-100 g-pr-lg--15">
          <div class="g-pt--10 g-font--light g-font--13">
            Lugar de Atención:
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.nombre }}
            <br>
            <div class="g-font--light">
              {{ appointment?.fullDirection }}
            </div>
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Fecha
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.fecha | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Hora
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.time?.horaInicio }} hrs
          </div>
        </div>
        <div *ngIf="covidIsActive" class="g-w-100 g-pr-lg--15">
          <div class="g-pt--20 g-font--light g-font--13">
            Tipo de prueba:
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.especialidad?.especialidadDescripcion }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15">
          <div class="g-pt--20 g-font--light g-font--13">
            Paciente
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.paciente?.topLbl }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="appointment?.telefono">
          <div class="g-pt--20 g-font--light g-font--13">
            Número de contacto
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.telefono }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Póliza
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.poliza?.descripcionPoliza }}
            <br>
            <div class="g-font--light">
              {{ appointment?.poliza?.numeroPoliza }}
            </div>
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Especialidad
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.especialidad?.especialidadDescripcion }}
          </div>
        </div>
      </div>
      <!-- Titulo -->
      <div class="d-flex align-items-center g-mb--5 g-mt--40" *ngIf="!covidIsActive">
        <div class="g-font-md--20 g-font--medium w-100">
          2. DETALLES DE LA CITA MÉDICA
        </div>
      </div>
      <!-- Datos -->
      <div class="d-flex flex-wrap w-100">
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--10 g-font--light g-font--13">
            Doctor
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.doctor?.nombreCompleto }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Fecha
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.fecha | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Hora
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.time?.horaInicio }} hrs
          </div>
        </div>
      </div>
      <div *ngIf="appointment?.especialidad?.especialidadId !== especialityCovid" class="g-bg-c--gray12 g-mt--25 g-px--15 g-py--10 g-b-radius--5">
        <div class="d-flex align-items-center">
          <div class="w-100 g-font--bold d-flex align-items-center">
            <span class="g-pr--5">
              {{
                covidIsActive ?  graLng?.Labels?.AppointmentPayCovid :
                appointment?.especialidad?.codigoTipoDeducible === 'DAGR'
                  ? graLng?.Labels?.DAA
                  : graLng?.Labels?.AppointmentPay
              }}:
            </span>
            <mf-tooltips *ngIf="appointment?.especialidad?.codigoTipoDeducible === 'DAGR'">
              <div class="text-left text-left g-font--13 g-font--light g pb-2 g-font--13 g-font--bold">{{ tooltip?.title }}</div>
              <div class="g-font--12 g-font--normal text-left">{{ tooltip?.body }}</div>
            </mf-tooltips>
          </div>
          <div class="ml-auto flex-shrink-0 g-font--bold">
            {{ covidIsActive ? 'S/.' : appointment?.especialidad?.codigoMonedaCopago === 1 ? 'S/.' : '$' }}
            {{ appointment?.especialidad?.montoCopago?.toFixed(2) }}
          </div>
        </div>
      </div>
      <mf-custom-alert *ngIf="(appointment?.tipoCita === typeAppoiment.PRESENCIAL && !appointment['pagado'])" [status]="status" [text]="graLng?.Texts?.AppointmentPay"></mf-custom-alert>
    </div>
  </client-form-base>
</div>
<mf-modal-alert
  (confirmResponse)="onConfirmModal($event)"
  [confirmButtonText]="graLng?.Buttons?.Nullify"
  [confirm]="true"
  [noMinHeight]="true"
  [sizeClass]="'g-modal--medium'"
>
  <div class="m-auto text-center g-py--20 g-px--20">
    <div class="g-font--18 mb-4 g-font--medium">
      {{ graLng?.Messages?.AreYouSureToDelete }}
    </div>
  </div>
</mf-modal-alert>
<mf-modal-message
  [messageDone]="graLng.Titles.EditTimeOut"
  [messageSuccessUpdate]="graLng.Messages.EditTimeOut"
  [pathIcon]="iconTime"
  [sizeClass]="'g-modal--medium'"
>
</mf-modal-message>
