<div class="g-ui--view">

  <div class="g-fixed g-ie-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">
      {{#header}}
      {{>molecules-header-step}}
      {{/header}}

      <section class="{{contenClass}} pb-lg-5 pt-4 pb-4">
        <div class="container">
          {{#title}}
          <div class="{{addClass}} ">{{{text}}}</div>
          {{/title}}

          {{#filter}}
          {{>molecules-filter-sctr}}
          {{/filter}}

          <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5 g-mt--25">

            {{#head}}
              <div class="{{addClass}}">

                <div class="d-flex g-ie-flex--0-1-auto w-10">

                  {{#icon}}
                    <div class="{{ContentClass}} ">
                      <span class="{{iconFile}} {{iconClass}} "></span>
                    </div>
                  {{/icon}}

                  <div class="{{conteinerClass}}">
                    {{#content}}
                      <div class="{{contentClass}}">
                        {{#text}}
                          <div class="{{textClass}}">{{{text}}}</div>
                        {{/text}}
                      </div>
                    {{/content}}
                  </div>

                </div>

                {{#actions}}
                  <div class="{{addClass}}">
                    {{#contentActions}}
                      <div class="{{contentClass}}">
                        {{#text}}
                          <div class="{{textClass}}">{{{text}}}</div>
                        {{/text}}
                      </div>
                    {{/contentActions}}
                  </div>
                {{/actions}}


              </div>
            {{/head}}

            <div class="{{contentClass}} g-p--15 g-py-lg--35 g-px-lg--50">
              {{#filterPage}}
              <div class="{{addClass}} ">
                {{#content}}
                  <div class="{{contentClass}}">
                    {{#text}}
                      <div class="{{textClass}}">{{{text}}}</div>
                    {{/text}}
                  </div>
                {{/content}}
              </div>
              {{/filterPage}}

              {{#search}}
                {{>atoms-mf-search}}
              {{/search}}

              {{#content}}
                {{>molecules-table2}}
              {{/content}}

            </div>
          </div>

        </div>
      </section>

    </div>

    {{#footer}}
      {{>molecules-footer}}
    {{/footer}}

  </div>
</div>