<div class="g-p--20 g-p-lg--40">

  <!-- Title -->
  <div class="g-font-md--20 g-font--medium g-text--uppercase">
   {{ lang.Step2.title }}
  </div>

  <!-- Formulario -->
  <div [formGroup]="form">
    <!-- Datos personales -->
    <div>
      <!-- Nombre -->
      <div class="g-font--medium g-font--16 g-pb--5 g-mt--10 g-mt-lg--20 g-line--10">{{ clientInformation.nombreCompletoCliente }}</div>
      <!--DNI  -->
      <div class="g-font--light">{{ clientInformation.tipoDocumento }}: {{ clientInformation.documento }}</div>

      <div class="g-font--medium g-font-lg--18 g-mt--20 g-line--10">{{ lang.Step2.ContactData }}</div>
      <div class="d-flex flex-wrap w-100 ">
        <!-- Email -->
        <div class="g-w-100 g-pr-lg--15 g-pb--10 g-pt--0">
          <mf-input
            formControlName="email"
            [label]="profileLang.Texts.Email"
            [maxlength]="maxLength.card_email"
            [minlength]="minLength.card_email"
            [error]="showErrors('email')"
            (onblur)="removeSpaces('email')">
          </mf-input>
          <mf-show-errors [control]="form.controls['email']"></mf-show-errors>
        </div>
        <!-- Telefono -->
        <div class="g-w-100 g-pr-lg--15 g-pb--10 g-pt--0">
          <mf-input
            formControlName="phone"
            [label]="profileLang.Labels.Phone"
            [maxlength]="maxLength.sd_phone_contact"
            [minlength]="minLength.sd_phone_contact"
            [error]="showErrors('phone')"
            (onblur)="removeSpaces('phone')">
          </mf-input>
          <mf-show-errors [control]="form.controls['phone']"></mf-show-errors>
        </div>
      </div>
    </div>
    <!-- Fin - Datos personales -->

    <!-- Direccion asociada -->
    <client-quote-buy-address
      *ngIf="form"
      [defaultAddress]="contractor"
      [title]="lang.Step2.PolicyAddress"
      [form]="form">
    </client-quote-buy-address>

    <!-- Clausula -->
    <div class="g-mt--40">
      <mf-checkbox
        class="d-block w-100"
        formControlName="clause"
        [label]="lang.Step2.Clause.start"
        [extraLabel]="extraLabel"
        [checked]="contractor"
        (extraLabelAction)="clauseOpen()"
        (change)="clauseChange($event)">
      </mf-checkbox>
    </div>

  </div>

</div>

<!-- Footer -->
<div class="d-flex g-p--15 g-bt--1 g-bc--gray11">
  <div class="w-50 g-pr--5 g-pr-lg--10">
    <button mf-button outline
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      (click)="back()"
      ctrl="buttonsStep2"
      (domChange)="onDomChange($event, { label: generalLang.Buttons.Back })">
      {{ generalLang.Buttons.Back }}
    </button>
  </div>
  <div class="w-50 g-pl--5 g-pl-lg--10">
    <button
      mf-button [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      [disabled]="!form.valid"
      (click)="verifyInfo()"
      ctrl="buttonsStep2"
      (domChange)="onDomChange($event, { label: generalLang.Buttons.Next })">
      {{ generalLang.Buttons.Next }}
    </button>
  </div>
</div>

<!-- Modal -->
<mf-modal
  [title]="lang.Step2.Clause.end.toUpperCase()"
  [confirm]="false"
  [titleMobile]="header.title.toUpperCase()"
  [secondTitleMobile]="lang.Step2.Clause.end.toUpperCase()"
  sizeClass="g-full-modal--faqs g-full-modal--medium">
  <div class="g-mx-lg--50 g-my-lg--20 g-font--13" [innerHTML]="clause"></div>
</mf-modal>
