
   <div class="row align-items-start g-mt--20  g-pb--30 ">

    <div class="col col-md-12 col-lg-6 col-xl-7 text-center">
      <div class="g-text--uppercase text-center g-pb--15 g-pb--0">
        {{#title}}
          {{>atoms-title-two}}
        {{/title}}
        <div class="g-font--14 g-font-md--18  g-pt--10  g-pt-lg--0 g-font--medium">{{{subtitle}}}</div>
      </div>

      {{#imgIcon}}
        {{>molecules-icon-two}}
      {{/imgIcon}}
    </div>

    <div class="col-12 col-lg-6 col-xl-5">
      <div class="landing--form g-box g-bg-c--white1 g-b-radius--30 g-p--20 g-p-md--25 ">
        <div class="clearfix g-p--0 ">
          {{>organisms-title}}
          {{#form}}
            {{>organisms-cotiza}}
          {{/form}}
        </div>
      </div>
    </div>
  </div>
