<div class="g-text--uppercase text-center g-pb--20 g-pb-lg--30 ">
    {{>atoms-title-two(addClass: "gh1-sctr", title1: "SCTR ", title2: "SALUD Y PENSIÓN")}}
    <div class="g-font--18 g-font-md--24">PUEDES SELECCIONAR NUESTRAS DOS CORBETURAS</div>
</div>

<div id="carouselExampleIndicators" class="carousel slide  g-pb--3 " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    {{#boxSlideInfo}}
      <div class="{{addClass}}">
        {{#contentHealth}}
          {{>organisms-box-info}}
        {{/contentHealth}}
      </div>
    {{/boxSlideInfo}}
  </div>
  <a class="carousel-control-prev g-icon-circle g-icon-c--slide nextPrevBtn g-bg-c--gray7 g-c--white1 mx-auto" data-target="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next g-icon-circle g-icon-c--slide nextPrevBtn g-bg-c--gray7 g-c--white1 mx-auto" data-target="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>

<div class=" g-pb--20  g-mt--20 g-mb--20  g-mt-lg--25  g-mb-lg--0 d-relative">
    <a href="#landing-activity" class="g-top-scroll">
        {{>atoms-icons( circle-addClass: "g-bg-c--gray7 g-c--white1 mx-auto", iconFile: "icon-mapfre_008_angle-down", size: "g-font--25 g-font-md--21" ) }}
    </a>
</div>