
  <div class="g-text--uppercase text-center g-pb--20 ">
    {{#title}}
      {{>atoms-title-two}}
    {{/title}}
    <div class="g-font--14 g-font-md--18 g-font--medium g-c--gray3">{{subtitle}}</div>
  </div>

  <div class="container landing-health-content ">
    <div class="row justify-content-center g-p--0 ">
      <div class="row col col-lg-11 justify-content-center">
        {{#boxInfo}}
          {{>organisms-box-info}}
        {{/boxInfo}}
      </div>
    </div>
  </div>

  {{#buttomLink}}
    <div class=" g-pb--20  g-mt--20 g-mb--20  g-mt-lg--25  g-mb-lg--0 d-relative">

        <a href="#landing-activity" class="g-top-scroll">
          {{>atoms-icons}}
        </a>

    </div>
  {{/buttomLink}}