<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>
<mf-custom-alert *ngIf="!showLoading" [status]="statusAlertInfo" [text]="textAlertInfo"></mf-custom-alert>
<div class="g-terms-clinic-digital g-bg-c--white1 g-o-y--auto g-box--shadow1 g-p--25 g-b-radius-t--5 g-mt--25" *ngIf="!showLoading">
  <div class="d-flex flex-column w-100">
    <div [innerHTML]="textTermAndConditions"></div>
  </div>
</div>
<div class="g-bg-c--white1 d-flex w-100 g-box--shadow1 g-px--25 g-py--25 g-bt--1 g-b-radius-b--5 g-mb--60" *ngIf="!showLoading">
  <div class="w-50 g-pr--5 g-pr-lg--10">
    <button
      ctrl="btnCancel"
      (click)="toRefuse()"
      mf-button
      outline
      class="g-btn g-text--uppercase g-btn-primary size-md d-block w-100 g-max-w--24 mx-auto g-btn-outline">
       {{ btnToCancel }}
    </button>
  </div>
  <div class="w-50 g-pl--5 g-pl-lg--10">
    <button
      ctrl="btnConfirm"
      (click)="toAccept()"
      mf-button
      class="g-btn g-text--uppercase g-btn-primary size-md d-block w-100 g-max-w--24 mx-auto">
       {{ btnToAccept }}
    </button>
  </div>
</div>
