<div class="pt-xs--2">

  <div [formGroup]="frm" class="row mb-xs--2" [ngClass]="{ 'g-full-form--load': isLoadingFiltersVisible }">
    <div class="col">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div class="g-px-lg--25 g-px--20 pt-3 pb-5">
          <div class="row">
            <div class="col">
              <div class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase">
                {{ title }}<span class="g-font--light g-text--lowercase"> - {{ totalPluralized }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mf-select
                (getLoadingState)="getCboLoadingState($event)"
                [config]="configCbo"
                [dependent1]="policyNumber"
                [frm]="frm"
                [label]="policyLang.Texts.VigencyStart"
                [name]="'vigencyMonth'"
                [type]="'vigencyMonth'"
                formControlName="vigencyMonth">
              </mf-select>
            </div>
            <div [ngClass]="{'d-none': !mpKeys?.MP_VER_CBO_TIPOS_CONSTANCIAS}" class="col-md-4">
              <mf-select
                [config]="configCbo"
                [dependent1]="policyNumber"
                [frm]="frm"
                [label]="policyLang.Texts.constancyType"
                [name]="'recordType'"
                [type]="'recordType'"
                formControlName="recordType">
              </mf-select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mb-xs--2">
      <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
        <div>
          <!-- Buscador -->
          <div [ngClass]="{ 'g-full-form--load': isLoadingFiltersVisible }">
            <div class="row align-items-top g-px--10 g-px-lg--20 mt-4">
              <div class="col-md-4 mb-3">
                <div class="g-mx--10 g-mx-md--0">
                  <client-input-search
                    [hideClear]="true"
                    [maxLength]="maxLengthSearch"
                    (search)="onSearch($event)"
                    [placeholder]="lang.placeholderSearch"
                    #inputSearch>
                  </client-input-search>
                  <div class="g-mt--5">
                    <span class="txt-error"
                      *ngIf="searchText && !(searchText?.length >= minLengthSearch)">
                      El número mínimo de caracteres es {{ minLengthSearch }}.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="d-flex">
                  <button
                    (click)="search()"
                    [disabled]="searchText?.length < minLengthSearch"
                    class="g-btn g-text--uppercase g-btn-primary d-block w-100 mr-1"
                    mf-button>{{ generalLang.Buttons.Search }}</button>
                  <button
                    (click)="clear()"
                    class="g-btn g-text--uppercase g-btn-primary d-block w-100 g-btn-outline ml-1"
                    mf-button
                    outline>{{ generalLang.Buttons.Clear }}</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Paginador -->
          <mf-paginator
            (itemsPerPageChange)="itemsPerPageChange($event)"
            (pageChange)="pageChange($event)"
            [autoHide]="true"
            [isHeaderLabelsVisible]="false"
            [perPageList]="[10, 25, 50]"
            [total]="total"
            [marginTop]="false"
            [hasBorder]="false"
            marginCard="g-mx-lg--20"
            perPageListColor="g-c--green1"
          >
            <!-- Loading -->
            <mf-loader *ngIf="showLoading"></mf-loader>
            
            <!-- No encontrado -->
            <client-item-not-found
              [show]="!showLoading && !records.length"
              [text]="lang.ItemNotFound">
            </client-item-not-found>
            
            <!-- Lista -->
            <mf-card-item
              *ngFor="let record of records | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total } let i = index">
              <client-item-sctr-record *ngIf="!showLoading"
                [mpKeys]="mpKeys"
                [index]="itemsPerPage * (page - 1) + i + 1"
                [record]="record">
              </client-item-sctr-record>
            </mf-card-item>

          </mf-paginator>
        </div>
      </div>
    </div>
  </div>

</div>
