<!-- Content -->
<div *ngFor="let item of itemList; let last = last"
  [ngClass]="{'g-pb--10': !last}"
  class="d-flex w-10 g-line--12 g-font--light">
  <span
    *ngIf="item.icon"
    [ngClass]="{'g-font--4 g-c--gray2 g-pt--8 g-pl--7 g-pr--13': item.iconBullet, 'g-font--16 g-c--gray18 g-pt--2 g-pr--9': !item.iconBullet}"
    class="{{ item.icon }}"></span>
  <span class="g-font--light d-lg-flex g-o--hidden g-ie-flex--1 g-pt--2" [title]="getTitle(item)">
    <span class="g-font--medium g-mr--5" *ngIf="item.label"
    [ngClass]="{'text-lg-truncate': item.label && !item.text}">{{ item?.label }}</span>
  <span [ngClass]="{'g-font--medium': item.textBold}">
    {{ item?.text }}
  </span>
  </span>
</div>
