<section class="h-100 align-items-center d-flex g-error justify-content-center">
  <div class="text-center g-py--50 g-py-xl--0">
    <div>
      <img class="g-mw--6" [src]="image">
    </div>
    <div class="g-font--20 g-font-sm--24 g-font-md--30 g-font--bold g-c--gray8 g-py--20">
      {{ title }}
    </div>
    <div class="g-font--18 g-c--gray8">
      {{ message }}
    </div>
  </div>
</section>
