<div class="g-items {{addClass}}">
  {{#list}}
    <div class="g-items-list {{itemClass}}" onclick="{{onclick}}">
      {{#icon}}
        <div class="g-items-icon {{iconFile}} {{iconClass}}"></div>
      {{/icon}}

      {{#title}}
        <div class="g-items-text {{textClass}}">
          {{{text}}}
        </div>
      {{/title}}

      {{#subtitle}}
        <div class="g-items-text {{textClass}}">
          {{{text}}}
        </div>
      {{/subtitle}}

      {{#imgSrc}}
        <div>
          <img src="{{srcImage}}" alt="alt">
        </div>
      {{/imgSrc}}

    </div>
  {{/list}}
</div>