<div class="g-font--medium g-font--16 mb-xs--1">{{ title }}</div>
<div class="row ">
  <div class="col-12 col-lg-6 mb-xs--3 ">
    <div class="g-b--1 g-bc--gray12 g-b-radius--5 g-o-hidden h-100">
      <div class="g-bg-c--gray12">
        <div class="d-flex p-xs--1 align-items-center">
          <div class="d-flex g-ie-flex--0-1-auto">
            <span class="icon-mapfre_118_damage_partial g-font--25 g-font-md--21 g-c--gray1"></span>
          </div>
          <div class="pl-xs--1">
            <span class="g-font--medium">Daño parcial</span>
          </div>
          <div class="ml-auto g-font--light g-pr--5">
            Tu sólo pagas:
          </div>
        </div>
      </div>
      <div class="pb-2 pl-4 pr-4 d-flex pt-xs--1 flex-wrap">
        <div class="w-100 d-flex" *ngFor="let parcial of item.danioParcial; trackBy: trackByFn;">
          <div class="">{{ parcial.descripcion }}</div>
          <div class="ml-auto g-font--medium g-font--16 pr-xs---2">{{ parcial.valor }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-xs--3 ">
    <div class="g-b--1 g-bc--gray12 g-b-radius--5 g-o-hidden h-100">
      <div class="g-bg-c--gray12">
        <div class="d-flex p-xs--1 align-items-center">
          <div class="d-flex g-ie-flex--0-1-auto">
            <span class="icon-mapfre_119_damage_total g-font--25 g-font-md--21 g-c--gray1"></span>
          </div>
          <div class="pl-xs--1">
            <span class="g-font--medium">Daño total</span>
          </div>
        </div>
      </div>
      <div class="pb-2 pl-4 pr-4 d-flex pt-xs--1 flex-wrap">
        <div class="w-100">
          <div class="">Te devolvemos la suma asegurada:</div>
          <div class="ml-auto g-font--medium g-font--20 pr-xs---2">{{ item.danioTotal?.monto | currency:
            getMoneyDescription(item.danioTotal.codigoMoneda)}} </div>
        </div>
      </div>
    </div>
  </div>
</div>
