<div class="tab-content">
  <div *ngIf="messageText1"
    class="g-c--gray2 g-font--light g-pt--25 g-pb--10 g-px--10 g-px-lg--0">
    {{ messageText1 }}
  </div>
  <div *ngIf="messageText2"
    [ngClass]="{'text-center': confirm}"
    class="g-c--gray2 g-font--light g-px--10 g-px-lg--0">
    {{ messageText2 }}:
  </div>

  <div class="d-flex justify-content-around flex-wrap g-mt--20">
    <div class="g-w-50 g-w-md-33 text-center g-pb-lg--20">
      <img [src]="imagesBanks.BBVA" alt="">
    </div>
    <div class="g-w-50 g-w-md-33 text-center g-pb-lg--20">
      <img [src]="imagesBanks.BCP" alt="">
    </div>
    <div class="g-w-50 g-w-md-33 text-center g-pb-lg--20">
      <img [src]="imagesBanks.BANBIF" alt="">
    </div>
    <div class="g-w-50 g-w-md-33 text-center">
      <img [src]="imagesBanks.SCOTIABANK" alt="">
    </div>
    <div class="g-w-50 g-w-md-33 text-center">
      <img [src]="imagesBanks.INTERBANK" alt="">
    </div>
  </div>
</div>
