 <!-- Description -->
  <div class="g-font--light" *ngIf="description">
   {{ description }}
  </div>

  <div
    [formGroup]="form.controls['provider']"
    [ngClass]="{'g-full-form--load-sm': showLoading}"
    class="g-w-sm-50 g-w-100 g-pr-sm--15 g-pb--20 g-input-icon-pin">
    <client-input-with-icon
      [classIcon]="ruc.value? (closeIcon + ' g-c--gray9'): ''"
      [pointer]="true"
      (clickIcon)="clearRuc()">
      <ng-container *ngIf="maxLength">
        <mf-input
          formControlName="ruc"
          type="tel"
          [maxlength]="maxLength"
          [error]="showErrors('ruc')"
          [label]="lang.RUC">
        </mf-input>
      </ng-container>
      <ng-container *ngIf="!maxLength">
        <mf-input [label]="lang.RUC" value=""></mf-input>
      </ng-container>
    </client-input-with-icon>
    <mf-show-errors [control]="ruc"></mf-show-errors>
  </div>

 <!-- Alerta Success-->
 <div class="d-flex g-ie-flex--0-1-auto g-pb--10"
  *ngIf="ruc.valid && verify.value && !showLoading">
   <div class="g-pr--10 g-pt--3">
     <span class="g-font--24 g-c--green1" [ngClass]="circleCheckIcon"></span>
   </div>
   <div class="w-10">
     <div class="g-font--medium g-font-lg--16">{{ lang.Social }} {{ lang.Verify }}</div>
   </div>
 </div>

 <!-- Alerta Not found-->
 <div
  class="d-flex g-ie-flex--0-1-auto g-pb--10"
  *ngIf="ruc.valid && verify.value === false && !showLoading">
  <div class="g-pr--10 g-pt--3">
     <span class="g-font--24 g-c--gray18" [ngClass]="warningIcon"></span>
   </div>
   <div class="w-10">
     <div class="g-font--medium g-font-lg--16">{{ lang.Social }} {{ lang.NotFound }}</div>
     <div class="g-font--light">{{ lang.Error }}</div>
   </div>
 </div>
<!-- Input Razón Social -->
 <div [formGroup]="form.controls['provider']" class="g-mb--20">
  <mf-input
    formControlName="social"
    [dontWhiteSpace]="true"
    [minlength]="socialMinLength"
    [maxlength]="socialMaxLength"
    [label]="lang.Social"
    [error]="showErrors('social')">
  </mf-input>
  <mf-show-errors [control]="social"></mf-show-errors>
 </div>
