/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 1000;
}
.cdk-global-overlay-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1000;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}
.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.48;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.cdk-overlay-transparent-backdrop {
  background: 0 0;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
.owl-dialog-container {
  position: relative;
  pointer-events: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 1.5em;
  -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: auto;
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  outline: 0;
}
.owl-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.owl-dt-container,
.owl-dt-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.owl-dt-container {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  background: #fff;
  pointer-events: auto;
  z-index: 1000;
}
.owl-dt-container-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.owl-dt-container-row:last-child {
  border-bottom: none;
}
.owl-dt-calendar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.owl-dt-calendar-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1em;
  width: 100%;
  padding: 0.5em;
  color: #000;
}
.owl-dt-calendar-control .owl-dt-calendar-control-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.owl-dt-calendar-control .owl-dt-calendar-control-content .owl-dt-calendar-control-button {
  padding: 0 0.8em;
}
.owl-dt-calendar-control .owl-dt-calendar-control-content .owl-dt-calendar-control-button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.owl-dt-calendar-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 0.5em 0.5em;
  outline: 0;
}
.owl-dt-calendar-view {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.owl-dt-calendar-multi-year-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.owl-dt-calendar-multi-year-view .owl-dt-calendar-table {
  width: -webkit-calc(100% - 3em);
  width: -moz-calc(100% - 3em);
  width: calc(100% - 3em);
}
.owl-dt-calendar-multi-year-view .owl-dt-calendar-table .owl-dt-calendar-header th {
  padding-bottom: 0.25em;
}
.owl-dt-calendar-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.owl-dt-calendar-table .owl-dt-calendar-header {
  color: rgba(0, 0, 0, 0.4);
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  font-size: 0.7em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1em;
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider {
  position: relative;
  height: 1px;
  padding-bottom: 0.5em;
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider:after {
  content: '';
  position: absolute;
  top: 0;
  left: -0.5em;
  right: -0.5em;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
}
.owl-dt-calendar-table .owl-dt-calendar-cell {
  position: relative;
  height: 0;
  line-height: 0;
  text-align: center;
  outline: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.85);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  position: absolute;
  top: 5%;
  left: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  font-size: 0.8em;
  line-height: 1;
  border: 1px solid transparent;
  -moz-border-radius: 999px;
  border-radius: 999px;
  color: inherit;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-out {
  opacity: 0.2;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: rgba(0, 0, 0, 0.4);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  color: rgba(255, 255, 255, 0.85);
  background-color: #3f51b5;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-selected.owl-dt-calendar-cell-today {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.85);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.85);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.85);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled {
  cursor: default;
}
.owl-dt-calendar-table
  .owl-dt-calendar-cell-disabled
  > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  color: rgba(0, 0, 0, 0.4);
}
.owl-dt-calendar-table
  .owl-dt-calendar-cell:not(.owl-dt-calendar-cell-disabled)
  > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  border: thin dashed #8db602;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled > .owl-dt-calendar-cell-content.owl-dt-calendar-cell-selected {
  opacity: 0.4;
}
.owl-dt-calendar-table
  .owl-dt-calendar-cell-disabled
  > .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: rgba(0, 0, 0, 0.2);
}
.owl-dt-calendar-table
  .owl-dt-calendar-cell-active:focus
  > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected),
.owl-dt-calendar-table
  :not(.owl-dt-calendar-cell-disabled):hover
  > .owl-dt-calendar-cell-content:not(.owl-dt-calendar-cell-selected) {
  background-color: rgba(0, 0, 0, 0.04);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  background: rgba(63, 81, 181, 0.2);
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-from {
  -moz-border-radius-topleft: 999px;
  border-top-left-radius: 999px;
  -moz-border-radius-bottomleft: 999px;
  border-bottom-left-radius: 999px;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-to {
  -moz-border-radius-topright: 999px;
  border-top-right-radius: 999px;
  -moz-border-radius-bottomright: 999px;
  border-bottom-right-radius: 999px;
}
.owl-dt-timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 7em;
  padding: 0.5em;
  outline: 0;
}
.owl-dt-timer-box {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
.owl-dt-timer-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0.2em 0;
}
.owl-dt-timer-content .owl-dt-timer-input {
  display: block;
  width: 2em;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: medium none;
  font-size: 1.2em;
  padding: 0.2em;
}
.owl-dt-timer-divider {
  display: inline-block;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: absolute;
  width: 0.6em;
  height: 100%;
  left: -0.3em;
}
.owl-dt-timer-divider:after,
.owl-dt-timer-divider:before {
  content: '';
  display: inline-block;
  width: 0.35em;
  height: 0.35em;
  position: absolute;
  left: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: currentColor;
}
.owl-dt-timer-divider:before {
  top: 35%;
}
.owl-dt-timer-divider:after {
  bottom: 35%;
}
.owl-dt-control-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 1em;
  color: inherit;
}
.owl-dt-control-button .owl-dt-control-button-content {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
}
.owl-dt-control-button:focus > .owl-dt-control-button-content {
  background-color: rgba(0, 0, 0, 0.12);
}
.owl-dt-control-button:not(:-moz-focusring):focus > .owl-dt-control-button-content {
  -moz-box-shadow: none;
  box-shadow: none;
}
.owl-dt-control-period-button .owl-dt-control-button-content {
  height: 1.5em;
  padding: 0 0.5em;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.owl-dt-control-period-button:hover > .owl-dt-control-button-content {
  background-color: rgba(0, 0, 0, 0.12);
}
.owl-dt-control-period-button .owl-dt-control-button-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1em;
  height: 1em;
  margin: 0.1em;
  -webkit-transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease, -moz-transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease, -moz-transform 0.2s ease;
}
.owl-dt-control-arrow-button .owl-dt-control-button-content {
  padding: 0;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}
.owl-dt-control-arrow-button[disabled] {
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}
.owl-dt-control-arrow-button svg {
  width: 50%;
  height: 50%;
  fill: currentColor;
}
.owl-dt-inline-container,
.owl-dt-popup-container {
  position: relative;
  width: 18.5em;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.owl-dt-inline-container .owl-dt-calendar,
.owl-dt-inline-container .owl-dt-timer,
.owl-dt-popup-container .owl-dt-calendar,
.owl-dt-popup-container .owl-dt-timer {
  width: 100%;
}
.owl-dt-inline-container .owl-dt-calendar,
.owl-dt-popup-container .owl-dt-calendar {
  height: 20.25em;
}
.owl-dt-inline-container {
  display: inline-block;
}
.owl-dt-dialog-container {
  max-height: 95vh;
  margin: -1.5em;
}
.owl-dt-dialog-container .owl-dt-calendar {
  min-width: 250px;
  min-height: 330px;
  max-width: 750px;
  max-height: 750px;
}
.owl-dt-dialog-container .owl-dt-timer {
  min-width: 250px;
  max-width: 750px;
}
@media all and (orientation: landscape) {
  .owl-dt-dialog-container .owl-dt-calendar {
    width: 58vh;
    height: 62vh;
  }
  .owl-dt-dialog-container .owl-dt-timer {
    width: 58vh;
  }
}
@media all and (orientation: portrait) {
  .owl-dt-dialog-container .owl-dt-calendar {
    width: 80vw;
    height: 80vw;
  }
  .owl-dt-dialog-container .owl-dt-timer {
    width: 80vw;
  }
}
.owl-dt-container-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2em;
  color: #3f51b5;
}
.owl-dt-container-control-button {
  font-size: 1em;
  width: 50%;
  height: 100%;
  -moz-border-radius: 0;
  border-radius: 0;
}
.owl-dt-container-control-button .owl-dt-control-button-content {
  height: 100%;
  width: 100%;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.owl-dt-container-control-button:hover .owl-dt-control-button-content {
  background-color: rgba(0, 0, 0, 0.1);
}
.owl-dt-container-info {
  padding: 0 0.5em;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.owl-dt-container-info .owl-dt-container-range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5em 0;
  font-size: 0.8em;
}
.owl-dt-container-info .owl-dt-container-range:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.owl-dt-container-info .owl-dt-container-info-active {
  color: #3f51b5;
}
.owl-dt-container-disabled,
.owl-dt-trigger-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
  cursor: default !important;
}
.owl-dt-timer-hour12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3f51b5;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box {
  border: 1px solid currentColor;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box .owl-dt-control-button-content {
  width: 100%;
  height: 100%;
  padding: 0.5em;
}
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:focus .owl-dt-control-button-content,
.owl-dt-timer-hour12 .owl-dt-timer-hour12-box:hover .owl-dt-control-button-content {
  background: #3f51b5;
  color: #fff;
}
.owl-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: #d81e05 !important;
}
.iframe-mediktor {
  height: 800px !important;
  border: none !important;
}
.is-drop-over {
  background-color: rgb(240, 203, 168);
  border-color: #fff;
  border-style: solid;
}
.content-img {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;
  input {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
  }
}
.item-wrap {
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 110px;
}

// STYLE CHAT
.cx-widget {
  width: 360px !important;
}
.cx-widget.cx-theme-blue {
  color: #4a4a4a;
  background-color: #ffffff;
  scrollbar-face-color: #cccccc;
  /* WCAG: non-text contrast for UI components - primary button focus state */
  /* loader icon */
}
.cx-widget.cx-theme-blue .cx-theme {
  background-color: #4b4b4b;
  color: #444a52;
  border-color: #dae1e8 !important;
}
.cx-widget.cx-theme-blue .cx-overlay {
  background-color: #4b4b4b;
}
.cx-widget.cx-theme-blue .cx-svg-icon-tone1 {
  fill: #c1c1c1;
}
.cx-widget.cx-theme-blue .cx-svg-icon-tone2 {
  fill: #8c8c8c;
}
.cx-widget.cx-theme-blue .cx-svg-icon-shadow1 {
  fill: #000000;
  opacity: 0.2;
}
.cx-widget.cx-theme-blue .cx-svg-icon-shadow2 {
  fill: #000000;
  opacity: 0.1;
}
.cx-widget.cx-theme-blue * {
  border-color: transparent;
}
.cx-widget.cx-theme-blue .cx-titlebar {
  height: 50px;
  background-color: #4a4a4a;
  border-radius: 5px 5px 0 0;
  font-size: 9px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-top: -4px;
}
.cx-widget.cx-theme-blue .cx-titlebar .cx-title {
  color: #ffffff;
}
.cx-widget.cx-theme-blue .cx-buttons-window-control .cx-svg-icon-tone1 {
  fill: #ffffff;
}
.cx-widget.cx-theme-blue .cx-input-icon-overlay .cx-svg-icon-tone1 {
  fill: #ffffff;
}
.cx-widget.cx-theme-blue .cx-input-group-btn .cx-svg-icon-tone1 {
  fill: #fdfdfd;
}
.cx-widget.cx-theme-blue label {
  color: #444a52;
}
.cx-widget.cx-theme-blue a {
  color: #000000;
}
.cx-widget.cx-theme-blue a:hover {
  color: #000000;
}
.cx-widget.cx-theme-blue .cx-icon-alert-circle {
  color: #f53131;
}
.cx-widget.cx-theme-blue .cx-footer,
.cx-widget.cx-theme-blue .cx-branding {
  color: #66759b;
}
.cx-widget.cx-theme-blue .cx-footer {
  display: none !important;
}
.cx-webchat .cx-form {
  padding: 24px 24px 24px !important;
}
.cx-widget.cx-theme-blue .cx-footer *,
.cx-widget.cx-theme-blue .cx-branding * {
  fill: #66759b;
}
.cx-widget.cx-theme-blue .cx-form-control.cx-error {
  border-color: #4a4a4a;
}
.cx-widget.cx-theme-blue .cx-form-control::placeholder {
  color: #4a4a4a;
}
.cx-widget.cx-theme-blue .cx-form-control:-moz-placeholder {
  color: #4a4a4a;
}
.cx-widget.cx-theme-blue .cx-form-control::-moz-placeholder {
  color: #4a4a4a;
}
.cx-widget.cx-theme-blue .cx-form-control:-ms-input-placeholder {
  color: #4a4a4a;
}
.cx-widget.cx-theme-blue .cx-form-control::-webkit-input-placeholder {
  color: #4a4a4a;
}
.cx-widget.cx-theme-blue .cx-alert input:focus,
.cx-widget.cx-theme-blue .cx-alert textarea:focus,
.cx-widget.cx-theme-blue .cx-alert .cx-btn:focus,
.cx-widget.cx-theme-blue .cx-alert .cx-button-group button:focus,
.cx-widget.cx-theme-blue .cx-alert .cx-form-control:not(.cx-error):focus {
  color: white;
}

.cx-widget.cx-theme-blue input:focus,
.cx-widget.cx-theme-blue textarea:focus,
.cx-widget.cx-theme-blue .cx-btn:focus,
.cx-widget.cx-theme-blue .cx-button-group button:focus,
.cx-widget.cx-theme-blue .cx-form-control:not(.cx-error):focus {
  color: #4a4a4a;
  border: #b7b7b7 solid 1px;
}

.cx-widget.cx-theme-blue input[type='text'],
.cx-widget.cx-theme-blue input[type='email'],
.cx-widget.cx-theme-blue input[type='tel'],
.cx-widget.cx-theme-blue select,
.cx-widget.cx-theme-blue textarea {
  background-color: #fdfdfd;
  color: #444a52;
  border-color: #dedede;
  border-radius: 5px;
  transition: all 0.5s;
}
.cx-widget.cx-theme-blue .cx-btn-default {
  background-color: #f6f6f6;
  color: #4c4c4c;
  font-size: 10px;
  outline: none;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  min-width: 84px;
  border: none !important;
}
.cx-widget.cx-theme-blue .cx-btn.cx-disabled {
  background: #cccccc;
}
.cx-widget.cx-theme-blue .cx-btn-primary {
  border: none !important;
  background-color: #f6f6f6;
  color: #4c4c4c !important;
  font-size: 10px;
  outline: none;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  min-width: 84px;
}
.cx-widget.cx-theme-blue .cx-button-group .cx-btn-primary:focus,
.cx-widget.cx-theme-blue .cx-btn-primary:focus,
.cx-widget.cx-theme-blue .cx-button-group .cx-btn-default:focus,
.cx-widget.cx-theme-blue .cx-btn-default:focus {
  border-color: white !important;
}
.cx-widget.cx-theme-blue .cx-ac-dropdown-menu {
  background: #4b4b4b;
  border-color: #dae1e8 !important;
}
.cx-widget.cx-theme-blue .cx-ac-suggestion:hover,
.cx-widget.cx-theme-blue .cx-ac-suggestion.cx-active {
  background-color: #5791fd;
  color: #fdfdfd;
}
.cx-widget.cx-theme-blue ::-webkit-scrollbar-thumb {
  background: #939399;
  /* WCAG: Non-text contrast */
}
.cx-widget.cx-theme-blue .cx-smokescreen {
  background-color: #4b4b4b;
  opacity: 0.7;
}
.cx-widget.cx-theme-blue .cx-dialog-container .cx-dialog {
  background-color: #4b4b4b;
  border-color: #dae1e8 !important;
}
.cx-widget.cx-theme-blue .cx-theme-background {
  background-color: #4b4b4b;
}
.cx-widget.cx-theme-blue .cx-theme-border {
  border: 1px solid #dae1e8 !important;
}
.cx-widget.cx-theme-blue .cx-theme-text {
  color: #444a52;
}
.cx-widget.cx-theme-blue .cx-theme-icon-interactive1 svg .cx-svg-icon-tone1 {
  fill: red;
}
.cx-widget.cx-theme-blue .cx-theme-icon-positive svg .cx-svg-icon-tone1 {
  fill: #34a84f;
}
.cx-widget.cx-theme-blue .cx-theme-icon-negative svg .cx-svg-icon-tone1 {
  fill: #f53131;
}
.cx-widget.cx-theme-blue .cx-theme-icon-warning svg .cx-svg-icon-tone1 {
  fill: #d47f2f;
}
.cx-widget.cx-theme-blue .cx-warning {
  color: #f53131 !important;
}
.cx-widget.cx-theme-blue .cx-warning .cx-icon svg * {
  fill: #f53131 !important;
}
.cx-widget.cx-theme-blue .cx-countdown {
  color: #444a52;
}
.cx-widget.cx-theme-blue .cx-countdown .cx-icon svg * {
  fill: #444a52;
}
.cx-widget.cx-theme-blue .cx-loading-screen .cx-loading-icon svg g g,
.cx-widget.cx-theme-blue .cx-loading-container .cx-loading-icon svg g g {
  stroke: #8db602;
}
.cx-widget.cx-theme-blue .cx-loading-screen .cx-loading-icon svg g:first-child g,
.cx-widget.cx-theme-blue .cx-loading-container .cx-loading-icon svg g:first-child g {
  stroke: #72799d;
}

.cx-webchat .cx-transcript {
  background-color: #f6f6f6;
}

.cx-message-group {
  padding: 0 5px;
  position: relative;
}

.cx-widget.cx-desktop .cx-input-focus {
  border: none !important;
  box-shadow: none !important;
}

.cx-webchat .cx-transcript .cx-message-group .cx-message {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
}

.cx-webchat .cx-system {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(210, 210, 210, 0.5) !important;
  background-color: #ffffff !important;
  margin-bottom: 27px !important;
}

.cx-webchat .cx-system .cx-message-text {
  padding: 16px;
}

.cx-webchat .cx-system .cx-time {
  position: absolute;
  bottom: -27px;
  right: 18px;
}

.cx-webchat .cx-transcript .cx-message.cx-you .cx-bubble-arrow svg {
  fill: #ffffff;
}

.cx-bubble-arrow {
  display: none !important;
}
.cx-webchat .cx-transcript .cx-message.cx-system {
  box-shadow: none;
  margin: 34px 1px 27px 57px !important;
}

.cx-webchat .cx-alert > .cx-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  padding: 13px 24px 24px !important;
}

.cx-webchat .cx-alert {
  top: 25% !important;
}

.cx-common-container .cx-titlebar .cx-title {
  font-weight: 400 !important;
  position: relative;
}

.cx-common-container .cx-titlebar .cx-title::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  left: -30px;
  top: -1px;
  background-size: contain;
  background-color: #4a4a4a;
  background-image: url('assets/images/chat/icon-menu-24-x-24-qanda.svg');
}

.cx-common-container .cx-titlebar .cx-icon {
  opacity: 0;
}

.cx-webchat .cx-form th .cx-control-label {
  text-transform: uppercase;
  font-weight: 400;
}

.cx-webchat .cx-form .cx-button-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cx-webchat .cx-transcript .cx-message.cx-date {
  width: 100%;
  min-width: 100%;
  border: 0 !important;
  border-radius: 0 !important;
  min-height: 77px !important;
  display: flex !important;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

.cx-webchat .cx-transcript .cx-message.cx-date .circle {
  z-index: 2;
  width: 50px !important;
  height: 50.6px !important;
  background-color: #f7f8f9 !important;
}
.cx-webchat .cx-transcript .cx-message.cx-date .text {
  z-index: 2;
  text-align: left;
  margin-left: 11px;
}

.cx-webchat .cx-transcript .cx-message.cx-date .text span,
h2,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.cx-webchat .cx-transcript .cx-message.cx-date .text h2 {
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.cx-button-close {
  display: none !important;
}

.cx-button-minimize,
.cx-button-maximize {
  position: relative !important;
  opacity: 1;
}
.cx-button-minimize:focus,
.cx-button-maximize:focus {
  color: transparent !important;
  border: transparent solid 1px !important;
}
.cx-button-minimize,
.cx-button-maximize svg {
  display: none;
}

.cx-button-minimize::before,
.cx-button-maximize::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  left: -2px;
  z-index: 2;
  top: 7px;
  background-size: contain;
  background-color: #4a4a4a;
  background-image: url('assets/images/chat/icon-arrow-right-login.svg');
}

.cx-button-maximize::before {
  transform: rotate(180deg);
  animation: rotateVectorMin 0.3s;
  left: -4px !important;
  top: -2px !important;
}

.cx-button-minimize::before {
  animation: rotateVectorMax 0.3s;
}

.cx-system .cx-message-text {
  padding: 17px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
}

.cx-system {
  margin-left: 50px !important;
  position: relative !important;
}

.cx-message-group .cx-participant {
  margin-right: 50px !important;
  position: relative !important;
  margin-bottom: 30px !important;
}

.circle-inbox {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  right: -54px;
  top: 7px;
  color: #4a4a4a;
}

.cx-system::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  left: -55px;
  top: -2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  border-radius: 100%;
  background-size: cover;
  background-image: url('assets/images/chat/user_default_chat.svg');
  background-color: white;
}

.cx-message-text p {
  font-size: 11px;
  font-weight: normal;
  color: #4a4a4a;
}
.cx-history-loading {
  display: none !important;
}

.cx-webchat .cx-transcript .cx-message.cx-date {
  position: relative;
}

.cx-webchat .cx-transcript .cx-message.cx-date::before {
  content: '';
  position: absolute;
  top: -11px;
  left: -23px;
  width: 115%;
  height: 85px;
  background-color: white;
}

.cx-webchat .cx-transcript .cx-message .cx-time {
  text-align: right !important;
  opacity: 0.7;
  margin-right: 2px;
  margin-top: 2px;
}

.cx-bubble .cx-name {
  display: none !important;
}

.cx-webchat div.cx-input-container .cx-textarea-cell,
.cx-textarea-cell-active {
  position: relative;
  border-bottom: 1px solid !important;
  width: 88%;
}

.cx-webchat div.cx-input-container .cx-textarea-cell::before,
.cx-textarea-cell-active::before {
  content: '';
  position: absolute;
  right: -34px;
  top: 0px;
  width: 21px;
  opacity: 0.4;
  height: 18.7px;
  background-size: contain;
  background-image: url('assets/images/chat/24x24_send-2.svg');
}

.cx-webchat div.cx-input-container .cx-textarea-cell-active::after {
  content: '';
  position: absolute;
  top: -50px;
  left: -5px;
  width: 121px;
  height: 21.7px;
  background-size: cover;
  background-image: url('assets/images/chat/edit_24x24.svg');
  opacity: 1;
  animation: showRead 0.5s;
}

.cx-webchat div.cx-input-container .cx-message-input {
  padding-left: 0 !important ;
}

.cx-webchat div.cx-input-container .cx-message-input {
  margin-bottom: 2px !important;
}

.cx-menu-cell {
  display: none !important;
}

.cx-webchat .cx-send {
  width: 25px !important;
  right: -36px !important;
  background-size: contain;
  background-image: url('assets/images/chat/24x24_send.svg');
  background-color: white;
}
.cx-webchat .cx-send svg {
  display: none !important;
}

@keyframes showRead {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateVectorMin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateVectorMax {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes hideRead {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showRead2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.cx-webchat div.cx-input-container {
  position: relative;
}

.cx-webchat div.cx-input-container::before {
  content: '';
  position: absolute;
  top: -37px;
  right: -1px;
  width: 100%;
  height: 37px;
  background-color: white;
  display: none;
  animation: hideRead 0.5s;
}

.cx-webchat div.cx-input-container-active::before {
  animation: showRead2 0.5s;
  display: block;
  opacity: 0.8;
}

.cx-participant .cx-name {
  font-weight: 500 !important;
  color: #4a4a4a !important;
}

.cx-webchat {
  z-index: 100 !important;
}

.cx-webchat .cx-transcript .cx-message .cx-message-text {
  position: relative;
  z-index: 1;
}

.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant .cx-avatar-wrapper {
  display: block !important;
}

.cx-webchat .cx-transcript .cx-avatar {
  display: none !important;
}

.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant:last-child .cx-bubble {
  position: relative;
}

.cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant:last-child .cx-time {
  position: absolute;
  bottom: -29px;
}

.cx-message .cx-agent-typing .cx-them {
  display: none !important;
}

.c-payment .kr-embedded {
  width: 100%;
}

.cx-card-invisible {
  display: none !important;
}

.c-payment {
  padding: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .kr-embedded {
    width: 100%;

    &.kr-help-button-inner-field {
      .kr-pan,
      .kr-text,
      .kr-field.kr-text,
      .kr-expiry,
      .kr-security-code {
        margin-bottom: 25px;
        width: 100%;
      }
    }

    .kr-label label {
      font-family: 'Roboto', sans-serif;
    }

    .kr-label.focus label,
    .kr-embedded .kr-label.kr-focus label {
      color: #4c4c4c;
    }

    .kr-label.kr-error label {
      color: #d81e05 !important;
    }

    .kr-pan.kr-focus .kr-field-wrapper .kr-icon-wrapper-root {
      border-bottom: 1px solid #4c4c4c;
    }

    .kr-installment-number {
      display: none;
    }

    .kr-first-installment-delay {
      display: none;
    }

    &[krvue] {
      .kr-field.kr-focus .kr-field-component,
      .kr-pan.kr-focus .kr-field-component,
      .kr-expiry.kr-focus .kr-field-component,
      .kr-security-code.kr-focus .kr-field-component,
      .kr-identity-document-number.kr-focus .kr-field-component,
      .kr-card-holder-name.kr-focus .kr-field-component,
      .kr-card-holder-mail.kr-focus .kr-field-component,
      .kr-identity-document-type.kr-focus .kr-field-component,
      .kr-installment-number.kr-focus .kr-field-component {
        border-bottom: 1px solid #4c4c4c;
      }
    }

    .kr-payment-button {
      align-items: center;
      background-color: #d81e05 !important;
      border-radius: 20px;
      color: white;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;

      span {
        font-family: 'Roboto', sans-serif;
      }
    }

    .kr-input-wrapper {
      width: 100%;
    }
  }

  input {
    font-family: 'Roboto', sans-serif;
  }

  &--success,
  &--expired {
    padding: 20px 15px;

    .success__icon,
    .expired__icon {
      img {
        display: block;
        margin: 0 auto;
      }
    }

    .success__title,
    .success__info,
    .expired__title,
    .expired__info {
      margin: 0;
      text-align: center;
    }

    .success__title,
    .expired__title {
      font-weight: 400;
    }

    .success__info,
    .expired__info {
      font-weight: 100;
    }
  }
}

.kr-embedded {
  .kr-text-mini {
    color: #8db602;
    font-family: 'Roboto', sans-serif;
    font-size: 12.8px;
    font-weight: 400;
  }

  .kr-chb-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #555;
  }

  .kr-pb-1 {
    padding-bottom: 10px;
    padding-top: 7px;
  }

  .mf-input {
    border-bottom: 1px solid #999;
    display: block;
    height: 35px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;

    input {
      appearance: none;
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: #000;
      font-size: 14px;
      height: 35px;
      left: 0;
      opacity: 0;
      outline: none;
      padding-left: 4px;
      position: absolute;
      top: 0;
      transition: all 0.1s linear;
      width: 100%;
      z-index: 1;
      /* sass-lint:disable no-vendor-prefixes */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
      }
      /* scss-lint:enable no-vendor-prefixes */
      &:focus,
      &:valid {
        opacity: 1;

        ~ label {
          color: #999 !important;
          font-size: 0.75em;
          transform: translate(0, -20px);
          width: auto;
          z-index: 2;
        }
      }
    }

    &__label {
      color: #aaa;
      font-family: 'Roboto', sans-serif;
      font-size: 0.88em;
      left: 5px;
      position: absolute;
      top: 10px;
      transition: all 0.25s linear;
      z-index: 0;
    }
  }

  .c-input--error {
    input {
      &:focus,
      &:valid {
        ~ label {
          bottom: 0;
          color: #d81e05 !important;
          font-size: 0.75em;
        }
      }
    }

    &__border {
      border-bottom: 1px solid #d81e05;
    }

    .mf-input__label {
      color: #d81e05 !important;
    }
  }

  .primero {
    display: none;
    padding: 5px;
    position: relative;
  }

  #spanele:hover .primero {
    display: flex;
    -ms-transform: translateY(-109%);
    -webkit-transform: translateY(-109%);
    transform: translateY(-109%) translateX(5%);
    z-index: 100;
    position: absolute;

    .msj-emergente {
      width: 250px;
      height: 230px;
      background: white;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      padding: 20px;
      font-family: 'Roboto', sans-serif;
      color: #555;
    }
    .pregunta {
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
    }
    .respuesta {
      font-size: 13.3px;
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
    }
    .cont-img-respuesta {
      width: 100%;
      text-align: center;
      line-height: 125px;
    }
    .img-respuesta {
      align-items: center;
      padding-left: 55px;
      padding-top: 30px;
    }
  }
}

.cp-tooltip {
  .kr-text-mini {
    color: #8db602;
    font-family: 'Roboto', sans-serif;
    font-size: 12.8px;
    font-weight: 400;
  }

  .kr-chb-text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #555;
  }

  .kr-pb-1 {
    padding-bottom: 10px;
    padding-top: 7px;
  }

  .mf-input {
    border-bottom: 1px solid #999;
    display: block;
    height: 35px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;

    input {
      appearance: none;
      background-color: transparent;
      border: none;
      border-radius: 0;
      color: #000;
      font-size: 14px;
      height: 35px;
      left: 0;
      opacity: 0;
      outline: none;
      padding-left: 4px;
      position: absolute;
      top: 0;
      transition: all 0.1s linear;
      width: 100%;
      z-index: 1;
      /* sass-lint:disable no-vendor-prefixes */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
      }
      /* scss-lint:enable no-vendor-prefixes */
      &:focus,
      &:valid {
        opacity: 1;

        ~ label {
          color: #999 !important;
          font-size: 0.75em;
          transform: translate(0, -20px);
          width: auto;
          z-index: 2;
        }
      }
    }

    &__label {
      color: #aaa;
      font-family: 'Roboto', sans-serif;
      font-size: 0.88em;
      left: 5px;
      position: absolute;
      top: 10px;
      transition: all 0.25s linear;
      z-index: 0;
    }
  }

  .c-input--error {
    input {
      &:focus,
      &:valid {
        ~ label {
          bottom: 0;
          color: #d81e05 !important;
          font-size: 0.75em;
        }
      }
    }

    &__border {
      border-bottom: 1px solid #d81e05;
    }

    .mf-input__label {
      color: #d81e05 !important;
    }
  }

  .primero {
    display: none;
    padding: 5px;
    position: relative;
  }

  #spanele:hover .primero {
    display: flex;
    -ms-transform: translateY(-109%);
    -webkit-transform: translateY(-109%);
    transform: translateY(-109%) translateX(5%);
    z-index: 100;
    position: absolute;

    .msj-emergente {
      width: 250px;
      height: 230px;
      background: white;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      padding: 20px;
      font-family: 'Roboto', sans-serif;
      color: #555;
    }
    .pregunta {
      font-size: 14px;
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
    }
    .respuesta {
      font-size: 13.3px;
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
    }
    .cont-img-respuesta {
      width: 100%;
      text-align: center;
      line-height: 125px;
    }
    .img-respuesta {
      align-items: center;
      padding-left: 55px;
      padding-top: 30px;
    }
  }
}
