<form action="" name="">
  <div class="g-filter patternlab-none" data-boxtoggle="filter">
    <div class="title--1 d-lg-none d-md-block" data-boxtitle="title" onclick="boxToggle.toggle('filter')">
      <div class="d-inline-block">
        <p class=" g-m--0 ">Datos de cotización: </p>
        <p class=" g-m--0  g-font--13">8 Trabajadores | Planilla <b>S/10,000.00</b></p>
      </div>
      <div class="float-right text-center">
        <span class="ico icon-mapfre_035_edit g-font--21"></span>
        <p class="g-font--11">EDITAR</p>
      </div>
    </div>
    <div class="title--2 d-lg-none d-md-block g-filter--none">
      <div class=" g-m--0  d-inline-block g-font--18 g-font-md--20">{{comp-title}}</div>
      <span class=" icon-mapfre_049_close2 g-font--30 float-right" onclick="boxToggle.toggle('filter')"></span>
    </div>
    <div class="filter-cont g-p--10 5  g-p-lg--0 g-filter--none">
      <div class="row  g-mb--20">
        <div class="col-md-3">
          {{#itemNumAseg}}
            {{>atoms-mf-select}}
          {{/itemNumAseg}}
        </div>
        <div class="col-md-3">
          {{#itemMonAseg}}
            {{>atoms-mf-input}}
          {{/itemMonAseg}}
        </div>
        <div class="col-md-6">
          {{#itemOption3}}
            {{>atoms-mf-select}}
          {{/itemOption3}}
        </div>
      </div>
      <div class="row g-mb--20">
        <div class="col-12 col-md-6">
          {{#itemTimeAseg}}
            {{>atoms-mf-select}}
          {{/itemTimeAseg}}
        </div>
        <div class="col">
          {{#itemRiesgo}}
            {{>atoms-mf-input}}
          {{/itemRiesgo}}
        </div>
        <div class="d-inline g-pr--10 g-pt--30">
          {{#tooltip02}}
          {{>atoms-tooltip}}
          {{/tooltip02}}
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-8 col-lg-8 g-mt--10 ">
          {{#alertFilter}}
            {{>atoms-alert}}
          {{/alertFilter}}
        </div>
      </div>
      <div class="row justify-content-md-center g-mt--10 ">
        <div class="col col-lg-4">
          {{#btnCancelar}}
            {{>atoms-buttons}}
          {{/btnCancelar}}
        </div>
        <div class="col col-lg-4">
          {{#btnCotiazr}}
            {{>atoms-buttons}}
          {{/btnCotiazr}}
        </div>
      </div>
    </div>
  </div>
</form>

