<div class="g-bg-c--white1 g-b-radius--5 d-none d-lg-block no-gutters">
  <div class="d-flex align-items-center">
    {{#numTrab}}
    <div class="{{addClass}}">
      <p class=" g-m--0  g-font--20 g-font--medium">{{{text1}}}</p>
      <p class=" g-m--0  cGray1 g-font--light">{{{text2}}}</p>
    </div>
    {{/numTrab}}
    {{#monTrab}}
    <div class="{{addClass}}">
      <p class=" g-m--0  g-font--20 g-font--medium">{{{text1}}}</p>
      <p class=" g-m--0  cGray1 g-font--light">{{{text2}}}</p>
    </div>
    {{/monTrab}}
    {{#timeTrab}}
    <div class="{{addClass}}">
      <p class=" g-m--0  g-font--20 g-font--medium">{{{text1}}}</p>
      <p class=" g-m--0  cGray1 g-font--light">{{{text2}}}</p>
    </div>
    {{/timeTrab}}
    {{#desTrab}}
    <div class="{{addClass}}">
      <div class="row d-flex align-items-center no-gutters">
        <div class="col-auto  g-pr--15 ">
          <span class="icon-mapfre_054_construction g-font--45 g-c--gray9"></span>
        </div>
        <div class="col-lg-9 col-xl-10">
          <p class=" g-m--0  g-font--medium g-cut-text">{{{text1}}}</p>
          <p class=" g-m--0  cGray1 gfontLight g-cut-text">{{{text2}}}</p>
        </div>
      </div>
    </div>
    {{/desTrab}}
    <div class="text-center g-pt--20 g-pb--20 g-bl--1 g-c--pointer justify-content-center ml-auto">
      <div class="d-flex align-items-center w-100  g-px--15 ">
        <span class="icon-mapfre_035_edit g-font--21 g-c--green1 g-px--10"></span>
        <span class="g-c--green1 g-text--uppercase g-font--12 g-font--bold g-pr--10">Editar</span>
      </div>
    </div>
  </div>
</div>