<!-- Formulario -->
<div class="h-100" *ngIf="!isSent && !showLoading">
  <div class="d-flex flex-column g-bg-c--white1 h-100" [ngClass]="{'g-box--shadow1': !isModal}">

    <!-- Titulo -->
    <div class="g-bg-c--gray8 g-py--15 g-pl--15 g-pr--15 pl-lg--4 pr-lg--4 d-flex align-items-center justify-content-center g-ie-flex--0-1-auto" *ngIf="!isModal">
      <div class="g-font-lg--18 g-font--16 g-font--medium g-c--white1">{{ titleContact }}</div>
    </div>

    <!-- Form -->
    <div class="pl-xs--3 pl-lg--4 pr-xs--3 pr-lg--4 pb-xs--3" *ngIf="formContact" [ngClass]="classTop">
      <!-- Telefono -->
      <mf-input
        #inputPhoneNumber
        [formControl]="phoneNumber"
        [label]="labelPhoneNumber"
        [dontWhiteSpace]="true"
        [type]="'tel'"
        [minlength]="phoneMinLength"
        [maxlength]="phoneMaxLength"
        [error]="showErrors(phoneNumber)">
      </mf-input>
      <mf-show-errors [control]="phoneNumber"></mf-show-errors>
      <!-- Email -->
      <ng-container *ngIf="referred">
        <mf-input
          (onblur)="formatValue(email)"
          [formControl]="email"
          [label]="labelEmail"
          [maxlength]="emailMaxLength"
          [minlength]="emailMinLength"
          [error]="showErrors(email)">
        </mf-input>
        <mf-show-errors [control]="email"></mf-show-errors>
      </ng-container>
      <!-- Rango de Horas -->
      <mf-select *ngIf="!referred"
        [label]="labelHoursRange"
        [formControl]="hoursRange"
        [options]="hoursRangeList">
      </mf-select>
      <br *ngIf="isModal">
      <div class="justify-content-center w-100 mt-xs--4 mt-lg--5 text-center" *ngIf="!isModal">
        <button
          mf-button
          class="g-btn--mobile w-lg-10 d-lg-block"
          [disabled]="!formContact.valid"
          (click)="sendMessage()"
          ctrl="linkContactByAgent"
          (domChange)="onDomChange($event, { label: btnSend, hoursRange: hoursRange.value })"
        >
          {{ btnSend }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Enviado -->
<div class="h-100" *ngIf="isSent || showLoading">
  <div class="d-flex flex-column g-bg-c--white1 h-100" [ngClass]="{'g-box--shadow1': !isModal}">
    <div class="d-none d-flex align-items-center justify-content-center">
      <div class="g-font--18 g-font--medium g-c--white1 g-text--uppercase"></div>
    </div>
    <div class="pl-lg--3 pr-lg--3 pt-lg--3 pb-lg--3 pt-xs--4 pb-xs--2 h-100">
      <div class="d-flex flex-column align-items-center text-center justify-content-center h-100">
        <!-- Loading -->
        <mf-loader *ngIf="showLoading; else sendTemplate"></mf-loader>
        <!-- Enviado -->
        <ng-template #sendTemplate>
          <div class="icon--mail mr-xs--3 mb-xs--3 mt-xs--2"></div>
          <div class="g-font--20 g-font--medium g-c--gray13">{{ titleSent }}</div>
          <!-- Mensaje -->
          <div *ngIf="messageSent" class="g-modal--link">
            {{ messageSent }}
          </div>
        </ng-template>
        <!-- Datos enviados  -->
        <ng-container  *ngIf="hoursRange">
          <div class="g-font--14 g-font--medium pt-xs--2 g-line--11 g-text--uppercase"> {{ labelHoursRangeWithColons }}</div>
          <div class="g-font--14 g-font--light pb-xs--2">{{ hoursRange.value }}</div>
        </ng-container>
        <ng-container  *ngIf="email">
          <div class="g-font--14 g-font--medium pt-xs--2 g-line--11 g-text--uppercase"> {{ labelEmail }}:</div>
          <div class="g-font--14 g-font--light pb-xs--2">{{ email.value }}</div>
        </ng-container>
        <div class="g-font--14 g-font--medium g-line--11 g-text--uppercase">{{ labelPhoneNumberWithColons }}</div>
        <div class="g-font--14 g-font--light pb-xs--2">{{ phoneNumber.value }}</div>
      </div>
    </div>
  </div>
</div>

