<div class="w-100 g-mt--20 g-mt-lg--0">

  <div class="d-flex flex-column flex-md-row justify-content-between">
    <!-- Titulo -->
    <div class="text-center text-lg-left g-font--16 g-font--medium g-mb--5 g-text--uppercase"> {{ content?.title }}</div>
    <!-- Link -->
    <div class="text-center text-lg-right" *ngIf="content?.action && content?.action?.text && !hidenLinkMap">
      <mf-link-green [text]="content?.action?.text" (click)="routerTo()"></mf-link-green>
    </div>
  </div>

  <!-- Advertencia -->
  <ng-container *ngIf="content?.warning">
    <mf-custom-alert [status]="status" [text]="content?.warning"></mf-custom-alert>
  </ng-container>

  <!-- Contenido -->
  <div class="text-left" [innerHTML]="content?.content" *ngIf="content?.content"></div>

  <!-- Tabla -->
  <div class="g-b--1 g-b-radius--1 g-b-radius-lg--5 g-mt--20" *ngIf="content?.table && content?.table?.rows">
    <div class="text-center g-p--10 g-bg-c--gray11 g-font--bold">
      {{ content?.table?.title }}
    </div>
    <div class="d-flex text-center g-bg-c--gray11">
      <div class="w-5 g-py--10 g-pl--15 g-pr--5" *ngFor="let column of content?.table?.columns; trackBy: trackByFn;" [innerHTML]="column"></div>
    </div>
    <div class="d-flex g-bt--1 align-items-md-center" *ngFor="let rows of content?.table?.rows; trackBy: trackByFn;">
      <div class="w-5 g-py--15 g-pl--15 g-pr--5" *ngFor="let row of rows; trackBy: trackByFn;" [innerHTML]="row"></div>
    </div>
  </div>
</div>
