<div class="sect-container g-height--full g-mx-n--15">
  <ng-container *ngIf="load; else loading">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #loading>
    <!-- Loading -->
    <mf-loader-full-screen></mf-loader-full-screen>
  </ng-template>
</div>
