<div class="align-items-center d-flex flex-wrap flex-xl-nowrap h-lg--10 g-header--wrapper">
  <div class="d-flex align-items-center pt-xs--1 pb-xs--1 g-ie-flex--0-1-auto">
    <span class="icon-mapfre_047_bars g-font--21 g-c--white1 d-xl-none g-block g-pr--20 g-c--pointer js-hamb-open"
      (click)="openNavBox()"></span>
    <span class="icon-mapfre_080_close4 g-font--16 g-font--bold g-c--white1 d-none g-pr--20 g-c--pointer js-hamb-close"
      (click)="closeNavBox()"></span>
    <span [routerLink]="['/home']" (click)="closeNavBox()" class="icon-mapfre_044_logo_landing g-font--30 g-c--white1 d-xl-none d-block g-c--pointer"></span>
  </div>

  <div class="g-title--header order-3 order-xl-1 d-flex g-header--left g-header--menu g-mx-n--15 h-px--5 h-px-xl--7">

    <div class="g-br--1 w-px--5 w-px-lg--7 d-flex align-items-center g-mw-5 justify-content-center g-ie-flex--0-1-auto" *ngIf="subBack" (click)="goBack(routeback)">
      <span class="icon-mapfre_010_arrow-left g-font--16 g-font-lg--21 g-c--pointer"></span>
    </div>

    <div class="w-px-xl--8 g-ie-flex--0-1-auto d-flex align-items-center justify-content-center g-br--1 g-px--10 g-px-xl--0" *ngIf="subIconHeader && !subBack">
      <span class="g-items-icon g-c--gray18 g-font--30 g-font-xl--40" [ngClass]="subIconHeader"></span>
    </div>

    <div class="px-3 g-line--12 d-flex flex-column justify-content-center g-o--hidden w-100 g-ie-flex--1">
      <span class="g-font--light g-text-uppercase g-c--gray18" *ngIf="subTitleHeader">
        {{ subTitleHeader }}
      </span>
      <div id="client-header-title1" class="g-text-uppercase g-font--14 g-font-xl--20 mb-xs--0 g-font--medium text-truncate g-c--gray2" style="display:block">
        {{ titleHeader }}
      </div>
      <div id="client-header-title2" class="g-text-uppercase g-font--14 g-font-xl--20 mb-xs--0 g-font--medium text-truncate g-c--gray2" style="display:none">
      </div>
    </div>

  </div>

  <div class="order-2 order-xl-2 d-flex flex-row ml-auto align-items-center g-ie-flex--0-1-auto g-header--submenu">
    <div class="d-inline-flex p-lg-2">
      <!-- Notificacion -->
      <div class="g-dropdown d-inline-block" *ngIf="notifications > 0">
        <div class="g-dropdown--click button is-medium icon-mapfre_066_circle g-font--30 g-c--gray1 position-relative">
          <span class="icon-mapfre_036_notification g-c--white1 g-ico--center g-font--16"></span>
          <span class="g-notification--alert icon-mapfre_066_circle g-font--16 g-c--green1">
            <span class="g-ico--center g-font--11 g-c--white1">
              <b class="g-fm--roboto">{{ notifications }}</b>
            </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Menu Usuario -->
    <div class="d-inline-flex ml-3">
      <div class="g-dropdown" (clickOutside)="clickOutside()">
        <div class="g-dropdown--click g-dropwdown--user" (click)="dropDownUser()">
          <div class="d-block d-lg-none icon-mapfre_066_circle g-font--30 g-c--gray1">
            <span class="icon-mapfre_037_user g-c--white1 g-ico--center g-font--16 g-c--pointer"></span>
          </div>
          <div class="d-none d-lg-flex align-items-center g-pr--20 g-c--pointer dpd-header g-header--right">
            <div class="w-100 g-font--18 text-truncate text-right" *ngIf="!isEnterprise" [title]="nameClientTitle">
              {{ profileLang.Texts.Welcome }} <span class="g-font--bold">{{ nameClient }}!</span>
            </div>
            <div class="w-100 g-font--18 text-truncate g-font--bold text-right" *ngIf="isEnterprise" [title]="businessNameClient">
              {{ businessNameClient }}
            </div>
            <span class="icon-mapfre_004_triangle-down g-font--10 ml-2"></span>
          </div>
        </div>
        <div class="g-dropdown--show g-dropdown--none g-dropdown--user">
          <div class="g-dropdown--header d-flex d-lg-none justify-content-between align-items-center g-px--15 g-bb--1">
            <div class="g-font--medium g-text--uppercase">
              {{ profileLang.Texts.Welcome }} {{ nameClient }}!
            </div>
            <div class="">
              <span class="g-dropdown--close d-block icon-mapfre_121_close g-font--21 g-c--gray9 g-c--pointer" (click)="dropDownUser()"></span>
            </div>
          </div>
          <div class="g-dropdown--content g-shadow--horz">
            <div class="g-p--15 g-p-md--0">
              <div class="g-dropdown--item">
                <a
                  (click)="dropDownUser()"
                  [routerLink]="['/profile']"
                  gaClick
                  [gaCategory]="gaMyProfile.category"
                  [gaAction]="gaMyProfile.action"
                  [gaLabel]="gaMyProfile.label">
                  {{ profileLang.Buttons.MyProfile }}
                </a>
              </div>
              <div class="g-dropdown--item">
                <div
                  class="g-dropdown--link"
                  (click)="logoutModal()"
                  gaClick
                  [gaCategory]="gaLogout.category"
                  [gaAction]="gaLogout.action"
                  [gaLabel]="gaLogout.label">
                  {{ profileLang.Buttons.Logout }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Confirmar cierre de sesión -->
<mf-modal-alert *ngIf="showModal"
  [noMinHeight]="true"
  [cancelButtonText]="no"
  [confirmButtonText]="yes"
  [sizeClass]="'g-modal--medium'"
  [confirm]="true"
  (confirmResponse)="logoutUser($event)">
  <div class="m-auto text-center g-py--40 g-px--20">
    <div class="g-font--18 g-font--medium">{{ messageConfirmLogout }}</div>
  </div>
</mf-modal-alert>
