<div
  [ngClass]="{'g-pt--40': appointment?.isEditable}"
  class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11"
>
  <mf-stepper
    [currentStep]="currentStep"
    [stepList]="stepList"
    *ngIf="!appointment?.isEditable"
  >
  </mf-stepper>

  <client-form-base
    [iconClass]="fileIcon"
    [btnConfirm]="graLng?.Buttons?.Agree"
    [showLoading]="showLoading"
    (actionCancel)="actionCancel()"
    (actionConfirm)="actionConfirm()"
  >
    <div class="g-p--20 g-p-lg--40">
      <!-- Titulo Principal-->
      <div class="d-md-flex justify-content-between text-center">
        <div class="g-w-lg--50">
          <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            {{ covidIsActive ? 'RESUMEN DE LA PRUEBA COVID-19' : 'RESUMEN DE LA CITA MÉDICA' }} {{ modality === modalityType.PRESENCIAL ? 'PRESENCIAL' : 'VIRTUAL' }}
          </div>
        </div>
      </div>
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between text-center g-pt--20" *ngIf="!covidIsActive">
        <div class="g-w-lg--50">
          <div class="g-font-md--16 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            1. DATOS DE LA CITA MÉDICA
          </div>
        </div>
      </div>
      <!-- Datos -->
      <div class="d-flex flex-wrap w-100">
        <div *ngIf="modality === modalityType.PRESENCIAL" class="g-w-100 g-pr-lg--15">
          <div class="g-pt--10 g-font--light g-font--13">
            Lugar de Atención:
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.nombre }}
            <br>
            <div class="g-font--light">
              {{ appointment?.fullDirection }}
            </div>
          </div>
        </div>   
        <div class="g-w-100 g-pr-lg--15" *ngIf="covidIsActive">
          <div class="row">
            <div class="col-4 col-md-3">
              <div class="g-pt--20 g-font--light g-font--13">
                Fecha:
              </div>
              <div class="g-pt--5 g-font--medium">
                {{ appointment?.fecha | date: 'dd/MM/yyyy' }}
              </div>
            </div>
            <div class="col-6">
              <div class="g-pt--20 g-font--light g-font--13">
                Hora:
              </div>
              <div class="g-pt--5 g-font--medium">
                {{ appointment?.time?.horaInicio }} hrs
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="covidIsActive" class="g-w-100 g-pr-lg--15">
          <div class="g-pt--20 g-font--light g-font--13">
            Tipo de prueba:
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.especialidad?.especialidadDescripcion }}
          </div>
          <div class="g-pt--5 g-font--13">
            {{ resultTime }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15">
          <div class="g-pt--20 g-font--light g-font--13">
            Paciente:
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.paciente?.nombreCompleto }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="appointment?.cellphone || appointment?.telefono">
          <div class="g-pt--20 g-font--light g-font--13">
            Número de contacto
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.cellphone || appointment?.telefono }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Póliza
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.poliza?.descripcionPoliza }}
            <br>
            <div class="g-font--light">
              {{ appointment?.poliza?.numeroPoliza }}
            </div>
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Especialidad
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.especialidad?.especialidadDescripcion }}
          </div>
        </div>
      </div>
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between text-center g-mt--40" *ngIf="!covidIsActive">
        <div class="g-w-lg--50">
          <div class="g-font-md--16 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            2. DETALLES DE LA CITA MÉDICA
          </div>
        </div>
      </div>
      <!-- Datos -->
      <div class="d-flex flex-wrap w-100">
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--10 g-font--light g-font--13">
            Doctor
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.doctor?.nombreCompleto }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Fecha
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.fecha | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <div class="g-w-100 g-pr-lg--15" *ngIf="!covidIsActive">
          <div class="g-pt--20 g-font--light g-font--13">
            Hora
          </div>
          <div class="g-pt--5 g-font--medium">
            {{ appointment?.time?.horaInicio }} hrs
          </div>
        </div>
      </div>
      <div *ngIf="!appointment['pagado']" class="g-bg-c--gray12 g-mt--25 g-px--15 g-py--10 g-b-radius--5">
        <div class="d-flex align-items-center">
          <div class="w-100 g-font--bold d-flex align-items-center">
            <span class="g-pr--5">
              {{
                covidIsActive ?  graLng?.Labels?.AppointmentPayCovid :
                appointment?.especialidad?.codigoTipoDeducible === 'DAGR'
                  ? graLng?.Labels?.DAA
                  : graLng?.Labels?.AppointmentPay
              }}:
            </span>
            <mf-tooltips *ngIf="appointment?.especialidad?.codigoTipoDeducible === 'DAGR'">
              <div class="text-left text-left g-font--13 g-font--light g pb-2 g-font--13 g-font--bold">{{ tooltip?.title }}</div>
              <div class="g-font--12 g-font--normal text-left">{{ tooltip?.body }}</div>
            </mf-tooltips>
          </div>
          <div class="ml-auto flex-shrink-0 g-font--bold">
            {{ appointment?.especialidad?.codigoMonedaCopago === 1 ? 'S/.' : '$' }}
            {{ appointment?.especialidad?.montoCopago?.toFixed(2) }}
          </div>
        </div>
      </div>
      <mf-custom-alert *ngIf="modality === modalityType.PRESENCIAL && !appointment['pagado']" [status]="status" [text]="graLng?.Texts?.AppointmentPay"></mf-custom-alert>
    </div>
  </client-form-base>
</div>
<mf-modal-message
  (confirmResponse)="onConfirmModal($event)"
  [confirm]="true"
  [messageDone]="graLng?.Messages?.EstimatedUser"
  [messageSuccessUpdate]="msgCancelModal"
  [pathIcon]="iconError"
  [sizeClass]="'g-modal--medium'"
>
</mf-modal-message>

