<div class="g-dropdown">
  <a href="#" class="link-hover">{{ title }}<span class="ico-arrow icon-mapfre_032_triangle- g-c--red3"></span></a>
  <div class="dropdown-content">
    <a *ngFor="let item of list; trackBy: trackByFn" href="item.url" class="link">{{ item.name }}</a>
  </div>
</div>
