<div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--10 w-100">

  <!-- Fecha -->
  <div class="w-px--7 w-px-lg--8 g-line--11 d-flex justify-content-center align-items-lg-center g-br-lg-1 pt-3 pt-lg-0">
    <div class="g-items-text text-center g-font--light">
      <div class="g-mb--03 g-font--24 g-font--medium">
        {{ item.day }}
      </div>
      <div class="g-mb--5 g-font--12">
        {{ item.month }}
      </div>
      <div class="mb-0 g-font--13 g-font--medium">
        {{ historical ? item.year : item.scheduledTime }}
      </div>
    </div>
  </div>

  <div
    class="w-7 w-lg-10 g-bl--1 p-3 p-lg-0 g-o--hidden d-flex align-items-lg-center flex-column flex-lg-row flex-fill">
    <div class="w-lg-3 justify-content-between align-items-center px-lg-3">
      <div class="w-100">
        <!-- Numero -->
        <div class="g-font--15 g-font--medium" [title]="item.number">
          {{ visibleTextCovid ? 'Prueba COVID-19' : item.type}} #{{ item.number }}
        </div>
        <!-- Estado -->
        <div class="mb-0 text-nowrap d-flex align-items-center" *ngIf="item.status">
          <span class="icon-mapfre_066_circle g-font--10 pr-1" [ngClass]="item.color"></span>
          <span class="g-font--13">{{ item.status }}</span>
        </div>
        <!-- Información Adicional -->
        <div class="mb-0 text-nowrap d-flex align-items-center g-font--13" *ngIf="item.moreInfo && !historical">
          <span>{{ item.moreInfo }}</span>
        </div>
      </div>
    </div>
    <!-- Datos -->
    <div class="px-lg-3 pb-xs--1 pb-lg-0 w-lg-7 g-column-count-lg--2">
      <div class="d-lg-flex w-10" *ngFor="let text of item.items">
        <span class="{{ text.icon }} pr-1 g-mt--3" *ngIf="text.icon"></span>
        <span class="g-font--light g-font--13 d-lg-flex g-o--hidden g-ie-flex--1" [title]="getTitle(text)">
          <span class="g-font--medium g-mr--5" *ngIf="text.label"
            [ngClass]="{'text-lg-truncate': text.label && !text.text}">{{ text.label }}</span>
          <span class="text-lg-truncate" [ngClass]="{'text-capitalize': item.code === citas }">
            {{ text.text }}
          </span>
        </span>
      </div>
    </div>
  </div>
  <!-- Ver detalle -->
  <div (click)="viewDetail(item)" *ngIf="viewDetailsLink && visibleCovid"
    class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--12 g-bl-lg--1 d-flex align-items-center justify-content-center flex-grow-1">
    <span *ngIf="item.viewDetail" class="g-c--green1 g-font--medium g-c--pointer">
      <span *ngIf="!isLoadingReschedule"> {{ labelViewDetail }}</span>
    </span>
    <span [spinnerPdf]="true" *ngIf="isLoadingReschedule"></span>
  </div>
</div>
