<!-- Loading -->
<mf-loader *ngIf="showLoader"></mf-loader>

<ng-container *ngIf="!showLoader">
  <div class="view-household pt-xs--2" *ngIf="policyFound">
    <div class="row">
      <div class="col mb-xs--2">
        <!-- Detail -->
        <client-card-detail-policy [policyNumber]="policyNumber" [mpKeys]="mpKeys">
          <div class="row">
            <div class="co l-12 mb-xs--2 mb-lg-0 d-flex" [ngClass]="mpKeys.MP_CARD_PAGOS ? 'col-lg-4' : 'col-lg-6'">
              <client-card-policy-basic-info [isPPFM]="isPPFM"></client-card-policy-basic-info>
            </div>
            <div *ngIf="mpKeys.MP_CARD_PAGOS" class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex">
              <client-card-payment-policy
                (paymentView)="goPayment($event)"
                (edit)="goPaymentSetting()">
              </client-card-payment-policy>
            </div>
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex" [ngClass]="mpKeys.MP_CARD_PAGOS ? 'col-lg-4' : 'col-lg-6'">
              <client-card-contracting-info *ngIf="!isPPFM"></client-card-contracting-info>
              <client-card-basic-info *ngIf="isPPFM" [shouldEdit]="false" [isEnterprise]="isEnterprise" [info]="info" [titleCard]="titleHeadlineCard" [useSkeleton]="true" [showLoading]="showLoadingCardHeadline"></client-card-basic-info>
            </div>
          </div>
        </client-card-detail-policy>
      </div>
    </div>

    <!-- Detail -->
    <div class="row">
      <div class="col">
        <client-card-policy-insured-grouped
          [policyNumber]="policyNumber"
          [policyType]="policyType"
          [codCia]="codCia"
          [codRamo]="codRamo"
          [numSpto]="numSpto"
          [mpKeys]="mpKeys"
          [isPPFM]="isPPFM">
        </client-card-policy-insured-grouped>
      </div>
    </div>

    <!-- Cuotas de mi póliza -->
    <div *ngIf="mpKeys.MP_CARD_CUOTAS" class="row">
      <div class="col mb-xs--2">
        <client-card-my-fees [policyType]="policyType" [ga]="ga"></client-card-my-fees>
      </div>
    </div>

    <!-- Banner -->
    <div *ngIf="isPPFM">
      <client-banner-carousel></client-banner-carousel>
    </div>

    <!-- Qué quieres hacer -->
    <div class="row">
      <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
        <client-card-what-you-want-to-do [policyType]="policyType" [isPPFM]="isPPFM"></client-card-what-you-want-to-do>
      </div>
    </div>

  </div>

  <div class="view-household pt-xs--2" *ngIf="!policyFound">
    <div class="row">
      <div class="col">
        <client-item-not-found
          [show]="true"
          [text]="textNotFound">
        </client-item-not-found>
      </div>
    </div>
  </div>
</ng-container>
