<mf-card>
  <!-- Titulo -->
  <div class="g-bg-c--gray2 g-c--white1 text-center g-px--15 g-py--10 w-10 d-none d-lg-block g-b-radius-t--5">
    <div class="g-font--20 g-font--medium">{{ lang.SummaryInsurance }}</div>
  </div>

  <div class="g-px--15 g-py--13 w-10 d-lg-none">
    <div class="g-font--medium">{{ lang.SummaryInsurance }}</div>
  </div>

  <!-- Datos del bien -->
  <mf-card-header act
    class="d-block"
    [header]="riskCard.title"
    [icon]="riskCard.icon"
    [uppercaseHeader]="false"
    [showIconWeb]="true"
    [collapsed]="riskCard.collapse"
    (expand)="expandRiskCard($event)">
  </mf-card-header>
  <mf-card-content [collapse]="riskCard.collapse" [showIconWeb]="true">
    <div class="d-block">
      <div class="d-flex w-100 justify-content-between align-items-center g-px--15 g-px-lg--0 g-py--8 g-py-lg--0">
        <ng-content select="[risk]"></ng-content>
      </div>
    </div>
  </mf-card-content>

  <!-- Datos de compra -->
  <mf-card-header act
    class="d-block"
    [header]="buyCard.title"
    [icon]="buyCard.icon"
    [showIconWeb]="true"
    [uppercaseHeader]="false"
    [collapsed]="buyCard.collapse"
    (expand)="expandBuyCard($event)">
  </mf-card-header>
  <mf-card-content [collapse]="buyCard.collapse" [showIconWeb]="true">
    <div class="d-block">
      <div class="d-flex w-100 justify-content-between align-items-center g-px--15 g-px-lg--0 g-py--8 g-py-lg--0">
        <div class="g-font--13 g-font-lg--14 w-100">
          <div class="d-flex g-py--4">
            <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Product}}:</div>
            <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ quote?.policy }}</div>
          </div>
          <div class="d-flex g-py--4">
            <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.PaymentFrecuency }}:</div>
            <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ quote?.modalitySelected?.textPaymentFrecuency }}</div>
          </div>
        </div>
      </div>
    </div>
  </mf-card-content>

  <!-- MapFre Dollars -->
  <div class="g-px--15 g-px-lg--20 g-bt--1" *ngIf="showMPD">
    <div class="d-flex justify-content-between align-items-center g-py--12 g-font--13 g-font-lg--14">
      <div class="g-font--light w-10">
        <div class="g-c--gray2">{{ lang.UserMapfreDolar }}</div>
        {{ labelMapfreDolars }}: {{ mapfreDolars }}
      </div>
      <div class="g-font--light g-bc--gray11 text-nowrap">
        <mf-switch
          [disabled]="doingPayment"
          [(ngModel)]="useMPD"
          (change)="switchChange($event)">
        </mf-switch>
      </div>
    </div>
  </div>

  <!-- Descuento -->
  <div class="d-flex justify-content-between w-10 g-px--15 g-py--13 g-px-lg--20 g-bt--1" *ngIf="showMPD">
    <div class="g-font--light w-10 g-font--13 g-font-lg--16">{{ lang.Discount }}</div>
    <div class="g-font--light text-nowrap g-font--13 g-font-lg--16">{{ discountFormat }}</div>
  </div>

  <!-- Precio Poliza -->
  <div class="d-flex justify-content-between w-10 g-px--15 g-py--13 g-px-lg--20 g-bt--1">
    <div class="g-font--light g-font--13 g-font-lg--16">{{ lang.PolicyPrice }}</div>
    <div class="g-font--light g-font--13 g-font-lg--16">{{ quote?.totalAmount }}</div>
  </div>

  <!-- Valor cuota -->
  <div class="g-bg-c--gray11 d-flex justify-content-between w-10 g-px--15 g-py--13 g-p-lg--20">
    <div class="g-font--medium g-font--13 g-font-lg--18 g-c--gray2">{{ lang.QuotaValue }}</div>
    <div class="g-font--medium g-font--13 g-font-lg--18 g-c--gray2">{{ quote?.quota }}</div>
  </div>

</mf-card>
