<!-- Título -->
<client-page-title [title]="titleHurtAndSteal" [message]="messageHurtAndSteal"></client-page-title>

<!-- Mensaje Ayuda -->
<client-notification-help [message]="textHurtAndStealHelp"></client-notification-help>

<!-- Reportar Asistencia-->
<div class="mb-xs--2 g-bg-c--white1 g-b-radius--5 g-mb--20" *ngIf="envConstants.ACTIVATE_ASSIST_REPORT">
  <mf-card>
    <mf-card-content>
      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100">
        <div class="w-7 w-lg-10 p-3 p-lg-0 d-flex align-items-lg-center g-o--hidden flex-column flex-lg-row flex-fill">
          <div class="d-flex justify-content-between align-items-center w-100 pl-lg--2">
            <div class="w-100" [innerHTML]="textHurtAndStealReport">
            </div>
          </div>
        </div>
        <div class="g-pb--15 py-lg-0 w-100 d-flex align-items-center justify-content-center flex-grow-1 w-px-lg--22 ">
          <button
            (click)="goToDeclareSinisterHome()"
            class="w-lg-10 g-max-w--24 g-max-w-lg--inherit"
            mf-button
            ctrl="btnAssitReport"
            (domChange)="onDomChange($event, {label: labelBtnAssistReport})"
          >
            {{ labelBtnAssistReport }}
          </button>
        </div>
      </div>
    </mf-card-content>
  </mf-card>
</div>

<!-- Landing -->
<client-landing [landingContent]="landingContent" [ga]="ga"></client-landing>
