{{#mfSelect}}
  <div class="d-flex {{selectClass}}">
    <div class="w-10">
        {{>atoms-mf-select}}
    </div>

    {{#tooltip}}
    <div class="{{iconClassTooltip}}">
        {{>molecules-tooltip}}
    </div>
    {{/tooltip}}

  </div>
{{/mfSelect}}

{{#mfInput}}
  <div class="d-flex {{inputClass}}">
    <div class="w-10">
        {{>atoms-mf-input}}
    </div>

    {{#tooltip}}
    <div class="{{iconClassTooltip}}">
        {{>molecules-tooltip}}
    </div>
    {{/tooltip}}

  </div>
{{/mfInput}}

{{#mfChecbox}}
  <div class="d-flex {{checboxClass}}">
    <div>
        {{>atoms-mf-checkbox}}
    </div>

    {{#tooltip}}
    <div  class="{{iconClassTooltip}}">
        {{>molecules-tooltip}}
    </div>
    {{/tooltip}}

  </div>
{{/mfChecbox}}