<!--Begin: Title-->
<div class="row justify-content-md-center">
  <div class="col col-lg-7  g-mt-lg--60  g-mb-lg--50  g-px--0   g-px-lg--10 ">
    {{#dateGeneral}}
      {{>templates-date-general}}
    {{/dateGeneral}}
  </div>
</div>
<!--End Title-->
