<!--Begin: Title-->
<div class="row">
  <div class="g-bg-c--gray12 g-bg-c--gray-xs--trasparent  g-p--0 g-p-lg--30  g-pt--20 w-100 d-block">
    <div class="d-flex align-items-center justify-content-sm-between flex-wrap">
      <div class="">
        {{#dataProfile}}
          {{>organisms-data-profile}}
        {{/dataProfile}}
      </div>
      <div class="g-bl--1--gray17">
        {{#balanceProfile}}
          {{>organisms-balance-profile}}
        {{/balanceProfile}}
      </div>
    </div>
  </div>
</div>
<!--End Title-->

<!--Begin: Alert-->
<div class="clearfix  g-mb--20 ">
  {{#alerts}}
    {{>atoms-alert}}
  {{/alerts}}
</div>
<!--End: Alert-->

<div class="row">
  <div class="col-12">
    <div class="row  g-mb--20 ">
      {{#misDatos}}
      <div class="col-12 col-lg-6  g-mb--20   g-mb-lg--0  g-box-flex">
        {{>organisms-card-box-small}}
      </div>
      {{/misDatos}}
    </div>
    <div class="row  g-mb--20 ">
      <div class="col-12">
        {{#direction}}
        {{>organisms-card-box}}
        {{/direction}}
      </div>
    </div>
  </div>
</div>
