<div class="{{addClass}}">
  <div class="g-mw-6--lg-none g-bg-c--white1 g-b-radius--5 g-box-lg--shadow1">
    <div class="d-flex align-items-center justify-content-center flex-wrap {{paddClass}} {{contentClass}}">
      {{#messages}}
        {{>molecules-messages2}}
      {{/messages}}

      {{#messagesAltern}}
        {{>molecules-messages}}

        {{#table}}
          {{>organisms-boxbrands}}
        {{/table}}

      {{/messagesAltern}}

      {{#formContent}}
        {{>organisms-fm-form-default}}
      {{/formContent}}
    </div>
    {{#btns}}
      <div class="container g-bt--1 {{btnsClass}}">
        {{#btn}}
          <div class="{{addClass}}">
            <div class="{{textClass}}">{{{text}}}</div>
          </div>
        {{/btn}}
      </div>
    {{/btns}}
  </div>
</div>
