<div
  [formGroup]="frm"
  class="c-dropdown-custom js-c-dropdown-custom c-frm--disabled"
  [ngClass]="{'c-frm--disabled': isDisabled || !arrOptions?.length}"
>
  <div
    class="c-dropdown-custom__header"
    (click)="open()"
  >
    <label
      class="g-placeholder"
      [ngClass]="{'is-focused': frm?.controls[name]?.value}"
    >{{ config?.lbl }}</label>
    <span [ngClass]="{'h-opacity--0': !frm?.controls[name]?.value}">{{ selectedOptForLbl }}</span>
    <i
      [ngClass]="{'active': isOpened}"
      class="c-dropdown-custom__icon icon-mapfre_004_triangle-down"
    >
    </i>
    <input
      formControlName="{{ name }}"
      class="d-none"
    />
  </div>
  <div
    [ngClass]="{'active': isOpened}"
    class="c-dropdown-custom__body"
  >
    <div
      (click)="selectOption(opt)"
      [ngClass]="{'active': opt?.isSelected}"
      *ngFor="let opt of arrOptions"
      class="option"
    >
      <i [ngClass]="config?.icon"></i>
      <div class="text">
        <span class="g-font--13 g-mb--5">{{ opt?.topLbl }}</span>
        <span class="g-font--10 g-font--light">{{ opt?.bottomLbl }}</span>
      </div>
    </div>
  </div>
  <div
    *ngIf="arrOptions && !arrOptions?.length && isValid"
    class="txt-error g-pt--10"
  >
    {{ config?.errorMsg }}
  </div>
</div>
