html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $fontfamily;
  font-size: $fz14;

  &.body-hidden {
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &.tel {
    &[href^='tel'] {
      color: inherit;
      text-decoration: none;
    }
  }
}

*:focus {
  outline: 0;
}

@media (min-width: $break-small) {
  .container {
    max-width: 540px;

    &.container1440 {
      max-width: none;
    }
  }
}

@media (min-width: $break-medium) {
  .container {
    max-width: 720px;

    &.container1440 {
      max-width: none;
    }
  }
}

@media (min-width: $break-large) {
  .container {
    max-width: 1024px;

    &.container1440 {
      max-width: none;
    }
  }
}

@media (min-width: $break-xlarge) {
  .container {
    max-width: 1280px;

    &.container1440 {
      max-width: 1440px;
    }
  }
}

// mixin
@mixin bkg-alert($color) {
  background-color: lighten($color, 30%);
  border: 1px solid $color;
  color: $color;
}

@mixin btn-hover--dark($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 5%);
    box-shadow: 0 1px 6px $c-shadow2;
    color: map-get($colors, white1);
    text-decoration: none;
    transition: $t-linear;
  }
}

@mixin link-hover--dark($color) {
  color: $color;

  &:hover {
    border-bottom: 1px solid $color;
    color: darken($color, 5%);
    text-decoration: none;
    transition: $t-linear;
  }
}

@mixin link-mix($color) {
  color: $color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    color: darken($color, 5%);
  }
}

//IE-7+
@mixin inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
