// sass-lint:disable-all
.g-map-filter {

  &--header {
    box-shadow: 0 1px 6px 0 $c-shadow1;
  }

  &--column {
    position: absolute;
    right: 0;
    top: 0;
    width: 375px;
  }

  &-md--fixed {
    width: 100%;
    position: fixed;
    @media (min-width: $break-large) {
      position: absolute;
      width: 375px;
    }
  }

  &--footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &--full {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
  }

  &--title {
    display: none;

    @media (min-width: $break-medium) {
      display: block;
    }

    &.g-map-filter--list {
      display: none;
    }

    &.g-map-filter--search {
      display: none;
    }
  }

  &--show {
    .g-map-filter--content {
      height: calc(100vh - 50px);
    }
  }

  &--list {
    .g-map-filter--header {
      display: none;
    }

    .g-map-filter--title.g-map-filter--list {
      display: flex
    }
  }

  &--search {
    .g-map-filter--title {
      display: none;
    }

    .g-map-filter--click {
      display: none;
    }

    .g-map-filter--content {
      display: none;
    }

    .g-map-filter--title.g-map-filter--search {
      display: flex
    }
  }

  &--options {
    .g-map-filter--full {
      display: none;
    }

    .g-map-filter--filter {
      display: block;
    }

    .g-map-filter--title.g-map-filter--options {
      display: flex
    }
  }

  &--search {
    .g-map-filter--title {
      display: none;
    }

    .g-map-filter--click {
      display: none;
    }

    .g-map-filter--content {
      display: none;
    }
  }

  &--mobile {
    background: map-get($colors, white1);
    border-radius: 4px;
    bottom: 15px;
    padding: 10px 10px 5px;
    position: fixed;
    right: 15px;
    width: 280px;

    @media (min-height: 380px) {
      left: 15px;
      padding-bottom: 10px;
      right: auto;
      width: calc(100% - 30px);
    }
  }

  &--content {
    height: calc(100vh - 110px);
    overflow-y: auto;

    @media (min-width: $break-large) {
      height: calc(100vh - 220px);
    }

    @media (min-width: $break-xlarge) {
      height: calc(100vh - 180px);
    }
  }

  &--content-filter {
    height: calc(100vh - 115px);
    overflow-y: auto;

    @media (min-height: 360px) {
      height: calc(100vh - 228px);
    }

    @media (min-width: $break-large) {
      height: calc(100% - 123px);
    }
  }

  &--button {
    align-items: center;
    background: map-get($colors, white1);
    border-radius: 5px;
    bottom: 90px;
    box-shadow: 0 1px 6px 0 #0000001d;
    color: map-get($colors, black1);
    cursor: pointer;
    display: flex;
    font-size: $fz18;
    height: 40px;
    justify-content: center;
    position: fixed;
    right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 40px;

    @media (min-width: $break-large) {
      right: 390px;
      bottom: 15px;
    }

    &:hover {
      color: map-get($colors, gray18);
    }

    &.top {
      bottom: 90px;

      @media (min-width: $break-large) {
        bottom: 80px;
      }
    }
  }

  &--loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// google map
.g-maps {
  height: calc(100vh - 100px);

  @media (min-width: $break-xlarge) {
    height: calc(100vh - 70px);
  }
}

.g-pr-lg--375 {
  @media (min-width: $break-large) {
    padding-right: 375px;
  }
}

.gm-lightbox {
  &::before {
    @media (min-width: $break-large) {
      content: '';
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 34;
      height: 100%;
      width: 100%;
    }
  }
}

.gm-style-iw {
  left: 0 !important; // sass-lint:disable-line no-important
  overflow: visible !important;
  top: 0 !important; // sass-lint:disable-line no-important
  width: 100% !important; // sass-lint:disable-line no-important

  > div {
    margin-bottom: -20px;
    margin-top: 1px;
    max-width: inherit !important; // sass-lint:disable-line no-important
    position: relative;

    @media (min-width: $break-large) {
      margin-top: 0;
    }
  }
}

.agm-info-window-content {
  margin-top: 1px !important; // sass-lint:disable-line no-important
}

.gm-ui-hover-effect {
  height: auto !important; // sass-lint:disable-line no-important
  right: 15px !important; // sass-lint:disable-line no-important
  top: 15px !important; // sass-lint:disable-line no-important
  width: auto !important; // sass-lint:disable-line no-important

  &::before {
    color: map-get($colors, gray18);
    content: '\e92e';
    font-family: 'MFAutoservicio';
    font-size: 20px;
  }

  img {
    display: none !important; // sass-lint:disable-line no-important
  }
}

// sass-lint:disable-all

@mixin circle($circleSize) {
  width: $circleSize !important;
  height: $circleSize !important;
  border-radius: $circleSize/2 !important;
}

.g-map-filter--user-marker {
  @include circle(15px);
  background: #4285F4;
  border: 1px solid map-get($colors, white1);
  overflow: visible !important;
  position: relative;

  &::before,
  &::after {
    @include circle(15px);
    animation: pulse-me 5s linear infinite;
    background-color: map-get($colors, purple2);
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center center;
    transform: scale(.5);
  }

  &::after {
    animation-delay: 0;
  }

  img {
    display: none !important;
  }
}

@keyframes pulse-me {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.09;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(5);
  }
}

.g-maps--global {
  .g-header {
    @media (max-height: 380px) {
      min-height: 50px;
      transition: none;
    }
  }

  .g-header--menu {
    @media (max-height: 380px) {
      display: none;
    }
  }

  .g-maps {
    @media (max-height: 380px) {
      height: calc(100vh - 50px);
    }
  }
}

.gm-info-windows-parent {
  @media (min-width: $break-large) {
    width: 482px !important;
  }
}

.g-chrome .agm-map-container-inner.sebm-google-map-container-inner > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4) {
  @media (min-width: $break-large) {
    width: 480px !important;
  }
}

.g-chrome .agm-map-container-inner.sebm-google-map-container-inner > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) {
  @media (min-width: $break-large) {
    width: 100% !important;
  }
}

.g-chrome .agm-map-container-inner.sebm-google-map-container-inner > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2) {
  @media (min-width: $break-large) {
    width: 100% !important;
  }
}

.g-modal-map--open {
  overflow: hidden;

  @media (min-width: $break-large) {
    overflow: visible;
  }

  body {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    &.g-safari-iphone {
      .g-map-filter--content {
        padding-bottom: 80px;

        @media (max-height: 380px) {
          padding-bottom: 0;
        }
      }
    }

    &.g-chrome {
      .g-map-filter--content {
        padding-bottom: 60px;

        @media (min-width: $break-medium) {
          padding-bottom: 0;
        }
      }
    }

    .g-map-filter--button {
      display: none;

      @media (min-width: $break-large) {
        display: flex;
      }
    }
  }
}
