body {
  background-color: map-get($colors, gray11);
  color: map-get($colors, gray3);
}

// Overflow
.g-o {
  &--hidden {
    overflow: hidden;
  }

  &-y--auto {
    overflow-y: auto;
  }

  &-lg--hidden {
    @media (min-width: $break-large) {
      overflow: hidden;
    }
  }
}

// Display
.g-inlineblock {
  @include inlineblock;
}

// 100%

.w-md-50 {
  width: 100%;

  @media (min-width: $break-medium) {
    width: 50%;
  }
}

.p-tb--15-lr--30 {
  padding: 15px 30px;
}

.g-padding-left-xs--45 {
  padding-left: 45px;

  @media (min-width: $break-small) {
    padding-left: 0;
  }
}

// max width
.img-mw--75 {
  img {
    max-width: 75px;
  }

  @media (min-width: $break-medium) {
    img {
      max-width: 100%;
    }
  }
}

.mw--500 {
  max-width: 500px;
}

// sass-lint:disable-all
/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// sass-lint:enable-all
.g-mt--minus--25 {
  margin-top: -25px;

  @media (min-height: 768px) {
    margin-top: 25px;
  }
}

// min heigth
.min-height {
  &--70 {
    min-height: 70px;
  }

  &--100 {
    min-height: 100%;
  }

  &--360 {
    min-height: 360px;
  }
}

// border radius
.g-border-radius {
  &--5 {
    border-radius: 5px;
  }

  &--tlr5 {
    border-radius: 5px 5px 0 0;
  }

  &--10 {
    border-radius: 10px;
  }

  &--15 {
    border-radius: 15px;
  }

  &--20 {
    border-radius: 20px;
  }

  &--25 {
    border-radius: 25px;
  }

  &--30 {
    border-radius: 5px;

    @media (min-width: $break-medium) {
      border-radius: 30px;
    }
  }

  &--50 {
    border-radius: 50%;
  }

  &-xs--0 {
    @media (max-width: $break-medium) {
      border-radius: 0;
    }
  }
}

.g-max-width--calc {
  max-width: calc(100% - 35px);
}

// max min width
.g-mw--6 {
  max-width: 600px;

  &--lg-none {
    max-width: 100%;

    @media (min-width: $break-large) {
      max-width: 600px;
    }
  }
}

.g-mw-100 {
  max-width: 100%;
  min-width: 100%;
}

.g-mh-100vh {
  max-height: 100vh;
  min-height: 10vh;
}

.g-max-height--180 {
  height: 180px;
  max-height: 180px;
}

// Cursor
.g-c {
  &--pointer {
    cursor: pointer;
  }

  &--default {
    cursor: initial;
  }
}

// Overflow
.g-vfw--auto {
  overflow: auto;
}

.g-btn-xs-fixed {
  bottom: 0;
  min-height: 60px;
  position: fixed;

  @media (min-width: $break-large) {
    position: inherit;
  }
}

.g-no-scroll {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  @media (min-width: $break-xlarge) {
    overflow: auto;
    position: relative;
  }
}

.g-h-xs-100 {
  height: 100%;

  @media (min-width: $break-xlarge) {
    height: auto;
  }
}

.g-order--1 {
  order: 1;
}

.g-order-lg--0 {
  @media (min-width: $break-large) {
    order: 0;
  }
}

.g-flex--1 {
  flex: 1;
}

html {
  &.body-hidden {
    overflow: hidden;
  }
}

// sass-lint:disable-all
.g-modal-no-scroll {
  overflow: initial;
  position: fixed;
  width: 100%;
  height: 100%;

  @media (min-width: $break-large) {
    position: relative;
  }
}
// sass-lint:enable-all

// position absolute
.g-pa--rb15 {
  bottom: -15px;
  position: absolute;
  right: -15px;
}

.g-pa--bc {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

// max heigth scroll
.g-max-h-lg--60 {
  @media (min-width: $break-large) {
    max-height: 600px !important; // sass-lint:disable-line no-important
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.w-mx-990 {
  max-width: 990px;
}

.g-shadow--line {
  border-top: 1px solid map-get($colors, gray11);
  box-shadow: inset 0 5px 13px -10px $c-shadow1;
  min-height: calc(100vh - 100px);

  @media (min-width: $break-medium) {
    min-height: inherit;
  }
}

.g-shadow--horz {
  box-shadow: inset 0 5px 13px -10px $c-shadow1;

  @media (min-width: $break-large) {
    box-shadow: 0 0 10px $c-shadow1;
  }
}

.g-flex--shrink {
  flex-shrink: 1;
}

.g-bg-opacity--2 {
  &::before {
    background: map-get($colors, white1);
    content: '';
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.g-min-h--100 {
  min-height: calc(100vh - 70px);
}

.g-height--full {
  min-height: calc(100vh - 100px);
  position: relative;

  @media (min-width: $break-large) {
    min-height: calc(100vh - 70px);
  }
}

.sect-container {
  position: relative;
}

.g-map--full {
  min-height: calc(100vh - 70px);
  padding-right: 0;

  @media (min-width: $break-xlarge) {
    min-height: calc(100vh - 70px);
  }
}

.g-max-w--570 {
  max-width: 570px;
}

.g-max-w-lg--570 {
  @media (min-width: $break-large) {
    max-width: 570px;
  }
}

.g-max-w-xl--570 {
  @media (min-width: $break-xlarge) {
    max-width: 570px;
  }
}

.g-max-w--inherit {
  @media (min-width: $break-medium) {
    max-width: inherit;
  }
}

.g-max-w-lg--500 {
  @media (min-width: $break-large) {
    max-width: 500px;
  }
}

.g-max-w-md--760 {
  @media (min-width: $break-medium) {
    max-width: 760px;
  }
}

.g-max-w-lg--690 {
  @media (min-width: $break-large) {
    max-width: 690px;
  }
}

.g-max-w-lg--990 {
  @media (min-width: $break-large) {
    max-width: 990px;
  }
}

.g-btn--80 {
  display: block;
  margin: auto;
  width: 100%;

  @media (min-width: $break-medium) {
    width: 80%;
  }
}

.g-mx-n--15 {
  margin-left: -15px;
  margin-right: -15px;
}

.g-mx-n-lg--15 {
  @media (min-width: $break-large) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.g-mr-n-lg--15 {
  @media (min-width: $break-large) {
    margin-right: -15px;
  }
}

.h-lg-100 {
  @media (min-width: $break-large) {
    height: 100%;
  }
}

// font family
.g-fm--roboto {
  font-family: roboto;
}

.g-mt-n--3 {
  margin-top: -3px;
}

.g-mt-n--10 {
  margin-top: -10px;
}

.g-mt-n--15 {
  margin-top: -15px;
}

.g-mb--03 {
  margin-bottom: 3px;
}

.g-mt-n-lg--15 {
  @media (min-width: $break-large) {
    margin-top: -15px;
  }
}

.d-2xl-block {
  @media (min-width: $break-2xlarge) {
    display: block !important; // sass-lint:disable-line no-important
  }
}

.d-2xl-none {
  @media (min-width: $break-2xlarge) {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.h-objfit--cover {
  object-fit: cover;
}

.h-info-modal {
  overflow: hidden;
  position: relative;

  .img {
    background-position: 0 0;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.h-position--heart {
  position: absolute;
  right: 20px;
  top: 0;
}

.g-list {
  &-bullet {
    > li {
      list-style: disc;
      margin-left: 15px;
    }
  }

  &-alpha {
    counter-reset: list;

    > li {
      list-style: none;
      margin-bottom: 3px;
      padding-left: 25px;
      position: relative;

      &::before {
        content: counter(list, lower-alpha) ') ';
        counter-increment: list;
        left: 0;
        position: absolute;
      }
    }
  }

  &-number {
    counter-reset: list;

    > li {
      list-style: none;
      margin-bottom: 3px;
      padding-left: 30px;
      position: relative;

      &::before {
        content: counter(list) '. ';
        counter-increment: list;
        left: 10px;
        position: absolute;
      }
    }
  }
}

.text-lg-truncate {
  @media (min-width: $break-large) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.text-lg-nowrap {
  @media (min-width: $break-large) {
    white-space: nowrap !important; // sass-lint:disable-line no-important
  }
}

.g-mt--3 {
  margin-top: 3px;
}

.g-mt-lg--3 {
  @media (min-width: $break-large) {
    margin-top: 3px;
  }
}

.simplebar-track {
  &.vertical,
  &.horizontal {
    display: none;

    @media (min-width: $break-large) {
      display: block;
    }
  }
}

.g-min-full {
  @media (min-width: $break-medium) {
    min-height: calc(100vh - 100px);
  }

  @media (min-width: $break-large) {
    min-height: calc(100vh - 70px);
  }
}

.p-xs--5 {
  padding: 5px;
}

.p-xs--15 {
  padding: 15px;
}

.p-xs--25 {
  padding: 25px;
}

.pt-xs--15 {
  padding-top: 15px;
}

.pb-xs--15 {
  padding-bottom: 15px;
}

.mb-xs--5 {
  margin-bottom: 5px;
}

.ml-xs--05 {
  margin-left: 5px;
}

.g-maxh--62 {
  max-height: 62px;
}

.g-container-block {
  width: 100%;

  @media (min-width: $break-2xlarge) {
    padding-right: 5%;
  }
}

// sass-lint:enable-all

.g-item-list {
  &--block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .g-item-list--option {
      width: 100%;

      @media (min-width: $break-small) {
        width: 50%;
      }
    }
  }
}

.g-table {
  &--row {
    &:nth-child(even) {
      background: map-get($colors, gray5);
    }
  }

  &--fixed {
    left: 25px;
    position: fixed;
    top: 0;
    width: calc(100% - 50px);
    z-index: 10;
  }
}

.g-box-icons--active {
  .w-10--active {
    width: 100%;

    @media (min-width: $break-large) {
      width: auto;
    }
  }
}

.g-pos--3 {
  top: 3px;
}

.g-text-shadow--10-white1 {
  text-shadow: 0 0 10px map-get($colors, white1);
}

.g-width {
  margin: auto;
  max-width: 1280px;
}

.g-flex-shrink--0 {
  flex-shrink: 0;
}

.g-flex-grow--1 {
  flex-grow: 1;
}

.g-up {
  bottom: 10px;
  position: fixed;
  right: 10px;
}

.g-banner {
  img {
    max-width: inherit;
  }

  &--ios {
    bottom: 90px;
    left: 20px;
    position: absolute;

    @media (min-width: $break-medium) {
      bottom: 70px;
      left: 50px;
    }
  }

  &--android {
    bottom: 25px;
    left: 20px;
    position: absolute;

    @media (min-width: $break-medium) {
      bottom: 70px;
      left: 230px;
    }
  }

  &--hover {
    display: none;
  }

  &--white {
    .g-banner--ios,
    .g-banner--android {
      border: 1px solid map-get($colors, black1);
      border-radius: 8px;
      bottom: 0;
      left: 0;
      position: relative;
    }
  }

  &--apps {
    &:hover {
      .g-banner--default {
        @media (min-width: $break-medium) {
          display: none;
        }
      }

      .g-banner--hover {
        @media (min-width: $break-medium) {
          display: block;
        }
      }
    }
  }
}

.g-none {
  display: none;
}

.g-block {
  display: block;
}

.g-xs-block {
  @media (min-width: $break-xsmall) {
    display: block;
  }
}

.g-xs-none {
  @media (min-width: $break-xsmall) {
    display: none;
  }
}

.g-sm-block {
  @media (min-width: $break-small) {
    display: block;
  }
}

.g-sm-none {
  @media (min-width: $break-small) {
    display: none;
  }
}

.g-md-block {
  @media (min-width: $break-medium) {
    display: block;
  }
}

.g-md-none {
  @media (min-width: $break-medium) {
    display: none;
  }
}

.g-lg-block {
  @media (min-width: $break-large) {
    display: block;
  }
}

.g-lg-none {
  @media (min-width: $break-large) {
    display: none;
  }
}

.g-xl-block {
  @media (min-width: $break-xlarge) {
    display: block;
  }
}

.g-xl-none {
  @media (min-width: $break-xlarge) {
    display: none;
  }
}

.g-c-md--gray18 {
  @media (min-width: $break-medium) {
    color: map-get($colors, gray18);
  }
}

// sass-lint:disable-all
.g-bar-horz {
  overflow: hidden;

  .g-tablist__tab {
    @media (min-width: $break-large) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (min-width: $break-2xlarge) {
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
// sass-lint:enable-all

.g-notfound {
  &--content {
    @media (min-width: $break-large) {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  &--imagen {
    margin-bottom: 20px;

    @media (min-width: $break-large) {
      margin-bottom: 0;
      margin-right: 20px;
      width: 70px;
    }
  }

  &--medium {
    .g-notfound--content {
      @media (min-width: $break-large) {
        text-align: left;
      }
    }

    .g-notfound--imagen {
      @media (min-width: $break-large) {
        width: 140px;
      }
    }
  }

  &--default {
    .g-notfound--content {
      @media (min-width: $break-large) {
        align-items: initial;
        display: block;
        justify-content: initial;
        text-align: center;
      }
    }

    .g-notfound--imagen {
      margin-bottom: 0;

      @media (min-width: $break-large) {
        margin-bottom: 20px;
        margin-right: 0;
        width: auto;
      }
    }
  }
}

.g-navbar {
  &--fixed {
    @media (min-width: $break-large) {
      left: 0;
      padding-left: 15px;
      padding-right: 15px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99;
    }

    @media (min-width: $break-xlarge) {
      padding-left: 255px;
    }

    .g-navbar--hide {
      @media (min-width: $break-large) {
        display: none !important; // sass-lint:disable-line no-important
      }
    }

    .g-navbar--show {
      @media (min-width: $break-large) {
        display: block !important; // sass-lint:disable-line no-important
      }
    }

    .g-navbar--money {
      @media (min-width: $break-large) {
        display: inline-block;
      }
    }

    .g-navbar--title {
      @media (min-width: $break-large) {
        font-size: 13px;
        padding: 0;
      }
    }

    .g-navbar--bgto {
      @media (min-width: $break-large) {
        background: none;
        padding: 5px 20px;
      }
    }

    .g-navbar--shadow {
      @media (min-width: $break-large) {
        box-shadow: 0 0 10px map-get($colors, gray21);
      }
    }

    .g-navbar--gray {
      @media (min-width: $break-large) {
        padding: 9px 0;
      }
    }
  }

  &--title {
    font-size: 18px;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  &--money {
    display: none;
  }

  &--bgto {
    background: map-get($colors, gray11);
    padding: 10px 20px;
  }

  &--menu {
    bottom: 0;
    display: none;
    justify-content: space-between;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 15;
  }

  &--active {
    display: flex !important; // sass-lint:disable-line no-important

    @media (min-width: $break-large) {
      display: none !important; // sass-lint:disable-line no-important
    }
  }
}

.g-br--circle {
  border-radius: 50%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}

.g-py--7 {
  padding-bottom: 7px;
  padding-top: 7px;
}

.g-map {
  &--top {
    box-shadow: 0 6px 14px $c-shadow1;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;

    @media (min-width: $break-xlarge) {
      height: 70px !important; // sass-lint:disable-line no-important
    }
  }

  &--search {
    box-shadow: 0 6px 14px $c-shadow1;
    left: 0;
    position: absolute;
    top: 50px;
    z-index: 9999;

    @media (min-width: $break-xlarge) {
      left: 50%;
      max-width: 600px;
      top: 90px;
      transform: translateX(-50%);
    }
  }

  &--bottom {
    bottom: 0;
    box-shadow: 0 6px 14px $c-shadow1;
    left: 0;
    padding: 10px;
    position: fixed;
    z-index: 9999;

    @media (min-width: $break-xlarge) {
      padding-left: 240px;
    }
  }

  &--autocomplete {
    background: map-get($colors, white1);
    box-shadow: 0 10px 20px $c-shadow1;
    left: 0;
    position: absolute;
    top: 107px;
    width: 100%;

    @media (min-width: $break-xlarge) {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 6px 14px $c-shadow1;
      left: calc(50% - 67px);
      max-width: 444px;
      overflow: hidden;
      top: 138px;
      transform: translateX(-50%);
    }

    &-item {
      align-items: center;
      color: map-get($colors, gray10);
      cursor: pointer;
      display: flex;
      overflow: hidden;
      padding: 13px;

      &:hover {
        @media (min-width: $break-large) {
          background: map-get($colors, blue3);
          color: map-get($colors, white1);
        }
      }
    }
  }
}

.g-shadow--header {
  box-shadow: 0 1px 6px 0 $c-shadow1;
}

.g-full-box--footer {
  @media (max-width: $break-large) {
    background: map-get($colors, white1);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 15;
  }
}

.g-tooltip--alternative-top-left {
  .g-tooltip--alternative-message--right {
    left: auto !important; // sass-lint:disable-line no-important
    right: -15px !important; // sass-lint:disable-line no-important
    transform: translateX(0) !important; // sass-lint:disable-line no-important
  }

  .g-tooltip--alternative-arrow {
    left: auto !important; // sass-lint:disable-line no-important
    right: -24px !important; // sass-lint:disable-line no-important
  }
}

.g-tooltip-mobile--alternative-top-left {
  .g-tooltip--alternative-message--right {
    @media (max-width: $break-large) {
      left: auto !important; // sass-lint:disable-line no-important
      right: -15px !important; // sass-lint:disable-line no-important
      transform: translateX(0) !important; // sass-lint:disable-line no-important
    }
  }

  .g-tooltip--alternative-message {
    .g-tooltip--alternative-arrow {
      @media (max-width: $break-large) {
        left: auto !important; // sass-lint:disable-line no-important
        right: 0 !important; // sass-lint:disable-line no-important
      }
    }

    &.g-tooltip--alternative-message--bottom {
      .g-tooltip--alternative-arrow {
        @media (max-width: $break-large) {
          left: auto !important; // sass-lint:disable-line no-important
          right: -24px !important; // sass-lint:disable-line no-important
        }
      }
    }
  }
}

.g-pt--3 {
  padding-top: 3px;
}

.g-mh-lg--60 {
  max-height: 600px !important; // sass-lint:disable-line no-important
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.g-mt-minus--1 {
  margin-top: -1px;
}

html,
body {
  &.g-full-hidden {
    overflow: hidden;
  }
}

.g-font--4 {
  font-size: 4px;
}

// sass-lint:disable-all
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  transition: background-color 5000s ease-in-out 0s;
}
// sass-lint:enable-all

.g-break-word {
  word-break: break-word;
}

.g-flex {
  display: flex;
}

.d-2xl {
  &-flex {
    @media (min-width: $break-2xlarge) {
      display: flex !important; // sass-lint:disable-line no-important
    }
  }

  &-block {
    @media (min-width: $break-2xlarge) {
      display: block !important; // sass-lint:disable-line no-important
    }
  }
}
