.icon {
  &--success {
    background-image: url($imgurl + '/messages/icon_complete.svg');
    height: 100px;
    width: 200px;
  }

  &--fail {
    background-image: url($imgurl + '/messages/icon_fail.svg');
    height: 100px;
    width: 200px;
  }

  &--error {
    background-image: url($imgurl + '/messages/icon_error.svg');
    height: 100px;
    width: 200px;
  }

  &--search {
    background-image: url($imgurl + '/messages/icon_search.svg');
    height: 100px;
    width: 200px;
  }

  &--mail {
    background-image: url($imgurl + '/messages/icon_mail.svg');
    height: 100px;
    width: 200px;

    &-small {
      background-position: center;
      background-size: 100%;
      width: 200px;
    }
  }
}
