.landing--form {
  box-shadow: 0 6px 14px $c-shadow1;
}

.linebox {
  &--item {
    height: 1px;
    margin-left: 15px;
    margin-top: 5px;
    width: 80px;
  }

  &--left {
    margin-left: 0;
    margin-right: 15px;
  }
}

.g-difuminado {
  position: relative;

  &::before {
    background-image: url('../../images/difuminado.png');
    background-position: center -20px;
    background-repeat: no-repeat;
    content: '';
    height: 178px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.g-view-landing-home-sctr {
  background-color: map-get($colors, gray5);

  @media (min-width: $break-medium) {
    background-color: transparent;
    background-image: url('../../images/bg-constancias.png');
    background-position: center 0;
    background-repeat: no-repeat;
  }
}

.g-view-landing-home {
  background-color: map-get($colors, gray5);

  @media (min-width: $break-medium) {
    background-color: transparent;
    background-image: url('../images/bg-landing-home.png');
    background-position: center -270px;
    background-repeat: no-repeat;
  }
}

.g-view-landing-bg {
  background-color: map-get($colors, gray5);

  @media (min-width: $break-medium) {
    background-color: transparent;
    background-image: url('../images/bg-landing-health.png ');
    background-position: center 160px;
    background-repeat: no-repeat;
  }
}

.g-view-landing-activity {
  @media (min-width: $break-medium) {
    background-color: transparent;
    background-image: url('../images/bg-landing-activity.png');
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  @media (min-width: $break-large) {
    background-position: top center;
  }
}

.fixed--box {
  box-shadow: 0 2px 6px $c-shadow1;
  display: none;
  left: 0;
  min-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  &--wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    @media (min-width: $break-large) {
      justify-content: space-between;
    }
  }

  .g-btn {
    margin-bottom: -16px;
    margin-top: 20px;
    @media (min-width: $break-large) {
      bottom: -16px;
      margin-bottom: 0;
      margin-top: 0;
      position: absolute;
      right: 0;
    }
  }

  .g-list {
    display: none;

    @media (min-width: $break-large) {
      display: flex;
    }

    > li {
      .g-list--text {
        color: map-get($colors, black1);
        display: block;
        padding: 15px 25px;
        width: auto;

      }
    }
  }
}

.landing-home-header {
  .flex--box {
    display: none;
    line-height: 1.2;
    @media (min-width: $break-small) {
      display: flex;
    }
  }
}

.card--box {
  .card--box--item {
    @media (min-width: $break-small) {
      border-bottom-left-radius: 105px;
      border-top-right-radius: 15px;
      display: flex;
    }
    @media (min-width: $break-large) {
      margin: 1% 1.5%;
      width: 47%;
    }
  }
}

.slider--box {
  position: relative;

  .navigation--left,
  .navigation--right {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .navigation--right {
    left: auto;
    right: 0;
  }
}

.g-col-icon {
  width: calc(100% - 50px);
}

.info--box {
  display: inline-block;
  position: relative;

  &--center {
    .info--box--icon {
      bottom: auto;
      left: 50%;
      position: absolute;
      right: auto;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.info--box--right {
    .info--box--icon {
      bottom: -15px;
      position: absolute;
      right: -15px;
      transform: none;
    }
  }

  &--imagen {
    border-radius: 50%;
    overflow: hidden;
  }

  &--block {
    display: block;
    @media (min-width: $break-medium) {
      display: inline-block;
    }

    .info--box--imagen {
      border-radius: 50%;
      margin: auto ;
      position: relative;
      width: 150px;

      @media (min-width: $break-small) {
        border-radius: 50%;
        width: 200px;
      }

      @media (min-width: $break-medium) {
        border-radius: 0;
        width: auto;
      }

      img {
        height: 150px;
        max-width: inherit;
        @media (min-width: $break-small) {
          height: 200px;
          max-width: inherit;
        }
        @media (min-width: $break-medium) {
          height: auto;
          max-width: 100%;
        }
      }

      .img-mw--460 {
        max-width: 460px;
      }
    }

    .info--box--icon {
      bottom: 0;
      top: auto;
      transform: translate(-50%, 0);
    }

  }

  &--icon {
    display: none;
    @media (min-width: $break-medium) {
      bottom: 0;
      display: block;
      position: absolute;
      right: 0;

      .info--icon--right {
        margin-left: -130px;
        margin-top: -10px;
      }
    }
  }
}

.d-relative,
.carousel {
  position: relative;
  z-index: 1;
}

.info2--box {
  &--left {
    @media (min-width: $break-medium) {
      margin-left: -10px;
      margin-right: 10px;
    }

    @media (min-width: $break-large) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--right {
    @media (min-width: $break-medium) {
      margin-left: 10px;
      margin-right: -10px;
    }

    @media (min-width: $break-large) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (min-width: $break-medium) {
    background-color: map-get($colors, white1);
    box-shadow: 0 1px 6px $c-shadow1;
    padding-bottom: 45px !important; // sass-lint:disable-line no-important
  }

  &--bottom {
    @media (min-width: $break-medium) {
      bottom: 30px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}

.over-filter {
  &::before {
    background-color: $bg-opacity--white1;
    content: '';
    height: 100%;
    left: 15px;
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    z-index: 11;
  }
}

.shadow-bt--white {
  &::before {
    box-shadow: 0 -40px 40px map-get($colors, white1) inset;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
  }

}

.mh-130 {
  max-height: 130px;

  @media (min-height: 768px) {
    max-height: 100%;
  }
}

.g-loader {
  background-color: map-get($colors, gray21);
  height: 4px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    animation: cargando 2s linear infinite;
    background-color: map-get($colors, red1);
    content: '';
    display: block;
    height: 4px;
    left: -200px;
    position: absolute;
    width: 200px;
  }
}

@keyframes cargando {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}
