.g-view-login {
  width: 100%;

  &.g-div--middle > .container {
    margin-left: 0 !important; // sass-lint:disable-line no-important
    padding-left: 15px !important; // sass-lint:disable-line no-important
  }
}

.login--help {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  .help-box {
    text-align: center;

    .line-1 {
      font-size: $fz20;
      font-weight: $medium;
    }

    .line-2 {
      font-size: $fz15;
      font-weight: $medium;
    }

    .line-3 {
      font-size: $fz10;
      font-weight: $medium;
    }

    @media (min-width: $break-large) {
      text-align: left;
    }
  }
}

.login--welcome {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  .welcome-box {
    border-left: 2px solid map-get($colors, white1);
    padding-left: 10px;
  }

  // sass-lint:disable class-name-format
  .g-icon--xl {
    font-size: 40px;
    @media (min-width: $break-medium) {
      font-size: 55px;
    }
  }
  // sass-lint:enable class-name-format¨

}

.login--form {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 2;

  @media (min-width: $break-xlarge) {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &.register-success {
    min-height: inherit;

    @media (min-width: $break-large) {
      min-height: 520px;
    }
  }
}

.view-login {
  background-image: linear-gradient(to left, map-get($colors, red3), $c-shadow1);
  color: map-get($colors, gray3);

  @media (min-width: $break-large) {
    background-image: url('../images/bg_login.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.login-content {
  &--bottom {
    color: map-get($colors, gray7);
    position: relative;

    &::before {
      background-color: map-get($colors, red9);
      content: '';
      height: 100%;
      opacity: .3;
      position: absolute;
      width: 100%;
    }
  }

  .login--form {
    .g-icon-circle {
      &--md {
        height: 24px;
        width: 24px;

        @media (min-width: $break-large) {
          height: 35px;
          width: 35px;
        }
      }

      .g-icon--xs {
        font-size: 13px;

        @media (min-width: $break-large) {
          font-size: 20px;
        }
      }
    }
  }

  .float-icon {
    left: -9px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    z-index: 10;

    .g-icon--circle {
      box-shadow: 0 13px 17px -8px $c-shadow3;
    }
  }
}

.g-login-type {
  &--item {
    border-color: map-get($colors, gray7) transparent transparent;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    margin: 15px 0;
    padding: 15px;
    width: 100%;

    &:first-child {
      border-top-color: transparent;
    }

    @media (min-width: $break-large) {
      border-top-color: transparent;
    }

    &:hover {
      border: 1px solid map-get($colors, gray7);
    }
  }
}
