.carousel-indicators {
  & li {
    background-color: transparent;
    border: 1px solid map-get($colors, gray3);
    border-radius: 100%;
    cursor: pointer;
    flex: 0 1 auto;
    height: 12px !important; // sass-lint:disable-line no-important
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    text-indent: -999px;
    width: 12px !important; // sass-lint:disable-line no-important

    &.active {
      background-color: map-get($colors, gray3) !important; // sass-lint:disable-line no-important
    }
  }
}

.carousel-control-prev {
  left: 10px !important; // sass-lint:disable-line no-important
}

.carousel-control-next {
  right: 10px !important; // sass-lint:disable-line no-important
}

.g-slider {
  justify-content: center;

  .g-slider--item {
    width: auto !important; // sass-lint:disable-line no-important
  }
}
