<!-- Route -->
<ng-container *ngIf="!item.external; else externalLink">
  <div
    (click)="onAction()"
    ctrl="linkViewItem" (domChange)="onDomChange($event, { label: actionItem.titulo })">
    <ng-container *ngTemplateOutlet="icons; context: {$implicit: item}"></ng-container>
  </div>
</ng-container>

<!-- URL -->
<ng-template #externalLink>
  <a
    href="{{ item.route }}"
    target="_blank"
    rel="nofollow"
    ctrl="linkViewItem" (domChange)="onDomChange($event, { label: actionItem.titulo })">
    <ng-container *ngTemplateOutlet="icons; context: {$implicit: item}"></ng-container>
  </a>
</ng-template>

<!-- Template comun -->
<ng-template #icons let-item>
  <div class="text-center g-c--pointer">
    <div class="g-circle--item position-relative" [ngClass]="item?.circleBgc">
      <span class="g-font--34 g-c--white1 g-ico--center" [ngClass]="item?.icon"></span>
    </div>
    <div class="">{{actionItem.titulo}}</div>
  </div>
</ng-template>
