// Button
.g-btn {
  @include inlineblock;
  background-color: map-get($colors, red1);
  border-radius: 30px;
  color: map-get($colors, white1);
  font-size: $fz14;
  outline: none;
  padding: 10px 20px;
  text-align: center;
  transition: $t-linear;

  @media (min-width: $break-large) {
    &:hover {
      background-color: darken(map-get($colors, red1), 5%);
      box-shadow: 0 1px 6px $c-shadow2;
      color: map-get($colors, white1);
      text-decoration: none;
      transition: $t-linear;
    }
  }

  &--default {
    margin: auto;
    width: 80%;

    @media (min-width: $break-xsmall) {
      width: 50%;
    }

    @media (min-width: $break-medium) {
      min-width: 240px;
      width: auto;
    }
  }

  &--mobile {
    display: block;
    margin: auto;
    width: 100%;

    @media (min-width: $break-xsmall) {
      width: 50%;
    }

    @media (min-width: $break-medium) {
      min-width: 240px;
    }
  }

  &--reset {
    margin: auto;
    width: 100%;

    @media (min-width: $break-xsmall) {
      min-width: 240px;
      width: auto;
    }
  }

  &--gray16 {
    @include btn-hover--dark(map-get($colors, gray16));
  }

  &.block {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border: 1px solid map-get($colors, gray4);
    color: map-get($colors, gray4);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }

}

.g-btn-outline {
  background: transparent;
  border: 1px solid map-get($colors, red1);
  color: map-get($colors, red1);

  &.disabled {
    border: 1px solid map-get($colors, gray4);
    color: map-get($colors, gray4);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }
}

.g-btn-special {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;

  &::after,
  &::before {
    border-color: transparent transparent map-get($colors, red3);
    border-style: solid;
    border-width: 25px 15px 25px 0;
    content: '';
    height: 0;
    position: absolute;
    right: -15px;
    top: -25px;
    width: 0;
  }

  &::after {
    border-width: 25px 0 25px 15px;
    left: -15px;
    right: auto;
  }
}

.btn-fixed--bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.g-btn-upload {
  @include inlineblock;
  background-color: map-get($colors, white1);
  border: solid 1px map-get($colors, gray10);
  border-radius: 5px;
  color: map-get($colors, green1);
  font-size: $fz14;
  line-height: 1;
  min-width: 200px;
  outline: none;
  padding: 20px;
  transition: $t-linear;

  @media (min-width: $break-large) {
    &:hover {
      background-color: map-get($colors, gray12);
      color: map-get($colors, gray18);
      text-decoration: none;
      transition: $t-linear;
    }
  }

  &.block {
    display: block;
    width: 100%;
  }

  &:focus {
    outline: 0;
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border: 1px solid map-get($colors, gray21);
    color: map-get($colors, gray21);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }
}

.g-btn-clear {
  background: transparent;
  border: none;

  &.disabled {
    border: 1px solid map-get($colors, gray4);
    color: map-get($colors, gray4);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }
}
