//Checkbox
.g-checkbox {
  position: relative;
  text-align: left;
  z-index: 1;

  .checkbox {
    cursor: pointer;
    margin-bottom: 15px;
    padding-left: 28px;
    position: relative;

    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      top: 0;
    }

    &::after {
      height: $fz18;
      width: $fz18;
    }

    &::before {
      background: map-get($colors, white1);
      border: 1px solid map-get($colors, gray2);
      border-radius: 3px;
      cursor: pointer;
      height: $fz17;
      width: $fz17;
    }
  }

  input {
    &[type= 'checkbox'] {
      height: 0;
      outline: 0;
      position: absolute;
      visibility: hidden;
      width: 0;
    }

    &:checked + .checkbox {
      &::before {
        background: map-get($colors, green1);
        border: none;
      }

      &::after {
        color: map-get($colors, white1);
        content: '\e903';
        font-family: 'MFAutoservicio';
        font-size: $fz10;
        left: 4px;
        line-height: $fz18;
        z-index: 999;
      }
    }

    // sass-lint:disable-all
    &:disabled {
      + .checkbox {
        &::before {
          border-color: map-get($colors, gray4);
        }
      }

      &:checked + .checkbox::before {
        background: map-get($colors, gray4);
      }
    }
    // sass-lint:enable-all
  }

  .label-none {
    padding-left: 17px;
  }

  &.disabled {
    color: map-get($colors, gray4);

    label {
      cursor: no-drop;

      .checkbox {
        cursor: no-drop;
      }
    }

    input {
      + .checkbox {
        &::before {
          border-color: map-get($colors, gray21);
        }
      }

      &:checked + .checkbox {
        &::before {
          background: map-get($colors, gray21);
        }
      }
    }
  }
}
