.g-hour {
  border-bottom: 1px solid map-get($colors, gray2);

  &.disabled {
    border-color: map-get($colors, gray21);
    color: map-get($colors, gray21);
    cursor: not-allowed !important; // sass-lint:disable-line no-important
  }
}
