//Radio
.g-radio {
  position: relative;
  text-align: left;

  .radio {
    cursor: pointer;
    height: 24px;
    padding-left: 40px;
    position: relative;
    width: 24px;
    z-index: 9;

    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      top: 0;
    }

    &::after {
      height: $fz24;
      width: $fz24;
    }

    &::before {
      background: map-get($colors, white1);
      border: 3px solid map-get($colors, gray18);
      border-radius: 50%;
      cursor: pointer;
      height: $fz24;
      width: $fz24;
    }
  }

  input {
    &[type='radio'] {
      height: 0;
      outline: 0;
      position: absolute;
      visibility: hidden;
      width: 0;
    }

    &:checked + .radio {
      &::before {
        background: map-get($colors, green1);
        border: none;
        height: $fz12;
        left: 6px;
        top: 6px;
        width: $fz12;
      }

      &::after {
        border: 3px solid map-get($colors, green1);
        border-radius: 50%;
        color: map-get($colors, white1);
        content: '';
        z-index: 10;
      }
    }

    // sass-lint:disable-all
    &:disabled {
      + .radio::before {
        border-color: map-get($colors, gray12);
      }

      &:checked + .radio::before {
        background: map-get($colors, gray12);
      }
    }
    // sass-lint:enable-all
  }
}

.g-form-icon {
  color: map-get($colors, gray2);
  height: 35px;
  line-height: 35px;
  margin-top: 10px;
}

.g-input-symbol {
  &--soles {
    &::before {
      content: 'S/ ';
    }
  }

  &--dolar {
    &::before {
      content: '$ ';
    }
  }

  &--euro {
    &::before {
      content: '\20AC';
    }
  }
}

.g-radio-items {
  border: 1px solid map-get($colors, gray11);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 20px;
  position: relative;
  width: 100%;

  @media (min-width: $break-medium) {
    margin-bottom: 0;
    padding: 10px;
  }

  &:last-child {
    margin-right: 0 !important; // sass-lint:disable-line no-important
  }

  &--active {
    border: 1px solid map-get($colors, green1);
  }

  .radio {
    padding-left: 0;
  }

  &--circle {
    @media (min-width: $break-medium) {
      bottom: 15px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &--disabled {
    background: map-get($colors, gray12);
    cursor: not-allowed;

    label {
      cursor: not-allowed;
    }

    .g-radio {
      .radio {
        cursor: not-allowed;
      }
    }
  }
}
