<div class="g-px--30 g-pb--20 g-p-md--40">
  <div class="d-flex justify-content-between">
    <div class="">
      <div class="g-font-md--20 g-font--medium">
        {{ titleLang }}
      </div>
    </div>
  </div>
  <div class="g-border g-border--dashed g-bc--gray1 g-b-radius--5 p-xs--1 g-bg-c--gray5 mx-auto mx-md-auto mw--500 g-mt--15 g-mt-lg--45">
    <div class="d-flex align-items-center g-mt--5 g-mb--25 g-ml--15">
      <div class="px-1">
        <span class="icon-mapfre_076_upload g-font--14 g-c--red1"></span>
      </div>
      <div class="g-font--medium g-font--14">
        {{ descriptionLang }}
      </div>
    </div>
    <div [ngClass]="{ 'is-drop-over': enter }" class="g-border g-border--dashed g-bc--gray1 g-b-radius--5 p-xs--2 m-xs-0 ml-md-5 mr-md-5 mb-md-4 mt-md-0"
      NgDropFiles (errorEvent)="onErrorEvent($event)" [maxMult]="maximumSizeFileMB" (enter)="eventEnter($event)"
      (fileUpload)="getImages($event)">
      <div class="d-flex align-items-start text-center">
        <div class="py-2 w-100 justify-content-center">

          <div class="content-img" *ngIf="files.length < minImages">
            <img class="g-c--pointer pb-1" src="assets/images/icons/add-upload.svg" alt="add img">
            <input multiple="" type="file" accept="image/jpeg, image/png">
          </div>

          <div class="">
            <div *ngFor="let file of files; let i = index; trackBy: trackByFn" class="item-image">
              <figure>
                <img [src]="file.url">
              </figure>
              <div class="content-recursos">
                <div class="size">
                  {{ file.unit.size }} {{ file.unit.unity }}
                </div>
                <div class="btn-close" (click)="dropFile(i)">
                  <span class="icon-mapfre_121_close"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="g-font--light text-center g-font--13 g-mt--20" *ngIf="files.length < maxImages">
        <div class="content-img">
          {{ descriptionAddLang }}
          <input multiple="" type="file" accept="image/jpeg, image/png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex g-py--15 g-px--25 g-px-lg--10 g-bt--1 g-bc--gray11">
  <div class="w-50 text-center g-pr--10">
    <button
      (click)="goToStep2()"
      class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21 g-btn-outline"
      gaClick
      [gaCategory]="gaReturn.category"
      [gaAction]="gaReturn.action"
      [gaLabel]="gaReturn.label"
    >
      {{ btnReturnLang }}
    </button>
  </div>
  <div class="w-50 text-center g-pl--10">
    <button
      (click)="onSubmit()"
      [disabled]="files.length < minImages || files.length > maxImages"
      class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21"
      gaClick
      [gaCategory]="gaSuccess.category"
      [gaAction]="gaSuccess.action"
      [gaLabel]="gaSuccess.label"
    >
      {{ btnSuccessLang }}
    </button>
  </div>
</div>
<mf-modal-message [confirmButtonText]="btnConfirm" [success]="false" [messageDone]="titleAlert" [messageSuccessUpdate]="messageAlert"></mf-modal-message>
