<div class="d-flex flex-column flex-md-row g-bg-c--white1 g-box--shadow1 g-my--20">
  <div class="w-100 w-px-md--15 g-o--hidden">
    <img
      [img-loader]="clinic.imagenPortraitUrl"
      [img-sm]="clinic.imagenLandscapeUrl"
      [imgIsBase64]="true"
      class="w-10 w-px-md--15 h-md--10 h-xl--0"
    />
  </div>

  <div class="g-px--15 g-pl-md--20 g-pt--20 mr-md-auto g-ie-flex--0-1-auto w-100">
    <div class="d-flex  flex-column flex-md-row justify-content-between">
      <div>
        <div class="g-font--18 g-font--medium g-line--10 g-pb--5">
          {{ clinic.nombre }}
          <span
            (click)="favoriteFn()"
            class="g-c--red1 g-font--18 g-pl--5 g-c--pointer"
            [ngClass]="clinic?.esFavorito ? heartIcon : heartOutIcon"
          ></span>
        </div>
        <div class="">
          <div class="g-font--13 g-font--light g-c--gray2">{{ clinic.descripcion }}</div>
        </div>
      </div>
    </div>
    <div class="d-md-flex g-pt--10 g-pt-xl--20 flex-wrap">
      <div class="d-flex g-mb--5 g-mb-xl--20 w-10 g-w-xl-50">
        <div class="icon-mapfre_015_location-pin g-font--16"></div>
        <div class="g-font--light g-font--13 g-pl--5 g-pr--15">
          {{ clinicAddress }}
        </div>
      </div>
      <div class="d-flex g-mb--5 g-mb-xl--20 w-10 g-w-lg-50">
        <div class="icon-mapfre_128_telephone g-font--16"></div>
        <a
          *ngIf="clinic?.telefono"
          [href]="'tel:' + clinic.telefono"
          class="g-font--13 g-font--light g-pl--5 g-pr--15"
          >{{ clinic?.telefono }}</a
        >
        <div *ngIf="!clinic?.telefono" class="g-font--italic g-font--light g-font--13 g-pl--5 g-pr--15">
          {{ generalLang.Texts.WithOutInformation }}
        </div>
      </div>
      <div class="d-flex g-mb--5 g-mb-xl--20 w-10 g-w-xl-50">
        <div class="icon-mapfre_062_reloj g-font--16"></div>
        <div *ngIf="clinic?.horarioAtencion" class="g-font--light g-font--13 g-pl--5 g-pr--15">
          {{ clinic?.horarioAtencion }}
          <span class="g-font--italic">({{ HoureChange }})</span>
        </div>
        <div *ngIf="!clinic?.horarioAtencion" class="g-font--italic g-font--light g-font--13 g-pl--5 g-pr--15">
          {{ generalLang.Texts.WithOutInformation }}
        </div>
      </div>
      <div class="d-flex g-mb--15 g-mb-xl--5 g-mb-xl--20 w-10 g-w-lg-50">
        <div class="icon-mapfre_208_planet g-font--16"></div>
        <a
          *ngIf="clinic?.paginaWeb"
          [href]="clinic.paginaWeb"
          target="_blank"
          class="g-font--medium g-font--13 g-pl--5 g-c--green1"
          >{{ clinic?.paginaWeb }}</a
        >
        <div *ngIf="!clinic?.paginaWeb" class="g-font--italic g-font--light g-font--13 g-pl--5 g-pr--15">
          {{ generalLang.Texts.WithOutInformation }}
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="hasGPSPermission || canScheduleAppointment"
    class="g-ml-md-auto w-px-md--30 g-mt--15 g-mt-md--0 d-flex flex-column align-items-center justify-content-center"
  >
    <button
      *ngIf="hasGPSPermission"
      mf-button
      outline
      class="g-btn g-btn-outline g-text--uppercase g-px--40 g-mb--30 g-mb-md--0"
      (click)="goToGoogleMap()"
    >
      {{ HowToGetThere }}
    </button>
    <button
      *ngIf="canScheduleAppointment"
      mf-button
      outline
      class="g-btn g-btn-primary g-text--uppercase g-px--40 g-mt--10 g-mb-md--0"
      (click)="goToAppointment()"
    >
      {{ scheduleAppointment }}
    </button>
  </div>
</div>
