<div class="g-full-modal" name="pension">
  <div class="g-full-modal--container">
    <div class="g-full-modal--wrapper">
      <!--Full Modal Header-->
      <div class="g-full-modal--header text-center">
        <div class="d-flex align-items-center justify-content-between">
          <div class="g-font--18 g-font-md--20 g-font--bold d-none d-lg-block w-100">
            COBERTURAS DE SCTR PENSIÓN
          </div>
          <div class="g-c--gray3 text-left d-lg-none">
            <span class="g-font--11 d-block">COBERTURAS DE SCTR</span>
            <span class="g-font--18 g-font-md--20 gCBlack1 g-font--bold">PENSIÓN</span>
          </div>
          <div class="g-full-modal--closemodal d-flex" onclick="fullModal.close('pension')">
            <span class="icon-mapfre_049_close2 g-font--30"></span>
          </div>
        </div>
      </div>
      <!--Full Modal Body-->
      <div class="g-full-modal--content w-100">
        <div class="wrap">
          <p>Invalidez Parcial Permanente:</p>
          <p>LA ASEGURADORA pagará como mínimo una pensión vitalicia mensual equivalente al 50% de su Remuneración Mensual al ASEGURADO que, como consecuencia de un accidente de trabajo o enfermedad profesional amparado por este seguro, quedara disminuido en su capacidad de trabajo en forma permanente en proporción igual o superior al 50%, pero menor a los dos tercios.</p>

          <p>Si la Invalidez Parcial Permanente fuera inferior al 50%, pero igual o superior al 20%, "LA ASEGURADORA" pagará, en lugar de la pensión, una indemnización equivalente a 24 mensualidades de "pensión" calculada en forma proporcional a la que le hubiera correspondido en el caso de Invalidez Total Permanente, según su grado de invalidez.</p>
          <p>Invalidez Total Permanente:</p>
          <p>LA ASEGURADORA pagará una pensión vitalicia mensual equivalente al 70% de su Remuneración Mensual, al ASEGURADO que, como consecuencia de un accidente de trabajo o enfermedad profesional amparado por este seguro, quedara disminuido en su capacidad de trabajo en una proporción igual o superior a los dos tercios.</p>

          <p>Si la Invalidez Total Permanente produjera en EL ASEGURADO una definitiva incapacidad para realizar cualquier clase de trabajo remunerado y, además, demandara indispensablemente el auxilio de otra persona para movilizarse o para realizar las funciones esenciales de la vida; la pensión será equivalente al 100% de la Remuneración Mensual del ASEGURADO, pero en ningún caso inferior a la Remuneración Mínima Legal.</p>
          <p>Invalidez Temporal: En caso de Invalidez Temporal, LA ASEGURADORA pagará al ASEGURADO la pensión mensual que corresponda, según el grado total o parcial de la invalidez, hasta el mes en que se produzca su recuperación, según el ÓRGANO COMPETENTE.</p>

          <p>El carácter temporal o permanente de la invalidez, se determina en función al grado de recuperabilidad que puede tener una persona al sucederle un siniestro que repute tal condición.

          <p>PENSIONES DE SOBREVIVENCIA</p>
          <p>LA ASEGURADORA pagará pensión de sobrevivencia en caso de fallecimiento del ASEGURADO:</p>

          <ul>
            <li>a) Ocasionado directamente por un accidente de trabajo o enfermedad profesional; o</li>
            <li>b) Por cualquier otra causa posterior después de CONFIGURADA una invalidez o mientras se encuentre gozando de pensión de invalidez total o parcial, temporal o permanente; o</li>
            <li>c) Producido mientras EL ASEGURADO se encuentre gozando de subsidio de incapacidad temporal a cargo del órgano oficial de la seguridad social, como consecuencia de un accidente de trabajo o enfermedad profesional, siempre que la causa de la muerte se encuentre relacionada directamente con tal accidente o enfermedad profesional.</li>
          </ul>

          <p>Las pensiones serán calculadas sobre el 100% de la "Remuneración Mensual" del ASEGURADO, tal como se define en el Decreto Supremo Nº 003-98-SA, y serán pagadas en los montos y condiciones siguientes:</p>

          <ul>
            <li>a) El 42% de la Remuneración Mensual de EL ASEGURADO para el cónyuge o conviviente que cumpla los requisitos previstos en el art. 326 del Código Civil de 1984, siempre que no existieran hijos con derecho a pensión;</li>
            <li>b) El 35% de la Remuneración Mensual para el cónyuge o conviviente que cumpla los requisitos previstos en el art. 326 del Código Civil de 1984, siempre que existieran hijos con derecho a pensión;</li>
            <li>c) El 14% de la Remuneración Mensual a cada hijo menor de 18 años, así como a cada hijo inválido mayor de 18 años incapacitado para el trabajo en forma total y permanente;</li>
            <li>d) El 14% de la Remuneración Mensual de EL ASEGURADO para cada uno de sus padres que cumplan con alguno de los siguientes requisitos:</li>
            <ul>
              <li>- Que sean calificados como inválidos total o parcialmente a juicio del ÓRGANO COMPETENTE; en proporción superior al 50%.</li>
              <li>- Que tengan más de 60 años de edad y hayan dependido económicamente del ASEGURADO, de acuerdo con las normas que fije la Superintendencia de Administradoras de Fondos de Pensiones para los afiliados el Sistema Privado de Pensiones que se aplicarán por analogía.</li>
            </ul>
          </ul>

          <p>Cuando existan cónyuge o conviviente e hijos del ASEGURADO con derecho a pensión de sobrevivencia, éstos gozarán la que les corresponde en forma concurrente; pero si el monto total excede el 100% de la Remuneración Mensual del ASEGURADO, dichas pensiones quedarán reducidas proporcionalmente de modo tal que, en conjunto, no superen dicha Remuneración Mensual.</p>

          <p>Cuando existan cónyuge o conviviente y padres del ASEGURADO con derecho a pensión de sobrevivencia, éstos concurrirán en el goce de las pensiones que les corresponda, sin lugar al recalculo previsto en el artículo 2.2.3.</p>

          <p>Cuando sólo existan hijos y padres del ASEGURADO, con derecho a pensión de sobrevivencia, todos los hijos concurrirán en el goce de la pensión que les corresponda; pero la pensión de los padres sólo procederá si quedara algún remanente.</p>
          <p>Cuando existan cónyuge o conviviente, hijos y padres del ASEGURADO, con derecho a pensión de sobrevivencia; los padres gozarán de las pensiones que les corresponda, sólo si quedara algún remanente luego de aplicar el art. 2.2.3 de esta póliza.</p>

          <p>De no existir cónyuge o conviviente con derecho a pensión, el porcentaje de la remuneración a que se refiere el inciso a) del artículo 2.2.2, será asignado como pensión en caso que quedare un solo hijo como BENEFICIARIO, aunque existan padres. De haber dos o más hijos con derecho a pensión, la pensión conjunta se incrementará en 14 puntos porcentuales sobre el porcentaje indicado en el inciso a) del artículo 2.2.2, tantas veces como hijos hubiera, distribuyéndose en partes iguales; pero la pensión de los padres sólo procederá si existiera algún remanente, de acuerdo con el artículo 2.2.5.</p>

          <p>2.3 GASTOS DE SEPELIO:</p>

          <p>En caso de fallecimiento del ASEGURADO como consecuencia inmediata de un accidente de trabajo o enfermedad profesional amparado por este seguro o mientras se encuentre gozando de subsidios a cargo del órgano oficial de la seguridad social por alguna causa relacionada con el accidente de trabajo o enfermedad profesional o por cualquier causa posterior a la obtención de una pensión de invalidez parcial o total , permanente o temporal, bajo este seguro; LA ASEGURADORA reembolsará los gastos de sepelio a la persona natural o jurídica que los hubiera efectivamente sufragado, hasta el límite correspondiente al mes del fallecimiento, señalado por la Superintendencia de Administradoras Privadas de Fondos de Pensiones y contra la presentación de los documentos originales que sustenten dicho gasto.</p>
        </div>
      </div>
      <!--Full Modal Footer-->
      <div class="g-full-modal--footer text-center  g-pt--15   g-pb--15  ">
        {{#closeButton}}
          {{>atoms-buttons}}
        {{/closeButton}}
      </div>
    </div>
  </div>
</div>