<div class="g-full-modal" name="salud">
  <div class="g-full-modal--container">
    <div class="g-full-modal--wrapper">
      <!--Full Modal Header-->
      <div class="g-full-modal--header text-center">
        <div class="d-flex align-items-center justify-content-between">
          <div class="g-font--18 g-font-md--20 g-font--bold d-none d-lg-block w-100">
            COBERTURAS DE SCTR SALUD
          </div>
          <div class="g-c--gray3 text-left d-lg-none">
            <span class="g-font--11 d-block">COBERTURAS DE SCTR</span>
            <span class="g-font--18 g-font-md--20 gCBlack1 g-font--bold">SALUD</span>
          </div>
          <div class="g-full-modal--closemodal d-flex" onclick="fullModal.close('salud')">
            <span class="icon-mapfre_049_close2 g-font--30"></span>
          </div>
        </div>
      </div>
      <!--Full Modal Body-->
      <div class="g-full-modal--content w-100">
        <div class="wrap">
        <p>a) Asistencia y asesoramiento preventivo promocional en salud ocupacional.</p>
        <p>b) Atención médica, farmacológica, hospitalaria y quirúrgica, cualquiera que fuere el nivel de complejidad; hasta la recuperación  total del Asegurado o la declaración de una invalidez permanente total o parcial o fallecimiento.</p>
        <p>c) Rehabilitación y readaptación laboral al Asegurado inválido bajo este seguro.</p>
        <p>d) Aparatos de prótesis y ortopédicos necesarios al Asegurado inválido bajo este seguro.</p>

        <p>Esta cobertura no comprende los subsidios económicos que son otorgados por cuenta del Seguro Social de Salud.</p>
        </div>
      </div>
      <!--Full Modal Footer-->
      <div class="g-full-modal--footer text-center  g-pt--15   g-pb--15  ">
        {{#closeButton}}
          {{>atoms-buttons}}
        {{/closeButton}}
      </div>
    </div>
  </div>
</div>