<div class="g-full-modal" name="editInsured">
  <div class="g-full-modal--container">
    <div class="g-full-modal--wrapper">
      <!--Full Modal Header-->
      <div class="g-full-modal--header text-center">
        <div class="d-flex align-items-center justify-content-between">
          <div class="g-font--18 g-font-md--20 g-font--bold d-none d-lg-block w-100">
              TRABAJADOR 1
          </div>
          <div class="g-c--gray3 text-left d-lg-none">
            <span class="g-font--18 g-font-md--20 gCBlack1 g-font--bold">TRABAJADOR 1</span>
          </div>
          <div class="g-full-modal--closemodal d-flex" onclick="fullModal.close('editInsured')">
            <span class="icon-mapfre_049_close2 g-font--30"></span>
          </div>
        </div>
      </div>
      <!--Full Modal Body-->
      <div class="g-full-modal--content w-100">
        <div class="wrap">
        {{#itemInsured}}
          {{>organisms-insured}}
        {{/itemInsured}}
        </div>
      </div>
      <!--Full Modal Footer-->
      <div class="g-full-modal--footer text-center  g-pt--15   g-pb--15  ">
        {{#closeButton}}
          {{>atoms-buttons}}
        {{/closeButton}}
      </div>
    </div>
  </div>
</div>