<div class="g-full-modal {{addClass}}" name="{{data}}">
  <div class="g-full-modal--container {{modalContainer}}">
    <div class="g-full-modal--wrapper {{modalWrapper}}">

      <div class="g-full-modal--header {{classHeader}}">
        <div class="d-flex align-items-center justify-content-lg-between g-c--gray3">

          <div class="g-font--14 g-font-md--16 g-font--medium d-none d-lg-block">
            {{title}}
          </div>

          <div class="d-block d-lg-none g-br--1 g-bc--gray11  g-px--15 ">
            <div class="d-flex align-items-center h-100">
              <span class="icon-mapfre_010_arrow-left g-font--21 g-c--pointer" onclick="fullModal.close('{{data}}')"></span>
            </div>
          </div>

          <div class="text-left d-lg-none g-line--12  g-px--15  d-flex align-items-center g-o-hidden">
            <div class="g-o-hidden">
              <div class="g-font--13">{{page}}</div>
              <div class="g-font--14 g-font--medium text-truncate">{{title}}</div>
            </div>
          </div>
          <div class="g-full-modal--closemodal d-none d-lg-flex g-ie-flex--0-1-auto" onclick="fullModal.close('{{data}}')">
            <span class="icon-mapfre_049_close2 g-font--21 g-c--gray9"></span>
          </div>

        </div>
      </div>

      <div class="g-full-modal--content w-100">
        <div class="wrap">

          <div class="{{contentClass}}">

            {{#formCompare}}
              {{>organisms-change-plan}}
            {{/formCompare}}

            {{#contentRadio}}
              {{>organisms-report-damage}}
            {{/contentRadio}}

            {{#formContent}}
              {{>organisms-fm-form-default}}
            {{/formContent}}

            {{#sublimites}}

              {{#title}}
                <div class="{{titleClass}}">{{{title}}}</div>
              {{/title}}

              {{#table}}
                {{>organisms-table-sctr}}
              {{/table}}

            {{/sublimites}}

            {{#modalDriver}}
              <div  class="{{contentClass}}">

                {{#icon}}
                  <div class="{{iconFile}} {{iconClass}}"></div>
                {{/icon}}

                {{#conteiner}}
                  <div class="{{addClass}}">

                    {{#content}}
                      <div class="{{textClass}}">{{{text}}}</div>
                    {{/content}}

                  </div>
                {{/conteiner}}

                {{#alertHead}}
                  {{>atoms-alert}}
                {{/alertHead}}

                {{#description}}
                  <div class="{{addClass}}">

                    {{#content}}
                      <div class="{{textClass}}">{{{text}}}</div>
                    {{/content}}

                  </div>
                {{/description}}

                {{#stepDrivers}}
                  <div class="{{addClass}}">
                    {{#conteiner}}
                      <div class="{{conteinerClass}}">

                          {{#img}}
                            <img src="{{src}}" alt="">
                          {{/img}}

                          {{#number}}
                            <div class="{{textClass}}">
                              {{text}}
                            </div>
                          {{/number}}

                          {{#content}}
                            <div class="{{contentClass}} ">
                              <div class="{{textClass}}"> {{{text}}} </div>
                            </div>
                          {{/content}}

                      </div>
                    {{/conteiner}}

                  </div>
                {{/stepDrivers}}

                {{#radioSelect}}
                  <div class="{{contentClass}}">

                    {{#selectItems}}
                      {{>organisms-fm-radio-items}}
                    {{/selectItems}}

                  </div>
                {{/radioSelect}}

                {{#contentBox}}
                  <div class="{{contentClass}}">

                    {{#cardItem}}
                      <div class="{{cardItemClass}}">

                        {{#item}}
                          <div class="{{textClass}}">{{{text}}}</div>
                        {{/item}}

                      </div>
                    {{/cardItem}}

                  </div>
                {{/contentBox}}

                {{#alert}}
                  {{>atoms-alert}}
                {{/alert}}


              </div>
            {{/modalDriver}}

            {{#info}}
              <div class="text-center g-mb-lg--30 g-my--15 ">
                <div class="g-font--medium d-none d-lg-block">¿Necesitas Ayuda?</div>
                <div class="g-font--14 g-font-lg--13 g-px--20 g-px-lg--0 g-line--10 g-font--normal g-font-lg--light">Contacta con nosotros y estaremos encargados de atenderte</div>
              </div>

              <div class="d-flex flex-wrap">

                <div class="w-10 w-lg-5">
                  <div class=" g-mx--15  g-bt--1 g-p--20">
                    <div class="g-font--medium">Informarción sobre las pólizas</div>
                    <div class="g-font--13 g-font--light">+51 943 433 242</div>
                    <div class="g-font--13 g-font--light">mapfre@mapfre.com</div>
                  </div>
                </div>

                <div class="w-10 w-lg-5">
                  <div class=" g-mx--15  g-bt--1 g-p--20">
                    <div class="g-font--medium">Mi agente</div>
                    <div class="g-font--13 g-font--light">Nombre del agente</div>
                    <div class="g-font--13 g-font--light">+51 943 433 242</div>
                    <div class="g-font--13 g-font--light">mapfre@mapfre.com</div>
                  </div>
                </div>

                <div class="w-10 w-lg-5">
                  <div class=" g-mx--15  g-bt--1 g-p--20">
                    <div class="g-font--medium">Atención al cliente</div>
                    <div class="g-font--13 g-font--light">+51 943 433 242</div>
                    <div class="g-font--13 g-font--light">+51 943 433 242</div>
                    <div class="g-font--13 g-font--light">mapfre@mapfre.com</div>
                  </div>
                </div>

                <div class="w-10 w-lg-5">
                  <div class=" g-mx--15  g-bt--1 g-p--20">
                    <div class="g-font--medium">Atención en el extranjero</div>
                    <div class="g-font--13 g-font--light">+51 943 433 242</div>
                    <div class="g-font--13 g-font--light">+51 943 433 242</div>
                    <div class="g-font--13 g-font--light">mapfre@mapfre.com</div>
                  </div>
                </div>

              </div>
            {{/info}}

            {{#dropdown}}
              <div class="{{addClass}}" data-accordion="container" data-group="">

                {{#itemList}}
                  <div class="d-flex flex-column g-bg-c--white1 g-mb--15 {{addClass}}" data-accordion="item" data-open="{{openCard}}">
                    <div class="d-flex justify-content-between g-mh--6 g-pl--15 g-pt--10 g-pt-lg--0 g-pb--10 g-pb-lg--0 flex-lg-nowrap {{contentTitleClass}}" data-accordion="title">

                      <div class="d-flex w-100 flex-wrap flex-lg-nowrap">
                        <div class="align-self-center w-100 {{titleClass}}">
                          {{{title}}}
                          {{#title2}}
                          <div class="{{text2Class}}">{{{text2}}}</div>
                          {{/title2}}
                        </div>

                        {{#right}}
                          <div class="{{contentRight}}">
                            <div class="{{textClass}}">{{{text}}}</div>
                            <div class="{{text2Class}}">{{{text2}}}</div>
                          </div>
                        {{/right}}
                      </div>

                      {{#iconDropdown}}
                        <div data-accordion="click" class="w-px--4 d-flex justify-content-center g-c--gray9 g-py--10 g-py-lg--20">
                          <span class="icon-mapfre_101_ico-dow g-c--pointer" data-accordion="on"></span>
                          <span class="icon-mapfre_102_ico-up g-c--pointer" data-accordion="off"></span>
                        </div>
                      {{/iconDropdown}}
                    </div>

                    <div data-accordion="content" class="{{contentClass}}">
                      {{#content}}
                        {{content}}
                      {{/content}}

                      {{#list}}
                        {{>atoms-lists-nav}}
                      {{/list}}
                    </div>
                  </div>
                {{/itemList}}

              </div>
            {{/dropdown}}

            {{#textIcon}}
              <div class="{{addClass}}">
                {{#textContent}}
                  {{#icon}}
                    <div class="{{iconFIle}} {{iconClass}}"></div>
                  {{/icon}}
                  <div class="{{textClass}}">{{{text}}}</div>
                {{/textContent}}

              </div>
            {{/textIcon}}

          </div>

        </div>
      </div>

      <div class="g-full-modal--footer text-center g-pt--15 g-pb--15 {{footerClass}}">
        <div class="d-flex">
          {{#btnOne}}
          <div class="w-50">
            <div onclick="fullModal.close('{{data}}')" class="g-btn g-text--uppercase g-btn-outline g-c--pointer g-btn--default {{addClass1}}">
              {{{text1}}}
            </div>
          </div>
          <div class="w-50">
            <div class="g-btn g-btn--default g-text--uppercase g-c--pointer {{addClass2}}">
              {{{text2}}}
            </div>
          </div>
          {{/btnOne}}

          {{#btnTwo}}
          <div onclick="fullModal.close('{{data}}')" class="g-btn g-text--uppercase g-c--pointer {{addClass}}">
            {{{text}}}
          </div>
          {{/btnTwo}}

          {{#btnThree}}
          <div class="g-c--green1 mx-auto g-c--pointer">
            <span class="icon-mapfre_015_location-pin"></span> Nuestras oficinas
          </div>
          {{/btnThree}}
        </div>
      </div>

    </div>
  </div>
</div>
