<mf-modal
  [title]="titleModal"
  [titleMobile]="detailRoute?.title"
  [secondTitleMobile]="titleModal"
  [confirm]="true"
  [disableButton]="buttonState"
  [showLoading]="showLoading"
  (confirmResponse)="saveAddress($event)"
>
  <div class="pb-5 pt-5 px-lg-5 g-height-md--350">
    <!-- Solo si tiene polizas de hogar -->
    <div class="row" *ngIf="policyAddress && policyAddress.length">
      <!-- Utilizar direccion de Polizas -->
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
          <div class="g-font--light g-bc--gray11 text-nowrap">
            <mf-switch size="small" #checkBoxAddress (change)="changeCheckBox($event)"> </mf-switch>
          </div>
          <div class="g-pl--10 w-10">
            {{ textPolicyAddress }}
          </div>
        </div>
      </div>

      <!-- Selecciona Direccion de Polizas -->
      <div class="col-12" *ngIf="!editAddress && chekboxAddressState">
        <mf-select
          [formControl]="addressCorrespondenceForm"
          [label]="labelAddressSelect"
          [options]="addressCorrespondenceList"
          (change)="setAddress($event)"
        >
        </mf-select>
      </div>
    </div>

    <!-- Direccion Actual -->
    <div *ngIf="editAddress && !chekboxAddressState" [formGroup]="formAddress" class="row">
      <div class="col-12">
        <mf-input
          [label]="labelAddress"
          [formControl]="address"
          [maxlength]="maxlengthAddressProfile"
          [dontWhiteSpace]="true"
          [error]="showErrors('address')"
        >
        </mf-input>
        <mf-show-errors [control]="address"></mf-show-errors>
      </div>
      <div class="col-12 col-md-4">
        <mf-select
          [label]="labelDepartment"
          [formControl]="departments"
          [options]="departamentList"
          [error]="showErrors('departments')"
          (change)="getProvincias()"
        >
        </mf-select>
        <mf-show-errors [control]="departments"></mf-show-errors>
      </div>
      <div class="col-12 col-md-4 ">
        <mf-select
          [label]="labelProvince"
          [formControl]="provinces"
          [options]="provinceList"
          [error]="showErrors('provinces')"
          (change)="getDistritos()"
        >
        </mf-select>
        <mf-show-errors [control]="provinces"></mf-show-errors>
      </div>
      <div class="col-12 col-md-4 ">
        <mf-select
          [label]="labelDistrict"
          [formControl]="districts"
          [options]="districtList"
          [error]="showErrors('districts')"
        >
        </mf-select>
        <mf-show-errors [control]="districts"></mf-show-errors>
      </div>
    </div>

    <!-- Usar direccion para envio de correspondencia de todas las polizas -->
    <div *ngIf="canUpdateAllAddress" class="g-checkbox g-c--gray8 mt-4 mb-0 g-pt--10">
      <label class="g-box-flex">
        <input type="checkbox" [checked]="chekboxUpdateAllAddress" (change)="onUpdateAllAddress($event)" />
        <span class="checkbox"></span>
        <span>{{ labelUpdateAllAddress }}</span>
      </label>
    </div>

  </div>
</mf-modal>

<mf-modal-message
  *ngIf="showModalMessage"
  [success]="successSaveAddress"
  [messageDone]="messageDone"
  [messageSuccessUpdate]="messageSuccessUpdate"
>
</mf-modal-message>
