  <div class="g-ui--view">
    {{#menuFloat}}
      {{>atoms-btn-list}}
    {{/menuFloat}}

    <div class="g-fixed ">
    <div class="g-ui--sckity">
      {{#header}}
        {{>molecules-header-fixed}}
      {{/header}}

        <section id="landing-home" class="g-view-landing-home g-pb-lg--30  g-pt--10 g-pb--10">
          <div class="container landing-home-content">

            {{#home}}
              {{>templates-landing-home}}
            {{/home}}

          </div>
        </section>

        <div class="g-view-landing-bg">

          <section id="landing-health" class="g-view-landing-health g-pt--20 g-pb-lg--30  g-pb--10">
            <div class="d-none d-md-block">
              {{#pageHealth}}
                {{>templates-landing-health}}
              {{/pageHealth}}
            </div>

            <div class="d-block d-md-none">
              {{#pageSlideHeath}}
                {{>templates-health-slide}}
              {{/pageSlideHeath}}
            </div>
          </section>

          <section id="landing-activity" class="g-view-landing-activity g-pb-lg--30  g-pt--10 g-pb--20">
            <div class="container landing-activity-content">
              {{#activity}}
                {{>templates-landing-activity}}
              {{/activity}}
            </div>
          </section>

        </div>

      </div>

      {{#footer}}
          {{>molecules-footer}}
      {{/footer}}

    </div>
  </div>

  {{>templates-fm-pension}}
  {{>templates-fm-salud}}

  {{#alert}}
    {{>templates-modal-alert-client}}
  {{/alert}}
