<!-- SOLO PARA RENOVAR SOAT -->
<button *ngIf="!isNotice && (isSoat && activateRenew && item.renewButton && !item.debitRenovation) && showBtnRenewSoat"
  class="w-lg-10 g-max-w--24 g-max-w-lg--inherit mx-auto" mf-button block
  [disabled]="disabled || item?.response?.tipoDocumentoPago === 'AVISO'" (click)="goToPayment()">
  {{ lang.Buttons.ReNew }}
</button>

<!-- SOLO PARA PAGAR SOAT -->
<button *ngIf="!isNotice && isSoat && showBtnPaymentSoat"
  class="w-lg-10 g-max-w--24 g-max-w-lg--inherit mx-auto" mf-button block
  [disabled]="disabled || item?.response?.tipoDocumentoPago === 'AVISO'" (click)="goToPayment()">
  {{ lang.Buttons.Payment }}
</button>

<div class="g-font--13 g-line--11 text-uppercase"
  *ngIf="!isNotice && this.showLabelSoat">
  <div class="g-font--12 text-center">{{ labelFrom }}</div>
  <div class="g-font--16 g-font--bold text-center">{{ item.renewDate }}</div>
</div>

<!-- Pago con aviso -->
<div class="g-f--h6 line--11 text-uppercase" *ngIf="isNotice">
  <div class="fz12 text-center text-nowrap">{{ paymentwithNotice.first }}</div>
  <div class="fz16 g-font--bold text-center">{{ paymentwithNotice.second }}</div>
</div>
<!-- CUALQUIER OTRA POLIZA -->
<button *ngIf="!isNotice && (!isSoat && activatePayment && !item.debitRenovation)"
  class="w-lg-10 g-max-w--24 g-max-w-lg--inherit mx-auto" mf-button block (click)="goToPayment()">
  {{ lang.Buttons.Payment }}
</button>
<!-- modal alert payment not available -->
<mf-modal-message *ngIf="showModal" [sizeClass]="'g-modal--medium'" [messageDone]="modalTitle"
  [messageSuccessUpdate]="modallMessage">
</mf-modal-message>
