<mf-card>
  <mf-card-header
    [header]="titleCard"
    [icon]="iconCard"
    [collapsed]="collapse"
    (expand)="collapse = $event"
    hlg
  ></mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event" wpd>
    <div
      class="g-font--light d-flex justify-content-between d-flex-1-auto g-bt--1 g-bc--gray11 g-ie-mh-lg--14 box-height-fix"
    >
      <div class="d-flex g-ie-flex--0-1-auto g-p--15 g-p-lg--20 g-pl-lg--25 g-pb-lg--25">
        <div class="d-none d-lg-flex w-px--9">
          <span class="g-c--gray18 g-font--65 g-ie-flex--0-1-auto" [ngClass]="iconCard"></span>
        </div>
        <div class="w-10">
          <div class="g-items">
            <div class="g-items-list d-none d-lg-flex g-mt--5">
              <div class="g-items-text g-font--18 g-font--medium">{{ titleCard }}</div>
            </div>
            <div class="g-items-list d-flex g-mt--5">
              <div class="g-items-text g-c--gray3">{{ companyName() }}</div>
            </div>
            <div class="g-items-list d-flex g-mt--5">
              <div class="g-items-text g-c--gray3">{{ workData() }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-xs--1 pt-xs--2 pr-xs--2">
        <span class="icon-mapfre_035_edit g-c--pointer g-c--green1 g-font--18 " (click)="editClick()"></span>
      </div>
    </div>

    <mf-card-item-icon [icon]="pinIcon" [text]="companyAddress()"></mf-card-item-icon>
    <mf-card-item-icon
      [icon]="walletIcon"
      [text]="salaryRangeDescription()"
      *ngIf="canShowSlaryRange"
    ></mf-card-item-icon>
    <mf-card-item-icon [icon]="phoneIcon" [text]="phone()"></mf-card-item-icon>
  </mf-card-content>
</mf-card>
