<mf-modal
  [title]="title"
  [titleMobile]="subTitle"
  [secondTitleMobile]="title"
  [confirm]="true"
  [disableButton]="!selectedPolicy"
  [confirmButtonText]="btnConfirm"
  [showLoading]="showLoading"
  (confirmResponse)="onSubmit($event)"
  (closeEvent)="closeEvent($event)"
>
  <!-- Polizas disponibles -->
  <div class="g-px--5 g-px-lg--20">
    <div
      *ngFor="let item of listPoliciesFilter; let i = index; let first = first; let last = last; trackBy: trackByFn"
      class="g-box--shadow1 g-ie-flex--0-1-auto g-bt--1 g-bt-lg--0 g-mb--10"
      [ngClass]="{ 'g-mt--20': first, 'g-mb--20 g-mb-lg--30 g-mt--0': last }"
    >
      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap">
        <div
          class="d-flex justify-content-center align-items-lg-center g-pl--15 g-pl-lg--30 g-py--20 align-items-start align-items-lg-center"
        >
          <label class="g-radio d-flex align-items-center m-0">
            <input
              type="radio"
              name="selectedPolicy"
              [(ngModel)]="selectedPolicy"
              [disabled]="(item.compare && item.compare.modalityInProgress) || item.expired"
              [value]="item.policyNumber"
            />
            <span class="radio"></span>
          </label>
        </div>
        <div
          class="w-7 w-lg-10 pl-0 pr-3 g-py--20 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden g-c--default"
        >
          <div class="w-100 g-mb--10 mb-lg-0 g-o--hidden">
            <div class="g-pr--5 g-pr-lg--15 g-pt-lg-5 float-left g-ie-flex--0-1-auto">
              <client-icon-policies
                [customClass]="'g-items-icon g-font--16 g-font-lg--40 g-c--gray9'"
                [policyType]="item.policyType"
              ></client-icon-policies>
            </div>
            <div class="g-font--medium g-font-lg--16 g-line-lg--10 g-pt-lg--5 text-lg-truncate">
              <span
                class="g-font--medium g-text--uppercase"
                *ngIf="!item.compare || (item.compare && !item.compare.modalityInProgress)"
                >{{ item.policy }}</span
              >
              <span
                class="g-font--medium g-text--uppercase"
                [title]="textInProgress"
                *ngIf="item.compare && item.compare.modalityInProgress"
                >{{ textInProgress }}</span
              >
            </div>
            <div class="mb-0 text-lg-truncate g-font--light g-font--13">
              <span *ngIf="item.beneficiaries.length === 1" [title]="item.beneficiaries[0].nombreBeneficiario">{{
                item.beneficiaries[0].nombreBeneficiario
              }}</span>
              <span class="g-font--medium" *ngIf="item.beneficiaries.length > 1">
                {{ item.beneficiaries.length }} {{ labelType }}
              </span>
            </div>
          </div>
          <div class="px-lg-3 w-px-lg--20 g-font--light">
            <div class="mb-0 text-nowrap">
              <span class="g-font--13"> {{ data.labelNumberPolicy }}: {{ item.policyNumber }} </span>
            </div>
            <div
              class="mb-0 text-nowrap align-items-center"
              [ngClass]="fnHideCol2EPS(item.policyType) ? 'd-none' : 'd-flex'"
            >
              <span
                class="icon-mapfre_066_circle g-font--10 pr-1"
                [ngClass]="item.bulletColor"
              ></span>
              <span> {{ item.expired ? data.labelExpiredPolicy : data.labelCurrentPolicy }}{{ item.endDate }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="g-my--100" *ngIf="!listPolicies"></div>
</mf-modal>

<!-- Datos de Contacto del Agente -->
<client-modal-contacted-by-agent-compare *ngIf="openModalAgent"> </client-modal-contacted-by-agent-compare>
