<div class="g-services--content p-4">
  <div class="g-font--medium my-2 g-font--20 text-center">{{ content.title }}</div>
  <div class="d-flex justify-content-center flex-column flex-lg-row text-center pt-xs--2">
    <div *ngFor="let item of content.items; let i = index" class="g-font--14 g-font--normal w-px-lg--21 pb-xs--1"
      [ngClass]="{'mx-lg-5': i % 2 }">
      <div class="g-bg-c--green1 g-b-radius--25 g-c--white1 g-font--bold g-font--20 w-px--5 pt-xs--1 pb-xs--1 mx-auto mb-xs--1">
        {{i+1}}
      </div>
      {{ item }}
    </div>
  </div>
</div>
