  {{#alert}}
    {{>atoms-alert}}
  {{/alert}}

  <div class="row">
    <div class="col-12">
      {{#data3}}
        {{>atoms-mf-input}}
      {{/data3}}
    </div>
    <div class="col-sm col-md-6">
      {{#data1}}
        {{>atoms-mf-select}}
      {{/data1}}
    </div>
    <div class="col-sm col-md-6">
      {{#data2}}
        {{>atoms-mf-input}}
      {{/data2}}
    </div>
    <div class="col-sm col-md-6">
      {{#data4}}
        {{>atoms-mf-input}}
      {{/data4}}
    </div>
    <div class="col-sm col-md-6">
      {{#data5}}
        {{>atoms-mf-input}}
      {{/data5}}
    </div>
    <div class="col-12 g-mt--10 ">
      {{#data6}}
        {{>atoms-mf-checkbox}}
      {{/data6}}
    </div>
  </div>
