{{#alert}}
{{>atoms-alert}}
{{/alert}}

<div class="row">
  <div class="col-sm col-sm-6">
    {{#data1}}
      {{>atoms-mf-input}}
    {{/data1}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data2}}
      {{>atoms-mf-input}}
    {{/data2}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data3}}
      {{>atoms-mf-input}}
    {{/data3}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data4}}
      {{>atoms-mf-input-datepicker}}
    {{/data4}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data5}}
      {{>atoms-mf-select}}
    {{/data5}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data6}}
      {{>atoms-mf-input}}
    {{/data6}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data7}}
      {{>atoms-mf-input}}
    {{/data7}}
  </div>
  <div class="col-sm col-sm-6">
    {{#data8}}
      {{>atoms-mf-input}}
    {{/data8}}
  </div>
  <div class="col-12 g-mt--10 ">
    {{#data9}}
      {{>atoms-mf-checkbox}}
    {{/data9}}
  </div>
</div>
