<div class="g-border g-border--dashed g-bc--gray1 g-b-radius--5 g-p--5 g-bg-c--gray5 mx-auto {{addClass}}">
  <div class="d-flex align-items-center {{boxClass}}">
    <div class="g-px--5">
      <span class="{{iconClass}}"></span>
    </div>
    <div class="g-font--medium g-font--14">{{{textDescription}}}</div>
  </div>
  <div class="g-border g-border--dashed g-bc--gray1 g-b-radius--5  g-p--20 g-m--0 g-ml-md--25 g-mr-md--25 g-mb-md--20 g-mt-md--0">
    <div class="d-flex align-items-start text-center g-px-md--20">
      {{#frontImg}}
        <div class="g-py--10 w-100 justify-content-center">
          <img class="g-c--pointer g-pb--5" src="{{srcImg}}" alt="add img">
          {{#text}}
            <div class="g-font--light">{{{text}}}</div>
          {{/text}}
        </div>
      {{/frontImg}}
      {{#revImg}}
        <div class="g-py--10 w-100 justify-content-center ">
          <img class="g-c--pointer g-pb--5" src="{{srcImg}}" alt="add img">
          {{#text}}
            <div class="g-font--light">{{{text}}}</div>
          {{/text}}
        </div>
      {{/revImg}}

      {{#listImg}}
        <div class="d-flex">
          {{#list}}
            <div class="{{srcClass}}">
              <img src="{{src}}" alt="">
            </div>
          {{/list}}
        </div>
      {{/listImg}}

    </div>

    {{#footer}}
      <div class="g-font--light text-center {{textClass}}">
        {{#textLink}}
          <span class="g-c--green1 gfontMedium g-c--pointer">{{{link}}}</span>
        {{/textLink}}

        {{{text}}}
      </div>
    {{/footer}}

  </div>
</div>