<div class="g-p--20 g-p-lg--40">

  <div class="g-font-md--20 g-font--medium g-text--uppercase">
    {{ lang.Step1.title }}
  </div>

  <div [formGroup]="form" class="d-flex flex-wrap w-100 g-pt--20">
    <div class="g-font--light">{{ vehicleLang.Labels.PlateNumber }}: {{ vehicle.placa }}</div>

    <!-- Chasis -->
    <div class="g-w-100 g-pb--10">
      <div class="d-flex ">
        <div class="w-10">
          <mf-input
            formControlName="chassis"
            [label]="vehicleLang.Labels.ChassisNumberLg"
            [NumberLetter]="true"
            [upperCase]="true"
            [maxlength]="maxLength.chassis"
            [minlength]="minLength.chassis"
            [required]="true"
            [error]="showErrors('chassis')"
            value="">
          </mf-input>
          <mf-show-errors [control]="form.controls['chassis']"></mf-show-errors>
        </div>
        <div class="g-pt--40 g-pl--5">
          <mf-tooltips>
            <div class="g-pb--10 text-center">{{ lang.Step1.Tooltips.ChassisText }}</div>
            <div class="d-flex justify-content-center text-center">
              <img [src]="images.VEHICLE_BACK" alt=""/>
              <img [src]="images.VEHICLE_STICKER" alt=""/>
            </div>
          </mf-tooltips>
        </div>
      </div>
    </div>

    <!-- Motor -->
    <div class="g-w-100 g-pb--10">
      <div class="d-flex ">
        <div class="w-10">
          <mf-input
            formControlName="motor"
            [NumberLetter]="true"
            [upperCase]="true"
            [maxlength]="maxLength.motor"
            [minlength]="minLength.motor"
            [required]="true"
            [label]="vehicleLang.Labels.MotorNumberLg"
            [error]="showErrors('motor')"
            value="">
          </mf-input>
          <mf-show-errors [control]="form.controls['motor']"></mf-show-errors>
        </div>
        <div class="g-pt--40 g-pl--5">
          <mf-tooltips>
            <div class="g-pb--10 text-center">{{ lang.Step1.Tooltips.MotorText }}</div>
            <div class="d-flex justify-content-center text-center">
              <img [src]="images.VEHICLE_CARD" alt=""/>
            </div>
          </mf-tooltips>
        </div>
      </div>
    </div>

    <!-- Número de accesorio -->
    <div class="g-w-100 g-pb--10">
      <div class="d-flex ">
        <div class="w-10">
          <mf-input
            formControlName="accessories"
            [Number]="true"
            [maxlength]="maxLength.vehicle_accesories"
            [minlength]="1"
            [label]="vehicleLang.Labels.AccessoriesNumberLg"
            [error]="showErrors('accessories')"
            value="">
          </mf-input>
          <mf-show-errors [control]="form.controls['accessories']"></mf-show-errors>
        </div>
        <div class="g-pt--40 g-pl--5">
          <mf-tooltips class="g-tooltip-mobile--alternative-top-left">
            <div class="g-pb--10 g-font--bold">{{ lang.Step1.Tooltips.AccessoryText1 }}</div>
            <div class="g-font--13 g-font--light">{{ lang.Step1.Tooltips.AccessoryText2 }}</div>
          </mf-tooltips>
        </div>
      </div>
    </div>

    <!-- Color -->
    <div class="g-w-100 g-pb--25">
      <mf-select
        formControlName="color"
        [label]="vehicleLang.Labels.Color"
        [error]="showErrors('color')"
        [options]="colors">
      </mf-select>
      <mf-show-errors [control]="form.controls['color']"></mf-show-errors>
    </div>

  </div>
</div>

<!-- Footer -->
<div class="d-flex g-p--15 g-bt--1 g-bc--gray11">
  <div class="w-50 g-pr--5 g-pr-lg--10">
    <button mf-button outline
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      (click)="back()"
      ctrl="buttonsStep1"
      (domChange)="onDomChange($event, { label: generalLAng.Buttons.Cancel })">
      {{ generalLAng.Buttons.Cancel }}
    </button>
  </div>
  <div class="w-50 g-pl--5 g-pl-lg--10">
    <button mf-button
      [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
      [disabled]="!form.valid"
      (click)="verifyInfo()"
      ctrl="buttonsStep1"
      (domChange)="onDomChange($event, { label: generalLAng.Buttons.Next })">
      {{ generalLAng.Buttons.Next }}
    </button>
  </div>
</div>

<client-modal-error-buy-step-one [chassis]="currentChassis" [motor]="currentMotor"></client-modal-error-buy-step-one>
