<mf-paginator
  (itemsPerPageChange)="itemsPerPageChange($event)"
  (pageChange)="pageChange($event)"
  [labelPlural]="labelPlural"
  [labelSingular]="labelSingular"
  [perPageList]="[10, 25, 50]"
  [textBold]="title"
  [total]="total"
  marginCard="g-mx-lg--20 g-mt-lg--20"
  perPageListColor="g-c--green1"
>
  <div class="g-mb--20">
    <div [formGroup]="frm" class="g-px--10 g-px-lg--0 d-flex flex-column flex-md-row">
      <div class="d-flex g-ie-flex--0-1-auto w-px-sm--25 w-10 g-mr-md--20">
        <div class="g-pt--20 g-pr--15 g-pl--5">
          {{ txtFilter }}
        </div>
        <mf-select class="w-100 g-select-padding" formControlName="year" [options]="yearsOptions"></mf-select>
      </div>
    </div>
  </div>
  <mf-loader *ngIf="showLoading"></mf-loader>
  <client-item-not-found [show]="!showLoading && !itemsHistory.length" [text]="msgNotFound"> </client-item-not-found>
  <mf-card-item
    *ngFor="
      let record of itemsHistory | paginate: { currentPage: page, itemsPerPage: itemsPerPage, totalItems: total };
      let i = index
    "
  >
    <client-item-request
      (viewDetail)="viewDetail($event)"
      [item]="record"
      [numberLabel]="numberLabel"
    >
    </client-item-request>
  </mf-card-item>
</mf-paginator>
