<div class="container-fluid">
  <div class="row">
    <aside class="col g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">
        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}
      </div>
      <!--End: Menu-->
    </aside>
    <section class="col g-box-container">
      <!--Begin: Header-->
      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}
      <!--End: Header-->
      <!--Begin: content-->
      <div class="sect-container">
      {{>templates-profile-edit}}
      </div>
    </section>

  </div>
</div>

<div class="g-box-nav-close g-none" onclick="closeNavBox()"></div>
