<div #gModal class="g-full-modal" [ngClass]="{ 'g-full-modal-above' : isAbove }" [attr.name]="name" *ngIf="modalState">
  <div #gModalContainer class="g-full-modal--container">
    <div #gModalWrapper class="g-full-modal--wrapper {{ sizeClass }}" [ngClass]="{'g-full-modal--load': showLoading}">

      <!--Full Modal Header-->
      <div
        #gModalHeader
        class="g-full-modal--header g-shadow--header g-shadow-lg--none g-bb-lg--1 g-bc--gray11"
        [ngClass]="{'border-0': removeBorder, 'd-none': (hideHeaderMobile && !isDesktop) || (hideHeaderDescktop && isDesktop)}">
        <div class="d-flex align-items-center g-o--hidden w-10">
          <div *ngIf="isDesktop" class="g-font--18 g-font--medium d-none d-lg-block w-10">
            {{ title }}
          </div>
          <div class="g-br--1 h-px--5 g-px--15 d-flex align-items-center d-lg-none" (click)="close()">
            <span class="icon-mapfre_010_arrow-left g-font--18"></span>
          </div>
          <div class="h-px--5 g-px--15 w-10 d-flex d-lg-none align-items-center g-o--hidden">
            <div class="g-text--uppercase g-line--11 text-truncate">
              <span [ngClass]="{'g-font--13 d-block g-font--light': secondTitleMobile}">{{ titleMobile }}</span>
              <span *ngIf="secondTitleMobile" class="g-font--14 g-c--black1 g-font--medium">{{ secondTitleMobile }}</span>
            </div>
          </div>
          <div class="g-full-modal--closemodal d-none d-lg-flex g-c--gray2" (click)="close()">
            <span class="icon-mapfre_121_close g-font--21"></span>
          </div>
        </div>
      </div>

      <!--Full Modal Body-->
      <div #gModalContent class="g-full-modal--content g-ie-full-modal--content w-100">
        <div class="wrap p-lg-0" data-simplebar>
          <ng-content></ng-content>
        </div>
      </div>

      <!--Full Modal Footer-->
      <div #gModalFooter class="g-full-modal--footer g-p--10 text-center mt-auto">
        <ng-container *ngIf="!editFooter">
          <div class="w-px--24 w-lg-auto mx-auto">
            <button
              *ngIf="!confirm"
              #actionButton
              mf-button
              outline="true"
              [ngClass]="'g-btn--default'"
              (click)="overrideClose()">
              {{ actionButtonText }}
            </button>
          </div>
          <div class="d-flex" *ngIf="confirm">
            <div class="w-50">
              <button
                mf-button
                outline="true"
                [ngClass]="'g-btn--default'"
                (click)="onConfirm(false)">
                {{ cancelButtonText }}
              </button>
            </div>
            <div class="w-50">
              <button
                mf-button
                [ngClass]="'g-btn--default'"
                [disabled]="disableButton"
                (click)="onConfirm(true)">
                {{ confirmButtonText }}
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="editFooter">
          <ng-content select="[footer]"></ng-content>
        </ng-container>
      </div>
    </div>
  </div>
</div>
