<client-star-rating
  [label]="label"
  [enabled]="enableRating"
  [currentSelection]="rating"
  (selection)="onSelection($event)"></client-star-rating>

<div *ngIf="showButtons" class="g-p--10 g-bt--1 g-bc--gray5">
  <div class="d-flex justify-content-between flex-sm-row flex-column-reverse">
    <div class="w-10 d-flex g-mb--10 g-mb-sm--0 g-ie-flex--0-1-auto">
      <button mf-button outline class="g-px--10 g-max-w--19 w-10 w-px-md--19 mx-auto"
        (click)="cancelRate()">{{ lang.Buttons.Cancel }}</button>
    </div>
    <div class="w-10 d-flex g-mb--10 g-mb-sm--0 g-ie-flex--0-1-auto">
      <button mf-button class="g-px--10 g-max-w--19 w-10 w-px-md--19 mx-auto" 
        (click)="rateWorkshop()">{{ lang.Buttons.Agree }}</button>
    </div>
  </div>
</div>
