<div class="d-flex flex-column  g-mb--20 g-mb-lg--30 ">
  {{#driverTittle}}
  {{>molecules-titles2}}
  {{/driverTittle}}
</div>

{{#cardbox}}
<div class="g-mb--20 g-bg-c--white1 g-b-radius--5">
{{>molecules-card-box-call}}
</div>
{{/cardbox}}


{{#tabsearch}}
  {{>molecules-tabs-search}}
{{/tabsearch}}

<div class="row g-pt--20">
  {{#boxItems}}
    {{>molecules-boxitems}}
  {{/boxItems}}
</div>
