<div class="d-flex flex-column  g-mb--20 g-mb-lg--30 ">
  {{#driverTittle}}
  {{>molecules-titles2}}
  {{/driverTittle}}
</div>

{{#cardbox}}
<div class=" g-mb--20  g-bg-c--white1 g-b-radius--5">
{{>molecules-card-box-call}}
</div>
{{/cardbox}}

<div class="row">
  {{#banner}}
  <div class="col  g-mb--20 ">
    <img class="w-100" src="{{src}}" alt="alt">
  </div>
  {{/banner}}
</div>

<div class="row g-pl-lg--15 g-pr-lg--15">
  <div class="g-box--shadow1 g-bg-c-xl--white1 d-flex w-100 g-b-radius--5  g-mb--20 flex-wrap flex-xl-nowrap">
    <div class="g-bg-c-xl--gray5  g-pl--20  g-pr--20  g-pl-lg--30 g-pr-lg--30 w-100 w-xl-auto">
      <div class="g-font-lg--24 g-font--18 g-c--gray3  g-pt--30 g-pl--5  g-font--medium g-line--13 g-mb--0   g-mb-xl--20 ">
        Qué hacer en caso <br class="d-none d-xl-block">de emergencia <br class="d-none d-xl-block">médica
      </div>
      <div class="d-none d-xl-block">
        {{#tabVertical}}
        {{>molecules-tabs-vertical}}
        {{/tabVertical}}
      </div>
      <div class="d-block d-xl-none">
        {{#mfselect}}
        {{>atoms-mf-select}}
        {{/mfselect}}
      </div>

    </div>
    <div class="w-100  g-p-lg--15 ">
      <div class="{{addClassContent}}" data-simplebar>
        {{#section}}
        <section id="{{lidLink}}">
          <div class="{{titleClass}}">{{{title}}}</div>
          <div class="d-flex cards flex-wrap g-mb-xl--50 ">
            {{#card}}
            <div class="cards--box d-flex justify-content-center {{addClass}}">
              <div class="g-box--shadow1  g-p--20 g-max-w-lg--24 w-10 cards--item">
                <div class="g-font--medium g-font--30 g-c--green1">{{{number}}}</div>
                <div class="g-font--medium g-font--14 g-pb--20 g-text--uppercase">{{{title}}}</div>
                <div class="g-font--light g-font--14 g-line--12">{{{description}}} </div>

              </div>
            </div>
            {{/card}}
          </div>
        </section>
        {{/section}}
      </div>
    </div>
  </div>
</div>
