<div [formGroup]="form.controls['changePassword']">
  <div class="w-100">
    <mf-input type="password"
      [label]="lang.Labels.NewPassword"
      [formControl]="newPassword"
      [enableCheck]="newPassword.valid"
      [minlength]="generalMinLength"
      [maxlength]="generalMaxLength"
      [error]="showErrors('newPassword')">
    </mf-input>
    <mf-show-errors [control]="newPassword"></mf-show-errors>
  </div>
  <div class="w-100">
    <mf-input
      type="password"
      [label]="lang.Labels.ConfirmNewPassword"
      [formControl]="confirmPassword"
      [enableCheck]="form.controls['changePassword'].valid"
      [minlength]="generalMinLength"
      [maxlength]="generalMaxLength"
      [error]="showErrors('confirmPassword')">
    </mf-input>
    <mf-show-errors
      [control]="confirmPassword"
      [word]="messagePassword">
    </mf-show-errors>
  </div>
</div>
