{{#headerBox}}
  <!--Begin: Title-->
  <div class="row  g-mb--20">
    <div class="g-bg-c--gray12 g-bg-c--gray-xs--trasparent  g-p--0 g-p-lg--30  g-pt--20 w-100 d-none d-lg-block">
      <div class="d-flex align-items-center justify-content-sm-between flex-wrap">
        <div class="w-100 w-lg-auto">
          {{#dataProfile}}
            {{>organisms-data-profile}}
          {{/dataProfile}}
        </div>
        <div class="g-bl--1--gray17 w-100 w-lg-auto g-bt--1 g-bc--gray7 g-bb--1 g-b-lg--0">
          {{#balanceProfile}}
            {{>organisms-balance-profile}}
          {{/balanceProfile}}
        </div>
      </div>
    </div>
  </div>
  <!--End Title-->
{{/headerBox}}

{{#alerts}}
<div class="clearfix g-mb--20">
  {{>atoms-alert-alternative}}
</div>
{{/alerts}}

<!--Begin: Alert-->
{{#alerts2}}
<div class="clearfix  g-mb--20  g-mt--20  g-mt-md--0 ">
  {{>atoms-alert}}
</div>
{{/alerts2}}
<!--End: Alert-->

<!--Begin: Main Content-->
<div class="row  g-mb--20 ">
  <div class="col-12 col-md-6 d-flex  g-mb--20  g-mb-md--0 ">
    {{#payments}}
      {{>organisms-card-box}}
    {{/payments}}
  </div>
  <div class="col-12 col-md-6 d-flex">
    {{#progress}}
      {{>organisms-card-box}}
    {{/progress}}
  </div>
</div>
<div class="row">
  <div class="col  g-mb--20 ">
    {{#poliza}}
      {{>organisms-card-box}}
    {{/poliza}}
  </div>
</div>
<div class="row">
  {{#banner}}
  <div class="col  g-mb--20 ">
    <img class="w-100" src="{{src}}" alt="alt">
  </div>
  {{/banner}}
</div>
<div class="row">
  <div class="col g-px--0  g-px-lg--15  g-mb--0  g-mb-lg--40 ">
    {{#footerNav}}
      {{>templates-footer-nav}}
    {{/footerNav}}
  </div>
</div>
<!--End: Main Content-->
