<div class="d-flex flex-column  g-mb--30 ">
  {{#driverTittle}}
    {{>molecules-titles2}}
  {{/driverTittle}}
</div>
<div class="d-flex">
  <div class="w-100">
    <iframe class="min-height--100" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15605.237135314019!2d-77.0276488!3d-12.0909665!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1536783269099" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="ml-auto g-mw-lg--36">
    {{#boxDriverEdit}}
      {{>organisms-box-side}}
    {{/boxDriverEdit}}
  </div>
</div>