{{#boxGeneral}}
  <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5 g-mt--10 ">
    {{#boxHead}}
      {{>molecules-header-box}}
    {{/boxHead}}
    <div class="g-px-lg--15 g-py-lg--10 g-bc--gray11">
      {{#BoxCont}}
        {{>molecules-card-box-procedure-progress}}
      {{/BoxCont}}
    </div>
  </div>
{{/boxGeneral}}