.g-full-modal--load {
  position: relative;

  &::before {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
  }

  &::after {
    animation: spin 1s linear infinite;
    border-color: #8db602 #dddddd #dddddd;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    content: '';
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 14;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
