<!--Card de Servicios-->
<div class="g-bg-c--white1 g-box--shadow1 my-3 g-b-radius-lg--5 justify-content-between flex-wrap flex-lg-nowrap g-mh--10 w-100" [ngClass]="appointments.length === 0 ? 'd-none d-sm-flex' : 'd-flex' ">
    <div class="d-flex justify-content-between flex-lg-nowrap g-mh--10 w-100 flex-column flex-lg-row flex-fill">
        <div
            class="w-5 w-md-6 w-lg-6 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
            <div class="g-font-lg--14 g-pl--15 text-nowrap">
                <div>
                    <img [src]="notificationIcon">
                    <span class="g-pl--10 g-font--medium">{{txtAppointment}}</span>
                </div>
            </div>

            <div class="text-nowrap d-flex flex-grow-1 g-pl-sm--45 g-pl--45 g-mr--20 justify-content-lg-end">
                <div (click)="goToServices()" ctrl="checkMyServices">
                    <a href="javascript:void(0)" class="g-c--green1 g-font--medium g-c--pointer g-link--green1">
                        {{btnService}}
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="hasService && this.scheduledAppointments.length > 0"
            class="w-7 w-md-6 w-lg-6 g-bl--1 g-bt--1 p-3 p-lg-0 g-o--hidden d-none d-lg-flex align-items-lg-center flex-column flex-lg-row flex-fill">
            <div class="px-lg-3 pb-xs--1 pb-lg-0 w-lg-10 g-column-count-lg--2 g-pl--45">
                <div class="d-lg-flex w-10">
                    <div class="mb-0 text-nowrap"> {{txtNextService}} </div>
                </div>
                <div class="d-lg-flex w-10">
                    <div class="mb-0 text-nowrap"> {{lblAppointment}} </div>
                </div>
                <div class="d-lg-flex w-10 g-font--12">
                    <span class="g-items-icon icon-mapfre_040_calendar g-mr--5 g-mt--3 g-c--gray10"></span>
                    <span class="w-10 text-lg-truncate g-c--gray10">{{ scheduleDate }}</span>
                </div>
                <div class="d-lg-flex w-10 g-font--12">
                    <span class="g-items-icon icon-mapfre_062_reloj g-mr--5 g-mt--3 g-c--gray10"></span>
                    <span class="w-10 text-lg-truncate g-c--gray10 text-lowercase">{{ scheduleTime }}</span>
                </div>
            </div>
        </div>

        <div *ngIf="hasService && this.scheduledAppointments.length > 0"
            class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--12 g-bl-lg--1 d-none d-lg-flex align-items-center justify-content-center flex-grow-1">
            <div (click)="viewDetail(itemService)" ctrl="checkMyServices">

                <a href="javascript:void(0)" class="g-c--green1 g-font--medium g-c--pointer g-link--green1">
                    {{btnViewDetail}}
                </a>
            </div>
        </div>

    </div>
</div>