<div class="g-b-radius--20 g-c--pointer" #target [ngClass]="classPosition">
  <div class="g-tooltip--alternative g-tooltip--default d-flex align-items-center" [ngClass]="{'g-tooltip--disabled': disabled }" (mouseover)="onHover()">
    <span [ngClass]="classIcon"></span>
    <div class="g-tooltip--alternative-message p-3 g-b-radius--5" [ngClass]="classBox" #content>
      <div class="g-tooltip--alternative-arrow" #arrow></div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
