<div #banner class="g-banner g-o--hidden g-box--shadow1 g-b-radius--5 position-relative" [hidden]="!existUrlImage">
  <img
    [img-loader]="pathImgBanner.lg"
    [img-sm]="pathImgBanner.sm"
    [img-md]="pathImgBanner.md"
    [img-xl]="pathImgBanner.xl"
    alt="image banner"
    (hasImage)="notLoading($event)"
    (error)="notLoading()"
  />
  <div class="g-banner--apps g-banner--ios g-c--pointer">
    <a
      class="g-block"
      target="_blank"
      [href]="playstore_app_url"
      ctrl="linkStore"
      (domChange)="onDomChange($event, { label: 'Google Play' })"
    >
      <img class="g-banner--default" [src]="playstore_button" />
      <img class="g-banner--hover" [src]="playstore_button_hover" />
    </a>
  </div>
  <div class="g-banner--apps g-banner--android g-c--pointer">
    <a
      class="g-block"
      target="_blank"
      [href]="appstore_app_url"
      ctrl="linkStore"
      (domChange)="onDomChange($event, { label: 'App Store' })"
    >
      <img class="g-banner--default" [src]="appstore_button" />
      <img class="g-banner--hover" [src]="appstore_button_hover" />
    </a>
  </div>
</div>
