.g-button-to-top {
  bottom: 10px;
  opacity: 0;
  position: fixed;
  right: 10px;
  text-indent: -99999em;
  transition: all .2s ease-in-out;
  visibility: hidden;
  z-index: 1;

  &--show {
    opacity: 1;
    text-indent: 0;
    transition: all .2s ease-in-out;
    visibility: visible;
  }
}
