@import 'accordion';
@import 'alert';
@import 'badge';
@import 'button-to-top';
@import 'circle';
@import 'countlist';
@import 'desplegable';
@import 'dropdown';
@import 'filter';
@import 'fonts';
@import 'footer';
@import 'header';
@import 'icons';
@import 'link';
@import 'list';
@import 'messeges';
@import 'modal';
@import 'notification';
@import 'paginator';
@import 'progress-bar';
@import 'rating';
@import 'shadow';
@import 'simplebar';
@import 'spinner';
@import 'switch';
@import 'tab-horizontal';
@import 'timeline';
@import 'tooltip';

// g-fixed se usara para el contendor
.g-fixed {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// g-ui--sckity se usa dentro del g-fixed donde va el contenido
.g-ui--sckity {
  flex: 1;
}

.g-ui--view {
  background-color: map-get($colors, white1);
  min-height: 100%;
  overflow: hidden;

  &.view-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.g-text--nowrap {
  white-space: nowrap;
}

.g-title--header {
  background-color: map-get($colors, white1);
  // box-shadow: 1px 1px 20px 0 $c-shadow1;
  min-height: 50px;

  @media (min-width: $break-large) {
    box-shadow: none;
  }
}

// Border
.g-border {
  border-color: map-get($colors, gray7);
  border-style: solid;
  border-width: 1px;

  &--circle {
    border-color: map-get($colors, green1);
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;

    @media (min-width: $break-medium) {
      height: 90px;
      line-height: 80px;
      width: 90px;
    }
  }

  &--dashed {
    border-style: dashed;
  }
}

.g-flex-row--3 {
  flex: 0 1 30%;

  @media (min-width: $break-medium) {
    flex: 0 1 33%;
  }
}

// Photo user
.g-photo--p {
  border-radius: 50%;
  max-width: 61px;

  img {
    max-height: 82px;
    max-width: 82px;
  }
}

// Title
.g-hr-title {
  font-size: 11px;
  position: relative;
  text-transform: uppercase;

  &::before {
    background-color: map-get($colors, gray6);
    content: '';
    height: 1px;
    left: 130%;
    max-width: 40px;
    position: absolute;
    top: 2px;
    width: 100%;
  }

  &::after {
    background-color: map-get($colors, gray6);
    content: '';
    height: 1px;
    max-width: 40px;
    position: absolute;
    right: 130%;
    top: 2px;
    width: 100%;
  }
}

// Price
.g-price-simbol {
  position: relative;

  &::before {
    content: 'S/';
    font-size: 13px;
    left: -15px;
    position: absolute;
    top: 5px;
  }
}

// Floating btn
.contect-float-menu {
  border-radius: 0 18px 18px;
  box-shadow: 0 0 2px $c-shadow1;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1090;
}

.g-btn-float {
  background: map-get($colors, gray11);
  height: 60px;
  position: relative;
  width: 60px;

  &--top {
    border-bottom: 1px solid map-get($colors, gray7);
    border-radius: 0 18px 0 0;
  }

  &--bottom {
    border-radius: 0 0 18px;
    border-top: 1px solid map-get($colors, gray7);
  }

  &.active {
    background: map-get($colors, white1);
    color: map-get($colors, green1);
  }

  &:hover {
    &::after {
      border-bottom: 5px solid transparent;
      border-right: 5px solid map-get($colors, green1);
      border-top: 5px solid transparent;
      content: '';
      height: 0;
      left: 65px;
      position: absolute;
      width: 0;
    }

    &::before {
      background: map-get($colors, green1);
      border-radius: 4px;
      color: map-get($colors, white1);
      content: attr(data-name);
      font-size: $fz10;
      left: 70px;
      padding: 4px 8px;
      position: absolute;
      white-space: nowrap;
    }
  }
}

.g-iframe {
  border-radius: 5px;
  box-shadow: 0 0 10px map-get($colors, gray7);
  width: 100%;

  &--mastercard {
    background: url('../../images/mastercard-responsive.png') top center no-repeat;

    @media (min-width: $break-medium) {
      background-image: url('../../images/mastercard.png');
    }
  }

  &--height {
    height: 760px;

    @media (min-width: $break-medium) {
      height: 600px;
    }
  }
}

.g-count {
  letter-spacing: -1px;
}

// Fixed
.g-alert-fixed--bottom {
  background-color: map-get($colors, black1);
  bottom: 0;
  color: map-get($colors, white1);
  left: 0;
  min-height: 60px;
  position: fixed;
  right: 0;
  z-index: 150;
}

.g-mw-px-lg--24 {
  @media (min-width: $break-large) {
    max-width: 240px;
  }
}

.g-mw-px-lg--31 {
  @media (min-width: $break-large) {
    max-width: 310px;
  }
}

.g-mw-px-lg--44 {
  @media (min-width: $break-large) {
    max-width: 440px;
  }
}

.g-img-mw-lg {
  img {
    max-width: inherit;
  }

  @media (min-width: $break-large) {
    img {
      max-width: inherit;
    }
  }
}

// coverage
.g-coverage-mh {
  &--66 {
    max-height: 66px;
    overflow: hidden;
    position: relative;

    &::before {
      background: map-get($colors, white1);
      color: map-get($colors, gray2);
      content: '...';
      padding-left: 8px;
      position: absolute;
      right: 1rem;
      top: 40px;
    }
  }
}

// wrap
.text-wrap {
  white-space: normal;
}

.g-float--arrow-bottom {
  left: 50%;
  position: relative;
  right: auto;
  transform: translateX(-50%) rotate(180deg);

  &::after {
    background: map-get($colors, white1);
    bottom: -5px;
    content: '';
    height: 15px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 15px;
  }

  &--gray1 {
    &::after {
      background: map-get($colors, gray18);
    }
  }

  &--green1 {
    &::after {
      background: map-get($colors, green1);
    }
  }
}

.g-tooltip--align-left {
  .g-tooltip--alternative-message--left {
    transform: translateX(-15px);
  }
}

// table
.g-content-table {
  &--td {
    background-color: map-get($colors, white1);

    &:nth-child(even) {
      background-color: map-get($colors, gray5);
    }

    .g-tooltip--alternative-message--left {
      transform: translateX(-15px);
    }
  }

  &--td-active {
    @media (max-width: $break-large) {
      display: block !important; // sass-lint:disable-line no-important
    }

    .g-content-table--td-title {
      @media (max-width: $break-large) {
        width: 100% !important; // sass-lint:disable-line no-important
      }
    }

    .g-content-table--td-content {
      @media (max-width: $break-large) {
        padding-left: 45px !important; // sass-lint:disable-line no-important
        padding-top: 0 !important; // sass-lint:disable-line no-important
        width: 100% !important; // sass-lint:disable-line no-important
      }
    }
  }

  &--column {
    border-left: 1px solid map-get($colors, gray11);
    display: none;
    padding: 20px;
    width: 50%;

    @media (min-width: $break-large) {
      display: block;
      width: 25%;
    }

    &.g-content-table--column1 {
      display: block;
    }

    &.g-content-table--column3 {
      display: block;
    }
  }
}

// sass-lint:disable-all
.g-content-table--description {
  display: flex;
  flex-shrink: 0;
  padding: 20px 10px;
  width: 50%;

  @media (min-width: $break-medium) {
    width: 300px;
  }
}

.g-content-table--description-header {
  display: flex;
  flex-shrink: 0;
  padding: 20px 10px;
  width: 100%;

  @media (min-width: $break-large) {
    width: 300px;
  }
}

.g-content-table--header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.g-content-table--info {
  display: flex;
  width: 100%;
}

.g-content-table--info .g-content-table--info-items {
  display: flex;
  padding: 20px;
  width: 100%;
}

.g-content-table--info-items:nth-child(n + 1) {
  border-left: 1px solid map-get($colors, gray11);
}
// sass-lint:enable-all

// google map
.g-maps {
  height: calc(100vh - 100px);

  @media (min-width: $break-xlarge) {
    height: calc(100vh - 70px);
  }
}

.h-opacity--0 {
  opacity: 0;
}

.h-events--no {
  pointer-events: none;
}

.h-txt--justify {
  text-align: justify;
}

.h-w--80 {
  width: 80%;
}

.h-color--red {
  color: map-get($colors, red1);
}

.h-color--green {
  color: map-get($colors, green1);
}

.h-bkg--green6 {
  background: map-get($colors, green6) !important;
}

.h-hidden {
  visibility: hidden;
}

// dropdown-custom
.c-dropdown-custom {
  margin-top: 20px;
  padding-top: 20px;
  position: relative;

  &__header {
    align-items: center;
    border-bottom: 1px solid map-get($colors, gray2);
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: space-between;

    .g-placeholder {
      cursor: pointer;
      top: 25px;
    }
  }

  &__icon {
    color: map-get($colors, gray18);

    &.active {
      transform: rotate(180deg);
    }
  }

  &__body {
    background-color: map-get($colors, gray5);
    display: flex;
    flex-wrap: wrap;
    height: 0;
    left: 0;
    max-height: 125px;
    overflow: auto;
    padding: 10px 10px 25px;
    position: absolute;
    right: 0;
    top: 55px;
    visibility: hidden;
    z-index: 12;

    &.active {
      height: auto;
      visibility: visible;
    }

    .option {
      align-items: center;
      background: map-get($colors, white1);
      border: 1px solid map-get($colors, white1);
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      margin: 5px;
      padding: 7px 10px;

      &:hover,
      &.active {
        border: 1px solid map-get($colors, green2);
        color: map-get($colors, green2);
      }

      i {
        padding-right: 8px;
      }

      .text {
        display: flex;
        flex-direction: column;
        line-height: 1;
      }
    }
  }

  &.c-frm--disabled {
    .c-dropdown-custom__header {
      border-bottom-color: map-get($colors, gray21);
    }

    .c-dropdown-custom__icon {
      color: map-get($colors, gray21);
    }

    .g-placeholder {
      color: map-get($colors, gray21);
    }
  }
}

.c-frm--disabled {
  opacity: 0.4;
  pointer-events: none;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .g-select-desing {
    border-bottom-color: map-get($colors, gray21);
  }

  .ico-select {
    color: map-get($colors, gray21) !important;
  }
}

.c-inbox_affiliate {
  &.is-editing {
    .c-affiliate-item {
      &:not(.is-editing) {
        opacity: 0.45;
        pointer-events: none;
      }
    }
  }
}

.g-terms-clinic-digital {
  height: calc(100vh - 380px);

  @media (min-width: $break-small) {
    height: calc(100vh - 360px);
  }

  @media (min-width: $break-large) {
    height: auto;
  }
}
