// Link
.g-link {
  @include link-hover--dark(map-get($colors, red1));
  cursor: pointer;
  font-weight: $medium;
  transition: $t-linear;

  &--orange1 {
    @include link-hover--dark(map-get($colors, orange1));
    cursor: pointer;

    &:hover {
      border-bottom: none;
    }
  }

  &--green1 {
    @include link-hover--dark(map-get($colors, green1));
    cursor: pointer;

    &:hover {
      border-bottom: none;
    }
  }

  &--white {
    @include link-mix(map-get($colors, white1));
    color: map-get($colors, white1);
  }

  &--small {
    font-size: $fz12;
  }
}
