// sass-lint:disable-all
.g-rating {
  display: table;
  text-align: left;
  unicode-bidi: bidi-override;
  direction: rtl;

  &--item {
    cursor: default;
    display: table-cell;
    line-height: 0;
    padding-left: 6px;
    text-align: center;
    vertical-align: top;

    .active {
      display: none;
    }

    &:last-child {
      padding-left: 0;
    }
  }

  &--hover {
    @media (min-width: $break-large) {
      .g-rating--item {
        cursor: pointer;

        &:hover {
          .repose {
            display: none;
          }

          .active {
            display: block;
          }

          & ~ .repose {
            display: block;
          }

          & ~ .active {
            display: none;
          }
        }
      }

      & > .g-rating--item:hover ~ .g-rating--item .active {
        display: block;
      }
      & > .g-rating--item:hover ~ .g-rating--item .repose {
        display: none;
      }
    }
  }

  &--active {
    .repose {
      display: none;
    }

    .active {
      display: block;
    }
  }
}
// sass-lint:enable-all
