.g-timeline {
  list-style: none;
  max-width: 950px;
  position: relative;

  &-content {
    margin-left: -5px;
    margin-right: -5px;

    @media (min-width: $break-large) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &--line {
    position: relative;

    @media (min-width: $break-large) {
      margin-bottom: 20px;
    }

    &::after {
      clear: both;
      content: '';
      display: table;
    }

    &:nth-child(n) {
      .g-timeline--items {
        // sass-lint:disable-all
        &::after {
          background: map-get($colors, green1);
          content: '';
          height: 100%;
          left: 26px;
          position: absolute;
          top: 20px;
          width: 2px;
          z-index: 0;

          @media (min-width: $break-medium) {
            width: 3px;
            left: 34px;
          }

          @media (min-width: $break-large) {
            left: 50%;
          }
        }
        // sass-lint:enable-all
      }
    }

    &:nth-last-child(1) {
      .g-timeline--items {
        // sass-lint:disable-all
        &::after {
          content: none;
        }
        // sass-lint:enable-all
      }
    }
  }

  &--items {
    clear: both;
    float: right;
    width: calc(100% - 66px);

    @media (min-width: $break-medium) {
      width: calc(100% - 80px);
    }

    @media (min-width: $break-large) {
      box-shadow: 0 1px 6px 0 $c-shadow1;
      float: left;
      max-width: 425px;
      width: 100%;
    }

    &-header {
      position: relative;

      &::before {
        border-bottom: 14px solid transparent;
        border-left: none;
        border-right: 14px solid map-get($colors, white1);
        border-top: 14px solid transparent;
        clear: both;
        content: '';
        display: table;
        left: -10px;
        position: absolute;
        top: 12px;

        @media (min-width: $break-large) {
          border-left: 14px solid map-get($colors, white1);
          border-right: none;
          left: auto;
          right: -9px;
        }
      }

      &.g-timeline--items-pending {
        &::before {
          border-left: none;
          border-right: 12px solid map-get($colors, gray21);
          border-top: 11px solid transparent;
          left: -13px;

          @media (min-width: $break-large) {
            border-left: 12px solid map-get($colors, gray21);
            border-right: none;
            left: auto;
            right: -13px;
          }
        }

        &::after {
          border-bottom: 12px solid transparent;
          border-left: none;
          border-right: 12px solid map-get($colors, gray11);
          border-top: 9px solid transparent;
          clear: both;
          content: '';
          display: table;
          left: -12px;
          position: absolute;
          top: 14px;

          @media (min-width: $break-large) {
            border-left: 12px solid map-get($colors, gray11);
            border-right: none;
            left: auto;
            right: -12px;
          }
        }
      }
    }
  }

  // sass-lint:disable-all
  &-pending {
    &::before {
      border-right: 10px solid map-get($colors, gray11);
      left: -13px;
      right: auto;
      z-index: 12;
    }

    &::after {
      content: '';
      border-bottom: 10px solid transparent;
      border-left: none;
      border-right: 10px solid map-get($colors, gray21);
      border-top: 10px solid transparent;
      left: -10px;
      position: absolute;
      right: auto;
      top: 16px;
      z-index: 1;
    }

    @media (min-width: $break-large) {
      &::before {
        border-left: 10px solid map-get($colors, gray11);
        border-right: 0;
        left: auto;
        right: -10px;
        z-index: 12;
      }

      &::after {
        content: '';
        border-left: 10px solid map-get($colors, gray21);
        border-right: 0;
        right: -10px;
        left: auto;
        z-index: 1;
      }
    }
  }
  // sass-lint:enable-all

  &--badge {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: map-get($colors, white1);
    height: 55px;
    left: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 55px;
    z-index: 15;

    @media (min-width: $break-medium) {
      height: 70px;
      left: 35px;
      line-height: 70px;
      top: -10px;
      transform: translateX(-50%);
      width: 70px;
    }

    @media (min-width: $break-large) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--inverted {
    .g-timeline--items {
      float: right;

      // sass-lint:disable-all
      &-header {
        &::before {
          border-bottom: 10px solid transparent;
          border-left: none;
          border-right: 10px solid map-get($colors, white1);
          border-top: 10px solid transparent;
          left: -10px;
          position: absolute;
          right: auto;
        }
      }

      &-pending {
        &::before {
          border-right: 10px solid map-get($colors, gray11);
          left: -9px;
          z-index: 12;
        }

        &::after {
          content: '';
          border-bottom: 10px solid transparent;
          border-left: none;
          border-right: 10px solid map-get($colors, gray21);
          border-top: 10px solid transparent;
          left: -10px;
          position: absolute;
          right: auto;
          top: 18px;
          z-index: 1;
        }
      }
      // sass-lint:enable-all
    }
  }
}
