<mf-card>
  <!-- Header -->
  <mf-card-header [header]="data.titleMyPolicies" hc>
    <mf-card-actions-link>
      <mf-card-action-link>
        <div
          (click)="goToQuote()"
          (domChange)="onDomChange($event, { label: btnQuotePolicy })"
          class="d-flex align-items-center g-c--pointer g-c--green1"
          ctrl="linkActions">
          <div><span class="icon-mapfre_052_agregar g-font--25 g-font-md--21"></span></div>
          <div class="text-nowrap ml-2 g-font--medium">{{ btnQuotePolicy }}</div>
        </div>
      </mf-card-action-link>
      <mf-card-action-link *ngIf="fnShowComparate() && listPolicies.length">
        <div
          class="d-flex align-items-center g-c--pointer g-c--green1"
          (click)="goToCompare()"
          ctrl="linkActions"
          (domChange)="onDomChange($event, { label: btnComparePolicy })">
          <div><span class="icon-mapfre_095_comparate g-font--25 g-font-md--21"></span></div>
          <div class="text-nowrap ml-2 g-font--medium">{{ btnComparePolicy }}</div>
        </div>
      </mf-card-action-link>
    </mf-card-actions-link>
  </mf-card-header>

  <!-- Contenido -->
  <mf-card-content dropdown-close>
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

    <!-- Sin polizas -->
    <mf-card-item *ngIf="listPolicies && !(listPolicies.length > 0) && !showLoading">
      <div class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10">
        <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
          <div class="px-2 my-3 my-lg-0">
            <client-icon-policies [policyType]="policyType"></client-icon-policies>
          </div>
          <div class="g-items-text pl-lg-3">
            <div class="g-font--20 mb-0 g-font--medium">{{ messageWithoutPolicies }}</div>
          </div>
        </div>
      </div>
    </mf-card-item>

    <!-- Listado -->
    <mf-card-item *ngFor="let item of listPolicies">
      <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">

        <!-- Icono de poliza -->
        <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
          <client-icon-policies [policyType]="item.policyType" [customIcon]="item.customIcon"></client-icon-policies>
        </div>

        <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
          <!-- Nombre de la poliza y beneficiario(s) -->
          <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
            <div class="g-font--medium text-lg-truncate g-text--uppercase" [title]="item.policy">
              {{ item.policy }}
            </div>
            <div *ngIf="item.isEPSContractor">
              <div class="text-lg-truncate" [title]="item.affiliates">{{ item.affiliates }}</div>
            </div>
            <div *ngIf="!item.isEPSContractor">
              <div *ngIf="item.beneficiaries?.length == 1">
                <div class="text-lg-truncate" [title]="item.beneficiaries[0].nombreBeneficiario">
                  {{ item.beneficiaries[0].nombreBeneficiario }}
                </div>
              </div>
              <br class="d-none d-lg-inline-block" *ngIf="item.beneficiaries?.length > 1" />
              <client-dropdown-items-policy
                *ngIf="item.beneficiaries?.length > 1"
                [policyNumber]="item.policyNumber"
                [policyType]="item.policyType"
                [items]="item.beneficiaries"
                [descripcionItem]="'nombreBeneficiario'">
              </client-dropdown-items-policy>
            </div>
          </div>

          <!-- Nro de poliza, semaforo, vencimiento de poliza -->
          <div class="pl-lg-3 mb-2 mb-lg-0 w-px-lg--21 g-font--13">
            <div
              class="mb-0 text-lg-truncate"
              [title]="(isEPS(item) ? data.labelNumberContract : data.labelNumberPolicy) + ': ' + item.policyNumber">
              {{ isEPS(item) ? data.labelNumberContract : data.labelNumberPolicy }}: {{ item.policyNumber }}
            </div>
            <div
              *ngIf="!item?.isVIP || item.isEPSContractor"
              class="mb-0 text-nowrap align-items-center"
              [ngClass]="(fnHideCol2EPS(item.policyType) && !item.isEPSContractor) || item.isPPFM ? 'd-none' : 'd-flex'">
              <span *ngIf="!item?.isVitalicia || item.isEPSContractor" class="icon-mapfre_066_circle g-font--10 pr-1" [ngClass]="item.bulletColor"></span>
              <span *ngIf="!item?.isVitalicia || item.isEPSContractor">
                {{ item.warning ? data.labelCurrentPolicy : data.labelCurrentPolicy }}{{ item.endDate }}
              </span>
              <span *ngIf="item?.isVitalicia">{{ lang.Labels.PolizaVitalicia }}</span>
            </div>
            <span *ngIf="item?.isVIP || item?.isPPFM">&nbsp;</span>
          </div>

          <!-- Estado de la cobertura -->
          <div class="px-lg-3 w-px-lg--17">
            <div
              *ngIf="item.isVisibleCoverage || !isEPS(item)"
              [ngClass]="fnHideCol2EPS(item.policyType) && !(item.isEPSContractor && item.coverageStatus === coverageStatus.FACTURA_VENCIDA) ? 'd-none' : ''">
              <div
                class="mb-0 text-nowrap"
                [ngClass]="item.coverageStatus === coverageStatus.SIN_COBERTURA ? colorStatus.RED : ''">
                {{ item.isVisibleCoverage ? item.coverageStatus : '' }}
              </div>
              <div class="mb-0 text-nowrap d-none d-lg-block">&nbsp;</div>
            </div>
          </div>

          <!-- Opciones -->
          <div class="px-lg-3 g-mt--5 g-mt-lg--0">
            <!-- Descargar Poliza -->
            <div class="mb-0 text-lg-center g-c--green1" *ngIf="item.showIconPdf">
              <span
                [spinnerPdf]="showSpinnerPolicy && item.policyNumber === policySelected"
                (click)="seePolicePdf(item.policyNumber)">
              </span>
            </div>
          </div>
        </div>

        <!-- Ver detalle -->
        <div
          [ngClass]="item.hiddenViewDetail ? 'g-bl-lg--0' : 'g-bl-lg--1'"
          class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center flex-grow-1">
          <a 
            *ngIf="(item.response.codRamo !== codRamoClinicaDigital && detailPolicyCldKey) || !detailPolicyCldKey" 
            href="javascript:void(0)"
            (click)="goToDetail(item)"
            class="g-c--green1 g-font--medium g-c--pointer g-link--green1"
            ctrl="linkViewDetail"
            (domChange)="onDomChange($event, {label: data.labelViewDetail, policy: item.policy, policyNumber: item.policyNumber, coverageStatus: item.coverageStatus})"
            [ngClass]="item.hiddenViewDetail ? 'd-none' : ''">
            {{ data.labelViewDetail }}
          </a>
        </div>
      </div>
    </mf-card-item>
  </mf-card-content>
</mf-card>

<!-- Modal para comparar pólizas -->
<client-compare-policy *ngIf="shouldOpenModalSelect" [policyType]="policyType"> </client-compare-policy>
