<mf-loader *ngIf="showLoading"></mf-loader>

<div *ngIf="!showLoading && (risksHealth.length || risksPension.length)" class="g-b-radius--5 g-bg-c--white1 g-mb--20 g-p--20 g-box--shadow1">
  <h3 class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase">
    {{ isDeclaration ? lang.RisksToDeclare : lang.RisksToInclude }}
  </h3>
  <p>{{ lang.RiskInfo }}</p>
  <div class="g-b-radius--5 g-bg-c--white1 g-my--10 g-p--10 g-p-md--20 g-box--shadow1">
    <div class="row">
      <div *ngIf="risksHealth.length" class="col-md-6 g-mb--10 g-mb-md--0">
        <p class="g-mb--10 g-font--bold">SCTR Salud</p>
        <ng-container *ngTemplateOutlet="riskListTemplate; context: { riskList: risksHealth }"></ng-container>
      </div>
      <div *ngIf="risksPension.length" class="col-md-6">
        <p class="g-mb--10 g-font--bold"><strong>SCTR Pensión</strong></p>
        <ng-container *ngTemplateOutlet="riskListTemplate; context: { riskList: risksPension }"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #riskListTemplate let-riskList="riskList">
  <div *ngFor="let risk of riskList" class="d-flex g-mb--10">
    <em class="icon-sinister_person g-font--20"></em>
    <span class="g-text--nowrap g-font--medium"><strong>Riesgo {{ risk.numRiesgo }}:</strong></span>
    <span class="g-pl--5">{{ risk.descRiesgo }}</span>
  </div>
</ng-template>
