<mf-card>
  <div class="g-bg-c--gray2 text-center g-p--15 w-10 d-none d-lg-block g-b-radius-t--5">
    <div class="g-c--white1 g-font--18">{{ lang.SummaryInsurance }}</div>
  </div>
  <div class="w-10 g-bg-c--white1" [ngClass]="{ 'g-resumen--active': !collapse }">
    <!-- Header -->
    <mf-card-header
      class="d-block d-lg-none"
      [header]="lang.SummaryInsurance"
      [uppercaseHeader]="false"
      [textRigth]="collapse ? lang.FinalPrice + ': ' + item.finalPrice : ''"
      [collapsed]="collapse"
      (expand)="collapse = $event">
    </mf-card-header>
    <div [collapse]="collapse" (collapse-mobile)="collapse = $event">
      <div class="d-flex flex-column text-center g-px--15 g-py--15">
        <div class="g-font--medium g-font--18  g-line--10 g-pb--10 g-c--gray2">{{ quote?.policy }}</div>
        <div class="g-font--light ">{{ item.year }}</div>
      </div>

      <!-- Descuento Mapfre Dollars -->
      <ng-container *ngIf="hasMPD">
        <div class="d-flex justify-content-between align-items-center g-p--15 g-bt--1 g-bc--gray11">
          <div class="g-font--light w-10">
            <div class="g-font--medium g-c--gray2">{{ lang.UserMapfreDolar }}</div>
              {{ labelMapfreDolars }}: {{ item.mapfreDolars }}
          </div>
          <div class="g-font--light g-bc--gray11 text-nowrap">
            <mf-switch
              [(ngModel)]="useMPD"
              (change)="switchChange($event)">
            </mf-switch>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center g-p--15 g-bt--1 g-bc--gray11 ">
          <div class="g-font--light w-10 g-font--16">{{ lang.Discount }}</div>
          <div class="g-font--light text-nowrap g-font--16">{{ item.discount }}</div>
        </div>
      </ng-container>

      <div class="g-bg-c--gray11 d-flex justify-content-between w-10 g-p--20">
        <div class="g-font--medium g-font--18  g-c--gray2">{{ lang.FinalPrice }}</div>
        <div class="g-font--medium g-font--18  g-c--gray2">{{ item.finalPrice }}</div>
      </div>
    </div>
  </div>
</mf-card>

<br>
