<div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
  <!-- Icono-->
  <div [ngClass]="{ 'w-px--8 align-items-lg-center' : !index, 'w-px--6 g-pt--20': index }" class="d-flex justify-content-center">
    <span *ngIf="!index" class="g-c--gray18 g-items-icon g-font--30 g-font-lg--40 mt-1" [ngClass]="fileIcon"></span>
    <span *ngIf="index" class="g-font--medium g-font--16">{{ index }}</span>
  </div>
  <!-- Datos de la Constancia -->
  <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
    <div class="w-100 g-mb--03 mb-lg-0 g-o--hidden">
      <div class="g-font--medium text-lg-truncate g-font-md--16" [title]="record.descripcionRamo + ': ' + record.numeroConstancia">
        {{ record.descripcionRamo + ': ' + record.numeroConstancia }}
      </div>
      <div *ngIf="mpKeys?.MP_MIS_CONSTANCIAS_DATOS" class="text-lg-truncate" [title]="record.tipoMovimiento">{{ record.tipoMovimiento }}</div>
    </div>
    <div *ngIf="mpKeys?.MP_MIS_CONSTANCIAS_DATOS" class="px-lg-3 w-px-lg--19">
      <div>
        <span class="g-font--light g-font--12">{{ record.cantidadAsegurados }} {{ insuredText }}</span>
      </div>
      <div>
        <span class="g-font--light g-font--12">{{ lang.DateEmissionAbrev }}: {{ record.fechaEmision | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
    <div class="px-lg-2 w-px-lg--20">
      <div>
        <span class="g-font--light g-font--12">{{ lang.StartValid }}: {{ record.fechaInicioVigencia | date:'dd/MM/yyyy' }}</span>
      </div>
      <div>
        <span class="g-font--light g-font--12">{{ lang.EndValid }}: {{ record.fechaFinVigencia | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
  </div>
  <!-- Btn Ver Detalle -->
  <div class="w-10 w-px-lg--26 d-flex">
    <div *ngIf="mpKeys?.MP_VER_ASEGURADOS" class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2">
      <mf-link-green [text]="lang.ViewInsureds" [routerLink]="routerLink"></mf-link-green>
    </div>
    <!-- Btn Descargar -->
    <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 g-c--green1 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2">
      <div class="g-mr--5 g-c--pointer" (click)="downloadRecord()">
        <span [spinnerPdf]="showSpinner" class="g-font--25 g-font-md--21"></span>
      </div>
      <div class="g-text-uppercase g-font--medium g-c--pointer" (click)="downloadRecord()">
        {{ generalLang.Buttons.Download }}
      </div>
    </div>
  </div>
</div>
