{{#tooltip}}
  <div class="g-tooltip g-tooltip-info {{alignTooltip}}">
    <span class="g-tooltip--icon {{iconFile}}"></span>
    <div class="g-tooltip--message">
      <div class="g-tooltip-content">
      {{{message}}}
      </div>
    </div>
  </div>
{{/tooltip}}