<div class="g-radio-items {{classRadio}}">
  <label>

    {{#label}}
      <div class="{{labelClass}}">
        {{{label}}}
      </div>
    {{/label}}

    {{#radio}}
      {{>atoms-mf-radiobutton}}
    {{/radio}}

  </label>
</div>