<div class="map-acordion">
  <div class="map-acordion">
    <div class="d-flex flex-column g-bg-c--white1 g-mb--15 g-b--1 g-bc--gray11 g-b-radius--5">
      <!-- Header -->
      <div class="d-flex justify-content-between flex-lg-nowrap g-bg-c--white align-items-center">
        <div class="d-flex w-100 flex-wrap flex-lg-nowrap g-ie-flex--0-1-auto">
          <div class="w-100 g-font--medium g-pl--15 g-font--13">
            {{ bannerAccordion.title }}
          </div>
        </div>
        <div class="w-px--3 w-px-lg--5 d-flex justify-content-lg-center g-c--green1 g-py--10">
          <span (click)="toogle()"
            class="g-c--pointer"
            [ngClass]="{ 'icon-mapfre_101_ico-dow': collapse, 'icon-mapfre_102_ico-up': !collapse }">
          </span>
        </div>
      </div>
      <!-- Body -->
      <div [collapse]="collapse">
        <ul class="g-list g-list-icon g-pl--15 g-pr--15 g-pb--10 g-font--13">
          {{ bannerAccordion.body }}
          <span *ngIf="bannerAccordion.endLink" (click)="onClick()" class="g-c--pointer g-c--green1">{{ bannerAccordion.endLink.text }}</span>
        </ul>
      </div>
    </div>
  </div>
</div>