<mf-modal [title]="getModalTitle()"
          [titleMobile]="detailRoute?.title"
          [secondTitleMobile]="getModalTitle()"
          [confirm]="true"
          [showLoading]="showLoading"
          [cancelButtonText]="getCancelButtonTitle()"
          [confirmButtonText]="getConfirmButtonTitle()"
          [disableButton]="buttonState"
          (confirmResponse)="savePolicyTransfer($event)">

  <ng-container *ngIf="loaded">
    <div class="pb-5 px-lg-5">

      <div class="row" [formGroup]="formPolicyTransfer">

        <div class="col-12 col-md-6">

          <mf-select [label]="documentTypeLabel" (change)="eventChangedDocument($event)"
                      [formControl]="documentType" [options]="arrTypesDocuments"
                      [error]="showErrors(documentType)"></mf-select>
          <mf-show-errors [control]="documentType"></mf-show-errors>
        </div>

        <div class="col-12 col-md-6">
          <ng-container *ngIf="documentTypeChanged">
          <mf-input [label]="documentNumberLabel" [formControl]="documentNumber"
                    [maxlength]="maxLengthNumberDoc" [minlength]="minLengthNumberDoc"
                    (paste)="$event.preventDefault()"
                    [error]="showErrors(documentNumber)"></mf-input>
          <mf-show-errors [control]="documentNumber"></mf-show-errors>
          </ng-container>
        </div>

        <div class="col-12 col-md-6">
          <mf-input [label]="firstNameLabel" [formControl]="firstName" maxlength="30"
                    [error]="showErrors(firstName)"></mf-input>
          <mf-show-errors [control]="firstName"></mf-show-errors>
        </div>

        <div class="col-12 col-md-6">
          <mf-input [label]="lastNameLabel" [formControl]="lastName" maxlength="30"
                    [error]="showErrors(lastName)"></mf-input>
          <mf-show-errors [control]="lastName"></mf-show-errors>
        </div>

        <div class="col-12 col-md-6">
          <mf-input [label]="namesLabel" [formControl]="names" maxlength="80"
                    [error]="showErrors(names)"></mf-input>
          <mf-show-errors [control]="names"></mf-show-errors>
        </div>

        <div class="col-12 col-md-6">
          <mf-input [Number]="true" [label]="phoneLabel" [formControl]="phone" type="tel"
                    [minlength]="generalMinLength.cellPhone" [maxlength]="generalMaxLength.cellPhone"
                    [error]="showErrors(phone)"></mf-input>
          <mf-show-errors [control]="phone"></mf-show-errors>
        </div>

        <div class="col-12 col-md-6">
          <mf-input [label]="emailLabel" [formControl]="email" type="email"
                    [maxlength]="generalMaxLength.email"
                    [error]="showErrors(email)"></mf-input>
          <mf-show-errors [control]="email"></mf-show-errors>
        </div>

      </div>

    </div>
  </ng-container>

</mf-modal>

<mf-modal-message
  *ngIf="showModalMessage"
  [success]="successPolicyTransfer"
  [messageDone]="messageDone"
  [messageSuccessUpdate]="messageSuccessUpdate"></mf-modal-message>
