.g-box,
.g-box--ms,
.g-box--sm,
.g-box--md,
.g-box--lg {
  border: 1px solid map-get($colors, white1);
  border-radius: 10px;

  &.no-btl-radius {
    border-top-left-radius: 0;
  }

  &.no-btr-radius {
    border-top-right-radius: 0;
  }

  &.no-bbl-radius {
    border-bottom-left-radius: 0;
  }

  &.no-bbr-radius {
    border-bottom-right-radius: 0;
  }
}

.g-box-nav {
  left: -100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  top: 50px;
  transition: 0.5s;
  width: 100%;
  z-index: 98;

  &--active {
    left: 0;
  }

  .height-100 {
    overflow: auto;
  }

  .sect-nav {
    position: absolute;
    width: 100%;
  }

  @media (min-width: $break-large) {
    left: -240px;
    max-width: 240px;
    min-width: 240px;
    overflow: hidden;
    overflow-y: hidden;
    padding: 0;
    top: 50px;

    &--active {
      left: 0;
    }
  }

  @media (min-width: $break-xlarge) {
    left: 0 !important; // sass-lint:disable-line no-important
    max-width: 240px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;

    .height-100 {
      overflow: hidden;
    }

    .sect-nav {
      bottom: 0;
      height: 100%;
      min-height: 100vh;
      position: fixed;
      width: 240px;
    }
  }
}

.g-box-nav--close {
  display: none;
  transition: 0.5s;

  @media (min-width: $break-large) {
    background: $c-shadow1;
    height: calc(100% - 56px);
    left: 0;
    position: absolute;
    right: 0;
    top: 50px;
    transition: 0.5s;
    width: calc(100%);
    z-index: 1;
  }

  @media (min-width: $break-xlarge) {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.g-box-container {
  background-color: map-get($colors, gray11);
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  transition: 0.5s;
  width: 100%;

  @media (min-width: $break-xlarge) {
    width: calc(100% - 240px);
  }
}

@media (min-width: $break-xsmall) and (max-width: ($break-small - 1px)) {
  .g-box--ms {
    border-radius: 10px;
  }

  .g-title-center--ms {
    text-align: center;
  }

  .g-btn--alert {
    max-width: 130px;
    text-align: center;
    width: 100%;
  }

  .g-mw--xs {
    margin-top: 0 !important; // sass-lint:disable-line no-important
    width: auto;
  }

  .g-hr-title {
    &::after {
      max-width: 40px !important; // sass-lint:disable-line no-important
    }

    &::before {
      max-width: 40px !important; // sass-lint:disable-line no-important
    }
  }

  .g-flex-start--xs {
    align-self: flex-end;
  }
}

@media (min-width: $break-small) {
  .g-box--sm {
    border-radius: 10px;
  }

  .g-btn--alert {
    max-width: 170px;
    text-align: center;
    width: 100%;
  }

  .g-mw--xs {
    margin-top: 0 !important; // sass-lint:disable-line no-important
    width: auto;
  }

  .g-hr-title {
    &::after {
      max-width: 82px !important; // sass-lint:disable-line no-important
    }

    &::before {
      max-width: 82px !important; // sass-lint:disable-line no-important
    }
  }
}

@media (min-width: $break-medium) {
  .g-box--md {
    border-radius: 10px;
  }

  .g-max-width--85 {
    max-width: 85%;
  }

  .g-boder-left--1 {
    border-left: 1px solid map-get($colors, gray2);
  }

  .g-boder-top--1 {
    border-top: 1px solid map-get($colors, gray2) !important; // sass-lint:disable-line no-important
  }

  .g-border-left--orange {
    border-left: 1px solid map-get($colors, orange1);
  }

  .g-btn--alert {
    max-width: 170px;
    text-align: center;
    width: 100%;
  }

  .g-hr-title {
    &::after {
      max-width: 82px !important; // sass-lint:disable-line no-important
    }

    &::before {
      max-width: 82px !important; // sass-lint:disable-line no-important
    }
  }

  .collapse {
    &:not(.show) {
      display: block;
    }
  }
}

@media (min-width: $break-large) {
  .g-box--lg {
    border-radius: 10px;
  }

  .g-d-block {
    display: inline-block !important; // sass-lint:disable-line no-important
  }

  .g-border-right {
    position: relative;

    &::before {
      background: map-get($colors, gray2);
      content: '';
      height: 20px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
    }
  }

  .g-btn-alert {
    max-width: 170px;
    text-align: center;
    width: 100%;
  }

  .g-price-simbol {
    &::after {
      left: 20% !important; // sass-lint:disable-line no-important
    }
  }
}

.title--box {
  border-left: 3px solid map-get($colors, green1);
  margin-left: -10px;
  padding-left: 10px;

  .title--icon {
    .g-icon--circle {
      height: 35px;
      width: 35px;
    }
  }

  .title--text {
    font-size: $fz30;
    font-weight: $bold;
  }
}

.header--box {
  &--page {
    .header--box--icon {
      color: map-get($colors, white1);
      position: absolute;
      right: 20px;
      top: 10px;
    }

    .header--step--height {
      height: 53px;
    }

    .header--box--active {
      margin: 0;
      top: 53px;
      width: 100%;
    }
  }

  &--phone {
    display: none;
    padding-left: 10px;
    position: relative;

    @media (min-width: $break-medium) {
      display: block;
    }
  }

  &--icon {
    cursor: pointer;

    @media (min-width: $break-medium) {
      cursor: default;
    }
  }

  &--active {
    background: map-get($colors, white1);
    box-shadow: 0 6px 14px $c-shadow1;
    color: map-get($colors, black1);
    font-weight: bold;
    left: 0;
    line-height: 1.5;
    margin: 0 -15px;
    padding: 15px;
    position: absolute;
    top: 100%;
    width: calc(100% + 30px);
    z-index: 99;

    &::before {
      border-color: transparent transparent map-get($colors, white1);
      border-style: solid;
      border-width: 8px 10px;
      content: '';
      position: absolute;
      right: 23px;
      top: -16px;
    }
  }
}

.heading--box {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .heading--title {
    align-items: center;
    display: flex;
  }
}

.card--box--item {
  align-items: center;
  background: map-get($colors, white1);
  border-radius: 15px;
  box-shadow: 0 2px 6px $c-shadow1;
  padding: 30px 20px;
  text-align: center;

  .card--box--image {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 140px;

    @media (min-width: $break-small) {
      margin-bottom: 0;
      width: auto;
    }
  }

  @media (min-width: $break-small) {
    border-bottom-left-radius: 105px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 105px;
    border-top-right-radius: 15px;
    display: flex;
    text-align: left;
  }

  @media (min-width: $break-small) {
    padding: 10px;
  }

  img {
    min-width: 120px;

    @media (min-width: $break-large) {
      max-width: inherit;
      width: inherit;
    }
  }

  .card--box--title {
    @media (max-width: $break-small) {
      font-size: 16px;
    }
  }

  .card--box--subtitl {
    @media (max-width: $break-small) {
      font-size: 11px;
    }
  }

  .card--box--description {
    .g-list--text {
      font-size: $fz11;
      padding-left: 0;

      @media (min-width: $break-small) {
        font-size: $fz14;
        padding-left: 10px;
      }
    }
  }
}

.card-box-simple {
  padding: 15px 18px;
}

.head-card {
  border-bottom: 1px solid map-get($colors, gray11);

  span {
    position: relative;
    top: 0;
  }

  .gh4 {
    margin-bottom: 0;
    margin-top: 4px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.phone--box {
  border-bottom: 1px solid map-get($colors, gray12);
  border-top: 1px solid map-get($colors, gray12);
}

.table--box {
  &.table--box-25 {
    table {
      // sass-lint:disable-all
      th,
      td {
        align-items: inherit;

        &::before {
          width: 25%;
        }
      }
      // sass-lint:enable-all
    }
  }

  table {
    width: 100%;

    thead {
      display: none;

      @media (min-width: $break-medium) {
        display: table-header-group;
      }
    }

    tr {
      display: block;
      padding: 10px 0;

      @media (min-width: $break-medium) {
        display: table-row;
        padding: 0;
      }

      // sass-lint:disable-all
      &.table--box--active {
        background: map-get($colors, blue4);
        border-left: 5px solid map-get($colors, blue1);

        td {
          background: map-get($colors, blue4);
          font-weight: 600;
        }
      }
      // sass-lint:enable-all
    }

    th,
    td {
      align-items: center;
      display: flex;

      @media (min-width: $break-medium) {
        display: table-cell;
        padding: 0.75rem;
        vertical-align: top;
      }

      &::before {
        content: attr(data-table);
        font-weight: $medium;
        min-width: 120px;
        padding: 5px 0 5px 15px;
        width: 30%;

        @media (min-width: $break-medium) {
          display: none;
        }
      }

      span {
        padding: 5px 10px;
      }
    }

    tbody {
      tr {
        &:nth-of-type(even) {
          background-color: map-get($colors, gray5);
        }
      }
    }

    &.none {
      tbody {
        // sass-lint:disable-all
        tr {
          &:nth-of-type(even) {
            background-color: transparent;
          }
        }
        // sass-lint:enable-all
      }
    }

    &.table--padding {
      td {
        &::before {
          min-width: 130px;
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }
  }
}

.g-box-icons {
  &--active {
    flex-wrap: wrap;

    @media (min-width: $break-large) {
      flex-wrap: inherit;
    }

    .g-box-icons--box {
      min-height: 60px;
    }

    .g-box-icons--list {
      display: block !important; // sass-lint:disable-line no-important
    }
  }

  &--header {
    .g-box-icons--list {
      background: none;
      box-shadow: none;
      left: auto;
      padding: 0 15px;
      position: relative;
      right: auto;
      top: auto;

      // sass-lint:disable-all
      &::before {
        display: none;
      }
      // sass-lint:enable-all
    }

    .g-box-icons--icon {
      display: none !important; // sass-lint:disable-line no-important
    }
  }

  &--list {
    background: map-get($colors, white1);
    border-radius: 5px;
    box-shadow: 0 0 5px map-get($colors, gray7);
    left: 0;
    padding: 10px 15px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 90;

    &::before {
      background: map-get($colors, white1);
      box-shadow: -3px -3px 4px map-get($colors, gray7);
      content: '';
      height: 10px;
      position: absolute;
      right: 20px;
      top: -5px;
      transform: rotate(45deg);
      width: 10px;
    }

    > div {
      margin-bottom: 5px;
      margin-top: 5px;

      @media (min-width: $break-large) {
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    @media (min-width: $break-large) {
      background: none;
      border-radius: 0;
      box-shadow: none;
      left: auto;
      padding: 0;
      position: relative;
      top: auto;
      width: auto;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}
