.cards {
  width: 100%;

  &--width {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    @media (min-width: $break-large) {
      width: 50%;
    }

    @media (min-width: $break-xlarge) {
      width: 33.3333%;
    }
  }

  &--box {
    @media (min-width: $break-xlarge) {
      &:first-child {
        &::before {
          border-top: 3px solid map-get($colors, green1);
          bottom: 0;
          content: '';
          height: 50%;
          position: absolute;
          right: 0;
          width: 50%;
          z-index: 1;
        }
      }

      // sass-lint:disable-all
      &:last-child {
        &::before {
          border-bottom: none !important;
          border-right: none !important;
          border-top: 1px solid map-get($colors, green1);
          bottom: 0;
          content: '';
          height: 50%;
          left: 0;
          position: absolute;
          width: 50% !important;
          z-index: 1;
        }
      }
      // sass-lint:enable-all

      &:nth-child(n + 2) {
        &::before {
          border-bottom: 3px solid map-get($colors, green1);
          border-top: 3px solid map-get($colors, green1);
          bottom: 0;
          content: '';
          height: 50%;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: 1;
        }
      }

      &:nth-child(3n) {
        &::before {
          border-bottom: 3px solid map-get($colors, green1);
          border-right: 3px solid map-get($colors, green1);
          border-top: 3px solid map-get($colors, green1);
          bottom: 0;
          content: '';
          height: 50%;
          left: 0;
          position: absolute;
          width: 50% !important; // sass-lint:disable-line no-important
          z-index: 1;
        }
      }

      &:nth-child(3n + 4) {
        &::before {
          border-bottom: 3px solid map-get($colors, green1);
          border-left: 3px solid map-get($colors, green1);
          border-top: 3px solid map-get($colors, green1);
          content: '';
          height: calc(50% + 6px);
          left: auto;
          position: absolute;
          right: 0;
          top: -3px;
          width: 50% !important; // sass-lint:disable-line no-important
          z-index: 1;
        }
      }

      // sass-lint:disable-all
      &:nth-child(3n + 2):nth-last-child(2) {
        &::before {
          border-bottom: 0 solid map-get($colors, white1) !important; // sass-lint:disable-line no-important
        }
      }

      // sass-lint:enable-all
    }
  }

  &--item {
    background: map-get($colors, white1);
    z-index: 10;
  }
}
