.carousel-indicators {
  & li {
    background-color: transparent;
    border: 1px solid map-get($colors, gray3);
    border-radius: 100%;
    cursor: pointer;
    flex: 0 1 auto;
    height: 16px !important; // sass-lint:disable-line no-important
    margin-left: 3px;
    margin-right: 3px;
    position: relative;
    text-indent: -999px;
    width: 16px !important; // sass-lint:disable-line no-important

    &.active {
      background-color: map-get($colors, gray3) !important; // sass-lint:disable-line no-important
    }
  }
}

.carousel-control-prev {
  left: 10px !important; // sass-lint:disable-line no-important
}

.carousel-control-next {
  right: 10px !important; // sass-lint:disable-line no-important
}

.g-slider {
  justify-content: center;

  .g-slider--item {
    width: auto !important; // sass-lint:disable-line no-important
  }
}

.c-slider {
  border-radius: 5px;
  box-shadow: 0 1px 6px map-get($colors, gray7);
  position: relative;

  .item {
    overflow: hidden;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      height: auto;
      opacity: 1;
      overflow: visible;
      transition: opacity 0.5s ease-in-out;
      visibility: visible;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  .arrow {
    &--left {
      cursor: pointer;
      font-size: 14px;
      left: 8px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: $break-large) {
        font-size: 26px;
        left: 16px;
      }
    }

    &--right {
      cursor: pointer;
      font-size: 14px;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: $break-large) {
        font-size: 26px;
        right: 16px;
      }
    }
  }
}
