.header--step {
  position: relative;

  @media (min-width: $break-medium) {
    &::before {
      background: map-get($colors, red1);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
    }
  }

  &--height {
    @media (min-width: $break-medium) {
      min-height: 60px;
    }
  }

  .container {
    padding: 0;
    position: relative;

    @media (max-width: $break-large) {
      max-width: inherit;

      > div {
        background: map-get($colors, white1);
      }
    }
  }

  &--logo {
    .header--logo {
      background-color: map-get($colors, red1);
    }

    > div {
      width: 100%;

      @media (min-width: $break-medium) {
        width: auto;
      }
    }

    @media (min-width: $break-medium) {
      background-color: transparent;
    }
  }
}

.tag--icon {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  box-shadow: 0 1px 6px $c-shadow1;
  height: 90px;
  width: 90px;
}

.number--box {
  text-align: center;

  &--item {
    padding-bottom: 10px;

    // sass-lint:disable-all
    &:first-child {
      .number--box--wrapper {
        &::before {
          display: none;
        }
      }

      .number--box--title {
        left: auto;
        transform: none;
      }
    }

    &:last-child {
      .number--box--wrapper {
        &::after {
          display: none;
        }
      }

      .number--box--title {
        left: auto;
        right: 25px;
        transform: none;

        @media (min-width: $break-medium) {
          right: auto;
        }
      }
    }
    // sass-lint:enable-all

    .number--box--title {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);

      @media (min-width: $break-medium) {
        display: block;
        left: auto;
        position: relative;
        transform: none;
      }
    }
  }

  &--wrapper {
    &::after,
    &::before {
      background: map-get($colors, gray4);
      content: '';
      height: 2px;
      left: 0;
      position: absolute;
      top: 11px;
      width: calc(50% - 20px);

      @media (min-width: $break-medium) {
        top: 25px;
        width: calc(50% - 30px);
      }
    }

    &::after {
      left: auto;
      right: 0;
    }
  }

  .g-icon--circle {
    background: map-get($colors, gray1);
    color: map-get($colors, white1);
  }

  &--md {
    height: 25px;
    width: 25px;
    @media (min-width: $break-medium) {
      height: 35px;
      width: 35px;
    }
  }

  &--option {
    position: relative;
    z-index: 1;

    .g-icon--circle {
      font-size: 12px;
      height: 24px;
      width: 24px;

      @media (min-width: $break-medium) {
        font-size: 14px;
        height: 48px;
        width: 48px;
      }
    }
  }

  &--active {
    .g-icon--circle {
      background: map-get($colors, red1);
      height: 48px;
      margin-top: -13px;
      width: 48px;

      @media (min-width: $break-medium) {
        height: 48px;
        margin-top: 0;
        width: 48px;
      }
    }

    .number--box--title {
      display: block;
      font-size: 13px;
    }
  }

  &--title {
    display: none;

    @media (min-width: $break-medium) {
      display: block;
    }
  }

  &--color {
    .g-icon--circle {
      background: map-get($colors, red1);
      font-weight: bold;
    }

    .number--box--title {
      color: map-get($colors, red1);
    }
  }
}

.currency-xs {
  padding-left: 33px;
  position: relative;
}

.text-bottom {
  vertical-align: text-bottom;
}

.add-insured-box {
  border-bottom: 1px solid map-get($colors, gray7);
  border-top: 1px solid map-get($colors, gray7);
  display: flex !important; // sass-lint:disable-line no-important
  margin-top: -1px;

  &--content {
    border-right: 1px solid map-get($colors, gray12);
    width: calc(100% - 60px);
  }

  &--sidebar {
    text-align: center;
    width: 60px;
  }
}

.compare-plan {
  border: 1px solid transparent;
  height: 100%;

  &.sctr-selected {
    border: 1px solid map-get($colors, green1);

    .icon-selected {
      background: map-get($colors, white1);
      border: 3px solid map-get($colors, green1);
      color: map-get($colors, green1);
    }

    .icon-selected-xs {
      color: map-get($colors, green1);
    }

    .text-mont {
      color: map-get($colors, green1);
    }

    .g-hr-title {
      &::before,
      &::after {
        background-color: map-get($colors, green1);
      }
    }

    // responsive
    .currency-xs {
      &::before {
        color: map-get($colors, green1);
        content: '\e903';
        font-family: 'MFAutoservicio' !important; // sass-lint:disable-line no-important
        height: 25px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 19px;
      }
    }
  }
}

.btn-fixed--bottom {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

// circle steps
.g-circle-steps {
  max-width: 110px;
  position: relative;
  width: 100%;

  @media (min-width: $break-medium) {
    max-width: 160px;
  }

  &:first-child {
    &::after {
      left: auto !important; // sass-lint:disable-line no-important
      right: 0;
      width: calc(50% - 22px) !important; // sass-lint:disable-line no-important

      @media (min-width: $break-medium) {
        width: calc(50% - 28px) !important; // sass-lint:disable-line no-important
      }
    }

    &::before {
      content: none !important; // sass-lint:disable-line no-important
    }
  }

  &:nth-child(n) {
    &::after {
      background: map-get($colors, gray9);
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      top: 12px;
      width: calc(50% - 22px);

      @media (min-width: $break-medium) {
        top: 23px;
        width: calc(50% - 28px);
      }
    }

    &::before {
      background: map-get($colors, gray9);
      content: '';
      height: 1px;
      position: absolute;
      right: 0;
      top: 12px;
      width: calc(50% - 22px);

      @media (min-width: $break-medium) {
        top: 23px;
        width: calc(50% - 28px);
      }
    }

    .g-circle-steps--text {
      display: none;

      @media (min-width: $break-medium) {
        display: block;
      }
    }
  }

  &:last-child {
    &::after {
      left: 0;
      right: auto;
      width: calc(50% - 22px) !important; // sass-lint:disable-line no-important

      @media (min-width: $break-medium) {
        width: calc(50% - 28px) !important; // sass-lint:disable-line no-important
      }
    }

    &::before {
      content: none !important; // sass-lint:disable-line no-important
    }
  }

  &--items {
    background-color: map-get($colors, gray1);
    border: solid 2px  map-get($colors, white1);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 $c-shadow4;
    height: 24px;
    position: relative;
    width: 24px;
    z-index: 15;

    @media (min-width: $break-medium) {
      height: 47px;
      width: 47px;
    }
  }

  &.active {
    .g-circle-steps--items {
      background-color: map-get($colors, red1);
    }

    .g-circle-steps--text {
      color: map-get($colors, red1);
    }

    &--last {

      .g-circle-steps--items {
        height: 35px;
        margin-top: -5px;
        width: 35px;

        @media (min-width: $break-medium) {
          height: 47px;
          margin-top: auto;
          width: 47px;
        }
      }

      .g-circle-steps--text {
        display: block;
      }
    }
  }
}
