<form [formGroup]="formCreate" (ngSubmit)="onSubmit()">
  <div class="g-px--30 g-pb--20 g-p-md--40">
    <div class="d-flex justify-content-between ">
      <div class="">
        <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0">
          {{ titleLang }}
        </div>
      </div>
    </div>

    <!-- Iteración de direcciones -->
    <div
      class="g-box--shadow1 g-ie-flex--0-1-auto g-bt--1 g-bt-lg--0 g-mb--10"
      *ngFor="let item of listAddress; let i = index; let first = first; let last = last; trackBy: trackByFn"
      [ngClass]="{ 'g-mt--20': first, 'g-mb--20 g-mb-lg--30 g-mt--0': last }"
    >
      <div
        class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-c--pointer"
        (click)="onSelectAddress(item.id)"
      >
        <div
          class="d-flex justify-content-center align-items-lg-center g-pl--15 g-pl-lg--30 g-py--20 align-items-start align-items-lg-center"
        >
          <label class="g-radio d-flex align-items-center m-0">
            <input type="radio" [formControl]="address" [value]="item.id" />
            <span class="radio"></span>
          </label>
        </div>
        <div
          class="w-7 w-lg-10 pl-0 pr-3 g-py--20 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden"
        >
          <div class="w-100 g-mb--10 mb-lg-0 g-o--hidden">
            <div class="g-pr--5 g-pr-lg--15 g-pt-lg-5 float-left g-ie-flex--0-1-auto">
              <span class="g-items-icon g-font--16 g-font-lg--40 g-c--gray9 icon-mapfre_017_house"></span>
            </div>
            <div class="g-font--medium g-pt-lg--5">
              {{ item.descripcionProducto }}
            </div>
            <div class="mb-0 text-lg-truncate g-font--light g-font--13">
              {{ item.direccion }}, {{ item.distrito }}, {{ item.provincia }}, {{ item.departamento }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="g-font-md--20 g-font--13 g-font--medium g-px--10 g-px-lg--0">
      {{ dateAndTimeOfTheIncidentLang }}
    </div>
    <div class="d-flex w-100 flex-column flex-lg-row g-mb--20 g-px--10 g-px-lg--0">
      <div class="w-100">
        <mf-input-datepicker
          [label]="labelDateLang"
          [maxD]="limitDateMax"
          [minD]="limitDateMin"
          [error]="showErrors(dateIncident)"
          [formControl]="dateIncident"
        >
        </mf-input-datepicker>
        <mf-show-errors [control]="dateIncident"></mf-show-errors>
      </div>
      <div class="w-100 g-pl--0 g-pl-lg--30">
        <mf-select
          [label]="labelHourLang"
          [formControl]="hourIncident"
          [options]="arrHours"
          [error]="showErrors(hourIncident)"
        ></mf-select>
        <mf-show-errors [control]="hourIncident"></mf-show-errors>
      </div>
    </div>
  </div>

  <div class="d-flex g-py--15 g-px--25 g-px-lg--10 g-bt--1 g-bc--gray11">
    <div class="w-50 text-center g-pr--10">
      <button
        type="button"
        (click)="goToHome()"
        class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21 g-btn-outline"
        gaClick
        [gaCategory]="gaCancel.category"
        [gaAction]="gaCancel.action"
        [gaLabel]="gaCancel.label"
      >
        {{ btnCancelLang }}
      </button>
    </div>
    <div class="w-50 text-center g-pl--10">
      <button
        type="submit"
        [disabled]="!formCreate.valid"
        class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21"
        gaClick
        [gaCategory]="gaNext.category"
        [gaAction]="gaNext.action"
        [gaLabel]="gaNext.label"
      >
        {{ btnSuccessLang }}
      </button>
    </div>
  </div>
</form>
