<div
  [ngClass]="{'is-editing': !canEdit, 'g-bg-c--gray5': item?.isVisibleDependent }"
  class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 mb-0 mb-lg-3 g-font--light w-100 g-ie-flex-column c-affiliate-item"
>
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
    <!-- Date -->
    <div
      [ngClass]="{'c-frm--disabled': loading}"
      class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 d-flex align-items-lg-center flex-fill g-o-lg--hidden mt-3 mb-3 flex-column"
    >
      <!-- add class h-bkg--green6 -->
      <div
        [ngClass]="{'h-bkg--green6': item?.colorearFila}"
        class="w-100 d-flex flex-column flex-lg-row align-items-lg-center my-1 py-lg-1 p-3"
      >
        <div class="w-100 g-mw-px-lg--31 mb-2 mb-lg-0 g-o-lg--hidden px-lg-3 align-self-start">
          <div class="text-lg-truncate g-font--16 g-font--medium">{{ item?.nombreCompleto }}</div>
          <div
            (click)="toggleDependents()"
            [ngClass]="{'g-c--green1': canEdit}"
            *ngIf="item?.dependientes?.length"
            class="d-none d-lg-flex g-text--lowercase g-font--medium g-c--pointer align-items-center g-mb--10 g-mb-lg--0"
          >
            <span>{{ item?.dependientes?.length }} {{ lblPluralized }}</span>
            <span
              [dropdown-icon]="!item.isVisibleDependent"
              *ngIf="canEdit"
              class="g-pl--5"
            >
            </span>
          </div>
        </div>
        <div class="w-100">
          <div
            *ngIf="canEdit"
            class="d-flex align-items-center flex-column flex-lg-row"
          >
            <div class="px-lg-3 col-md-3 h-max-w--100">
              <span class="d-flex g-font--light g-font--13">{{ item?.descPlan }}</span>
              <span class="d-flex g-font--light g-font--13">Fecha de afiliación: {{ item?.fecAfiliacion | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div class="px-lg-2 col-md-3 h-max-w--100">
              <span class="d-flex g-font--light g-font--13">DNI: {{ item?.nroDocumento }}</span>
              <span class="d-flex g-font--light g-font--13">Edad: {{ item?.edad }}</span>
            </div>
            <div class="px-lg-3 col-md-6 h-max-w--100">
              <div class="mb-0 d-flex align-items-center">
                <span class="pr-1 icon-mapfre_038_telephone"></span>
                <span class="g-font--light text-lg-truncate">{{ item?.uiPhone }}</span>
              </div>
              <div class="mb-0 d-flex align-items-center">
                <span class="pr-1 icon-mapfre_060_mail"></span>
                <span class="g-font--light text-lg-truncate">{{ item?.uiEmail }}</span>
              </div>
            </div>
          </div>
          <div
            [formGroup]="frmHolder"
            *ngIf="!canEdit"
            class="d-flex align-items-center flex-column flex-lg-row"
          >
            <div class="w-100 g-mw-px-lg--24 px-lg-3">
              <client-input-with-icon
                [classIcon]="frmHolder?.value[item?.frmNamePhone] ? (closeIcon + ' g-c--gray9'): ''"
                [frm]="frmHolder"
                [name]="item?.frmNamePhone"
                [pointer]="true"
              >
                <mf-input
                  [dontWhiteSpace]="true"
                  [error]="frmHolder?.controls[item?.frmNamePhone].invalid"
                  [label]="'Teléfono de contacto'"
                  [maxlength]="18"
                  [Number]="true"
                  [type]="'tel'"
                  formControlName="{{ item?.frmNamePhone }}"
                >
                </mf-input>
                <mf-show-errors [control]="frmHolder?.controls[item?.frmNamePhone]"></mf-show-errors>
              </client-input-with-icon>
            </div>
            <div class="w-100 g-mw-px-lg--24 px-lg-3">
              <client-input-with-icon
                [classIcon]="frmHolder?.value[item?.frmNameEmail] ? (closeIcon + ' g-c--gray9'): ''"
                [frm]="frmHolder"
                [name]="item?.frmNameEmail"
                [pointer]="true"
              >
                <mf-input
                  [error]="frmHolder?.controls[item?.frmNameEmail].invalid"
                  [label]="'Correo Electrónico'"
                  [maxlength]="50"
                  formControlName="{{ item?.frmNameEmail }}"
                >
                </mf-input>
                <mf-show-errors [control]="frmHolder?.controls[item?.frmNameEmail]"></mf-show-errors>
              </client-input-with-icon>
            </div>
          </div>
          <div
            (click)="toggleDependents()"
            [ngClass]="{'g-c--green1': canEdit}"
            *ngIf="item?.dependientes?.length"
            class="d-flex d-lg-none g-text--lowercase g-font--medium g-c--pointer align-items-center g-mt--10"
          >
            <span>{{ item?.dependientes?.length }} {{ lblPluralized }}</span>
            <span
              [dropdown-icon]="!item.isVisibleDependent"
              *ngIf="canEdit"
              class="g-pl--5"
            >
            </span>
          </div>
        </div>
      </div>
      <!-- content accordion -->
      <div
        [collapse]="!item.isVisibleDependent"
        [formGroup]="frmDependents"
        class="w-100 mt-2 g-bg-c--gray5"
      >
        <div
          [ngClass]="{'h-bkg--green6': dep?.colorearFila}"
          *ngFor="let dep of item?.dependientes"
          class="w-100 d-flex flex-column flex-lg-row align-items-lg-center my-1 py-lg-1 p-3 g-bg-c--gray5"
        >
          <div
            class="d-flex w-100 g-mw-px-lg--31 mb-2 mb-lg-0 g-o-lg--hidden pr-lg-3 pl-lg-4 align-items-center"
          >
            <div class="mr-2">
              <span class="icon-sinister_person g-font--20"></span>
            </div>
            <div class="d-flex flex-column">
              <span class="text-lg-truncate g-font--13 g-font--medium">{{ dep?.nombreCompleto }}</span>
              <span class="g-font--10 g-font--light">{{ dep?.descRelacion }}</span>
            </div>
          </div>
          <div
            class="w-100"
          >
            <div
              *ngIf="canEdit"
              class="d-flex align-items-center flex-column flex-lg-row h-pl--28px pl-lg-0"
            >
              <div class="col-md-3 h-max-w--100 px-lg-3">
                <span class="d-flex g-font--light g-font--13">{{ dep?.descPlan }}</span>
                <span class="d-flex g-font--light g-font--13">Fecha de afiliación: {{ dep?.fecAfiliacion | date: 'dd/MM/yyyy' }}</span>
              </div>
              <div class="col-md-3 h-max-w--100 px-lg-3">
                <span class="d-flex g-font--light g-font--13">DNI: {{ dep?.nroDocumento }}</span>
                <span class="d-flex g-font--light g-font--13">Edad: {{ dep?.edad }}</span>
              </div>
              <div class="col-md-3 h-max-w--100 px-lg-3">
                <div class="mb-0 d-flex align-items-center">
                  <span class="pr-1 icon-mapfre_038_telephone"></span>
                  <span class="g-font--light text-lg-truncate">{{ dep?.uiPhone }}</span>
                </div>
                <div class="mb-0 d-flex align-items-center">
                  <span class="pr-1 icon-mapfre_060_mail"></span>
                  <span class="g-font--light text-lg-truncate">{{ dep?.uiEmail }}</span>
                </div>
              </div>
            </div>
            <div
              *ngIf="!canEdit"
              class="d-flex align-items-center flex-column flex-lg-row h-pl--28px pl-lg-0"
            >
              <div class="w-100 g-mw-px-lg--24 px-lg-3">
                <client-input-with-icon
                  [classIcon]="frmDependents?.value[dep?.frmNamePhone] ? (closeIcon + ' g-c--gray9'): ''"
                  [frm]="frmDependents"
                  [name]="dep?.frmNamePhone"
                  [pointer]="true"
                >
                  <mf-input
                    [dontWhiteSpace]="true"
                    [error]="frmDependents?.controls[dep?.frmNamePhone].invalid"
                    [label]="'Teléfono de contacto'"
                    [maxlength]="18"
                    [Number]="true"
                    [type]="'tel'"
                    formControlName="{{ dep?.frmNamePhone }}"
                  >
                  </mf-input>
                  <mf-show-errors [control]="frmDependents?.controls[dep?.frmNamePhone]"></mf-show-errors>
                </client-input-with-icon>
              </div>
              <div class="w-100 g-mw-px-lg--24 px-lg-3">
                <client-input-with-icon
                  [classIcon]="frmDependents?.value[dep?.frmNameEmail] ? (closeIcon + ' g-c--gray9'): ''"
                  [frm]="frmDependents"
                  [name]="dep?.frmNameEmail"
                  [pointer]="true"
                >
                  <mf-input
                    [error]="frmDependents?.controls[dep?.frmNameEmail].invalid"
                    [label]="'Correo Electrónico'"
                    [maxlength]="50"
                    formControlName="{{ dep?.frmNameEmail }}"
                  >
                  </mf-input>
                  <mf-show-errors [control]="frmDependents?.controls[dep?.frmNameEmail]"></mf-show-errors>
                </client-input-with-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- options -->
    <!-- Edit -->
    <div
      (click)="edit()"
      *ngIf="canEditByBetaProfile && canEdit && !loading"
      class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column"
    >
      <span class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-mapfre_035_edit g-c--green1 p-lg-3 p-1"></span>
    </div>
    <span
      *ngIf="loading"
      class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column"
    >
      <span [spinnerPdf]="true"></span>
    </span>
    <!-- Save cancel -->
    <div
      *ngIf="!canEdit && !loading"
      class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column"
    >
      <span
        (click)="save()"
        [ngClass]="{'c-frm--disabled': frmHolder?.invalid || frmDependents?.invalid}"
        class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 w-100 p-lg-3 p-1 text-center"
      >
        <span
          class="icon-checked g-c--green1"
        >
        </span>
      </span>
      <span
        (click)="reset()"
        class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-comeback g-c--green1 p-1 p-lg-3 w-100 text-center"
      >
      </span>
    </div>
  </div>
</div>
