<div class="g-ui--view view-login g-bg-c--red3">
  <div class="g-fixed">

    <div class="g-ui--sckity d-flex align-items-center">
      <section class="g-view-login text-center">
        <div class="container login-content">
          <div class="row login-content--top text-left">
            <div class="col col-12 col-lg-5 g-c--white1">
              {{>organisms-login-welcome}}
            </div>
            <div class="col col-12 col-lg-6">
              {{>templates-login-messages}}
              <div class="float-icon d-none d-lg-block">
                {{#floatIcon}}
                  {{>atoms-icons}}
                {{/floatIcon}}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    <div class="login-content--bottom">
      <div class="container">
        <div class="col col-12 col-lg-5 g-pt--20 g-pb--20 ">
          {{>organisms-login-footer}}
        </div>
      </div>
    </div>

  </div>
</div>