<div (click)="seeExclusionsPdf()" class="g-c--green1 g-font--14 mt-xs--2 d-flex align-items-center g-font--medium g-link--green1">
  <span [spinnerPdf]="showSpinner"></span>
  <div class="g-font--medium text-nowrap ml-2 g-c--pointer" [ngClass]="{'g-c--gray21': showSpinner}">
    {{ btnDownLoadConditioned }}
  </div>
</div>