<div class="d-flex position-relative justify-content-between align-items-center g-mh-lg--inherit flex-fill"
  [ngClass]="{
    'd-lg-none': hlg,
    'g-box-icons--header': hal,
    'g-box-icons--active': hal && !collapsed && act,
    'flex-column py-3 pt-lg-1 pb-lg-2 g-mh--inherit': wot,
    'g-mh--6': !showIconWeb,
    'g-px--15 g-py--13 g-p-lg--5 g-bt--1': showIconWeb
  }">
  <div class="d-flex g-ie-flex--0-1-auto g-box-icons--box g-o--hidden w-10">

    <div *ngIf="icon" class="justify-content-center d-flex align-items-center"
      [ngClass]="{
        'd-block d-lg-none g-font--30 w-px--6': !showIconWeb,
        'g-font--18 g-font-lg--24 g-pr--10 w-px-lg--6': showIconWeb
      }">
      <span [ngClass]="icon"></span>
    </div>

    <div class="d-flex w-10 flex-column flex-lg-row justify-content-lg-between g-ie-flex--0-1-auto"
      (click)="toggleActive()"
      [ngClass]="{ 'g-o--hidden': !wot, 'g-c--pointer': act }">
      <div class="g-box-icons--title d-flex justify-content-between align-items-center w-10 flex-fill"
        [ngClass]="{ 'text-truncate': !wot, 'g-px-lg--25': !showIconWeb }">
        <div class="d-block d-sm-flex align-items-center align-items-center flex-fill"
          [ngClass]="{
            'text-truncate': !wot,
            'py-lg-2 ': showIconWeb,
            'pt-lg-3 pb-lg-2 ': !showIconWeb
          }">
          <div class="g-items-list d-flex flex-fill" [ngClass]="{ 'pl-3 pl-lg-0': !icon }">
            <div class="g-items-text g-font--medium"
              [ngClass]="{
                'w-100': !subtitle,
                'text-truncate': !wot,
                'g-font--13 g-font-lg--16': showIconWeb,
                'g-font--14 g-font-lg--18': !showIconWeb,
                'g-text--uppercase': uppercaseHeader }">
              {{ header }}
            </div>
            <div class="ml-2"  *ngIf="subtitle"
              [ngClass]="{
                'g-font--13 g-font-lg--16': showIconWeb,
                'g-font--14 g-font-lg--18': !showIconWeb
                 }">
              {{ subtitle }}
            </div>
          </div>
        </div>
      </div>

      <div [ngClass]="{'g-font-lg--18': !showIconWeb, 'g-font-lg--16': showIconWeb}"
        class="d-flex align-items-center pr-lg-3 text-nowrap g-pl--15 p-pl-lg--0" *ngIf="textRigth">
        {{ textRigth }}
      </div>
    </div>

    <div
      *ngIf="!hc && !disableCollapse"
      class="{{ collapseClassColor }} justify-content-center g-c--pointer g-c--gray2 d-flex align-items-center d-block"
      (click)="toggle()"
      [ngClass]="{
        'd-lg-none': !act,
        'w-px--13 g-font--14': collapseText,
        'w-px--5 ': !showIconWeb,
        'w-px-lg--5 ': showIconWeb
      }">
      {{ collapseText || '' }}
      <span
        *ngIf="!swapLoading"
        class="g-font--21 g-c--gray10"
        [ngClass]="{
            'icon-mapfre_102_ico-up': !collapsed,
            'icon-mapfre_101_ico-dow': collapsed,
            'g-px--5  g-font--14': collapseText
          }">
      </span>
      <span *ngIf="swapLoading" class="g-font--21 position-relative spinner g-mx--10"></span>
    </div>
  </div>
  <ng-content></ng-content>
</div>
