<div class="g-count g-font--18 g-font-md--20 text-center  g-mb--20 ">
  <span class="g-count--hours g-font--24 g-font-md--30 g-font--bold g-bb--3 g-bc--black1">
    {{hours}}
  </span> <span class="g-counts-symbol g-font--bold">
    {{space}}
  </span>
  <span class="g-counter-minutes">
    {{minutes}}
  </span>
</div>