<mf-modal
  [confirm]="true"
  [titleMobile]="titleMobile"
  [secondTitleMobile]="subTitleMobile"
  [confirmButtonText]="form.sendButton"
  [showLoading]="showLoading"
  (confirmResponse)="onSend($event)"
  (closeEvent)="closeEvent()"
  [disableButton]="disableButtonSend"
  [editFooter]="editFooter"
  class="sect-container">

    <!-- Message  -->
    <ng-container *ngIf="showMessage && !showLoading">
      <div class="row justify-content-md-center g-mb--5">
        <div class="col col-12 col-lg-10 text-center">
          <div class="g-message--icon icon--error mt-5 g-mb--10"></div>
        </div>
      </div>
      <div class="row justify-content-md-center" [ngClass]="{'mb-5 pb-5': showFail}">
        <div class="col col-12 col-lg-10 text-center">
          <span class="g-message--primary g-font--medium g-mb--10">{{ title }}</span>
          <div class="row justify-content-md-center block">
            <div class="col col-12 col-lg-12">
              <div class="g-box text-center ">
                <div class="g-message--secondary" [innerHTML]="message"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Si tiene agente -->
      <div class="g-my--20 text-center" *ngIf="hasAgent">
        <div class="g-font--light d-inline-block">
          <div class="d-flex align-items-center g-mt--5">
            <span class="g-items-icon g-mr--10 g-c--gray3 g-font--18  icon-mapfre_014_perfil"></span>
            <span class="text-lg-truncate"> {{ labelAgent }}: {{ agent.nombre }} </span>
          </div>
          <div class="d-flex align-items-center g-mt--5">
            <span class="g-items-icon g-mr--10 g-c--gray3 g-font--18  icon-mapfre_060_mail"></span>
            <span class="text-lg-truncate"> {{ agent.correo }} </span>
          </div>
          <div class="d-flex align-items-center g-mt--5">
            <span class="g-items-icon g-mr--10 g-c--gray3 g-font--18  icon-mapfre_128_telephone"></span>
            <span class="text-lg-truncate"> {{ agent.telefono }} </span>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Si no tiene agente -->
    <div class="row justify-content-md-center mb-xs--1" *ngIf="!hasAgent && !showFail && !showLoading">
      <div class="col col-12 col-lg-10">
        <client-form-contacted-by-agent *ngIf="!hasAgent"
          [isModal]="true"
          [classTop]="''"
          [contactData]="contactData"
          [referred]="referred"
          (doSuccess)="doSuccess()"
          (showError)="showError($event)"
          (closeEvent)="closeEvent()"
          (enableButton)="enableButton($event)">
        </client-form-contacted-by-agent>
      </div>
    </div>

    <div class="g-mh--20 row justify-content-md-center mb-xs--1" *ngIf="showLoading"></div>

    <!-- Botón Aceptar, luego de Send -->
    <ng-container footer>
      <div class="d-flex">
        <button mf-button
          [disabled]="disableButtonSend"
          [ngClass]="'size-md g-btn--default'"
          (click)="onConfirm()">
          {{ form.okButton }}
        </button>
      </div>
    </ng-container>

</mf-modal>
