<div class="g-max-w-md--76 mx-auto g-mb-lg--50 {{addClass}}">
  <div class="d-flex">

    <div class="ml-auto d-none d-lg-block">
      <div class="tag--icon justify-content-center align-items-center d-flex g-bg-c--gray2 g-c--white1 g-mt--45 g-pl--15">
        {{#icon}}
          <span class="{{iconFile}} {{iconClass}}"></span>
        {{/icon}}
      </div>
    </div>

    <div class="g-bg-c--white1 g-box-lg--shadow1 g-b-radius-md--5 w-100 g-max-w-lg--69 mr-auto {{contentLeft}}">
      <div class="g-p--20 g-p-md--40">
        <div class="d-flex justify-content-between {{addClassHeader}}">
          <div class="{{contentClass}}">

            {{#title}}
              <div class="g-font-md--20 g-font--medium {{textClass}}">
                {{{text}}}
              </div>
            {{/title}}

            {{#subTitle}}
              <div class="g-font--light {{textClass}}">
                {{text}}
              </div>
            {{/subTitle}}

          </div>
          {{#contentRigth}}
            <div class="{{contentClass2}}">
              <div class="{{textClass2}}"><span class="{{icon2Class}} {{icon2}}"></span> {{{text2}}} </div>
            </div>
          {{/contentRigth}}
        </div>

        {{#alert}}
          {{>atoms-alert}}
        {{/alert}}

        {{#hogarStep1}}
          {{>organisms-report-damage}}
        {{/hogarStep1}}

        {{#hogarStep2}}
          {{>organisms-report-slide}}
        {{/hogarStep2}}

        {{#hogarStep3}}
          {{>organisms-add-img}}
        {{/hogarStep3}}

        {{#hogarFinish}}
          {{>organisms-resumen-assistance}}
        {{/hogarFinish}}

        {{#quotetionStep1}}
          {{>organisms-quotation-step}}
        {{/quotetionStep1}}

        {{#summary}}
          {{>organisms-summary-step}}
        {{/summary}}

        {{#documentation}}
          {{>organisms-upload-file}}
        {{/documentation}}

      </div>

      {{#footer}}
        <div class="d-flex g-py--15 g-px--10 g-bt--1 g-bc--gray11 {{footerClass}}">
          {{#btn}}
            <div class="text-center {{boxClass}}">
              <div class="g-btn g-text--uppercase g-c--pointer d-block d-md-inline-block g-mw-md--21 {{textClass}}">
                {{text}}
              </div>
            </div>
          {{/btn}}
        </div>
      {{/footer}}

    </div>
  </div>
</div>