<div class="d-flex">
  <aside class="g-box-nav">
    <!--Begin: Menu-->
    <div class="g-bg-c--gray8 h-100">
      {{#acordion}}
        {{>organisms-nav}}
      {{/acordion}}
    </div>
    <!--End: Menu-->
  </aside>

  <section class="g-box-container">
    <!--Begin: Header-->
    {{#headerOIM}}
      {{>organisms-header}}
    {{/headerOIM}}
    <!--End: Header-->

    <!--Begin: content-->
    <div class="sect-container">
      {{#tabs}}
        <div class="row">
          {{>molecules-tabs}}
        </div>
      {{/tabs}}

      <div class=" g-mt--20 ">
        {{#BoxCoberturas}}
          {{>organisms-card-box-coberturas}}
        {{/BoxCoberturas}}
      </div>

      <div class="row">
        <div class="col g-mt--15 g-px--0  g-px-lg--15 g-mb--0  g-mb-lg--40 ">
          {{#footerNav}}
            {{>templates-footer-nav}}
          {{/footerNav}}
        </div>
      </div>

    </div>
    <!--End: content-->
  </section>
</div>

<div class="g-box-nav--close g-none" onclick="closeNavBox()"></div>
