<div class="d-flex">
  <aside class="g-box-nav">
    <!--Begin: Menu-->
    <div class="g-bg-c--gray8 h-100">
      {{#acordion}}
        {{>organisms-nav}}
      {{/acordion}}
    </div>
    <!--End: Menu-->
  </aside>

  <section class="g-box-container">
    <!--Begin: Header-->
    {{#headerOIM}}
      {{>organisms-header}}
    {{/headerOIM}}
    <!--End: Header-->

    <!--Begin: content-->
    <div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
      {{#steps}}
        {{>molecules-steps-alternative}}
      {{/steps}}

      {{#runway}}
        {{>templates-runway}}
      {{/runway}}
    </div>
    <!--End: content-->
  </section>
</div>
