<div class="mx-auto" [ngClass]="customClass">

  <div *ngFor="let step of stepList; let i = index"
    class="g-circle-steps"
    [ngClass]="{'active': step.value <= currentStep, 'active--last': step.value === currentStep}"
    (click)="onSelect(step)">
    <div class="g-circle-steps--items d-flex justify-content-center align-items-center mx-auto">
      <div class="g-font--normal g-font-lg--medium g-font--12 g-font-lg--14 g-c--white1">
        {{ i + 1 }}
      </div>
    </div>
    <div class="g-circle-steps--text text-center">
      <div class="g-font--13 g-font-lg--14 g-pt--10 g-font--light g-line--10 g-text--uppercase">
        {{ step.name }}
      </div>
    </div>
  </div>

</div>
