<div class="d-flex">
  <aside class="g-box-nav">
    <!--Begin: Menu-->
    <div class="g-bg-c--gray8 h-100">
      {{#acordion}}
        {{>organisms-nav}}
      {{/acordion}}
    </div>
    <!--End: Menu-->
  </aside>
  <section class="g-box-container">
    <!--Begin: Header-->
    {{#headerOIM}}
      {{>organisms-header}}
    {{/headerOIM}}
    <!--End: Header-->

    <!--Begin: content-->
    <div class="sect-container">

      <div class="g-mt--10 g-mb--5">
        {{#boxcard}}
          {{>templates-box-card}}
        {{/boxcard}}
      </div>

      <div class="row">
        <div class="col g-mt--10 g-px--0 g-px-lg--15 g-mb--0 g-mb-lg--20">
          {{#footerNav}}
            {{>templates-footer-nav}}
          {{/footerNav}}
        </div>
      </div>

    </div>
    <!--End: content-->
  </section>
</div>