<div class="sect-container g-mx-n--15 g-pr-lg--375 g-map--full">
  <client-google-map-filter-view
    (favorite)="favoriteFn($event)"
    (goToAppointment)="goToScheduleAppointment($event)"
    (userPosition)="userPosition($event.latitude, $event.longitude)"
    (viewDetail)="viewDetail($event)"
    [configView]="configView"
    [latitude]="defaultCoords.latitude"
    [longitude]="defaultCoords.longitude"
    [markers]="markers"
    [geolocationButtonClass]="geolocationButtonClass"
    [policy]="currentPolicy"
  >
  </client-google-map-filter-view>

  <client-gm-filter
    (centerButtonClick)="openPolicyModal()"
    (favorite)="favoriteFn($event)"
    (goToAppointment)="goToScheduleAppointment($event)"
    (viewDetail)="viewDetail($event)"
    [centerButton]="centerButtonResponsive"
    [configView]="configView"
    [items]="markers"
    [showLoading]="showLoading"
    [showLoading]="showLoading"
    [title]="title"
    [ga]="ga"
    [policy]="currentPolicy"
  >
  </client-gm-filter>
</div>

<!-- selector de polizas (abre modal) -->
<div
  *ngIf="currentPolicy && hasHealthPolicies && !isProductClinicDigital"
  class="d-none g-map-filter--button d-lg-flex w-auto h-auto text-left g-line--13"
  (click)="openPolicyModal()">
  <div class="g-p--10 g-br--1">
    <div class="g-font--medium g-font--13 text-uppercase">
      {{ currentPolicy.descripcionPoliza }}
    </div>
    <div class="g-font--13">
      {{
        currentPolicy.tipoPoliza === policyTypes.MD_EPS.code
          ? generalLang.Texts.ContractNumber
          : generalLang.Texts.PolicyNumber
      }}: {{ currentPolicy.numeroPoliza }}
    </div>
  </div>
  <div class="g-p--10 g-px--15" *ngIf="policies && policies.length > 1">
    <span class="icon-mapfre_035_edit g-font--20"></span>
  </div>
</div>

<client-modal-select-policy
  (selected)="selectedCurrentPolicy($event)"
  [policyList]="policyListModal"
  [positionSelected]="positionSelected"
  [subTitle]="subTitleModal"
  *ngIf="openModalSelectPolicy"
>
</client-modal-select-policy>
