<form [formGroup]="formLogin" [ngClass]="{ 'g-full-form--load': showLoading }">
  <!-- Password incorrecto -->
  <div class="row justify-content-md-center mb-xs--1" *ngIf="userInvalid">
    <div class="col col-lg-10">
      <mf-custom-alert [status]="status" [text]="messageUserInvalid"></mf-custom-alert>
    </div>
  </div>

  <!-- Password -->
  <div class="row justify-content-md-center mb-xs--2">
    <div class="col col-lg-10">
      <mf-input
        [formControl]="password"
        [label]="labelPassword"
        autocomplete="new-password"
        type="password"
        [error]="
          formLogin.controls['password'].errors &&
          (formLogin.controls['password'].dirty || formLogin.controls['password'].touched)
        "
        [minlength]="passwordMinLength"
        [maxlength]="passwordMaxLength"
      >
      </mf-input>
      <mf-show-errors [control]="formLogin.controls['password']"></mf-show-errors>
    </div>
  </div>

  <!-- Acciones -->
  <div class="row justify-content-md-center mb-xs--2" *ngIf="showForgotPasswordLink">
    <div class="col col-lg-10">
      <span
        (click)="recoverUser()"
        class="g-underline g-c--green1 g-c--pointer g-text--underline g-font--medium"
        ctrl="forgotPasswordLink"
        (domChange)="onDomChange($event, { forgotPasswordLinkText: linkForgotPassword })">
        {{ linkForgotPassword }}
      </span>
    </div>
  </div>
  <div class="row mb-xs--2 mt-xs--3">
    <button mf-button class="g-btn--default" (click)="login()">{{ btnLogin }}</button>
  </div>
  <div class="row mb-xs--1">
    <button
      mf-button
      outline
      class="g-btn--default"
      (click)="anotherProfile()"
      ctrl="secondButton"
      (domChange)="onDomChange($event, { buttonText: btnAnotherProfile })">
      {{ btnAnotherProfile }}
    </button>
  </div>
</form>
