<div class="row  g-mb--10 ">
  <div class="col col-12 col-md-5">
    {{#data1}}
      {{>atoms-mf-select}}
    {{/data1}}
  </div>
  <div class="col col-12 col-md-7">
    {{#data2}}
      {{>atoms-mf-input}}
    {{/data2}}
  </div>
</div>
<div class="row  g-mb--10 ">
  <div class="col col-12 col-md-12">
    {{#data3}}
      {{>atoms-mf-select}}
    {{/data3}}
  </div>
</div>
<div class="row  g-mb--10 ">
  <div class="col col-12 col-md-12">
    {{#data4}}
      {{>atoms-mf-select}}
    {{/data4}}
  </div>
</div>
<div class="row mb-xs-4">
  <div class="col">
    {{#data5}}
      {{>atoms-mf-input}}
    {{/data5}}
  </div>
  <div class="d-inline  g-pr--10   g-pt--30 ">
    {{#data6}}
      {{>atoms-tooltip}}
    {{/data6}}
  </div>
</div>
<div class="row">
  <div class="col col-12 col-md-12 text-center">
    {{#data7}}
      {{>atoms-buttons}}
    {{/data7}}
  </div>
</div>