<div class="row">
    <div class="col col-12 col-md-12">
        {{>molecules-titles2(title: "¡COTIZA TU SCTR EN 1 MINUTO!", description: "Completa los datos para ofrecerte una cotización personalizada") }}
    </div>
</div>