
    <div class="info2--box g-b-radius--30 col col-md-5  g-p--0  {{addClass}}">
        <div class="text-center">
            {{#iconMore}}
                {{>molecules-img-icon}}
            {{/iconMore}}
        </div>

        <div class=" g-pt--0  g-pb--30 g-px--20 text-center">

            <div class="g-font--18 g-font-md--20 g-font--medium">
                {{title}}
            </div>

            {{#textBox}}
              {{>atoms-linebox}}
            {{/textBox}}

            <div class="g-font--14 g-font--bold text-left text-sm-center  g-mb--10 ">
              {{coverage}}
            </div>

            <div class="text-left">
              {{#listItem}}
                {{>atoms-lists}}
              {{/listItem}}
            </div>

            <div class="info2--box--bottom">
              {{#linkButton}}
                {{>atoms-buttons}}
              {{/linkButton}}
            </div>

        </div>
    </div>
