<div class="container-fluid g-ui--view">
  <div class="row">
    <aside class="col g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">
        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}
      </div>
      <!--End: Menu-->
    </aside>
    <section class="col g-box-container">
      <!--Begin: Header-->
      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}
      <!--End: Header-->

      <!--Begin: content-->
      <div class="sect-container">
        {{#tabs}}
          <div class="row">
            {{>molecules-tabs}}
          </div>
        {{/tabs}}

        {{#seguroVehicular}}
          {{>templates-seguro-vehicular}}
        {{/seguroVehicular}}
      </div>
      <!--End: content-->
    </section>
  </div>

  {{#openClick}}
    <div class="open-modal" onclick="fullModal.open('{{click}}')"></div>
  {{/openClick}}

  {{#formModal}}
    {{>templates-fm-modal}}
  {{/formModal}}

</div>

<div class="g-box-nav--close g-none" onclick="closeNavBox()"></div>
