
<div class="d-flex">
  <aside class="g-box-nav">
    <!--Begin: Menu-->
    <div class="g-bg-c--gray8 h-100">
      {{#acordion}}
        {{>organisms-nav}}
      {{/acordion}}
    </div>
    <!--End: Menu-->
  </aside>
  <section class="g-box-container">
    <!--Begin: Header-->
    {{#headerOIM}}
      {{>organisms-header}}
    {{/headerOIM}}
    <!--End: Header-->

    <!--Begin: content-->
    <div class="sect-container">
      <div class="w-lg-9 mx-auto">
        {{#faqs}}
          {{>organisms-faqs}}
        {{/faqs}}
      </div>
    </div>
    <!--End: content-->
  </section>
</div>