<div class="d-flex container-fluid g-ui--view">
  <aside class="g-box-nav">
    <!--Begin: Menu-->
    <div class="g-bg-c--gray8 h-100">
      {{#acordion}}
        {{>organisms-nav}}
      {{/acordion}}
    </div>
    <!--End: Menu-->
  </aside>

  <section class="g-box-container">
    <!--Begin: Header-->
    {{#headerOIM}}
      {{>organisms-header}}
    {{/headerOIM}}
    <!--End: Header-->

    <!--Begin: content-->
    <div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--gray11">
      {{#steps}}
        {{>molecules-steps-alternative}}
      {{/steps}}

      {{#quotation}}
        {{>templates-quotation}}
      {{/quotation}}
    </div>
    <!--End: content-->
  </section>

  {{#openClick}}
    <div class="open-modal g-modal--link" onclick="fullModal.open('{{click}}')"  data-modal="{{openModal}}"></div>
  {{/openClick}}

  {{#alert}}
    {{>templates-modal-alert}}
  {{/alert}}

  {{#formModal}}
    {{>templates-fm-modal}}
  {{/formModal}}
</div>