<ng-container *ngIf="accesories">
  <div class="g-font--20 g-font--medium my-2">
    EXTRAS
  </div>
  <div class="table--box">
    <table class="table--padding none">
      <tbody>
        <tr class="g-bb--1 g-bc--gray5" *ngFor="let accesory of accesories;let i = index;trackBy: trackByFn;">
          <td class="p-0 py-md-3" data-table="Tipo de accesorio">
            <span class="g-font--13 g-font--light g-c--gray9 d-none d-md-block p-0">Tipo de accesorio</span>
            <span class="p-0">{{ accesory.tipoAccesorioDescripcion }}</span>
          </td>
          <td class="p-0 py-md-3 g-max-w-lg--22 g-px-lg--10" data-table="Marca y Modelo">
            <span class="g-font--13 g-font--light g-c--gray9 d-none d-md-block p-0">Marca y Modelo</span>
            <span class="p-0">{{ accesory.modelo }}</span>
          </td>
          <td class="p-0 py-md-3" data-table="Costo">
            <span class="g-font--13 g-font--light g-c--gray9 d-none d-md-block p-0">Costo</span>
            <span class="p-0 text-nowrap">{{ accesory.monto | currency: '$ ' }}</span>
          </td>
          <td class="p-0 py-1 py-md-3 align-middle" data-table="">
            <span class="py-0 pr-0 icon-mapfre_035_edit g-font--18 g-c--green1 g-c--pointer g-pl--15"
                  (click)="editAccesory(accesory, i)"></span>
            <span class="p-0 g-font--18 g-c--pointer ml-8 ml-xs--3"
                  [ngClass]="{'icon-mapfre_053_eliminar': (!showSpinner || accesory.accesorioId !== accesorySelected.accesorioId),
                    'position-relative spinner g-ml--20': (showSpinner && accesory.accesorioId === accesorySelected.accesorioId)}"
                  (click)="deleteAccesoryModal(accesory)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<!-- Añadir accesorios -->
<div *ngIf="accesories && accesories.length < 3" class="g-items mt-4 g-c--green1">
  <mf-link-green (click)="openManageVehicleAccesory()" [icon]="addIcon" [center]="false"
                 [text]="vehiclesLang.Buttons.AddAccesory"></mf-link-green>
</div>
<!-- Añadir/Editar accesorios -->
<client-management-vehicle-accesory
  (update)="updateAccesory($event)"
  (add)="addAccesory($event)"
  [accesories]="accesories"
  [index]="index" >
</client-management-vehicle-accesory>
<!-- Confirmar Eliminar -->
<mf-modal-alert [noMinHeight]="true" [cancelButtonText]="'No'" [confirmButtonText]="'Si'" #deleteModal [confirm]="true" (confirmResponse)="deleteAccesory($event)">
  <div class="m-auto text-center g-py--40 g-px--20">
    <div class="g-font--18 g-font--medium">{{ vehiclesLang.Messages.DeleteAccesory }}</div>
  </div>
</mf-modal-alert>
<!-- Notificacion -->
<mf-modal-message [icon]="icon" [messageDone]="doneMessage" [success]="doneDelete" [messageSuccessUpdate]="messageSuccessOrError"></mf-modal-message>

