
<div *ngIf="showChat" id="chat-button" [className]="hideBox ? 'hide-box box-chat-main' : 'show-box box-chat-main'">
    <img class="box-chat-main__icon-one g-c--pointer pb-1" src="assets/images/chat/icon-menu-24-x-24-qanda.svg" alt="add img">
        <div class="box-chat-main__text g-font--14 g-font-xl--18 mb-xs--0 g-font--light text-truncate">
            <span>¿NECESITAS AYUDA?</span>
        </div>
    <img (click)="callChat()" class="box-chat-main__icon-two g-c--pointer pb-1" src="assets/images/chat/icon-arrow-right-login.svg" alt="add img">
</div>
