.box-chat-main {
  width: 360px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #4a4a4a;
  position: fixed;
  bottom: 0;
  right: 55px;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 23px 15px;
  justify-content: space-between;
  box-shadow: 0 0 21px 2px rgba(0, 0, 0, 0.2);
  &__icon-one {
    margin-top: 8px;
    margin-right: 15.5px;
  }
  &__icon-two {
    margin-top: -3px;
    transform: rotate(180deg);
    width: 19px;
    cursor: pointer;
  }
  &__text {
    margin-left: -143px;
    font-weight: 500;
  }
  span {
    color: white;
    font-size: 14px;
  }
  @media (max-width: 480px) {
    width: 100%;
    right: 0;
  }
}
.hide-box {
  animation: hideBoxChat 0.3s;
  bottom: -55px;
}
.show-box {
  animation: showBoxChat 0.3s;
  bottom: 0px;
}
@keyframes hideBoxChat {
  from {
    bottom: 0px;
  }
  to {
    bottom: -55px;
  }
}

@keyframes showBoxChat {
  from {
    bottom: -55px;
  }
  to {
    bottom: 0px;
  }
}
