<div class="g-ui--view view-login g-bg-c--red3 g-ie-view--login">
  <div class="g-fixed">
    <!-- Card formularios y acciones -->
    <client-app-login-top></client-app-login-top>
    <!-- Seccion: ¿Necesitas ayuda?-->
    <client-app-login-footer></client-app-login-footer>
  </div>
</div>
