<mf-card>

  <!-- Header -->
  <mf-card-header [header]="data.titleMyPolicies" hc>
    <mf-card-actions-link *ngIf="showPaymentSetting">
      <mf-card-action-link>
        <div
          class="d-flex align-items-center g-c--pointer g-c--green1"
          ctrl="linkSetPayments"
          (domChange)="onDomChange($event, { label: linkPaymentsSetting })"
        >
          <span class="icon-mapfre_055_wallet g-font--25 g-font-md--21"></span>
          <div class="text-nowrap ml-2 g-font--medium">
            {{ linkPaymentsSetting }}
          </div>
        </div>
      </mf-card-action-link>
    </mf-card-actions-link>
  </mf-card-header>

  <!-- Contenido -->
  <mf-card-content>

    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

    <!-- Sin polizas -->
    <mf-card-item *ngIf="listPolicies && !(listPolicies.length > 0) && !showLoading">
      <div class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10">
        <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
          <div class="px-2 my-3 my-lg-0">
            <client-icon-policies [policyType]="policyType"></client-icon-policies>
          </div>
          <div class="g-items-text pl-lg-3">
            <div class="g-font--20 mb-0 g-font--medium">{{ messageWithoutPolicies }}</div>
          </div>
        </div>
      </div>
    </mf-card-item>

    <!-- Listado -->
    <ng-container *ngIf="listPolicies" dropdown-close>

      <mf-card-item *ngFor="let item of listPolicies">

        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">

          <!-- Icono-->
          <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <client-icon-policies [policyType]="item.policyType"></client-icon-policies>
          </div>

          <!-- Datos del Pago -->
          <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">

            <div class="w-100 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">
              <div class="g-font--medium text-lg-truncate g-text--uppercase" [title]="item.policy">
                {{ item.policy }}
              </div>
              <!-- beneficiaries -->
              <div *ngIf="item.beneficiaries?.length === 1">
                <div class="mb-0 text-lg-truncate">
                  {{ item.beneficiaries[0].nombreBeneficiario }}
                </div>
              </div>

              <!-- Dropdown -->
              <br class="d-none d-lg-inline-block" *ngIf="item.beneficiaries?.length > 1">
              <client-dropdown-items-policy
                *ngIf="item.beneficiaries?.length > 1"
                [policyNumber]="item.policyNumber"
                [policyType]="item.policyType"
                [items]="item.beneficiaries"
                [descripcionItem]="'nombreBeneficiario'">
              </client-dropdown-items-policy>
            </div>
            <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--20 g-font--13">
              <div class="mb-0 text-nowrap ">
                {{ data.labelNumberPolicy }}: {{ item.policyNumber }}
              </div>

              <div class="mb-0 text-nowrap d-flex align-items-center">
                <span
                  class="icon-mapfre_066_circle g-font--10 pr-1"
                  [ngClass]="item.bulletColor">
                </span>
                <span>
                  {{
                    item.expired ? data.labelExpiredPolicy :
                    item.isNew ? data.labelStartsPolicy : data.labelCurrentPolicy
                  }}
                  {{ item.isNew ? item.startDate : item.endDate }}
                </span>
              </div>
            </div>
            <div class="px-lg-3 w-px-lg--17">
              <div class="mb-0 text-lg-center g-c--green1" *ngIf="item.showIconPdf">
                <span [spinnerPdf]="showSpinnerPolicy && item.policyNumber === policySelected"
                      (click)="seePolicePdf(item.policyNumber)"
                      ctrl="linkDownloadPDF"
                      (domChange)="onDomChange($event, { label: item.policy })"></span>
              </div>
            </div>
          </div>

          <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--20 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 g-px--15 g-px-lg--30">
            <!-- Btn Renovar -->
            <client-payment-button
              routerLink="/vehicles/soat/renew"
              [item]="item"
              [comesSoat]="true"
              [renewDays]="renewDays"
              [ga]="ga">
            </client-payment-button>
          </div>

        </div>

      </mf-card-item>
    </ng-container>

  </mf-card-content>
</mf-card>
