<div class="container">
  <div class="d-flex flex-wrap m-2">
    <div class="g-b--1 g-bc--gray11 d-flex flex-column w-10">
      <div class=" g-p--15 ">
        Ico font: 'MFAutoservicio';
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-between">
    {{#iconsList}}
      <div class="w-10 w-md-5 w-lg-3 w-xl-2  g-p--10 ">
        <div class="g-b--1 g-bc--gray11 d-flex flex-column text-center">
         <div class="g-font--icon  g-p--15 ">
            <span class="{{icoClass}} g-font--45"></span>
          </div>
          <div class="g-bt--1  g-p--15  g-bc--gray11">{{icoClass}}</div>
        </div>
      </div>
    {{/iconsList}}
  </div>
</div>
