<mf-modal [editFooter]="true" [isAbove]="true" [hideHeaderMobile]="true" (closeEvent)="recurrentProfile()">
  <div
    class="align-self-center g-mt--90 g-mt-lg--50 g-mb--50 g-px-lg--90"
    [ngClass]="{ 'g-full-form--load': showLoading }"
  >
    <div class="text-center g-ie-flex--0-1-auto g-mh--9">
      <img [src]="icon" alt="" />
    </div>

    <div class="justify-content-md-center g-mb--10 w-10">
      <div class="">
        <div class="g-message--primary text-center g-font--medium g-font--16">
          {{ lang.Texts.ExpiredSession.title }}
        </div>

        <div class="w-10 w-px-xl--46 g-max-w-md--46 mx-auto g-mt--15">
          <div class="text-center g-font--light">{{ lang.Texts.ExpiredSession.description }}</div>
          <div class="text-center g-font--light">{{ lang.Texts.ExpiredSession.description2 }}</div>
        </div>
      </div>
    </div>

    <!-- Password incorrecto -->
    <div class="justify-content-md-center mb-xs--1" *ngIf="userInvalid">
      <mf-custom-alert [status]="status" [text]="messageUserInvalid"></mf-custom-alert>
    </div>

    <div class="w-10" [formGroup]="formLogin">
      <mf-input
        [formControl]="password"
        [label]="labelPassword"
        type="password"
        [error]="password.errors && (password.dirty || password.touched)"
        [minlength]="updatePasswordMinLength"
        [maxlength]="passwordMaxLength"
      >
      </mf-input>
      <mf-show-errors [control]="password"></mf-show-errors>
    </div>
  </div>

  <div footer>
    <div class="d-flex">
      <div class="w-50 g-pr--5 g-pr-md--10">
        <button
          class="g-font--13 g-font-md--14 w-100 g-px--10 g-px-md--20 g-max-w--24"
          mf-button
          outline
          (click)="action(false)"
        >
          {{ lang.Buttons.ChangeAccount }}
        </button>
      </div>
      <div class="w-50 g-pl--5 g-pl-md--10">
        <button
          class="g-font--13 g-font-md--14 w-100 g-px--10 g-px-md--20 g-max-w--24"
          mf-button
          [disabled]="formLogin.invalid || showLoading"
          (click)="action(true)"
        >
          {{ lang.Buttons.Login }}
        </button>
      </div>
    </div>
  </div>
</mf-modal>
