<div class="g-py--20 g-px--15 g-bt--1 g-bc--gray11" *ngIf="content.content">
  <div class="g-pb--10 d-flex w-10 g-line--12 g-font--light">
    <span class="g-font--light d-lg-flex g-o--hidden g-ie-flex--1 g-pt--2" [innerHTML]="content.content">
    </span>
  </div>
  <div *ngIf="content.tooltips" class="g-font--light d-flex aling-items-center g-ie-flex--0-1-auto g-mt--15">

    <div>
      <mf-tooltips>
        <span class="g-font--medium d-flex aling-items-left g-pb--10">{{ content.tooltips.text }}</span>
        <div *ngFor="let item of (content.tooltips || []).items">
          <div class="g-font--12 g-font--normal text-left">{{ item }}</div>
        </div>
      </mf-tooltips>
    </div>

    <div class="g-ml--5 g-mr--5 g-pt--2">
      {{ content.tooltips.title }}
    </div>

  </div>
</div>
