<mf-card-item>
  <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
    <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
      <client-icon-policies [policyType]="payment.tipoPoliza"></client-icon-policies>
    </div>
    <div
      class="w-7 w-lg-8 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden"
    >
      <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
        <div class="g-font--medium text-lg-truncate g-text--uppercase" [title]="payment.descripcionPoliza">
          {{ payment.descripcionPoliza }}
        </div>
        <div *ngIf="payment.unBeneficiario">
          <div class="text-lg-truncate">
            {{ payment.beneficiarios[0].nombreBeneficiario }}
          </div>
        </div>

        <br *ngIf="payment.beneficiarios?.length > 1" class="d-none d-lg-inline-block" />

        <div class="d-lg-none g-dropdown-position">
          <client-dropdown-items-policy
            *ngIf="payment.beneficiarios?.length > 1"
            [policyNumber]="payment.numeroPoliza"
            [policyType]="payment.tipoPoliza"
            [items]="payment.beneficiarios"
            [descripcionItem]="'nombreBeneficiario'"
          >
          </client-dropdown-items-policy>
        </div>
      </div>

    </div>

    <div class="w-5 w-lg-5 g-bt--1 g-bt-lg--0 py-lg-0 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1">

      <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--20 g-font--13 p-3">
        <div class="mb-0 text-nowrap">
          <span class="icon-mapfre_063_agendar g-mt--3 pr-1"></span> {{ data.labelEndOfTerms }}:
        </div>
        <div class="mb-0 text-nowrap">
          {{ payment.fechaFinVigencia }}
        </div>
      </div>
      
      <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--20 g-font--13 p-3">
        <div class="mb-0 text-nowrap">
          <span class="icon-mapfre_055_card g-mt--3 pr-1"></span>
          {{ payment.pago.tiposPagosDescripcion }}
        </div>
        
        <div *ngIf="payment.tipoRenovacionId !== 1" class="mb-0 text-nowrap g-font--12 g-font--bold g-c--gray10" >
          {{ data.labelDisabled }}
        </div>

        <div *ngIf="canEdit && payment.tipoRenovacionId === 1" class="mb-0 text-nowrap">
          <div (click)="goToEdit(payment)"
          class="d-flex align-items-center flex-grow-1 g-bl-lg--1"
          ctrl="linkEditCard">
          
            <a href="javascript:void(0)" class="g-c--green1 g-font--medium g-c--pointer g-link--green1">
              {{ data.labelEditCard }}
            </a>
          </div>
        </div>
      </div>

      <div *ngIf="canEdit" class="px-lg-3 mb-2 mb-lg-0 w-px-lg--10 p-3">
        <div class="g-font--light g-bc--gray11 text-nowrap">
          <mf-switch 
            size="small" 
            #AutomaticDebitSwitch
            [(ngModel)]="useDCC"
            [checked]="payment.tipoRenovacionId === 1"
            [disabled]="!payment.puedeHacerDebitoAutomatico"
            (change)="changeCheckBox($event)">
          </mf-switch>
        </div>
      </div>

    </div>


    <div class="d-none d-lg-block g-dropdown-position">
      <client-dropdown-items-policy
        *ngIf="payment.beneficiarios?.length > 1"
        [policyNumber]="payment.numeroPoliza"
        [policyType]="payment.tipoPoliza"
        [items]="payment.beneficiarios"
        [descripcionItem]="'nombreBeneficiario'"
      >
      </client-dropdown-items-policy>
    </div>

  </div>
</mf-card-item>

<!-- Modal cancelar debito -->
<mf-modal-alert
  [confirmButtonText]="btnConfirm" 
  [cancelButtonText]="btnCancel"
  [confirm]="flagConfirmModal"
  [sizeClass]="'g-modal--medium'"
  (closeEvent)="closeModal()"
  [disableTopClose]="true"
  (confirmResponse)="doAction($event)">
  <div class="m-auto text-center g-py--20 g-px--20">
    <div class=" text-center g-mb--20">
      <img [src]="iconModal" [alt]="alertIconModal">
    </div>
    <div class="g-font--18 g-font--medium g-c--gray8">
      {{ modalTitle }}
    </div>
    <div class="g-font--12 mt-3 g-c--gray10 row justify-content-md-center g-message--secondary">
      {{ modalSuggestion }}
    </div>
  </div>
</mf-modal-alert>
