<div class="clearfix g-mb--20">
  <div class="d-lg-flex justify-content-between g-b-radius--5 g-bg-c--white1 g-my--15 g-box--shadow1">
    <div class="d-flex g-ie-flex--0-1-auto mr-auto g-py--15 g-pr--15 w-10 g-pl-lg--20">
      <span class="{{ icon }} g-font--21 g-font-md--30 g-pt-lg--5 g-pr--0 g-mx--10"></span>
      <div class="flex-wrap">
        <div class="g-font-md--20 g-font--medium">
          {{ title }}
        </div>
        <div class="w-100 g-font--light d-lg-flex">
          {{ text }}
        </div>
      </div>
    </div>
  </div>
</div>
