<div class="justify-content-md-center mt-xs--1 mb-xs--1">
  <div class="d-flex align-items-start align-items-md-center justify-content-between g-box--shadow5 g-b-radius--5 g-b--1 g-p--1" [ngClass]="statusColor">
    <div class="d-flex">
      <img class="g-m--10" [src]="icon" width="35">
      <div class="g-m--10 g-line--13 d-flex g-ie-flex--1 align-items-center flex-wrap">
        <div class="w-100 g-c--black1" [innerHTML]="text"></div>
      </div>
    </div>
  </div>
</div>
