<div class="d-flex">
  <client-main-menu></client-main-menu>

  <div #scrollMe class="g-box-container">
    <div class="row">
      <client-main-header></client-main-header>
    </div>

    <router-outlet></router-outlet>
  </div>

</div>
<div class="g-box-nav--close g-none" (click)="closeNavBox()"></div>

<client-modal-contact></client-modal-contact>
<client-modal-expired-session *ngIf="showModalSession" (valid)="showModalSession = false"></client-modal-expired-session>
<mf-button-top
  [showScrollHeight]="buttonTop"
  [image]="buttonTopIcon">
</mf-button-top>
<client-web-chat></client-web-chat>
