<mf-card *ngIf="!showLoading">
  <mf-card-header [header]="cardTitle" [collapsed]="collapse" (expand)="collapse = $event"></mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <mf-card-item *ngFor="let insured of insuredList">
      <div [ngClass]="{'c-inbox_affiliate is-editing': theyAreEditing && !insured.isEdit, 'g-full-form--load': insured.showLoading }">
        <div class="g-b-radius-lg--5 g-box-lg--shadow1 g-bt--1 g-bt-lg--0 mb-0 mb-lg-3 g-font--light w-100 g-ie-flex-column c-affiliate-item">
          <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
            <div class="d-flex justify-content-center px-4 pt-3 pt-lg-0 align-items-lg-center">
              <span class="g-items-icon g-font--30 g-font-lg--40 icon-mapfre_014_perfil"></span>
            </div>
            <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 d-flex align-items-lg-center flex-fill g-o-lg--hidden mt-3 mb-3 flex-column">
                <div class="w-100 d-flex flex-column flex-lg-row align-items-lg-center my-1 py-lg-1 p-3">
                  <div class="flex-grow-1 mb-2 mb-lg-0 g-o-lg--hidden px-lg-3">
                      <div>
                        <span class="g-font--medium">{{ getFullName(insured) }}</span>
                      </div>
                      <div>
                        <div class="mb-0 text-lg-truncate">{{ getRelation(insured) }}</div>
                      </div>
                  </div>
                  <div
                  *ngIf="!insured.isEdit"
                  class="d-flex align-items-lg-center flex-column flex-lg-row"
                  >
                    <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--16 g-font--13">
                      <div class="text-nowrap ">{{ insured.tipoDocumento }}: {{ insured.documento }}</div>
                    </div>
                    <div class="px-lg-3 w-px-lg--25">
                      <div class="mb-0 d-flex align-items-center">
                        <span class="pr-1 icon-mapfre_038_telephone"></span>
                        <span class="g-font--light text-lg-truncate">{{ getPhone(insured.telefono) }}</span>
                      </div>
                      <div class="mb-0 d-flex align-items-center">
                        <span class="pr-1 icon-mapfre_060_mail"></span>
                        <span class="g-font--light text-lg-truncate" [attr.title]="insured.correoElectronico">{{ getEmail(insured) }}</span>
                      </div>
                    </div>
                  </div>
                  <div [formGroup]="frmHolder" *ngIf="insured.isEdit" class="d-flex align-items-center flex-column flex-lg-row">
                    <div class="w-100 w-px-lg--20 px-lg-3">
                      <client-input-with-icon
                        [classIcon]="frmHolder?.value[insured?.telefono] ? (closeIcon + ' g-c--gray9'): ''"
                        [frm]="frmHolder"
                        [name]="insured?.telefono"
                        [pointer]="true"
                      >
                        <mf-input
                          [label]="'Telefono'"
                          [maxlength]="50"
                          formControlName="phone_{{ insured.documento }}"
                        >
                        </mf-input>
                      </client-input-with-icon>
                    </div>
                    <div class="w-100 w-px-lg--24 px-lg-3">
                      <client-input-with-icon
                        [classIcon]="frmHolder?.value[insured?.correoElectronico] ? (closeIcon + ' g-c--gray9'): ''"
                        [frm]="frmHolder"
                        [name]="insured?.correoElectronico"
                        [pointer]="true"
                      >
                        <mf-input
                          [label]="'Correo Electrónico'"
                          [maxlength]="50"
                          formControlName="email_{{ insured.documento }}"
                        >
                        </mf-input>
                      </client-input-with-icon>
                    </div>
                  </div>
                </div>
            </div>
            <!-- options -->
              <!-- Edit -->
              <div
              (click)="edit(insured)"
              *ngIf="!insured.isEdit && userLoggedIsTitular"
              class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column"
            >
              <span class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-mapfre_035_edit g-c--green1 p-lg-3 p-1"></span>
            </div>
            <span
              *ngIf="false"
              class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column"
            >
              <span [spinnerPdf]="true"></span>
            </span>
            <!-- Save cancel -->
            <div
              *ngIf="insured.isEdit"
              class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column"
            >
              <span
                (click)="save(insured)"
                [ngClass]="{'c-frm--disabled': frmHolder?.invalid || frmHolder.pristine || (!frmHolder.get('phone_' + insured.documento)?.value && !frmHolder.get('correo_' + insured.documento)?.value)}"
                class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 w-100 p-lg-3 p-1 text-center"
              >
                <span
                  class="icon-checked g-c--green1"
                >
                </span>
              </span>
              <span
              (click)="reset(insured)"
                class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-comeback g-c--green1 p-1 p-lg-3 w-100 text-center"
              >
              </span>
            </div>
          </div>
      </div>
    </div>
    </mf-card-item>

    <div *ngIf="!insuredList.length && !showLoading" class="d-flex align-items-center justify-content-center">
      <mf-card-without-data [icon]="noItems" [message]="messageWithoutInsureds"></mf-card-without-data>
    </div>
  </mf-card-content>
</mf-card>

<div class="mb-xs--2" *ngIf="showLoading">
  <mf-loader></mf-loader>
</div>
