<div class="row px-3">
    <div class="g-bg-c--gray--trasparent w-100">
        <div class="row lign-items-center justify-content-center">
            <div class="d-none d-lg-block col-8">
                <img class="min-height--100" src=" ../../../../../assets/images/banners/health/quote-banner-lg.png" alt="">
            </div>
            <div class="d-block d-lg-none health-quote-banner"></div>
            <div class="d-block d-lg-none w-100 p-2 mt-2">
                <div class="card g-b-radius--15 g-bg-c--white1 border-0 p-3">
                    <p class="g-font--18 g-font--bold"> Clínica Digital <b class="g-c--red1">MAPFRE</b> </p>
                    <p class="g-font--16">La salud se volvió <b>Smart</b></p>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-2">
                <div class="card rounded">
                    <div class="card-header text-center g-bg-c--gray8 text-white">
                        {{ lang.Titles.QuoteYourPlan }}
                    </div>
                    <div class="card-body py-2">
                        <div *ngIf="showLoading">
                            <mf-loader></mf-loader>
                        </div>

                        <div *ngIf="!showLoading">
                            <div class="g-b-radius--15 border border-light mb-2 px-2 py-1">
                                <p class="w-100 g-c--gray10 g-font--12">Plan para</p>
                                <select class="form-control border-0 px-0" (change)="onSelectedPlan($event)">
                                    <option *ngFor="let plan of saludPlanList" [value]="plan.codigo"> {{
                                        plan.descripcion }} </option>
                                </select>
                            </div>

                            <div *ngIf="!showLoading" class="px-2">
                                <div class="row text-left">
                                    <div class="col-12">
                                        <p class="w-100 g-c--gray10 g-font--12">Pago mensual</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="g-c--black1 g-font--16"> <b>{{ codigoMoneda }}</b> {{ precioPlan }}
                                        </p>
                                    </div>
                                    <div *ngIf="1 == 0" class="col-6">
                                        <p class="g-c--red1 g-font--12 g-font--bold"> Ahorras S/5.00 al mes</p>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100 d-flex aling-items-center justify-content-center my-3">
                                <a class="g-btn d-flex align-items-center m-1" [href]="cotizarURL" target="_blank" rel="nofollow">
                                    <span class="g-c--white1 g-font--medium g-font--12 g-text--uppercase"> {{
                                        lang.Buttons.TakeOutInsurance }} </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100">
        <client-responsive-carousel [header]="carouselHeader" [data]="servicesList"></client-responsive-carousel>
    </div>

    <div class="card g-b-radius--15 border-0 w-100 mx-1 my-3">
        <div class="card-header g-bg-c--white1 text-center">
            <div class="g-c--black1 g-font--medium g-font--14">
                {{ lang.Texts.CdmBenefitsQuoteFirst }}
            </div>
            <div class="g-c--red1 g-text--uppercase g-font--bold  g-font--14">
                {{ lang.Texts.CdmBenefitsQuoteSecond }}
            </div>
        </div>
        <div class="card-body g-bg-c--white1">
            <div class="mb-2" [innerHtml]="lang.Texts.CdmBenefitsQuoteThird"></div>
            <div class="row">
                <div *ngFor="let item of benefitsList" class="col-6 col-md-4 p-3 d-flex align-middle">
                    <div class="d-flex w-100">
                        <span class="icon-mapfre_023_cross2 g-c--green1 mr-2 mt-1"></span>
                        <span> {{ item.description }} </span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="w-100 d-flex aling-items-center justify-content-center">
                <a class="g-btn d-flex align-items-center m-1" [href]="saludURL" target="_blank" rel="nofollow">
                    <span class="g-c--white1 g-font--medium g-font--12 g-text--uppercase"> {{ lang.Buttons.SeeHealthPlans }} </span>
                </a>
            </div>
        </div>
    </div>
</div>

<mf-modal-alert [outline]="false" [confirmButtonText]="btnConfirm" (closeEvent)="closeModal()">
    <div class="container error text-center pb-lg--5 pb-xs--5">
        <img class="g-mw--6 mt-5 mb-4" [src]="">
        <div class="g-font--16 g-font--medium g-c--black1">
            {{ lang.Texts.RequestReceived }}
        </div>
        <div class="g-font--12 g-c--gray10" [innerHtml]="txtReceived"></div>
    </div>
</mf-modal-alert>