.health-quote-banner {
  background: url('../../../../assets/images/banners/health/quote-banner-lg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
}
