<div class="sect-container g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <div>
    <mf-stepper
      [stepList]="steps"
      [currentStep]="2">
    </mf-stepper>
  </div>
  <div>
    <client-form-base
      [iconClass]="crossIcon"
      [btnCancel]="generalLang.Buttons.Back"
      [btnConfirm]="generalLang.Buttons.Agree"
      (actionConfirm)="finish()"
      (actionCancel)="goToStep(2)">

      <div class="g-p--20 g-p-md--40">
        <!-- Title -->
        <div>
          <div class="g-font-md--20 g-font--medium">
            {{ lang.StepThree.Title }}
          </div>
          <div>{{ lang.StepThree.Description }}</div>
        </div>

        <!-- Datos de la atencion -->
        <div class="g-bt--1 g-bc--gray11 g-pt--20 g-mt--20 g-mb-md--20">

          <div class="d-flex align-items-center justify-content-between g-mb--15">
            <div class="g-font--medium g-font-md--20">
              1. {{ lang.StepOne.Title }}
            </div>
            <div class="" (click)="goToStep(1)">
              <span class="g-c--green1 g-font--15 g-c--pointer"  [ngClass]="editIcon"></span>
            </div>
          </div>

          <div class="w-10 g-mb--20">
            <div class="g-font--light g-font--13 g-c--gray18">
              {{ lang.SearchProvider.RUC }}
            </div>
            <div class="">
              {{ refund?.attention?.ruc }}
            </div>
          </div>

          <div class="w-10 g-mb--20">
            <div class="g-font--light g-font--13 g-c--gray18">
              {{ lang.SearchProvider.Social }}
            </div>
            <div class="">
              {{ refund?.attention?.social }}
            </div>
          </div>

          <div class="d-flex flex-wrap">
            <div class="w-md-50 g-mb--20">
              <div class="g-font--light g-font--13 g-c--gray18">
                {{ lang.StepOne.Labels.IncidenceDate }}
              </div>
              <div class="">
                {{ refund?.attention?.incidenceDate | date:'dd/MM/yyyy' }}
              </div>
            </div>
            <div class="w-md-50 g-mb--20">
              <div class="g-font--light g-font--13 g-c--gray18">
                {{ lang.StepOne.Labels.TreatmentDate }}
              </div>
              <div class="">
                {{ refund?.attention?.treatmentDate | date:'dd/MM/yyyy' }}
              </div>
            </div>
            <div class="w-md-50 g-mb--20">
              <div class="g-font--light g-font--13 g-c--gray18">
                {{ lang.StepOne.Labels.BenefitType }}
              </div>
              <div class="">
                {{ refund?.attention?.benefitType }}
              </div>
            </div>
            <div class="w-md-50 g-mb--20">
              <div class="g-font--light g-font--13 g-c--gray18">
                {{ lang.StepOne.Labels.Amount }}
              </div>
              <div class="">
                {{ refund?.attention?.amount | number : '1.2-2' }}
              </div>
            </div>
          </div>
        </div>

        <!-- Documentacion -->
        <div class="">
          <!-- Titulo -->
          <div class="d-flex align-items-center justify-content-between g-mb--15">
            <div class="g-font--medium g-font-md--20">
              2. {{ lang.StepTwo.Title }}
            </div>
            <div class="" (click)="goToStep(2)">
              <span class="g-c--green1 g-font--15 g-c--pointer" [ngClass]="editIcon"></span>
            </div>
          </div>

          <!-- Formato -->
          <div>
            <div class="g-font--medium g-mb--20">
              {{ lang.StepTwo.One.Title }}
            </div>
            <client-upload-files
              [readonly]="true"
              [listFile]="listFileFormat">
            </client-upload-files>
          </div>

          <!-- Comprobantes -->
          <div>
            <div class="g-font--medium g-mb--20">
              {{ lang.StepTwo.Two.Title }}
            </div>
            <client-upload-files
              [readonly]="true"
              [listFile]="listFilePayments"
              [withDescription]="true">
            </client-upload-files>
          </div>

          <!-- Opcionales -->
          <div *ngIf="listFileOptions && listFileOptions.length">
            <div class="g-font--medium g-mb--20">
              {{ lang.StepTwo.Three.Title }}
            </div>
            <client-upload-files
              [readonly]="true"
              [listFile]="listFileOptions">
            </client-upload-files>
          </div>

        </div>

      </div>
    </client-form-base>
  </div>
</div>
