{{#seguimiento}}
<div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-mt--10 ">
  {{#boxHead}}
    {{>molecules-header-box}}
  {{/boxHead}}
  <div class="g-px--20 g-pb-lg--20 g-bc--gray11">
    {{#cardBox}}
      {{>molecules-card-box-seguimiento}}
    {{/cardBox}}

    {{#cardboxMessage}}
      {{>molecules-card-box-icon}}
    {{/cardboxMessage}}

  </div>
</div>
{{/seguimiento}}

{{#historial}}
<div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-mt--10 ">
  {{#boxHead}}
    {{>molecules-header-box}}
  {{/boxHead}}
  <div class="g-px--20 g-pb-lg--20 g-pt--20 g-bc--gray11">
    {{#cardBox}}
      {{>molecules-card-box-vehiculos-accidentes}}
    {{/cardBox}}
  </div>
</div>
{{/historial}}
