{{#titleHeader}}
  <div class="d-flex text-center">
    {{>molecules-titles2}}
  </div>
{{/titleHeader}}

<div class="g-timeline-content {{timelineContentClass}}">
  <div class="g-timeline mx-auto">

    {{#itemTime}}
      <div class="g-timeline--line {{position}}">
        <div class="g-timeline--items {{contentClass}}">

          <div class="g-timeline--badge d-flex flex-column align-items-center justify-content-center {{dateClass}}">
            <div class="g-line--10 {{dateDayClass}}">{{{dateDay}}} <span class="{{dateMonthClass}}">{{{dateMonth}}}</span></div>
            <div class="g-line--10 {{dateYearClass}}">{{{dateYear}}}</div>
          </div>

          {{#header}}
            <div class="g-timeline--items-header {{headerClass}}">

              {{#iconHead}}
                <div class="{{iconContent}}">
                  <div class="{{iconFile}} {{iconClass}}"></div>
                </div>
              {{/iconHead}}

              <div class="{{textContent}}">

                  <div class="{{textClass}}">{{{text}}}</div>

                  {{#subtitle}}
                    <div class="{{textClass}}">{{{text}}}</div>
                  {{/subtitle}}

              </div>
            </div>
          {{/header}}

          {{#section}}
            <div class="{{sectionClass}}">

              <div class="{{titleClass}}">{{{title}}}</div>

              {{#textDescription}}
                <div class="{{textClass}}">
                  {{#icon}}<span class="{{icon}} {{iconClass}} "></span> {{/icon}}
                  {{{text}}}
                </div>
              {{/textDescription}}

              {{#point}}
                <div class="d-flex align-items-end">
                  <div class="ml-auto">
                    <span class=" g-pr--10 g-form-icon g-font--21 icon-mapfre_015_location-pin"></span>
                  </div>
                  <div class="w-100">
                    {{>atoms-mf-input-icon}}
                  </div>
                </div>
              {{/point}}

              {{#circleIcon}}
                {{>molecules-circle-icon}}
              {{/circleIcon}}

              {{#credictCard}}
                {{>molecules-box-creditcard}}
              {{/credictCard}}

              {{#cardCheckbox}}
                {{#title}}
                  <div class="{{textClass}}">{{{text}}}</div>
                {{/title}}
                {{>organisms-cardCheckbox}}
              {{/cardCheckbox}}

              {{#forms}}

                {{#input}}
                  {{>atoms-mf-input}}
                {{/input}}

                {{#checbox}}
                  {{>atoms-mf-checkbox}}
                {{/checbox}}

              {{/forms}}

              {{#DescriptionFooter}}
                <div class="{{textClass}}">
                  {{#icon}}<span class="{{icon}} {{iconClass}} "></span> {{/icon}}
                  {{{text}}}
                </div>
              {{/DescriptionFooter}}

              {{#rating}}
                {{>atoms-mf-rating}}
              {{/rating}}

            </div>
          {{/section}}

          {{#footer}}
            <div class="{{footerClass}}">

              {{#btnSection1}}
                <div class="{{sectionClass}}">

                  {{#btnLeft}}
                    <div class="{{contentBtn}}">
                      {{#btn}}
                        {{>atoms-buttons}}
                      {{/btn}}
                      {{#link}}
                        <div class="{{linkClass}}">{{{link}}}</div>
                      {{/link}}
                    </div>
                  {{/btnLeft}}

                  {{#btnRight}}
                    <div class="text-center">
                      <div class="{{contentBtnRight}}">
                        {{#btn}}
                          <div class="{{icon}} {{iconClass}}"></div>
                        {{/btn}}
                      </div>
                    </div>
                  {{/btnRight}}

                </div>
              {{/btnSection1}}

            </div>
          {{/footer}}
        </div>

        {{#cardAdd}}
          <div class="g-timeline--items {{contentClass}}">
            {{#header}}
              <div class="{{headerClass}}">
                <div class="{{textClass}}">{{{text}}}</div>
              </div>
            {{/header}}

            {{#section}}
              <div class="{{sectionClass}}">
                <div class="{{titleClass}}">{{{title}}}</div>

                {{#textDescription}}
                  <div class="{{textClass}}">
                    {{#icon}}<span class="{{icon}} {{iconClass}} "></span> {{/icon}}
                    {{{text}}}
                  </div>
                {{/textDescription}}

                {{#forms}}

                  {{#input}}
                    {{>atoms-mf-input}}
                  {{/input}}

                  {{#checbox}}
                    {{>atoms-mf-checkbox}}
                  {{/checbox}}

                {{/forms}}

              </div>
            {{/section}}

            {{#footer}}
              <div class="{{footerClass}}">

                {{#btnSection1}}
                  <div class="{{sectionClass}}">

                    {{#btnLeft}}
                      <div class="text-center">
                        {{>atoms-buttons}}
                      </div>
                    {{/btnLeft}}

                    {{#btnRight}}
                      <div class="{{contentBtnRight}}">
                        {{#btn}}
                          <div class="{{icon}} {{iconClass}}"></div>
                        {{/btn}}
                      </div>
                    {{/btnRight}}

                  </div>
                {{/btnSection1}}

              </div>
            {{/footer}}
          </div>
        {{/cardAdd}}
      </div>
    {{/itemTime}}
  </ul>
</div>