<div class="d-flex flex-column flex-lg-row align-items-start flex-nowrap g-max-w-lg--990 mx-lg-auto g-mx--10  {{quotationClass}}">
  <div class="d-flex w-10 g-mr-lg--30 g-ie-flex--0-1-auto {{orderContent1}}">
    {{#icon}}
      <div class="d-none d-lg-block w-px--9">
        <div class="tag--icon justify-content-center align-items-center d-flex g-bg-c--gray2 g-c--white1 g-mt--45 g-pl--15">
            <span class="{{iconFile}} {{iconClass}}"></span>
        </div>
      </div>
    {{/icon}}
    <div class="g-bg-c--white1 g-box--shadow1 g-b-radius-lg--10 w-100 {{addContentClass}}">
      <div class="{{contentClass}}">
        {{#title}}
          <div class="g-font-md--20 g-font--medium {{textClass}}">
            {{text}}
          </div>
        {{/title}}

        {{#step1}}
          {{>organisms-quotation-step}}
        {{/step1}}

        {{#step2}}
          {{#text}}
            <div class="{{textClass}}">{{{text}}}</div>
          {{/text}}
          {{>organisms-quotation-step}}
        {{/step2}}

        {{#step3}}
          {{>templates-tabs-payform}}
        {{/step3}}

        {{#outsideBox}}
          {{#check}}
            {{>atoms-mf-check}}
          {{/check}}
        {{/outsideBox}}

        {{#messagesTwo}}
          <div class="{{contentClass}}">
          {{>molecules-messages2}}

          {{#footer}}
            <div class="d-flex g-bt--1 g-bc--gray11 {{footerClass}}">
              {{#btnTwo}}
                <div class="{{boxClass}}">
                  <div class="g-btn g-text--uppercase g-c--pointer d-block d-md-inline-block g-mw-md--21 {{textClass}}">
                    {{text}}
                  </div>
                </div>
              {{/btnTwo}}
            </div>
          {{/footer}}
          </div>
        {{/messagesTwo}}

        {{#success}}
          {{>molecules-messages}}
          {{#table}}
            {{>organisms-boxbrands}}
          {{/table}}
        {{/success}}

      </div>
      {{#footer}}
        <div class="d-flex g-py--15 g-px--10 g-bt--1 g-bc--gray11 {{footerClass}}">

          {{#btn}}
            <div class="{{boxClass}}">
              <div class="g-btn g-text--uppercase g-c--pointer d-block d-md-inline-block g-mw-md--21 {{textClass}}">
                {{text}}
              </div>
            </div>
          {{/btn}}

        </div>
      {{/footer}}
    </div>
  </div>
  <div class="w-px-lg--36 w-10 {{orderContent2}}">
    {{#banner}}
      <div class="{{imgContentClass}}">
        <img class="{{imgClass}} d-md-none d-lg-block" src="{{img}}" alt="">
        <img class="{{imgtabletClass}} d-none d-md-block d-lg-none" src="{{imgtablet}}" alt="">
      </div>
    {{/banner}}

    {{#cardRight}}

      {{#resumen}}
        {{>organisms-cardbox-twohead}}
      {{/resumen}}

      {{#videncia}}
        {{>organisms-cardbox-mini}}
      {{/videncia}}

    {{/cardRight}}
  </div>
</div>