<div class="g-box-icons--icon d-lg-none w-px--5 justify-content-center d-flex align-items-center" (click)="toggle()">
  <span class="g-box-icons--menu icon-mapfre_094_dots g-font--25 g-font-md--21 g-c--green1 g-c--pointer"></span>
</div>
<div class="g-box-icons--list d-lg-flex pt-xs--1" [ngClass]="{ 'g-none' : !collapse }">
<ng-content></ng-content>
</div>
