<div class="g-font--18 g-font-lg--20 g-ml-lg--25 g-mb--25 g-font--medium">{{ lang.Titles.QueryConstancy }}</div>

<search-form-records (search)="executeCaptcha($event)" (clear)="clear()"></search-form-records>

<re-captcha
  #captchaRef="reCaptcha"
  (resolved)="resolved($event)"
  size="invisible"
></re-captcha>

<search-record-detail
  *ngIf="record && record.estado !== recordState.NotFound"
  [record]="record"
  [showSpinner]="showSpinnerPdf"
  (download)="downloadRecord()">
</search-record-detail>

<mf-paginator
  *ngIf="record && record.estado === recordState.Found"
  [marginTop]="false"
  [total]="(insureds || []).length"
  [labelSingular]="lang.Labels.Insured"
  [labelPlural]="lang.Labels.Insureds"
  (pageChange)="page = $event"
  (itemsPerPageChange)="itemsPerPage = $event">
  <div>
    <div class="d-flex g-mb--10 g-mb-lg--30">
      <search-input-search
        [alphanumeric]="true"
        [placeholder]="'Buscar asegurado por nro. de documento'"
        [maxLength]="maxLengthSearch"
        (search)="searchFn($event)"
        (cancel)="searchFn()">
      </search-input-search>
    </div>

    <div
      class="table--box table--box-25 g-pb--15">
      <table class="">
        <thead *ngIf="tmpInsureds && tmpInsureds.length">
          <tr>
            <th class="g-font--14 g-font--medium text-center w-px-lg--6">#</th>
            <th class="g-font--14 g-font--medium text-center w-px-lg--20">{{ lang.Labels.DocumentType }}</th>
            <th class="g-font--14 g-font--medium text-center w-px-lg--22">{{ lang.Labels.DocumentNumberAbrev }}</th>
            <th class="g-font--14 g-font--medium">{{ lang.Labels.FullName }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tmpInsureds | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index"
          [ngClass]="{ 'table--box--active': item.numDocumento == currentSearch }">
            <td class="text-lg-center w-px-lg--5" data-table="#">
              <span class="">{{ (( itemsPerPage * page ) - itemsPerPage ) + i + 1 }}</span>
            </td>
            <td class="text-lg-center" data-table="Tipo de documento">
              <span class="">{{ item.tipoDocumento }}</span>
            </td>
            <td class="text-lg-center" data-table="Nro. de documento">
              <span class="">{{ item.numDocumento }}</span>
            </td>
            <td class="" data-table="Nombre completo">
              <span class="">{{ item.fullName }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <search-item-not-found
    [show]="!tmpInsureds || (tmpInsureds && !tmpInsureds.length)"
    [text]="generalLang.Messages.ItemNotFound"
    [large]="true">
  </search-item-not-found>
</mf-paginator>

<search-buy-policy
  *ngIf="record && record.estado === recordState.NotFound">
</search-buy-policy>
