<div [ngClass]="{'g-full-form--load': showLoading}">
  <div class="row justify-content-md-center mb-xs--1 g-mt--5">
    <div class="col col-lg-10">
      <span>{{ chooseAcountType }}</span>
    </div>
  </div>

  <div class="row justify-content-lg-center justify-content-xl-end">
    <div class="col-lg-10 col-xl-11">
      <div class="g-login-type g-my--25">
        <div class="g-login-type--item g-box-lg--shadow1" *ngFor="let groupType of getGroupType()" (click)="accessGroupType(groupType)">
          <div class="g-pr--15">
            <div class="g-icon--circle g-icon-circle--md">
              <span class=" g-font--18 g-c--gray18 align-self-center align-self-center" [ngClass]="getIcon(groupType.groupType)"></span>
            </div>
          </div>
          <div class="g-o-lg--hidden">
            <div class="g-font-lg--18 g-font--medium text-lg-truncate" title="{{ groupType.name }}">
              {{ groupType.name }}
            </div>
            <div>
              {{ groupType.groupTypeName }}
            </div>
            <div>
              {{ groupType.documentType }}: <strong>{{ groupType.documentNumber }}</strong>
            </div>
          </div>
          <div class="g-pl--15 g-pl-lg-30 g-pr-lg--15 ml-auto d-flex align-items-center g-c--green1 g-ie-flex--0-1-auto">
            <span class="icon-mapfre_009_arrow-right g-font--18"></span>
          </div>
        </div>
      </div>

      <div class="g-mt--25">
        <button class="g-bg-c--white1 d-flex g-c--green1 align-items-center" (click)="returnLogin()">
          <span class="icon-mapfre_010_arrow-left g-pr--10"></span>
          <span class="g-font--medium">Volver al inicio</span>
        </button>
      </div>
    </div>
  </div>
</div>
