<div class="g-px--15 g-pb--20">
  <div class="g-line--14 g-pb--10 g-font--light d-flex align-items-center">
    {{ label }}:
  </div>
  <div class="g-rating" [ngClass]="{'g-rating--hover': enabled}">
    <div *ngFor="let star of stars" class="g-rating--item"
      [ngClass]="{'g-rating--active': currentSelection >= star }"
      (click)="setSelection(star)">
      <span class="repose g-font--18 g-c--yellow2 {{ starOutIcon }}"></span>
      <span class="active g-font--18 g-c--yellow2 {{ starIcon }}" ></span>
    </div>
  </div>
</div>