<div class="login--form g-box g-bg-c--white1">
  <div class="clearfix  g-p--10 g-p-md--10  g-px-lg--0  g-px-xl--25 g-py-lg--20">
    {{#confirm}}
      {{#content}}
        {{>molecules-messages}}
      {{/content}}

      <div class="text-center g-mt--0 ">
        {{title}}
      </div>

      <div class="row justify-content-md-center g-mt--20 g-mb--20 g-mt-lg--15 g-mb-lg--50 ">
        <div class="col-11 col-md-9 m-auto">
          {{#phone}}
            {{>organisms-phone}}
          {{/phone}}
        </div>
      </div>

      {{#link}}
        <div class="text-center col col-lg-6 mx-auto">
          {{>atoms-buttons}}
        </div>
      {{/link}}
  {{/confirm}}
  </div>
  <div class="clearfix g-box no-btl-radius no-btr-radius  g-pl--20  g-pr--20  g-px-lg--40  g-pt--30 g-pb--30 g-bg-c--gray5">
    {{#listItems}}
      {{>organisms-login-list}}
    {{/listItems}}
  </div>
</div>