<div class="g-ui--view">

  <div class="g-fixed ">
    <div class="g-ui--sckity g-bg-c--gray5">

      {{#header}}
          {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-step-1 g-pb-lg--30 g-pt--20 g-pb--20">
        <div class="container step-content-1">

          <div class="row justify-content-md-center">
            <div class="col col-lg-6 g-mt--20 g-mb--20 g-mb-lg--50   g-mt-lg--20 ">
                {{>molecules-steps}}
            </div>
          </div>

          {{#comparate1}}
            <div class="row justify-content-md-center  g-pb--20   d-none d-lg-flex">
              <div class="col col-lg-10">
                <div class="">
                  {{>templates-comparate-resumen}}
                </div>
              </div>
            </div>
          {{/comparate1}}

          {{#comparate2}}
            <div class="row justify-content-md-center  g-pb--20  ">
              <div class="col col-lg-10">
                {{>templates-comparate-edit}}
              </div>
            </div>
          {{/comparate2}}

          <div class="row justify-content-md-center">
            <div class="col col-lg-10">

              {{>templates-comparate}}

              <div class="text-center g-mt-lg--20 g-mt--15">
                  {{>atoms-buttons(addClass: "g-text--uppercase g-btn--default", text: "Siguiente" ) }}
              </div>

            </div>

          </div>

        </div>
      </section>

    </div>

    {{#footer}}
        {{>molecules-footer}}
    {{/footer}}

  </div>
</div>

  {{>templates-fm-pension}}
  {{>templates-fm-salud}}