<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">

      {{#header}}
        {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-step-1  g-pb-lg--25  g-pt--20 g-pb--20">
        <div class="container step-content-2">

          <div class="row justify-content-md-center">
            <div class="col col-lg-6 g-mt--20 g-mb--20 g-mb-lg--50   g-mt-lg--20 ">
              {{>molecules-steps}}
            </div>
          </div>

          {{#messageError}}
            <div class="row justify-content-md-center">
              <div class="col col-lg-11">
                {{>atoms-alert-alternative}}
              </div>
            </div>
          {{/messageError}}

          <div class="g-bg-c--white1 g-p--0 g-pb--20 g-pt--20 g-p-md--20 g-p-lg--25 g-box--shadow1 g-b-radius--5">

            <div class="g-font--18 g-font-md--20 text-center g-px--15 g-pb--15 g-pb-md--10 g-pb-lg--15 g-text--uppercase g-font--medium">
              Datos de los trabajadores por asegurar
            </div>

            <div class="d-none d-md-block">
              {{#listAdd}}
              {{>templates-insured}}
              {{/listAdd}}

              <div class="g-border g-b-radius--5  g-mt--20 ">

                <div class="g-bg-c--gray12 ">
                  <div class="row no-gutters">

                    <div class="col  g-pt--15   g-pb--10   g-pl--20   g-pr--15 ">
                      <span class="g-font--medium">AGREGAR OTRO TRABAJADOR</span>
                    </div>
                    <div class="g-inline-block g-pt--15 g-pb--10 g-px--15 g-bl--1 g-bc--gray7">
                      <div class="text-right">
                        <span class="icon-mapfre_052_agregar g-font--25 g-font-md--21 g-c--pointer "></span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class=" g-p--20  d-flex align-items-start  align-items-dm-center">
                  <span class="icon-mapfre_051_alerta g-font--25 g-font-md--21 g-c--orange1"></span>
                  <span class=" g-pl--10 ">Al agregar otro trabajador se actualizará el costo final.</span>
                </div>

              </div>

            </div>

            <div class="d-block d-md-none">

              {{#listAddMobile}}
                {{>organisms-insured-responsive}}
              {{/listAddMobile}}

              <div class="add-insured-box">

                <div class="add-insured-box--content g-pt--10 g-pb--10 g-px--15 g-line--17 g-font--light">
                  <div class="add-insured-box--title g-font--bold">
                    AGREGAR OTRO TRABAJADOR
                  </div>
                  <div class="d-flex align-items-start">
                    <span class="icon-mapfre_051_alerta g-font--25 g-font-md--21 g-c--orange1"></span>
                    <span class=" g-pl--10 ">Al agregar otro trabajador se actualizará el costo final.</span>
                  </div>
                </div>

                <div class="add-insured-box--sidebar  g-pt--10   g-pb--10 ">
                  <div class="add-insured-box--edit  g-pt--10 ">
                    <span class="icon-mapfre_052_agregar g-font--25 g-font-md--21"></span>
                  </div>
                </div>

              </div>

            </div>

            <div class=" g-mt--20 g-mt-lg--25  text-center g-pl--15 g-pr--15">
              {{#linkButton}}
                {{>atoms-buttons}}
              {{/linkButton}}
            </div>

          </div>

        </div>
      </section>

    </div>

    {{#footer}}
      {{>molecules-footer}}
    {{/footer}}

  </div>
</div>

{{#modal}}
  {{>templates-fm-edit-insured}}
{{/modal}}
{{#alert}}
  {{>templates-modal-alert}}
{{/alert}}