<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">

      {{#header}}
        {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-step-1  g-pb-lg--25  g-pt--20 g-pb--20">
        <div class="container step-content-3">

          <div class="row justify-content-md-center">
            <div class="col col-lg-6 g-mt--20 g-mb--20 g-mb-lg--50   g-mt-lg--20 ">
              {{>molecules-steps}}
            </div>
          </div>

          <div class="row flex-wrap-reverse">
            <div class="col-lg-8">
              {{#date}}
                {{>templates-date}}
              {{/date}}
            </div>
            <div class="col-lg-4 g-mb--20 g-mb-lg--0">
              {{#resumen}}
                {{>organisms-card-box-head-dark}}
              {{/resumen}}

            </div>
          </div>

        </div>
      </section>

    </div>

    {{#footer}}
      {{>molecules-footer}}
    {{/footer}}

  </div>
</div>