<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckityy g-bg-c--gray5">

      {{#header}}
        {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-step-1  g-pb-lg--25  g-pt--20 g-pb--20">
        <div class="container step-content-3">

          <div class="row justify-content-md-center">
            <div class="col col-lg-6 g-mt--20 g-mb--20 g-mb-lg--50   g-mt-lg--20 ">
              {{>molecules-steps}}
            </div>
          </div>

          <div class="row">
            <div class="col-12 g-mb--15 g-mb-lg--20">
              {{#alert}}
                {{>atoms-alert-alternative}}
              {{/alert}}
            </div>
          </div>

          <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-8">
              {{#tab-horizontal}}
                {{>templates-tab-horizontal}}
              {{/tab-horizontal}}
            </div>
            <div class="col-lg-4  g-mb--20 g-mb-lg--0 ">
              <div class="">
                {{#resume}}
                  {{>organisms-resume}}
                {{/resume}}
              </div>

            </div>
          </div>
        </div>
      </section>

    </div>

    {{#footer}}
        {{>molecules-footer}}
    {{/footer}}

  </div>
</div>
{{#tablemodal}}
  {{>templates-fm-modal-table}}
{{/tablemodal}}
