<mf-card>
  <mf-card-header
    [header]="titleCard"
    [icon]="iconCard"
    [collapsed]="collapse"
    (expand)="collapse = $event"
    hlg>
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event" wpd>
    <div class="g-font--light d-flex justify-content-between d-flex-1-auto g-bt--1 g-bc--gray11 g-ie-mh--14 box-height-fix">
      <div class="d-flex g-ie-flex--0-1-auto g-p--15 g-p-lg--20 g-pl-lg--25 g-pb-lg--25">
        <div class="d-none d-lg-flex w-px--9">
          <span class="g-c--gray18 g-font--65" [ngClass]="iconCard"></span>
        </div>

        <div class="w-10">
          <div class="g-items">
            <div class="g-items-list d-none d-lg-flex g-mt--5">
              <div class="g-items-text g-font--18 g-font--medium">{{ titleCard }}</div>
            </div>
            <!-- Prima -->
            <div *ngIf="!hideInsuranceCost" class="g-items-list d-flex g-mt--5">
              <div class="g-items-text g-c--gray3">{{ insuranceCost() }}</div>
            </div>
            <!-- Monto Planilla / Número de Cuotas -->
            <div class="g-items-list g-mt--5 g-c--gray3" *ngIf="isSctr || !info.hasPendingPayment">
              {{ quota() }}
              <div class="position-relative d-inline-block g-ml--5 g-pos--3" *ngIf="hasAmountMax">
                <mf-tooltips>
                  <div class="g-font--12 g-font--normal text-left">{{ amountMax() }}</div>
                </mf-tooltips>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-xs--1 pt-xs--2 pr-xs--2" *ngIf="enableEdit">
        <span (click)="editClick()" class="icon-mapfre_035_edit g-c--pointer g-c--green1 g-font--18"></span>
      </div>
    </div>

    <!-- Frecuencia de Declaracion SCTR o Cuotas -->
    <mf-card-item-icon *ngIf="frequencyOrQuota" [icon]="porcentageIcon">
      <div *ngIf="isSctr; else elseNotSctr">{{ frequencyOrQuota }}</div>
      <ng-template #elseNotSctr>
        {{ frequencyOrQuota }}
        <ng-container *ngIf="viewPayment">
          <span class="g-c--green1 g-text-uppercase g-font--medium g-c--pointer g-ml--5"
            (click)="paymentViewClick()"
            ctrl="linkViewPayment"
            (domChange)="onDomChange($event, {})">
            {{ btnViewPayment }}
          </span>
        </ng-container>
      </ng-template>
    </mf-card-item-icon>

    <!-- Tipo de Pago -->
    <mf-card-item-icon [icon]="iconPaymentType" [text]="paymentType()"></mf-card-item-icon>

    <!-- Tipo de Renovación -->
    <mf-card-item-icon *ngIf="showRenewal" [icon]="renewalIcon" [text]="renewalType"></mf-card-item-icon>
  </mf-card-content>
</mf-card>
