<div class="g-alert--temp g-ans-duration--{{time}}" [ngClass]="customClass">
  <div class="d-flex align-items-center">
    <span class="{{icon}} g-mr--10 g-font--28"></span>
    <div>{{ text }}</div>
  </div>
</div>
