<div class="g-spinner patternlab-none {{addClass}}">
  <div class="g-spinner--center">
    <div class="g-spinner--image"></div>
    <div class="g-spinner--text {{textClass}}">
      {{text}} <span class="g-spinner--dots g-font--24 g-font-md--30"><span>.</span><span>.</span><span>.</span></span>
    </div>
  </div>
</div>