<div class=" g-pt--20  g-pb--20 ">
  <div class="{{textTitleClass}}">{{textTitle}}</div>
</div>
<div class="g-bg-c--white1 g-box--shadow1 d-flex justify-content-center align-items-end w-100 g-b-radius--5  g-p--20  g-pt--0 flex-wrap g-mb--15">
  {{#filter}}
  <div class="g-font--light g-font--18  g-p--10   g-pr--20  flex-shrink-1 w-100 w-lg-auto text-center">Filtrar por:</div>
  <div class="w-100 w-lg-auto  g-pr--10  ">
    {{#filter1}}
      {{>atoms-mf-select}}
    {{/filter1}}
  </div>
  <div class="w-100 w-lg-auto  g-pr--10  ">
    {{#filter2}}
      {{>atoms-mf-select}}
    {{/filter2}}
  </div>
  <div class="w-100 w-lg-auto  g-pr--10  pr-xl--0">
    {{#filter3}}
      {{>atoms-mf-select}}
    {{/filter3}}
  </div>
  {{/filter}}
</div>

<div class="g-bg-c--white1 g-box--shadow1 w-100 pt-0  g-mb--15 ">
  {{#header}}
    {{>molecules-header-box}}
  {{/header}}
  <div class="px-lg-3  g-py--10 ">
    {{#cardBox}}
      {{>molecules-card-box-recibos}}
    {{/cardBox}}
  </div>

</div>

{{#cardDropdownClose}}
  <div class="g-bg-c--white1 g-box--shadow1 w-100 pt-0  g-mb--15   g-pb--10 ">
    {{#header}}
      {{>molecules-header-box}}
    {{/header}}
  </div>
{{/cardDropdownClose}}

