<div class="position-relative">
  <div class="g-textarea-design" [ngClass]="{'g-form-focus': value, 'msn-error': error}">
    <div class="d-flex">
      <textarea #mfTextAreaComponent
        class="no-spinners"
        [spellcheck]="spellcheck"
        [(ngModel)]="value"
        [disabled]="disabled"
        [maxlength]="maxlength"
        [minlength]="minlength"
        [attr.rows]="rows"
        (keypress)="onKeyPress($event)"
        (blur)="onBlurInput($event)"
        (paste)="onPasteInput($event)"
        (focus)="onFocusInput($event)">
      </textarea>
      <label class="g-input__label g-placeholder">{{ label }}</label>
    </div>
  </div>
  <div class="g-textarea--counter g-font--h6 text-right g-pt--5 g-c--gray18">
    {{ (value || '').length }}/{{ maxlength }}
  </div>
</div>