<mf-card>
  <!-- Header -->
  <mf-card-header
    (expand)="collapse = $event"
    [collapsed]="collapse"
    [disableCollapse]="disableCollapse"
    [header]="healthLang.Titles.PendingInvoices">
  </mf-card-header>

  <div (collapse-mobile)="collapse = $event" [collapse]="collapse" [disableCollapse]="disableCollapse">
    <!-- Contenido -->
    <mf-card-content dropdown-close>
      <!-- Loading -->
      <mf-loader *ngIf="showLoading"></mf-loader>

      <!-- Sin facturas pendientes -->
      <div *ngIf="pendingInvoicesList && !(pendingInvoicesList?.length > 0) && !showLoading">
        <div class="g-b-radius-lg--5 card-box-simple py-3 pt-lg-3 pb-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10">
          <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
              <div class="px-2 my-3 my-lg-0">
                <img [src]="noPendingPaymentsIcon" [alt]="paymentLang.Messages.WithoutPendingInvoices">
              </div>
            <div class="g-items-text pl-lg-3">
              <div class="g-font--20 mb-0 g-font--medium g-c--gray18">{{ paymentLang.Messages.WithoutPendingInvoices }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Listado -->
      <mf-card-item *ngFor="let item of pendingInvoicesList">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
          <!-- Icono de poliza -->
          <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <span class="g-font--42 g-c--gray18" [ngClass]="item.iconUrl"></span>
          </div>

          <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 px-lg-0 py-lg-3 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
            <!-- Número de factura, prefactura y nombre del plan -->
            <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
              <div class="g-font--medium g-font--16 text-lg-truncate">{{ healthLang.Labels.InvoiceNumber }}: {{ item.invoiceNumber }}</div>
              <div class="text-lg-truncate g-font--16">{{ healthLang.Labels.PreInvoiceNumber }}: {{ item.preInvoiceNumber }}</div>
              <div class="text-lg-truncate g-text--uppercase g-font--14">{{ item.planDescription }}</div>
            </div>
            <!-- Fecha emisión, semafoto estado y tipo de situación -->
            <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
              <div class="text-lg-truncate g-font--14">{{ healthLang.Labels.DateEmission }}: {{ item.dateEmission }}</div>
              <div class="text-lg-truncate">
                <span
                  *ngIf="item.trafficLightColor === trafficLight.ROJO"
                  [ngClass]="item.bulletColor"
                  class="icon-mapfre_066_circle text-right g-font--11 align-middle mr-1">
                </span>
                <span class="g-font--14">{{ item.situationDescription }}</span>
              </div>
              <div [ngClass]="item.bulletColor" class="text-lg-truncate g-font--14">
                {{ item.status || '&nbsp;' }}
              </div>
            </div>
            <!-- Monto -->
            <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--20 g-font--16 text-lg-right">
              <div class="g-font--medium text-lg-truncate">{{ item.totalAmountFormatted }}</div>
            </div>
          </div>

          <!-- Ver detalle -->
          <div class="g-bt--1 g-bt-lg--0 py-lg-0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1">
            <span
              (click)="openModalPaymentPlaces()"
              class="g-c--green1 g-font--medium g-c--pointer g-link--green1 py-3">
              {{ healthLang.Labels.SeePaymentPlaces }}
            </span>
          </div>
        </div>
      </mf-card-item>

    </mf-card-content>
  </div>
</mf-card>

<!-- Modal de sitios de pago -->
<mf-modal *ngIf="showModalPaymentPlaces">
  <div class="min-height--280">
    <div class="d-flex g-font--bold g-font--16 g-mt--10 g-text--uppercase align-items-center justify-content-center">
      <span>{{ healthLang.Titles.PaymentPlaces }}</span>
    </div>
    <div class="d-flex g-px--60 g-pt--10 g-mt--10 g-font--13 g-mb--40 text-center align-items-center justify-content-center">
      <span>{{ healthLang.Texts.PaymentPlaces }}</span>
    </div>
    <div class="g-mb--40">
      <client-bank-payment [withoutTexts]="true"></client-bank-payment>
    </div>
  </div>
</mf-modal>