<div class="g-bg-c--white1 g-box--shadow1 g-b-radius--3 g-b-radius-lg--10 w-100 g-mb--90 g-mb-lg--0">
  <!-- Mensaje -->
  <div class="g-p--10 g-py--20 g-p-lg--40">
    <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-pb--10">
      {{ title }}
    </div>
    <div class="text-center  g-px--20  g-py-lg--70">
      <div class="g-mb--20 g-pt--40 g-pt-lg--0">
        <img [src]="iconFree">
      </div>
      <div class="g-font--medium g-font--20 g-text--uppercase">
        {{ labelFree }}
      </div>
      <div class="g-pt--10 g-c--gray2 g-font--14 g-font--light">
        {{ messageFree }}
      </div>
    </div>
  </div>
  <!-- Acciones -->
  <div class="d-flex flex-column flex-md-row g-py--15 g-px--10 g-bt--1 g-bc--gray11 ">
    <div class="w-10 w-md-50 text-center g-mb--10">
      <button
        mf-button
        (click)="emitNoMPD()"
        [outline]="true"
        class="g-btn g-text--uppercase g-btn-primary size-md g-btn--default">
        {{ btnNoMPD }}
      </button>
    </div>
    <div class="w-10 w-md-50 text-center g-mb--10">
      <button
        mf-button
        (click)="emitConfirmMPD()"
        class="g-btn g-text--uppercase g-btn-primary size-md g-btn--default">
        {{ btnPurchase }}
      </button>
    </div>
  </div>
</div>
