  {{#content}}
    {{>molecules-messages}}
  {{/content}}

  <div class="text-center  g-mt--20 ">
    {{title}}
  </div>

  <div class="row justify-content-md-center text-center g-mt--20 g-mb--20 g-mt-lg--15 g-mb-lg--50 ">
    <div class="col col-lg-8 col-xl-6">
      {{#phone}}
        {{>organisms-phone}}
      {{/phone}}
    </div>
  </div>

  {{#link}}
    <div class="text-center">
      {{>atoms-buttons}}
    </div>
  {{/link}}