<div [ngClass]="{'g-full-form--load': showLoading()}">

  <!-- Forma de Pago -->
  <div>
    <client-payment-method [onlyForm]="true"></client-payment-method>
    <div class="d-flex g-px--20 g-px-lg--40 g-pb--30 g-pb-lg--40">
      <mf-checkbox *ngIf="conditionsLabel" class="d-block w-100" [label]="conditionsLabel"
        [extraLabel]="conditionsExtraLabel" (extraLabelAction)="openModal()" (change)="contionChange($event)">
      </mf-checkbox>
    </div>
  </div>
  <div class="d-sm-flex g-py--15 g-px--10 g-bt--1 g-bc--gray11">
    <div class="w-sm-5 order-2 text-center g-pl-sm--5 g-mb--15 g-mb-sm--0">
      <button mf-button [ngClass]="'mx-auto g-max-w--24 w-10'"
        [disabled]="!isAcceptContidion || (!paymentMethod.form.valid && paymentMethod.currentPaymentMode === paymentMethod.paymentMode.CARD)"
        (click)="verifyInfo()" ctrl="buttonPaymentOrGenerate"
        (domChange)="onDomChange($event, { method: getTabTxt(), txtBtn: getBtnTxt() })">
        <span
          *ngIf="paymentMethod.currentPaymentMode === paymentMethod.paymentMode.CARD">{{ generalLang.Buttons.Payment }}
          {{ quote.quota }}</span>
        <span
          *ngIf="paymentMethod.currentPaymentMode === paymentMethod.paymentMode.BANK">{{ paymentLang.PaymentOrder }}</span>
      </button>
    </div>
    <div class="w-sm-5 order-1 text-center g-pr-sm--5">
      <button mf-button [ngClass]="'mx-auto g-max-w--24 w-10'" outline (click)="gotoBack()" ctrl="backButton"
        (domChange)="onDomChange($event, { backButtonText: generalLang.Buttons.Back })">
        {{ generalLang.Buttons.Back }}
      </button>
    </div>
  </div>

</div>

<mf-modal [title]="lang.Step4.SendEmail.end.toUpperCase()" [confirm]="false" [titleMobile]="header.title.toUpperCase()"
  [secondTitleMobile]="lang.Step4.SendEmail.end.toUpperCase()" sizeClass="g-full-modal--medium">
  <div class="g-mx-lg--50 g-my-lg--20 g-font--13" [innerHTML]="indication"></div>
</mf-modal>