<div class="text-center py-4 py-lg-5 mx-auto" [ngClass]="{'w-px--24': !large}" *ngIf="show">
  <div class="mb-3">
    <img [src]="icon" alt="">
  </div>
  <div class="g-font--medium mb-1" [ngClass]="large? 'g-font--20': 'g-font--24'">{{ title }}</div>
  <div class="g-c--gray18">{{ text }} </div>
</div>
