<div class="mt-xs--2 g-mb--20">
  <mf-card>
    <mf-card-header hc
      [header]="title">
    </mf-card-header>
    <mf-card-content>
      <!-- Lista de Atenciones agendadas -->
      <mf-card-item *ngFor="let service of serviceList">
        <client-service-list-item [item]="service" [historical]=historical></client-service-list-item>
      </mf-card-item>
      <!-- Sin atennciones -->
      <client-item-not-found
        [imageTop]="false"
        [show]="!serviceList || (serviceList && !serviceList.length)"
        [icon]="icon"
        [title]="messageNotFound">
      </client-item-not-found>
    </mf-card-content>
  </mf-card>
</div>
