<div class="g-bg-c--gray12 g-bg-c--gray-xs--trasparent p-xs-0 p-lg-3 pt-xs--2 w-100 "
  [ngClass]="{ 'd-none d-lg-block': isHome }">

  <!-- Loader -->
  <mf-loader *ngIf="showLoading || !clientInformation"></mf-loader>

  <div class="g-bg-c--white d-flex align-items-center justify-content-sm-between flex-wrap flex-lg-nowrap" *ngIf="clientInformation">

    <!-- Datos del Usuario -->
    <client-user-profile *ngIf="clientInformation"
      [isHome]="isHome"
      [isEnterprise]="isEnterprise"
      [clientInformation]="clientInformation"
      (changeClientInformation)="getClientProfile()"
       class="w-100 g-o--hidden">
    </client-user-profile>

    <div class="g-bl-lg--1 w-100 w-lg-auto g-bt--1 g-bt-lg--0 g-bc--gray7" *ngIf="clientInformation">
      <div class="d-flex align-items-center">

        <!-- MAPFRE Dolares -->
        <client-user-mapfre-dolars
          [clientID]="clientID"
          [ngClass]="{'g-pl-lg--30 g-pr-lg--30': !((clientInformation.tipoUsuario !== userNotRegistered) && clientInformation?.tipoUsuario)}"
          *ngIf="showMPD"
          class="w-100"
        >
        </client-user-mapfre-dolars>

        <!-- Tipo de Usuario -->
        <div
          *ngIf="(clientInformation.tipoUsuario !== userNotRegistered) && clientInformation?.tipoUsuario"
          class="g-py--15 g-px--5 g-p-sm--15 w-100 g-min-w-sm--18"
        >
          <client-user-type *ngIf="clientInformation"
            [clientInformation]="clientInformation"
            [clientID]="clientID"
            class="">
          </client-user-type>
          <p class="m-0 w-100 text-center text-lg-left" *ngIf="isVisibleBenefitsLink && clientInformation?.tipoUsuario">
            <span
              class="g-c--green1 g-font--medium g-c--pointer"
              (click)="goToBenefits()"
              gaClick
              [gaCategory]="gaMyBenefits.category"
              [gaAction]="gaMyBenefits.action"
              [gaLabel]="gaMyBenefits.label">
              {{ myBenefits }}
            </span>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
