<!-- Título -->
<client-page-title [title]="titleVehiclesStolen" [message]="messageVehiclesStolen"></client-page-title>

<!-- Mensaje Ayuda -->
<client-notification-help [message]="textVehiclesStolenHelp"></client-notification-help>

<!-- Notificación de talleres preferentes -->
<client-notification-workshops></client-notification-workshops>

<!-- Banner App Download -->
<div class="row">
  <div class="col mb-xs--2">
    <client-banner-app-download></client-banner-app-download>
  </div>
</div>

<!-- Landing -->
<client-landing [landingContent]="landingContent" [ga]="ga"></client-landing>
