<div class="g-bg-c--white1 g-box--shadow1 mt-3 g-b-radius-lg--5 d-flex d-sm-none justify-content-between flex-wrap flex-lg-nowrap g-mh--10 w-100">
    <div class="d-flex justify-content-between flex-lg-nowrap g-mh--10 w-100 flex-column flex-lg-row flex-fill">
        <div
            class="w-5 w-md-6 w-lg-6 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
            <div class="g-font-lg--14 g-pl--15 text-nowrap">
                <div>
                    <img [src]="notificationIcon">
                    <span class="g-pl--10 g-font--medium"> {{ txtAppointment }} </span>
                </div>
            </div>

            <div class="text-nowrap d-flex flex-grow-1 g-pl-sm--45 g-pl--45 g-mr--20 justify-content-lg-end">
                <div (click)="goToServices()" ctrl="checkMyServices">
                    <a href="javascript:void(0)" class="g-c--green1 g-font--medium g-c--pointer g-link--green1">
                        {{ btnService }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>