<div class="g-mx-n--15">
  <div class="g-max-w-md--760 g-max-w-lg--690 mx-auto my-md-5 p-0">
    <div class="d-flex">
      <div class="ml-auto">
        <div class="tag--icon justify-content-center align-items-center d-none d-lg-flex g-bg-c--gray2 g-c--white1 mt-4 pl-2">
          <span class="icon-mapfre_014_perfil g-font--42"></span>
        </div>
      </div>
      <div [ngClass]="{'g-full-form--load': isSubmitting}"
        class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 none mr-auto g-max-w-md--60">
        <div class="g-p--15 g-px-md--60 g-pt-md--40 g-pb-md--15">
          <div class="g-font--18 g-font-md--20 g-text--uppercase g-font--medium">
            {{ langStep2.title }}
          </div>
          <div class="row">
            <div class="col-12">
              <div class="d-flex align-items-start align-items-md-center justify-content-between g-b-radius--5 g-bg-c--red7 g-bg-c--red7 g-b--1 g-bc--orange1 g-p--10 mt-2">
                <div class="d-flex ">
                  <span class="icon-mapfre_051_alerta g-font--30 g-c--orange1 g-pr--10"></span>
                  <div class="g-line--13 d-flex g-ie-flex--1 align-items-center flex-wrap">
                    <div *ngIf="flipTopMessage(); else elseBlock" class="g-c--orange1">
                        {{ langStep2.messagePhoto }}
                      </div>
                      <ng-template #elseBlock>
                        <div class="g-c--orange1">
                         {{ langStep2.messageDay1 }} {{ maximumConfirmationDaysPerRequest || '' }} {{ langStep2.messageDay2 }}
                        </div>
                      </ng-template>
                  </div>
                </div>
              </div>
              <div class="py-3">

                <div *ngIf="oldProfileSensibleData.nombre != newProfileSensibleData.nombre" class="g-bb--1 g-bc--gray7 pb-xs--1 mb-2">
                  <div class="g-c--gray2 g-font--light">{{ langStep1.form.LNames }}</div>
                  <div class="d-flex align-items-center">
                    <div class="w-px--10 w-md-4">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ oldProfileSensibleData.nombre }}</div>
                    </div>
                    <div class="g-px--15">
                      <span class="icon-mapfre_075_arrow-right g-font--25 g-font-md--21 g-c--gray1"></span>
                    </div>
                    <div class="">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ newProfileSensibleData.nombre }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="oldProfileSensibleData.apellidoPaterno != newProfileSensibleData.apellidoPaterno" class="g-bb--1 g-bc--gray7 pb-xs--1 mb-2">
                  <div class="g-c--gray2 g-font--light">{{ langStep1.form.LLastNameFather }}</div>
                  <div class="d-flex align-items-center">
                    <div class="w-px--10 w-md-4">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ oldProfileSensibleData.apellidoPaterno }}</div>
                    </div>
                    <div class="align-self-end g-px--15">
                      <span class="icon-mapfre_075_arrow-right g-font--25 g-font-md--21 g-c--gray1"></span>
                    </div>
                    <div class="align-self-end mr-auto pt-2">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ newProfileSensibleData.apellidoPaterno }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="oldProfileSensibleData.apellidoMaterno != newProfileSensibleData.apellidoMaterno" class="g-bb--1 g-bc--gray7 pb-xs--1 mb-2">
                  <div class="g-c--gray2 g-font--light">{{ langStep1.form.LLastNameMother }}</div>
                  <div class="d-flex align-items-center">
                    <div class="w-px--10 w-md-4">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ oldProfileSensibleData.apellidoMaterno }}</div>
                    </div>
                    <div class="g-px--15">
                      <span class="icon-mapfre_075_arrow-right g-font--25 g-font-md--21 g-c--gray1"></span>
                    </div>
                    <div class="">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ newProfileSensibleData.apellidoMaterno }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="oldProfileSensibleData.tipoDocumentoModificado != newProfileSensibleData.tipoDocumentoModificado" class="g-bb--1 g-bc--gray7 pb-xs--1 mb-2">
                  <div class="g-c--gray2 g-font--light">{{ langStep1.form.LTypeDocument }}</div>
                  <div class="d-flex align-items-center">
                    <div class="w-px--10 w-md-4">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ oldProfileSensibleData.tipoDocumentoModificado }}</div>
                    </div>
                    <div class="g-px--15">
                      <span class="icon-mapfre_075_arrow-right g-font--25 g-font-md--21 g-c--gray1"></span>
                    </div>
                    <div class="">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ newProfileSensibleData.tipoDocumentoModificado }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="oldProfileSensibleData.numeroDocumentoModificado != newProfileSensibleData.numeroDocumentoModificado" class="g-bb--1 g-bc--gray7 pb-xs--1 mb-2">
                  <div class="g-c--gray2 g-font--light">{{ langStep1.form.LNumberDocument }}</div>
                  <div class="d-flex align-items-center">
                    <div class="w-px--10 w-md-4">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ oldProfileSensibleData.numeroDocumentoModificado }}</div>
                    </div>
                    <div class="g-px--15">
                      <span class="icon-mapfre_075_arrow-right g-font--25 g-font-md--21 g-c--gray1"></span>
                    </div>
                    <div class="">
                      <div class="g-font--medium g-font--14 g-font-md--18">{{ newProfileSensibleData.numeroDocumentoModificado }}</div>
                    </div>
                  </div>
                </div>

                <div *ngIf="oldProfileSensibleData.fechaNacimiento != newProfileSensibleData.fechaNacimiento" class="g-bb--1 g-bc--gray7 pb-xs--1 mb-2">
                  <div class="g-c--gray2 g-font--light">{{ langStep1.form.LDateOfBirth }}</div>
                  <div class="d-flex align-items-center">
                    <div class="w-px--10 w-md-4">
                      <div class="g-font--medium g-font--14 g-font-md--18">
                        {{ formatDate(oldProfileSensibleData.fechaNacimiento) || withOutInformation }}</div>
                    </div>
                    <div class="g-px--15">
                      <span class="icon-mapfre_075_arrow-right g-font--25 g-font-md--21 g-c--gray1"></span>
                    </div>
                    <div class="">
                      <div class="g-font--medium g-font--14 g-font-md--18">
                        {{ formatDate(newProfileSensibleData.fechaNacimiento) }}</div>
                    </div>
                  </div>
                </div>

              </div>

              <div *ngIf="hasToUploadOnePicture || hasToUploadTwoPictures"
                class="g-border g-border--dashed g-bc--gray1 g-b-radius--5 p-xs--1 g-bg-c--gray5 mx-auto mx-md-auto g-max-w--inherit g-max-w--500">
                <div class="d-flex justify-content-center mx-xs-0 mx-md-4 mb-xs--1 mb-sm-1 mb-md-1">
                  <div class="px-1">
                    <span class="icon-mapfre_076_upload g-font--21 g-c--red1"></span>
                  </div>
                  <div class="g-font--medium g-font--14">{{ messageDocumentNew }}</div>
                </div>
                <div class="g-border g-border--dashed g-bc--gray1 g-b-radius--5 p-xs--2 m-xs-0 ml-md-5 mr-md-5 mb-md-4 mt-md-0">
                  <div
                    [ngClass]="{ 'is-drop-over': dragOver, 'text-center mb-3': true }"
                    ngFileDrop
                    [options]="options"
                    (uploadOutput)="onUploadOutput($event)"
                    [uploadInput]="uploadInput"
                    (drop)="removeAllFiles($event)">

                    <div class="content-img mx-1 mx-sm-3" *ngIf="files?.length === 0" (click)="openFileModal('ipUploadFileFront')">
                      <img class="g-c--pointer" src="assets/images/icons/add-img.svg" alt="agregar imagen frontal">
                      <div class="g-font--light text-nowrap">{{ langStep2.LFrontal }}</div>
                      <input id="ipUploadFileFront" type="file" style="display: none;" ngFileSelect
                        [options]="options" (uploadOutput)="onUploadOutput($event)"
                        [uploadInput]="uploadInput" (change)="removeAllFiles($event)"
                        accept="image/jpeg, image/png">
                    </div>

                    <!-- Preview -->
                    <div class="item-image mx-1 mx-sm-3" *ngIf="files?.length > 0 && fileUrl">
                      <figure>
                        <img [src]="fileUrl | safeHtml">
                      </figure>
                      <div class="content-recursos">
                        <div class="size">
                          {{ getSize(files[0].size) }}
                        </div>
                        <div class="btn-close" (click)="removeFile(files[0].id)">
                          <span class="icon-mapfre_121_close"></span>
                        </div>
                      </div>
                    </div>

                    <div
                      *ngIf="hasToUploadTwoPictures"
                      [ngClass]="{ 'is-drop-over': dragOverReverso, 'd-inline-block mx-1 mx-sm-3': true }"
                      ngFileDrop
                      [options]="options"
                      (uploadOutput)="onUploadOutputReverso($event)"
                      [uploadInput]="uploadInputReverso"
                      (drop)="removeAllFiles($event, false)">


                      <div class="content-img" *ngIf="filesReverso?.length === 0" (click)="openFileModal('ipUploadFileFrontRev')">
                        <img class="g-c--pointer" src="assets/images/icons/add-doc.svg" alt="agregar imagen del reverso">
                        <div class="g-font--light text-nowrap">{{ langStep2.LReverse }}</div>
                        <input id="ipUploadFileFrontRev" type="file" style="display: none;" ngFileSelect
                          [options]="options" (uploadOutput)="onUploadOutputReverso($event)"
                          [uploadInput]="uploadInputReverso" (change)="removeAllFiles($event, false)"
                          accept="image/jpeg, image/png">
                      </div>

                      <!-- Preview -->
                      <div class="item-image" *ngIf="filesReverso?.length > 0 && fileReversoUrl">
                        <figure>
                          <img [src]="fileReversoUrl | safeHtml">
                        </figure>
                        <div class="content-recursos">
                          <div class="size">
                            {{ getSize(filesReverso[0].size) }}
                          </div>
                          <div class="btn-close" (click)="removeFile(filesReverso[0].id, false)">
                            <span class="icon-mapfre_121_close"></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="g-font--light text-center">
                    {{ langStep2.LAdd }}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 g-bt--1">
          <div class="row g-py--10 g-py-md--15 g-px-md--20">
            <div class="col-6 text-center">
              <button class="g-btn g-btn--80 g-btn-outline px-0 g-text--uppercase" (click)="cancel()">{{ langStep2.BCancel }}</button>
            </div>
            <div class="col-6 text-center">
              <button
                (click)="sendData()"
                [disabled]="!isReadyToGo()"
                class="g-btn g-btn--80 g-text--uppercase px-0">{{ langStep2.BSubmit1 }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<mf-modal-message [confirmButtonText]="'Aceptar'" [success]="false"
  [messageDone]="titleAlert"
  [messageSuccessUpdate]="messageAlert"></mf-modal-message>
