<div class="g-ui-view">
  <div class="g-fixed">
    <div class="g-bg-c--gray5 g-flex-grow--1">
      <search-header></search-header>
      <section class="pt-4 pb-4">
        <div class="g-px--20 g-width">
          <router-outlet></router-outlet>
        </div>
      </section>
    </div>
    <search-footer class="g-flex-shrink--0"></search-footer>
  </div>
</div>
<mf-button-top image="assets/images/icons/up.png" marginBotton="85"></mf-button-top>
