<div class="g-tooltip g-tooltip-info g-tooltip-bottom-right">
  <span class="g-tooltip-icon icon-mapfre_048_tooltip g-c--gray1 g-font--25 g-font-md--21 g-p--5 g-c--pointer"></span>
  <div class="g-tooltip-message">
    <div class="g-tooltip-content">
    <span class="d-block g-font--medium mb-1 g-c--blue1">{{ title }}</span> {{ text }}
    </div>
  </div>
</div>
