<div [ngClass]="{'g-pt--40': appointment?.isEditable}"
  class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <mf-stepper [currentStep]='3' [stepList]="stepList" *ngIf="!appointment?.isEditable || validCovid">
  </mf-stepper>

  <client-form-base 
    (actionCancel)="actionCancel()" 
    (actionConfirm)="actionConfirm()" 
    [btnCancel]="btnCancel"
    [btnConfirm]="btn?.Buttons?.Next"
    [disableConfirm]="(selectedTab === 0 && !frmTab0?.valid) || (selectedTab === 1 && !frmTab1?.valid)"
    [iconClass]="fileIcon"
  >
    <div class="g-p--20 g-p-lg--40">
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between">
        <div class="g-w-lg--50">
          <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            DETALLES DE LA CITA MÉDICA
            <p class="g-font--14 g-font--normal">Filtra por fecha o doctor y elige los datos de tu cita médica.</p>
          </div>
        </div>
      </div>

      <mf-tab-top *ngIf="validCovid" 
        (selected)="onSelectTab($event)" 
        [local]="true" 
        [selectedTab]="selectedTab"
        [tabItemsList]="tabList" 
        class="c-tab--secondary">
      </mf-tab-top>

      <div class="tab-1" [formGroup]="frmTab0" *ngIf="selectedTab === 0">
        <div *ngIf="appointment?.tipoCita === 'P' || !validCovid" class="g-w-100 g-pr-lg--15 g-pb--10"  
          [ngClass]="{'g-full-form--load': showLoadingClinic, 'c-frm--disabled': appointmentOnEdit}">
          <mf-select 
            (getLoadingState)="getLoadingStateClinic($event)"
            (getSelectedOpt)="changeClinic($event)"
            [dependent1]="params"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent5]="modality" 
            [frm]="frmTab0"
            [config]="configClinics" 
            [label]="'Seleccione Centro Médico'" 
            [name]="'clinicaId'"
            [type]="'clinicBySpeciality'"
            [showEnableWhenHasOneItem]="true" 
            formControlName="clinicaId">
          </mf-select>
        </div>

        <div *ngIf="appointment?.tipoCita === 'P'" class="g-w-100 g-pr-lg--15 g-pb--10" 
          [ngClass]="{ 'c-frm--disabled': !frmTab0?.value?.clinicaId, 'g-full-form--load': showLoadingDate  && frmTab0?.value?.clinicaId}">
          <mf-input-datepicker 
            (getLoadingState)="getLoadinStateDate($event)" 
            [actionType]="'byDate'"
            [dependent1]="clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent5]="modality" 
            [frm]="frmTab0"
            [label]="'Seleccione una fecha disponible del doctor para su cita'" 
            [name]="'fecha'"
            formControlName="fecha">
          </mf-input-datepicker>
        </div>

        <div *ngIf="appointment?.tipoCita === 'V'" class="g-w-100 g-pr-lg--15 g-pb--10" 
          [ngClass]="{ 'g-full-form--load': showLoadingDate }">
          <mf-input-datepicker 
            (getLoadingState)="getLoadinStateDate($event)" 
            [actionType]="'byDate'"
            [dependent1]="clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent5]="modality" 
            [frm]="frmTab0"
            [label]="'Seleccione una fecha disponible del doctor para su cita'" 
            [name]="'fecha'"
            formControlName="fecha">
          </mf-input-datepicker>
        </div>
        
        <div class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{'c-frm--disabled': !frmTab0?.value?.fecha, 'g-full-form--load': showLoadingHours && frmTab0?.value?.fecha}">
          <mf-select 
            (getLoadingState)="getLoadingStateHours($event)"
            (getSelectedOpt)="getSelectedHour($event)"
            [dependent1]="!validCovid ? clinicaId : clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent3]="frmTab0?.value?.fecha"
            [dependent5]="modality" 
            [frm]="frmTab0"
            [dataPatient]="dataPatient"  
            [config]="configHoursByDate" 
            [label]="'Hora disponible'" 
            [name]="'horaInicio'"
            [type]="'horaInicio'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab0?.value?.fecha" 
            formControlName="horaInicio">
          </mf-select>
        </div>
        <div class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{'cx-card-invisible': !validCovid, 'c-frm--disabled': !frmTab0?.value?.horaInicio, 'g-full-form--load': showLoadingDoctors && frmTab0?.value?.horaInicio}">
          <mf-select 
            (getLoadingState)="getLoadingStateDoctor($event)" 
            (getSelectedOpt)="getSelectedDoctorByDate($event)"
            (getSelectedOptDoctor)="getSelectedOptDoctorArr($event)"
            [dependent1]="!validCovid ? clinicaId : clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent3]="frmTab0?.value?.fecha"
            [dependent4]="frmTab0?.value?.horaInicio" 
            [dependent5]="modality"  
            [frm]="frmTab0"
            [citaCovid]="true" 
            [dataPatient]="dataPatient" 
            [config]="configDoctorsByDate" 
            [label]="'Doctor de turno'" 
            [name]="'doctorId'"
            [type]="'doctorByDate'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab0?.value?.horaInicio" 
            formControlName="doctorId">
          </mf-select>
        </div>
      </div>

      <div class="tab-2" [formGroup]="frmTab1" *ngIf="selectedTab === 1">
        <div *ngIf="appointment?.tipoCita === 'P' || !validCovid" class="g-w-100 g-pr-lg--15 g-pb--10"  
          [ngClass]="{'g-full-form--load': showLoadingClinic, 'c-frm--disabled': appointmentOnEdit}">
          <mf-select 
            (getLoadingState)="getLoadingStateClinic($event)"
            (getSelectedOpt)="changeClinic($event)"
            [dependent1]="params"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent5]="modality" 
            [frm]="frmTab1"
            [config]="configClinics" 
            [label]="'Seleccione Centro Médico'" 
            [name]="'clinicaId'"
            [type]="'clinicBySpeciality'"
            [showEnableWhenHasOneItem]="true"
            formControlName="clinicaId">
          </mf-select>
        </div>

        <div *ngIf="appointment?.tipoCita === 'P'" class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{ 'c-frm--disabled': !frmTab1?.value?.clinicaId, 'g-full-form--load': showLoading  && frmTab1?.value?.clinicaId}">
          <mf-select 
            (getLoadingState)="getLoadingState($event)" 
            (getSelectedOpt)="getSelectedDoctorByDoctor($event)"
            [dependent1]="frmTab1?.value?.clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent5]="modality" 
            [frm]="frmTab1"
            [dataPatient]="dataPatient" 
            [config]="configDoctors" 
            [label]="'Doctor de turno'" 
            [name]="'doctorId'"
            [type]="'doctorByDoctor'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab1?.value?.clinicaId"
            formControlName="doctorId">
          </mf-select>
        </div>

        <div *ngIf="appointment?.tipoCita === 'V'" class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{'g-full-form--load': showLoading}">
          <mf-select 
            (getLoadingState)="getLoadingState($event)" 
            (getSelectedOpt)="getSelectedDoctorByDoctor($event)"
            [dependent1]="clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent5]="modality" 
            [frm]="frmTab1"
            [dataPatient]="dataPatient" 
            [config]="configDoctors" 
            [label]="'Doctor de turno'" 
            [name]="'doctorId'"
            [type]="'doctorByDoctor'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab1?.value?.clinicaId"
            formControlName="doctorId">
          </mf-select>
        </div>

        <div class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{'c-frm--disabled': !frmTab1?.value?.doctorId, 'g-full-form--load': showLoadingDateByDoctor && frmTab1?.value?.doctorId}">
          <mf-input-datepicker 
            (getLoadingState)="getLoadingStateDateByDoctor($event)" 
            [actionType]="'byDoctor'"
            [dependent1]="clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent3]="frmTab1?.value?.doctorId"
            [dependent5]="modality" 
            [frm]="frmTab1" 
            [label]="'Fecha'" 
            [name]="'fecha'" 
            formControlName="fecha">
          </mf-input-datepicker>
        </div>

        <div class="g-w-100 g-pr-lg--15 g-pb--10"
          [ngClass]="{'c-frm--disabled': !frmTab1?.value?.fecha, 'g-full-form--load': showLoadingHours  && frmTab1?.value?.fecha}">
          <mf-select 
            (getLoadingState)="getLoadingStateHours($event)"
            (getSelectedOpt)="getSelectedHourByDoctor($event)"
            [dependent1]="clinicaId"
            [dependent2]="appointment?.especialidad?.especialidadId" 
            [dependent3]="frmTab1?.value?.doctorId"
            [dependent4]="frmTab1?.value?.fecha" 
            [dependent5]="modality"
            [frm]="frmTab1"
            [dataPatient]="dataPatient"  
            [config]="configHoursByDate" 
            [label]="'Hora disponible'" 
            [name]="'horaInicio'"
            [type]="'horaInicioByDoctor'" 
            [showEnableWhenHasOneItem]="true"
            [isValid]="frmTab1?.value?.fecha" 
            formControlName="horaInicio">
          </mf-select>
        </div>

      </div>
    </div>
  </client-form-base>
</div>
<mf-modal-message (confirmResponse)="onConfirmModal($event)" [confirm]="true"
  [messageDone]="graLng.Messages.EstimatedUser" [messageSuccessUpdate]="graLng.Messages.DeleteData"
  [pathIcon]="iconError" [sizeClass]="'g-modal--medium'">
</mf-modal-message>