
    <div class="g-border g-b-radius--5  g-mt--20  g-o-hidden {{boxClass}}">

      <div class="{{headClass}}">
        <div class="row no-gutters">

          <div class="col  g-pt--15   g-pb--10   g-pl--20   g-pr--15 ">
            <span class="g-font--medium">{{title}}</span>
          </div>
          <div class="g-inline-block g-pt--15 g-pb--10 g-px--15 g-bl--1 g-bc--gray7">
            <div class="text-right">
              <span class="icon-mapfre_053_eliminar g-font--21 g-c--pointer g-modal--link g-c--pointer" data-modal="delete"></span>
            </div>
          </div>

        </div>
      </div>

      <div class=" g-pb--20  g-pl--20 g-pr--20 {{wrapClass}}">
        {{#itemInsured}}
          {{>organisms-insured}}
        {{/itemInsured}}
      </div>

    </div>