 <div class="d-flex">
  <div class="">
    {{#icon}}
      {{>molecules-icon-tag}}
    {{/icon}}
  </div>

  <div class="g-bg-c--white1 g-p--20  g-px-lg--25   g-box--shadow1 g-b-radius--5">

    <div class="g-font--18 g-font-md--20 g-text--uppercase g-font--medium">
      {{title}}
    </div>
    <div class=" g-mb--15  g-c--gray1">
      {{subtitle}}
    </div>

    <div class="row">

      <div class="col-12  g-mb--20 ">
        {{#contracting}}
          {{>organisms-contracting}}
        {{/contracting}}
      </div>

      <div class="col-12  g-mb--20 ">
        {{#associated}}
          {{>organisms-associated}}
        {{/associated}}
      </div>

    </div>

    <div class="text-center  g-mb--20 ">
      Al hacer clic acepto la política de <span class="g-underline g-c--green1 g-modal--link g-c--pointer" data-modal="{{dataPrivacy}}" onclick="{{onclickPrivacy}}">protección de datos</span> <br class="d-none d-md-block">
      y doy consentimiento al envío de <span class="g-underline g-c--green1 g-modal--link g-c--pointer" data-modal="{{dataElectronic}}" onclick="{{onclickElectronic}}">póliza electrónica</span>
    </div>

    {{#buttomLink}}
      <div class="text-center">
        {{>atoms-buttons}}
      </div>
    {{/buttomLink}}

  </div>
</div>

{{#privacy}}
  {{>templates-fm-privacy}}
{{/privacy}}

{{#electronic}}
  {{>templates-fm-electronic}}
{{/electronic}}