  <div class="g-box--shadow1 g-bg-c--white1 g-b-radius--5  g-mt--20 ">
    {{>organisms-table}}
  </div>

  {{#buttonLink}}
    <div class="text-center  g-mt--20 ">
      {{>atoms-buttons}}
    </div>
  {{/buttonLink}}