<!-- Loading -->
<mf-loader *ngIf="showLoader"></mf-loader>

<ng-container *ngIf="!showLoader">
  <div class="view-household pt-xs--2" *ngIf="policyFound">
    <div class="row">
      <div class="col mb-xs--2">
        <!-- Detail -->
        <client-card-detail-policy [policyNumber]="policyNumber">
          <div class="row">
            <div class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex">
              <client-card-policy-basic-info></client-card-policy-basic-info>
            </div>
            <div class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex">
              <client-card-payment-policy
                (paymentView)="goPayment($event)"
                (edit)="goPaymentSetting()">
              </client-card-payment-policy>
            </div>
            <div class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex">
              <client-card-contracting-info></client-card-contracting-info>
            </div>
          </div>
        </client-card-detail-policy>
      </div>
    </div>
    <!-- Detail -->
    <div class="row">
      <div class="col">
        <client-card-policy-insured-grouped
          [policyNumber]="policyNumber"
          [policyType]="policyType"
          [codCia]="codCia"
          [codRamo]="codRamo"
          [numSpto]="numSpto"
          [mpKeys]="mpKeys"
          [isPPFM]="isPPFM">
        </client-card-policy-insured-grouped>
      </div>
    </div>
    <!-- Cuotas de mi póliza -->
    <div class="row">
      <div class="col mb-xs--2">
        <client-card-my-fees [policyType]="policyType" [ga]="ga"></client-card-my-fees>
      </div>
    </div>
    <!-- Qué quieres hacer -->
    <div class="row">
      <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
        <client-card-what-you-want-to-do [policyType]="policyType"></client-card-what-you-want-to-do>
      </div>
    </div>
  </div>

  <div class="view-household pt-xs--2" *ngIf="!policyFound">
    <div class="row">
      <div class="col">
        <client-item-not-found
          [show]="true"
          [text]="textNotFound">
        </client-item-not-found>
      </div>
    </div>
  </div>
</ng-container>
