<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>

<!-- Card de pago EPS contratante -->
<mf-card *ngIf="!showLoading">
  <mf-card-header
    [header]="paymentLang.Titles.CardPayment"
    [icon]="iconCard"
    [collapsed]="collapse"
    (expand)="collapse = $event"
    hlg>
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event" wpd>
    <div
      class="g-font--light d-flex justify-content-between d-flex-1-auto g-bt--1 g-bc--gray11 g-ie-mh--14 box-height-fix">
      <div class="d-flex g-ie-flex--0-1-auto g-p--15 g-p-lg--20 g-pl-lg--25 g-pb-lg--25">
        <div class="d-none d-lg-flex w-px--9">
          <span class="g-c--gray18 g-font--65" [ngClass]="iconCard"></span>
        </div>

        <div class="w-10">
          <div class="g-items">
            <!-- Title -->
            <div class="g-items-list d-none d-lg-flex g-mt--5">
              <div class="g-items-text g-font--18 g-font--medium">{{ paymentLang.Titles.CardPayment }}</div>
            </div>
            <!-- Subtitle -->
            <div class="g-items-list d-flex g-mt--5">
              <div class="g-items-text g-c--gray3">{{ epsPaymentCardSubtitle }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pl-xs--1 pt-xs--2 pr-xs--2" *ngIf="enableEdit">
        <span (click)="editClick()" class="icon-mapfre_035_edit g-c--pointer g-c--green1 g-font--18"></span>
      </div>
    </div>

    <!-- Vigencia anual -->
    <mf-card-item-icon [icon]="medicalExpensesIcon" [text]="methodPaymentLang.AnnualVigency">
      <span class="g-pl--5">|</span>
      <span
        class="g-c--green1 g-text-uppercase g-font--medium g-c--pointer g-ml--5"
        (click)="tableViewClick()"
        (domChange)="onDomChange($event, {})">
        {{ paymentLang.Buttons.ViewTable }}
      </span>
    </mf-card-item-icon>

    <!-- Facturación mensual -->
    <mf-card-item-icon [icon]="porcentageIcon" [text]="methodPaymentLang.MonthlyBilling">
      <span *ngIf="enablePaymentsLink" class="g-pl--5">|</span>
      <span
        *ngIf="enablePaymentsLink"
        class="g-c--green1 g-text-uppercase g-font--medium g-c--pointer g-ml--5"
        (click)="paymentViewClick()"
        (domChange)="onDomChange($event, {})">
        {{ paymentLang.Buttons.ViewPayment }}
      </span>
    </mf-card-item-icon>
  </mf-card-content>
</mf-card>

<!-- Modal de conceptos de pago -->
<mf-modal
  *ngIf="openModalPaymentConcept"
  [title]="methodPaymentLang.AnnualVigency.toUpperCase()"
  [titleMobile]="policyTypes.MD_SALUD.title"
  [secondTitleMobile]="methodPaymentLang.AnnualVigency">
  <form [formGroup]="formPaymentConcept" class="g-mb--40">
    <div class="g-pb--30">
      <div class="d-flex flex-column flex-lg-row">
        <div class="w-100">
          <mf-select
            formControlName="combo"
            (getSelectedOpt)="getSelectedOpt($event)"
            [label]="methodPaymentLang.PlanName"
            [options]="paymentConceptListItems"
          >
          </mf-select>
        </div>
        <div class="w-100"></div>
      </div>
    </div>
    <div class="table-vigencia">
      <div class="table-vigencia--header">
        <p class="w-100 g-py--10"></p>
        <p class="w-100 title-rigth text-center">
          {{ paymentConceptTatbleTitle }}
        </p>
      </div>
      <div class="table-vigencia--cont" *ngFor="let item of currentPaymentConceptItem">
        <p class="w-100 text-left">{{ item.descConcepto }}</p>
        <p class="w-100 text-rigth text-center">{{ item.price }}</p>
      </div>
    </div>
  </form>
</mf-modal>
