<form [formGroup]="form" [ngClass]="{'g-full-form--load': showLoading}">

  <!-- Email incorrecto o usuario no encontrado -->
  <div class="row justify-content-md-center mb-xs--1" *ngIf="showMessageError">
    <div class="col col-lg-10">
      <mf-custom-alert [status]="status" [text]="messageError"></mf-custom-alert>
    </div>
  </div>

  <!-- Tipo y numero de documento -->
  <client-input-identity *ngIf="form"
    [form]="form"
    (changeData)="changeData($event)">
  </client-input-identity>

  <!-- Acciones -->
  <div class="g-mt--60">
    <div class="row mb-xs--2" *ngIf="form && !showMessageError">
      <button
        mf-button
        class="g-btn--default"
        [disabled]="!form.valid"
        (click)="recoverUser()"
        [gaClick]="gaNext.event"
        [gaCategory]="gaNext.category"
        [gaAction]="gaNext.action"
        [gaLabel]="gaNext.label"
      >
        {{ btnNext }}
      </button>
    </div>

    <div class="row mb-xs--1 g-mb-lg--100">
      <button
        mf-button
        outline
        class="g-btn--default"
        (click)="goBack()"
        [gaClick]="gaBack.event"
        [gaCategory]="gaBack.category"
        [gaAction]="gaBack.action"
        [gaLabel]="gaBack.label"
      >
        {{ btnBack }}
      </button>
    </div>
  </div>
</form>
