input[type='date']::-webkit-calendar-picker-indicator {
  background: url('./../../../assets/images/icons/icon-cartasgarantia-calendar.svg') no-repeat;
  background-position-y: center;
  background-position-x: center;
}

::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 300;
}
