<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>

<!-- Card de contrato EPS -->
<mf-card *ngIf="!showLoading && !noContent">
  <mf-card-header
    [header]="epsContract.title"
    [icon]="epsContract.icon"
    [collapsed]="collapse"
    (expand)="collapse = $event"
    hlg>
  </mf-card-header>

  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event" wpd>
    <div class="g-font--light d-flex justify-content-between d-flex-1-auto g-bt--1 g-bc--gray11 g-ie-mh-lg--14 box-height-fix">
      <div class="d-flex g-ie-flex--0-1-auto g-p--15 g-p-lg--20 g-pl-lg--25 g-pb-lg--25">
        <div class="d-none d-lg-flex w-px--9">
          <span class="g-c--gray18 g-font--65" [ngClass]="epsContract.icon"></span>
        </div>

        <div class="w-7 w-lg-10 d-flex flex-column flex-lg-row flex-fill position-relative">
          <div class="w-100 g-c--gray3 mb-2 mb-lg-0">
            <!-- Contrato EPS -->
            <div class="g-mt--5">
              <div class="g-text--uppercase g-font--18 g-font--medium">{{ epsContract.title }}</div>
            </div>

            <!-- Número de contrato -->
            <div class="g-mt--5">
              {{ epsContract.number }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Inicio de vigencia -->
    <mf-card-item-icon [icon]="calendarIcon" [text]="epsContract.vigencyStart"></mf-card-item-icon>

    <!-- Última renovación -->
    <mf-card-item-icon
      *ngIf="epsContract.lastRenewal"
      [icon]="shieldIcon"
      [text]="epsContract.lastRenewal">
    </mf-card-item-icon>

    <!-- Fin de vigencia -->
    <mf-card-item-icon [icon]="calendarIcon" [text]="epsContract.vigencyEnd"></mf-card-item-icon>
  </mf-card-content>
</mf-card>
