<div class="g-mt--25 g-mt-lg--50">
  <div class="mx-auto g-mb-lg--50 g-max-w-lg--57">
    <div class="g-bg-c--white1 g-box-lg--shadow1 g-b-radius--5 g-b-radius-lg--10 w-100 g-max-w-lg--690 mr-auto g-mb--20 g-mb-lg--0">
      <div class="d-flex align-items-center justify-content-center flex-wrap">
        <div class="text-center px-4 g-mt-lg--60 g-mt-md--20 g-max-w--570 mx-auto g-mb-lg--50 g-px--0 g-py--50 g-py-md--20">
          <img class="g-mr--10 g-mb--20" [src]="completeIcon">

          <div class="g-font--medium g-font--20">
            {{ lang.Title }}
          </div>

          <div class="g-px-lg--50 g-pt--10 g-c--gray2">
            {{ lang.Desciption1 }} {{ refund.hoursConfirm }} {{ lang.Desciption2 }}
          </div>
        </div>
      </div>
      <div class="w-100 g-bt--1 g-bc--gray11">
        <div class="d-flex g-py--10 align-items-center justify-content-center">
          <button (click)="finish()" class="g-btn g-c--pointer d-sm-inline-block g-mw--24 g-text--uppercase">
            {{ generalLang.Buttons.goToStart }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
