<mf-modal [title]="titleUpdateEmail"
          [titleMobile]="detailRoute?.title"
          [secondTitleMobile]="titleUpdateEmail"
          [confirm]="true"
          [disableButton]="!allowInputChecks"
          [showLoading]="showLoading"
          (confirmResponse)="saveForm($event)">
  <div class="pb-5 px-lg-5">
    <mf-custom-alert *ngIf="emailExistFail" [status]="status" [text]="messageEmailExistFail"></mf-custom-alert>
    <div class="">
      <form [formGroup]="formEmail">
        <div class="row">
          <div class="col-12">
            <mf-input label="{{ labelEmail }}" [enableCheck]="email.valid"
                      [formControl]="email" [maxlength]="generalMaxLength.email" [error]="showErrors('email')"></mf-input>
            <mf-show-errors [control]="email"></mf-show-errors>
          </div>
          <div class="col-12 ">
            <mf-input label="{{ labelConfirmEmail }}" [maxlength]="generalMaxLength.email" [enableCheck]="allowInputChecks"
                      [formControl]="validEmail" [error]="showErrors('validEmail')"></mf-input>
            <mf-show-errors [control]="validEmail" [word]="messageEmail"></mf-show-errors>
          </div>
        </div>
      </form>
    </div>
  </div>
</mf-modal>

<mf-modal-message
  *ngIf="showModalMessage"
  [success]="successEmailSave"
  [messageDone]="messageDone"
  [messageSuccessUpdate]="messageSuccessUpdate">
</mf-modal-message>
