<mf-card>

  <!-- Header -->
  <mf-card-header [header]="data.titleMyPolicies" hc></mf-card-header>

  <!-- Contenido -->
  <mf-card-content dropdown-close>

    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

    <!-- Sin polizas -->
    <mf-card-item *ngIf="listPolicies && !listPolicies.length && !showLoading">
      <div class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10">
        <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
          <div class="px-2 my-3 my-lg-0">
            <client-icon-policies class="" [policyType]="policyType"></client-icon-policies>
          </div>
          <div class="g-items-text pl-lg-3">
            <div class="g-font--20 mb-0 g-font--medium">{{ messageWithoutPolicies }}</div>
          </div>
        </div>
      </div>
    </mf-card-item>

    <!-- Listado -->
    <ng-container *ngIf="listPolicies">

      <mf-card-item *ngFor="let item of listPolicies">

        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
          <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <client-icon-policies [policyType]="item.policyType"></client-icon-policies>
          </div>

          <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">

            <div class="w-100 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">

              <div class="g-font--medium text-lg-truncate g-text--uppercase" [title]="item.policy">
                {{ item.policy }}
              </div>

              <div [title]="item?.response?.colectivoAsegurado">
                <div class="mb-0 text-lg-truncate">{{ item?.response?.colectivoAsegurado }}</div>
              </div>

              <div *ngIf="item.insured?.length === 1">
                <div class="mb-0 text-lg-truncate">
                  {{ item.insured[0].fullName }}
                </div>
              </div>

              <br class="d-none d-lg-inline-block" *ngIf="item.insured?.length > 1">
              <client-dropdown-items-policy
                *ngIf="item.insured?.length > 1"
                [policyNumber]="item.policyNumber"
                [policyType]="item.policyType"
                [items]="item.insured"
                [descripcionItem]="'fullName'">
              </client-dropdown-items-policy>
            </div>

            <!-- Número de póliza y semaforo -->
            <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--30 g-font--13">
              <div class="mb-0 text-nowrap" [title]="item.policyNumberTitle">
                {{ item.policyNumberLabel }}
              </div>

              <div class="mb-0 text-nowrap d-flex align-items-center">
                <!-- TODO: cuando el servicio de polizas SCTR devuelva el atributo semaforo reemplazar: item.warning ? 'g-c--yellow1' : 'g-c--green1' por item.bulletColor -->
                <span
                  class="icon-mapfre_066_circle g-font--10 pr-1"
                  [ngClass]="item.bulletColor"></span>
                <span>
                  {{ item.warning ? data.labelCurrentPolicy : data.labelVigencyPolicy }}{{ item.endDate }}
                </span>
              </div>
            </div>

            <!-- Cobertura -->
            <div class="px-lg-3 w-px-lg--17">
              <div class="mb-0 text-nowrap" [ngClass]="item.coverageStatus === coverageStatus.SIN_COBERTURA ? colorStatus.RED : ''">
                {{ item.isVisibleCoverage ? item.coverageStatus : '' }}
              </div>
              <div class="mb-0 text-nowrap d-none d-lg-block">
                &nbsp;
              </div>
            </div>
          </div>

          <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--15 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1">
            <a href="javascript:void(0)" (click)="goToDetail(item)" class="g-c--green1 g-font--medium g-c--pointer g-link--green1"
              ctrl="linkViewDetail" (domChange)="onDomChange($event, { label: data.labelViewDetail, policy: item.policy, policyNumber: item.policyNumber, coverageStatus: item.coverageStatus })">
              {{ data.labelViewDetail }}</a>
          </div>

        </div>

      </mf-card-item>
    </ng-container>

  </mf-card-content>
</mf-card>
