<div class="view-my-policies pt-xs--2">
  <div class="row pb-lg--5">
    <div class="col mb-xs--2">
      <client-card-my-policies
        [disableCollapse]="disableCollapse"
        [disableIcon]="disableIcon"
        [hasPaginator]="true"
        [isVisibleFilterHeader]="true"
      >
      </client-card-my-policies>
    </div>
  </div>
</div>
