<router-outlet></router-outlet>

<!-- Loading full screen -->
<ng-container *ngIf="loader">
  <mf-loader-full-screen
    [fullScreen]="true"
    [description]="descriptionLoader"></mf-loader-full-screen>
</ng-container>

<!-- Errores -->
<mf-modal-alert
  [confirmButtonText]="btnConfirm">
  <div class="container error text-center pb-lg--5 pb-xs--5" *ngIf="errorModalContent">
    <div class="g-message--icon mt-5 mb-3" [ngClass]='errorModalContent.icon' *ngIf="errorModalContent.icon"></div>
    <img class="g-mw--6 mt-5 mb-4" [src]="errorModalContent.image" *ngIf="errorModalContent.image">
    <div class="g-font--18 g-font-md--18 g-font--medium g-c--gray8">
      {{ errorModalContent.title }}
    </div>
    <div class="g-c--gray8 row justify-content-md-center block g-message--secondary">
      {{ errorModalContent.message }}
    </div>
    <div class="g-c--gray8 row justify-content-md-center block g-message--secondary">
      {{ errorModalContent.suggestion }}
    </div>
  </div>
</mf-modal-alert>
