<div class="g-tab--top position-relative">
  <div class="g-tab--nav-left" *ngIf="showArrowLeft" (click)="goToLeft()">
    <span class="icon-mapfre_034_angle2-left"></span>
  </div>

  <div [ngClass]="{ row: full }">
    <div #boxMin class="g-tablist g-bt--1 g-bc--gray11" [ngClass]="{ 'g-box--shadow3': shadow }" role="tablist">
      <ul class="g-inner">
        <!-- Con Rutas -->
        <ng-container *ngIf="!local else localTabs">
          <li *ngFor="let item of tabItemsList"
            ctrl="liTabTop" (domChange)="onDomChange($event, { tabTopText: item.name })"
            [routerLinkActive]="['g-tablist__tab--active']"
            [routerLink]="[routeRelative(item.route)]"
            [queryParams]="activatedRoute.queryParams | async"
            class="g-tablist__tab g-font--medium"
          >
            <span>{{ item.name }}</span>
          </li>
        </ng-container>

        <!-- Accion en mismo componente -->
        <ng-template #localTabs>
          <li *ngFor="let item of tabItemsList; let i = index"
            ctrl="liTabTop" (domChange)="onDomChange($event, { tabTopText: item.name })"
            (click)="onSelect(item.value, i)"
            class="g-tablist__tab g-font--medium"
            [ngClass]="{ 'g-tablist__tab--active': i === selectedTab, 'g-tablist__tab--disabled': disabled }"
          >
            <span>{{ item?.name }}</span>
            <span class="tab-icon" [ngClass]="item?.icon" *ngIf="item?.icon"> </span>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>

  <div class="g-tab--nav-right" *ngIf="showArrowRight" (click)="goToRight()">
    <span class="icon-mapfre_033_angle2-right"></span>
  </div>
</div>
