<div class="g-bg-c--white1 w-100 g-mb-lg--0"
    [ngClass]="{'g-full-form--load': showLoading, 'g-box--shadow1 g-b-radius--3 g-b-radius-lg--10 g-mb--90': !onlyForm }">
    <div class="g-p--10 g-py--20 g-p-lg--40">
        <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-pb--10">
            {{ lang.MethodPayment }}
        </div>
        <div class="tab-content" *ngIf="currentPaymentMode === paymentMode.CARD">
            <!-- Formulario de tarjeta -->
            <div *ngIf="useForm">
              <!--Formulario token-->
              <div class="g-c--gray2 g-font--medium g-font--16 g-pt--30 g-px--10 g-px-lg--0">
                  {{ lang.CardDetail }}
              </div>
              <div class="d-flex flex-wrap w-100 g-px--10 g-px-lg--0" style="display: none;">
                  <div class="c-payment">
                      <div class="kr-embedded" id="formPayment">
                          <!-- payment form fields -->
                          <div>
                              <div class="kr-pan" kr-tab-order="1"></div>
                              <div class="kr-expiry" kr-tab-order="2"></div>
                              <div class="kr-security-code" kr-tab-order="3"></div>
                          </div>
                          <!-- error zone -->
                          <div class="kr-form-error"></div>
                          <div class="sg-pattern-example">
                              <div class="g-checkbox ">
                                  <label class="d-flex g-ie-flex--0-1-auto kr-pb-1">
                                      <input type="checkbox" id="chbSaveCards">
                                      <span class="checkbox" ></span>
                                      <span class="kr-chb-text">Guardar esta tarjeta para futuros pagos y compras</span>
                                  </label>
                              </div>
                          </div>
                          <div class="sg-pattern-example" *ngIf="showChbAutoDebit">
                              <div class="g-checkbox">
                                  <label class="d-flex g-ie-flex--0-1-auto kr-pb-1">
                                      <input type="checkbox" id="chbAutoDebit" disabled>
                                      <span class="checkbox" ></span>
                                      <span class="kr-chb-text">Habilitar débito automático
                                          <span class="kr-text-mini" id="spanele">¿Cómo funciona?
                                              <div class="primero">
                                                  <div class="msj-emergente">
                                                  <strong class="pregunta">¿Como funciona el débito automático?</strong>
                                                  <br />
                                                  <label class="respuesta">El débito automático es una modalidad de pago que perminte abonar de manera
                                                      automática, sin estar pendientes de las fechas de pago.</label>
                                                  <br />
                                                  <div class="cont-img-respuesta">
                                                      <img alt="" class="img-respuesta" src="assets/images/cards/payment_imgcard.svg" width="170px">
                                                  </div>
                                                  </div>
                                              </div>
                                          </span>
                                      </span>
                                  </label>
                              </div>
                          </div>
                          <!-- payment form submit button -->
                          <button class="kr-payment-button d-none">{{ paymentButtonText }}</button>
                      </div>
                  </div>
              </div>
            </div>
            <!-- Listado de tarjetas -->
            <div *ngIf="thereAreSavedCards && !useForm">
              <div class="g-c--gray10 g-mb--15">{{ titleSavedCards }}</div>
              <div class="d-flex g-box--shadow1 align-items-lg-center justify-content-between flex-wrap flex-lg-nowrap" *ngFor="let tarjeta of listSavedCards">
                <label class="d-flex align-items-lg-center h-100 g-m--0 w-100">
                  <div class="g-br--1 g-bc--gray11">
                      <div class="g-radio d-flex align-items-center g-m--0 g-py--20 g-pl--20">
                        <input type="radio" name="radioCard" [value]="tarjeta" [(ngModel)]="selectedCard">
                        <span class="radio "></span>
                        <span></span>
                      </div>
                  </div>
                  <div class="g-px--20 g-pt--20 g-pt-lg--0 d-flex flex-column flex-fill w-7 w-lg-10">
                      <div class="">
                          <img class="g-box--shadow1 " [src]="getImageCardByType(tarjeta.tipo)" alt="Icono de tarjeta">
                          <span class="g-font--medium g-c--gray2 g-pl--20 g-text--uppercase">{{ tarjeta.numero }}</span>
                      </div>
                  </div>
                </label>
              </div>
              <div *ngIf="alloToUseOtherCards" class="g-mt--15">
                <mf-card-action-link *ngIf="thereAreSavedCards && !useForm">
                  <div
                    (click)="useOtherCard()"
                    class="d-flex align-items-center g-c--pointer g-c--green1"
                    ctrl="linkActions">
                    <div><span class="icon-mapfre_055_card g-font--25 g-font-md--21"></span></div>
                    <div class="text-nowrap ml-2 g-font--medium">Usar otra tarjeta</div>
                  </div>
                </mf-card-action-link>
              </div>
            </div>
            <!-- Pago bancario -->
        </div>
        <client-bank-payment *ngIf="currentPaymentMode === paymentMode.BANK && !quoataEmited"></client-bank-payment>
        <client-bank-payment-soat *ngIf="currentPaymentMode === paymentMode.BANK && quoataEmited">
        </client-bank-payment-soat>
        <!-- Boton -->
        <div *ngIf="!onlyForm && !hiddenBtnPayment" class="d-flex g-p--15 g-bt--1 g-bc--gray11">
            <div class="w-10 text-center ">
                <button #buttonPay (click)="_emitSubmit()" [disabled]="thereAreSavedCards && !selectedCard && !useForm && currentPaymentMode === paymentMode.CARD"
                    class="g-btn g-text--uppercase g-btn-primary size-md g-btn--default">
                    {{
                    currentPaymentMode === paymentMode.CARD ? generalLang.Buttons.Payment :
                    quoataEmited? generalLang.Buttons.goToStart : lang.PaymentOrder
                    }}
                    {{ currentPaymentMode === paymentMode.CARD ? totalAmount || '' : '' }}
                </button>
            </div>
        </div>
    </div>
</div>

<mf-modal-alert [noMinHeight]="true" [disableTopClose]="true" (confirmResponse)="onConfirmModal($event)">
    <div class="m-auto text-center g-py--20 g-px--20">
        <div class=" text-center g-mb--20"><img [src]="modalImg" alt="complete"></div>
        <div class="g-font--18 mb-4 g-font--medium">{{ modalText }}</div>
    </div>
</mf-modal-alert>
