<div class="g-p--15 g-br--1 g-b-lg--0 g-bc--gray7 g-full-form--load g-full-form--load--without-bg" [ngClass]="{'g-full-form--load':isVisibleLoader}">
  <span [ngClass]="{ 'h-hidden': isVisibleLoader }">
    <div class="g-font--30 mb-xs--0">
      <span class="g-font--16 g-font-lg--26 g-font--bold">M$ {{ mpd?.int || 0 }}</span>
      <span class="g-font--16 g-font-lg--18 g-font--bold g-font-lg--medium">.{{ mpd?.dec || 0 }}</span>
    </div>
    <div class="d-flex align-content-between justify-content-center">
      <div class="text-nowrap pr-1 d-flex align-items-center">
        <span class="g-font--medium g-font--13">{{ title }}</span>
      </div>

      <!-- Tooltips -->
      <div class="position-relative d-flex g-ml--5" *ngIf="contentToolTip">
        <mf-tooltips>
          <div class="text-left text-left g-font--13 g-font--light g pb-2 g-font--13 g-font--bold">{{ titleToolTip }} </div>
          <div class="g-font--12 g-font--normal text-left">{{ contentToolTip }}</div>
        </mf-tooltips>
      </div>
    </div>
    <p class="m-0 w-100 text-center text-lg-left">
      <span class="g-c--green1 g-font--medium g-c--pointer" (click)="goToMD()"
      gaClick [gaCategory]="'Portal Del Cliente'" [gaAction]="'MFP - Ver mis movimientos'" [gaLabel]="'Ir a: ' + lang.Titles.ViewMovements">{{ lang.Titles.ViewMovements }}</span>
    </p>
  </span>
</div>
