<div class="g-bg-c--white1 g-box--shadow1 {{contentTabs}}">
  {{#tabs}}
    <div class="{{tabsClass}}">
      {{>molecules-tabs}}
    </div>
  {{/tabs}}
  {{#cardTitle}}
    <div class="{{addClass}}">
      {{#contentCard}}
        <div class="{{contentClass}}">
          {{#text}}
            <div class="{{textClass}}">{{{text}}}</div>
          {{/text}}
        </div>
      {{/contentCard}}
    </div>
  {{/cardTitle}}
  <div class="">
    {{#boxHead}}
      {{>molecules-header-box}}
    {{/boxHead}}

    <div class="g-pb--30 g-pt--10 g-px--10 g-px-md--20">
      {{#title}}
        <div class="{{textClass}}">{{{text}}}</div>
      {{/title}}
      {{#cardInfo}}
        {{>molecules-cardbox-clinicas}}
      {{/cardInfo}}
    </div>
  </div>
</div>