<mf-card>
  <mf-card-header [header]="titleCard" [collapsed]="collapse" (expand)="collapse = $event" hal>
    <mf-card-actions-link class="w-10--active">
      <mf-card-action-link class="w-10">
        <div
          class="g-box-icons--item d-flex align-items-center g-ml-lg--15 g-mb--20 g-mb-lg--0 w-10 g-mr-n-lg--15"
          *ngIf="configUI?.hasFilter"
        >
          <div class="mr-3 g-c--gray9">{{ nameSelect }}:</div>
          <div class="w-10">
            <div class="g-select-desing w-10 p-0 w-px-lg--13">
              <label class="g-placeholder"></label>
              <form [formGroup]="formFilter">
                <select formControlName="typeSelect">
                  <option *ngFor="let option of options" [value]="option.value">{{ option.text }}</option>
                </select>
              </form>
              <span class="icon-mapfre_004_triangle-down ico-select"></span>
            </div>
            <span class="txt-error"></span>
          </div>
        </div>
      </mf-card-action-link>
    </mf-card-actions-link>
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <div class="">
      <ng-content></ng-content>
    </div>
  </mf-card-content>
  <mf-card-footer *ngIf="totalRecords > lengthRecords && !collapse && configUI?.hasShowMore">
    <mf-link-green
      [text]="generalLang.Buttons.ViewAll"
      [routerLink]="configUI?.routerLinkViewAll"
      ctrl="linkViewAll"
      (domChange)="onDomChange($event, { viewAllText: generalLang.Buttons.ViewAll })"
    ></mf-link-green>
  </mf-card-footer>
</mf-card>
