<div class="sect-container">

  <div class="row d-flex flex-lg-row flex-lg-nowrap">

    <!-- Banner -->
    <div class="g-bg-c-lg--gray23 text-truncate g-img-mw-lg w-10">
      <img [img-loader]="pathImgBanner.lg" [img-sm]="pathImgBanner.sm" [img-xl]="pathImgBanner.xl">
    </div>

    <!-- Formulario -->
    <div class="w-px-lg--36 h-10 w-100 g-mx--15 g-mx-lg--0">
      <div class="d-flex flex-column  g-box--shadow1 g-bg-c--white1 h-100">
        <div class="g-bg-c--gray8 g-py--15 g-pl--15 g-pr--15 pl-lg--4 pr-lg--4  d-flex align-items-center justify-content-center g-ie-flex--0-1-auto">
          <div class="g-font-lg--18 g-font--16 g-font--medium g-c--white1">{{ titleQuote }}</div>
        </div>
        <div class="pl-xs--3 pl-lg--4 pr-xs--3 pr-lg--4 pt-xs--3 pt-lg--4 pb-xs--3">
          <div class="text-center g-font--16 g-py--25 g-px--5 g-font--light">{{ textQuote }}</div>
          <div class="justify-content-center w-100 mt-xs--4 mt-lg--5 text-center">
            <button mf-button class="g-btn--mobile w-lg-10 d-lg-block"
            (click)="eventQuote()"
            gaClick
            [gaCategory]="gaQuoteNow.category"
            [gaAction]="gaQuoteNow.action"
            [gaLabel]="gaQuoteNow.label">
              {{ btnQuote }}
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-xs--2">
    <div class="col-12 d-flex ">
      <div class="g-services--item g-bg-c--white1 g-c--gray8 g-b--1  d-flex flex-column g-b-radius--3 g-box--shadow1 w-10 mb-3 mb-lg-4">

        <!-- Como Funciona -->
        <client-how-to-work [content]="howItWorks"></client-how-to-work>

        <!-- Opciones de Pago -->
        <client-payment-options [content]="paymentOptions"></client-payment-options>

      </div>
    </div>
  </div>

  <!-- Top Seguros -->
  <client-insurance-plans [content]="insuranceTop" (eventQuote)="eventQuote()"></client-insurance-plans>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <!-- Preguntas Frecuentes -->
  <client-faqs [faqs]="faqs" [masonry]="true" (more)="openModalMoreFaqs()"></client-faqs>

</div>

<!-- Modal Contacted by Agent -->
<client-modal-contacted-by-agent *ngIf="showModal" [policyType]="policyType"></client-modal-contacted-by-agent>

<!-- Preguntas frecuentes -->
<client-modal-more-faqs *ngIf="showModalFaqs" [faqs]="faqs" [subTitle]="subTitleFaq"></client-modal-more-faqs>
