<div [id]="insuredFragment" class="mb-xs--2" *ngFor="let insuredGrouped of listInsuredGrouped">
  <mf-card>

    <mf-card-header [header]="insuredGrouped.insuredType" [icon]="iconCard" [collapsed]="insuredGrouped.collapse"
      (expand)="insuredGrouped.collapse = $event">
    </mf-card-header>

    <mf-card-content [collapse]="insuredGrouped.collapse" (collapse-mobile)="insuredGrouped.collapse = $event">
        <mf-card-item
          *ngFor="let insured of insuredGrouped.listInsured" >
          <div [ngClass]="{'c-inbox_affiliate is-editing': insuredGrouped.theyAreEditing && !insured.isEdit, 'g-full-form--load': insured.showLoading}">
            <div
              [ngClass]="{'g-bg-c--gray5': insured?.isVisibleDependent }"
              class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100 c-affiliate-item">
              <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
                <span class="g-items-icon g-font--30 g-font-lg--40 icon-mapfre_014_perfil"></span>
              </div>

              <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 d-flex align-items-lg-center flex-fill g-o-lg--hidden mt-3 mb-3 flex-column">
                <div class="w-100 d-flex flex-column flex-lg-row align-items-lg-center my-1 py-lg-1 p-3">
                  <div class="flex-grow-1 mb-2 mb-lg-0 g-o-lg--hidden px-lg-3">
                    <div>
                      <span class="g-font--medium">{{ getFullName(insured) }}</span>
                    </div>
                    <div>
                      <div class="mb-0 text-lg-truncate">{{ getRelation(insured) }}</div>
                    </div>
                  </div>
                  <div *ngIf="!insured.isEdit" class="d-flex align-items-lg-center flex-column flex-lg-row">
                    <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--16 g-font--13">
                      <div class="text-nowrap ">{{ insured.tipoDocumento }}: {{ insured.documento }}</div>
                    </div>
                    <div class="px-lg-3 w-px-lg--25">
                      <div>
                        <div class="mb-0 text-nowrap">
                          <span class="g-items-icon icon-mapfre_128_telephone g-mr--5"></span>{{ getPhone(insured.telefono)
                          }}
                        </div>
                        <div class="mb-0 d-flex">
                          <span class="g-items-icon icon-mapfre_060_mail g-mr--5 g-mt--3"></span>
                          <span class="w-10 text-lg-truncate g-pr--15" [attr.title]="insured.correoElectronico">{{
                            getEmail(insured)
                            }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div [formGroup]="frmHolder" *ngIf="insured.isEdit" class="d-flex align-items-center flex-column flex-lg-row ng-untouched ng-valid ng-dirty">
                    <div class="w-100 w-px-lg--20 px-lg-3">
                      <client-input-with-icon
                        [classIcon]="frmHolder?.value[insured?.frmNamePhone] ? (closeIcon + ' g-c--gray9'): ''"
                        [frm]="frmHolder" [name]="insured?.frmNamePhone" [pointer]="true">
                        <mf-input [dontWhiteSpace]="true" [error]="frmHolder?.controls[insured?.frmNamePhone].invalid"
                          [label]="'Teléfono de contacto'" [maxlength]="18" [Number]="true" [type]="'tel'"
                          formControlName="{{ insured?.frmNamePhone }}">
                        </mf-input>
                        <mf-show-errors [control]="frmHolder?.controls[insured?.frmNamePhone]"></mf-show-errors>
                      </client-input-with-icon>
                    </div>
                    <div class="w-100 w-px-lg--24 px-lg-3">
                      <client-input-with-icon
                        [classIcon]="frmHolder?.value[insured?.frmNameEmail] ? (closeIcon + ' g-c--gray9'): ''"
                        [frm]="frmHolder" [name]="insured?.frmNameEmail" [pointer]="true">
                        <mf-input [error]="frmHolder?.controls[insured?.frmNameEmail].invalid"
                          [label]="'Correo Electrónico'" [maxlength]="50" formControlName="{{ insured?.frmNameEmail }}">
                        </mf-input>
                        <mf-show-errors [control]="frmHolder?.controls[insured?.frmNameEmail]"></mf-show-errors>
                      </client-input-with-icon>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Edit -->
              <div (click)="edit(insured, insuredGrouped)" *ngIf="mpKeys.MP_VER_EDITAR_ASEGURADO && checkByTypeOfPolice() && !insured.isEdit && !showLoading && insured.tipoAseguradoId !== insuredTypes.BENEFICIARY_CODE && !isPPFM"
                class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column">
                <span
                  class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-mapfre_035_edit g-c--green1 p-lg-3 p-1"></span>
              </div>
              <span *ngIf="showLoading"
                class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column">
                <span [spinnerPdf]="true"></span>
              </span>

              <!-- Save cancel -->
              <div *ngIf="insured.isEdit && !showLoading"
                class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--13 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2 flex-lg-column">
                <span (click)="save(insured, insuredGrouped)" [ngClass]="{'c-frm--disabled': frmHolder?.invalid}"
                  class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 w-100 p-lg-3 p-1 text-center">
                  <span class="icon-checked g-c--green1">
                  </span>
                </span>
                <span (click)="reset(insured, insuredGrouped)"
                  class="h-100 align-items-center d-flex justify-content-center g-c--pointer g-font--18 icon-comeback g-c--green1 p-1 p-lg-3 w-100 text-center">
                </span>
              </div>
            </div>
          </div>
        </mf-card-item>
    </mf-card-content>

  </mf-card>
</div>

<div class="mb-xs--2" *ngIf="showLoading">
  <mf-loader></mf-loader>
</div>
