<div class="sect-container">

  <div class="row d-flex flex-lg-row flex-lg-nowrap">

    <!-- Banner -->
    <div class="g-bg-c-lg--gray23 text-truncate g-img-mw-lg w-10">
      <img [img-loader]="pathImgBanner.lg" [img-sm]="pathImgBanner.sm" [img-xl]="pathImgBanner.xl">
    </div>

    <!-- Formulario -->
    <div class="w-px-lg--36 h-10 w-100 g-mx--15 g-mx-lg--0">
      <client-form-request-refund
        (getSelectedPolicy)="changedPolicy($event)"
        [ga]="ga"
      >
      </client-form-request-refund
        >
    </div>

  </div>

  <div class="g-bg-c--white1 g-c--gray8 g-b--1 g-box--shadow1 g-mx-n--15 g-mt--20 g-mb-lg--20">
    <!-- Como Funciona -->
    <div class="g-py--10">
      <client-how-works [data]="howRefundWorks"
        [stepsClass]="'justify-content-lg-between w-px-lg--77 mx-auto'"></client-how-works>
    </div>
  </div>

</div>
