<div class="g-text-uppercase text-center g-pt-lg--100 pb-3">
  <div class="g-font--20 g-font--bold">
    <span class="g-c--red1"> {{ lang.Guarantees }}
      <span class="g-c--gray2">{{ lang.PersonalSecurity }}</span>
    </span>
  </div>
  <div class="g-font--14 gfontMedium g-c--gray2">
    {{ lang.Description }}
  </div>
</div>
<div class="d-flex flex-wrap card--box justify-content-center">
  <div class="card--box--item mb-4">
    <div class="card--box--image"><img alt="" src="assets/images/steps/1.png"></div>
    <div class="card--box--content pl-sm-3">
      <div class="card--box--title g-font-md--20 g-font-xl--24 g-font--medium g-line--11">{{ lang.Step1.Title }}</div>
      <div class="card--box--description mt-2">
        <ul class="g-list green">
          <li>{{ lang.Step1.Description }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card--box--item mb-4">
    <div class="card--box--image"><img alt="" src="assets/images/steps/2.png"></div>
    <div class="card--box--content pl-sm-3">
      <div class="card--box--title g-font-md--20 g-font-xl--24 g-font--medium g-line--11">{{ lang.Step2.Title }}</div>
      <div class="card--box--description mt-2">
        <ul class="g-list green">
            <li>{{ lang.Step2.Description }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card--box--item mb-4">
    <div class="card--box--image"><img alt="" src="assets/images/steps/3.png"></div>
    <div class="card--box--content pl-sm-3">
      <div class="card--box--title g-font-md--20 g-font-xl--24 g-font--medium g-line--11">{{ lang.Step3.Title }}</div>
      <div class="card--box--description mt-2">
        <ul class="g-list green">
          <li> {{ lang.Step3.Description }}
             <a class="g-c--green1 g-text--underline g-font--medium" [href]="'mailto:' + emailcontact">{{ emailcontact }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
