{{#bannerForm}}
  <div class="{{addClass}}">

    {{#bannerImg}}
      <div class="{{addClass}}">
        <img class="d-block d-md-none" src="{{imgMobile}}" alt="">
        <img class="d-none d-md-block d-xl-none" src="{{imgSrcLg}}" alt="">
        <img class="d-none d-xl-block" src="{{imgSrcXl}}" alt="">
      </div>
    {{/bannerImg}}

    {{#cardForm}}
      <div class="{{cardClass}}">
        {{>organisms-card-head}}
      </div>
    {{/cardForm}}

  </div>
{{/bannerForm}}

{{#CardBox}}
  <div class="{{contentClass}} ">

    {{#title}}
      <div class="{{textClass}}">{{{text}}}</div>
    {{/title}}

    {{#alert}}
      {{>atoms-alert}}
    {{/alert}}

    {{#stepDrivers}}
      <div class="{{addClass}}">

        {{#conteiner}}
        <div class="{{conteinerClass}}">

          {{#img}}
          <img src="{{src}}" alt="" class="{{imgClass}}">
          {{/img}}

          {{#number}}
          <div class="{{textClass}}">
            {{text}}
          </div>
          {{/number}}

          {{#content}}
          <div class="{{contentClass}} ">
            <div class="{{textClass}}"> {{{text}}} </div>
          </div>
          {{/content}}

        </div>
        {{/conteiner}}

      </div>
    {{/stepDrivers}}

  </div>
{{/CardBox}}

