<div class="g-filterbox">

  <div class="g-filterbox--mobile d-flex d-md-none justify-content-around patternlab-none">
    <div class="g-filterbox--click-filter d-flex flex-column text-center g-c--pointer">
      <div class="icon-mapfre_098_filter g-font--21"></div>
      <div class=" g-mt--5 g-font--13">
        Filtro
      </div>
    </div>
    <div class="g-filterbox--click-search d-flex flex-column text-center g-c--pointer">
      <div class="icon-mapfre_099_search g-font--21"></div>
      <div class=" g-mt--5 g-font--13">
        Buscar
      </div>
    </div>
  </div>

  <div class="g-filterbox--desktop g-filterbox--show g-bg-c--white1 h-100 g-box--shadow1 {{addClass}}">

    <div class="h-100 g-bg-c--white1 g-map-filter--column d-block g-map-filter--column">

      {{#title}}
      <div class="g-filterbox--title g-bg-c--gray8 g-c--white1 text-center g-p--10 g-font--18  g-font--medium {{titleClass}}">
        {{title}}
      </div>
      {{/title}}

      <div class="g-filterbox--title g-filterbox--list g-none justify-content-between align-items-center g-px--15 g-bb--1 h-px--5">
        <div class="g-font--medium g-text--uppercase g-font--18 ">
          LISTADO DE CLÍNICAS
        </div>
        <div>
          <span class="g-filterbox--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
        </div>
      </div>

      <div class="g-filterbox--header {{contentHeaderFilterClass}}">
        <div class="d-flex g-p--10 g-p-md--15 align-items-center">
          <div class="g-filterbox--click  g-mr--15 ">
            {{#filterClick}}
              {{>atoms-items}}
            {{/filterClick}}
          </div>
          <div class="w-10">
            {{#search}}
              {{>atoms-mf-search}}
            {{/search}}
          </div>
        </div>
      </div>

      <div class="g-filterbox--content {{filterNotFoundClass}}" >
        {{#filterNotFound}}
        {{#header}}
        <div class="d-flex justify-content-between align-items-center g-px--15 g-bb--1 h-px--5">
          <div class="g-font--medium g-text--uppercase g-font--18 ">
            FILTRAR
          </div>
          <div>
            <span class="g-filterbox--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
          </div>
        </div>
        {{/header}}

        <div class="h-100 d-flex align-items-center justify-content-center pl-lg--6 pr-lg--6">
          <div class="g-py--25 text-center">
            <div class=" g-mb--15 ">
              <img src="../../images/pngs/icon-search.png" alt="" class="mx-auto g-block">
            </div>
            <div class="g-font--medium g-font--24  g-mb--5  g-c--gray9">
              {{title}}
            </div>
            <div class="g-font--light g-line--10 g-c--gray9">
              {{description}}
            </div>
          </div>
        </div>

        {{/filterNotFound}}

        <div class="g-px--10 g-map-filter--content" data-simplebar>
          {{#listItems}}
            {{>organisms-results}}
          {{/listItems}}
        </div>
      </div>
    </div>

    {{#filterOpen}}
    <div class="g-filterbox--filter {{filterAddClass}}">

      <div class="g-filterbox--header d-flex justify-content-between align-items-center g-px--15 g-bb--1 h-px--5">
        <div class="g-font--medium g-text--uppercase g-font--18 ">
          FILTRAR
        </div>
        <div>
          <span class="g-filterbox--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
        </div>
      </div>

      <div class="g-filterbox--content-filter d-flex flex-column">
        <div class="g-p--15">
          {{#select1}}
          <div class="{{selectClass}}">
            {{>atoms-mf-select}}
          </div>
          {{/select1}}

          {{#input}}
          <div class="{{inputClass}}">
            {{>atoms-mf-input}}
          </div>
          {{/input}}

          <div class="{{classTitleCheck}}">
            {{{titleCheck}}}
          </div>

          {{#checkbox}}
          <div class="{{checkboxClass}}">
            {{>atoms-mf-checkbox}}
          </div>
          {{/checkbox}}

          <div class="row">
            {{#select2}}
            <div class="{{selectClass}}">
              {{>atoms-mf-select}}
            </div>
            {{/select2}}
          </div>
        </div>

        <div class="g-filterbox--footer d-flex text-center g-p--15 mt-auto">
          <div class="w-50 g-pr--5">
            <div class="g-btn g-text--uppercase block g-btn-outline g-c--pointer  g-px--10 ">
              Limpiar filtros
            </div>
          </div>
          <div class="w-50 g-pl--5">
            <div class="g-btn g-text--uppercase block g-c--pointer  g-px--10 ">
              Aplicar
            </div>
          </div>
        </div>

      </div>
    </div>
    {{/filterOpen}}

    {{#detail}}
    <div class="g-filterbox--filter {{filterAddClass}}">

      <div class="g-filterbox--header d-flex justify-content-between align-items-center g-px--15 g-bb--1 h-px--5">
        <div class=" {{titleDetailClass}}">
          {{{titleDetail}}}
        </div>
        <div>
          <span class="g-filterbox--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
        </div>
      </div>

      <div class="g-filterbox--content-filter d-flex flex-column">
        <div>
          <img class="w-100 d-block" src="../../../images/maps-detail.jpg" alt="">
        </div>
        <div>
          {{#subTitle}}
            <div class="g-px--20  g-pt--20 ">
              <div class="{{class}}">{{text}}</div>
            </div>
          {{/subTitle}}
          {{#alert}}
            <div class="g-px--20">
              {{>atoms-alert}}
            </div>
          {{/alert}}
          {{#list}}
            <div class="{{classCont}}">
              <div>
                <span class="{{ico}} {{color}} {{class}}"></span>
              </div>
              <div>
                <div class="{{classText}}">{{text}}</div>
                {{#link}}
                  <div class="{{class}}">{{text}}</div>
                {{/link}}
              </div>
            </div>
          {{/list}}
          <div class="g-px--20  g-pt--20 ">
            {{#list2}}
              {{#title}}
                <div class="g-font--14 g-font--medium  g-pb--10 ">{{text}}</div>
              {{/title}}
              <div class="d-flex align-items-center g-py--10">
                <div class="d-flex align-items-center">
                  <span class="{{ico}} {{classIco}}"></span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="{{classText}}">{{text}}</div>
                </div>
              </div>
            {{/list2}}
          </div>
        </div>
      </div>
    </div>
    {{/detail}}

  </div>
</div>
