<!-- Mensaje -->
<div class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 g-max-w-md--60 mr-auto">

  <div class="d-flex align-items-center justify-content-center flex-wrap g-pt--40 g-pl--40 g-pr--40 g-pb--10">

    <!-- Icono -->
    <div class="g-mb--20 ">
      <img [src]="content.icon">
    </div>

    <!-- Texto -->
    <div class="justify-content-md-center w-10">
      <div class="text-center w-10">
        <div class="g-font--medium g-font--16 g-font-md--20 g-text--uppercase g-px--15 g-px-lg--0">{{ content.title }}</div>

        <div class="w-px--24 w-px-sm--35 w-lg-auto mx-auto g-pt--10 g-c--gray2 g-mb--10 text-center">
          <span class="g-font--light" [innerHTML]="content.content"></span><span class="g-font--medium" style="padding-left: 3px;">{{ content.emailText }}</span>
          <!-- Tooltips -->
          <div class="d-block d-lg-inline-block" *ngIf="content.tooltips">
            <div class="g-font--medium d-inline-block">{{ digitalPlatform }}</div>
            <div class="position-relative d-inline-block g-ml--5 g-pos--3" *ngIf="content.tooltips">
              <mf-tooltips>
                <div class="text-left g-font--13 g-pb--10 g-font--bold">{{ content.tooltips.title }}
                </div>
                <div class="text-left g-font--13 g-pb--5 g-font--normal">{{ content.tooltips.text }}</div>
                <div *ngIf="content.tooltips.items">
                  <ol class="g-list-number">
                    <li class="text-left g-font--13 g-pl--5 g-font--light" *ngFor="let text of content.tooltips.items">{{ text }}</li>
                  </ol>
                </div>
              </mf-tooltips>
            </div>
          </div>
        </div>

        <!-- Advertencia -->
        <div class="g-mx--15 g-mx-lg--0 g-my--20 text-left g-font--13 g-font-md--14" *ngIf="content.warning">
          <ng-container>
            <mf-custom-alert [status]="status" [text]="content.warning"></mf-custom-alert>
          </ng-container>
        </div>

        <div class="g-mx--15 g-mx-lg--0">
          <div class="g-bt--1 g-bl--1 g-br--1 g-b-radius-t--5 g-font--13 g-font-md--14" [ngClass]="{'': content.emailText}">

            <!-- Correo -->
            <div class="w-10 g-py--15" *ngIf="false">
              <div class="g-font--light">{{ content.emailLabel }}</div>
              <div class="g-font--medium">{{ content.emailText }}</div>
            </div>

            <!-- Monto -->
            <div class="w-10 g-py--10" *ngIf="content.amountText" [ngClass]="{'g-bt--1': content.emailText}">
              <div class="g-font--light text-center">{{ content.amountLabel }}:</div>
              <div class="g-font--medium text-center g-font-md--18">{{ content.amountText }}</div>
            </div>

            <!-- Detalle de Pago -->
            <div class="g-pb--10 g-px--15 g-px-md--40" *ngIf="content.table && content.table.title">
              <div class="d-flex justify-content-between g-my--5">
                <div class="g-font--medium ">{{ content.table.title }}</div>
              </div>
              <div class="d-flex justify-content-between g-my--5" *ngFor="let detail of content.table.rows">
                <div class="g-font--light">{{ detail.label }}</div>
                <div [ngClass]="{'g-font--light': !detail.bold, 'g-font--medium': detail.bold}">
                  {{ detail.amount }}
                </div>
              </div>
            </div>

          </div>
          <div class="g-bt--1 g-bl--1 g-br--1 g-bb--1 g-b-radius-t--5 g-font--13 g-font-md--14" *ngIf="content.confirmFormData">
            <!-- Detalle Tarjeta -->
            <div class="w-10 g-py--10" [ngClass]="{'g-bt--1': content.emailText}">
              <div class="g-font--light text-center">{{ content.confirmFormData.paymentMethodLabel }}:</div>
              <div class="g-font--medium text-center g-font-md--15">
                <span>
                  <img class="g-box--shadow1 " [src]="getImageCardByType(content.confirmFormData.panCardType)" alt="Icono de tarjeta">
                </span>
                {{ content.confirmFormData.panCard }}
              </div>
            </div>

            <!-- Detalle de checkbox seleccionados -->
            <div class="w-10 g-py--10" [ngClass]="{'g-bt--1': content.emailText}" *ngIf="content.confirmFormData.paymentMethodDetail.length > 0">
              <div class="g-font--light text-left" style="padding-left: 40px;" *ngFor="let chbDetail of content.confirmFormData.paymentMethodDetail">
                <span class="g-list--ico icon-mapfre_003_check" style="color: #8db602; padding-right: 5px;">
                </span>
                {{ chbDetail }}
              </div>
            </div>
          </div>
          <div class="w-10 mt-4 text-left" [ngClass]="{'g-bt--1': content.emailText}" *ngIf="!content.isSoat">
            <div class="w-10 order-1 order-lg-2">
              <!-- Pagos resumen -->
              <client-card-quota [quote]="content.quote"></client-card-quota>
            </div>
          </div>

          <br/>

          <div class="g-bt--1 g-bl--1 g-br--1 g-b-radius-t--5 g-font--13 g-font-md--14"
              [ngClass]="{'g-bg-c--gray5': selectedAutomaticDebit}"
               *ngIf="showCardAfiliation()" [ngClass]="{'': content.emailText}">
            <div class="w-10 g-py--10 g-flex pl-3 pr-3" [ngClass]="{'g-bt--1': content.emailText}">
              <!-- Bloque para pago automático-->
              <div class="pl-1 pr-1">
                <img alt="img payment autopay" src="assets/images/cards/payment_autopay.svg" style="width: 90px; padding-top: 15px; padding-right: 7px;">
              </div>
              <div class="pl-1 pr-1">
                <div class="g-font--13 g-font--medium text-left">{{autoDebitTitle}}</div>
                <div class="g-font--light g-font--12 text-left pt-1">{{autoDebitDesc}}</div>
                <div class="g-c--pointer" (click)="showTermsAndConditions()" style="color: #8db602; padding-right: 7px; padding-top: 5px; font-size: 12px; font-weight: bold; float: left;">
                  Ver términos y condiciones del servicio
                </div>
              </div>
              <div class="pl-1 pr-1">
                <div class="g-font--light g-bc--gray11 text-nowrap">
                  <mf-switch [disabled]="disableAutomaticDebit" size="small" #checkBoxAddress (change)="changeCheckBox($event)" (valueChange)="selectedAutomaticDebit"> </mf-switch>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Documento de pago -->
    <div class="g-bl--1 g-br--1 w-10 g-mx--15 g-mx-lg--0"
      [ngClass]="{'': content.warning, 'g-mt--10': !content.warning}" *ngIf="paymentNumber">
      <div class="d-flex flex-column flex-md-row g-br-md--1">
        <div class="g-p--10 text-center flex-fill">
          <div class="g-font--light g-font--13"> {{ labelDocument }}:</div>
          <div class="g-font--medium g-font--18 "> {{ documentData }}</div>
        </div>
      </div>

      <!-- Bancos afiliados -->
      <div class="g-p--5 g-bt--1">
        <div class=" g-p--10 text-center g-bt--1 g-bt-md--0 g-font--light flex-fill">
          <div class="g-font--13">{{ labelBankPaymentCode }}:</div>
          <div class="g-font--medium">{{ paymentNumber }}</div>
        </div>
        <client-bank-payment [confirm]="true"></client-bank-payment>
      </div>
    </div>

    <div class="w-10 g-mx--15 g-mx-lg--0 g-mb--15 g-mb-md--0">
      <!-- Datos del bien -->
      <ng-content select="[riskData]"></ng-content>

      <!-- Datos de compra -->
      <ng-content select="[buyData]"></ng-content>

      <!-- Descarga de app -->
      <ng-content select="[app]"></ng-content>
    </div>


  </div>

  <!-- Continuar -->
  <div class="d-flex g-p--15 g-bt--1 g-bc--gray11 justify-content-center">
    <div class="w-100">
      <div class="g-btn g-text--uppercase g-btn-primary w-10 d-block g-max-w--24 mx-auto g-c--pointer" (click)="goToAction()">
        {{ content.button }}
      </div>
    </div>
  </div>
</div>

<mf-modal-alert
  [confirmButtonText]="'ACEPTAR'"
  [isDisabledAutoClose]="true"
  [noMinHeight]="true"
  (confirmResponse)="confirmModal($event)"
  [sizeClass]="sizeModal"
  [outline]="outlineModal">
  <div class="m-auto text-center g-py--20 g-px--20">
    <div class=" text-center g-mb--20" *ngIf="withImageModal">
      <img [src]="'assets/images/services/icon-fail.svg'" [alt]="'Oops!'">
    </div>
    <div class="g-font--18 mb-4 g-font--medium">{{ titleModal1 }}</div>
    <div [innerHTML]="descrModal1"></div>
  </div>
</mf-modal-alert>

