<ul class="tab-header g-mb--0">
  <li
    (click)="onTabSelected(paymentMode.CARD)"
    class="d-flex justify-content-between align-items-center"
    [ngClass]="{ 'on': tabSelected === paymentMode.CARD }">
    <a>{{ lang.Card }}</a>
    <div class="icon-mapfre_055_card g-font--25 g-font-md--21  g-pl--10 "></div>
  </li>
  <li *ngIf="quoataEmited"
    (click)="onTabSelected(paymentMode.BANK)"
    class="d-flex justify-content-between align-items-center"
    [ngClass]="{ 'on': tabSelected === paymentMode.BANK }">
    <a>{{ lang.Bank }}</a>
    <div class="icon-mapfre_211_payment g-font--25 g-font-md--21  g-pl--10 "></div>
  </li>
</ul>
