<mf-modal [title]="title" [titleMobile]="subTitle" [secondTitleMobile]="title" class="sect-container"
  (closeEvent)="closeEvent()">
  <client-card-more-faq [faqList]="faqList"></client-card-more-faq>
</mf-modal>
