<!-- Loading -->
<mf-loader *ngIf="showLoader"></mf-loader>

<ng-container *ngIf="!showLoader">
  <div class="view-household pt-xs--2" *ngIf="policyFound">

    <!-- Detail cards -->
    <div class="row">
      <div class="col mb-xs--2 mb-lg-0">
        <client-card-detail-policy [policyNumber]="policyNumber" [viewTrace]="viewTrace">
          <div class="row">
            <!-- Card de contrato -->
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex"
              [ngClass]="!showPaymentCard ? 'col-lg-6' : 'col-lg-4'">
              <client-card-policy-basic-info [isPPFM]="isPPFM"></client-card-policy-basic-info>
            </div>
            <!-- Card de pagos -->
            <div class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex" *ngIf="showPaymentCard">
              <client-card-payment-policy (paymentView)="goPayment($event)" (edit)="goPaymentSetting()">
              </client-card-payment-policy>
            </div>
            <!-- Card de contratante -->
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex"
              [ngClass]="!showPaymentCard ? 'col-lg-6' : 'col-lg-4'">
              <client-card-contracting-info *ngIf="!isPPFM"></client-card-contracting-info>
              <client-card-basic-info *ngIf="isPPFM" [shouldEdit]="false" [isEnterprise]="isEnterprise" [info]="info" [titleCard]="titleHeadlineCard" [useSkeleton]="true" [showLoading]="showLoadingCardHeadline"></client-card-basic-info>
            </div>
          </div>
        </client-card-detail-policy>
      </div>
    </div>

    <!-- Mis vehiculos -->
    <div class="row">
      <div class="col mb-xs--2">
        <client-card-vehicles-list [isPPFM]="isPPFM"></client-card-vehicles-list>
      </div>
    </div>

    <!-- Cuotas de mi póliza -->
    <div *ngIf="!isPPFM" class="row">
      <div class="col mb-xs--2">
        <client-card-my-fees [policyType]="policyType" [ga]="ga"></client-card-my-fees>
      </div>
    </div>

    <!-- Banner -->
    <div *ngIf="isPPFM">
      <client-banner-carousel></client-banner-carousel>
    </div>

    <!-- Qué quieres hacer -->
    <div class="row">
      <div class="col px-0 px-lg-3 mb-xs--0 mb-lg--4">
        <client-card-what-you-want-to-do [policyType]="policyType" [isPPFM]="isPPFM"></client-card-what-you-want-to-do>
      </div>
    </div>
  </div>

  <div class="view-household pt-xs--2" *ngIf="!policyFound">
    <div class="row">
      <div class="col">
        <client-item-not-found [show]="true" [text]="textNotFound"> </client-item-not-found>
      </div>
    </div>
  </div>
</ng-container>
