<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>

<ng-container *ngIf="!showLoading">

  <!-- Título -->
  <client-page-title [title]="titleServicesRequest" [message]="messageServicesRequest"></client-page-title>

  <!-- Filtros -->
  <div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-column-reverse flex-lg-row g-bt--1 g-bc--gray17 g-box--shadow1 g-bg-c--white1 g-p--10 g-p-lg--0">

    <div class="g-tabsearch g-bar-horz" role="tablist">

      <ul class="g-inner d-none d-lg-block">
        <li class="g-tablist__tab g-font--medium"
          [ngClass]="{'g-tablist__tab--active': selectedItemMenu == 'ALL'}"
          (click)="doSectionFilter('ALL')"
          ctrl="sevicesRequestFilter"
          (domChange)="onDomChange($event, { label: all })"
        >
          {{ all }}
        </li>

        <li *ngFor="let section of sectionList"
          [ngClass]="{'g-tablist__tab--active': selectedItemMenu == section.key}"
          (click)="doSectionFilter(section.key)"
          class="g-tablist__tab g-font--medium"
          ctrl="sevicesRequestFilter"
          (domChange)="onDomChange($event, { label: section.name })"
        >
          {{ section.name }}
        </li>
      </ul>

      <div class="d-block d-lg-none">
        <div class="g-select-desing g-form-focus">
          <label class="g-placeholder">{{ select }}</label>
          <select
            (change)="doSectionFilter($event.target.value)"
            [(ngModel)]="selectedItemMenu"
            ctrl="sevicesRequestFilter"
            (domChange)="onDomChange($event, {})"
          >
            <option value="ALL">{{ all }}</option>
            <option *ngFor="let section of sectionList" [value]="section.key">{{ section.name }}</option>
          </select>
          <span class="icon-mapfre_004_triangle-down ico-select"></span>
        </div>
        <span class="txt-error"></span>
      </div>

    </div>

    <div class="w-px-lg--20 w-px-xl--27 w-10 p-2 p-lg-0 pr-lg-2">
      <client-input-search
        (search)="onFilter($event)"
        (cancel)="clearFilter()"
        [ga]="ga"
      ></client-input-search>
    </div>

  </div>

  <!-- Servicios -->
  <div class="row pt-xs--2">
    <ng-container *ngFor="let item of serviceListItems">
      <client-service-card
        class="col-12 col-md-6 col-lg-4 d-flex"
        [item]="item"
        [type]="'service'"
        [ga]="ga"
      >
      </client-service-card>
    </ng-container>
  </div>

  <!-- Item Not Found -->
  <client-item-not-found [text]="serviceNotFound" [show]="!((serviceListItems || []).length)"></client-item-not-found>

</ng-container>
