<div class="sect-container g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <div>
    <mf-stepper
      [stepList]="steps"
      [currentStep]="1">
    </mf-stepper>
  </div>
  <div>
    <client-form-base
      [iconClass]="crossIcon"
      [btnCancel]="generalLang.Buttons.Back"
      [btnConfirm]="generalLang.Buttons.Next"
      [disableConfirm]="!form.valid"
      (actionConfirm)="next()"
      (actionCancel)="back()">

      <div class="g-p--20 g-p-md--40">
        <!-- Title -->
        <div class="g-font-md--20 g-font--medium g-pb--20">
          {{ lang.Title }}
        </div>

        <!-- Search RUC-->
        <client-health-search-provider
          [description]="lang.Description"
          [form]="form">
        </client-health-search-provider>

        <div [formGroup]="form" class="d-flex flex-wrap w-100 g-mb--10">

          <!-- Fecha de incidencia -->
          <div class="g-w-sm-50 g-w-100 g-pr-sm--15 g-pb--20">
            <mf-input-datepicker
              formControlName="incidenceDate"
              [maxD]="maxDateIncidence"
              [label]="lang.Labels.IncidenceDate">
            </mf-input-datepicker>
          </div>

          <!-- Fecha de tratamiento -->
          <div class="g-w-sm-50 g-w-100 g-pl-sm--15 g-pb--20">
            <mf-input-datepicker
              formControlName="treatmentDate"
              [minD]="minDateTreatment"
              [maxD]="maxDateIncidence"
              [label]="lang.Labels.TreatmentDate">
            </mf-input-datepicker>
          </div>

          <!-- Tipo de cobertura -->
          <div class="g-w-sm-50 g-w-100 g-pr-sm--15 g-pb--20">
            <mf-select
              formControlName="benefitType"
              [error]="showErros('benefitType')"
              [label]="lang.Labels.BenefitType"
              [options]="beneficsOptions">
            </mf-select>
            <mf-show-errors [control]="form.controls['benefitType']"></mf-show-errors>
          </div>

          <!-- Importe -->
          <div class="g-w-sm-50 g-w-100 g-pl-sm--15 g-pb--20">
            <mf-input
              formControlName="amount"
              type="tel"
              [maxlength]="9"
              [error]="showErros('amount')"
              [label]="lang.Labels.Amount"
              [value]="">
            </mf-input>
            <mf-show-errors
              [control]="form.controls['amount']"
              [min]="minValueText"
              [max]="maxValueText">
            </mf-show-errors>
          </div>

        </div>

      </div>
    </client-form-base>
  </div>
</div>
