<div class="view-ongoing-procedures pt-xs--2">
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-sinisters-in-progress
        [disableCollapse]="disableCollapse"
        [disableIcon]="disableIcon"
        [disableViewAll]="disableCollapse"
        [isVisibleFilterHeader]="true"
        [hasPaginator]="true"
      >
      </client-card-sinisters-in-progress>
    </div>
  </div>
</div>
