<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>

<!-- Lista -->
<ng-container *ngFor="let item of careNetworksList; index as i">

  <div class="d-flex align-items-center g-pt--20 justify-content-between">
    <div class="g-font--medium" *ngIf="item.nombreBeneficio">{{ item.nombreBeneficio }}</div>
    <div class="text-center text-lg-right" *ngIf="viewOnMapOptions && !viewOnMapOptions.hidenLinkMap">
      <mf-link-green [text]="viewOnMapOptions.labelLink" (click)="getQueryMap(i)"></mf-link-green>
    </div>
  </div>

  <ng-container *ngFor="let red of item.redes">

    <!-- Ubicacion: Lima o Provincia -->
    <div class="g-font--medium g-pt--20 g-pb--20" *ngIf="red.tipoUbicacion">{{ red.tipoUbicacion }}</div>

    <div class="d-flex flex-column g-bg-c--white1 g-mb--15 g-b--1 g-bc--gray11 g-b-radius--5">
      <!-- Header -->
      <div class="d-flex justify-content-between g-mh--6 g-pl--15 g-pt--10 g-pt-lg--0 g-pb--10 g-pb-lg--0 flex-lg-nowrap g-bg-c--gray11">

        <div class="d-flex w-100 flex-wrap flex-lg-nowrap g-ie-flex--0-1-auto">
          <div class="w-100 g-text--uppercase g-font--medium g-py-lg--15">
            <!-- Varias clinicas -->
            <ng-container *ngIf="red.total > 1 else one">
              {{ red.nombreRed }} <span class="g-font--light g-pl--10">{{ red.total + ' ' + (titleTable[0] || '') }}</span>
            </ng-container>
            <!-- Una clínica -->
            <ng-template #one>
              {{ red.nombreRed + ' - ' + red.clinicas[0].nombreClinica }}
            </ng-template>
          </div>
          <div class="flex-nowrap text-left g-py--10 g-px-lg--15 w-5 w-px-lg--20">
            <div class="w-100 g-line--11 g-mb--0 g-font--13 g-font--light g-pb--5">{{ titleTable[1] || '' }}</div>
            <div class="w-100 g-line--11 g-mb--0 d-flex">

              <!-- Tooltips -->
              <div class="position-relative g-mr--5 g-mt-n--3" *ngIf="red.textoDeducibleLargo">
                <mf-tooltips class="g-tooltip--align-left">
                  <div class="text-wrap g-font--12 g-font--normal text-left" [innerHTML]="red.textoDeducibleLargo"></div>
                </mf-tooltips>
              </div>

               <!-- Separar texto deducible -->
              <div class="d-sm-flex">
                <div class="">{{ red.textDeducible }}</div>
                <div class="g-ml--5">{{ red.textMonto }}</div>
              </div>

            </div>
          </div>
          <div class="flex-wrap text-left text-lg-center w-5 w-px-lg--10 g-pl-lg--15 g-pl--20 g-py--10">
            <div class="w-100 g-line--11 g-mb--0 g-font--13 g-font--light g-pb--5">{{ titleTable[2] || '' }}</div>
            <div class="w-100 g-line--11 g-mb--0 ">{{ red.cobertura }}</div>
          </div>
        </div>

        <div [ngClass]="{'d-none d-lg-flex': red.total === 1}" class="w-px--3 w-px-lg--5 d-flex justify-content-lg-center g-c--gray9 g-py--20">
          <span (click)="toogle(red)" class="g-c--pointer" *ngIf="red.total > 1" [ngClass]="{'icon-mapfre_101_ico-dow': red.collapse, 'icon-mapfre_102_ico-up': !red.collapse}"></span>
        </div>
      </div>
      <!-- Lista -->
      <div [collapse]="red.collapse" *ngIf="red.total  > 1">
        <ul class="g-list g-list-icon g-p--15">
          <li class="g-list-icon--item g-p--0" *ngFor="let clinica of red.clinicas">
            <div class="g-line--11 g-font--light g-p--5">
              {{ clinica.nombreClinica }}
            </div>
          </li>
        </ul>
      </div>
    </div>

  </ng-container>
</ng-container>
