<mf-modal
  [confirm]="true"
  [title]="lang.modal.atachFile"
  [titleMobile]="header.title"
  [disableButton]="!listFile.length || (uploadSub && !uploadSub.closed)"
  [secondTitleMobile]="lang.modal.atachFile"
  [confirmButtonText]="generalLang.Buttons.Confirm"
  (closeEvent)="confirm(false)"
  (confirmResponse)="confirm($event)">

  <div class="g-my--10 g-my-md--40 g-mx-md--30">
    <div class="g-font--light g-mb--30">{{ lang.modal.description }}</div>

    <client-upload-files
      [useWarmingError]="true"
      [maxFiles]="1"
      [uploadText]="generalLang.Buttons.AttachOneFile"
      [listFile]="listFile"
      [buttonPosition]="yAxis.TOP"
      [defaultShowLoader]="false"
      (removeFile)="cancelUpload()">
    </client-upload-files>
  </div>

</mf-modal>

<mf-modal-message
  *ngIf="showModalMessage"
  [success]="true"
  [messageDone]="messageDone"
  [messageSuccessUpdate]="messageSuccessUpdate">
</mf-modal-message>
