<div class="mb-xs--2 g-b-radius--5 g-bg-c--white1 g-my--10 g-p--10 g-p-md--20 g-box--shadow1 g-vfw--auto">
  <div class="row g-min-w--860">
    <div class="col-12">
      <div class="row g-pb--10">
        <div class="col-6">
          <p>{{ riskDetail.title }}</p>
        </div>
      </div>

      <div class="g-table-par">
        <ng-container *ngFor="let risk of riskDetail.riskList">
          <div class="row">
            <div class="col-2">
              <div class="d-flex g-mb--10">
                <em class="icon-sinister_person g-font--20"></em>
                <span class="g-text--nowrap g-font--medium">Riesgo {{ risk.number }}</span>
              </div>
            </div>
            <div class="col-3">
              <p class="m-0 g-font--medium">Categoría:</p>
              <p class="m-0">{{ risk.categry }}</p>
            </div>
            <div class="col-3">
              <p class="m-0 g-font--medium">Nro. de Trabajadores:</p>
              <p class="m-0">{{ risk.workersQty }}</p>
            </div>
            <div class="col-2">
              <p class="m-0 g-font--medium">Planilla:</p>
              <p class="m-0">{{ risk.payroll }}</p>
            </div>
            <div class="col-2">
              <p class="m-0 g-font--medium">Primera Neta:</p>
              <p class="m-0">{{ risk.bonus }}</p>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row g-pt--10">
        <div class="col-2"></div>
        <div class="col-3">
          <p class="m-0 g-font--medium">TOTAL:</p>
        </div>
        <div class="col-3">
          <p class="m-0 g-font--medium">{{ riskDetail.totalWorkers }}</p>
        </div>
        <div class="col-2">
          <p class="m-0 g-font--medium">{{ riskDetail.totalPayroll }}</p>
        </div>
        <div class="col-2">
          <p class="m-0 g-font--medium">{{ riskDetail.totalBonus }}</p>
        </div>
      </div>

    </div>
  </div>
</div>