<div [ngClass]="{'g-full-form--load': showLoading}">

  <div class="row justify-content-md-center g-mt--20">
    <div class="col col-lg-10 g-font--light">
      {{ lang.Messages.PasswordFormat }}
    </div>
  </div>

  <!-- Password -->
  <div [formGroup]="form" class="row justify-content-md-center mb-xs--1">
    <div class="col col-lg-10">
      <client-input-password [form]="form"></client-input-password>
    </div>
  </div>

  <!-- Acciones -->
  <div class="row mb-xs--2 g-mt--50" *ngIf="form">
    <button mf-button class="g-btn--default"
      [disabled]="!form.valid"
       (click)="restorePassword()">
      {{ btnConfirm }}
    </button>
  </div>

</div>
