<div class="g-map-filter--header d-flex align-items-center g-px--20 h-px--5 justify-content-between">
  <div class="d-flex align-items-center">
    <div (click)="back()" class="g-mr--15">
      <span class="g-map-filter--close d-block icon-mapfre_010_arrow-left g-font--16 g-c--gray9 g-c--pointer"></span>
    </div>
    <div class="g-font--medium g-text--uppercase g-font--18 ">
      {{ buttonTexts.Filter }}
    </div>
  </div>
  <div class="d-flex align-items-center g-c--green1 g-c--pointer g-ie-flex--0-1-auto" (click)="clearFilter()">
    <span class="icon-mapfre_215_update mr-2 g-font--25"></span>
    <div class="g-font--medium">{{ buttonTexts.ClearFilter | titlecase }}</div>
  </div>
</div>

<div class="g-map-filter--wrapper">
  <div class="g-map-filter--custom d-flex flex-column">
    <ng-template filter-map></ng-template>
  </div>

  <div class="g-map-filter--footer g-bc--gray11 g-bg-c--white1 d-flex text-center g-p--15 justify-content-center g-bt--1">
    <div class="w-7 g-pl--5">
      <button
        mf-button class="g-btn g-text--uppercase block g-c--pointer px-2"
        [disabled]="!buttonState"
        (click)="applyFilterEvent()"
        ctrl="gmApplyFilter"
        (domChange)="onDomChange($event)"
      >
        {{ buttonTexts.Apply }}
      </button>
    </div>
  </div>
</div>
