<div class="g-input-design" #container [ngClass]="{ 'g-form-focus': value, 'msn-error': error }">
  <div class="d-flex">
    <span
      class="g-form-icon g-pr--5"
      [ngClass]="currencySymbol"
      *ngIf="prefixCurrency && mfInputComponent.value"
    ></span>
    <input
      #mfInputComponent
      [readonly]="readonly"
      [spellcheck]="spellcheck"
      [attr.type]="type"
      [(ngModel)]="value"
      [disabled]="disabled"
      [maxlength]="maxlength"
      [minlength]="minlength"
      [pattern]="pattern"
      [OnlyNumber]="OnlyNumber"
      [autocomplete]="autocomplete"
      [whiteSpace]="whiteSpaceI"
      [NumberLetter]="NumberLetter"
      [OnlyLetter]="OnlyLetter"
      [email]="isEmailType"
      [Number]="Number"
      [ngClass]="{ 'no-spinners': type === 'number' }"
      (keyup)="onKeyUp($event)"
      (keypress)="onKeyPress($event)"
      (blur)="onBlurInput($event)"
      (paste)="onPasteInput($event)"
      (focus)="onFocusInput($event)"
    />
    <label class="g-input__label g-placeholder">{{ label }}</label>
    <span
      *ngIf="enableCheck"
      class="pl-1 g-form-icon g-font--25 g-font-md--21 icon-mapfre_057_circle-check g-c--green1"
    ></span>
  </div>
</div>
