<!-- Loading -->
<mf-loader *ngIf="showLoader"></mf-loader>

<ng-container *ngIf="!showLoader">
  <div class="view-household pt-xs--2" *ngIf="policyFound">
    <div class="row">
      <div class="col mb-xs--2">
        <!-- Detail -->
        <client-card-detail-policy [policyNumber]="policyNumber" [viewLabelPolicy]="'true'" [mpKeys]="mpKeys" [isSctrDoubleEmission]="isSctrDoubleEmission">
          <div class="row">
            <!-- Card de la Poliza -->
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex" [ngClass]="showPayments ? 'col-lg-4' : 'col-lg-6'">
              <client-card-policy-basic-info [mpKeys]="mpKeys"></client-card-policy-basic-info>
            </div>
            <!-- Card de Pagos -->
            <div *ngIf="mpKeys?.MP_CARD_PAGOS" class="col-12 col-lg-4 mb-xs--2 mb-lg-0 d-flex">
              <client-card-payment-policy (edit)="goPaymentSetting($event)"></client-card-payment-policy>
            </div>
            <!-- Card de Contratante -->
            <div class="col-12 mb-xs--2 mb-lg-0 d-flex" [ngClass]="showPayments ? 'col-lg-4' : 'col-lg-6'">
              <client-card-contracting-info [policyType]="policyType"></client-card-contracting-info>
            </div>
          </div>
        </client-card-detail-policy>
      </div>
    </div>
    <!-- Cuotas de Periodos -->
    <div *ngIf="mpKeys?.MP_CARD_PERIODOS" class="row">
      <div class="col mb-xs--2">
        <client-card-sctr-periods
          [policyType]="policyType"
          [policyNumber]="policyNumber"
          [mpKeys]="mpKeys">
        </client-card-sctr-periods>
      </div>
    </div>

    <!-- Cuotas de Periodos Adicionales-->
    <div *ngIf="mpKeys?.MP_CARD_PERIODOS_ADICIONALES && !hidePeriodCard" class="row">
      <div class="col mb-xs--2">
        <client-card-sctr-periods
          [policyType]="policyType"
          [policyNumber]="policyNumber"
          [mpKeys]="mpKeys"
          [isAdditional]="true"
          (hidePeriodCard)="hidePeriodCard = $event">
        </client-card-sctr-periods>
      </div>
    </div>

    <!-- Mis constancias -->
    <div class="g-mb--20">
      <client-card-sctr-record-list [policyNumber]="policyNumber" [isContractor]="isContractor" [mpKeys]="mpKeys"></client-card-sctr-record-list>
    </div>
    <!-- Qué quieres hacer -->
    <div class="row">
      <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
        <client-card-what-you-want-to-do [policyType]="policyType"></client-card-what-you-want-to-do>
      </div>
    </div>
  </div>

  <div class="view-household pt-xs--2" *ngIf="!policyFound">
    <div class="row">
      <div class="col">
        <client-item-not-found
          [show]="true"
          [text]="textNotFound">
        </client-item-not-found>
      </div>
    </div>
  </div>
</ng-container>
