<section id="swipe-box" class="mx-carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <ul class="mx-carousel-inner ul-carousel" #carousel [ngStyle]="carouselTotalStyle">
    <li *ngFor="let item of items; trackBy: trackByFn" [ngStyle]="carouselItemStyle" class="mx-carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
  <div *ngIf="showControls">
    <a class="carousel-control-prev g-icon-circle g-icon-c--slide nextPrevBtn gBgcGray7 gCWhite1 mx-auto" role="button"
      (click)="prev();">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next g-icon-circle g-icon-c--slide nextPrevBtn gBgcGray7 gCWhite1 mx-auto" role="button"
      (click)="next();">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</section>
<ol class="carousel-indicators" id="indicador-slider" *ngIf="showIndicators">
  <li (click)="goTo(index)" [ngClass]="{'active': index === currentSlide}" *ngFor="let index of listIndicators; trackBy: trackByFn"></li>
</ol>
