<mf-card>
  <mf-card-header act
    class="d-block"
    [header]="lang.Vigency"
    [uppercaseHeader]="false"
    [collapsed]="collapse"
    (expand)="collapse = $event">
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <div data-accordion="content" class="d-block g-pb--15 g-px-lg--10 g-px--20">
      <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="w-100 g-pr--15">
          <mf-input-datepicker
            [disabled]="doingPayment"
            [(ngModel)]="startDate"
            [label]="lang.DateStart"
            [minD]="limitDateMin"
            [maxD]="limitDateMax"></mf-input-datepicker>
          <span class="txt-error"></span>
        </div>
        <div class="g-pt--20">
          <div class="d-flex align-items-center">
            <div>
              <span class="icon-mapfre_033_angle2-right g-font--bold g-c--gray9"></span>
            </div>
            <div class="g-pl--10">
              <div class="g-font--13 text-nowrap g-c--gray18 g-font--light">{{ lang.DateEnd }}</div>
              <div class="g-font--14 g-c--gray9">{{ endDate | date:'d/M/yyyy'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mf-card-content>
</mf-card>

<br>
