<div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--gray11">

  <mf-stepper [stepList]="stepList" [currentStep]="currentStep"></mf-stepper>

  <div class="d-flex flex-column flex-lg-row align-items-start flex-nowrap g-max-w-lg--990 mx-lg-auto g-mx--10 ">
    <div class="d-flex w-10 g-mr-lg--30 g-ie-flex--0-1-auto order-2 order-lg-1">
      <client-form-base size="xs" [iconClass]="icon" [showActions]="false">
        <!-- Formulario -->
        <router-outlet></router-outlet>
      </client-form-base>
    </div>

    <div class="w-px-lg--36 w-10 order-1 order-lg-2">
      <!-- Layout derecho | detalle de la compra -->
      <client-quote-buy-detail></client-quote-buy-detail>
    </div>
  </div>
</div>
