<div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 w-100">
  <div class="w-px--7 w-px-lg--8 g-line--11 d-flex justify-content-center align-items-lg-center g-br-lg-1 pt-3 pt-lg-0">
    <div class="g-items-text text-center g-font--light">
      <div class="mb-0 g-font--24 g-font--medium">
        {{ calculateDay(item.registerDate) }}
      </div>
      <div class="mb-0 g-font--13">
        {{ calculateMonth(item.registerDate) }}
      </div>
      <div class="mb-0 g-font--13">
        {{ calculateYear(item.registerDate) }}
      </div>
    </div>
  </div>
  <div
    class="w-7 w-lg-10 g-bl--1 p-3 p-lg-0 d-flex align-items-lg-center g-o--hidden flex-column flex-lg-row flex-fill"
  >
    <!-- Numero y estado de solicitud -->
    <div class="justify-content-between align-items-center w-100 text-lg-truncate pl-lg-3">
      <div class="text-lg-truncate">
        <div class="text-lg-truncate g-line--13 g-font--medium" [title]="numberLabel + ' ' + item.assistanceNumber">
          {{ numberLabel }} {{ item.assistanceNumber }}
        </div>
        <div
          *ngIf="!item.isCollapse"
          class="text-lg-truncate g-line--13 g-font--13 g-font--light pb-xs--1 pb-lg-0"
          [title]="item.currentState + ' ' + calculateDay(item.updateDate) + ' ' + calculateMonth(item.updateDate)"
        >
          <span
            class="icon-mapfre_066_circle pr-1 g-font--10"
            [ngClass]="item.stateColor ? ['g-c--' + item.stateColor + '1'] : ['g-c--green1']"
          >
          </span>
          {{ item.currentState }} {{ calculateDay(item.updateDate) }} {{ calculateMonth(item.updateDate) }}
        </div>
        <div *ngIf="item.isCollapse" (click)="collapseFn()">
          <div
            class="g-c--pointer g-font-lg--medium d-flex g-c-lg--green1 align-items-center g-font--13 g-font-lg--14 g-mb--10 g-mb-lg--0"
          >
            {{ item.currentState }}
            <span class="g-c--pointer g-pl--5 d-none d-lg-block" [dropdown-icon]="item.collapse"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Detalle: Datos de Póliza -->
    <div class="pl-lg-3 w-px-lg--22 w-px-2xl--25 pb-xs--1 pb-lg-0" *ngIf="item.policyNumber">
      <div class="text-lg-truncate">
        <span class="g-font--light g-font--13" [title]="lang.PolicyNumber + ' ' + item.policyNumber">
          <span class="g-font--medium">{{ lang.PolicyNumber }}</span>
          {{ item.policyNumber }}
        </span>
      </div>
      <div class="text-lg-truncate" [title]="item.productName">
        <span class="g-font--medium g-font--13">{{ item.productName }}</span>
      </div>
    </div>

    <!-- Detalle: Iconos -->
    <div
      class="px-lg-3 pb-xs--1 pb-lg-0 w-px-lg--26 w-px-2xl--35 g-o--hidden"
      *ngIf="item.itemList"
      [ngClass]="{ 'g-column-count-lg--2 w-lg-7': item.itemList && item.itemList.length > 2 }"
    >
      <div class="d-lg-flex w-10" *ngFor="let text of item.itemList; let i = index">
        <span class="{{ text.icon }} pr-1 g-mt--3" *ngIf="text.icon"></span>
        <span class="g-font--light g-font--13 d-lg-flex g-o--hidden g-ie-flex--1" [title]="getTitle(text)">
          <span
            class="g-font--medium g-mr--5"
            *ngIf="text.label"
            [ngClass]="{ 'text-lg-truncate': text.label && !text.text }"
            >{{ text.label }}</span
          >
          <span class="text-lg-truncate">
            {{ text.text }}
          </span>
        </span>
      </div>
    </div>
  </div>

  <!-- Ver Detalle -->
  <div
    (click)="onViewDetail(item)"
    *ngIf="viewDetailsLink"
    class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--12 g-bl-lg--1 d-flex align-items-center justify-content-center flex-grow-1"
  >
    <span
      class="g-c--green1 g-font--medium g-c--pointer"
      ctrl="linkViewDetailCar"
      (domChange)="onDomChange($event, { lbl: item.productName, numeroPoliza: item.policyNumber })"
      >{{ lang.ViewDetail }}</span
    >
  </div>
</div>
<div [collapse]="item.collapse">
  <ng-content></ng-content>
</div>
