<div class="g-b-radius-lg--5 card-box-simple py-3 py-lg-5 g-bt--1 g-bt-lg--0 mb-xs--0 text-center text-lg-left d-flex align-items-center justify-content-center justify-content-lg-start h-lg-10">
  <div class="d-block d-lg-flex align-items-center justify-content-center justify-content-lg-start h-lg-100">
      <div class="px-2 my-3 my-lg-0">
        <img [src]="noPendingPaymentsIcon" alt="Sin pagos pendientes">
      </div>
    <div class="g-items-text pl-lg-3">
      <div class="g-font--20 mb-0 g-font--medium">{{ messageWithoutPendingPayment }}</div>
    </div>
  </div>
</div>
