<!-- Título -->
<client-page-title [title]="titlePaymentsSettings.title" [message]="titlePaymentsSettings.subtitle"></client-page-title>

<!-- Banner -->
<client-banner-payment-configuration [bannerData]="bannerNotification" (bannerAction)="bannerAction()" [ga]="ga">
</client-banner-payment-configuration>

<!-- Polizas a pagar -->
<div class="g-mb--40">
  <client-card-payments-settings-policies></client-card-payments-settings-policies>
</div>

<!-- Modal beneficios debito automatico -->
<client-modal-how-works
  *ngIf="openModalHowWorks"
  [modalData]="howAutomaticDebitWorks"
  [modalHeader]="header"
></client-modal-how-works>
