<div [formGroup]="form">
  <div class="position-absolute d-block g-w-100 g-w-sm-80 g-w-md-70 g-w-lg-50 g-w-xl-80 g-w-2xl-60 g-pb--20 g-pt-lg--15 g-px--25 g-bg-c--white1 g-box--shadow1 g-t--0 g-l--0 g-b-radius-b--30 g-transform g-transition g-duration-100 g--translate-x-1-2 g-l--50" [ngClass]="{'g--translate-y-2-2': !showFormAddress && getGoogleMapService().getUseFocusedSearch()}">
    <div class="row">
      <div class="d-none d-xl-flex col-3">
        <div class="row">
          <div class="col-12 d-xl-flex align-items-center">
            <span class="icon-mapfre_048_tooltip g-font--35 g-c--red1 g-c--pointer g-mr--8" (click)="viewInfo()"></span>
            <p class="g-font--medium g-font-xl--14">{{ lang.RequestHomeDoctor }}</p>
          </div>
          <div class="col-12 d-xl-flex align-items-center">
            <span class="icon-mapfre_015_location-pin g-font--24 g-c--red1 g-pr--5"></span>
            <span (click)="fnOpenSearch()" class="g-c--red1 g-c--pointer g-text--underline g-font--medium">{{ selectOnMap }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-5">
        <div class="row">
          <div class="col-10 col-xl-12 position-relavite">
            <client-input-with-icon
                  [classIcon]="'icon-mapfre_121_close g-c--gray9'"
                  [name]="'endPoint'"
                  [pointer]="true"
                  [showIcon]="form.controls['endPoint'].value"
                  (clickIcon)="cleanSearch()"
                >
              <mf-input
                class="g-w-100"
                formControlName="endPoint"
                [minlength]="minLength.sd_start_point"
                [maxlength]="maxLength.sd_start_point"
                [error]="showErrors('endPoint')"
                [label]="lang.Address"
                (onfocus)="onFocusSearch()"
                (onkeyup)="onKeyUpSearch(form.controls['endPoint'])"
                >
              </mf-input>
            </client-input-with-icon>
            <div class="position-absolute g-w-100 g-z--2" *ngIf="coincidences && coincidences.length">
              <ng-container *ngFor="let item of coincidences; let i = index; let last = last">
                <div
                  class="g-map--autocomplete-item"
                  (onmouseover)="item.active = false"
                  [ngClass]="{'g-bb--1': !last, 'g-map--autocomplete-item-active': item.active}"
                  (click)="selectAutocomplete(item)">
                  <span class="icon-mapfre_029_location-pin2 g-font--16 g-c--gray21 g-pt--5"></span>
                  <span class="g-pl--10 text-truncate">
                    <span class="g-font--medium">{{ item.structured_formatting.main_text }}</span><br>
                    <span>{{ item.structured_formatting.secondary_text }}</span>
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-2 d-flex d-xl-none justify-content-center align-items-end">
            <span class="icon-mapfre_048_tooltip g-font--35 g-c--red1 g-c--pointer" (click)="viewInfo()"></span>
          </div>
          <div class="col-12">
            <mf-show-errors [control]="form.controls['endPoint']"></mf-show-errors>
          </div>
        </div>
      </div>
      <div class="d-none d-xl-block col-xl-4">
        <div class="row">
          <div class="col-12">
            <mf-input
              class="g-w-100"
              formControlName="referenceEndPoint"
              [maxlength]="maxLength.sd_start_point"
              [error]="showErrors('referenceEndPoint')"
              [label]="lang.ReferenceEndPoint"
              (onblur)="formatValue('referenceEndPoint')">
            </mf-input>
          </div>
          <div class="col-12">
            <mf-show-errors [control]="form.controls['referenceEndPoint']"></mf-show-errors>
          </div>
        </div>
      </div>
      <div class="col-12 d-xl-none g-pt--15">
        <span class="icon-mapfre_015_location-pin g-font--24 g-c--red1 g-pr--5"></span>
        <span (click)="fnOpenSearch()" class="g-c--red1 g-c--pointer g-text--underline g-font--medium">{{ selectOnMap }}</span>
      </div>
      <div class="d-none d-xl-block col-xl-6 m-auto g-pt--20">
        <div class="d-flex justify-content-between">
          <div class="w-4">
            <button mf-button
              class="w-lg-10 mx-auto g-btn g-text--uppercase g-btn-primary size-md block g-btn-outline"
              (click)="cancel()">
              {{ lang.BtnCancel }}
            </button>
          </div>
          <div class="w-4">
            <button mf-button
              [disabled]="form.invalid"
              class="w-lg-10 mx-auto g-btn g-text--uppercase g-btn-primary size-md block"
              (click)="confirmation()">
              {{ lang.BtnConfirmation }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute d-block d-xl-none g-w-100 g-w-sm-80 g-w-md-70 g-w-lg-50 g-bg-c--white1 g-box--shadow1 g-b-radius-t--30 g-pt--25 g-pb--10 g-px--25 g-b--0 g-transform g-transition g-duration-100 g--translate-x-1-2 g-l--50" [ngClass]="{'g-translate-y-2-2': (getGoogleMapService().getUseFocusedSearch() && !showInformationAddress) || (!currentSelected)}">
    <div class="row">
      <div class="col-12">
        <div class="g-w-100 g-pb--2 g-font--medium">{{ form.controls['referenceOne'].value === null ? '' : form.controls['referenceOne'].value }}</div>
      </div>
      <div class="col-12">
        <div class="g-w-100 g-pb--15 g-font--light g-font--13">{{ addressInformationFormat(form.controls['referenceTwo'].value, form.controls['district'].value) }}</div>
      </div>
      <div class="col-12">
        <div class="g-pb--15 g-bt--1 g-bc--gray11">
          <mf-input
            id="referenceEndPointTwo"
            formControlName="referenceEndPoint"
            [maxlength]="maxLength.sd_start_point"
            [error]="showErrors('referenceEndPoint')"
            [label]="lang.ReferenceEndPoint"
            (onblur)="formatValue('referenceEndPoint')">
          </mf-input>
          <mf-show-errors [control]="form.controls['referenceEndPoint']"></mf-show-errors>
        </div>
      </div>
      <div class="col-12">
        <div class="g-w-100 m-auto">
          <button mf-button
              [disabled]="form.invalid"
              class="w-lg-10 mx-auto g-btn g-text--uppercase g-btn-primary size-md block g-btn-outline"
              (click)="confirmation()">
              {{ lang.BtnConfirmationLocation }}
            </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Notificaciones -->
  <div *ngIf="filterNotification.showNotification && useFilter" class="g-w-100 position-absolute g-top-px--160 g-top-xl-px--180">
    <client-gm-filter-notifier [text]="filterNotification.textNotification" [icon]="filterNotification.iconNotification" [customClass]="'g-ml--0'"></client-gm-filter-notifier>
  </div>
</div>
<client-modal-how-works *ngIf="openModalHowWorks" [modalData]="HowItWorks" [modalHeader]="header"></client-modal-how-works>
