<!-- Pagos Pendientes -->
<div class="mb-xs--10 pb-xs--4 pt-xs--2" [formGroup]="formFilter" dropdown-close>
  <!-- Titulo -->
  <div class="g-bg-c--white1 g-box--shadow1 mb-3 g-b-radius-lg--5 d-flex w-100">
    <div class="d-flex g-ie-flex--0-1-auto w-10 g-mh--6 g-mh-lg--7 justify-content-between">
      <div class="g-box-icons--title d-flex align-items-center px-3 g-ie-flex--0-1-auto w-100">
        <div class="g-font--bold g-font--14 g-font-lg--20">
          {{ titleNextPayments }}
        </div>
      </div>

      <div
        (clickOutside)="showFilter = false"
        class="g-filter-dropdown d-flex g-font-lg--14 align-items-center"
        *ngIf="!showLoading">
        <mf-card-action-link>
          <div
            (click)="downloadAccountStatus()"
            [ngClass]="{ 'h-events--no': isVisibleDownloadSpinner }"
            class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3 g-c--pointer"
            ctrl="linkAccoundStatus"
            (domChange)="onDomChange($event, { lbl: btnAccountStatus })">
            <div>
              <span [spinnerPdf]="isVisibleDownloadSpinner"></span>
            </div>
            <div class="g-font--medium text-nowrap ml-2" [ngClass]="{ 'g-c--gray21': isVisibleDownloadSpinner }">
              <div class="g-items-text g-font--medium d-none d-lg-block text-nowrap">
                {{ btnAccountStatus }}
              </div>
            </div>
          </div>
        </mf-card-action-link>

        <!-- Mostrar/Ocultar Filtros -->
        <div
          class="w-px--4 w-lg-auto justify-content-center d-flex align-items-center g-c--green1 pr-lg-3 g-c--pointer"
          (click)="showFilter = !showFilter"
          ctrl="linkFilter"
          (domChange)="onDomChange($event, {})">
          <div class="g-items-icon mr-2 g-font--21" [ngClass]="isFilteredFrm ? 'icon-mapfre_216_filter_out' : 'icon-mapfre_098_filter'"></div>
          <div class="g-items-text g-font--medium d-none d-lg-block text-nowrap">{{ btnFilter }}</div>
        </div>

        <!-- Filtros -->
        <div class="g-filter-dropdown--content g-p--20 g-b-radius--5 g-box--shadow1" *ngIf="showFilter">
          <div class="g-font--medium">{{ labelFilterBy }}</div>
          <div>
            <mf-select
              [frm]="formFilter"
              [label]="labelInsuranceType"
              [name]="'tipoPoliza'"
              [type]="'insuranceType'"
              formControlName="tipoPoliza">
            </mf-select>
          </div>
          <div>
            <mf-input
              [label]="txts.Labels.PolicyNumber"
              [maxlength]="maxLengthPolice"
              [OnlyNumber]="true"
              [pattern]="numericRegExp"
              formControlName="numeroPoliza">
            </mf-input>
          </div>
          <div>
            <mf-input
              [label]="txts.Labels.BillNumberOrInvoice"
              [maxlength]="40"
              [OnlyNumber]="true"
              [pattern]="numericRegExp"
              formControlName="numRecibo">
            </mf-input>
          </div>

          <!-- Limpiar Filtros -->
          <div class="text-center">
            <button
              mf-button
              class="g-btn--default mt-xs--3"
              (click)="filter()"
              ctrl="linkFilterAction"
              (domChange)="onDomChange($event, { label: btnFilter })">
              {{ btnFilter }}
            </button>
          </div>
          <div class="text-center">
            <button
              mf-button
              outline
              class="g-btn--default mt-xs--3"
              (click)="resetFilter()"
              ctrl="linkFilterAction"
              (domChange)="onDomChange($event, { label: btnCleanFilter })">
              {{ btnCleanFilter }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <mf-loader *ngIf="showLoading"></mf-loader>

  <!-- Sin Pagos pendientes -->
  <mf-card *ngIf="!(listPendingPaymentsGroupByMonth.length > 0) && !showLoading">
    <mf-card-content>
      <client-without-pending-payment></client-without-pending-payment>
    </mf-card-content>
  </mf-card>

  <!-- Listado -->
  <div class="mb-3" *ngFor="let month of listPendingPaymentsGroupByMonth">
    <mf-card>
      <mf-card-header
        act
        [header]="month.titleMonth"
        [subtitle]="setSubtitle(month.payments.length)"
        [textRigth]="month.paymentResume"
        [collapsed]="month.collapse"
        (expand)="month.collapse = $event">
      </mf-card-header>

      <mf-card-content [collapse]="month.collapse" (collapse-mobile)="month.collapse = $event">
        <mf-card-item *ngFor="let item of month.payments; let i = index">
          <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
            <!-- Icono-->
            <div class="d-none d-lg-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
              <client-icon-policies [policyType]="item.policyType" [customIcon]="item.customIcon"></client-icon-policies>
            </div>

            <!-- Datos del Pago -->
            <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
              <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
                <!-- Nro. de Recibo, Aviso o Factura EPS -->
                <div class="g-font--medium text-lg-truncate" [title]="item.paymentNumberLabels[0]">{{ item.paymentNumberLabels[0] }}</div>
                <div class="g-font--light text-lg-truncate" [title]="item.paymentNumberLabels[1]">{{ item.paymentNumberLabels[1] }}</div>

                <!-- Nro. de Pólizas, Avisos o Factura (desplegable: detalle de pólizas, recibos asociados, factura) -->
                <div class="d-flex g-font--medium g-c--pointer g-c--green1 align-items-center g-mb--10 g-mb-lg--0"
                  (click)="collapseDetail(item)"
                  [ngClass]="{'g-text--lowercase': !item.isInvoice}">
                  <span>{{ item.paymentDetailLabel }}</span>
                  <span class="g-pl--5" [dropdown-icon]="item.collapse"></span>
                </div>
              </div>

              <!-- RESPONSIVE: Detalle del pago -->
              <client-card-item-detail class="d-lg-none" [collapse]="item.collapse" [items]="item.paymentReceiptList"></client-card-item-detail>

              <!-- Estado del pago -->
              <div class="px-lg-3 mb-2 mb-lg-0 w-px-lg--25 g-font--13">
                <!-- fecha de emisión (solo para facturas) -->
                <div *ngIf="item.isInvoice" class="mb-0 text-nowrap d-flex align-items-center">
                  <span class="g-font--light">{{ emissionDateLabel }}: {{ item.startDate }}</span>
                </div>
                <!-- semaforo, estado y fecha fin -->
                <div class="mb-0 text-nowrap d-flex align-items-center">
                  <span
                    *ngIf="item.bulletColor"
                    class="icon-mapfre_066_circle g-font--10 pr-1"
                    [ngClass]="item.bulletColor">
                  </span>
                  <span class="g-font--light">{{ item.policyStatusLabel }}: {{ item.expiredDate }}</span>
                </div>
                <!-- factura EPS vencida o (estado cobertura ó cuotas) -->
                <div *ngIf="item.isInvoice && item.expired">
                  <div class="mb-0 text-nowrap g-font--light g-font--13 g-c--red1">{{ coverageStatus.FACTURA_VENCIDA }}</div>
                </div>
                <div *ngIf="!item.isInvoice">
                  <div *ngIf="!item.showQuota" class="mb-0 text-nowrap g-font--light g-font--13" [ngClass]="{'g-c--red1': item.isWithoutCoverage}">
                    {{ item.coverageStatus }}
                  </div>
                  <div *ngIf="item.showQuota" class="mb-0 text-nowrap">
                    <span *ngIf="item.quota" class="g-font--light g-font--13">{{ labelFee }}: {{ item.quota }}</span>
                    <span *ngIf="!item.quota" class="g-font--light g-font--13">{{ labelWithOutFees }}</span>
                  </div>
                </div>
              </div>

              <!-- Monto -->
              <div class="px-lg-3 w-px-lg--16 text-lg-right mr-lg--2">
                <div class="mb-0 text-nowrap"><span class="g-font--medium g-font--16">{{ item.totalAmount }}</span></div>
              </div>
            </div>

            <!-- Botón de Pago -->
            <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2">
              <client-payment-button *ngIf="!item.isInvoice" routerLink="/payments/quota" [item]="item" [renewDays]="renewDays" [ga]="ga"></client-payment-button>
              <span *ngIf="item.isInvoice" (click)="openModalPaymentPlaces()" class="g-c--green1 g-font--medium g-c--pointer g-link--green1 py-3">{{ healthLang.Labels.SeePaymentPlaces }}</span>
            </div>
          </div>

          <!-- !RESPONSIVE: Detalle del pago -->
          <client-card-item-detail class="d-none d-lg-block" [collapse]="item.collapse" [items]="item.paymentReceiptList"></client-card-item-detail>

        </mf-card-item>
      </mf-card-content>
    </mf-card>
  </div>
</div>

<!-- Modal de sitios de pago -->
<mf-modal *ngIf="showModalPaymentPlaces">
  <div class="min-height--280">
    <div class="d-flex g-font--bold g-font--16 g-mt--10 g-text--uppercase align-items-center justify-content-center">
      <span>{{ healthLang.Titles.PaymentPlaces }}</span>
    </div>
    <div class="d-flex g-px--60 g-pt--10 g-mt--10 g-font--13 g-mb--40 text-center align-items-center justify-content-center">
      <span>{{ healthLang.Texts.PaymentPlaces }}</span>
    </div>
    <div class="g-mb--40">
      <client-bank-payment [withoutTexts]="true"></client-bank-payment>
    </div>
  </div>
</mf-modal>
