@import 'btn';
@import 'checkbox';
@import 'hour';
@import 'input';
@import 'radio';
@import 'select';
@import 'textarea';


// Input - Select
.g-inpsel-design,
.g-input-design,
.g-select-desing,
.g-textarea-design {
  border-bottom: 1px solid map-get($colors, gray2);
  display: block;
  padding-top: 20px;
  position: relative;
  transition: $t-linear;
  width: 100%;

  &.disabled {
    border-color: map-get($colors, gray21);

    .g-placeholder {
      color: map-get($colors, gray21);
      transition: $t-linear;
    }

    .ico-select {
      color: map-get($colors, gray21);
    }

    select {
      color: map-get($colors, gray21);
    }

    textarea,
    input,
    select {
      color: map-get($colors, gray18);
      cursor: not-allowed;
      transition: $t-linear;

      // sass-lint:disable-all
      &:disabled {
        cursor: not-allowed !important;
        opacity: .35;
        filter: Alpha(Opacity=35);
      }
      // sass-lint:enable-all
    }

    .g-form-icon {
      color: map-get($colors, gray21);
      transition: $t-linear;
    }
  }
}

.msn-error {
  border-bottom: 1px solid map-get($colors, red1);

  .g-placeholder {
    color: map-get($colors, red1);
  }
}
