<div class="view-life pt-xs--2">
  <!-- Lista de Pólizas -->
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-my-policies-by-type [policyType]="policyType" [ga]="ga"></client-card-my-policies-by-type>
    </div>
  </div>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <div class="row">
    <div class="col mb-xs--2">
      <client-card-what-you-want-to-do [policyType]="policyType"></client-card-what-you-want-to-do>
    </div>
  </div>
</div>
