<div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <div class="g-mt-lg--60 g-mt-md--20 g-max-w--570 mx-auto g-mb-lg--50 g-px--0 g-pt--20">
    <div class="g-mw-6--lg-none g-bg-c--white1 g-b-radius--5 g-box-lg--shadow1">
      <div class="d-flex align-items-center justify-content-center flex-wrap">
        <div class="text-center px-4 g-mt-lg--60 g-mt-md--20 g-max-w--570 mx-auto g-mb-lg--50 g-px--0 g-pt--20">
          <div class="g-message--icon icon--success g-mr--10 g-mb--20 "></div>

          <div class="g-font--medium g-font--20">
            {{ titleLang }}
          </div>

          <div class="g-px-lg--50 g-pt--10 g-c--gray2 g-pb--10 g-pb-lg--30 g-bb--1 g-bc--gray11">
            {{ messageLang }}
          </div>
          <div class="g-font--13 g-font--light g-pt--30 g-pb-lg--10">
            {{ assistanceNumberLang }}
          </div>
          <div class="">
            {{ assistanceNumber }}
          </div>
          <div class="g-font--13 g-font--light g-pt-lg--30 g-pt--20 g-pb-lg--10">
            {{ addressLang }}
          </div>
          <div class="">
            {{ address }}
          </div>
          <div class="g-font--13 g-font--light g-pt-lg--30 g-pt--20 g-pb-lg--10">
            {{ contactLang }}
          </div>
          <div class="g-pb--40 g-pb-lg--0">
            {{ numberContactLang }}
          </div>
        </div>
      </div>
      <div class="w-100 g-bt--1 g-bc--gray11">
        <div class="d-flex g-py--10 align-items-center justify-content-center">
          <button
            (click)="goToHome()"
            class="g-btn g-c--pointer d-sm-inline-block g-mw--24 g-text--uppercase"
            gaClick
            [gaCategory]="gaAssistance.category"
            [gaAction]="gaAssistance.action"
            [gaLabel]="gaAssistance.label"
          >
            {{ btnHomeLang }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
