<div class="g-p--10 g-py--15 g-bt--1 g-bc--gray11">
  <div class="d-flex justify-content-lg-between flex-lg-row flex-column">
    <div>
      <div class="d-flex align-items-md-center flex-column flex-md-row g-pl--5">
        <div *ngIf="content?.action.text" class="g-font--light">{{ content?.action.text }}</div>
        <div *ngIf="content?.action.textLink && content?.action.url"
          class="g-c--green1 g-font--medium g-c--pointer g-pl-md--10"
          (click)="openLink(content.action.url)">
            {{ content?.action.textLink }}
        </div>
      </div>
    </div>
  </div>
</div>
