<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">

      {{#header}}
        {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-step-1  g-pb-lg--25  g-pt--20 g-pb--20">
        <div class="container step-content-3">

          {{#hours}}
            {{>atoms-hours}}
          {{/hours }}

          {{#messageError}}
            <div class="row justify-content-md-center">
              <div class="col col-lg-11">
                {{>atoms-alert-alternative}}
              </div>
            </div>
          {{/messageError}}

          <div class="row justify-content-md-center">
            <div class="col col-lg-11">
              <div class="g-iframe g-iframe--mastercard g-iframe--height">
            </div>
          </div>

        </div>
      </section>

    </div>

    {{#footer}}
        {{>molecules-footer}}
    {{/footer}}

  </div>
</div>