<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">

    {{#header}}
      {{>molecules-header-step}}
    {{/header}}

      <section class="g-view-error-404 g-full-height">
        <div class="container error">
          <div class="text-center">
            <div class="text-center">
              <img class="g-mw--6" src="../../../images/404.svg" >
            </div>
            <div class="g-font--24 g-font-md--30 error__description g-font--medium g-c--gray1">
              ¡Oops perdimos la conexión!
            </div>
            <div class="g-font--14  g-my--15 error__description g-c--gray1">
              Tenemos un problema vuelve a intentarlo más tarde.
            </div>
          </div>
        </div>
      </section>

    </div>

    {{#footer}}
      {{>molecules-footer}}
    {{/footer}}

  </div>
</div>