<div class="g-fixed g-bg-c--gray5" >
  <div class="g-ui--sckity">
    <div class="g-ui--view g-bg-c--gray5">

      {{#header}}
          {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-form-contact  g-my--25 ">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-9">

              <div class="g-bg-c--white1 g-p--10 g-p-lg--25  g-box--shadow1 g-b-radius--5">

                <div class="g-font--18 g-font-md--24 text-center g-font--light g-pl-lg--40 g-pr-lg--40 g-pl--20 g-pr--20">
                  Para asegurar trabajadores por más de 2 meses<br>
                  te contactaremos con un asesor de Mapfre
                </div>
                <div class="g-font--bold g-font--14 g-font-md--18 text-center  g-mt--10   g-pl--10   g-pr--10 ">
                  Compártenos tus datos para llamarte en menos de 24 horas.
                </div>

                <div class="mx-auto col-lg-6">

                  {{>atoms-mf-input(label: "Nombre completo") }}
                  {{>atoms-mf-input(label: "Teléfono de contacto") }}

                </div>

                <div class="text-center g-mt--20  g-mt-lg--60 ">
                    {{>atoms-buttons(addClass: "g-pl-lg--40 g-pr-lg--40 g-pl--25 g-pr--25 g-modal--link g-text--uppercase", text: "Enviar", data: "confirm" ) }}
                </div>

              </div>

            </div>
          </div>
        </div>
      </section>

      {{>templates-confirmation}}

    </div>
  </div>

  {{#footer}}
      {{>molecules-footer}}
  {{/footer}}

</div>