<div class="g-bg-c--white1 w-100 g-mb-lg--0"
    [ngClass]="{'g-full-form--load': showLoading, 'g-box--shadow1 g-b-radius--3 g-b-radius-lg--10 g-mb--90': !onlyForm }">
    <div class="g-p--10 g-py--20 g-p--40">

        <!--Alert-->
        <mf-custom-alert *ngIf="onSuccess" [status]="successStatus" [text]="text"></mf-custom-alert>
        
        <div *ngIf="showTitle" class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-pb--10">
            {{ title }}
        </div>

        <div *ngIf="showDetail" class="sg-pattern-example">
            <span *ngIf="tooltip.label && !tooltip.link && thereAreSavedCards">{{tooltip.label}}</span>
            <mf-tooltips *ngIf="tooltip.link" [classIcon]="'g-link--green1 g-font--14'" [detail]="tooltip.label"
                [text]="tooltip.link">
                <img class="align-items-center g-px--15 g-py--15" [src]="tooltip.icon" width="170px">
                <div class="text-left text-left g-font--13 g-font--light g pb-2 g-font--13 g-font--bold">{{
                    tooltip.title }}</div>
                <div class="g-font--12 g-font--normal text-left">{{ tooltip.text }}</div>
            </mf-tooltips>
        </div>

        <div class="tab-content">
            <!-- Formulario de tarjeta -->
            <div *ngIf="useForm">
                <!--Formulario token-->
                <div class="d-flex flex-wrap w-100 g-px--10 g-px-lg--0" style="display: none;">
                    <div class="c-payment">
                        <div class="kr-embedded" id="formPayment">
                            <!-- payment form fields -->
                            <div>
                                <div class="kr-pan" kr-tab-order="1"></div>
                                <div class="kr-expiry" kr-tab-order="2"></div>
                                <div class="kr-security-code" kr-tab-order="3"></div>
                            </div>
                            <!-- error zone -->
                            <div class="kr-form-error"></div>
                            <div *ngIf="method === 'PAYMENT'" class="sg-pattern-example">
                                <div class="g-checkbox ">
                                    <label class="d-flex g-ie-flex--0-1-auto kr-pb-1">
                                        <input type="checkbox" id="chbSaveCards" checked>
                                        <span class="checkbox"></span>
                                        <span class="kr-chb-text">Guardar esta tarjeta para futuros pagos y
                                            compras</span>
                                    </label>
                                </div>
                            </div>
                            <!-- payment form submit button -->
                            <button hidden="true" class="kr-payment-button d-none">{{ paymentButtonText }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listado de tarjetas -->
            <div *ngIf="thereAreSavedCards && !useForm">
                <div *ngIf="listSavedCards.length > 0">
                    <div class="d-flex g-box--shadow1 align-items-lg-center justify-content-between flex-wrap flex-lg-nowrap mt-3 mb-3"
                        *ngFor="let tarjeta of listSavedCards">
                        <label class="d-flex align-items-lg-center h-100 g-m--0 w-100">
                            <div *ngIf="allowCardSelection" class="g-br--1 g-bc--gray11">
                                <div class="g-radio d-flex align-items-center g-m--0 g-py--20 g-pl--20">
                                    <input type="radio" name="radioCard" [value]="tarjeta" [(ngModel)]="selectedCard"
                                        (change)="onSelectedCard($event)">
                                    <span class="radio"></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="g-px--20 g-m--0 g-py--20 g-pl--20 d-flex flex-column flex-fill w-7 w-lg-10">
                                <div class="">
                                    <img class="g-box--shadow1 " [src]="getImageCardByType(tarjeta.tipo)"
                                        alt="Icono de tarjeta">
                                    <span style="display: inline-grid;">
                                        <span class="g-font--medium g-font--13 g-c--gray2 g-pl--20 g-text--uppercase">
                                            {{ tarjeta.numero }}
                                        </span>
                                        <span *ngIf="showExpirationDate" class="g-font--12  g-c--gray10 g-pl--20">
                                            Vence: {{ tarjeta.fechaVencimiento }}
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="allowToDeleteCards" class="w-px--4 w-lg-auto justify-content-center d-flex align-items-center g-c--green1 pr-lg-3 g-c--pointer"
                                (click)="deleteCard(tarjeta)" ctrl="deleteCard" (domChange)="onDomChange($event, {})">
                                <div class="g-font--20 g-pr--10 g-c--gray2 g-text--uppercase icon-mapfre_053_eliminar">
                                </div>
                            </div>

                        </label>
                    </div>
                    <div *ngIf="manualPayment"
                        class="d-flex g-box--shadow1 align-items-lg-center justify-content-between flex-wrap flex-lg-nowrap mb-3">
                        <label class="d-flex align-items-lg-center h-100 g-m--0 w-100">
                            <div class="g-br--1 g-bc--gray11">
                                <div class="g-radio d-flex align-items-center g-m--0 g-py--20 g-pl--20">
                                    <input type="radio" name="radioCard" value="MANUAL" [(ngModel)]="selectedCard"
                                        (change)="onSelectedCard($event)">
                                    <span class="radio"></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="g-px--20 g-pt--20 g-pt-lg--0 d-flex flex-column flex-fill w-7 w-lg-10">
                                <div class="">
                                    <span class="g-font--14 g-c--gray10">{{ textManualPayment }}</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>

                <div *ngIf="listSavedCards.length === 0"
                    class="d-flex align-items-lg-center justify-content-between flex-wrap flex-lg-nowrap">
                    <label class="d-flex align-items-lg-center h-100 g-m--0 w-100">
                        <div class="g-px--20 g-pt-lg--0 d-flex flex-column flex-fill w-7 w-lg-10">
                            <div class="g-font--18 g-c--gray10 text-center">
                                {{ textNoSavedCards }}
                            </div>  
                        </div>
                    </label>
                </div>

                <div *ngIf="allowToUseOtherCards && listSavedCards.length > 0" class="g-mt--10">
                    <mf-card-action-link *ngIf="thereAreSavedCards && !useForm">
                        <div (click)="useOtherCard()" class="d-flex align-items-center g-c--pointer g-c--green1"
                            ctrl="linkActions">
                            <div><span class="icon-mapfre_055_card g-font--25 g-font-md--21"></span></div>
                            <div class="text-nowrap ml-2 g-font--medium">Usar otra tarjeta</div>
                        </div>
                    </mf-card-action-link>
                </div>

                <div *ngIf="allowExtraButton" class="w-10 text-center mt-4">
                    <button mf-button class="g-btn g-btn-outline g-text--uppercase size-md g-btn--default"
                        (click)="useOtherCard()">
                        {{ listButtonText }}
                    </button>
                </div>
            </div>
            <!-- Términos & Condiciones -->
            <div *ngIf="method !== 'ADD' && showTerms"
                class="d-flex flex-wrap w-100 g-px--10 g-px-lg--0 g-py--5">
                <div class="g-checkbox d-flex g-ie-flex--0-1-auto">
                    <label class="d-flex g-ie-flex--0-1-auto">
                        <input type="checkbox" [(ngModel)]="terminos" (change)="checkTerms($event)">
                        <span class="checkbox"></span>
                    </label>
                    <span class="g-font--12">
                        Acepto los <span class="g-c--green1 g-font--medium g-c--pointer"
                            (click)="openModalTerms()">términos y condiciones.</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Botón -->
    <div *ngIf="!onlyForm" class="d-flex g-bt--1 g-bc--gray7 text-center g-p--30">
        <div class="w-50">
            <button id="cancelButton" mf-button class="w-8 g-btn g-btn-outline" (click)="cancel()">
                {{ cancelButtonText }}
            </button>
        </div>
        <div class="w-50">
            <button *ngIf="!selectedCard" mf-button class="w-8 g-btn" (click)="_doEvent()"
                [disabled]="!terminos">
                {{ saveButtonText }}
            </button>
            <button *ngIf="selectedCard" mf-button class="w-8 g-btn" (click)="_doEvent()"
                [disabled]="!(selectedCard && terminos)">
                {{ saveButtonText }}
            </button>
        </div>
    </div>
</div>

<mf-modal-alert [noMinHeight]="true" [disableTopClose]="true" (confirmResponse)="onConfirmModal($event)"
    [confirmButtonText]="'Aceptar'" [cancelButtonText]="'Cancelar'" [confirm]="flagConfirmModal"
    [sizeClass]="'g-modal--medium'" (closeEvent)="closeModal()">
    <div class="m-auto text-center g-py--20 g-px--20">
        <div *ngIf="modalImg" class=" text-center g-mb--20"><img [src]="modalImg" alt="complete"></div>
        <div class="g-font--18 g-font--medium g-c--gray8">
            {{ modalText }}
        </div>
        <div *ngIf="modalSuggestion"
            class="g-font--12 mt-3 g-c--gray10 row justify-content-md-center g-message--secondary">
            {{ modalSuggestion }}
        </div>
    </div>
</mf-modal-alert>

<!-- Modal para terminos y condiciones -->
<mf-modal-terms *ngIf="showModalTerms" [title]="titleTerms" [titleMobile]="titleTerms" [actionButtonText]="'Aceptar'"
    class="sect-container" [sizeClass]="'g-full-modal--content'" style="overflow-x: hidden;">

    <ul class="text-left g-list-bullet li-red g-p--20">
        <li class="g-p--10" *ngFor="let p of textTerms; trackBy: trackByKey">{{p}}</li>
    </ul>

</mf-modal-terms>