{{#headerBox}}
<!--Begin: Title-->
<div class="row  g-mb--20">
  <div class="g-bg-c--gray12 g-bg-c--gray-xs--trasparent  g-p--0 g-p-lg--30  g-pt--20 w-100 d-none d-lg-block">
    <div class="d-flex align-items-center justify-content-sm-between flex-wrap">
      <div class="w-100 w-lg-auto">
        {{#dataProfile}}
          {{>organisms-data-profile}}
        {{/dataProfile}}
      </div>
      <div class="g-bl--1--gray17 w-100 w-lg-auto g-bt--1 g-bc--gray7 g-bb--1 g-b-lg--0">
        {{#balanceProfile}}
          {{>organisms-balance-profile}}
        {{/balanceProfile}}
      </div>
    </div>
  </div>
</div>
<!--End Title-->
{{/headerBox}}

{{#bannerForm}}
<div class="row {{addClass}}">
  {{#bannerImg}}
  <div class="{{addClass}}">
    <img src="{{imgMobile}}" alt="" class="d-block d-md-none ">
    <img class="d-none d-md-block d-xl-none" src="{{imgSrcLg}}" alt="">
    <img class="d-none d-xl-block" src="{{imgSrcXl}}" alt="">
  </div>
  {{/bannerImg}}
  {{#cardForm}}
  <div class="{{cardClass}}">
    {{>organisms-card-head}}
  </div>
  {{/cardForm}}
</div>
{{/bannerForm}}

{{#steps}}
<div class="row {{stepClass}}">
  {{>molecules-boxitems-steps}}
</div>
{{/steps}}

{{#title}}
<div class="{{titleContentClass}}">
  <div class="{{titleClass}}">{{{title}}}</div>
</div>
{{/title}}

<div class="row">
  <div class="col-12 d-lg-flex g-pb--20 d-none {{compareClass}}">
    {{#compare}}
      {{>organisms-card-head-compare}}
    {{/compare}}
  </div>

  <div id="carouselExampleIndicators" class="carousel slide w-100 d-lg-none" data-ride="carousel">
    <div class="carousel-inner  g-pr--20   g-pl--20 ">
      {{#compare}}
      <div class="{{carousel}}">
        {{>organisms-card-head-compare}}
      </div>
      {{/compare}}
    </div>
    <ol class="carousel-indicators  g-mt--30   g-mb--10 position-relative">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
  </div>

</div>


<div class="row">
  {{#banner}}
  <div class="col  g-mb--20 ">
    <img class="w-100" src="{{src}}" alt="alt">
  </div>
  {{/banner}}
</div>

{{#cardGrid}}
<div class="row ">
  {{>molecules-boxitems-faq}}
</div>
{{/cardGrid}}

</div>
<!--End: Main Content-->
