<!-- Loading -->
<mf-loader *ngIf="showLoading"></mf-loader>

<!-- Paises/telefonos -->
<div class="g-counlist g-counlist--two g-mt--20 g-px--5">
  <div class="g-counlist--item" *ngFor="let item of countries">
    <div class="g-mr--20">
      <img src="data:image/png;base64,{{item.imagen}}" alt="">
    </div>
    <div>
      <a [href]="'tel:+' + item.codigoTelefono + item.telefono" class="g-c--default">
        {{ item.nombrePais }} <span *ngIf="item.counter">({{ item.counter}})</span>:
        +{{ item.codigoTelefono}} {{ item.telefono }}
      </a>
    </div>
  </div>
</div>