<div class="g-bg-c--gray5 g-py-lg--15 g-mx-n--16 g-mx-lg--0 g-mb--15 g-mb-lg--0">

  <div *ngFor="let item of items" class="d-flex g-pl--15 g-pl-lg--0 justify-content-between flex-wrap flex-lg-nowrap position-relative w-100 g-py-lg--5 animated slideInDown g-bt--1 g-bt-lg--0 g-bc--gray12">

    <!-- icono -->
    <div class='d-flex justify-content-center g-pr-lg--20 g-pl-lg--40 align-items-lg-center g-font--16 g-pt--15 g-pt-lg--0'>
      <client-icon-policies [policyType]="item.tipoPoliza" [customIcon]="item.customIcon" [customClass]="'g-font--18'"></client-icon-policies>
    </div>

    <div class="w-7 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill position-relative g-o-lg--hidden" [ngClass]="!isRecipes ? 'w-lg-10 ' : ''">
      <!-- Descripcion póliza -->
      <div class="w-100 g-o-lg--hidden">
        <div class="g-font--medium text-lg-truncate g-font--13" [title]="item.descripcionPoliza">{{ item.descripcionPoliza }}</div>
        <div *ngIf="!item.isInvoice" class="text-lg-truncate g-font--10 g-text--uppercase">{{ item.descripcionPolizaDetalle }}</div>
      </div>
      <!-- Número de póliza -->
      <div *ngIf="item.isInvoice" class="px-lg-3" [ngClass]="isRecipes ? 'w-px-lg--30 w-px-2xl--40' : 'w-px-lg--25'"></div>
      <div *ngIf="!item.isInvoice" class="px-lg-3" [ngClass]="isRecipes ? 'w-px-lg--30 w-px-2xl--40' : 'w-px-lg--25'">
        <span class="g-font--13">{{ policyNumberLabel }}: {{ item.numeroPoliza }}</span>
        <div *ngIf="!isRecipes" class="d-none d-lg-block">&nbsp;</div>
      </div>
      <!-- Monto -->
      <div class="px-lg-3 text-lg-right mr-lg--2 text-lg-right g-mt--10 g-mt-lg--0" [ngClass]="isRecipes ? 'w-px-lg--13' : 'w-px-lg--16'">
        <span class="g-font--13 g-font--medium">{{ item.totalAmount }}</span>
      </div>
    </div>

    <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 d-none d-lg-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2" [ngClass]="isRecipes ? 'w-px-lg--13' : 'w-px-lg--17'"></div>

  </div>

</div>