<div class="sect-container">
  <div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
    <div class="g-my-md--40 w-100 g-max-w-md--570 mx-auto">
      <!-- Mensaje -->
      <client-bank-payment-confirm
        [content]="content"
        [paymentNumber]="paymentNumber"
        [documentData]="documentData">

        <!-- Datos del Vehiculo -->
        <div class="g-bt--1 g-bl--1 g-br--1 g-px--15 g-px-lg--40 g-pb--10 g-font--13 g-font-md--14" riskData>
          <div class="g-pt--20">
            <div class="g-font--medium g-font-md--16 d-flex align-items-center">
              <span class="{{ carIcon }} g-c--gray10 g-font--18 g-font-md--24 g-pr--10"></span>
              {{ lang.Titles.DataYourVehicle }}
            </div>
          </div>
          <div class="d-flex g-pt--15 g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.Plate }}:</div>
            <div class="w-50 w-md-10">{{ vehicleData?.placa }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.BrandModelYear }}:</div>
            <div class="w-50 w-md-10 text-capitalize">{{ vehicleDescription }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.Value }}:</div>
            <div class="w-50 w-md-10 text-capitalize">{{ vehicleValue }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.Use }}:</div>
            <div class="w-50 w-md-10 text-capitalize">{{ vehicleData?.uso }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.City }}:</div>
            <div class="w-50 w-md-10 text-capitalize">{{ vehicleData?.ciudad }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10" *ngIf="vehicleData?.numeroChasis">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.ChassisNumber }}:</div>
            <div class="w-50 w-md-10">{{ vehicleData?.numeroChasis }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10" *ngIf="vehicleData?.numeroMotor">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.MotorNumber }}:</div>
            <div class="w-50 w-md-10">{{ vehicleData?.numeroMotor }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10" *ngIf="vehicleData?.cantidadAccesorios">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.AccessoriesNumber }}:</div>
            <div class="w-50 w-md-10">{{ vehicleData?.cantidadAccesorios }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10" *ngIf="vehicleData?.color">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ lang.Labels.Color }}:</div>
            <div class="w-50 w-md-10 text-capitalize">{{  vehicleData?.color }}</div>
          </div>
        </div>

        <!-- Datos de la compra -->
        <div class="g-bt--1 g-bl--1 g-br--1 g-px--15 g-px-lg--40 g-pb--10 g-font--13 g-font-md--14" buyData>
          <div class="g-bc--gray11 g-pt--20">
            <div class="g-font--medium g-font-md--16 d-flex align-items-center">
              <span class="{{ buyIcon }} g-c--gray10 g-font--18 g-font-md--24 g-pr--10"></span>
              {{ buyTitle }}
            </div>
          </div>
          <div class="d-flex g-pt--15 g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ buyLang.Product }}:</div>
            <div class="w-50 w-md-10">{{ quote?.policy }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ buyLang.PaymentFrecuency }}:</div>
            <div class="w-50 w-md-10">{{ quote?.modalitySelected?.textPaymentFrecuency }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ buyLang.PolicyPrice }}:</div>
            <div class="w-50 w-lg-10">{{ quote?.totalAmount }}</div>
          </div>
          <div class="d-flex g-pb--5 g-pb-md--10">
            <div class="g-font--light w-50 w-px-md--15 g-pr--10">{{ buyLang.QuotaValue }}:</div>
            <div class="w-50 w-md-10">{{ quote?.quota }}</div>
          </div>
        </div>

        <!-- Descarga app -->
        <!-- TODO: evaluar crear como componente -->
        <div app class="g-b--1 text-center text-md-left g-b-radius-b--5 g-px--15 g-px-lg--40 g-pt--20 g-pb--10 g-pb-md--20" *ngIf="lnkPlayStore">
          <div class="g-font--medium g-font-md--16">{{ appTitle }}</div>
          <div class="g-font--light g-font--13 g-font-md--14">{{ appText }}</div>

          <div class="g-banner g-banner--white d-sm-flex flex-wrap flex-md-nowrap g-mt--20 justify-content-center justify-content-md-start">
            <div class="g-mr-sm--10 w-px--165 g-mb--10 g-mb-md--0 g-native-iphone-none g-native-android-block">
              <div class="d-inline-block d-sm-block g-banner--apps g-banner--android g-c--pointer" *ngIf="showPlayStore">
                <a class="g-block" target="_blank" [href]="lnkPlayStore">
                  <img class="g-banner--hover" [src]="btnPlayStoreHover">
                  <img class="g-banner--default" [src]="btnPlayStore">
                </a>
              </div>
            </div>
            <div class="w-px--165 g-mb--10 g-mb-md--0 g-native-iphone-block g-native-android-none">
              <div class="d-inline-block d-sm-block g-banner--apps g-banner--ios g-c--pointer" *ngIf="showAppStore">
                <a class="g-block" target="_blank" [href]="lnkAppStore">
                  <img class="g-banner--hover" [src]="btnAppStoreHover">
                  <img class="g-banner--default" [src]="btnAppStore">
                </a>
              </div>
            </div>
          </div>
        </div>

      </client-bank-payment-confirm>
    </div>
  </div>
</div>
