<mf-card>
  <mf-card-header
    [header]="labelTitle"
    [icon]="'icon-mapfre_015_location-pin'"
    [collapsed]="collapse"
    (expand)="collapse = $event" hal>
    <mf-card-actions-link *ngIf="!existCorrespondenceAddress() && !showLoading">
      <mf-card-action-link>
        <div (click)="openModalAddress()" class="d-flex align-items-center">
          <div class="">
            <span class="icon-mapfre_052_agregar g-font--25 g-font-md--21 g-c--green1 g-c--pointer"></span>
          </div>
          <div class="text-nowrap ml-2 g-c--pointer g-font--medium g-c--green1">
            {{ btnAddAddress }}
          </div>
        </div>
      </mf-card-action-link>
    </mf-card-actions-link>
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>
    <!-- Listado -->
    <mf-card-item *ngIf="existCorrespondenceAddress()">
      <div class="w-100 d-flex">
        <div class="d-flex justify-content-between g-mh--8 w-100">
          <div class="d-flex justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <span class="icon-mapfre_017_house g-font--30 g-font-lg--40 px-md-2"></span>
          </div>
          <div
            class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
            <div class="w-100 mb-2 mb-lg-0 g-o-lg--hidden">
              <div class="text-lg-truncate">
                <span class="mb-0"><strong>{{ correspondenceAddress.direccion }}</strong></span>
              </div>
              <div>
                <span class="mb-0">{{ getAddress() }}</span>
              </div>
            </div>
          </div>
          <div
            class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-md-100 w-px-lg--15 d-flex align-items-center justify-content-center justify-content-md-end flex-grow-1">
            <a (click)="openModalAddress(true)" class="g-c--pointer">
              <span class="icon-mapfre_035_edit g-c--green1 g-font--21 text-right mr-xs--1 mr-md-4"></span>
            </a>
          </div>
        </div>
      </div>
    </mf-card-item>
    <client-without-correspondence-address
      *ngIf="!existCorrespondenceAddress() && !showLoading"></client-without-correspondence-address>
  </mf-card-content>
</mf-card>

<!-- Modal para editar -->
<client-add-edit-address *ngIf="openModal"
    [correspondenceAddress]="correspondenceAddress"
    (successAddressEdit)="setCorrespondenceAddress($event)">
</client-add-edit-address>
