<div class="g-select-desing"
  [ngClass]="{'g-form-focus': value || placeholder,  'msn-error': error, 'disabled': disabled }">
  <label class="g-placeholder animated">{{ label }}</label>
  <div *ngIf="existGroup; else optionsGroup">
    <select (change)="change(value)" [disabled]="disabled" [(ngModel)]="value">
      <option [hidden]="!placeholder" value="" [selected]="selectedDefault">{{ placeholder }}</option>
      <optgroup 
        *ngFor="let group of groups; trackBy: trackByFn" 
        [label]="group.text" 
        [disabled]="group.disabled">
        <option 
          *ngFor="let item of optionsByGroup(group); trackBy: trackByFn" 
          [value]="item.value" 
          [text]="item.text"
          [disabled]="item.disabled"></option>
      </optgroup>
    </select>
  </div>
  <ng-template #optionsGroup>
    <select (change)="change(value)" [disabled]="disabled || !options?.length" [(ngModel)]="value">
      <option 
        [hidden]="!placeholder" value="" 
        [selected]="selectedDefault">{{ placeholder }}</option>
      <option 
        *ngFor="let item of options; trackBy: trackByFn" 
        [value]="item[valueCbo]" 
        [text]="item[lblCbo]"
        [disabled]="item.disabled"></option>
    </select>
  </ng-template>

  <span class="icon-mapfre_004_triangle-down ico-select"></span>
</div>
<div *ngIf="isEmpty && isValid" class="txt-error g-pt--10">
  {{ config?.errorMsg }}
</div>