<div>
    403 Acceso denegado/prohibido
    <br>
    No est&aacute;s autorizado para ver esta p&aacute;gina
    <br>
    Pruebe uno de los siguientes:
    - Vuelva a verificar a donde esta ingresando
    - Vuelva a ingresar al Sistema
    - Comunicate con nosotros para brindarte soporte
    
    <button>Regresar</button>
</div>