<div class="d-flex flex-column mb-xs--2 mb-lg--3">
  <div class=" g-font--bold g-font--18 g-font-md--30 text-center mb-xs--1 mb-lg--0 mt-xs--2">
    {{ title }}
  </div>
  <div class="g-font--14 g-font-md--18 g-font-lg--medium g-font--normal g-line--10 text-center" *ngIf="message">
    {{ message }}
  </div>
</div>
