<client-page-title [title]="lang.Titles.ServicesRequest" [message]="lang.Messages.ServicesRequest"></client-page-title>

<div class="d-flex align-items-center flex-wrap flex-lg-nowrap flex-column-reverse flex-lg-row g-bt--1 g-bc--gray17 g-box--shadow1 g-bg-c--white1 g-p--10 g-p-lg--0">
  <div class="g-tabsearch g-bar-horz d-none d-lg-block h-w--80"></div>
  <div class="w-px-lg--20 w-px-xl--27 w-10 p-2 p-lg-0 pr-lg-2">
    <client-input-search (search)="onFilter($event)" (cancel)="clearFilter()"></client-input-search>
  </div>
</div>

<mf-loader *ngIf="showAppsLoader"></mf-loader>

<div class="row pt-xs--2">
  <ng-container *ngFor="let item of serviceListItems">
    <client-service-card
      class="col-12 col-md-6 col-lg-4 d-flex"
      [item]="item"
      [type]="'app'"
    >
    </client-service-card>
  </ng-container>
</div>

<client-item-not-found
  [show]="!serviceListItems?.length && !showAppsLoader"
  [text]="lang.Messages.AppNotFound"
  >
</client-item-not-found>
