<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">

    {{#header}}
      {{>molecules-header-step}}
    {{/header}}

      <section class="g-view-step-1  g-my--25 ">
        <div class="container step-content-2">

          <div class="row justify-content-md-center">
            <div class="col col-lg-7 col-xl-6">
              <div class="g-bg-c--white1 g-p--15  g-p-lg--20  g-box--shadow1 g-b-radius--5">

                {{#content}}
                  {{>molecules-messages}}
                {{/content}}

                {{#cardCredit}}
                  {{>molecules-card-credit}}
                {{/cardCredit}}

                <div class="g-b--1 g-bc--gray12 g-p--15  g-py-md--15  g-px-md--20 g-b-radius--5 g-mt--15">

                  {{#alert}}
                    {{>atoms-alert}}
                  {{/alert}}

                  {{#head}}
                    {{>organisms-cardbox-headgray}}
                  {{/head}}

                  <div class=" g-mt--20 text-center  g-pl--0 ">
                    {{#link}}
                    <div class="g-c--green1 g-font--12 g-underline  g-mb--20  g-c--pointer g-modal--link" data-modal="{{datalink}}" onclick="{{onclick}}">{{{text}}}</div>
                    {{/link}}

                    {{#linkButton}}
                      {{>atoms-buttons}}
                    {{/linkButton}}
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </section>

    </div>

    {{#footer}}
      {{>molecules-footer}}
    {{/footer}}

  </div>
</div>

{{#modal}}
  {{>templates-send-email}}
{{/modal}}

{{#modalSuccess}}
  {{>templates-send-email-success}}
{{/modalSuccess}}

{{#cgenerales}}
  {{>templates-fm-condiciones}}
{{/cgenerales}}

{{#psiniestros}}
  {{>templates-fm-procedimiento}}
{{/psiniestros}}