<div class="g-fixed g-bg-c--gray5" >
  <div class="g-ui--sckity">
    <div class="g-ui--view g-bg-c--gray5">

      {{#header}}
          {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-form-contact  g-my--25 ">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-lg-9">

              <div class="g-bg-c--white1 g-p--20 g-p-lg--25  g-box--shadow1 g-b-radius--5">

                <div class="g-font--18 g-font-md--24 text-center g-font--light g-pl-lg--40 g-pr-lg--40 g-pl--20 g-pr--20">
                  {{{bigTittle}}}
                </div>
                <div class="g-font--18 g-font-md--20 text-center  g-my--15 px-auto">
                  {{{subTitle}}}
                </div>

                <div class="mx-auto  g-my--25  col-lg-7">

                  {{>atoms-mf-input(label: "Nombre completo") }}
                  {{>atoms-mf-input(label: "Teléfono de contacto") }}

                </div>

                <div class="text-center  g-my--25 g-mt-lg--60 ">
                    {{>atoms-buttons(addClass: "px-lg--40 g-px--25 g-modal--link g-text--uppercase", text: "Enviar", data: "confirm" ) }}
                </div>

              </div>

            </div>
          </div>
        </div>
      </section>

      {{>templates-confirmation}}

    </div>
  </div>

  {{#footer}}
      {{>molecules-footer}}
  {{/footer}}

</div>