<div class="g-ui--view">

  <div class="g-fixed">
    <div class="g-ui--sckity g-bg-c--gray5">

      {{#header}}
        {{>molecules-header-step}}
      {{/header}}

      <section class="g-view-step-1  g-my--25 ">
        <div class="container step-content-2">

          <div class="row justify-content-md-center">
            <div class="col-lg-6">
              <div class="g-bg-c--white1 g-p--15  g-p-lg--20  g-box--shadow1 g-b-radius--5">

                {{#content}}
                  {{>molecules-messages}}
                {{/content}}

                {{#alert}}
                  {{>atoms-alert}}
                {{/alert}}

                {{#head}}
                  {{>organisms-cardbox-headgray}}
                {{/head}}

                <div class=" g-mt--20 g-mt-lg--25  text-center g-pl--15 g-pr--15">
                  {{#linkButton}}
                    {{>atoms-buttons}}
                  {{/linkButton}}
                </div>

              </div>
            </div>
          </div>

        </div>
      </section>

    </div>

    {{#footer}}
      {{>molecules-footer}}
    {{/footer}}

  </div>
</div>