<div class="sect-container">
  <!-- Tabs -->
  <client-tabs-payments></client-tabs-payments>
  
  <div class="g-bg-c--white1 g-box--shadow1 mb-3 g-b-radius-lg--5 d-flex w-100 mt-3">
    <div class="d-flex g-ie-flex--0-1-auto w-10 g-mh--6 g-mh-lg--7 justify-content-between">
      <div class="g-box-icons--title d-flex align-items-center px-3 g-ie-flex--0-1-auto w-100">
        <div class="g-font--bold g-font--18 g-font-lg--20">
          <b class="g-text--uppercase">{{ titleBanner }}</b> - {{ cardsLength }} tarjetas
        </div>
      </div>
    </div>
  </div>
  
  <!-- Listado de Tarjetas -->
  <div class="w-100 ml-auto mr-auto mt-5 col-sm-12 col-md-12 col-lg-10 col-xl-6">

    <client-payment-card-list
      [method]="'ADD'"
      [payment]="myPayment"
      [showTitle]="showTitle"
      [title]="title"
      [showDetail]="showDetail"
      [onlyForm]="onlyForm"
      [allowCardSelection]="false"
      [allowToUseOtherCards]="false"
      [allowToDeleteCards]="true"
      [showExpirationDate]="true"
      [allowExtraButton]="true"
      (cardsLength)="getCardsLength($event)"
      (formMode)="onFormReady($event)"
      (cancelEvent)="onCancel($event)">
    </client-payment-card-list>

  </div>


</div>