<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">

  <mf-stepper [stepList]="stepList"></mf-stepper>

  <client-form-base
    [policyType]="policyType"
    [btnConfirm]="btnNext"
    [showLoading]="showLoading"
    [disableConfirm]="!formData.valid || !validValue()"
    (actionCancel)="actionCancel()"
    (actionConfirm)="actionConfirm()"
    [ga]="ga">
    <div class="g-p--20 g-p-lg--40">
      <!-- Titulo -->
      <div class="d-md-flex justify-content-between text-center">
        <div class="g-w-lg--50">
          <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
            {{ lang.Titles.DataVehicle }}
          </div>
        </div>
        <div class="g-w-lg--50 align-self-center">
          <!-- Placa -->
          <div class="g-c--green1 g-font--medium text-nowrap g-c--pointer" (click)="editPlate()">
            <span class="g-pr--0 g-pr-lg--10 icon-mapfre_035_edit g-mr--5 g-mr-md--0"></span>
            <ng-container *ngIf="plate else noPlate">
                {{ lang.Labels.Plate }}: {{ plate }}
            </ng-container>
            <!-- Sin placa -->
            <ng-template #noPlate>
                {{ lang.Labels.NoPlate }}
            </ng-template>
          </div>
        </div>
      </div>
      <!-- Datos -->
      <form [formGroup]="formData">
        <div class="d-flex flex-wrap w-100 g-pt--20">
          <!-- Instalacion GPS -->
          <div class="g-w-100" *ngIf="showAlert">
            <mf-custom-alert [status]="status" [text]="gpsInstallation"></mf-custom-alert>
          </div>
          <!-- Marca -->
          <div class="g-w-lg-50 g-w-100 g-pr-lg--15 g-pb--10">
            <mf-select *ngIf="brandList?.length"
              [label]="lang.Labels.Brand"
              [formControl]="brand"
              [options]="brandList"
              [error]="showErrors('brand')"
              [placeholder]="placeHolder"
              (change)="changeBrand($event)">
            </mf-select>
            <mf-select *ngIf="!brandList?.length"
              [label]="lang.Labels.Brand"
              [formControl]="brand"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-show-errors [control]="brand"></mf-show-errors>
          </div>
          <!-- Modelo -->
          <div class="g-w-lg-50 g-w-100 g-pl-lg--15 g-pb--10">
            <mf-select *ngIf="modelList?.length"
              [label]="lang.Labels.Model"
              [formControl]="model"
              [options]="modelList"
              [error]="showErrors('model')"
              [placeholder]="placeHolder"
              (change)="changeModel($event)">
            </mf-select>
            <mf-select *ngIf="!modelList?.length"
              [label]="lang.Labels.Model"
              [formControl]="model"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-show-errors [control]="model"></mf-show-errors>
          </div>
          <!-- Año de Fabricación -->
          <div class="g-w-lg-50 g-w-100 g-pr-lg--15" [ngClass]="{'g-pb--10': !showIsNew}">
            <mf-select *ngIf="yearList?.length"
              [label]="lang.Labels.YearProduction"
              [formControl]="year"
              [options]="yearList"
              [error]="showErrors('year')"
              [placeholder]="placeHolder"
              (change)="changeYear($event)">
            </mf-select>
            <mf-select *ngIf="!yearList.length"
              [label]="lang.Labels.YearProduction"
              [formControl]="year"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-show-errors [control]="year"></mf-show-errors>
            <!-- 0 Km -->
            <div class="g-mt--10" *ngIf="showIsNew">
              <mf-checkbox
                [formControl]="isNew"
                [label]="lang.Labels.checkIsNew"
                [checked]="checkedIsNew"
                (change)="vehicleIsNew($event)">
              </mf-checkbox>
            </div>
          </div>
          <!-- Tipo de Vehículo -->
          <div class="g-w-lg-50 g-w-100 g-pl-lg--15 g-pb--10">
            <mf-select *ngIf="typeList?.length"
              [label]="lang.Labels.Type"
              [formControl]="type"
              [options]="typeList"
              [error]="showErrors('type')"
              [placeholder]="placeHolder"
              (change) = "changeType($event)">
            </mf-select>
            <mf-select *ngIf="!typeList?.length"
              [label]="lang.Labels.Type"
              [formControl]="type"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-show-errors [control]="type"></mf-show-errors>
          </div>
          <!-- Valor -->
          <div class="g-w-lg-50 g-w-100 g-pr-lg--15 g-pb--10">
            <mf-input
              [label]="lang.Labels.Value"
              [formControl]="suggestedValue"
              [maxlength]="maxLength"
              [prefixCurrency]="true"
              [Number]="true"
              [dontWhiteSpace]="true"
              [error]="showErrors('suggestedValue')"
              [pattern]="pattern">
            </mf-input>
            <mf-show-errors [control]="suggestedValue" [min]="minValueText" [max]="maxValueText"></mf-show-errors>
          </div>
          <!-- Uso -->
          <div class="g-w-lg-50 g-w-100 g-pl-lg--15 g-pb--10">
            <mf-select *ngIf="useList?.length"
              [label]="lang.Labels.UseVehicle"
              [formControl]="use"
              [options]="useList"
              [error]="showErrors('use')"
              [placeholder]="placeHolder"
              (change) = "changeUse($event)">
            </mf-select>
            <mf-select *ngIf="!useList?.length"
              [label]="lang.Labels.UseVehicle"
              [formControl]="use"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-show-errors [control]="use"></mf-show-errors>
          </div>
          <!-- Ciudad -->
          <div class="g-w-lg-50 g-w-100 g-pr-lg--15 g-pb--10">
            <mf-select *ngIf="cityList?.length"
              [label]="lang.Labels.City"
              [formControl]="city"
              [options]="cityList"
              [error]="showErrors('city')"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-select *ngIf="!cityList?.length"
              [label]="lang.Labels.City"
              [placeholder]="placeHolder">
            </mf-select>
            <mf-show-errors [control]="city"></mf-show-errors>
          </div>
        </div>
      </form>
    </div>
  </client-form-base>
</div>

<!-- Editar Placa -->
<client-modal-edit-plate
  *ngIf="showModalEdit"
  [isModal]="true"
  (showMessage)="showMessage($event)"
  (updateView)="showDataVehicle($event)">
</client-modal-edit-plate>

<!-- Modal mensaje placa con poliza vigente -->
<client-modal-current-policy-quote
  *ngIf="showModalMessage"
  [isModal]="true"
  [vigencyDate]="vigencyDate"
  [flagPolicyStatus]="flagPolicyStatus">
</client-modal-current-policy-quote>
