<div class="g-list-results--item g-p--10 {{addClass}}">
  <div class="d-flex justify-content-between ">
    <div class="w-10">
      <div class="g-font--medium">
        {{title}}
      </div>
      <div class="g-font--13  g-mb--5 ">
        {{description}}
      </div>
      {{#address}}
      <div class="d-flex align-items-center">
        <div class="{{addressIcon}}  g-mr--10 "></div>
        <div class="g-font--13 {{addressValueClass}}">
          {{addressValue}}
        </div>
      </div>
      {{/address}}
      <div class="d-flex flex-column">
        {{#phone}}
        <div class="d-flex align-items-center w-10">
          <div class="{{phoneIcon}}  g-mr--10 "></div>
          <div class="g-font--13 {{phoneValueClass}}">
            {{phoneValue}}
          </div>
        </div>
        {{/phone}}

        {{#schedule}}
        <div class="d-flex align-items-center w-10">
          <div class="{{scheduleIcon}}  g-mr--10 "></div>
          <div class="g-font--13 {{scheduleValueClass}}">
            {{scheduleValue}}
          </div>
        </div>
        {{/schedule}}
      </div>
    </div>
    {{#favorite}}
    <div class="text-center">
      <span class="{{favoriteIcon}} {{favoriteIconClass}} g-font--21 g-c--pointer"></span>
    </div>
    {{/favorite}}
  </div>
  {{#btnActions}}
  <div class="d-flex justify-content-end  g-pt--10  g-pr--10 {{btnActionsClass}}">
    {{#btn1}}
    <div class="{{textBtnClass}}">{{{textBtn1}}}</div>
    {{/btn1}}
    {{#btn2}}
    <div class="{{textBtnClass}}">{{{textBtn2}}}</div>
    {{/btn2}}
  </div>
  {{/btnActions}}

</div>

