<div class="d-flex g-bg-c--white1 ">
  <div>
    <img src="../../images/pngs/mapfre.png" alt="" class="h-100 g-block">
  </div>
  <div class="g-p--15 w-10">
    <div class="d-flex justify-content-between  g-mb--10 ">
      <div>
        <div class="g-font--medium">
          Clínica Internacional
        </div>
        <div class="g-font--14">
          Copago S/ 150.00
        </div>
      </div>
      <div class="d-flex">
        <div class="icon-mapfre_016_heart g-font--21 g-c--red1 g-c--pointer"></div>
        <div class="icon-mapfre_121_close g-font--21  g-ml--30  g-c--pointer"></div>
      </div>
    </div>
    <div class="d-flex  g-mb--10 ">
      <div class="icon-mapfre_015_location-pin g-font--16"></div>
      <div class="g-font--13  g-ml--10 ">
        Av. Guardia Civil 385, Distrito de Lima - 0.2 km
      </div>
    </div>
    <div class="d-flex">
      <div class="d-flex align-items-center w-50">
        <div class="icon-mapfre_128_telephone g-font--16"></div>
        <div class="g-font--13  g-ml--10 ">
          (01) 657-733
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="icon-mapfre_062_reloj g-font--16"></div>
        <div class="g-font--13  g-ml--10 ">
          9:00pm - 2:00pm
        </div>
      </div>
    </div>
    <div class="text-center  g-mt--20 ">
      <a href="" class="g-c--green1 g-font--medium">
        Ver detalle
      </a>
    </div>
  </div>
</div>