<div class="{{addClass}}">
  {{#title}}
    <div class="{{textClass}}">
      {{{text}}}
    </div>
  {{/title}}

  {{#uploadImage}}
    <div class="{{uploadImageClass}}">

      {{#imgUploaded}}
        <div class="{{imgUploadedClass}}">

          {{#icon}}
            <span class="{{iconFile}} {{iconClass}}"></span>
          {{/icon}}

          {{#content}}
            <div class="{{contentTextClass}}">
              {{#text}}
                <div class="{{textClass}}">
                {{{text}}}
                </div>
              {{/text}}

              {{#iconClose}}
                <span class="{{iconFile}} {{iconClass}}"></span>
              {{/iconClose}}
            </div>
          {{/content}}

        </div>
      {{/imgUploaded}}

    </div>
  {{/uploadImage}}

  {{#inputUpload}}
    {{>atoms-input-upload}}
  {{/inputUpload}}

</div>