<mf-modal [title]="title"
  [titleMobile]="titleMobile"
  [secondTitleMobile]="secondTitleMobile"
  [confirmButtonText]="btnSave"
  [confirm]="true"
  [defaultEventClose]="false"
  [showLoading]="showLoading"
  (confirmResponse)="onSubmit($event)"
  [disableButton]="false">
  <div class="pb-5 px-lg-5">
    <form [formGroup]="formCreate">
      <div class="row">

        <div class="col-12 ">
          <mf-input [formControl]="lugarTrabajo" [dontWhiteSpace]="true" [label]="labelCompany" [maxlength]="generalMaxLength.nameCompany"
            [error]="showErrors(lugarTrabajo)">
          </mf-input>
          <mf-show-errors [control]="lugarTrabajo"></mf-show-errors>
        </div>

        <div class="col-12">
          <ng-container *ngIf="professions">
            <mf-select [label]="labelPosition" [formControl]="puesto" [error]="showErrors(puesto)" [options]="professions"
              (change)="selectProfession($event.target.value)">
            </mf-select>
            <mf-show-errors [control]="puesto"></mf-show-errors>
          </ng-container>
          <ng-container *ngIf="!professions">
            <mf-select [label]="labelLoading"></mf-select>
          </ng-container>
        </div>

        <div class="col-12 ">
          <mf-input [formControl]="direccion" [label]="labelAddressCompany" [dontWhiteSpace]="true" [maxlength]="generalMaxLength.address"
            [error]="showErrors(direccion)">
          </mf-input>
          <mf-show-errors [control]="direccion"></mf-show-errors>
        </div>

        <div class="col-12 col-md-4 ">
          <ng-container *ngIf="departamentos">
            <mf-select [label]="labelDepartment" [formControl]="departamento" [error]="showErrors(departamento)"
              [options]="departamentos" (change)="selectDepartment()">
            </mf-select>
            <mf-show-errors [control]="departamento"></mf-show-errors>
          </ng-container>
          <ng-container *ngIf="!departamentos">
            <mf-select [label]="labelLoading"></mf-select>
          </ng-container>
        </div>
        <div class="col-12 col-md-4 ">
          <ng-container *ngIf="provincias">
            <mf-select [label]="labelProvince" [formControl]="provincia" [error]="showErrors(provincia)" [options]="provincias"
              (change)="selectProvince()">
            </mf-select>
            <mf-show-errors [control]="provincia"></mf-show-errors>
          </ng-container>
          <ng-container *ngIf="!provincias">
            <mf-select [label]="labelLoading"></mf-select>
          </ng-container>
        </div>
        <div class="col-12 col-md-4 ">
          <ng-container *ngIf="distritos">
            <mf-select [label]="labelDistrict" [formControl]="distrito" [error]="showErrors(distrito)" [options]="distritos">
            </mf-select>
            <mf-show-errors [control]="distrito"></mf-show-errors>
          </ng-container>
          <ng-container *ngIf="!distritos">
            <mf-select [label]="labelLoading"></mf-select>
          </ng-container>
        </div>

        <div class="col-12 col-md-6">
          <mf-select [label]="labelSalaryRange" [formControl]="rangoSalarialId" [options]="ranges" [error]="showErrors(rangoSalarialId)"></mf-select>
          <mf-show-errors [control]="rangoSalarialId"></mf-show-errors>
        </div>

        <div class="col-12 col-md-6">
          <mf-input [formControl]="telefono" [label]="labelPhoneNumber" [dontWhiteSpace]="true" [Number]="true"
            [type]="'tel'" [minlength]="generalMinLength.phone" [maxlength]="generalMaxLength.phone" [error]="showErrors(telefono)"></mf-input>
          <mf-show-errors [control]="telefono"></mf-show-errors>
        </div>

      </div>
    </form>

  </div>
</mf-modal>
