<div class="d-lg-flex justify-content-center p-3" [ngClass]="{'g-c--pointer': letter.puedeDescargar}" (click)="descargarCarta()">
    <img *ngIf="!showLoadingOnIcon" [src]="letter.puedeDescargar ? guaranteeIcon : guaranteeIconNotAllow">
    <mf-loader [customClass]="'custom-loader'" *ngIf="showLoadingOnIcon"></mf-loader>
</div>