<div class="sect-container g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <div>
    <mf-stepper [stepList]="steps" [currentStep]="2"></mf-stepper>
  </div>
  <div>
    <client-form-base
      [iconClass]="fileIcon"
      [disableConfirm]="pendingLoadAllFile() || pendingUploadFiles() || upload3.indexToSplit"
      [btnCancel]="generalLang.Buttons.Back"
      [btnConfirm]="generalLang.Buttons.Next"
      (actionConfirm)="next()"
      (actionCancel)="back()">
      <div class="g-p--20 g-p-md--40">
        <!-- Title -->
        <div>
          <div class="g-font-md--20 g-font--medium g-pb--20">
            {{ lang.Title }}
          </div>
          <div class="g-pb--20">{{ lang.Description }}</div>
        </div>

        <div class="g-mb--20">
          <div class="g-font--medium g-pb--10">{{ lang.One.Title }}</div>
          <div class="g-font--light g-pb--5">{{ lang.One.Description }}</div>

          <div class="g-font--light d-flex flex-column flex-md-row align-items-md-center g-mb--20">
            {{ lang.One.FormatQuestion }}
            <div (click)="downloadPDF()" class="g-c--pointer g-c--green1 d-flex align-items-center g-pl-md--10 g-font--medium g-my--10 g-my-md--0">
              <span
                class="g-font--22"
                [spinnerPdf]="showSpinner"></span><span class="g-pl--5">{{ lang.One.FormatDownload }}</span>
            </div>
          </div>

          <client-upload-files
            #upload1
            [maxFiles]="maxFile.one"
            [maxSize]="maxSize"
            (addFile)="addFile($event, typeFile.REQUEST_FORMAT)"
            (removeFile)="removeFile($event, typeFile.REQUEST_FORMAT)">
          </client-upload-files>

        </div>

        <div class="g-mb--20">
          <div class="g-font--medium g-pb--10">{{ lang.Two.Title }}</div>
          <div class="g-font--light g-pb--20">{{ lang.Two.Description }}</div>

          <client-upload-files
            #upload2
            [externalSelectFile]="true"
            [withDescription]="true"
            [maxFiles]="maxFile.two"
            [uploadText]="lang.Two.Button"
            (clickSelector)="openModalSelect()"
            (removeFile)="removeFile($event, typeFile.PAYMENT_VOUCHER)">
          </client-upload-files>
        </div>

        <div>
          <div class="g-font--medium g-pb--20">{{ lang.Three.Title }}
            <span class="g-font--light"> {{ lang.Three.Description }}</span>
          </div>

          <client-upload-files
            #upload3
            [maxFiles]="maxFile.three"
            [maxSize]="maxSize"
            (addFile)="addFile($event, typeFile.ATTACHMENTS)"
            (removeFile)="removeFile($event, typeFile.ATTACHMENTS)">
          </client-upload-files>
        </div>

      </div>
    </client-form-base>
  </div>
</div>

<client-health-modal-upload-file
  *ngIf="showModal"
  [maxFiles]="maxFile.three - (refund?.documents?.payments?.length || 0)"
  [maxSize]="maxSize"
  [type]="typeFile.PAYMENT_VOUCHER"
  [inValidFiles]="refund?.documents?.payments || []"
  (nextConfirmModal)="onConfirm($event, typeFile.PAYMENT_VOUCHER)"
  (nextCloseModal)="onCloseModal()">
</client-health-modal-upload-file>
