<form [formGroup]="formCreate" (ngSubmit)="onSubmit()">
  <div class="g-px--30 g-p-md--40">
    <div class="d-flex justify-content-between ">
      <div class="">
        <div class="g-font-md--20 g-font--medium ">
          {{ titleLang }}
        </div>
      </div>
    </div>
    <div class="d-flex">
      <!-- Puntero Izquierda -->
      <div class="align-self-center g-p--10 g-pr--10 g-pr-lg--20 g-c--pointer" (click)="prevCarousel()">
        <span class="g-c--green1 icon-mapfre_006_angle-left"></span>
      </div>
      <!-- FIn Puntero Izquierda -->
      <div class="wrapper-slider g-steps g-steps--hidden d-flex just w-100 flex-nowrap py-2 g-ie-flex--0-1-auto">
        <mx-carousel #carousel [numberItems]="numberItemsCarousel" [showControls]="false" [showIndicators]="false">
          <ng-container *ngFor="let item of listIncidentTypes; trackBy: trackByFn">
            <ng-container *carouselItem>
              <div class="g-icon g-c--pointer" (click)="selectIncident(item)">
                <div class="mx-auto g-icon--tab d-flex align-items-center justify-content-center"
                  [ngClass]="{'active': item.identificadorIncidente === idIncident }">
                  <div class="text-center g-p--10">
                    <span class=" g-font--24 g-font-lg--40" [ngClass]="listIncidentConst[item.llaveIcono]"></span>
                    <div class="g-font--12 g-line--10 g-pt--5 g-font--medium">
                      {{ item.descripcionIncidente }}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </mx-carousel>
      </div>
      <!-- Puntero Derecha -->
      <div class="align-self-center g-p--10 g-pl--10 g-pl-lg--20 g-c--pointer" (click)="nextCarousel()">
        <span class="g-c--green1 icon-mapfre_005_angle-right"></span>
      </div>
      <!-- Fin Puntero Derecha -->
    </div>

    <div class="g-mh-lg--18">
      <ng-container *ngIf="listReason.length">
        <div class="g-font-md--20 g-font--medium g-mt--20 g-mb--10">
          {{ titleReasonLang }}
        </div>
        <div class="g-pb--20 g-pb-lg--0 g-item-list--block">
          <label class="g-radio d-flex align-items-center g-pt--20 mr-auto g-item-list--option" *ngFor="let item of listReason; trackBy: trackByFn">
            <input type="radio" [formControl]="reason" [value]="item.identificadorMotivo">
            <span class="radio"></span>
            <span>
              {{ item.descripcionMotivo }}
            </span>
          </label>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="d-flex g-py--15 g-px--25 g-px-lg--10 g-bt--1 g-bc--gray11 ">
    <div class="w-50 text-center g-pr--10">
      <button
        (click)="goToStep1()"
        class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21 g-btn-outline"
        ctrl="declareSiniesterButtons"
      >
        {{ btnReturnLang }}
      </button>
    </div>
    <div class="w-50 text-center g-pl--10">
      <button
        [disabled]="!formCreate.valid"
        class="g-btn g-text--uppercase g-c--pointer d-block d-sm-inline-block w-10 w-sm-auto g-mw-sm--21"
        ctrl="declareSiniesterButtons"
      >
        {{ btnSuccessLang }}
      </button>
    </div>
  </div>
</form>
