<div class="g-filterbox">
  <div class="g-filterbox--desktop g-filterbox--show g-bg-c--white1 h-100 g-box--shadow1 {{addClass}}">
    <div class="g-map-filter--column g-map-filter-md--fixed h-100 g-bg-c--white1 d-flex flex-column">

      {{#headerFixed}}
        <div class=" w-100 g-box--shadow1 d-block d-lg-none {{contentClass}}">
            <div class="row align-items-center g-title--header h-100">
              {{#icoBack}}
                <div class="col-auto g-br--1 g-c--pointer">
                  <span class="{{icon}} {{addClass}}"></span>
                </div>
              {{/icoBack}}
              <div class="col-auto g-p--0 g-ml--10">
                <span class="g-text--uppercase {{llamadaClass}}">
                  {{llamada}}
                </span>
                <h1 class="g-text--uppercase g-font--18  g-mb--0 ">
                  {{bajada}}
                </h1>
              </div>
            </div>
          </div>
      {{/headerFixed}}

      {{#title}}
      <div class="g-filterbox--title g-bg-c--gray8 g-c--white1 text-center g-p--10 g-font--18  g-font--medium {{titleClass}}">
        {{title}}
      </div>
      {{/title}}

      <div class="g-filterbox--content g-mh-100vh {{contentClass}}" data-simplebar>

        {{#alert}}
          <div class="{{alertClass}}">
            {{>atoms-alert}}
          </div>
        {{/alert}}

        {{#formsContent}}

          {{#titleContent}}
            <div class="{{titleClass}}">{{{title}}}</div>
          {{/titleContent}}

          {{#form}}
          <div class="d-flex {{addClass}}">
            {{#select}}
              {{>atoms-mf-select}}
            {{/select}}

            {{#inputIcon}}
              {{>atoms-mf-input-icon}}
            {{/inputIcon}}

            {{#textBaged}}
              <div class="{{addClass}}">
                {{#text}}
                  <div class="{{textClass}}">{{{text}}}</div>
                {{/text}}
              </div>
            {{/textBaged}}
          </div>

          {{/form}}
        {{/formsContent}}

        {{#bgContent}}
          <div class="{{addClass}}">
            {{#content}}
              <div class="{{contentClass}}">
                {{#textContent}}
                  <div class="{{textClass}}"> {{{text}}} </div>
                {{/textContent}}
              </div>
            {{/content}}
          </div>
        {{/bgContent}}

        {{#alertFooter}}
          <div class="{{alertFooterClass}}">
            {{>atoms-alert}}
          </div>
        {{/alertFooter}}

      </div>

      {{#btns}}
        <div class="{{btnsClass}}">
          {{#btn}}
            <div class="{{contentClass}}">
                <div class="{{btnClass}}">{{{text}}}</div>
            </div>

          {{/btn}}
        </div>
      {{/btns}}
    </div>

    {{#filterOpen}}
    <div class="g-filterbox--filter {{filterAddClass}}">

      <div class="g-filterbox--header d-flex justify-content-between align-items-center g-px--15 g-bb--1 h-px--5">
        <div class="g-font--medium g-text--uppercase g-font--18 ">
          FILTRAR
        </div>
        <div>
          <span class="g-filterbox--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
        </div>
      </div>

      <div class="g-filterbox--content-filter d-flex flex-column">
        <div class="g-p--15">
          {{#select1}}
          <div class="{{selectClass}}">
            {{>atoms-mf-select}}
          </div>
          {{/select1}}

          {{#input}}
          <div class="{{inputClass}}">
            {{>atoms-mf-input}}
          </div>
          {{/input}}

          <div class="{{classTitleCheck}}">
            {{{titleCheck}}}
          </div>

          {{#checkbox}}
          <div class="{{checkboxClass}}">
            {{>atoms-mf-checkbox}}
          </div>
          {{/checkbox}}

          <div class="row">
            {{#select2}}
            <div class="{{selectClass}}">
              {{>atoms-mf-select}}
            </div>
            {{/select2}}
          </div>
        </div>

        <div class="g-filterbox--footer d-flex text-center g-p--15 mt-auto">
          <div class="w-50 g-pr--5">
            <div class="g-btn g-text--uppercase block g-btn-outline g-c--pointer  g-px--10 ">
              Limpiar filtros
            </div>
          </div>
          <div class="w-50 g-pl--5">
            <div class="g-btn g-text--uppercase block g-c--pointer  g-px--10 ">
              Aplicar
            </div>
          </div>
        </div>

      </div>
    </div>
    {{/filterOpen}}

    {{#detail}}
    <div class="g-filterbox--filter {{filterAddClass}}">

      <div class="g-filterbox--header d-flex justify-content-between align-items-center g-px--15 g-bb--1 h-px--5">
        <div class=" {{titleDetailClass}}">
          {{{titleDetail}}}
        </div>
        <div>
          <span class="g-filterbox--close d-block icon-mapfre_049_close2 g-font--21 g-c--gray9 g-c--pointer"></span>
        </div>
      </div>

      <div class="g-filterbox--content-filter d-flex flex-column">
        <div>
          <img class="w-100 d-block" src="../../../images/maps-detail.jpg" alt="">
        </div>
        <div>
          {{#subTitle}}
            <div class="g-px--20  g-pt--20 ">
              <div class="{{class}}">{{text}}</div>
            </div>
          {{/subTitle}}
          {{#alert}}
            <div class="g-px--20">
              {{>atoms-alert}}
            </div>
          {{/alert}}
          {{#list}}
            <div class="{{classCont}}">
              <div>
                <span class="{{ico}} {{color}} {{class}}"></span>
              </div>
              <div>
                <div class="{{classText}}">{{text}}</div>
                {{#link}}
                  <div class="{{class}}">{{text}}</div>
                {{/link}}
              </div>
            </div>
          {{/list}}
          <div class="g-px--20  g-pt--20 ">
            {{#list2}}
              {{#title}}
                <div class="g-font--14 g-font--medium  g-pb--10 ">{{text}}</div>
              {{/title}}
              <div class="d-flex align-items-center g-py--10">
                <div class="d-flex align-items-center">
                  <span class="{{ico}} {{classIco}}"></span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="{{classText}}">{{text}}</div>
                </div>
              </div>
            {{/list2}}
          </div>
        </div>
      </div>
    </div>
    {{/detail}}

  </div>
</div>
