<div class="row phone--box  g-pt--20   g-pb--20  ">
  <div class="col-6  g-mb--0 g-p--0  g-px-md--10">
    {{#phone1}}
      {{>molecules-phone}}
    {{/phone1}}
  </div>
  <div class="col-6  g-p--0 g-px-md--10">
    {{#phone2}}
      {{>molecules-phone}}
    {{/phone2}}
  </div>
</div>