<div class="{{cardCheckClass}}">
  <div class="{{contentLeftClass}}">
    {{#text}}
      <div class="{{textClass}}">
        {{#iconFile}}
        <span class="{{iconFile}} {{iconClass}}"></span>
        {{/iconFile}}
        {{{text}}}
      </div>
    {{/text}}
  </div>
  {{#right}}
    <div class="{{rightClass}}">
      {{#checkbox}}
        {{>atoms-mf-checkbox}}
      {{/checkbox}}
    </div>
  {{/right}}
</div>