<div class="g-ui-view">
  <search-switch-navbar></search-switch-navbar>
  <div class="g-fixed g-ie-fixed">
    <div class="g-ui--sckity g-bg-c--white1 g-view-landing-home-sctr">
      <search-landing-header></search-landing-header>
      <search-landing-section></search-landing-section>
    </div>
    <search-footer></search-footer>
  </div>
</div>
