<div class="g-map-filter--desktop g-bg-c--white1 h-100 g-box--shadow1">
  <div class="g-filterbox--filter">
    <div class="g-filterbox--header d-flex align-items-center g-px--20 g-bb--1 h-px--5">
      <div (click)="closeDetail()" class="g-mr--15">
        <span class="g-filterbox--close d-block icon-mapfre_010_arrow-left g-font--16 g-c--gray9 g-c--pointer"></span>
      </div>
      <div class=" g-font--medium g-font--18  g-text--uppercase">
        {{ office?.nombre }}
      </div>
    </div>
    <div class="g-filterbox--content-filter d-flex flex-column">
      <div data-simplebar>
        <div *ngIf="office?.imagenLandscapeUrl" class="position-relative">
          <div class="g-ie-mh--13">
            <img *ngIf="office" class="w-100 d-block" [src]="office?.imagenLandscapeUrl" (load)="imgLoaded()">
          </div>
          <div class="g-map-filter--loading">
            <mf-loader *ngIf="showLoading"></mf-loader>
          </div>
        </div>
        <div>
          <div class="d-flex g-py--15 g-bb--1 g-bt--1">
            <div>
              <span class="icon-mapfre_015_location-pin g-c--gray9 g-px--20 g-font--25 g-font-md--21"></span>
            </div>
            <div>
              <div *ngIf="office" class="g-font--14 g-c--gray9 g-font--light g-line--13">{{ officeAddress }}</div>
              <div *ngIf="hasPermission" class="g-font--14 g-c--gray9 g-font--light g-line--13 g-mt--3">{{ officeDistance }}</div>
              <div *ngIf="hasPermission" class="g-font--14 g-c--green1 g-font--medium g-c--pointer g-mt--5" (click)="openGmapDir()">{{ lang.Labels.HowToGetThere }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center g-py--15 g-bb--1">
            <div>
              <span class="icon-mapfre_128_telephone g-c--gray9 g-px--20 g-font--25 g-font-md--21"></span>
            </div>
            <div>
              <div class="g-font--14 g-c--gray9 g-font--light g-line--10">{{ office?.telefono || lang.Texts.WithOutInformation }}</div>
            </div>
          </div>
          <div class="d-flex align-items-center g-py--15 g-bb--1">
            <div>
              <span class="icon-mapfre_062_reloj g-c--gray9 g-px--20 g-font--25 g-font-md--21"></span>
            </div>
            <div>
              <div class="g-font--14 g-c--gray9 g-font--light g-line--10">{{ office?.horarioAtencion || lang.Texts.WithOutInformation }}</div>
            </div>
          </div>
          <div class="g-px--20 pt-xs--2">
            <div class="g-font--14 g-font--medium pb-xs--1">{{ lang.Labels.Services }}</div>
            <div class="d-flex align-items-center g-py--10" *ngFor="let service of office?.servicios">
              <div class="d-flex align-items-center g-ie-flex--0-1-auto">
                <span class="g-pr--20 g-font--21 g-c--gray9" [ngClass]="{
                'icon-mapfre_131_offer': service.codigo === keyServices.SALES.key,
                'icon-mapfre_132_messege': service.codigo === keyServices.SERVICE.key,
                'icon-mapfre_129_carwash': service.codigo === keyServices.INSPECT.key,
                'icon-mapfre_130_hand-money': service.codigo === keyServices.PAYMENTS.key,
                'icon-mapfre_206_funeral': service.codigo === keyServices.FUNERAL.key,
                'icon-mapfre_207_personal_data': service.codigo === keyServices.PERSONALDATA.key}"></span>
              </div>
              <div class="d-flex align-items-center">
                <div class="g-font--14 g-c--gray9 g-font--light g-line--10">{{ service.descripcion }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
