<div class=" {{contentClass}}">
  <div class="g-c--pointer g-font--medium d-flex {{textClass}}">{{{text}}}
    {{#icono}}
    <span class="g-c--pointer {{iconClass}} {{icon}}"></span>
    {{/icono}}
  </div>
</div>