<div class="text-center">
  <div class="g-w--9 g-box--shadow1 p-xs--2 g-b-radius--5 mb-xs--2 position-relative d-inline-block">
    <span class="g-font--45 g-c--gray10" [ngClass]="item.icon"></span>
    <!-- Tooltips -->
    <mf-tooltips *ngIf="item.description || item.question" [classPosition]="'g-box--circle  g-bg-c--white1 g-box--shadow1 g-pa--rb15'">
        <div class="text-left text-left g-font--13 g-font--light g pb-2 g-font--13 g-font--bold">{{ item.title }} </div>
        <div class="g-font--12 g-font--normal text-left" [innerHTML]="item.description"></div>
        <div class="g-font--12 g-font--normal text-left g-c--green1 pt-xs--1 g-c--pointer" *ngIf="item.questionBool" (click)="actionKey(item.routeKey)">
          {{ item.question }}
        </div>
    </mf-tooltips>
  </div>

  <div class="px-3 text-center" #title (click)="showFullTitle()">
    {{ item.title }}
  </div>
</div>
