<!-- Content -->
<div class="g-px--15 g-pt--15 g-bt--1 g-bc--gray11">
  <div *ngIf="content && content.content" class="d-flex align-items-center g-pb--25">
    <div class="g-bg-c--gray11 g-b-radius--50 g-p--20 g-mr--10 g-box-shadow2">
      <div class="{{ content.icon }} g-c--gray2 g-font--24"></div>
    </div>
    <div>
      <div class="g-font--medium g-line--10">{{ content?.title }}</div>
      <div class="g-font--light g-text--uppercase">{{ content?.content }}</div>
    </div>
  </div>
  <div *ngFor="let text of content.itemList"
    class="g-line--14 g-pb--15 g-font--light d-flex align-items-center">
    <span class="{{ text.icon }} g-pr--5 g-font--20 g-c--gray18"></span>
    {{ text?.text }}
  </div>
</div>
