<div class="d-flex flex-wrap flex-lg-nowrap flex-lg-nowrap align-items-center">
  <div class="mx-auto g-mr--15">
    <div class="g-circle--white g-box--shadow2 d-flex align-items-center justify-content-center mx-auto mx-lg-0">
      <span class="g-font--30 g-font--bold">{{ avatar }}</span>
    </div>
  </div>
  <div class="w-100 text-center text-lg-left text-lg-truncate g-px--15">
    <div class="g-font--20 g-font-lg--24 g-font--medium p-xs--2 px-0 p-lg-0 g-bb--1 g-bb-lg--0 g-bc--gray7 text-lg-truncate">
      {{ isEnterprise ? clientInformation?.razonSocial || clientInformation?.nombreCompletoCliente : clientInformation?.nombreCompletoCliente }}
    </div>
    <!-- En Home -->
    <div class="d-flex flex-wrap justify-content-center justify-content-md-start " *ngIf="isHome">
      <div *ngIf="!isEnterprise" class="d-flex text-wrap align-items-center g-font--light">
        <div class="text-truncate text-nowrap">
          {{ clientInformation?.emailCliente }}
        </div>
      </div>
      <p class="m-0 w-100">
        <a
          href="javascript:void(0)"
          (click)="myPerfil()"
          gaClick
          [gaCategory]="gaMyProfile.category"
          [gaAction]="gaMyProfile.action"
          [gaLabel]="gaMyProfile.label">
          <span class="g-c--green1 g-font--medium">{{ linkMyProfile }}</span>
        </a>
      </p>
    </div>
    <!-- En Perfil -->
    <div class="d-flex flex-wrap flex-lg-nowrap py-2 py-lg-0" *ngIf="!isHome">
      <div class="d-flex text-wrap align-items-center g-font--normal w-100 w-lg-auto g-o-lg--hidden g-ie-flex--0-1-auto" *ngIf="!isEnterprise">
        <div class="d-flex justify-content-center mx-auto mx-lg-0 align-items-center g-o-lg--hidden g-ie-flex--0-1-auto">
          <div class="text-lg-truncate g-word-extend" [title]="clientInformation?.emailCliente || WithOutEmail" [ngClass]="clientInformation.emailCliente? '':'font-italic'">
            {{ clientInformation?.emailCliente || WithOutEmail}}
          </div>
          <div (click)="openEditEmailModal()" class="pl-3 px-lg-3">
            <span class="icon-mapfre_035_edit g-c--green1 mr-0 mr-lg-2 g-font--16 g-c--pointer"></span>
          </div>
        </div>
      </div>
      <div
        class="d-flex text-wrap align-items-center g-font--normal w-100 w-lg-auto g-bc--gray7 pl-0" [ngClass]="{'pl-lg-4 g-bl-lg--1': !isEnterprise}">
        <div class="d-flex justify-content-center mx-auto mx-lg-0 align-items-center">
          <div class="text-truncate text-nowrap g-font--medium">
            {{ labelPassword }}: ************
          </div>
          <div (click)="openEditPasswordModal()" class="pl-3 px-lg-3">
            <span class="icon-mapfre_035_edit g-c--green1 g-font--16 g-c--pointer"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Editar email -->
<client-edit-email
  *ngIf="!isHome"
  [clientProfile]="clientInformation"
  (changeEmail)="emitChangeClientInformation($event)">
</client-edit-email>

<client-modal-change-password *ngIf="!isHome"></client-modal-change-password>
