<div class="d-flex">

  <aside class="g-box-nav">
    <!--Begin: Menu-->
    <div class="g-bg-c--gray8 h-100">
      {{#acordion}}
      {{>organisms-nav}}
      {{/acordion}}
    </div>
    <!--End: Menu-->
  </aside>
  <section class="g-box-container">
    <!--Begin: Header-->
    {{#headerOIM}}
    {{>organisms-header}}
    {{/headerOIM}}
    <!--End: Header-->
    <!--Begin: content-->
    <div class="sect-container">
      {{>templates-mapfre-ambulacia}}
    </div>
  </section>

</div>

<div class="g-box-nav--close g-none" onclick="closeNavBox()"></div>
