<div class="sect-container g-mx-n--15 g-pr-lg--375">

  <div class="g-map">
    {{#googlemaps}}
      {{>molecules-googlemaps}}
    {{/googlemaps}}
  </div>

  <div class="g-map-filter">

    <div class="g-map-filter--desktop g-bg-c--white1 h-100 g-box--shadow1 ">

      {{#filter}}
          {{>templates-salud-search}}
      {{/filter}}

      {{#scheduledDriver}}
        {{>templates-scheduled-driver}}
      {{/scheduledDriver}}

      {{#modifyNow}}
        {{>templates-scheduled-driver-modify}}
      {{/modifyNow}}

    </div>

    {{#menumobile}}
      <div class="d-lg-none">
        <div class="g-map-filter--mobile {{menuClass}} patternlab-none">
          {{#menu}}
            <div class="{{addClass}}">
              <div class="{{textClass}}">{{{text}}}</div>
            </div>
          {{/menu}}
        </div>
      </div>
    {{/menumobile}}

  </div>
</div>