<div class="clearfix g-mb--20">
  <div class="d-lg-flex justify-content-between g-b-radius--5 g-bg-c--white1 g-my--15 g-box--shadow1">
    <div class="d-flex g-ie-flex--0-1-auto mr-auto g-py--15 g-pr--15 w-10 g-pl-lg--20">
      <span class="icon-mapfre_218_idea g-font--21 g-font-md--30 g-pt-lg--5 g-pr--0 g-mx--10"></span>
      <div class="flex-wrap">
        <div class="g-font--12 g-font-md--20 g-font--medium">
          {{ notification.title }}
        </div>
        <div class="w-100 g-font--light g-font--12 d-lg-flex">
          <div class="d-flex g-mt--5 g-mt-lg--0 align-items-lg-center">
            <span class="g-list--ico icon-mapfre_003_check g-pt--2 g-pt-lg--0 g-mr--5"></span>
            <div class="">{{ notification.benefit1 }}</div>
          </div>
          <div class="d-flex g-mt--5 g-mt-lg--0 align-items-lg-center">
            <span class="g-list--ico icon-mapfre_003_check g-pt--2 g-pt-lg--0 g-pl-lg--15 g-mr--5"></span>
            <div class="">{{ notification.benefit2 }}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="pdfFiles && (isLimaValid || isProvincesValid)" class="justify-content-center align-items-center d-flex">
      <div class="text-center text-lg-right g-pr-lg--30 g-pb--5 g-pb-lg--0">
        <div class="g-font--light g-font--13 text-nowrap g-pb--5 d-inline-block">
          {{ notification.moreInfo }}
        </div>
        <div class="d-flex justify-content-center justify-content-lg-end g-c--green1 g-pb--10 g-pb-lg--0">
          <a
            *ngIf="isLimaValid"
            [href]="pdfFiles.talleresLimaURL"
            target="_blank"
            class="align-items-center d-flex"
            [ngClass]="{ 'g-pr--20': isProvincesValid }"
            ctrl="linkFiles"
            (domChange)="onDomChange($event, { lbl: notification.lima })"
          >
            <span class="icon-mapfre_093_pdf g-font--21"></span>
            <span class="g-pl--5 g-font--medium g-c--pointer text-nowrap">{{ notification.lima }}</span>
          </a>
          <a
            *ngIf="isProvincesValid"
            [href]="pdfFiles.talleresProvinciaURL"
            target="_blank"
            class="align-items-center d-flex"
            ctrl="linkFiles"
            (domChange)="onDomChange($event, { lbl: notification.provinces })"
          >
            <span class="icon-mapfre_093_pdf g-font--21"></span>
            <span class="g-pl--5 g-font--medium g-c--pointer text-nowrap">{{ notification.provinces }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
