<mf-card>
  <mf-card-header [header]="data.titleMyPolicies" [icon]="fileIcon" hc> </mf-card-header>

  <mf-custom-alert *ngIf="onSuccess" [status]="successStatus" [text]="text"></mf-custom-alert>

  <mf-card-content [collapse]="collapse">
    <mf-loader *ngIf="showLoading"></mf-loader>

    <client-payment-settings-policy *ngFor="let payment of paymentsList" [payment]="payment" [canEdit]="true" [ga]="ga">
    </client-payment-settings-policy>
  </mf-card-content>
</mf-card>
