.loader {
  border: 4px solid #dddddd;
  border-radius: 50%;
  border-top: 4px solid #8db602;
  width: 50px;
  height: 50px;
  margin: 30px auto;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.custom-loader {
  border: 3px solid #dddddd;
  border-radius: 50%;
  border-top: 4px solid #8db602;
  width: 25px;
  height: 25px;
  margin: 10px auto;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
