<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
    <mf-stepper 
      [currentStep]='2'
      [stepList]="stepList">
    </mf-stepper>
  
    <client-form-base
      (actionCancel)="actionCancel()"
      (actionConfirm)="actionConfirm()"
      [btnCancel]="btnCancel"
      [btnConfirm]="graLng?.Buttons?.Next"
      [disableConfirm]="!frm?.valid"
      [iconClass]="fileIcon"
      [showLoading]="showLoading"
    >
      <div class="g-p--20 g-p-lg--40">
        <!-- Titulo -->
        <div class="d-md-flex justify-content-between text-center">
          <div class="g-w-lg--50">
            <div class="g-font-md--20 g-font--medium g-px--10 g-px-lg--0 g-mb--5 g-mb-md--0">
              {{ lang.Titles.DataMedicalAppointmentPatient }}
            </div>
          </div>
        </div>
        <!-- Datos -->
        <form [formGroup]="frm">
          <div class="d-flex flex-wrap w-100 g-pt--20">
            <div class="g-w-100 g-pr-lg--15 g-pb--10">
              <mf-select
                (getLoadingState)="getLoadingState($event)"
                (getSelectedOpt)="getSelectedPatient($event)"
                [frm]="frm"
                [config]="configPatient"
                [label]="'Seleccione Paciente'"
                [name]="'documentoPaciente'"
                [type]="'documentoPaciente'"
                [validCodiv]="true"
                [showEnableWhenHasOneItem]="true"
                formControlName="documentoPaciente"
                >
              </mf-select>
            </div>
            <div class="g-w-100 g-pr-lg--15 g-pb--10">
              <mf-input
                [label]="'Celular de contacto para prueba covid'"
                [maxlength]="maxLengthCellphone"
                [OnlyNumber]="true"
                [pattern]="numericRegExp"
                formControlName="contactCellphone">
              </mf-input>
              <mf-show-errors [control]="frm?.controls['contactCellphone']"></mf-show-errors>
            </div>
          </div>
        </form>
      </div>
    </client-form-base>
  </div>
  <mf-modal-message
    (confirmResponse)="onConfirmModal($event)"
    [confirm]="true"
    [messageDone]="graLng.Messages.EstimatedUser"
    [messageSuccessUpdate]="graLng.Messages.DeleteData"
    [pathIcon]="iconError"
    [sizeClass]="'g-modal--medium'">
  </mf-modal-message>
  