<div class="view-life pt-xs--2">

  <!-- Lista de Pólizas -->
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-my-policies-by-type [policyType]="policyType" [ga]="ga"></client-card-my-policies-by-type>
    </div>
  </div>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <!-- Landing de viajes -->
  <client-landing-travel></client-landing-travel>

  <!-- Qué quieres hacer -->
  <div class="row mt-xs--2" *ngIf="policyType">
    <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
      <client-card-what-you-want-to-do [policyType]="policyType"></client-card-what-you-want-to-do>
    </div>
  </div>

</div>
