<div *ngIf='!editing'>
  <div class="g-b--1 g-bc--gray11 g-mt--40 d-flex flex-column flex-lg-row justify-content-between align-items-center g-ie-flex--0-1-auto g-b-radius--5">
    <div class="d-flex g-p--25 g-ie-flex--0-1-auto g-br-lg--1 g-bb--1 g-bb-lg--0 g-bc--gray11">
      <div
        class="g-c--gray18 g-font--24"
        [ngClass]="isAutomatic ? renewalLang.automatic.icon : renewalLang.manual.icon"></div>
      <div class="g-font--13 g-ie-flex--0-1-auto g-font--medium g-font--gray2 g-ml--10">{{ isAutomatic ? renewalLang.automatic.title : renewalLang.manual.title }}<br>
        <span class="g-font--light g-pt--10">
          {{ isAutomatic ? renewalLang.automatic.content : renewalLang.manual.content }}
        </span>
      </div>
    </div>
    <div
      class="g-py--15 g-p-lg--25 g-ie-flex--0-1-auto g-c--pointer"
      (click)="onEdit(true)"
      ctrl="settingRenevalChange"
      (domChange)="onDomChange($event, { label: renewalLang.change.label })"
    >
      <div class="g-c--green1 text-nowrap d-flex align-items-center g-ie-flex--0-1-auto">
        <span class="g-font-lg--21 g-font--18 g-pr-lg--5 g-pr--15" [ngClass]="renewalLang.change.icon"></span>
        {{ renewalLang.change.label }}
      </div>
    </div>
  </div>
</div>

<div *ngIf='editing' [ngClass]="{'g-full-form--load': showLoading}">
  <div class="g-c--gray2 g-font-lg--18 g-font--16 g-line--14 g-font--medium g-my--20 g-mt-lg--0">{{ renewalLang.title }}</div>
  <div class="g-w-100 g-pr-lg--10 g-pb--10">

    <div (click)="onAutomaticSelection()"
      class="d-flex g-box--shadow1 justify-content-between flex-wrap flex-lg-nowrap g-b-radius--5 g-mb--10 g-c--pointer">
      <div>
        <label class="d-flex align-items-lg-center h-100 g-m--0">
          <div class="g-radio d-flex align-items-center g-m--0 g-py--20 g-pl--20">
            <input type="radio" [checked]="isAutomatic">
            <span class="radio"></span>
            <span></span>
          </div>
        </label>
      </div>
      <div class="g-px--20 g-py--15 g-py-lg--20 d-flex flex-column flex-fill w-7 w-lg-10 g-bl--1 g-bc--gray11">
        <div class="d-flex">
          <span class="g-font--medium g-c--gray2 g-font--14">{{ renewalLang.automatic.title }}</span>
        </div>
        <div class="g-font--light g-c--gray2 g-font--13">
          {{ renewalLang.automatic.contentEditing }}
        </div>
      </div>
    </div>

    <div (click)="onManualSelection()"
      class="d-flex g-box--shadow1 align-items-lg-center justify-content-between flex-wrap flex-lg-nowrap g-b-radius--5 g-c--pointer">
      <div>
        <label class="d-flex align-items-lg-center h-100 g-m--0">
          <div class="g-radio d-flex align-items-center g-m--0 g-py--20 g-pl--20 g-font--13 g-font-lg--14">
            <input type="radio" [checked]="!isAutomatic">
            <span class="radio"></span>
            <span></span>
          </div>
        </label>
      </div>
      <div class="g-px--20 g-py--15 g-py-lg--20 d-flex flex-column flex-fill w-7 w-lg-10 g-bl--1 g-bc--gray11">
        <div class="d-flex">
          <span class="g-font--medium g-c--gray2 g-font--14">{{ renewalLang.manual.title }}</span>
        </div>
        <div class="g-font--light g-c--gray2 g-font--13">
          {{ renewalLang.manual.contentEditing }}
        </div>
      </div>
    </div>

    <div *ngIf="payment.puedeUsarMapfreDolaresRenovacion && isAutomatic"
      class="g-checkbox d-flex flex-column flex-lg-row w-10 g-pt--20 g-px-lg--15 g-px-lg--0 g-ie-flex--0-1-auto">
      <label class="d-flex g-ie-flex--0-1-auto">
        <input
          type="checkbox"
          [checked]="useMPD"
          (change)="toogleMPD($event);"
          ctrl="settingRenevalUseMPD"
          [attr.data-checkedtext]="useMPD ? 'Si' : 'No'"
          (domChange)="onDomChange($event, { label: renewalLang.useMPD })"
        >
        <span class="checkbox"></span>
        <span class="g-font--light g-c--gray2 g-font--13">{{ renewalLang.useMPD }}</span>
      </label>
    </div>

  </div>

  <div class="d-flex w-10 g-ie-flex--0-1-auto g-mt-lg--10 g-py--20 justify-content-center">
    <div class="w-50 g-pr--5 g-pl-lg--5">
      <button
        mf-button
        outline
        [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
        (click)="onEdit(false)"
        ctrl="settingRenevalBtns"
        (domChange)="onDomChange($event, { label: generalLang.Buttons.Cancel, modalidadRenovacion: isAutomatic ? 'Manual' : 'Automática' })"
      >
        {{ generalLang.Buttons.Cancel }}
      </button>
    </div>

    <div class="w-50 g-pl--5 g-pr-lg--5">
      <button
        mf-button
        [ngClass]="'w-10 d-block g-max-w--24 mx-auto'"
        [disabled]="disableConfirm"
        (click)="onConfirm()"
        ctrl="settingRenevalBtns"
        (domChange)="onDomChange($event, { label: generalLang.Buttons.Select, modalidadRenovacion: isAutomatic ? 'Manual' : 'Automática' })"
      >
        {{ generalLang.Buttons.Select }}
      </button>
    </div>

  </div>
</div>

<mf-modal-message *ngIf="showModal"
  [sizeClass]="'g-modal--medium'"
  [messageDone]="generalLang.Messages.Done"
  [messageSuccessUpdate]="renewalLang.confirm.content"
  (confirmResponse)="confirmResponse()">
</mf-modal-message>
