<div class="{{containerClass}}">
  {{#contentLeft}}
    <div class="{{contentLeftClass}}">

      {{#radioCheck}}
        <label class="{{radioCheckClass}}">
          {{>atoms-mf-radiobutton}}
        <label>
      {{/radioCheck}}

    </div>
  {{/contentLeft}}
  <div class="{{contentClass}}">

    {{#cardClass}}
      <div class="{{cardClass}}">

        {{#image}}
          <img class="{{imageClass}}" src="{{urlImage}}" alt="">
        {{/image}}

        <span class="{{textClass}}">{{{text}}} </span>
      </div>
    {{/cardClass}}

    {{#textContent}}
      <div class="{{textClass}} ">
          {{{text}}}
      </div>
    {{/textContent}}

  </div>

  {{#contentRight}}
    <div class="{{rightClass}}">

      {{#icon}}
        <div class="{{iconFile}} {{iconClass}}"></div>
      {{/icon}}

    </div>
  {{/contentRight}}

</div>