<client-terms-conditions
  (changeTermsAndConditions)="changeTermsAndConditions()"
  [typeModule]="moduleTermsConditions"
  *ngIf="showTermsAndConditions">
</client-terms-conditions>
<div class="pb-5" *ngIf="!showTermsAndConditions">

    <div *ngIf="showLoading"
        class="g-bg-c--white1 g-box--shadow1 mt-3 g-b-radius-lg--5 d-flex justify-content-center align-items-center g-mh--10 w-100">
        <mf-loader></mf-loader>
    </div>

    <client-clinic-service *ngIf="!showLoading" [appointments]="appointments"></client-clinic-service>

    <div class="view-soat-insurance pt-xs--2">
        <div class="g-box--shadow1 g-bg-c--white1 d-flex flex-column w-100 g-b-radius--3 h-lg-100">
            <div class="w-100">
                <div
                    class="g-box-icons--title d-flex justify-content-between align-items-center w-10 flex-fill text-truncate g-px-lg--25">
                    <div class="g-items-list d-flex flex-fill pl-3 pl-lg-0">
                        <div class="d-block d-sm-flex align-items-center flex-fill text-truncate pt-3 pb-lg-2 g-mb--10">
                            <p
                                class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase g-mb--0">
                                {{ lang.Labels.WhatNeed }}</p>
                        </div>
                    </div>
                </div>
                <div class="g-px--20 g-px-lg--25 g-pb--20">
                    <div class="row">
                        <div class="col-md-6 col-lg-4" *ngFor="let service of services"  [ngClass]="{'g-full-form--load-sm': cardLoading}">
                          <div class="g-box--shadow1 g-c--pointer g-mb--20" (click)="goEvent(service)"
                              ctrl="gaDigitalClinicItem"
                              (domChange)="onDomChange($event, { itemAction: service.description, itemLabel: service.description })">
                              <div class="d-flex align-items-center g-hg-lg--140 g-hg--100 sect-container">
                                  <img class="g-wt-lg--120 g-wt--70 h-100"
                                      [src]="service.icon" alt="Icono">
                                  <div class="w-100">
                                      <p class="w-100 g-font--16 g-mb--0 g-font--medium">{{ service.description }}</p>
                                  </div>
                                  <span
                                      class="g-font--20 g-pr--10 g-pl--20 g-pl-lg--50 icon-mapfre_103_ico-right g-c--green1"></span>
                                  <span class="item-label" *ngIf="service.isNew">{{ lang.Labels.New }}</span>
                              </div>
                          </div>
                          <!-- <a *ngIf="service.action === enumActionServiceDigitalClinic.REDIRECTION_OUT" [href]="platformService.isMobile ? mediktorPhone : goEvent(service)" ctrl="gaDigitalClinicItem"
                                (domChange)="onDomChange($event, { itemAction: service.description, itemLabel: service.description })">
                            <div class="g-box--shadow1 g-c--pointer g-mb--20">
                                <div class="d-flex align-items-center g-hg-lg--140 g-hg--100 sect-container">
                                    <img class="g-wt-lg--120 g-wt--70 h-100"
                                        [src]="service.icon" alt="Icono">
                                    <div class="w-100">
                                        <p class="w-100 g-font--16 g-mb--0 g-font--medium">{{ service.description }}</p>
                                    </div>
                                    <span
                                        class="g-font--20 g-pr--10 g-pl--20 g-pl-lg--50 icon-mapfre_103_ico-right g-c--green1"></span>
                                    <span class="item-label" *ngIf="service.isNew">{{ lang.Labels.New }}</span>
                                </div>
                            </div>
                          </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <client-clinic-no-service *ngIf="!showLoading && appointments && appointments.length === 0">
    </client-clinic-no-service>

    <mf-modal-alert
        [confirmButtonText]="textButtonConfirmModal"
        [cancelButtonText]="textButtonCancelModal"
        [isDisabledAutoClose]="true"
        [noMinHeight]="true"
        [confirm]="flagConfirmModal"
        [outline]="outlineModal"
        (confirmResponse)="confirmModal($event)"
        [sizeClass]="'g-modal--medium'">
        <div class="m-auto text-center g-py--20 g-px--20">
            <div class=" text-center g-mb--20">
                <img [src]="iconModal" [alt]="altTextIconModal" width="200">
            </div>
            <div class="g-font--18 mb-4 g-font--medium">{{ titleModal }}</div>
            <p class="text-left"><span *ngIf="showTwoSubTitle" class="g-font--medium">{{subTitleSpanModal}}</span>
                {{subTitleModal}}</p>
            <br *ngIf="showTwoSubTitle">
            <p *ngIf="showTwoSubTitle" class="text-left"><span *ngIf="showTwoSubTitle"
                    class="g-font--medium">{{subTitleTwoSpanModal}}</span> {{subTitleTwoModal}}</p>
            <div *ngIf="htmlModalText" class="text-left" [innerHTML]="htmlModalText"></div>
        </div>
    </mf-modal-alert>
</div>
