<mf-modal [title]="getModalTitle()"
          [titleMobile]="dataVehicleTitle"
          [secondTitleMobile]="getModalTitle()"
          [confirm]="true"
          [showLoading]="showLoading"
          [disableButton]="!formManageAccesory?.valid"
          (confirmResponse)="saveForm($event)">
  <div class="g-px--15 pb-5 px-lg-5">
    <form *ngIf="formManageAccesory" [formGroup]="formManageAccesory">
      <div class="row">
        <div class="col-md-12">
          <mf-select [formControl]="accesory_type" [options]="accesoriesTypeListItem"
                    [label]="labelTypeAccesory" (change)="selectAccesoryType()"></mf-select>
        </div>
        <div class="col-md-12">
          <div class="pt-xs--3 am-customize">
            <div class="g-c--gray9 g-font--light g-font--13">{{ labelPriceRange }}</div>
            <mat-slider [min]="accesorySelected?.minimo"
                        [max]="accesorySelected?.maximo"
                        (change)="setRangePriceValue($event)"
                        [value]="accesory?.monto"
                        [thumbLabel]="true"
                        [displayWith]="formatLabel"
                        [disabled]="!accesorySelected"
                        class="w-100 p-0"></mat-slider>
            <div class="d-flex justify-content-between g-c--gray9 g-font--light g-font--13 g-mt-n--15">
              <div>
                <ng-container *ngIf="accesorySelected && accesorySelected.minimo; else one">
                  {{ accesorySelected.minimo | currency: '$ ' }}
                </ng-container>
                <ng-template #one>
                  {{ labelMinValue }}
                </ng-template>
              </div>
              <div>
                <ng-container *ngIf="accesorySelected && accesorySelected.maximo; else two">
                  {{ accesorySelected.maximo | currency: '$ ' }}
                </ng-container>
                <ng-template #two>
                 {{ labelMaxValue }}
                </ng-template>
              </div>
            </div>

          </div>

        </div>
        <div class="col-md-12">
          <mf-input [formControl]="model" [error]="showErrors('model')" [placeholder]="labelModelAccesory"
                    [maxlength]="generalMaxLength.accesoryModel" [dontWhiteSpace]="true"></mf-input>
          <mf-show-errors [control]="model"></mf-show-errors>
        </div>
      </div>
    </form>
  </div>
</mf-modal>
<mf-modal-message [messageDone]="doneMessage" [success]="doneUpdate"
                  [messageSuccessUpdate]="messageSuccessOrError"></mf-modal-message>
