@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the theme.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the theme styles for only specified components.
@include mat-slider-theme($candy-app-theme);

// estilos personlaizaddos

// sass-lint:disable-all
$colors: (
  white1: #fff,
  black1: #000,
  gray1: #666,
  gray2: #979797,
  gray3: #4c4c4c,
  gray4: #b9c6d1,
  gray5: #f7f8f9,
  gray6: #888383,
  gray7: #d5d5d5,
  gray8: #4b4b4b,
  gray9: #747474,
  gray10: #8e8e8e,
  gray11: #f2f2f2,
  gray12: #e8e8e8,
  gray13: #444,
  gray14: #aaa,
  gray15: #dee3e7,
  gray16: #d8d8d8,
  gray17: #d0d0d1,
  red1: #d81e05,
  red2: #d51c07,
  red3: #b80800,
  red4: #ea6676,
  red5: #ef4e4e,
  red6: #e85273,
  red7: #fff4ec,
  red8: #b80800,
  red9: #520000,
  green1: #8db602,
  green2: #86c414,
  green3: #20af97,
  green4: #37bd74,
  green5: #159139,
  green7: #f8ffe0,
  purple1: #8e187e,
  purple2: #7d49a3,
  blue1: #00b6ff,
  blue2: #d8f0fb,
  orange1: #ef9454,
  yellow1: #fcc500
);
.am-customize .mat-slider-horizontal .mat-slider-wrapper {
  left: 0;
  right: 0;
}

.am-customize .mat-slider-horizontal .mat-slider-ticks,
.am-customize .mat-slider-horizontal .mat-slider-ticks-container,
.am-customize .mat-slider-horizontal .mat-slider-track-wrapper,
.am-customize .mat-slider-horizontal .mat-slider-wrapper,
.am-customize .mat-slider-horizontal .mat-slider-track-background,
.am-customize .mat-slider-horizontal .mat-slider-track-fill {
  height: 3px;
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: map-get($colors, green1);
}

.am-customize .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb {
  background-color: map-get($colors, gray10);
}

.am-customize .mat-slider:not(.mat-slider-disabled) .cdk-focused.mat-slider-thumb-label-showing .mat-slider-thumb {
  transform: scale(1);
}

.am-customize .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb,
.am-customize .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb,
.am-customize .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb {
  transform: scale(0.7) !important;
}

.mat-slider-track-background {
  background-color: map-get($colors, gray16);
}

.am-customize .mat-slider-thumb-label {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 28px;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), border-radius 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 0);
}

.am-customize .mat-slider-horizontal .mat-slider-thumb-label {
  transform: translateY(16px) scale(0.01) rotate(0);
}

.am-customize .mat-slider-horizontal.cdk-focused .mat-slider-thumb-label,
.am-customize .mat-slider-horizontal .mat-slider-thumb-label-text {
  transform: rotate(0);
}

.am-customize .mat-accent .mat-slider-thumb-label {
  background-color: transparent;
}

.am-customize .mat-accent .mat-slider-thumb-label-text {
  color: map-get($colors, gray2);
}

.am-customize .mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
  border-radius: 0;
}

.am-customize .mat-slider-horizontal .mat-slider-thumb-label {
  left: inherit;
}

.am-customize .mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label {
  background-color: transparent;
}

.am-customize .mat-slider-horizontal .mat-slider-thumb-label {
  right: -50px;
  top: -30px;
  transform: scale(1);
}

.am-customize .mat-slider-thumb-label {
  display: block;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), border-radius 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.am-customize .mat-slider-thumb-label-text {
  opacity: 1;
}

.g-full-modal--content > div.wrap {
  overflow-x: hidden;
}
// sass-lint:enable-all
