<div class="sect-container g-height--full">

  <!-- Loading -->
  <mf-loader-full-screen *ngIf="!vehicleDetail"></mf-loader-full-screen>

  <div class="g-mx-n--15" *ngIf="vehicleDetail">
    <div class="g-max-w-md--760 g-max-w-lg--690 mx-auto my-md-5 p-0">
      <div class="d-flex">
        <div class="ml-auto">
          <div class="tag--icon justify-content-center align-items-center d-none d-lg-flex g-bg-c--gray8 g-c--white1 mt-4 pl-2">
            <span class="icon-mapfre_019_car g-font--45"></span>
          </div>
        </div>
        <div class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 none mr-auto g-max-w-md--60">
          <div class="pt-4 pl-4 pr-4 pl-lg-5 pr-lg-5">
            <div class="g-font--18 g-font-md--20 g-text--uppercase g-font--medium">
              {{ vehiclesLang.Titles.DataVehicle }}
            </div>
            <div class="row">
              <div *ngIf="vehicleDetail" class="col-12 mb-4">
                <!-- Notificacion -->
                <mf-custom-alert *ngIf="vehicleDetail?.placaEnTramite" [status]="warningStatus" [text]="callMe"></mf-custom-alert>

                <!-- Datos del vehiculo -->
                <div class="g-items row mt-3 g-c--gray13">
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.Model }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ complexModel() }}
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.Plate }}
                    </div>
                    <div class="g-items-text mb-3">
                      <span *ngIf="!vehicleDetail?.placaEnTramite; else newnumberplate">{{ vehicleDetail.placa }}</span>
                      <ng-template #newnumberplate>
                        <span>EN TRÁMITE</span>
                      </ng-template>
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.Value }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ vehicleDetail.monedaValorSugerido }} {{ vehicleDetail.valorSugerido }}
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                     {{ vehiclesLang.Labels.Color }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ vehicleDetail.color }}
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.Type }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ vehicleDetail.tipoVehiculo }}
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.UseVehicle }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ vehicleDetail.uso }}
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.ChassisNumberLg }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ vehicleDetail.numeroChasis }}
                    </div>
                  </div>
                  <div class="g-items-list col-sm col-sm-6">
                    <div class="g-items-text g-font--13 g-font--light g-c--gray9">
                      {{ vehiclesLang.Labels.MotorNumberLg }}
                    </div>
                    <div class="g-items-text mb-3">
                      {{ vehicleDetail.numeroMotor }}
                    </div>
                  </div>
                </div>
                <!-- Extras -->
                <client-vehicle-accesories
                  *ngIf="false"
                  [numberPhoneErrorEditAccesory]="numberPhoneErrorEditAccesory"
                  [accesories]="vehicleDetail?.accesorios"
                >
                </client-vehicle-accesories>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Añadir placa -->
<client-add-number-plate [policyNumber]="policyNumber" [vehicleDetail]="vehicleDetail"
                         (numberPlateUpdated)="onUpdateVehicle($event)"></client-add-number-plate>
