<mf-modal [confirm]="false">
  <div class="text-center g-px--20 w-100">
    <div class="g-mb--20 g-pt--40 g-pt-lg--0">
      <img [src]="failIcon" alt="">
    </div>
    <div class="g-font--18 g-font--medium g-mt--20 g-mb--15">
      {{ generalLang.Messages.EstimatedUser }}
    </div>

    <div class="g-font--light g-px-lg--50">
      {{ lang.Step1.Modal.PolicyRegistered }}
    </div>

    <!-- Chassis -->
    <div *ngIf="chassis">
      <div class="g-font--light g-px-lg--50 g-pt--20 ">
        {{ vehicleLang.Labels.ChassisNumberLg }}:
      </div>
      <div class="g-font--medium g-font--16 g-px-lg--50  ">
        {{ chassis }}
      </div>
    </div>

    <!-- Motor -->
    <div *ngIf="motor">
      <div class="g-font--light g-px-lg--50 g-pt--20 ">
        {{ vehicleLang.Labels.MotorNumberLg }}:
      </div>
      <div class="g-font--medium g-font--16 g-px-lg--50  ">
        {{ motor }}
      </div>
    </div>

    <div class="g-font--light g-px-lg--50 g-pt--20 ">
      {{ lang.Step1.Modal.PleaseChangeData }}
    </div>

    <div
      class="g-mb--30 g-font--medium g-px-lg--50 g-pt--20 g-c--green1 g-c--pointer  d-flex align-items-center text-center justify-content-center">
      <div [routerLink]="['/vehicles/quote/buy/contact']">
        <span class="g-font--16 g-pr--5" [ngClass]="mailIcon"></span> {{ lang.Step1.Modal.Contact }}
      </div>
    </div>
  </div>
</mf-modal>
