<div class="{{addClass}}">
  <div class="d-flex align-items-center justify-content-center flex-column">

    <div class="g-w--9 g-box--shadow1 g-p--10 g-b-radius--5 g-mb--10 position-relative">

      {{#icon}}
        <span class="{{iconFile}} {{iconClass}}"></span>
      {{/icon}}

      {{#tooltip}}
        <div class="g-box--shadow1 g-b-radius--20 g-box--circle g-bg-c--white1 g-pa--rb15">
          {{>molecules-tooltip}}
        </div>
      {{/tooltip}}

    </div>

    {{#title}}
      <div class="g-px--15 {{titleClass}}">
        {{{title}}}
      </div>
    {{/title}}

  </div>
</div>