<mf-card>
  <mf-card-header
    [header]="lang.MyRecords.toUpperCase()"
    [icon]="fileIcon"
    [collapsed]="collapse"
    (expand)="collapse = $event">
  </mf-card-header>
  <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>
    <!-- Lista -->
    <mf-card-item *ngFor="let record of records">
      <client-item-sctr-record [record]="record" [isContractor]="isContractor" [mpKeys]="mpKeys"></client-item-sctr-record>
    </mf-card-item>
    <client-item-not-found
      [imageTop]="false"
      [iconMedium]="true"
      [show]="!showLoading && !records.length"
      [title]="lang.NotFound.Title"
      [text]="lang.NotFound.Message">
    </client-item-not-found>
  </mf-card-content>
  <mf-card-footer *ngIf="hasMoreRecords && !collapse">
    <mf-link-green [text]="lang.ViewAllRecords.toUpperCase()" [routerLink]="routerLinkViewAll"></mf-link-green>
  </mf-card-footer>
</mf-card>
