<mf-modal
  *ngIf="showModal"
  [title]="lang.Buttons.UpdatePassword.toUpperCase()"
  [titleMobile]="header?.title.toUpperCase()"
  [secondTitleMobile]="lang.Buttons.UpdatePassword.toUpperCase()"
  (closeEvent)="action(false)"
  [editFooter]="true"
>
  <div [ngClass]="{ 'g-full-form--load': showLoading }" class="g-pb--50 w-px-md--55 mx-auto">
    <div class="g-mt--20 g-font--light">
      {{ lang.Messages.PasswordFormat }}
    </div>

    <div class="g-mt--20" *ngIf="showWarming">
      <mf-custom-alert [status]="status" [text]="warningText"></mf-custom-alert>
    </div>

    <!-- Password -->
    <div [formGroup]="form" class="g-mb--40">
      <mf-input
        type="password"
        [label]="lang.Labels.CurrentPassword"
        [formControl]="currentPassword"
        [minlength]="generalMinLength"
        [maxlength]="generalMaxLength"
        [error]="showErrors('currentPassword')"
        (onblur)="onCurrentPassword($event)"
      >
      </mf-input>
      <span
        class="txt-error"
        *ngIf="form.value.currentPassword.length >= generalMinLength && validatingPassword && !isValidCurrentPassword"
        >Contraseña incorrecta.</span
      >
      <mf-show-errors [control]="currentPassword"> </mf-show-errors>

      <client-input-password [form]="form"></client-input-password>
    </div>
  </div>

  <div footer>
    <div class="d-flex">
      <div class="w-50 g-pr--5 g-pr-md--10">
        <button
          class="g-font--13 g-font-md--14 w-100 g-px--10 g-px-md--20 g-max-w--24"
          mf-button
          outline
          (click)="action(false)"
        >
          {{ generalLang.Buttons.Cancel }}
        </button>
      </div>
      <div class="w-50 g-pl--5 g-pl-md--10">
        <button
          class="g-font--13 g-font-md--14 w-100 g-px--10 g-px-md--20 g-max-w--24"
          mf-button
          [disabled]="form.invalid || showLoading || !isValidCurrentPassword"
          (click)="action(true)"
        >
          {{ generalLang.Buttons.Save }}
        </button>
      </div>
    </div>
  </div>
</mf-modal>

<mf-modal-message
  *ngIf="showModalMessage"
  [success]="true"
  [messageDone]="messageDone"
  [messageSuccessUpdate]="messageSuccessUpdate"
>
</mf-modal-message>
