<div class="login--welcome mb-3 mb-md-0" *ngIf="showMessage">
  <div class="text-center text-md-left">
    <div class="">
      <span class="icon-mapfre_044_logo_landing g-block g-font--36 g-font-lg--55"></span>
    </div>
    <div class="g-font--16 g-font-lg--24 g-font--light g-mb--10 g-mb-lg--15 g-ml-lg--35">
      {{ lang[0] }}
    </div>
    <div class="g-font--14 g-font-md--24 g-block g-line--12 g-ml-lg--15">
      <div class="d-inline-block pl-3 g-bl--2">
        {{ lang[1] }}
        <span class="g-font--bold">{{ lang[2] }}</span>
        <br>
        <span class="g-font--18 g-font-md--30 g-font--bold">{{ lang[3] }}</span>
      </div>
    </div>
  </div>
</div>
