<div class="sect-container">
  <div class="g-max-w--570 mt-lg--6 mb-lg--5 mx-auto mt-xs--3">
    <div class="g-mw-6--lg-none g-bg-c--white1 g-b-radius--5 g-box--shadow1">
      <div class="d-flex align-items-center justify-content-center flex-wrap">
        <div class="text-center g-px--25 g-py--50 g-px-lg--100 g-py-lg--75">
          <div class="g-message--icon icon--mail mr-2 mb-2 "></div>

          <div class="g-font--18 g-font-lg--20 g-font--medium g-text--uppercase g-line--12 my-3">
            {{ langtitle }}
          </div>

          <div class="g-c--gray9">
            {{ langmessage1 }} {{ maximumConfimationDaysPerRequest }} {{ langmessage2 }}
          </div>
        </div>
      </div>
      <div class="w-100 g-bt--1 g-bc--gray17">
        <div class="d-flex g-p--15">
          <button mf-button (click)="finalize()" class="g-btn--default px-0">
            {{ langBSubmit }}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
