
    <div class="sect-container g-height--full g-mx-n--15">
        <div class="ng-untouched ng-valid ng-dirty">
            <div class="">
                <div class="g-max-w-md--760 g-max-w-lg--690 mx-auto my-md-5 p-0">
                    <div class="d-flex">
                        <div class="ml-auto">
                            <div
                                class="tag--icon justify-content-center align-items-center d-none d-lg-flex g-bg-c--gray2 g-c--white1 mt-4 pl-2">
                                <span class="icon-mapfre_168_medical_consultation g-font--42"></span>
                            </div>
                        </div>
                        <div
                            class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 g-max-w-md--60 mr-auto">
                            <div class="">
                                <div class="col-12 mb-4">
                                    <div class="row">
                                        <div id="divMediktor" class="col-sm col-sm-12" style="height: 800px !important; top: 350px;">
                                            <mf-loader *ngIf="showLoading"></mf-loader>
                                            <iframe id="iframeMediktor"  title="" class="iframe-mediktor"  width="100%" height="400px"
                                                [src]="urlMediktor" style="overflow: hidden;display:none;"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
