<client-card-filter-component
  (value)="getValue($event)"
  [configUI]="configUI"
  [nameSelect]="lang.Filter"
  [options]="options"
  [titleCard]="lang.History"
  [totalRecords]="items?.length"
  [ga]="ga"
>
    <mf-card-item *ngFor="let item of tmpItems">
      <client-item-request
        [item]="item"
        [numberLabel]="numberLabel"
        (viewDetail)="viewDetailFn($event)"
        [ga]="ga">
      </client-item-request>
    </mf-card-item>
    <client-item-not-found
      [imageTop]="false"
      [show]="!tmpItems || (tmpItems && !tmpItems.length)"
      [icon]="icon"
      [title]="textNotFoundHistory">
    </client-item-not-found>
</client-card-filter-component>
