<div class="container-fluid">
  <div class="row">
    <aside class="col g-box-nav">
      <!--Begin: Menu-->
      <div class="g-bg-c--gray8 h-100">
        {{#acordion}}
          {{>organisms-nav}}
        {{/acordion}}
      </div>
      <!--End: Menu-->
    </aside>
    <section class="col g-box-container">
      <!--Begin: Header-->
      {{#headerOIM}}
        {{>organisms-header}}
      {{/headerOIM}}
      <!--End: Header-->

      <!--Begin: content-->
      <div class="sect-container g-mx-n--15 ">
        <div class="g-map ">
          <iframe class="w-100 h-10 g-map--full" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15605.237135314019!2d-77.0276488!3d-12.0909665!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1536783269099&z=10" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0" allowfullscreen></iframe>
        </div>

        {{#filter}}
          {{>templates-salud-search}}
        {{/filter}}
      </div>
      <!--End: content-->
    </section>
  </div>
</div>
<div class="g-box-nav--close g-none" onclick="closeNavBox()"></div>
