<div class="g-counlist g-counlist--two">
  {{#lang}}
    <div class="g-counlist--item">
      <div class="g-mr--20">
        <img src="{{langImage}}" alt="">
      </div>
      <div>
        <a href="tel:{{langLink}}" class="g-c--default">{{langCountry}} {{langNumber}}</a>
      </div>
    </div>
  {{/lang}}
</div>