<div class="g-b-radius--5 g-bg-c--white1 g-mb--20 g-p--20 g-box--shadow1">
  <h3 class="g-items-text g-font--medium w-100 text-truncate g-font--14 g-font-lg--18 g-text--uppercase">
    {{ lang.Payroll }}
  </h3>
  <div class="d-flex direction--column-reverse direction-md--row">
    <p class="mb-0 w-100 g-pt--20 g-pt-md--0">
      <span [innerHTML]="lang.DownloadTemplateText"></span>
      <span class="g-c--green1 g-c--pointer g-font--bold" (click)="onHowItWorks()">{{ HowItWorks.link }}</span>
    </p>
    <!-- Download template -->
    <div class="g-box-icons--item d-flex align-items-center">
      <mf-card-action-link>
        <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3 g-c--pointer" (click)="downloadTemplate()">
          <div>
            <span [spinnerPdf]="showSpinnerTemplate" [iconPDF]="xlsIcon"></span>
          </div>
          <div class="g-font--medium text-nowrap ml-2" [ngClass]="{ 'g-c--gray21': showSpinnerTemplate }">
            {{ lang.DownloadTemplate }}
          </div>
        </div>
      </mf-card-action-link>
    </div>
  </div>
  <div class="g-my--20 g-border g-border--dashed g-bc--gray1 g-b-radius--5 p-xs--1 g-bg-c--gray5 mx-auto mx-md-auto g-max-w--inherit g-max-w--500">
    <div *ngIf="!files.length" class="d-flex align-items-center mx-xs-0 mx-md-4 mb-xs--1 mb-sm-1 mb-md-3 mt-md-1">
      <div class="px-1">
        <span class="icon-mapfre_076_upload g-font--21 g-c--red1"></span>
      </div>
      <div class="g-font--medium g-font--14">{{ lang.UploadTemplate }}</div>
    </div>

    <div
      class="g-bc--gray1 g-b-radius--5 m-xs-0 ml-md-3 mr-md-3 mb-md-3"
      [ngClass]="{ 'is-drop-over': dragOver && !files.length, 'g-border p-xs--2' : !files.length }">
      <div ngFileDrop
        [options]="options"
        (uploadOutput)="onUploadOutput($event)"
        [uploadInput]="uploadInput"
        (drop)="removeAllFiles()">

        <label class="mb-0">
          <div *ngIf="!files.length" class="d-flex align-items-center content-img">
            <img class="g-c--pointer g-mr--5 width-25" src="assets/images/icons/add-document.svg" alt="upload"/>
            <div class="text-nowrap g-c--green1">{{ lang.AddTemplate }}</div>
          </div>
          <input ngFileSelect
            #inputFile
            type="file"
            class="d-none"
            [accept]="options.allowedContentTypes.join()"
            [options]="options"
            [uploadInput]="uploadInput"
            (uploadOutput)="onUploadOutput($event)"
            (change)="removeAllFiles()"/>
        </label>

        <!-- Preview -->
        <div *ngIf="files.length" class="item-image item-image--edit mx-1 mx-sm-3">
          <img class="g-mr--5" src="assets/images/icons/add-document.svg" alt="upload"/>
          <div class="content-recursos">
            <div class="name g-font--bold">
              {{ files[0].name }}
            </div>
            <div class="size d-block">
              {{ fileSize }}
            </div>
            <div class="size d-block">
              {{ lastEditedText }}
            </div>
            <div class="size d-block">
              {{ uploadingText }}
            </div>
            <div *ngIf="canRemove" class="btn-close" (click)="removeFile(files[0].id)">
              <span class="icon-mapfre_121_close"></span>
            </div>
          </div>
        </div>
        <div *ngIf="files.length && showLoaginfFile" class="g-loader g-mt--5"></div>

      </div>
    </div>
  </div>

  <div *ngIf="workerDeclaredList.length" class="box-warning" [ngClass]="{'g-pb--20': +workerDeclaredList.length >= 9}">
    <div class="d-flex align-items-center">
      <div class="title-warning">
        <span class="icon-mapfre_013_atention"></span>
        <span class="title">{{ lang.WorkersDeclaredFoud }}:</span>
      </div>
    </div>
    <div class="list-warning">
      <ul>
        <li *ngFor="let workerDeclared of workerDeclaredList" >Fila {{ workerDeclared.numFila }}: {{ workerDeclared.descripcion }}</li>
      </ul>
    </div>
  </div>

  <div *ngIf="errorList.length" class="box-error g-pb--20">
    <div class="d-flex align-items-center">
      <div class="title-error">
        <span class="icon-mapfre_013_atention"></span>
        <span class="title">{{ lang.Errors }}:</span>
      </div>
      <mf-card-action-link>
        <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3 g-c--pointer" (click)="downloadErrors()">
          <div>
            <span [spinnerPdf]="showSpinnerErrors" [iconPDF]="xlsIcon"></span>
          </div>
          <div class="g-font--medium text-nowrap ml-2" [ngClass]="{ 'g-c--gray21': showSpinnerErrors }">
            {{ lang.DownloadErrors }}
          </div>
        </div>
      </mf-card-action-link>
    </div>
    <div class="list-error">
      <ul>
        <li *ngFor="let error of errorList" >Fila {{ error.numFila }}: {{ error.descripcion }}</li>
      </ul>
    </div>
  </div>
  
  <div *ngIf="commentList.length" class="box-warning g-pb--20">
    <div class="d-flex align-items-center">
      <div class="title-warning">
        <span class="icon-mapfre_013_atention"></span>
        <span class="title">{{ lang.Comments }}:</span>
      </div>
      <mf-card-action-link>
        <div class="g-box-icons--item d-flex g-c--green1 align-items-center ml-lg-3 g-c--pointer" (click)="downloadComments()">
          <div>
            <span [spinnerPdf]="showSpinnerComments" [iconPDF]="xlsIcon"></span>
          </div>
          <div class="g-font--medium text-nowrap ml-2" [ngClass]="{ 'g-c--gray21': showSpinnerComments }">
            {{ lang.DownloadComments }}
          </div>
        </div>
      </mf-card-action-link>
    </div>
    <div class="list-warning">
      <ul>
        <li *ngFor="let comment of commentList" >Fila {{ comment.numFila }}: {{ comment.descripcion }}</li>
      </ul>
    </div>
  </div>

</div>

<mf-modal-message
  [confirmButtonText]="'Aceptar'"
  [success]="false"
  [messageDone]="titleAlert"
  [messageSuccessUpdate]="messageAlert">
</mf-modal-message>

<client-modal-how-works *ngIf="showModalHowWorks" [modalData]="HowItWorks" [modalHeader]="header"></client-modal-how-works>
