
    <div class="g-b--1 g-bc--gray12 g-b-radius--5 g-o-hidden {{boxClass}}">

      <div class="{{headClass}}">
        <div class="d-flex g-p--10 ">
          {{#icon}}
          <div class=" g-pl--10 ">
            <span class="{{icon}}"></span>
          </div>
          {{/icon}}

          <div class=" g-pl--10 ">
            <span class="g-font--medium">{{{title}}}</span>
          </div>
          {{#contentRight}}
          <div class="ml-auto {{texClasstRight}}">
              {{{textRight}}}
          </div>
          {{/contentRight}}

        </div>
      </div>

      <div class="g-pb--10 g-pl--20 g-pr--20 {{wrapClass}}">
      {{#list}}
        <div class="{{listclass}}">
        {{#titleContent}}
          <div class="{{titleClass}}">{{{title}}}  </div>
        {{/titleContent}}
        {{#subtitle}}
          <div class="{{subtitleClass}}">{{{subtitle}}} </div>
        {{/subtitle}}
        </div>
      {{/list}}
      {{#alert}}
        {{>atoms-alert}}
      {{/alert}}

      </div>

    </div>
