
  <div class="g-p--20 g-py-lg--30 g-pl-lg--30 g-pr-lg--0 w-100 w-lg-auto">
    {{#tabVertical}}
      {{>molecules-tabs-vertical}}
    {{/tabVertical}}
  </div>

  <div class="w-100 g-p-lg--20">

    {{#title}}
      <div class="{{addClass}}">
        {{>molecules-info}}
      </div>
    {{/title}}

    {{#combo}}
      <div class="g-mt-n--15 g-mx--5 g-mx-n-lg--15">
        <div class="col-12 col-md-4">
          {{>atoms-mf-select}}
        </div>
      </div>
    {{/combo}}

    {{#content}}
      <div class="g-container-block {{boxClass}}">
        {{#head}}
          <div class="{{addClass}}">
            {{>molecules-info}}
          </div>
        {{/head}}

        {{#alert}}
          {{>atoms-alert}}
        {{/alert}}

        {{#contentDescrip}}
          <div class="{{textClass}}">{{{text}}} </div>
        {{/contentDescrip}}

        {{#contentDrop}}
          {{>organisms-faqs}}
        {{/contentDrop}}

        {{#table}}
          {{>organisms-table-sctr}}
        {{/table}}

        {{#icons}}
          <div class="d-flex flex-wrap w-100 align-content-around g-pt--10 g-bb--1 g-bb-lg--0">
            {{#list}}
              {{>molecules-icon-box}}
            {{/list}}
          </div>
        {{/icons}}
      </div>
    {{/content}}

  </div>