<div class="">
  {{title}}
    <div class="{{titleClass}}">
      {{text}}
    </div>
  {{/title}}

  {{description}}
    <div class="{{descriptionClass}}">
      {{text}}
    </div>
  {{/description}}

  <div class="row">
    <div class="col-12 col-md-6">
      {{>atoms-mf-select}}
    </div>
    <div class="col-12 col-md-6">
      {{>atoms-mf-input}}
    </div>
  </div>
</div>