<div class="d-flex">
  <div class="align-self-center g-p--10 g-pr--10 g-pr-lg--20">
    <span class="g-c--green1 icon-mapfre_006_angle-left g-c-pointer"></span>
  </div>
  <div class="g-steps d-flex just w-100 flex-nowrap text-truncate g-py--10 g-px--0  g-px-lg--10  g-ie-flex--0-1-auto">
    {{#radioIcon}}
      {{>molecules-icon-radio}}
    {{/radioIcon}}
  </div>
  <div class="align-self-center g-p--10 g-pl--10 g-pl-lg--20">
    <span class="g-c--green1 icon-mapfre_005_angle-right g-c-pointer"></span>
  </div>
</div>
{{#formCase}}
  <div class="g-font-md--20 g-font--13 g-font--medium {{textClass}}">
    {{text}}
  </div>
  {{#radioForm}}
  <div class="{{addClass}}">
    {{#radio}}
      {{>atoms-mf-radiobutton}}
    {{/radio}}
  </div>
  {{/radioForm}}
{{/formCase}}
