{{#lugar}}
  {{>molecules-card-box-radio}}
{{/lugar}}
{{#formCase}}
  <div class="g-font-md--20 g-font--13 g-font--medium {{textClass}}">
    {{text}}
  </div>
  {{#inputForm}}
  <div class="d-flex w-100 flex-column flex-lg-row {{addClass}}">
    {{#fecha}}
    <div class="w-100">
      {{>atoms-mf-input-datepicker}}
    </div>
    {{/fecha}}
    {{#hora}}
    <div class="w-100 g-pl--0 g-pl-lg--30">
      {{>atoms-mf-select}}
    </div>
    {{/hora}}
  </div>
  {{/inputForm}}
{{/formCase}}