<div class="g-min-full g-mx-n--15 g-mx-md--0 g-bg-c--gray11">
  <div
    class="d-flex flex-column flex-lg-row align-items-start flex-nowrap g-max-w-lg--990 mx-lg-auto g-mx--10 g-mb-lg--40 g-mt--15 g-mt-lg--40">

    <!-- Seleccionar Metodo de Pago -->
    <client-payment-method *ngIf="!isFree" [quoataEmited]="!isSoat || quote.billNumber" [totalAmount]="quote?.totalAmount"
      (payment)="payment($event)" [ga]="ga">
    </client-payment-method>

    <!-- Gratis -->
    <client-payment-free *ngIf="isFree" [contracting]="contracting" (confirm)="confirmPurchase()"
      (cancel)="withOutMPD()">
    </client-payment-free>

    <div class="w-px-lg--36 w-10 order-1 order-lg-2">
      <!-- Pagos resumen -->
      <client-card-quota *ngIf="!isSoat || isBtnPayment" [quote]="quote"></client-card-quota>
      <!-- SOAT Resumen y Vigencia -->
      <client-card-quote-soat *ngIf="isSoat && !isBtnPayment"></client-card-quote-soat>
      <client-card-vigency-soat *ngIf="isSoat && !isBtnPayment"></client-card-vigency-soat>
    </div>
  </div>
</div>
<mf-modal-alert [disableTopClose]="true" (confirmResponse)="goBack($event)">
  <div class="m-auto text-center g-py--40 g-px--20">
    <div class=" text-center g-mb--20"><img [src]="warningIcon" alt="warning"></div>
    <div class="g-font--18 g-font--medium">{{ msgErrorTransaction }}</div>
  </div>
</mf-modal-alert>