<mf-card-item>
  <label>
    <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--10 position-relative w-100 c-affiliate-item">
      <div class="d-flex justify-content-center w-px-lg--8 px-3 pt-3 pt-lg-0 align-items-lg-center">
        <mf-checkbox [checked]="checked" (change)="onCheck()"></mf-checkbox>
      </div>
      <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
        <div class="w-100 g-c--gray3 mb-2 mb-lg-0 g-o--hidden">
          <div class="g-font--medium text-lg-truncate">Seleccionar a todos</div>
        </div>
      </div>
    </div>
  </label>
</mf-card-item>
