<div class="g-bg-c--gray5 g-py-lg--15 g-mx-n--16 g-mx-lg--0 g-mb--15 g-mb-lg--0">

  <div *ngFor="let item of items; let i = index" class="d-flex g-pl--25 g-pl-lg--0 justify-content-between flex-wrap flex-lg-nowrap position-relative w-100 g-py-lg--5 animated slideInDown g-bt--1 g-bt-lg--0 g-bc--gray12 g-pt--10 g-pb--10">
    <div class="w-px--7 w-px-lg--9 g-line--11 d-none d-lg-flex justify-content-center align-items-lg-center g-br-lg-1 pt-3 pt-lg-0">
    </div>
    <div class="w-7 w-lg-10 g-pl-lg--1 g-bl-lg--1 p-lg-0 d-flex align-items-lg-center g-o-lg--hidden flex-column flex-lg-row flex-fill">
      <div class="w-lg-7 g-bl-lg--0 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill position-relative g-o-lg--hidden" [ngClass]="!isRecipes ? 'w-lg-10 ' : ''">
        <!-- Descripcion póliza -->
        <div class="w-lg-4 g-lg--10 g-ml-lg--10 g-pt--5 g-pt-lg--0 g-o-lg--hidden d-flex align-items-center">
          <div class="g-pr--7 g-font--16 g-pt-lg--0">
            <client-icon-policies [policyType]="item.policyType" [customClass]="'g-font--18 g-c--gray18 d-flex'"></client-icon-policies>
          </div>
          <div class="w-100 g-p-lg--0 text-lg-truncate">
            <div class="g-font--normal text-lg-truncate g-text--uppercase g-font--13 g-c--gray2" [title]="item.policyDescription">{{ item.policyDescription }}</div>
            <div class="text-lg-truncate g-font--10 g-text--uppercase g-c--gray2">{{ item.periodStatus }}</div>
          </div>
        </div>

        <div class="w-lg-3 g-lg--10 g-ml-lg--10 g-pt--5 g-pt-lg--0 g-mb--03 mb-lg-0 g-o-lg--hidden d-flex align-items-center" *ngIf="item.hasOptions">
          <div class="g-pr--7 g-font--16  g-pt-lg--0">
            <client-icon-policies [policyType]="item.policyType" [customIcon]="personIcon" [customClass]="'g-font--18 g-c--gray18 d-flex'"></client-icon-policies>
          </div>
          <div class="w-100 g-p-lg--0 text-lg-truncate">
            <div class="text-lg-truncate g-c--gray2">{{ item.workersQty }}</div>
            <div class="mb-0 text-nowrap"></div>
          </div>
        </div>

        <div class="w-lg-2 g-lg--10 g-ml-lg--10 g-pt--5 g-pt-lg--0 g-mb--03 mb-lg-0 g-o-lg--hidden" *ngIf="item.hasOptions">
          <div class="mb-0 text-nowrap text-truncate">
            <div class="mb-0 text-nowrap">
              <mf-link-green
                *ngIf="environment.ACTIVATE_SCTR_PERIODOS_VER_PLANILLA && showPayroll && i == 0"
                [text]="periodsLang.ViewPayroll"
                [icon]="fileIcon"
                (click)="goToPeriodsPayroll(period)">
              </mf-link-green>
              <span *ngIf="!showPayroll">&nbsp;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--20 d-none d-lg-flex align-items-center justify-content-center flex-grow-1 px-4"></div>
  </div>

</div>
