<div class="text-center g-py--15 g-py-lg--25 w-px-md--24 mx-auto">
  <div class=" g-mb--15 ">
    <img src="../../images/pngs/icon-search.png" alt="">
  </div>
  <div class="g-font--medium g-font--24  g-mb--5 ">
    ¡Vaya!
  </div>
  <div>
    Has ingresado el nombre de una placa o modelo que no existe
  </div>
</div>
