<ng-container *ngIf="notificationList">
  <ng-container *ngIf="notificationList.length === 1">
    <div class="d-flex align-items-start align-items-md-center justify-content-between g-b-radius--5 g-bg-c--red7 g-b--1 g-bc--orange1 my-3">
      <div class="d-flex align-self-center mr-auto pt-md-0 pb-md-0 pt-xs--1 pb-xs--1">
        <span class="icon-mapfre_057_circle-check g-font--20 g-c--orange1 pr-0 alert-box"></span>
        <div class="flex-wrap g-ie-flex--1">
          <div class="g-font--12 g-line--10 g-font-md--20 g-font--medium g-c--orange1">
            {{ notificationList[0].descripcion }} {{ messageOneScheduledServices }}
          </div>
          <div class="g-font--light g-font--12 pr-1 g-c--orange1">
            {{ notificationList[0].objeto.descripcion }}
          </div>
        </div>
      </div>
      <div class="g-bl--1 g-bc--orange1 pt-xs--2 pb-xs--2 pt-md-4 pb-md-4 pl-xs--1 pr-xs--1 pl-md-5 pr-md-5 text-center text-md-left">
        <span class="g-font--14 g-c--orange1 g-font--medium g-c--pointer">{{ labelViewDetail }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="notificationList.length > 1">
    <div class="d-flex mb-3 align-items-start align-items-md-center justify-content-between g-b-radius--5 g-bg-c--red7 g-b--1 g-bc--orange1 my-3">
      <div class="d-flex align-items-start align-items-sm-center pt-2 pb-2">
        <span class="icon-mapfre_057_circle-check g-font--20 g-c--orange1 alert-box"></span>
        <div class="g-line--13 d-flex align-items-center flex-wrap g-ie-flex--1">
          <div class="w-100 g-c--orange1">
            {{ messageScheduledServices }}
            <span class="g-tooltip--alternative" *ngFor="let notification of notificationList; let i = index; trackBy: notificationsTrackByFn">
              <span class="g-font--bold">{{ notification.descripcion }}<span *ngIf="i !== notificationList.length - 1">, </span> </span>
              <div class="g-tooltip--alternative-message p-xs--1 g-line--11">
                <div class="g-tooltip--alternative-arrow-small"></div>
                <div class="text-center g-text--uppercase g-c--gray3 pb-2 g-font--13 g-font--medium">{{ notification.objeto.fecha | dateInLine }}</div>
                <div class="text-center g-c--gray3 g-font--13 g-font--medium">{{ notification.objeto.descripcion }} </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
