<div class="d-flex justify-content-center linebox mb-3 g-text-uppercase ">
    <div class="linebox--item linebox--left g-bg-c--green1"></div>
    <div class="g-font--12">
        <ng-content></ng-content>
    </div>
    <div class="linebox--item g-bg-c--green1"></div>
</div>