{{#titleDrop}}
  <div class="g-font--medium {{titleClass}}">{{{title}}}</div>
{{/titleDrop}}

{{#dropdown}}
<div class="{{addClass}}" data-accordion="container" data-group="">

  {{#itemList}}
    <div class="d-flex flex-column g-bg-c--white1 g-mb--15 {{addClass}}" data-accordion="item" data-open="{{openCard}}">
      <div class="d-flex justify-content-between g-mh--6 g-pl--15 g-pt--10 g-pt-lg--0 g-pb--10 g-pb-lg--0 flex-lg-nowrap {{contentTitleClass}}" data-accordion="title">

        <div class="d-flex w-100 flex-wrap flex-lg-nowrap">
          <div class="align-self-center w-100 {{titleClass}}">
            {{{title}}}
            {{#title2}}
            <div class="{{text2Class}}">{{{text2}}}</div>
            {{/title2}}
          </div>

          {{#right}}
            <div class="{{contentRight}}">
              <div class="{{textClass}}">{{{text}}}</div>
              <div class="{{text2Class}}">{{{text2}}}</div>
            </div>
          {{/right}}
        </div>

        {{#iconDropdown}}
          <div data-accordion="click" class="w-px--4 d-flex justify-content-center g-c--gray9 g-py--10 g-py-lg--20">
            <span class="icon-mapfre_101_ico-dow g-c--pointer" data-accordion="on"></span>
            <span class="icon-mapfre_102_ico-up g-c--pointer" data-accordion="off"></span>
          </div>
        {{/iconDropdown}}
      </div>

      <div data-accordion="content" class="{{contentClass}}">
        {{#content}}
          {{content}}
        {{/content}}

        {{#list}}
          {{>atoms-lists-nav}}
        {{/list}}
      </div>
    </div>
  {{/itemList}}

</div>
{{/dropdown}}