<div class="{{boxClass}}">
  <div class="{{contentHeadClass}}">

    {{#headContent}}
    <div class=" {{headClass}}">
      {{#title}}
      <div class="{{textClass}}"> {{{text}}}</div>
      {{/title}}
    </div>
    {{/headContent}}

  </div>

  <div class="{{contentClass}}">

    {{#title}}
    <div class="{{textClass}}"> {{{text}}}</div>
    {{/title}}

    {{#brands}}
    {{>molecules-brands}}
    {{/brands}}

  </div>

  {{#dataContent}}
  <div class="{{addClass}}">

    {{#contentText}}
    <div class="{{textClass}}">{{{text}}}</div>
    {{/contentText}}

    {{#bannerIosAnd}}
      {{>molecules-brands-apps}}
    {{/bannerIosAnd}}



  </div>
  {{/dataContent}}

</div>