<div class="g-mb--20 g-border-radius-lg--5 g-border-radius-lg--5 g-box--shadow1" data-accordion="container" data-group="">
  <div class="g-bg-c--gray2 text-center g-p--15 w-10 d-none d-lg-block g-b-radius-t--5">
    <div class="g-c--white1 g-font--18">Resumen de tu seguro</div>
  </div>

  <div class="w-10 g-bg-c--white1" data-accordion="item" data-open="{{openCard}}">
    {{#titleAccordion}}
      <div class="g-c--gray1 d-flex g-p--20 d-block d-lg-none" data-accordion="title">
        <div class="d-flex justify-content-between w-10">

          {{#titleCard}}
            <div class="{{titleCardClass}}">
              {{{titleCard}}}
            </div>
          {{/titleCard}}

          <div class="{{text2Class}}">
            {{{text2}}}
          </div>
        </div>

        <div class="g-c--pointer {{colorArrow}}" data-accordion="click">
          <span class="icon-mapfre_101_ico-dow g-c--pointer" data-accordion="on"></span>
          <span class="icon-mapfre_102_ico-up g-c--pointer" data-accordion="off"></span>
        </div>
      </div>
    {{/titleAccordion}}

    <div data-accordion="content">
      {{#contenido}}
        <div class="{{contentClass}}">

          {{#contentItem}}
            <div class="{{itemClass}}">{{{item}}}</div>
          {{/contentItem}}

        </div>
      {{/contenido}}

      {{#footer}}
        <div class="{{footerClass}}">

          {{#text}}
            <div class="{{textClass}}">{{{text}}}</div>
          {{/text}}

        </div>
      {{/footer}}

    </div>
  </div>

</div>