<div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
  <div class="d-flex justify-content-center w-px--6 g-pt--20">
    <span class="g-font--medium g-font--16">{{ index }}</span>
  </div>
  <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o--hidden">
    <div class="w-100 g-mb--03 mb-lg-0 g-o--hidden">
      <div class="g-font--medium text-lg-truncate g-font-md--16" [title]="fullName">
        {{ fullName }}
      </div>
      <div class="text-lg-truncate text-uppercase" [title]="insured.numeroDocumento">
        {{ insured.tipoDocumento }}: {{ insured.numeroDocumento }}
      </div>
    </div>
    <div class="px-lg-3 w-px-lg--19">
      <div class="">
        <span class="g-font--light g-font--12">{{ generalLang.Labels.Birth }}: {{ insured.fechaNacimiento }}</span>
      </div>
      <div class="">
        <span class="g-font--light g-font--12">{{ generalLang.Labels.Salary }}: {{ insured.sueldo | currency: moneyDescription }}</span>
      </div>
    </div>
  </div>
</div>
