<agm-map
  class="w-100 h-10 p-0"
  (mapClick)="mapClick($event)"
  (centerChange)="centerChange($event)"
  (idle)="idleChange()"
  [ngClass]="{ 'g-maps': !fullMap, 'g-maps--full': fullMap }"
  [latitude]="options?.latitude"
  [longitude]="options?.longitude"
  [zoom]="options?.zoom"
  [minZoom]="options?.minZoom"
  [disableDefaultUI]="options?.disableDefaultUI"
  [zoomControl]="options?.zoomControl"
  [scrollwheel]="options?.scrollwheel"
  [gestureHandling]="options?.gestureHandling"
  [usePanning]="options?.usePanning"
  [streetViewControl]="options?.streetViewControl">

  <!-- Marcador de inicio -->
  <agm-marker
    *ngIf="startMarker.latitude && showStartMarker"
    [latitude]="startMarker.latitude"
    [longitude]="startMarker.longitude"
    [iconUrl]="startMarker.pinUrl">
  </agm-marker>

  <!-- Marcador de destino -->
  <agm-marker
    *ngIf="endMarker.latitude && showEndMarker"
    [latitude]="endMarker.latitude"
    [longitude]="endMarker.longitude"
    [iconUrl]="endMarker.pinUrl">
  </agm-marker>

  <!-- Areas -->
  <agm-polygon *ngIf="poligons && poligons.length"
    [paths]="poligons"
    [strokeColor]="areasColor.BORDER"
    [strokeWeight]="areasColor.WIDTH"
    [fillColor]="areasColor.FILL"
    (polyClick)="mapClick($event)">
  </agm-polygon>
</agm-map>

<!-- Marked Position Fixed Center-->
<div *ngIf="getGoogleMapService().getUseFocusedSearch() && showTemporalPosition" class="g-absolute g-top-1-2 g-left-1-2 g-transform g--translate-x-1-2 g--translate-y-2-2">
  <img alt="icono" [src]="temporalPosition.pinUrl">
</div>

<!-- Indicador de Filtros -->
<div *ngIf="filterNotification.showNotification && useFilter" class="g-map-notifier--modal-open">
  <client-gm-filter-notifier [text]="filterNotification.textNotification" [icon]="filterNotification.iconNotification"></client-gm-filter-notifier>
</div>
