<div class="w-px-lg--36 w-10 order-1 order-lg-2">

  <!-- Resumen de la compra -->
  <div class ="g-mb--20">
    <client-card-summary-quote
      [riskCard]="riskCard">
      <div class="g-font--13 g-font-lg--14 w-100" risk>
        <div class="d-flex g-py--4 w-100">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.Plate }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ vehicleData?.placa }}</div>
        </div>
        <div class="d-flex g-py--4">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.BrandModelYear }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14 text-capitalize">{{ vehicleDescription }}</div>
        </div>
        <div class="d-flex g-py--4">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.Value }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ vehicleValue }}</div>
        </div>
        <div class="d-flex g-py--4">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.Use }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14 text-capitalize">{{ vehicleData?.uso }}</div>
        </div>
        <div class="d-flex g-py--4">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.City }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14 text-capitalize">{{ vehicleData?.ciudad }}</div>
        </div>
        <div class="d-flex g-py--4" *ngIf="vehicleData?.numeroChasis">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.ChassisNumber}}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ vehicleData?.numeroChasis }}</div>
        </div>
        <div class="d-flex g-py--4" *ngIf="vehicleData?.numeroMotor">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.MotorNumber }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ vehicleData?.numeroMotor }}</div>
        </div>
        <div class="d-flex g-py--4" *ngIf="vehicleData?.cantidadAccesorios">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.AccessoriesNumber }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14">{{ vehicleData?.cantidadAccesorios }}</div>
        </div>
        <div class="d-flex g-py--4" *ngIf="vehicleData?.color">
          <div class="g-font--light g-c--gray2 w-px--14 g-pr--10">{{ lang.Labels.Color }}:</div>
          <div class=" g-c--gray2 w-pt--15 g-pc--14 text-capitalize">{{ vehicleData?.color }}</div>
        </div>
      </div>
    </client-card-summary-quote>
  </div>

  <!-- Vigencia -->
  <client-card-vigency *ngIf="showVigency"
    [key]="key">
  </client-card-vigency>

</div>
