<div class="view-home">

  <!-- Datos del Usuario -->
  <client-card-user-profile [isEnterprise]="isEnterprise"></client-card-user-profile>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <!-- Notificacion -->
  <client-notifications-home-component></client-notifications-home-component>

  <!-- Pendientes del Usuario -->
  <div class="row mb-xs--2" *ngIf="!(withoutPendingPayments && withoutSinisters)">
    <!-- Pagos pendientes -->
    <client-card-pending-payment
      (withoutPendingPayments)="withoutPendingPayments = $event"
      *ngIf="!withoutPendingPayments"
      class="col-12 col-lg-6 d-flex mb-3 mb-lg-0"
      [ngClass]="{'col-lg-12': withoutSinisters}"
      [ga]="ga">
    </client-card-pending-payment>
    <!-- Siniestros en Curso -->
    <client-card-sinisters-in-progress
      (withoutSinisters)="withoutSinisters = $event"
      *ngIf="!withoutSinisters"
      [ngClass]="{'col-lg-12': withoutPendingPayments}"
      [isInHome]="true"
      [stateClass]="'w-px-lg--10 pr-lg-3 d-lg-flex align-items-center'"
      class="col-12 col-lg-6 d-flex"
      [ga]="ga">
    </client-card-sinisters-in-progress>
  </div>

  <!-- Polizas -->
  <div class="row">
    <div class="col mb-xs--2">
      <client-card-my-policies [isHome]="true" [disableIcon]="'false'" [ga]="ga"></client-card-my-policies>
    </div>
  </div>

  <!-- ¿Que quieres hacer? -->
  <div class="row">
    <div class="col px-0 px-lg-3  mb-xs--0 mb-lg--4">
      <client-card-what-you-want-to-do></client-card-what-you-want-to-do>
    </div>
  </div>
</div>

<mf-modal-alert
  (closeEvent)="closeModal()"
  (confirmResponse)="confirmElectronicPolicy($event)"
  [confirmButtonText]="'aceptar'"
  [isDisabledAutoClose]="true"
  [noMinHeight]="true"
  [showLoading]="showLoading"
  [sizeClass]="'g-modal--medium'">
  <div class="m-auto text-center g-py--20 g-px--20">
    <div class=" text-center g-mb--20"><img [src]="emailIcon" alt="mail"></div>
    <div class="g-font--18 mb-4 g-font--medium">{{ lang.Titles.ElectronicPolicy}}</div>
    {{ lang.Texts.ElectronicPolicy }}
  </div>
</mf-modal-alert>
