<div class="sect-container">

  <div class="row d-flex flex-lg-row flex-lg-nowrap mb-xs--2">

    <!-- Banner -->
    <div class="g-bg-c-lg--gray23 text-truncate g-img-mw-lg w-10">
      <img [img-loader]="pathImgBanner.lg" [img-sm]="pathImgBanner.sm" [img-xl]="pathImgBanner.xl" alt=""/>
    </div>
    <!-- Formulario -->
    <div class="w-px-lg--36 h-10 w-100 g-mx--15 g-mx-lg--0" *ngIf="vehicles_quote_visible">
      <client-form-edit-plate-quote (showMessage)="showMessage($event)"></client-form-edit-plate-quote>
    </div>

    <!-- Redirección Temporal -->
    <div class="w-px-lg--36 h-10 w-100 g-mx--15 g-mx-lg--0" *ngIf="!vehicles_quote_visible">
      <div class="d-flex flex-column  g-box--shadow1 g-bg-c--white1 h-100">
        <div class="g-bg-c--gray8 g-py--15 g-pl--15 g-pr--15 pl-lg--2 pr-lg--2  d-flex align-items-center justify-content-center g-ie-flex--0-1-auto">
          <div class="g-font-lg--18 g-font--16 g-font--medium g-c--white1">{{ vehiclesLang.Titles.QuoteAndPurchase }}</div>
        </div>
        <div class="text-center pl-xs--3 pl-lg--4 pr-xs--3 pr-lg--4 pt-xs--3 pt-lg--10 pb-xs--3">
          {{ vehiclesLang.Messages.QuoteExternalLink }}
        </div>
        <div class="pl-xs--3 pl-lg--4 pr-xs--3 pr-lg--4 pt-xs--1 pt-lg--1 pb-xs--3">
          <div class="justify-content-center w-100">
            <button (click)="gotoMapfreQuote()" mf-button color="primary" class="g-btn--mobile w-lg-10 d-lg-block mt-xs--4 mt-lg--5 text-center">
              {{ vehiclesLang.Buttons.Quote }}
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Carousel -->
  <client-banner-carousel></client-banner-carousel>

  <div class="row">
    <div class="col-12 d-flex">
      <div class="g-services--item g-bg-c--white1 g-c--gray8 g-b--1 d-flex flex-column g-b-radius--3 g-box--shadow1 w-10 mb-3 mb-lg-4">

        <client-how-to-work [content]="howToWork"></client-how-to-work>

        <client-payment-options [content]="paymentOptions"></client-payment-options>

      </div>
    </div>
  </div>

  <!-- Planes -->
  <!-- Previous feature -->
  <client-insurance-plans [content]="insuranceTop" [ga]="ga" (eventQuote)="eventQuote()" *ngIf="vehicles_quote_visible"></client-insurance-plans>
  <!-- Redirección Temporal -->
  <client-insurance-plans [content]="insuranceTop" (eventQuote)="gotoMapfreQuote()" *ngIf="!vehicles_quote_visible"></client-insurance-plans>
  <!-- Faqs -->
  <client-faqs [faqs]="faqs" [ga]="gaFaqs" (more)="openModalMoreFaqs()"></client-faqs>

</div>

<!-- Modal Mas Preguntas -->
<client-modal-more-faqs
  *ngIf="showModalFaqs"
  [faqs]="moreFaqs"
  [subTitle]="modalSubTitle">
</client-modal-more-faqs>

<!-- Modal mensaje placa con poliza vigente -->
<client-modal-current-policy-quote
  *ngIf="showModalMessage"
  [vigencyDate]="vigencyDate"
  [flagPolicyStatus]="flagPolicyStatus">
</client-modal-current-policy-quote>
