<!-- Label / Icon -->
<div>
  <label for="drop" (click)="fnDropDown()">
    <div class="g-desplegable-text d-flex align-items-center g-c--green1" #target>
      <span class="g-c--pointer g-font--medium text-nowrap">{{ list?.length }} {{ title }}</span>
      <div class="pl-1 g-desplegable--triangle" #arrow>
        <span class="g-c--pointer icon-mapfre_004_triangle-down" [ngClass]="showIcon? 'g-c--green1':' g-c--white1'"></span>
        <span class="g-desplegable--icon"></span>
      </div>
    </div>
  </label>

  <!-- Lista -->
  <ng-container *ngIf="(list && list.length) else text">
    <ul class="content" #content>
      <li *ngFor="let item of list | slice:0:sliceLength; trackBy: trackByFn; let i = index">
        <ng-container *ngIf="simpleList; else defaultList">
          <div class="d-flex g-font--light">
            <div class="g-pr--5">{{ i + 1 }}.</div>
            <div>{{ item[descripcionItem] }}</div>
          </div>
        </ng-container>
        <ng-template #defaultList>
          <span class="d-block g-font--medium">{{ item[nameItem] }}</span>
          <span *ngIf="descripcionItem" class="d-inline-block g-font--light" [innerHTML]="item[descripcionItem]"></span>
        </ng-template>
      </li>
      <li class="g-c--green1 g-bt--1 text-center g-text-uppercase p-3" *ngIf="!hideButton">
        <a href="javascript:void(0)" (click)="goToDetail()">
          <mf-link-green [text]="labelViewAll"></mf-link-green>
        </a>
      </li>
    </ul>
  </ng-container>

  <!-- Contenido Texto -->
  <ng-template #text>
    <div class="content" #content>
      <ng-content></ng-content>
    </div>
  </ng-template>
</div>
