<div class="row justify-content-md-center">
  <div class="col col-12 col-lg-10">
    {{#loginTitle}}
      {{>molecules-titles}}
    {{/loginTitle}}
  </div>
</div>
{{#alert}}
  <div class="row justify-content-md-center g-mb--10">
    <div class="col col-lg-10">
      {{>atoms-alert}}
    </div>
  </div>
{{/alert}}
{{#docType}}
  <div class="row justify-content-md-center g-mb--10">
    <div class="col col-lg-10">
      <div class="row">
        <div class="col col-12 col-md-6">
          {{#tipdoc}}
            {{>atoms-mf-select}}
          {{/tipdoc}}
        </div>
        <div class="col col-12 col-md-6">
          {{#input}}
            {{>atoms-mf-input}}
          {{/input}}
        </div>
      </div>
    </div>
  </div>
{{/docType}}
{{#password}}
  <div class="row justify-content-md-center g-mb--20">
    <div class="col col-lg-10">
      {{#input}}
        {{>atoms-mf-input}}
      {{/input}}
    </div>
  </div>
{{/password}}


{{#passwordError}}
  <div class="row justify-content-md-center g-mb--20">
    <div class="col col-lg-10">
      {{>atoms-mf-input}}
    </div>
  </div>
{{/passwordError}}

{{#dataName}}
  <div class="row justify-content-md-center g-mb--10">
    <div class="col col-lg-10">
      {{>atoms-mf-input}}
    </div>
  </div>
{{/dataName}}

{{#dataPhone}}
  <div class="row justify-content-md-center g-mb--10">
    <div class="col col-lg-10">
      {{>atoms-mf-input}}
    </div>
  </div>
{{/dataPhone}}

{{#dataEmail}}
  <div class="row justify-content-md-center g-mb--20">
    <div class="col col-lg-10">
      {{>atoms-mf-input}}
    </div>
  </div>
{{/dataEmail}}

{{#newPassword}}
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">
      {{#input}}
        {{>atoms-mf-input-icon}}
      {{/input}}
    </div>
  </div>
{{/newPassword}}

{{#confNewPassword}}
  <div class="row justify-content-md-center">
    <div class="col col-lg-10">
      {{#input}}
        {{>atoms-mf-input-icon}}
      {{/input}}
    </div>
  </div>
{{/confNewPassword}}

{{#company}}
  <div class="row justify-content-lg-center justify-content-xl-end">
    <div class="col-lg-10 col-xl-11">
      <div class="g-login-type g-my--50">
        <div class="g-login-type--item g-box-lg--shadow1">
          <div class="g-pr--15">
            <div class="g-icon--circle g-icon-circle--md">
              <span class="icon-mapfre_014_perfil g-font--18 g-c--gray18 align-self-center align-self-center"></span>
            </div>
          </div>
          <div class="g-o-lg--hidden">
            <div class="g-font-lg--18 g-font--medium text-lg-truncate" title="GONZALO ANTONIO GUTIERREZ DELGADO BONIFACIO">
              GONZALO ANTONIO GUTIERREZ DELGADO BONIFACIO
            </div>
            <div>
              Cliente Persona
            </div>
            <div>
              DNI: <strong>12345678</strong>
            </div>
          </div>
          <div class="g-pl--15 g-pl-lg-30 g-pr-lg--15 ml-auto d-flex align-items-center g-c--green1">
            <span class="icon-mapfre_009_arrow-right g-font--18"></span>
          </div>
        </div>
        <div class="g-login-type--item g-box-lg--shadow1">
          <div class="g-pr--15">
            <div class="g-icon--circle g-icon-circle--md">
              <span class="icon-mapfre_018_building g-font--18 g-c--gray18 align-self-center align-self-center"></span>
            </div>
          </div>
          <div class="g-o-lg--hidden">
            <div class="g-font-lg--18 g-font--medium text-lg-truncate">
              MULTIPLICA SAC
            </div>
            <div>
              Cliente Empresa
            </div>
            <div>
              DNI: <strong>12345678923</strong>
            </div>
          </div>
          <div class="g-pl--15 g-pl-lg-30  g-pr-lg--15 ml-auto d-flex align-items-center g-c--green1">
            <span class="icon-mapfre_009_arrow-right g-font--18"></span>
          </div>
        </div>
      </div>

      <div class="g-mt--50">
        <a href="" class="d-flex g-c--green1 align-items-center">
          <span class="icon-mapfre_010_arrow-left g-pr--10"></span>
          <span class="g-font--medium">Volver al inicio</span>
        </a>
      </div>
    </div>
  </div>
{{/company}}

{{#link}}
  <div class="row justify-content-md-center g-mb--20">
    <div class="col col-lg-10">
      <span  class="g-underline g-c--green1 g-c--pointer g-text--underline g-font--medium">{{{linkText}}}</span>
    </div>
  </div>
{{/link}}

{{#text-login-remenber}}
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xs-12 g-pb-md--15">
      <p class="g-font--12 g-font-sm--14 g-font--medium">¿No recuerdas tu correo electrónico? <br> Contáctate con un asesor <span class="g-c--red1">MAPFRE.</span></p>
    </div>
  </div>
{{/text-login-remenber}}

{{#btn-primary}}
  <div class="row text-center {{btnClass}}">
    {{>atoms-buttons}}
  </div>
{{/btn-primary}}

{{#btn-secondary}}
  <div class="row text-center {{btnClass}}">
    {{>atoms-buttons}}
  </div>
{{/btn-secondary}}

{{#btn-disable}}
  <div class="row text-center {{btnClass}}">
    {{>atoms-buttons}}
  </div>
{{/btn-disable}}
