<div class="login--welcome g-mb--15 g-mb-md--0 ">
  <div class="text-center text-md-left">
    <div class="">
      <span class="icon-mapfre_044_logo_landing g-block g-font--36 g-font-lg--55"></span>
    </div>
    <div class="g-font--16 g-font-lg--24 g-font--light g-mb--10 g-mb-lg--15 g-ml-lg--35">
      Portal de clientes
    </div>
    <div class="g-font--14 g-font-md--22 g-block g-line--12 g-ml-lg--15">
      <div class="d-inline-block g-pl--15 g-bl--2">
        La experiencia <span class="g-font--bold">MAPFRE</span><br>
        <span class="g-font--18 g-font-md--30 g-font--bold">más cerca de ti</span>
      </div>
    </div>
  </div>
</div>