<div class="d-flex align-items-start align-items-md-center justify-content-between g-b-radius--5 g-bg-c--red7 {{addClass}}">
  <div class="d-flex g-ie-flex--0-1-auto {{boxClass}}">
    {{#icon}}
      <span class="{{iconFile}} {{iconClass}} g-mx--10 "></span>
    {{/icon}}
    <div class="flex-wrap {{textClass}}">
      <div class="{{titleClass}}">
        {{{titleText}}}
        {{#tooltip}}
          <span class="g-tooltip--alternative">
            <span class="g-font--bold g-c--pointer">{{{title}}} </span>
            <div class="g-tooltip--alternative-message   g-p--10  g-border-radius--0 g-line--11">
              <div class="g-tooltip--alternative-arrow-small"></div>
              <div class="text-center g-text--uppercase g-c--gray3  g-pb--10  g-font--13 g-font--medium">MIÉ 15 ABR - 9:30am </div>
              <div class="text-center g-c--gray3 g-font--13 g-font--medium">
                {{{ tooltipDescription }}}
              </div>
            </div>
          </span>
        {{/tooltip}}
      </div>
      {{#subTitle}}
        <div class="w-100 {{subTitleClass}}">
          {{subTitleText}}
        </div>
      {{/subTitle}}
    </div>
  </div>
  {{#btnDetalle}}
    <div class="{{boxClass}}">
      <span class="{{linkClass}}">{{{linkText}}}</span>
    </div>
  {{/btnDetalle}}
</div>