<div class="d-flex align-items-center">
  {{>molecules-balance}}
  <div class=" g-py--10 w-100 w-lg-auto">
    <div class="text-center text-lg-left">
      <div class="mx-auto d-inline-block">
        <div class="d-flex flex-row flex-lg-column justify-content-end">
          <div class="g-mb--0 g-font--13 {{titleClass}}">{{{title}}}</div>
          <div class="g-mb--0 g-font--13 g-font--medium  {{userClass}}"><b>{{{user}}}</b></div>
        </div>
        <a href="{{url}}" class="{{linkClass}}"><span>{{{link}}}</span></a>
      </div>
    </div>
  </div>
</div>
