<div class="g-bg-c--white1 g-box--shadow1">
  {{#header}}
    <div class="g-bg-c--gray3 g-p-md--20  text-center">
      <span class="g-c--white1 g-font--normal g-font--18 g-text--uppercase">{{title}}</span>
    </div>
  {{/header}}
  {{#content}}
    <div class="g-p-md--20 g-mh-100vh" data-simplebar>
      <div class="w-100 g-font--medium">1. ¿Cuándo y dónde requieres el servicio?</div>
      <div class="d-flex">
        <div class="w-50  g-pr--10 ">
          {{#datepicker}}
            {{>atoms-mf-input-datepicker}}
          {{/datepicker}}
        </div>
        <div class="w-50  g-pl--10 ">
          {{#hour}}
            {{>atoms-mf-input-datepicker}}
          {{/hour}}
        </div>
      </div>
      {{#point}}
        <div class="d-flex align-items-end">
          <div class="ml-auto">
            <span class=" g-pr--10 g-form-icon g-font--21 icon-mapfre_015_location-pin"></span>
          </div>
          <div class="w-100">
            {{>atoms-mf-input-icon}}
          </div>
        </div>
      {{/point}}
      {{#pointofarrival}}
        <div class="d-flex align-items-end">
          <div class="ml-auto">
            <span class=" g-pr--10 g-form-icon g-font--21 icon-mapfre_015_location-pin"></span>
          </div>
          <div class="w-100">
            {{>atoms-mf-input-icon}}
          </div>
        </div>
      {{/pointofarrival}}
      <div class="w-100  g-mt--10 g-font--medium">2. Selecciona el vehículo para la asistencia</div>
      {{#datecar}}
        {{>atoms-mf-input}}
      {{/datecar}}
      {{#num}}
        {{>atoms-mf-input}}
      {{/num}}
      {{#summaryPrice}}
        <div class="g-bg-c--gray12  g-mt--10  g-p--10  g-b-radius--5">
          {{#list}}
          <div class="d-flex">
            <div class="w-100 {{style1}}">{{description}}</div>
            <div class="ml-auto flex-shrink-0 {{style2}}">{{price}}</div>
          </div>
          {{/list}}
        </div>
      {{/summaryPrice}}
    </div>
  {{/content}}
  {{#footer}}
    <div class="d-flex g-p-md--20  g-bt--1">
      <div class="w-50 text-center">
        {{#btncancel}}
          {{>atoms-buttons}}
        {{/btncancel}}
      </div>
      <div class="w-50 text-center">
        {{#btnconfirmation}}
          {{>atoms-buttons}}
        {{/btnconfirmation}}
      </div>
    </div>
  {{/footer}}
</div>