<div class="g-box--shadow1--xs-none g-box-lg--shadow1  g-bg-c--white1 d-flex flex-column w-100 g-b-radius--5 g-border-radius-xs--0 g-bt--1 g-bl-lg--0">
  {{#boxHead}}
    {{>molecules-head-card-title}}
  {{/boxHead}}

  {{#boxContent}}
    {{>atoms-items}}
  {{/boxContent}}
</div>