<div class="g-box--shadow1 g-bg-c--white1 g-b-radius--5 g-b--1 g-bc--green1">
  <div class=" g-p--10 ">
    <p class="g-font--18 g-font-md--20">¡Completa el 100% de tu perfil y recibe <b>45 Mapfre Dólares!</b></p>
    {{#cardboxProgressbar}}
			{{>molecules-progress-bar}}
    {{/cardboxProgressbar}}
  </div>
</div>