<div class="sect-nav g-o—auto">
  <!-- Logo -->
  <div class="g-bg-c--red1 text-left p-xs--1 min-height--70 d-none d-xl-flex align-items-center justify-content-center">
    <a class="d-block text-center" [routerLink]="['/home']" (click)="closeAndRemoveActive()">
      <span class="icon-mapfre_044_logo_landing g-font--40 g-c--white1 g-line--10"></span>
    </a>
  </div>

  <div class="g-bg-c--gray8 g-o—auto">
    <!-- Loading -->
    <mf-loader *ngIf="showLoading"></mf-loader>

    <!-- Menu -->
    <div *ngIf="!showLoading" id="menu" class="g-menu--global g-pt--5 g-accordion g-bg-c--gray8 g-c--gray10">
      <ng-container *ngFor="let item of menuList; let i = index">
        <!-- Menu sin opciones -->
        <div
          *ngIf="!(item.children && item.children.length)"
          [ngClass]="{ 'g-menu--global-suboption': item.hideIcon }"
          class="d-flex align-items-center justify-content-between g-c--pointer g-menu--global-item"
        >
          <ng-container *ngTemplateOutlet="noChildren; context: { $implicit: item }"></ng-container>
        </div>

        <!-- Menu con opciones -->
        <div
          class="g-position--relative"
          *ngIf="item.children && item.children.length"
          routerLinkActive
          #rla="routerLinkActive"
        >
          <div
            (click)="itemTitle(item)"
            [ngClass]="{ active: !isHistorical && rla.isActive }"
            class="d-flex align-items-center justify-content-between g-c--pointer py-2 g-menu--global-suboption"
            ctrl="linkMenu"
            (domChange)="onDomChange($event, { label: item.name })"
          >
            <ng-container *ngTemplateOutlet="option; context: { $implicit: item }"></ng-container>
          </div>

          <div class="g-menu--global-subitem" (click)="itemCollapse(item)">
            <div class="pl-2 pr-2">
              <span [dropdown-icon]="getCollapse(rla.isActive, item.collapse)"></span>
            </div>
          </div>

          <div
            (collapse-mobile)="getCollapse(rla.isActive, item.collapse)"
            class="submenu"
            [ngClass]="{ 'submenu--active': !getCollapse(rla.isActive, item.collapse) }"
          >
            <ng-container *ngFor="let item of item.children">
              <div class="d-flex align-items-center">
                <a
                  class="g-hover-nav g-font--12"
                  [routerLink]="[item.route]"
                  (click)="onClickChild(i)"
                  [routerLinkActive]="'active'"
                  ctrl="linkSubmenu"
                  (domChange)="onDomChange($event, { label: item.name })"
                >
                  {{ item.name }}
                  <span class="item-label-menu g-font--13 g-font-lg--10 g-font-xl--10 g-ml--15" *ngIf="!item.hideNewIcon" >Nuevo</span>
                </a>

              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Icons -->
    <div class="btn-icons">
      <!-- TODO: Quitar d-none al activar -->
      <a href="#" class="d-none mr-xs--1">
        <span class="icon-mapfre_031_qanda g-font--21"></span>
      </a>
      <a class="mr-xs--1 g-c--pointer" (click)="openModalContact()">
        <span class="icon-mapfre_030_call g-font--21"></span>
      </a>
    </div>
  </div>
</div>

<!-- Menu sin opciones -->
<ng-template #noChildren let-item>
  <a
    (click)="onClick()"
    [routerLink]="[item.route]"
    [routerLinkActive]="'active'"
    ctrl="linkMenu"
    (domChange)="onDomChange($event, { label: item.name })"
  >
    <ng-container *ngTemplateOutlet="option; context: { $implicit: item }"></ng-container>
  </a>
</ng-template>

<!-- Opcion menu principal -->
<ng-template #option let-item>
  <div class="d-flex align-items-center w-100 g-ie-flex--0-1-auto ">
    <span class="icon px-3 g-font--20" [ngClass]="item.icon"></span>
    <div class="g-text-uppercase g-font--medium g-container-block">
      {{ item.name }}
    </div>
    <span *ngIf="!item.hideNewIcon" class="item-label-menu g-font--13 g-font-lg--10 g-font-xl--10" [ngClass]="{'g-mr--3' : item.badge, 'g-mr--40': (item.children && item.children.length), 'g-mr--45': item.badge && (item.children && item.children.length), 'g-mr--15' : !item.badge && !(item.children && item.children.length)}">Nuevo</span>
    <span *ngIf="item.badge" class="c-badge">{{ item.badge }}</span>
  </div>
</ng-template>
