<div class="g-modal" data-modal="confirm">
    <div class="g-modal--container">
        <div class="g-modal--wrapper g-modal--confirm  g-pt--20 ">

            <div class="text-center">
                <span class="icon-mapfre_003_check g-font--55 g-c--green1 g-border--circle"></span>
            </div>

            <div class="text-center  g-mb--20   g-mt--20 ">
                Se ha enviado su mensaje correctamente
            </div>

            <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
                {{>atoms-buttons(addClass: "g-text--uppercase  g-px-lg--35  g-modal--close", text: "Cerrar") }}
            </div>

        </div>
    </div>
</div>