<button href="#open-modal" class="g-btn {{addClass}}" data-modal="open-modal">{{{text}}}</button>

<div class="g-modal" data-modal="open-modal">
   <div class="g-modal--container">
        <div class="g-modal--wrapper">

            <div class="g-modal--closemodal g-modal--close">
                <span class="icon-mapfre_049_close2 g-font--30"></span>
            </div>

            <div class="g-modal--header text-center">
                <div class="g-font--18 g-font-md--20 g-font--bold">COBERTURAS DE SCTR SALUD</div>
            </div>

            <div class="g-modal--content">

                <ul>
                    <li>a) Asistencia y asesoramiento preventivo promocional en salud ocupacional.</li>
                    <li>b) Atención médica, farmacológica, hospitalaria y quirúrgica, cualquiera que fuere el nivel de complejidad; hasta la recuperación  total del Asegurado o la declaración de una invalidez permanente total o parcial o fallecimiento.</li>
                    <li>c) Rehabilitación y readaptación laboral al Asegurado inválido bajo este seguro.</li>
                    <li>d) Aparatos de prótesis y ortopédicos necesarios al Asegurado inválido bajo este seguro.</li>
                </ul>

                <p>Esta cobertura no comprende los subsidios económicos que son otorgados por cuenta del Seguro Social de Salud.</p>

            </div>
            <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
                {{>atoms-buttons(addClass: "g-text--uppercase g-btn-outline  g-px-lg--35  g-modal--close", text: "Cerrar") }}
            </div>

        </div>
    </div>
</div>