<div class="g-modal" data-modal="{{dataModal}}">
  <div class="g-modal--container">
    <div class="g-modal--wrapper {{modalSize}}">

      <div class="g-modal--closemodal g-modal--close">
        <span class="icon-mapfre_049_close2 g-font--21 g-c--gray9"></span>
      </div>

      <div class="g-modal--section {{addClass}}">
        {{#formContent}}
          {{>organisms-fm-form-default}}
        {{/formContent}}

        {{#dataCompares}}
          {{>molecules-data-compare}}
        {{/dataCompares}}

        {{#sublimites}}
          {{#title}}
            <div class="{{titleClass}}">{{{title}}}</div>
          {{/title}}
          {{#table}}
            {{>organisms-table-sctr}}
          {{/table}}

        {{/sublimites}}
      </div>

      {{#btns}}
        <div class="container g-bt--1 {{btnsClass}}">
          {{#btn}}
            <div class="{{addClass}}">
              <div class="{{textClass}}">{{{text}}}</div>
            </div>
          {{/btn}}
        </div>
      {{/btns}}

    </div>
  </div>
</div>