<div class="g-modal" data-modal="electronic">
    <div class="g-modal--container">
        <div class="g-modal--wrapper">
            <div class="g-modal--closemodal g-modal--close">
              <span class="icon-mapfre_049_close2 g-font--30"></span>
            </div>

            <div class="g-modal--header text-center">
              <div class="g-font--18 g-font-md--20 g-font--bold">Consentimiento al envío de póliza electrónica</div>
            </div>

            <div class="g-modal--content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ante at nisi interdum commodo. Aenean tempor, erat sit amet lobortis porttitor, ex lacus fringilla tortor, et faucibus mi lorem eget ex. Sed erat velit, accumsan eu sem id, iaculis iaculis nulla. Vestibulum euismod velit vel orci condimentum tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc varius porta sapien, ut aliquam nisi pellentesque ut. Vestibulum suscipit tellus erat, id porta sem vulputate lacinia. Aliquam ac finibus neque. Nunc congue metus vitae quam accumsan cursus. Mauris viverra interdum metus, vitae fermentum odio pellentesque quis. Nullam sed sapien sit amet massa maximus facilisis sed vitae turpis. Vivamus vulputate nibh sed lectus euismod pulvinar. Aliquam accumsan aliquam augue sed tristique. Aenean ut leo elementum, molestie lectus vitae, semper justo.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ante at nisi interdum commodo. Aenean tempor, erat sit amet lobortis porttitor, ex lacus fringilla tortor, et faucibus mi lorem eget ex. Sed erat velit, accumsan eu sem id, iaculis iaculis nulla. Vestibulum euismod velit vel orci condimentum tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc varius porta sapien, ut aliquam nisi pellentesque ut. Vestibulum suscipit tellus erat, id porta sem vulputate lacinia. Aliquam ac finibus neque. Nunc congue metus vitae quam accumsan cursus. Mauris viverra interdum metus, vitae fermentum odio pellentesque quis. Nullam sed sapien sit amet massa maximus facilisis sed vitae turpis. Vivamus vulputate nibh sed lectus euismod pulvinar. Aliquam accumsan aliquam augue sed tristique. Aenean ut leo elementum, molestie lectus vitae, semper justo.</p>
            </div>

            <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
                {{>atoms-buttons(addClass: "g-text--uppercase g-btn-outline  g-px-lg--35  g-modal--close", text: "Cerrar") }}
            </div>
        </div>
    </div>
</div>