<div class="g-modal" data-modal="privacy">
    <div class="g-modal--container">
        <div class="g-modal--wrapper">
            <div class="g-modal--closemodal g-modal--close">
              <span class="icon-mapfre_049_close2 g-font--30"></span>
            </div>

            <div class="g-modal--header text-center">
              <div class="g-font--18 g-font-md--20 g-font--bold">Cláusula de consentimiento de tratamiento de datos personales</div>
            </div>

            <div class="g-modal--content">
            <p>Por el presente documento otorgo mi consentimiento libre, previo, informado, expreso e inequívoco para que MAPFRE incluya mis datos personales sensibles o no, consignados en el presente documento, en sus sistemas y base de datos y pueda dar tratamiento a mi información. Asimismo, en caso MAPFRE acepte la presente solicitud de seguro y se emita la póliza correspondiente, consiento expresamente la comunicación de mis datos personales a las entidades y/o personas a las cuales MAPFRE les encargará el cumplimiento de ciertas actividades para el desarrollo del servicio contratado y exclusivamente para dicho fin, teniendo conocimiento que MAPFRE asegura la confidencialidad de mis datos y garantiza que no los compartirá con personas ajenas, salvo lo indicado en el presente documento. </p>

            <p>Igualmente autorizo el tratamiento de los datos personales suministrados para realizar estudios estadísticos, realizar estudios de siniestralidad, remitir información sobre productos y servicios de MAPFRE y de las distintas empresas del Grupo MAPFRE , a través de medios electrónicos, llamadas telefónicas o correspondencia escrita, así como el flujo transfronterizo de la información a otras entidades, con la finalidad de realizar actividades relacionadas a la naturaleza del contrato, garantizar la continuidad de las operaciones de la empresa ante cualquier contingencia y la gestión de otras solicitudes o contratos por parte de las distintas empresas del Grupo MAPFRE.</p>

            <p>Asimismo, acepta que sus datos pueden ser cedidos exclusivamente con las finalidades indicadas anteriormente a otras personas naturales o jurídicas con las que las empresas del Grupo MAPFRE mantienen o suscriban acuerdos de colaboración, respetando el cumplimiento de la legislación peruana sobre protección de datos de carácter personal.</p>
            </div>

            <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
                {{>atoms-buttons(addClass: "g-text--uppercase g-btn-outline  g-px-lg--35  g-modal--close", text: "Cerrar") }}
            </div>
        </div>
    </div>
</div>