{{#buttonModal}}
<button href="#open-modal" class="g-btn {{addClass}}" data-modal="open-modal">{{{text}}}</button>
{{/buttonModal}}
<div class="g-modal" data-modal="open-modal" >
  <div class="g-modal--container">
    <div class="g-modal--wrapper {{addModalClass}}">
      <div class="g-modal--closemodal g-modal--close">
          <span class="icon-mapfre_049_close2 g-font--30"></span>
      </div>

      <div class="g-modal--section text-center">
        <div class="g-font--18 g-font-md--20">Enviar información <br> a otros correos</div>

        {{#input}}
          {{>atoms-mf-input }}
        {{/input}}
      </div>

      <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
          {{>atoms-buttons(addClass: "g-text--uppercase  g-px--35  g-modal--close g-modal--other", text: "ENVIAR", data: "open-send") }}
      </div>
    </div>
  </div>
</div>
