<div class="g-modal" data-modal="{{data}}">
  <div class="g-modal--container {{modalContainer}}">
    <div class="g-modal--wrapper {{modalWrapper}}">

      <div class="g-modal--closemodal g-modal--close">
        <span class="icon-mapfre_049_close2 g-font--30"></span>
      </div>

      <div class="g-modal--section text-center d-flex align-items-center">
        <div class="w-100">
          {{#messages}}
            {{>molecules-messages2}}
          {{/messages}}
        </div>
      </div>

      <div class="d-flex g-bt--1 justify-content-center  g-pt--15   g-pb--15  ">
        {{#btnOne}}
          <div class="w-50">
            <div class="g-btn g-text--uppercase g-btn-outline g-c--pointer g-btn--default {{addClass1}}">
              {{{text1}}}
            </div>
          </div>
          <div class="w-50">
            <div class="g-btn g-btn--default g-text--uppercase g-c--pointer {{addClass2}}">
              {{{text2}}}
            </div>
          </div>
        {{/btnOne}}

        {{#btnTwo}}
          <div class="g-btn g-text--uppercase g-c--pointer {{addClass}}">
            {{{text}}}
          </div>
        {{/btnTwo}}
      </div>

    </div>
  </div>
</div>