{{#buttonModal}}
<button href="#open-send" class="g-btn {{addClass}}" data-modal="open-send">{{{text}}}</button>
{{/buttonModal}}
<div class="g-modal" data-modal="open-send">
  <div class="g-modal--container">
    <div class="g-modal--wrapper {{addModalClass}}">
      <div class="g-modal--closemodal g-modal--close">
          <span class="icon-mapfre_049_close2 g-font--30"></span>
      </div>

      <div class="g-modal--section text-center">
          <div class=" g-pt--25 ">
              {{#content}}
                {{>molecules-messages}}
              {{/content}}
          </div>
      </div>

      <div class="g-modal--footer text-center g-pt--15 g-pb--15  g-py-lg--15 ">
          {{>atoms-buttons(addClass: "g-text--uppercase  g-px--35  g-modal--close", text: "CERRAR") }}
      </div>
    </div>
  </div>
</div>
