<div [id]="insuredFragment">
  <mf-card dropdown-close>
    <mf-card-header
      [header]="titleMyFees"
      [icon]="myFeesIcon"
      [collapsed]="collapse"
      (expand)="collapse = $event">
    </mf-card-header>
    <mf-card-content [collapse]="collapse" (collapse-mobile)="collapse = $event">
      <!-- Loading -->
      <mf-loader *ngIf="showLoading"></mf-loader>

      <!-- Lista -->
      <mf-card-item *ngFor="let fee of feeList">
        <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap g-mh--8 position-relative w-100">
          <div class="d-flex w-px-lg--19 w-px--18 justify-content-center px-3 pt-3 pt-lg-0 align-items-lg-center">
            <!-- Cuota-->
            <div class="text-center">
              <div class="mb-0 text-nowrap">
                <span class="g-font--light g-font--16">{{ labelQuota }}</span>
              </div>
              <div class="mb-0 text-nowrap text-truncate">
                <span class="g-font--medium g-font--16 g-font-md--18">{{ fee.cuota }}</span>
              </div>
            </div>
          </div>

          <div class="w-7 w-lg-10 g-bl--1 g-bl-lg--0 p-3 p-lg-0 d-flex align-items-lg-center flex-column flex-lg-row flex-fill g-o-lg--hidden">
            <!-- Numero de recibo o aviso -->
            <div class="w-100 g-mb--03 mb-lg-0 g-o-lg--hidden">
              <div class="text-lg-truncate" *ngIf="fee.tipoDocumentoPago === tipoDocumentoPago.RECIBO">
                <span class="g-font--medium g-font-md--16" [title]="billNumber + ': ' + fee.numRecibo">
                  {{ billNumber }}: {{ fee.numRecibo }}
                </span>
              </div>
              <div class="text-lg-truncate" *ngIf="fee.tipoDocumentoPago === tipoDocumentoPago.AVISO">
                <span class="g-font--medium g-font-md--16" [title]="noticeNumber + ': ' + fee.numeroAviso">
                  {{ noticeNumber }}: {{ fee.numeroAviso }}
                </span>
              <div class="mb-0 text-nowrap g-text--lowercase" *ngIf="fee.listaRecibosAsociados && fee.listaRecibosAsociados.length > 1">
                  {{ fee.listaRecibosAsociados.length }} {{ labelPolicies }}
                </div>
              </div>
            </div>

            <!-- [RECIBO PAGADO]: Medio y fecha de pago -->
            <div *ngIf="fee.tipoSituacion === tipoSituacion.PAGADO" class="px-lg-3 w-px-lg--25">
              <!-- Icono Tipo de Pago -->
              <div class="mb-0 d-flex">
                <client-icon-payment-type [paymentType]="fee.tiposPagosLlave"></client-icon-payment-type>
                <span class="g-font--light text-lg-truncate" [title]="fee.tiposPagosNombre">{{
                  fee.tiposPagosNombre
                }}</span>
              </div>
              <!-- Fecha Pago -->
              <div class="mb-0 text-nowrap text-truncate">
                <div class="mb-0 text-nowrap">
                  <span class="g-mt--3 pr-1 {{ calendarIcon }}"></span>{{ fee.paymentDate }}
                </div>
              </div>
            </div>

            <!-- [PAGO PENDIENTE]: semafoto estado y fecha fin -->
            <div *ngIf="fee.tipoSituacion === tipoSituacion.PENDIENTE" class="px-lg-3 w-px-lg--25">
              <!-- semaforo + fecha fin -->
              <div class="mb-0 text-nowrap d-flex align-items-center">
                <span
                  *ngIf="fee.bulletColor"
                  class="icon-mapfre_066_circle g-font--10 pr-1"
                  [ngClass]="fee.bulletColor">
                </span>
                <span class="g-font--light">{{ fee.policyStatusLabel }}: {{ fee.expirationDate }}</span>
              </div>
              <!-- estado cobertura -->
              <div
                *ngIf="fee.estadoCobertura && fee.showCoverageStatus"
                class="mb-0 text-nowrap g-font--light g-font--13"
                [ngClass]="{ 'g-c--red1': fee.estadoCobertura === coverageStatus.SIN_COBERTURA }">
                {{ fee.estadoCobertura }}
              </div>
            </div>

            <!-- Monto -->
            <div class="px-lg-3 w-px-lg--16 text-lg-right mr-lg--2">
              <div class="mb-0 text-nowrap text-lg-truncate">
                <span class="g-font--medium g-font--16 g-text--uppercase">{{ fee.amountFee }}</span>
              </div>
            </div>
          </div>
          <!-- Acciones -->
          <div
            *ngIf="fee.tipoSituacion === tipoSituacion.PAGADO"
            class="g-bt--1 g-bt-lg--0 py-3 g-c--green1 py-lg-0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--2 g-bc--gray11 px-2">
            <span
              *ngIf="showSendBillToEmail"
              class="icon-mapfre_060_mail g-font--24 g-c--pointer mr-xs--5"
              (click)="openEmailModal(fee.numRecibo)">
            </span>
            <span
              [spinnerPdf]="showSpinnerReceipts && fee.numRecibo === receiptSelected"
              (click)="downloadPDF(fee)"
              ctrl="linkDownloadPdf"
              (domChange)="onDomChange($event, { titulo: fee.tiposPagosNombre, numeroRecibo: fee.numeroAviso || fee.numRecibo })">
            </span>
          </div>

          <!-- Btn Pagar -->
          <div
            *ngIf="fee.tipoSituacion === tipoSituacion.PENDIENTE"
            class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--17 d-flex align-items-center justify-content-center flex-grow-1 g-bl-lg--1 px-2">
            <client-payment-button
              routerLink="/payments/quota"
              [disabled]="!fee.pagoActivo"
              [item]="fee.paymentFee"
              [renewDays]="renewDays"
              [ga]="ga">
            </client-payment-button>
          </div>
        </div>
      </mf-card-item>

      <div *ngIf="!feeList?.length && !showLoading" class="d-flex align-items-center justify-content-center">
        <mf-card-without-data [icon]="noFeesIcon" [message]="messageWithoutFees"></mf-card-without-data>
      </div>
    </mf-card-content>
  </mf-card>
</div>

<!-- Modal envío de recibo -->
<client-send-receipt *ngIf="openEmail" [receiptNumber]="receiptSelected"></client-send-receipt>
