// Alert
.g-alert {
  @include bkg-alert(map-get($colors, orange1));
  border-radius: 5px;
  padding: 10px;
  position: relative;

  .ico {
    position: absolute;
    top: 7px;
  }

  .text {
    line-height: 1;
    margin-bottom: 0;
    padding-left: 30px;
  }

  .text--alert {
    padding-left: 50px;
  }

  &--temp {
    animation-fill-mode: forwards;
    animation-name: fade;
    background-color: map-get($colors, gray2);
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.11);
    color: map-get($colors, white1);
    left: 50%;
    opacity: .85;
    padding: 15px;
    position: absolute;
    top: 20px;
    transform: translateX(-50%);
    width: 280px;

    @keyframes fade {
      0% {
        opacity: 1;
      }

      70% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    @media (min-width: $break-large) {
      margin-left: -280px;
    }
  }

  &--search-place {
    & .g-alert--temp {
      top: 130px;

      @media (min-width: $break-large) {
        margin-left: 0;
      }

      @media (min-width: $break-xlarge) {
        top: 160px;
      }
    }
  }
}

.alert-box {
  margin: 0 5px 0 15px;
}
