// Badge
.g-badge {
  background-color: map-get($colors, gray2);
  border-radius: 50%;
  color: map-get($colors, white1);
  font-size: 11px;
  height: 25px;
  padding: 3px 7px;
  width: 25px;
}

.g-badge--icon {
  position: relative;

  .g-badge {
    bottom: 5px;
    font-family: $fontfamily;
    height: 20px;
    padding: 5px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 20px;
  }
}
