// Circle
.g-circle {
  &--gray5 {
    background-color: map-get($colors, gray5);
    border-radius: 50%;
    height: 90px;
    width: 90px;
  }

  &--item {
    border-radius: 50%;
    display: inline-block;
    height: 70px;
    padding-top: 7px;
    width: 70px;
  }

  &--white {
    background: map-get($colors, white1);
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
}
