// Dropdown

.link,
.link-hover {
  color: map-get($colors, gray1);
  display: inline-block;
  font-size: $fz17;

  &:hover {
    color: map-get($colors, gray1);
  }
}

.hidden {
  overflow-y: hidden;
}

.g-dropdown {
  color: map-get($colors, gray1);
  position: relative;

  &--header {
    background: map-get($colors, white1);
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    @media (min-width: $break-large) {
      background: none;
      height: auto;
      left: auto;
      position: relative;
      top: auto;
      width: auto;
      z-index: inherit;
    }
  }

  &--content {
    padding-top: 50px;
    position: relative;
    z-index: 1;

    @media (min-width: $break-large) {
      padding-top: 0;
    }
  }

  &--none {
    &::before,
    &::after {
      display: none;
    }
  }

  &--show {
    background: map-get($colors, white1);
    bottom: 0;
    height: 100%;
    opacity: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 600ms, visibility 600ms;
    visibility: hidden;
    width: 100%;
    z-index: 101;

    &::before {
      @media (min-width: $break-large) {
        background: map-get($colors, white1);
        content: '';
        height: 20px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        width: 20px;
        z-index: 1;
      }
    }

    &::after {
      @media (min-width: $break-large) {
        background: map-get($colors, white1);
        box-shadow: 1px 1px 20px $c-shadow1;
        content: '';
        height: 20px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        width: 20px;
        z-index: -1;
      }
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @media (min-width: $break-large) {
      bottom: initial;
      overflow-y: inherit;
      position: absolute;
      right: -50px;
      top: 120%;
      width: 350px;
      z-index: 95;
    }

    @media (min-width: $break-large) {
      right: -160px;
    }
  }

  &--user {
    @media (min-width: $break-large) {
      right: 15px;
      width: 200px;
    }

    .g-dropdown--content {
      @media (min-width: $break-large) {
        background: map-get($colors, white1);
      }
    }
  }

  &--item {
    margin-top: 6px;

    @media (min-width: $break-large) {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;

      a {
        @media (min-width: $break-large) {
          border-top: none;
        }
      }
    }

    .g-dropdown--link,
    a {
      background: map-get($colors, gray5);
      border-radius: 2px;
      cursor: pointer;
      display: block;
      font-weight: $bold;
      padding: 12px 25px;

      &:hover {
        @media (min-width: $break-large) {
          background: map-get($colors, gray11);
        }
      }

      @media (min-width: $break-large) {
        background: none;
        border-top: 1px solid map-get($colors, gray5);
      }
    }
  }
}

.g-dropdown-menu {

  &--content {
    height: 100vh;
  }

  &--show {
    background: map-get($colors, white1);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 101;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.g-sub-nav {
  opacity: 0;
  position: absolute;
  right: 3%;
  top: 100%;
  transition: max-height .2s ease-in;
}

.g-content--user {
  background-color: map-get($colors, white1);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  @media (min-width: $break-medium) {
    bottom: initial;
    left: initial;
    position: absolute;
    right: 1%;
    top: initial;
  }

  .ico--close {
    position: absolute;
    right: 10px;
    top: 3px;
  }

  li {
    &:hover {
      cursor: pointer;
    }
  }

  .g-ico-alert {
    left: 315px;

    @media (min-width: $break-xlarge) {
      left: 221px;
    }
  }

  .menu {
    max-width: 100%;

    @media (min-width: $break-medium) {
      max-width: 400px;
    }
  }

  .menu-list {
    max-height: 100vh;

    @media (min-width: $break-medium) {
      max-height: 500px;
      min-width: 200px;
      overflow: auto;
    }

    .link {
      background-color: map-get($colors, gray5);
      margin-bottom: 5px;
      padding: 7px;

      .ico {
        display: inline-block;
        padding-right: 5px;
        vertical-align: top;
      }

      .ico-arrow {
        float: right;
        padding-top: 20px;
      }

      .datos {
        display: inline-block;
        margin-bottom: 0;

        .fech {
          font-size: $fz11;
        }

        .tipo {
          font-size: $fz14;
        }

        .desc {
          font-size: $fz13;
        }
      }
    }

    .cont {
      max-height: 250px;
      overflow: scroll;
    }
  }
}

.g-icon-c--slide {
  top: 50px;
}

.g-content--alert {
  background-color: map-get($colors, white1);

  .ico--close {
    position: absolute;
    right: 15px;
    top: 7px;
  }

  li {
    &:hover {
      cursor: pointer;
    }
  }

  .menu--list {
    @media (min-width: $break-xlarge) {
      max-height: calc(70vh - 45px);
      min-width: 200px;
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 0;
    }

    .link {
      background-color: map-get($colors, gray5);
      margin-bottom: 5px;
      padding: 7px;

      .ico {
        display: inline-block;
        padding-right: 5px;
        vertical-align: top;
      }

      .ico-arrow {
        float: right;
        padding-top: 20px;
      }

      .datos {
        display: inline-block;
        margin-bottom: 0;

        .fech {
          font-size: $fz11;
        }

        .tipo {
          font-size: $fz14;
        }

        .desc {
          font-size: $fz13;
        }
      }
    }

    .cont {
      max-height: 250px;
      overflow: scroll;
    }
  }
}

.g-dropwdown--default {
  .g-dropwdown--simple {
    @media (min-width: $break-large) {
      position: relative;
      top: auto;
    }
  }
}

// Dropdown simple
.g-dropwdown--simple {
  display: inline-block;
  position: relative;

  @media (min-width: $break-large) {
    position: absolute;
    top: 40px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  label {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    padding-right: 10px;
    position: relative;
    user-select: none;
  }

  .content {
    display: none;
    height: 0;
    margin: 0;
    max-height: 0;
    min-width: 260px;
    overflow: inherit;
    position: absolute;
    transition: max-height .2s ease-in;
    z-index: 96;

    &-arrow-small {
      display: none;
      height: 25px;
      left: 50%;
      overflow: hidden;
      position: absolute;
      top: -25px;
      transform: translateX(-50%) rotate(180deg);
      width: 50px;

      &::after {
        background: map-get($colors, white1);
        box-shadow: 1px 1px 20px 0 $c-shadow1;
        content: '';
        height: 10px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        width: 10px;
      }
    }

    li {
      padding: 7px 15px;

      &:first-child {
        padding-top: 10px;
      }

      &:last-child {
        padding-bottom: 7px;
      }
    }
  }

  .dpd-header {
    color: map-get($colors, white1);

    @media (min-width: $break-xlarge) {
      color: map-get($colors, gray3);
    }
  }

  .drop {
    display: none;

    &:checked ~ .content {
      background: map-get($colors, white1);
      border-radius: 5px;
      box-shadow: 0 0 10px map-get($colors, gray7);
      height: auto;
      max-height: 900px;
      min-width: 260px;
      overflow: hidden;
      transition: max-height .2s ease-in;
    }
  }

  &.active {

    .g-desplegable--icon {
      display: block;
    }

    .content {
      background: map-get($colors, white1);
      border-radius: 5px;
      box-shadow: 0 0 10px map-get($colors, gray7);
      display: block;
      height: auto;
      max-height: 900px;
      min-width: 260px;
      overflow: inherit;
      top: 25px;
    }
  }
}

// Dropdown user
.g-dropwdown--user {
  display: inline-block;
  position: relative;

  ul {
    list-style-type: none;
    padding: 0;
  }

  label {
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    padding-right: 10px;
    position: relative;
    user-select: none;
  }

  .content {
    height: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: .2s linear;
    z-index: 999;

    @media (min-width: $break-medium) {
      margin-top: 20px;
    }

    &--right {
      right: 10px;
    }

    li {
      color: map-get($colors, gray1);
      cursor: pointer;
      padding: 7px 15px;

      @media (max-width: $break-medium) {
        .option {
          background-color: map-get($colors, gray5);
          border-radius: 5px;
          padding: 15px 0 15px 40px;
        }
      }
    }

    .ico-close {
      float: right;
      font-size: 34px;
    }
  }

  .dpd-title--mobile {
    box-shadow: 0 1px 6px 0 $c-shadow1;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 10px !important; // sass-lint:disable-line no-important
  }

  .dpd-header {
    color: map-get($colors, white1);

    @media (min-width: $break-xlarge) {
      color: map-get($colors, gray3);
    }
  }

  .drop {
    display: none;

    &:checked~.content {
      background: map-get($colors, white1);
      bottom: 0;
      box-shadow: 0 0 10px map-get($colors, gray7);
      height: auto;
      left: 0;
      max-height: 100%;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      transition: max-height .2s ease-in;

      @media (min-width: $break-medium) {
        border-radius: 5px;
        bottom: initial;
        left: initial;
        max-height: 900px;
        min-width: 260px;
        position: absolute;
        right: 10px;
        top: initial;
      }
    }
  }
}

// Dropdown timeline
.g-dropwdown--timeline {
  margin-left: 15px;
  position: relative;
  top: auto;

  .g-desplegable--icon {
    left: -20px;
  }
}

.g-dropdown-position {
  .g-dropwdown--simple {
    @media (min-width: $break-large) {
      left: 77px;
    }
  }
}
