// text
.g-text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--none {
    text-transform: none;
  }

  &--decoration {
    text-decoration: none;
  }

  &--underline {
    text-decoration: underline;
  }

  &--linethrough {
    text-decoration: line-through;
  }
}

// Font Weight
.g-font {

  &--light {
    font-weight: $light;
  }

  &--normal {
    font-weight: $normal;
  }

  &--medium {
    font-weight: $medium;
  }

  &--bold {
    font-weight: $bold;
  }

  &--italic {
    font-style: italic;
  }

  @media (min-width: $break-medium) {

    &-m--light {
      font-weight: $light;
    }

    &-m--normal {
      font-weight: $normal;
    }

    &-m--medium {
      font-weight: $medium;
    }

    &-m--bold {
      font-weight: $bold;
    }

    &-m--italic {
      font-style: italic;
    }
  }

  @media (min-width: $break-large) {

    &-lg--light {
      font-weight: $light;
    }

    &-lg--normal {
      font-weight: $normal;
    }

    &-lg--medium {
      font-weight: $medium;
    }

    &-lg--bold {
      font-weight: $bold;
    }

    &-lg--italic {
      font-style: italic;
    }
  }

  @media (min-width: $break-xlarge) {

    &-xl--light {
      font-weight: $light;
    }

    &-xl--normal {
      font-weight: $normal;
    }

    &-xl--medium {
      font-weight: $medium;
    }

    &-xl--bold {
      font-weight: $bold;
    }

    &-xl--italic {
      font-style: italic;
    }
  }
}
