// Header
.g-oim--header {
  background-color: map-get($colors, red1);
  min-height: 55px;

  &--open-menu {
    background-color: map-get($colors, gray3);
    left: 0;
    top: 0;
  }

  @media (min-width: $break-large) {
    background-color: map-get($colors, red1);
  }

  @media (min-width: $break-xlarge) {
    background-color: map-get($colors, white1);
    min-height: auto;
    padding-top: 0;
  }

  .title {
    font-size: $fz20;
    margin-bottom: 0;
    padding: 22px 0;
  }
}

.g-header {
  &--left {
    width: 100vw;

    @media (min-width: $break-xlarge) {
      width: calc(55vw - 120px);
    }
  }

  &--right {
    @media (min-width: $break-xlarge) {
      width: calc(40vw - 120px);
    }
  }
}
