// List
.g-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 5px;
  }

  .g-list--ico {
    @include inlineblock;
    max-width: 14px;
    min-width: 14px;
    width: 10%;

    &::before {
      position: relative;
      top: 3px;
    }
  }

  &--box {
    font-size: 13px;
    padding-bottom: 10px !important; // sass-lint:disable-line no-important
    padding-top: 10px !important; // sass-lint:disable-line no-important

    li {
      padding-bottom: 0 !important; // sass-lint:disable-line no-important
      padding-top: 0 !important; // sass-lint:disable-line no-important
    }
  }

  .g-list--text {
    @include inlineblock;
    padding-left: 10px;
    width: 90%;
  }

  &.green {
    .g-list--ico {
      color: map-get($colors, green1);
    }
  }

  &-results {
    &--item {
      &:hover {
        background-color: #f7f8f9;
      }
    }
  }

}

.g-list-icon {
  &--item {
    display: inline-block;
    padding: 5px;
    width: 100%;

    @media (min-width: $break-medium) {
      width: 50%;
    }

    @media (min-width: $break-large) {
      width: 33%;
    }
  }
}
