// Messages
.g-message {
  &--icon {
    @include inlineblock;
    background-size: cover;
  }

  &--primary {
    display: block;
    font-size: $fz20;
  }

  &--secondary {
    display: block;
    font-size: $fz14;
  }
}
