// Notification
.g-notification {
  background-color: map-get($colors, green1);
  border-radius: 50%;
  box-shadow: 0 2px 4px $c-shadow1;
  color: map-get($colors, white1);
  float: right;
  height: 25px;
  margin-right: 5px;
  opacity: 1 !important; // sass-lint:disable-line no-important
  padding: 3px;
  text-align: center;
  width: 25px;

  &--alert {
    font-family: $fontfamily;
    position: absolute;
    right: -5px;
    top: 16px;
  }
}
