// Progress bar
.g-progress {
  background-color: map-get($colors, gray12);
  border-radius: 2px;
  height: 3px;
  margin-top: 10px;
  width: 100%;

  .bar {
    background-color: map-get($colors, green1);
    border-radius: 2px;
    height: 3px;
    width: 89%;
  }
}
