// Spinner full screen
$opacity-white: map-get($colors, white1);

@keyframes loading {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

.g-spinner {
  background: $bg-opacity--white1;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99998;

  &--image {
    background: url('../../images/load.gif') center center no-repeat;
    height: 120px;
    position: relative;
    width: 120px;
  }

  &--center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--dots {
    > span {
      animation-duration: 1.4s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: loading;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }
}

// Spinner como icon
.spinner {
  &::before {
    animation: spin 0.6s linear infinite;
    border-color: #8db602 #dddddd #dddddd;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: '';
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
  }
}

// Spinner full div
.g-full-form--load {
  position: relative;

  &::before {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
  }

  &::after {
    animation: spin 1s linear infinite;
    border-color: #8db602 #dddddd #dddddd;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    content: '';
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 14;
  }
}

.g-full-form--load-sm {
  position: relative;

  &::before {
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
  }

  &::after {
    animation: spin 1s linear infinite;
    border-color: #8db602 #dddddd #dddddd;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    content: '';
    height: 25px;
    left: 50%;
    margin-left: -25px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 25px;
    z-index: 14;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.g-spinner-refres {
  border: 2px solid map-get($colors, gray21);
  border-radius: 50%;
  border-top: 2px solid map-get($colors, green1);
  height: 20px;
  width: 20px;

  &--loader {
    animation: spinner 1.5s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
