<div>
    500 Algo sali&oacute; mal
    <br>
    Pero estamos trabajando en eso
    <br>
    Mientras tanto, prueba uno de los siguientes:
    - Lea las preguntas frecuentes
    - ¡Danos más informaci&oacute;n sobre c&oacute;mo ocurri&oacute; este error espec&iacute;fico!
    
    <button>Regresar</button>
</div>
