<div #scrollMe class="g-o--auto">
  <mf-stepper  [currentStep]="3"
      [stepList]="stepList" *ngIf="!registrationCompleted"></mf-stepper>
  <div class="g-mb--60">
    <client-form-base
      *ngIf="!registrationCompleted"
      (actionCancel)="actionCancel()"
      (actionConfirm)="actionConfirm()"
      [btnCancel]="graLng?.Buttons?.Back"
      [btnConfirm]="graLng?.Buttons?.Agree"
      [noticeBeforeConfirming]="lang.StepThree.Texts.IndicationAfterConfirming"
      [showLoading]="showLoading">
      <div class="g-p--20 g-px-md--40">
        <!-- Titulo -->
        <div class="d-flex justify-content-between text-center">
          <div class="g-w--80">
            <div class="g-font--18 g-font-md--20 g-font--medium">
              {{ lang.StepThree.Title }}
            </div>
          </div>
          <div class="g-w--20">
            <span class="icon-mapfre_048_tooltip g-font--35 g-font-md--30 g-c--red1 g-pr--10 g-c--pointer" (click)="viewInfo()"></span>
          </div>
        </div>
      </div>
      <!-- Datos -->
      <div class="d-flex flex-wrap w-100 g-bb-md--1 g-bc--gray11">
        <div class="d-flex flex-wrap g-w-100 g-pt--20 g-py-md--20 g-px--20 g-px-md--40">
          <div class="d-none d-md-block g-w-xs--20">
            <div class="g-pr--10 g-line--11 d-none d-md-flex justify-content-center align-items-lg-center g-br-lg-1 pt-lg-0">
              <span class="g-font--28 g-c--gray10" [ngClass]="crossIcon"></span>
            </div>
          </div>
          <div>
            <div class="g-font--light g-font--13">
              {{ lang.StepThree.Labels.Specialty }}
            </div>
            <div class="g-pt--5 g-font--medium">
              {{ summaryModel.specialty }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap w-100 g-bb-md--1 g-bc--gray11">
        <div class="d-flex flex-column flex-md-row flex-wrap g-w-100 g-pt--20 g-py-md--20 g-px--20 g-px-md--40">
          <div class="d-flex g-w-100 g-w-md-50">
            <div class="d-none d-md-block g-w-xs--20">
              <div class="g-pr--10 g-line--11 d-none d-md-flex d-lg-flex justify-content-center align-items-lg-center g-br-lg-1 pt-lg-0">
                <span class="g-font--30 g-font-md--30 g-c--gray10" [ngClass]="personIcon"></span>
              </div>
            </div>
            <div>
              <div class="g-font--light g-font--13">
                {{ lang.StepThree.Labels.Patient }}
              </div>
              <div class="g-pt--5 g-font--medium">
                {{ summaryModel.patient }}
              </div>
            </div>
          </div>
          <div class="d-flex g-w-100 g-w-md-50 g-pt--20 g-pt-md--0">
            <div class="d-none d-md-block g-w-xs--20">
              <div class="g-pr--10 g-line--11 d-none d-md-flex justify-content-center align-items-lg-center g-br-lg-1 pt-lg-0">
                <span class="g-font--25 g-c--gray10" [ngClass]="phoneIcon"></span>
              </div>
            </div>
            <div>
              <div class="g-font--light g-font--13">
                {{ lang.StepThree.Labels.Telephone }}
              </div>
              <div class="g-pt--5 g-font--medium">
                {{ summaryModel.telephone }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap w-100">
        <div class="d-flex flex-wrap g-w-100 g-pt--20 g-px--20 g-px-md--40">
          <div class="d-none d-md-block g-w-xs--20">
            <div class="g-pr--10 g-line--11 d-none d-md-flex justify-content-center align-items-lg-center g-br-lg-1 pt-lg-0">
              <span class="g-font--30 g-font-md--30 g-c--gray10" [ngClass]="pinIcon"></span>
            </div>
          </div>
          <div>
            <div class="g-font--light g-font--13">
              {{ lang.StepThree.Labels.Address }}
            </div>
            <div class="g-pt--5 g-font--medium">
              {{ summaryModel.address }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap w-100">
        <div class="d-flex flex-wrap g-w-100 g-py--20 g-px--20 g-px-md--40">
          <div class="g-w-100 g-ml-md--40">
            <div class="g-font--light g-font--13">
              {{ lang.StepThree.Labels.ReferenceAddress }}
            </div>
            <div class="g-pt--5 g-font--medium">
              {{ summaryModel.referenceAddress }}
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap w-100">
        <div class="d-flex flex-wrap g-w-100 g-py--20 g-px--20 g-px-md--40">
          <div class="g-bg-c--gray12 g-px--15 g-py--10 g-b-radius--5 g-w-100">
            <div class="d-flex align-items-center">
              <div class="w-100 g-font--bold d-flex align-items-center">
                <span class="g-pr--5">
                  {{ lang.StepThree.Labels.PayPerConsultation }}
                </span>
              </div>
              <div class="ml-auto flex-shrink-0 g-font--bold">
                {{ summaryModel.price | currency: summaryModel.currencySymbol }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </client-form-base>
    <div class="g-pt--80" *ngIf="registrationCompleted">
      <client-form-base
        [showActions]="false">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column align-items-center g-mt-50 g-p--20 g-px-md--40 g-bb--1 g-bc--gray11">
            <div class="g-w--20">
              <span class="g-font--30 g-font-md--30 g-c--green5" [ngClass]="check"></span>
            </div>
            <div class="g-font--medium text-center" >
              {{ lang.StepThree.Texts.SendRequestHomeDoctor }}
            </div>
          </div>
          <div class="d-flex flex-column align-items-center g-mt-50 g-p--20 g-px-md--40">
            <div class="g-font--16 g-py--10 text-center" [innerHtml]="lang.StepThree.Texts.ContactAdviser"></div>
            <button mf-button class="g-btn--default mt-xs--3" (click)="done()">
              {{ btnDone }}
            </button>
          </div>
        </div>
      </client-form-base>
    </div>
  </div>
</div>
<client-modal-how-works *ngIf="openModalHowWorks" [modalData]="howItWorks" [modalHeader]="header"></client-modal-how-works>
