<div class="w-100 g-mt--20 g-mt-lg--0">
  <div class="g-px--15 g-px-lg--0">
    <div class="text-center text-lg-left g-font--16 g-font--medium g-mb--5"> {{ content.title }} </div>
    <div class="text-left" [innerHTML]="content.content" *ngIf="content.content && !showLoading"></div>
  </div>

  <!-- Filtro -->
  <div *ngIf="houseList && houseList.length" class="g-mb--30 g-mx-n-lg--15">
    <div class="col-12 col-md-4">
      <mf-select [value]="houseSelected" [label]="labelHouse" [options]="houseList" (change)="changeHouse($event.target.value)"></mf-select>
    </div>
  </div>

  <!-- Loading -->
  <mf-loader *ngIf="showLoading"></mf-loader>

  <!-- Deducibles -->
  <div class="g-table g-bc--gray12 g-b--1 g-b-radius-lg--5 g-mt--20" *ngIf="deductiblesList">
    <div class="g-table--head g-bc--gray12 g-bb--1 g-bg-c--gray11">
      <div class="text-center g-p--10 g-font--bold">
        {{ content.table.title }}
      </div>
      <div class="d-flex text-center align-items-center align-items-lg-start">
        <div class="w-5 g-py--10 g-pl--15 g-pr--5" *ngFor="let column of content.table.columns; trackBy: trackByFn">
          {{ column }}
        </div>
      </div>
    </div>
    <div class="g-table--body">
      <div class="g-table--row d-flex align-items-md-center" *ngFor="let deductible of deductiblesList; trackBy: trackByFn">
        <div class="w-5 g-py--15 g-pl--15 g-pr--5">{{ deductible.nombreCobertura }}</div>
        <div class="w-5 g-py--15 g-pr--15 g-pl--5">{{ deductible.deducible }}</div>
      </div>
    </div>
  </div>

  <!-- Error -->
  <div class="g-px--15 g-px-lg--0 g-mt--10" *ngIf="messageError">
    <div class="text-left" [innerHTML]="messageError"></div>
  </div>
</div>
