<div class="{{addClass}}">
  <div class="g-services--item {{itemClass}}">
    <div class="g-services--content {{contentClass}}">
      {{#title}}
      <div class="g-font--medium  g-my--10  {{textClass}}">
        {{{text}}}
      </div>
      {{/title}}


      {{#grid4}}
      <div class="{{classGrid}}">{{{titleGrid}}}</div>
      <div class="row {{addClass}}">
        {{#grid}}
        <div class="{{gridClass}}">
          {{>organisms-card-head-gray}}
        </div>
        {{/grid}}

      </div>
      {{/grid4}}


    </div>

    {{#footer}}
    <div class="g-services--footer g-font--medium g-bt--1  g-p--15  mt-auto {{textClass}}">
      {{{text}}}
    </div>
    {{/footer}}

</div>
</div>
