<div class="{{addClass}}">
  <div class="g-services--item {{itemClass}}">
    <div class="g-services--content {{contentClass}}">
      {{#icon}}
      <div class="g-services--icon">
        <span class="{{iconFile}} {{iconClass}}"></span>
        {{#imgIcon}}
        <img class="{{imageClass}}" src="{{urlImage}}" alt="{{name}}">
        {{/imgIcon}}
      </div>
      {{/icon}}

      {{#title}}
      <div class="g-font--medium  g-my--10  {{textClass}}">
        {{{text}}}
      </div>
      {{/title}}

      {{#description}}
      <div class="{{textClass}}">
        {{{text}}}
      </div>
      {{/description}}
      {{#grid4}}
      <div class="row {{addClass}}">
        {{#grid}}
        <div class="{{gridClass}}">
          <div class="{{tittleClass}}">{{{title}}} </div>
          <div class="{{descriptionClass}}">
            {{{description}}}
          </div>
        </div>
        {{/grid}}

      </div>
      {{/grid4}}

      {{#steps}}
      <div class="d-flex {{stepsContentClass}}">
        {{#card}}
        <div class="{{cardClass}}">
          <div class="{{circleClass}}">{{{number}}}</div>
          {{{description}}}
        </div>
        {{/card}}
      </div>
      {{/steps}}



    </div>

    {{#footer}}
    <div class="g-services--footer g-font--medium g-bt--1  g-p--15  mt-auto {{textClass}}">
      {{{text}}}
    </div>
    {{/footer}}

    {{#logos}}
      <div class="g-services--footer g-font--medium g-bt--1 g-bc--gray11  g-p--15  mt-auto d-lg-flex align-items-center justify-content-center {{textClass}}">
        <span class="g-font--12 g-font-lg--16 g-font--medium g-c--gray13 g-mr--15 d-block g-mb--10 g-mb-lg--0">Pago 100% seguro</span>
        <span class=" g-px--5 "><img class="h-px--3" src="../../images/banks/visa.svg" alt=""></span>
        <span class=" g-px--5 "><img class="h-px--3" src="../../images/banks/master-card.svg" alt=""></span>
        <span class=" g-px--5 "><img class="h-px--3" src="../../images/banks/american-express.svg" alt=""></span>
        <span class=" g-px--5 "><img class="h-px--3" src="../../images/banks/dinners-club.svg" alt=""></span>
      </div>
    {{/logos}}

</div>
</div>

