<div class="{{cardInfoClass}}">

  {{#cardContent1}}
    <div class="g-bb--1 g-bb-lg--0 g-bc--gray12">
      <div class="{{cardContent1Class}}">
        <span class="{{iconFile}} {{iconClass}}"></span>
        <div class="{{textClass}}">{{{text}}}</div>
      </div>
    </div>
  {{/cardContent1}}

  {{#cardContent2}}
    <div class="g-bl-lg--1 g-bb--1 g-bb-lg--0 g-bc--gray12">

      <div class="{{cardContent2Class}}">
        {{#cardContentItem}}
          <div class="d-flex {{addClass}}">

            <div class="{{itemClass}}">
              <span class="{{iconClass}} {{iconFile}}"></span>
              <div class="{{textClass}}">{{{text}}}</div>
            </div>

            {{#text2}}
              <div class="{{text2Class}}">
                {{text2}}
              </div>
            {{/text2}}

          </div>
        {{/cardContentItem}}

      </div>

    </div>
  {{/cardContent2}}

  {{#cardContent3}}
    <div class="g-bl-lg--1 g-bc--gray12 g-ie-flex--0-1-auto w-100">

      <div class="{{cardContent3Class}}">
        {{#cardContentItem}}
          <div class="d-flex {{addClass}}">

            <div class="{{itemClass}}">
              <span class="{{iconClass}} {{iconFile}}"></span>
            </div>

            <div class="{{itemTextClass}}">
              <div class="{{textClass}}">{{{text}}}</div>
              <div class="{{text2Class}}">{{{text2}}}</div>
            </div>

          </div>
        {{/cardContentItem}}
      </div>

    </div>
  {{/cardContent3}}

</div>