<mf-modal
  [title]="lang.Titles.DownLoadFiles"
  [titleMobile]="lang.Titles.DownLoadFiles"
  [confirm]="false">

  <div class="g-p--20 g-p-md--40">
    <div class="g-font--medium g-pb-md--20">
      {{ lang.Messages.DownLoadFiles }}
    </div>
    <div class="g-pb--20 d-flex flex-md-row flex-column flex-wrap" *ngIf="fileList && fileList.length">
      <div *ngFor="let file of fileList; let i = index"
        class="align-items-center d-flex w-10 w-md-50 g-bt--1 g-bb--1 g-bc--gray21 g-py--10 g-px--15 g-mt-minus--1 g-mh--8 g-ie-flex--0-1-auto">
        <span
          [spinnerPdf]="file.loading"
          [iconPDF]="downloadIcon"
          (click)="downLoad(file)">
        </span>
        <div class="g-pl--10 w-10 text-truncate g-pr--5">
          <div class="g-font--light g-c--gray2 d-flex">
            <div class="w-10 text-truncate" [title]="file.nombreDocumento ">{{ file.nombreDocumento }}</div>
            <div class="g-pl--10"> ({{ file.peso }} {{ unit }})</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</mf-modal>
