<div class="g-mt--25 g-mt-lg--50">

  <client-form-base
    [btnConfirm]="btnSend"
    [btnCancel]="btnBack"
    [disableConfirm]="disableButtonSend"
    [showActions]="showActions"
    [size]="'xs'"
    (actionCancel)="actionCancel()"
    (actionConfirm)="actionConfirm()">

    <div class="g-p--10 g-p-md--20">

      <!-- Formulario -->
      <div class="row justify-content-md-center mb-xs--1">

        <div class="g-px--25 g-px-lg--50 text-center g-my--10" *ngIf="showTitle">
          <span class="g-message--primary g-font--medium g-mb--10 text-uppercase">{{ title }}</span>
          <div class="">
            <div class="g-message--secondary g-font--light" [innerHTML]="message"></div>
          </div>
        </div>

        <div class="col col-12 col-lg-10">
          <client-form-contacted-by-agent
            [contactData]="contactData"
            [isModal]="true"
            (doSuccess)="doSuccess()"
            (showError)="showError($event)"
            (enableButton)="enableButton($event)">
          </client-form-contacted-by-agent>
        </div>
      </div>

      <!-- Botón Aceptar, luego de Send -->
      <ng-container footer *ngIf="!showActions">
        <div class="d-flex">
          <button mf-button
            [disabled]="disableButtonSend"
            [ngClass]="'size-md g-btn--default'"
            (click)="onConfirm()">
            {{ btnConfirm }}
          </button>
        </div>
      </ng-container>

    </div>
  </client-form-base>

</div>
