<div class="sect-container g-mx-n--15" [ngClass]="{ 'g-pr-lg--375' : !fullMap }">

    <client-google-map-my-service
      [endPosition]="endMarker"
      [fullMap]="fullMap">
    </client-google-map-my-service>

    <client-services-detail
      [show]="true"
      [header]="header"
      [data]="data">
    </client-services-detail>

  </div>
