<ng-container *ngIf="actionItems || buttonsLink">
  <mf-card>
    <mf-card-content>

      <div class="g-items-text g-font--20 g-font-md--18 g-text-uppercase text-center g-font--medium pt-xs--2 pb-xs--2 pt-md-3 pb-md-3">
        {{ titleWhatDoYouWantToDo }}
      </div>

      <!-- Iconos -->
       <ng-container *ngIf="!isPPFM">
        <div class="d-flex justify-content-center" *ngIf="!hideIcons">
          <div class="d-flex g-ie-flex--0-1-auto g-vfw--auto pb-2 pb-lg-0">
            <div *ngFor="let item of actionItems | slice:0:4" class="w-px--15 mx-3 my-2 pt-md-4 pb-md-5 bd-highlight">
              <client-action-item [actionItem]="item" (extraAction)="doExtraAction($event)"></client-action-item>
            </div>
            <div *ngIf="showAllService" class="w-px--15 mx-3 my-2 pt-md-4 pb-md-5 bd-highlight">
              <client-action-item [actionItem]="{ llave:'ALL_SERVICES', titulo: labelAllMyServices }"></client-action-item>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Links -->
      <div class="mx-3 mx-lg-0 mt-4 mt-lg-0">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-4 pb-xs--1" *ngFor="let button of buttonsLink">

            <ng-container *ngIf="!button.external; else externalLink">
              <mf-button-link *ngIf="!button.openModal && (button.route || button.routeByType)"
                [route]="setLink(button)" [description]="button.description"
                ctrl="linkViewMoreServices" (domChange)="onDomChange($event, { label: button.description })"></mf-button-link>
              <mf-button-link *ngIf="button.openModal" (click)="openModal()" [description]="button.description"
                ctrl="linkViewMoreServices" (domChange)="onDomChange($event, { label: button.description })"></mf-button-link>
            </ng-container>

            <ng-template #externalLink>
              <a [href]="button.route" target="_blank" rel="nofollow"
                ctrl="linkViewMoreServices" (domChange)="onDomChange($event, { label: button.description })">
                <mf-button-link [description]="button.description"></mf-button-link>
              </a>
            </ng-template>

          </div>
        </div>
      </div>
    </mf-card-content>
  </mf-card>
</ng-container>

<!-- Modal para comparar pólizas -->
<client-compare-policy *ngIf="openModalSelect"
  [policyType]="policyType">
</client-compare-policy>

<!-- Modal para numeros de viajes -->
<mf-modal
  *ngIf=openModalEmergencyPhones
  [title]="requestAssistanceTitle"
  [titleMobile]="policyTypes.MD_VIAJES.title"
  [secondTitleMobile]="requestAssistanceTitle">
  <div class="g-pt--20">
    <strong>{{ landingTravel.sections[0].nameSectionBody }}</strong>
  </div>
  <client-travel-emergency-phones></client-travel-emergency-phones>
</mf-modal>
