<div
  [ngClass]="{'g-box--shadow1': hasBorder, 'g-my--25 g-b-radius--5': marginTop, 'g-mb--25': !marginTop}"
  class="g-bg-c--white1 d-flex flex-column w-100">
  <div [class]="marginCard">
    <div class="d-md-flex justify-content-between">
      <div
        [ngClass]="{'h-opacity--00': isHeaderLabelsVisible}"
        *ngIf="textBold"
        class="paginator__labels w-10 d-sm-flex align-items-center g-pt--15 g-pb--10 g-pb-lg--0 g-pt-lg--0 g-px--20 g-px-lg--0 g-bb--1 g-bb-md--0"
      >
        <div class="g-font--medium g-font-lg--20 text-uppercase">
          {{ textBold }}
        </div>
        <div class="d-none d-sm-block g-mx--5">- </div>
        <div class="text-lowercase g-font--light g-font-lg--16">
          {{ total || 0 }} {{ ((total || 0) != 1? labelPlural : labelSingular) || '' }}
        </div>
      </div>
      <div
        [ngClass]="{'h-opacity--0': !isHeaderLabelsVisible}"
        *ngIf="!textBold"
        class="paginator__labels text-capitalize d-sm-flex"
      >
        <div class="g-font--medium">
          {{ total || 0 }}
        </div> <div class="d-none d-sm-block g-mx--5">-</div>
        <div class="">
          {{ ((total || 0) != 1? labelPlural : labelSingular) || '' }}
        </div>
      </div>
      <div
        class="d-flex g-px--20 g-px-lg--0 g-py--10 g-py-lg--0 g-ie-flex--0-1-auto"
        [ngClass]="{ 'g-font-lg--16': textBold }"
        *ngIf="autoHide? perPageList && perPageList.length && (total || 0) > perPageList[0]: true">
        <div class="text-right g-c--gray18">{{ lang.Show }}:</div>
        <div class="d-flex">
          <div class="g-ml--5" *ngFor="let perPage of perPageList; let first = first; let last = last">
            <span
              (click)="itemsPerPageFn(perPage)"
              class="g-c--pointer"
              [ngClass]="getClassPerPage(perPage, last)">{{ perPage }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="g-mt-lg--20">
      <ng-content></ng-content>
    </div>

    <div class="g-mt--15 text-center">
      <pagination-controls
        [maxSize]="maxSize"
        previousLabel=""
        nextLabel=""
        [autoHide]="autoHide"
        [responsive]="false"
        (pageChange)="pageFn($event)">
      </pagination-controls>
    </div>
  </div>
</div>
