<div class="g-bg-c--white1 g-p--20 g-p-lg--25  g-box--shadow1 g-b-radius--5">

  <div class="g-font--18 g-font-md--24 g-text--uppercase g-font--medium  g-mb--20 ">
    {{title}}
  </div>

  <div class="g-tab--hrz">
    <ul class="tab-header">
      <li class="on d-flex justify-content-between align-items-center" #t1>
        <a>{{txt-tab1}}</a>
        <div class="icon-mapfre_055_card g-font--30  g-pl--10 "></div>
      </li>
      <li class="d-flex justify-content-between align-items-center" #t2>
        <a>{{txt-tab2}}</a>
        <div class="icon-mapfre_055_wallet g-font--30  g-pl--10 "></div>
      </li>
    </ul>
    <div class="tab-container">
      <div class="tab-content on">
        {{#content-1}}
          {{>organisms-type-card}}
        {{/content-1}}
      </div>
      <div class="tab-content">
        {{#content-2}}
          {{>organisms-bank-payment}}
        {{/content-2}}
      </div>
    </div>
  </div>

</div>