<div class="g-box--shadow1 g-bg-c--white1 g-b-radius--5  g-my--15 ">
  {{#card}}
    {{>molecules-header-box}}
  {{/card}}

  <div class="d-flex w-100 g-b-radius--5 flex-wrap flex-lg-nowrap g-bt--1">
    {{#tab}}
      {{>organisms-card-box-tab}}
    {{/tab}}
  </div>
</div>
