<!-- Mensaje -->
<div class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 g-max-w-md--60 mr-auto">

  <div class="d-flex align-items-center justify-content-center flex-wrap g-pt--30 g-p-md--40">

    <!-- Icono -->
    <div class="g-mb--20 ">
      <img [src]="content.icon" alt="icon"/>
    </div>

    <!-- Texto -->
    <div class="justify-content-md-center w-10">
      <div class="text-center w-10">
        <div class="g-font--medium g-font--16 g-font-md--20 g-text--uppercase g-px--15 g-px-lg--0">{{ content.title }}</div>

        <div class="w-px--24 w-px-sm--35 w-lg-auto mx-auto g-pt--10 g-c--gray2 g-mb--10 text-center">
          <span class="g-font--light" [innerHTML]="content.content"></span>
        </div>

        <div class="g-mx--15 g-mx-lg--0">
          <div class="g-bl--1 g-br--1 g-b-radius-t--5 g-font--13 g-font-md--14">

            <!-- Declaracion -->
            <div class="w-10 g-py--12 g-bt--1" *ngIf="content.amountText">
              <div class="g-font--light text-center g-text--uppercase">{{ content.amountLabel }}</div>
              <div class="g-font--medium">{{ content.amountText }}</div>
            </div>

            <!-- Trabajadores -->
            <div class="w-10 g-py--12 g-bt--1" *ngIf="content.emailText">
              <div class="g-font--light g-text--uppercase">{{ content.emailLabel }}</div>
              <div class="g-font--medium">{{ content.emailText }}</div>
            </div>

            <!-- Fecha de operacion -->
            <div class="w-10 g-py--12 g-bt--1 g-bb--1" *ngIf="content.dateText">
              <div class="g-font--light text-center g-text--uppercase">{{ content.dateLabel }}</div>
              <div class="g-font--medium">{{ content.dateText }}</div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Continuar -->
  <div class="d-flex g-p--15 g-bt--1 g-bc--gray11 justify-content-center">
    <div class="w-100">
      <div class="g-btn g-text--uppercase g-btn-primary w-10 d-block g-max-w--24 mx-auto g-c--pointer" (click)="goToAction()">
        {{ content.button }}
      </div>
    </div>
  </div>
</div>
