<mf-card>
  <mf-card-header [header]="lang.Title" [collapsed]="collapse" (expand)="collapse = $event"></mf-card-header>
  <div [collapse]="collapse" (collapse-mobile)="collapse = $event">
    <mf-card-content dropdown-close>
      <mf-card-item *ngFor="let item of items; let index = index" [class]="!item.collapse ? 'g-ie-mh--inherit' : ''">
        <client-item-request
          [item]="item"
          [numberLabel]="numberLabel"
          (viewDetail)="viewDetailFn($event)"
          (collapse)="collapseFn(index)"
          [ga]="ga"
        >
          <client-card-timeline [steps]="item.steps"></client-card-timeline>
        </client-item-request>
      </mf-card-item>
      <client-item-not-found
        [imageTop]="false"
        [show]="!items || (items && !items.length)"
        [icon]="icon"
        [title]="textNotFoundProcess"
      >
      </client-item-not-found>
    </mf-card-content>
  </div>
</mf-card>
