<div class="sect-container g-height--full g-mx-n--15">
  <!--Begin: Title-->
  <ng-container *ngIf="load; else loading">
    <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
      <div class="">
        <div class="g-max-w-md--760 g-max-w-lg--690 mx-auto my-md-5 p-0">
          <div class="d-flex">
            <div class="ml-auto">
              <div
                class="tag--icon justify-content-center align-items-center d-none d-lg-flex g-bg-c--gray2 g-c--white1 mt-4 pl-2"
              >
                <span class="icon-mapfre_014_perfil g-font--42"></span>
              </div>
            </div>
            <div
              [ngClass]="{ 'g-full-form--load': showLoading }"
              class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 g-max-w-md--60 mr-auto"
            >
              <div class="g-p--15 g-px-md--60 g-pt-md--40 g-pb-md--15">
                <div class="g-font--18 g-font-md--20 g-text--uppercase g-font--medium">
                  {{ langTitle }}
                </div>
                <div class="row">
                  <div class="col-12 mb-4">
                    <mf-custom-alert [status]="warningStatus" [text]="langMessage"></mf-custom-alert>

                    <div class="row">
                      <div class="col-sm col-sm-6">
                        <mf-input
                          [label]="langFormLNames"
                          [formControl]="names"
                          [maxlength]="generalMaxLength.name"
                          [dontWhiteSpace]="true"
                          [pattern]="nameRegExp"
                          [error]="showErrors(names)"
                        ></mf-input>
                        <mf-show-errors [control]="names"></mf-show-errors>
                      </div>

                      <div class="col-sm col-sm-6">
                        <mf-input
                          [label]="langFormLLastNameFather"
                          [formControl]="lastNameFather"
                          [maxlength]="generalMaxLength.last_name_father"
                          [dontWhiteSpace]="true"
                          [pattern]="lastnameRegExp"
                          [error]="showErrors(lastNameFather)"
                        ></mf-input>
                        <mf-show-errors [control]="lastNameFather"></mf-show-errors>
                      </div>

                      <div class="col-sm col-sm-6">
                        <mf-input
                          [label]="langFormLLastNameMother"
                          [formControl]="lastNameMother"
                          [maxlength]="generalMaxLength.last_name_mother"
                          [dontWhiteSpace]="true"
                          [pattern]="lastnameRegExp"
                          [error]="showErrors(lastNameMother)"
                        ></mf-input>
                        <mf-show-errors [control]="lastNameMother"></mf-show-errors>
                      </div>

                      <div class="col-sm col-sm-6">
                        <mf-input-datepicker
                          [label]="langFormLDateOfBirth"
                          [maxD]="limitBirthDay"
                          [error]="showErrors(dateOfBirth)"
                          [formControl]="dateOfBirth"
                        ></mf-input-datepicker>
                        <mf-show-errors [control]="dateOfBirth"></mf-show-errors>
                      </div>

                      <div class="col-sm col-sm-6">
                        <mf-select
                          [label]="langFormLTypeDocument"
                          (change)="eventChangedDocument($event)"
                          [formControl]="typeDocument"
                          [options]="arrTypesDocuments"
                          [error]="showErrors(typeDocument)"
                        ></mf-select>
                        <mf-show-errors [control]="typeDocument"></mf-show-errors>
                      </div>

                      <ng-container *ngIf="changedNumberDocument">
                        <div class="col-sm col-sm-6">
                          <mf-input
                            [label]="langFormLNumberDocument"
                            [formControl]="numberDocument"
                            (keyup)="eventChangedNumberDocument($event)"
                            [maxlength]="maxLength"
                            [minlength]="minLength"
                            [error]="showErrors(numberDocument)"
                          ></mf-input>
                          <mf-show-errors [control]="numberDocument"></mf-show-errors>
                          <span *ngIf="isSameDocumentNumber && isChangeDocumentNumber" class="txt-error"
                            >El documento ingresado coincide con el contratante.</span
                          >
                        </div>
                      </ng-container>
                      <ng-container *ngIf="!changedNumberDocument">
                        <div class="col-sm col-sm-6">
                          <mf-input [label]="langFormLNumberDocument"></mf-input>
                        </div>
                      </ng-container>

                      <div class="col-sm col-sm-6">
                        <mf-select
                          [label]="langFormLLRelation"
                          [formControl]="relation"
                          [options]="arrRelation"
                          [error]="showErrors(relation)"
                        ></mf-select>
                        <mf-show-errors [control]="relation"></mf-show-errors>
                      </div>

                      <div class="col-sm col-sm-6">
                        <mf-input
                          [Number]="true"
                          [label]="langFormLPhone"
                          [formControl]="phone"
                          [type]="'tel'"
                          minlength="9"
                          [maxlength]="generalMaxLength.cellPhone"
                          [error]="showErrors(phone)"
                        ></mf-input>
                        <mf-show-errors [control]="phone"></mf-show-errors>
                      </div>

                      <div class="col-sm col-sm-6">
                        <mf-input
                          [label]="langFormLEmail"
                          [formControl]="email"
                          [maxlength]="generalMaxLength.email"
                          type="email"
                          [error]="showErrors(email)"
                        ></mf-input>
                        <mf-show-errors [control]="email"></mf-show-errors>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 g-bt--1">
                <div class="row g-py--10 g-py-md--15 g-px-md--20">
                  <div class="col-6 text-center">
                    <button
                      mf-button
                      outline
                      class="g-btn--80 px-0"
                      (click)="cancel()"
                      gaClick
                      [gaCategory]="gaCancel.category"
                      [gaAction]="gaCancel.action"
                      [gaLabel]="gaCancel.label"
                    >
                      {{ langFormBCancel }}
                    </button>
                  </div>
                  <div class="col-6 text-center">
                    <button
                      mf-button
                      type="submit"
                      [disabled]="arrayChangeData?.length === 0 || form?.invalid"
                      class="g-btn--80 px-0"
                      gaClick
                      [gaCategory]="gaSubmit.category"
                      [gaAction]="gaSubmit.action"
                      [gaLabel]="gaSubmit.label"
                    >
                      {{ langFormBSubmit }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-container>
  <!-- Loading -->
  <ng-template #loading>
    <mf-loader-full-screen></mf-loader-full-screen>
  </ng-template>
</div>
<mf-modal-message
  [confirmButtonText]="btnConfirm"
  [success]="false"
  [messageDone]="titleAlert"
  [messageSuccessUpdate]="messageAlert"
></mf-modal-message>
