<div class="g-min-full g-shadow--line g-mx-n--15 g-mx-md--0 g-bg-c--white1 g-bg-c-md--gray11">
  <div class="g-my-md--40 w-100 g-max-w-md--570 mx-auto">
    <div class="g-bg-c--white1 g-shadow--line g-shadow-md--none g-b-radius-md--5 w-100 g-max-w-md--60 mr-auto">
      <div class="g-p--20 g-p-lg--40">
        <div class="text-center">
          <img src="assets/images/services/icom-cita-agendada.svg" alt="" />
          <p class="g-font--20 g-pt--20 g-pb--10">{{ title }}</p>
          <p class="g-font--light">
            {{ covidIsActive ? graLng?.Texts?.AppointmentSuccessSubTitleCovid1 : graLng?.Texts?.AppointmentSuccessSubTitle1}}
          </p>
          <div class="g-mx--15 g-mx-lg--0">
            <div class="g-b--1 g-b-radius-t--5 g-font--13 g-font-md--14">
              <div class="w-10 g-py--15">
                <div class="g-font--light">{{ graLng?.Texts?.AppointmentSuccessSubTitle2 }}</div>
                <div class="g-font--medium">{{ currentUser?.emailCliente }}</div>
              </div>
            </div>
          </div>
          <div class="g-mt--15 g-mb--0" [ngClass]="{'g-ml--25 text-left' : tipoCita === typeAppoiment.VIRTUAL}" [innerHTML]="recommendationText"></div>
        </div>
      </div>
      <div class="d-flex g-p--15 g-bt--1 g-bc--gray11 justify-content-center">
        <div class="w-100">
          <button
            mf-button
            [ngClass]="'d-block w-100 g-max-w--24 mx-auto g-btn'"
            (click)="goToAppointments()"
          >
            {{ graLng?.Buttons?.goToListAppointment }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
